Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix: add modularity_fix to atomic __init__.py imports
  src/body/atomic/__init__.py
Labels: feat, fix

fix: remove duplicate path header from fix_actions.py after split
  src/body/atomic/fix_actions.py
Labels: feat, fix

feat: complete Step 3 — 100% rule coverage, coverage.py display fix
  .intent/enforcement/mappings/cli/interface_design.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/governance/traceability_matrix.json
  reports/pytest-report.html
  src/cli/resources/admin/coverage.py
Labels: feat, fix, governance

fix(file-audit): autonomous remediation in src/body/workers/violation_remediator.py
  .claude/.nfs00000000001a034400000001
  .claude/settings.json
  .intent/workers/violation_executor.yaml
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
  src/cli/resources/workers/remediate.py
Labels: feat, fix, governance

fix: restore em dashes corrupted by _sanitize, remove _sanitize from code path
  src/body/workers/violation_remediator.py
Labels: feat, fix

fix: remove redundant _sanitize from violation_remediator
  src/body/workers/violation_remediator.py
Labels: feat, fix

feat: file-mode autonomous remediation pipeline
  .claude/settings.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

fix: enable autonomous remediation for CLI files
  src/shared/self_healing/remediation_interpretation/file_context_assembler.py
  src/shared/self_healing/remediation_interpretation/strategy_catalog.py
Labels: feat, fix

fix: wire fix.modularity to SplitPlan+ModularitySplitter; pass file_path through dispatch
  src/body/atomic/modularity_fix.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

feat: align staged crate file before Canary (black + ruff)
  src/body/workers/violation_remediator.py
Labels: feat, fix

feat: defer to atomic action when rule has active remediation mapping
  src/body/workers/violation_remediator.py
Labels: feat, fix

docs: add vocabulary index — Layer A concepts and Layer B CORE implementations
  .claude/.nfs00000000001a034400000001
  .claude/settings.json
  .claude/settings.local.json
  .intent/papers/CORE-Vocabulary.md
  docs/vocabulary.md
  mkdocs.yml
  reports/pytest-report.html
Labels: docs, governance

docs: add vocabulary index — terms, definitions, authoritative sources
  docs/index.md
Labels: docs

docs: resolve all paper references in vocabulary, add IntentRepository and Logic evaporation
  .intent/papers/CORE-ConstitutionalEnvelope.md
  .intent/papers/CORE-Crate.md
  .intent/papers/CORE-Gate.md
  .intent/papers/CORE-Remediation.md
  .intent/papers/CORE-Vocabulary.md
  docs/vocabulary.md
  reports/pytest-report.html
Labels: docs, governance

docs: complete vocabulary index and technical papers for all CORE concepts
  .intent/papers/CORE-Action.md
  .intent/papers/CORE-Blackboard.md
  .intent/papers/CORE-Canary.md
  .intent/papers/CORE-ConservationGate.md
  .intent/papers/CORE-ConstitutionalEnvelope.md
  .intent/papers/CORE-ConsumerWorker.md
  .intent/papers/CORE-Finding.md
  .intent/papers/CORE-IntentGuard.md
  .intent/papers/CORE-IntentRepository.md
  .intent/papers/CORE-Proposal.md
  .intent/papers/CORE-RemediationMap.md
  .intent/papers/CORE-RemediatorWorker.md
  .intent/papers/CORE-Rule-Canonical-Form.md
  .intent/papers/CORE-ShopManager.md
  .intent/papers/CORE-ViolationExecutor.md
  .intent/papers/CORE-ViolationSensor.md
  .intent/papers/CORE-Vocabulary.md
  .intent/papers/CORE-Workers-and-Governance-Model.md
  docs/vocabulary.md
Labels: docs, governance

docs: fix all review findings — phase count, non-goals, contradictions, vocabulary gaps
  .intent/papers/CORE-Constitution-Read-Only-Contract.md
  .intent/papers/CORE-Constitutional-Foundations.md
  .intent/papers/CORE-Deliberate-Non-Goals.md
  .intent/papers/CORE-Emergency-and-Exception-Stance.md
  .intent/papers/CORE-Evidence-as-Input.md
  .intent/papers/CORE-Mind-Body-Will-Separation.md
  .intent/papers/CORE-Rule-Conflict-Semantics.md
  .intent/papers/CORE-Rule-Storage-Minimalism.md
  .intent/papers/CORE-Vocabulary.md
Labels: governance

governance: reshape audit sensors and eliminate false positives
  .intent/enforcement/mappings/architecture/core_safety.yaml
  .intent/enforcement/mappings/architecture/modularity.yaml
  .intent/enforcement/mappings/code/modularity.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/core_safety.json
  .intent/rules/architecture/governance_basics.json
  .intent/rules/architecture/modularity.json
  .intent/rules/code/modularity.json
  docs/vocabulary.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
Labels: feat, fix, docs, governance

fix(audit): correct classifier false positives and sanctuary exclusions
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
  src/shared/infrastructure/git_service.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix, governance

chore(tests): remove 24 orphaned tests for archived modules
  .claude/.nfs00000000001a653e00000001
  .claude/settings.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/cli/commands/check/audit.py
  src/cli/commands/interactive_test.py
  src/cli/interactive.py
  src/cli/logic/interactive_test/ui.py
  src/cli/resources/admin/summary.py
  src/will/cli_logic/reviewer.py
  tests/body/evaluators/test_clarity_evaluator__ClarityEvaluator.py
  tests/mind/governance/test_enforcement_methods__EnforcementMethod.py
  tests/mind/governance/test_enforcement_methods__RuleEnforcementCheck.py
  tests/mind/governance/test_policy_analyzer__AtomicRule.py
  tests/mind/governance/test_policy_analyzer__PolicyAnalysisReport.py
  tests/mind/governance/test_policy_analyzer__format_analysis_report.py
  tests/mind/governance/test_policy_gate__ActionStep.py
  tests/mind/governance/test_policy_gate__MicroProposalPolicy.py
  tests/mind/governance/test_policy_loader__load_available_actions.py
  tests/mind/governance/test_policy_resolver__resolve_policy.py
  tests/mind/governance/test_schemas__ConstitutionalPrinciple.py
  tests/mind/governance/test_schemas__GovernanceRegistry.py
  tests/mind/governance/test_schemas__PatternResource.py
  tests/mind/governance/test_schemas__PolicyResource.py
  tests/mind/logic/engines/ast_gate/checks/test_knowledge_source_check__KnowledgeSourceCheck.py
  tests/mind/logic/test_auditor__main.py
  tests/shared/test_legacy_models.py
  tests/shared/test_legacy_models__LegacyCliCommand.py
  tests/shared/test_legacy_models__LegacyCliRegistry.py
  tests/shared/test_legacy_models__LegacyCognitiveRole.py
  tests/shared/test_legacy_models__LegacyCognitiveRoles.py
  tests/shared/test_legacy_models__LegacyLlmResource.py
  tests/shared/test_legacy_models__LegacyResourceManifest.py
  tests/shared/utils/test_import_scanner__scan_imports_for_file.py
Labels: feat, fix, test

feat(tests): close the autonomous test loop — CORE now writes and governs its own tests
  .claude/.nfs00000000001a653e00000001
  .claude/settings.json
  .intent/workers/test_runner_sensor.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/atomic/__init__.py
  src/body/atomic/build_tests_action.py
  src/cli/logic/interactive_test/ui.py
  src/shared/ai/prompt_model.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/test_runner_sensor.py
  tests/shared/utils/embedding_utils/test_generated.py
Labels: feat, fix, test, governance

fix: close Phase 1 blockers — proposal write mode + execute_batch consequence logging
  .intent/workers/proposal_worker.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/will/autonomy/proposal_executor.py
Labels: feat, fix, governance

chore: pause all workers except audit_sensor_purity for Phase 1 single-loop test
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/blackboard_auditor.yaml
  .intent/workers/doc_writer.yaml
  .intent/workers/observer_worker.yaml
  .intent/workers/proposal_consumer_worker.yaml
  .intent/workers/repo_crawler.yaml
  .intent/workers/self_healing_agent.yaml
  .intent/workers/test_runner_sensor.yaml
  .intent/workers/violation_executor.yaml
  .intent/workers/violation_remediator.yaml
  .intent/workers/worker_auditor.yaml
Labels: governance

fix: git commit two-pass retry for pre-commit hook compatibility
  .intent/CORE-A3-plan.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/shared/infrastructure/git_service.py
Labels: feat, fix, governance

fix: delete violation_remediator monolith — submodule is the correct target architecture
  .claude/settings.local.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
Labels: feat, fix

chore: Phase 2 complete — all four sensors active, 0 findings, Blackboard clean
  .intent/CORE-A3-plan.md
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
Labels: governance

A3 plan update
  .intent/CORE-A3-plan.md
Labels: governance

chore: cleanup .gitignore.
  .claude/settings.json
  .gitignore
Labels: none

fix(governance): update violation_remediator exclude to submodule path
  .intent/enforcement/mappings/architecture/governance_basics.yaml
Labels: governance

chore(intent): remove stale subprocess violation comment — context_gatherer remediated
  .intent/enforcement/mappings/architecture/governance_basics.yaml
Labels: governance

fix(intent): map runtime-enforced autonomy threshold rules to passive_gate
  .intent/enforcement/mappings/will/autonomy.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: governance

Commit all changes made in this session with message:
  .intent/CORE-A3-plan.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/autonomy/audit_analyzer.py
  src/body/services/blackboard_service.py
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

fix(knowledge-gate): correct orphan_file_check reachable count metric
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix

fix(fix.modularity): close class-methods gap
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/atomic/modularity_fix.py
  src/body/atomic/modularity_splitter.py
Labels: feat, fix

feat: implement ViolationExecutorWorker (Will layer)
  .claude/settings.local.json
  .intent/CORE-A3-plan.md
  .intent/workers/violation_executor.yaml
  .intent/workers/violation_remediator_body.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/services/blackboard_service.py
  src/body/workers/violation_remediator/worker.py
  src/will/workers/violation_executor.py
Labels: feat, fix, governance

fix: fix.modularity class-methods gap in ModularitySplitter
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/atomic/modularity_splitter.py
Labels: feat, fix

fix: ensure action_executor on CoreContext in ViolationExecutorWorker
  .claude/settings.json
  .claude/settings.local.json
  .intent/CORE-A3-plan.md
  .intent/workers/violation_remediator_body.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/mind/governance/enforcement_methods.py
  src/will/workers/violation_executor.py
Labels: feat, fix, governance

test: remove ViolationExecutor live test violation
  src/mind/governance/enforcement_methods.py
Labels: feat, fix

fix: pass caller_uuid to ViolationRemediator when invoked as delegate
  .claude/settings.json
  .intent/CORE-A3-plan.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/workers/violation_remediator/worker.py
  src/will/workers/violation_executor.py
Labels: feat, fix, governance

chore: A3 plan update
  .intent/CORE-A3-plan.md
Labels: governance

feat: close sensor gap for style.import_order and layout.src_module_header
  .intent/enforcement/mappings/code/layout.yaml
  .intent/enforcement/mappings/code/style.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/code/layout.json
  .intent/rules/code/style.json
  .intent/workers/audit_sensor_layout.yaml
  .intent/workers/audit_sensor_style.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/governance/traceability_matrix.json
  reports/pytest-report.html
  src/cli/logic/governance/forensics_service.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix, governance
