Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(intent,tests): dead_shim_sensor declaration passes worker schema; pin subject prefix literal
  .intent/workers/dead_shim_sensor.yaml
  tests/will/workers/test_dead_shim_sensor.py
Labels: test, governance

refactor(cli): reap sync_manifest — the dead-shim reaper's first catch (ADR-151)
  src/cli/logic/sync_manifest.py
Labels: feat, fix

docs(readme): rule count 252 → 253 — modernization.dead_shim (ADR-151)
  README.md
  docs/how-it-works.md
Labels: docs

fix(body): mypy — Result.rowcount via getattr in sync engine state stat (ADR-151)
  src/body/introspection/sync/engine.py
Labels: feat, fix

fix(will): add canonical resolver-classification block to dead_shim_sensor docstring
  src/will/workers/dead_shim_sensor.py
Labels: feat, fix

fix(body): correct pg_inherits column name in log.archive_partitions
  src/body/atomic/log_actions.py
Labels: feat, fix

fix(mind): anchor pytest-error regex and kill orphaned subprocess on gate timeout
  src/mind/logic/engines/workflow_gate/checks/quality.py
  tests/mind/logic/engines/workflow_gate/checks/test_quality__per_file_emission.py
Labels: feat, fix, test

feat(will,body): extend ADR-127 clean-pass drain to Type-B abandoned findings
  .specs/decisions/ADR-127-indeterminate-clean-pass-drain.md
  src/body/services/blackboard_service/blackboard_service.py
  src/will/workers/audit_violation_sensor.py
  tests/body/services/blackboard_service/blackboard_service/test_adjudicate_abandoned.py
Labels: feat, fix, test

feat(mind,intent): wire ADR-049 D3 via generalized governed_exclusions (ADR-152)
  .intent/META/enforcement_mapping.schema.json
  .intent/enforcement/mappings/governance/exemption_debt.yaml
  .intent/rules/governance/exemption_debt.json
  .specs/decisions/ADR-152-exemption-schema.md
  src/mind/logic/engines/taxonomy_gate.py
  tests/mind/logic/engines/test_taxonomy_gate__exemption_debt.py
Labels: feat, fix, test, governance

governance(adr): accept ADR-152 status flip, accept ADR-153 — remediation ceremony extraction
  .specs/decisions/ADR-152-exemption-schema.md
  .specs/decisions/ADR-153-remediation-ceremony-extraction.md
Labels: none

fix(intent): close governance-completeness gaps from ADR-152
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  src/will/autonomy/proposal_consumer_effects.py
  src/will/autonomy/proposal_consumer_revival.py
Labels: feat, fix, governance

refactor(will): extract proposal_consumer_effects/revival out of will/workers/ (#793)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/will/workers/proposal_consumer_worker.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/will/workers/proposal_consumer_effects/test_generated.py
  tests/will/workers/test_proposal_consumer_release.py
  tests/will/workers/test_proposal_consumer_revival_cap.py
  tests/will/workers/test_proposal_pipeline_shop_manager_retire.py
Labels: feat, fix, test, governance

refactor(will): extract remaining four #793 helper modules out of will/workers/
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/will/audit_violation/__init__.py
  src/will/audit_violation/filter.py
  src/will/audit_violation/normalizer.py
  src/will/autonomy/circuit_breaker.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/autonomy/violation_remediator_proposal.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/violation_remediator.py
  tests/will/workers/audit_violation_filter/test_generated.py
  tests/will/workers/audit_violation_normalizer/test_generated.py
  tests/will/workers/audit_violation_normalizer/test_normalize_audit_findings.py
  tests/will/workers/circuit_breaker/test_generated.py
  tests/will/workers/test_circuit_breaker_count.py
  tests/will/workers/test_circuit_breaker_signature.py
  tests/will/workers/violation_remediator_blackboard/test_generated.py
Labels: feat, fix, test, governance

refactor(will): extract remediation ceremony to will/remediation/ (ADR-153)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/cli/resources/workers/remediate.py
  src/will/remediation/__init__.py
  src/will/remediation/_host.py
  src/will/remediation/blackboard.py
  src/will/remediation/ceremony.py
  src/will/remediation/context.py
  src/will/remediation/crate_canary.py
  src/will/remediation/llm.py
  src/will/remediation/models.py
  src/will/workers/violation_executor.py
  src/will/workers/violation_remediator_body/_host.py
  src/will/workers/violation_remediator_body/blackboard.py
  src/will/workers/violation_remediator_body/worker.py
  tests/cli/resources/workers/test_remediate_file_mode.py
  tests/will/remediation/__init__.py
  tests/will/remediation/context/__init__.py
  tests/will/remediation/context/test_generated.py
  tests/will/remediation/crate_canary/__init__.py
  tests/will/remediation/crate_canary/test_generated.py
  tests/will/remediation/models/__init__.py
  tests/will/remediation/models/test_generated.py
Labels: feat, fix, test, governance

feat(governance): consequence_source marker + degraded-evidence check (ADR-148 D7, #790)
  .intent/enforcement/contracts/ProposalConsequence.json
  .intent/enforcement/mappings/governance/finalization_integrity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/governance/consequence_evidence_degraded.json
  .specs/decisions/ADR-148-proposal-finalization-barrier.md
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260717_adr148_d7_consequence_source.sql
  schema.sql
  src/body/services/consequence_log_service.py
  src/body/services/proposal_supervision_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/workers/commit_authorship_audit_worker.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/body/services/test_proposal_supervision_service_evidence_degraded.py
  tests/will/workers/test_commit_authorship_audit_worker_evidence_degraded.py
  tests/will/workers/test_proposal_pipeline_shop_manager_roll_forward.py
Labels: feat, fix, test, governance

fix(api): gate real-mutation POST routes with require_governor (#808, #770)
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/integration_routes.py
  src/api/v1/lane_routes.py
  src/api/v1/project_routes.py
  src/api/v1/quality_routes.py
  tests/api/v1/test_audit_routes.py
  tests/api/v1/test_census_routes.py
  tests/api/v1/test_coverage_routes.py
  tests/api/v1/test_integration_routes.py
  tests/api/v1/test_lane_routes.py
  tests/api/v1/test_project_routes.py
  tests/api/v1/test_quality_routes.py
Labels: feat, fix, test

feat(governance): INTENTIONALLY_UNGATED route marker (ADR-132 D9, #808)
  .specs/decisions/ADR-132-governor-authentication-boundary.md
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/lint_routes.py
  src/api/v1/quality_routes.py
  src/api/v1/vectors_routes.py
  src/mind/logic/engines/ast_gate/checks/api_auth_checks.py
  tests/mind/logic/engines/ast_gate/checks/test_api_auth_checks__ApiAuthChecks.py
Labels: feat, fix, test

docs(readme): rule count 253 → 255 — ADR-152 exemption_debt + ADR-148 D7 (#631)
  README.md
  docs/how-it-works.md
Labels: docs

docs(prompts): refresh external-review.md — ADR range, rule count, D9, finalizing
  var/prompts/external-review.md
Labels: none

fix(prompts): resolve self-contradiction in external-review.md's own instructions
  var/prompts/external-review.md
Labels: none

fix(will): commit_proposal_changes no longer discards real production when git_service is absent (#812)
  src/will/autonomy/proposal_execution_pipeline.py
  tests/will/autonomy/test_proposal_commit_outcome.py
Labels: feat, fix, test

fix(will): gate proposal success accounting on lifecycle_status, not ok (#812)
  CLAUDE.md
  src/will/autonomy/proposal_executor.py
  src/will/workers/proposal_consumer_worker.py
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
  tests/will/workers/test_proposal_consumer_worker_lifecycle_gating.py
Labels: feat, fix, test

fix(ci): mypy override for optional ruamel.yaml dep + raw mypy dump on audit failure
  .github/workflows/daily_sync.yml
  pyproject.toml
Labels: ci, deps

fix(coverage): reject write=false instead of silently writing anyway (#809)
  src/api/v1/coverage_routes.py
  src/cli/commands/coverage/generation_commands.py
  src/will/governance/coverage_runner.py
  tests/api/v1/test_coverage_routes.py
  tests/cli/commands/coverage/test_generation_commands.py
  tests/will/governance/test_coverage_runner_write_gate.py
Labels: feat, fix, test

chore(cli): delete 5 orphaned deprecated shims — zero live callers
  src/cli/commands/fix_logging.py
  src/cli/commands/submit.py
  src/cli/logic/body_contracts_checker.py
  src/cli/logic/capability.py
  src/cli/logic/duplicates.py
Labels: feat, fix

chore: retire 2 more dead deprecated shims found while surveying leftovers
  src/will/orchestration/intent_guard.py
Labels: feat, fix

chore: land the pattern_validator/action_types half of 04a6c9d3
  src/shared/action_types.py
  src/will/agents/code_generation/pattern_validator.py
Labels: feat, fix

chore(cli): retire the 2 remaining deprecated inspect aliases
  src/cli/commands/inspect/__init__.py
  src/cli/commands/inspect/analysis.py
  src/cli/commands/inspect/drift.py
Labels: feat, fix

fix(coverage): repair the generation result contract end to end (#813)
  src/cli/commands/coverage/generation_commands.py
  src/will/governance/coverage_runner.py
  src/will/self_healing/batch_remediation_service.py
  src/will/self_healing/coverage_remediation_service.py
  tests/cli/commands/coverage/test_generation_commands.py
  tests/will/governance/test_coverage_runner_result_contract.py
  tests/will/self_healing/test_batch_remediation_service.py
Labels: feat, fix, test

fix(sandbox): close split-brain filesystem context in flow sandboxing (#815)
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/sandbox_lifecycle.py
  src/body/atomic/test_actions.py
  src/will/agents/acceptance/conditions.py
  src/will/agents/test_gen_cognitive_delegate.py
  tests/body/atomic/test_candidate_validate.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/will/agents/test_acceptance_conditions.py
Labels: feat, fix, test, governance

feat(coverage): retire EnhancedTestGenerator for symbol-granular remediation (#814)
  src/api/v1/coverage_routes.py
  src/body/flows/result.py
  src/body/quality/coverage_candidate_selector.py
  src/cli/commands/coverage/generation_commands.py
  src/will/autonomy/proposal_executor.py
  src/will/governance/coverage_runner.py
  src/will/phases/test_generation_phase.py
  src/will/self_healing/batch_remediation_service.py
  src/will/self_healing/coverage_remediation_service.py
  src/will/self_healing/coverage_watcher.py
  src/will/self_healing/single_file_remediation.py
  src/will/self_healing/symbol_coverage_remediation.py
  src/will/self_healing/test_generation/automatic_repair.py
  src/will/self_healing/test_generation/code_extractor.py
  src/will/self_healing/test_generation/context_builder.py
  src/will/self_healing/test_generation/executor.py
  src/will/self_healing/test_generation/failure_parser.py
  src/will/self_healing/test_generation/generation_workflow.py
  src/will/self_healing/test_generation/generator.py
  src/will/self_healing/test_generation/llm_correction.py
  src/will/self_healing/test_generation/repair_workflow.py
  src/will/self_healing/test_generation/single_test_fixer.py
  src/will/self_healing/test_generation/test_extractor.py
  src/will/self_healing/test_generation/test_scorer.py
  src/will/self_healing/test_generation/test_validator.py
  src/will/self_healing/test_generator.py
  tests/api/v1/test_coverage_routes.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/body/quality/test_coverage_candidate_selector.py
  tests/cli/commands/coverage/test_generation_commands.py
  tests/will/governance/test_coverage_runner_result_contract.py
  tests/will/governance/test_coverage_runner_write_gate.py
  tests/will/self_healing/test_batch_remediation_service.py
  tests/will/self_healing/test_symbol_coverage_remediation.py
Labels: feat, fix, test

fix(coverage): close mixed-success propagation leak and false-success CLI reporting
  src/api/v1/coverage_routes.py
  src/cli/commands/coverage/generation_commands.py
  src/will/self_healing/symbol_coverage_remediation.py
  tests/cli/commands/coverage/test_generation_commands.py
  tests/will/self_healing/test_symbol_coverage_remediation.py
Labels: feat, fix, test

fix(coverage): harden source_file path resolution against traversal (#817)
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/will/governance/coverage_runner.py
  src/will/self_healing/symbol_coverage_remediation.py
  tests/shared/infrastructure/intent/test_source_to_test_path_containment.py
  tests/will/governance/test_coverage_runner_path_containment.py
  tests/will/self_healing/test_symbol_coverage_remediation.py
Labels: feat, fix, test

fix(coverage): checkpoint/restore ancestor __init__.py files, move rollback into Body
  src/body/atomic/sandbox_lifecycle.py
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/will/self_healing/symbol_coverage_remediation.py
  tests/will/self_healing/test_symbol_coverage_remediation.py
Labels: feat, fix, test

docs(adr): accept ADR-154 — mutation-lane equivalence; retire RemediationCeremony write-mode
  .specs/decisions/ADR-154-mutation-lane-equivalence.md
Labels: none

docs(intent): drop retired EnhancedTestGenerator lineage from prompt/risk registries
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/config/governed_prompts.yaml
Labels: governance

docs(proof-index): correct claim 7 — OSS require_governor is trusted-localhost pass-through, not JWT
  docs/proof-index.md
Labels: docs

test(proof-index): pin claims 2 and 5 as standing regression checks (#798)
  tests/proof_index/test_claim_02_executor_bypass.py
  tests/proof_index/test_claim_05_dangerous_requires_approval.py
Labels: test

test(proof-index): pin claims 3, 9, 10 as standing regression checks (#798)
  tests/proof_index/test_claim_03_api_no_direct_db.py
  tests/proof_index/test_claim_09_intent_immutable.py
  tests/proof_index/test_claim_10_blackboard_namespace.py
Labels: test

docs(proof-index): correct claims 1 and 9 to match current mechanisms (#798)
  docs/proof-index.md
Labels: docs
