Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

Fix: Resolve audit failures and align with refactoring
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/planner_agent.prompt
  .intent/proposals/cr-27b65203-config.yaml.yaml
  .intent/proposals/cr-3d658381-project_manifest.yaml.yaml
  .intent/proposals/cr-3e6221b2-clients.yaml
  .intent/proposals/cr-41e14974-.env.template.yaml
  .intent/proposals/cr-6717bb98-requirements.txt.yaml
  .intent/proposals/cr-b17b2f7f-settings.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/planner_agent.py
  src/agents/reconnaissance_agent.py
  src/core/knowledge_service.py
  src/core/main.py
  src/core/self_correction_engine.py
  src/shared/ast_utility.py
  src/shared/config_loader.py
  src/shared/utils/parsing.py
  src/system/admin/fixer_complexity.py
  src/system/governance/audit_context.py
  src/system/governance/audit_execution.py
  src/system/governance/check_discovery.py
  src/system/governance/checks/environment_checks.py
  src/system/governance/checks/health_checks.py
  src/system/governance/checks/structure_checks.py
  src/system/governance/constitutional_auditor.py
  src/system/governance/manifest.json
  src/system/tools/config/builder_config.py
  src/system/tools/manifest_migrator.py
  src/system/tools/symbol_processor.py
  tests/integration/test_full_run.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, test, governance

Fix: Resolve audit failures and align with refactoring
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/planner_agent.prompt
  .intent/proposals/cr-27b65203-config.yaml.yaml
  .intent/proposals/cr-3d658381-project_manifest.yaml.yaml
  .intent/proposals/cr-3e6221b2-clients.yaml
  .intent/proposals/cr-41e14974-.env.template.yaml
  .intent/proposals/cr-6717bb98-requirements.txt.yaml
  .intent/proposals/cr-b17b2f7f-settings.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/planner_agent.py
  src/agents/reconnaissance_agent.py
  src/core/knowledge_service.py
  src/core/main.py
  src/core/self_correction_engine.py
  src/shared/ast_utility.py
  src/shared/config_loader.py
  src/shared/utils/parsing.py
  src/system/admin/fixer_complexity.py
  src/system/governance/audit_context.py
  src/system/governance/audit_execution.py
  src/system/governance/check_discovery.py
  src/system/governance/checks/environment_checks.py
  src/system/governance/checks/health_checks.py
  src/system/governance/checks/structure_checks.py
  src/system/governance/constitutional_auditor.py
  src/system/governance/manifest.json
  src/system/tools/config/builder_config.py
  src/system/tools/manifest_migrator.py
  src/system/tools/symbol_processor.py
  tests/integration/test_full_run.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, test, governance

feat(governance): Implement autonomous header fixer and health dashboard
  .intent/config/runtime_requirements.yaml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/planner_agent.prompt
  README.md
  docs/06_STARTER_KITS.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/intent_translator.py
  src/agents/planner_agent.py
  src/core/git_service.py
  src/core/main.py
  src/core/syntax_checker.py
  src/core/validation_policies.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/chat.py
  src/system/admin/fixer_header.py
  src/system/admin/proposals.py
  src/system/admin/proposals_impl.py
  src/system/admin/utils.py
  src/system/governance/audit_execution.py
  src/system/governance/constitutional_auditor.py
  tests/integration/test_full_run.py
  tests/unit/test_git_service.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, docs, test, governance

feat(governance): Implement autonomous header fixer and health dashboard
  .intent/config/runtime_requirements.yaml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/planner_agent.prompt
  README.md
  docs/06_STARTER_KITS.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/intent_translator.py
  src/agents/planner_agent.py
  src/core/git_service.py
  src/core/main.py
  src/core/syntax_checker.py
  src/core/validation_policies.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/chat.py
  src/system/admin/fixer_header.py
  src/system/admin/proposals.py
  src/system/admin/proposals_impl.py
  src/system/admin/utils.py
  src/system/governance/audit_execution.py
  src/system/governance/constitutional_auditor.py
  tests/integration/test_full_run.py
  tests/unit/test_git_service.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, docs, test, governance

docs(roadmap): Formalize CLI Unification & UX Epic
  docs/04_ROADMAP.md
Labels: docs

docs(roadmap): Formalize CLI Unification & UX Epic
  docs/04_ROADMAP.md
Labels: docs

feat(cli): Implement unified CLI and interactive menu
  .intent/knowledge/knowledge_graph.json
  Makefile
  src/system/admin/__init__.py
  src/system/admin/interactive.py
  src/system/admin/system.py
Labels: feat, fix, governance

feat(cli): Implement unified CLI and interactive menu
  .intent/knowledge/knowledge_graph.json
  Makefile
  src/system/admin/__init__.py
  src/system/admin/interactive.py
  src/system/admin/system.py
Labels: feat, fix, governance

feat(constitution): Define policies for Dynamic Deduction Agent
  .intent/knowledge/resource_manifest.yaml
  .intent/meta.yaml
  .intent/policies/deduction_policy.yaml
Labels: governance

feat(constitution): Define policies for Dynamic Deduction Agent
  .intent/knowledge/resource_manifest.yaml
  .intent/meta.yaml
  .intent/policies/deduction_policy.yaml
Labels: governance

feat(agent): Add capability tag to admin utils
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/policies/agent_behavior_policy.yaml
  .intent/prompts/capability_tagger.prompt
  check_env.py
  docs/04_ROADMAP.md
  docs/06_STARTER_KITS.md
  src/agents/deduction_agent.py
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/tagger_agent.py
  src/core/__init__.py
  src/core/cognitive_service.py
  src/core/git_service.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/fixer.py
  src/system/admin/fixer_header.py
  src/system/admin/interactive.py
  src/system/admin/utils.py
  src/system/manifest.yaml
  tests/core/test_cognitive_service.py
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance

feat(agent): Add capability tag to admin utils
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/policies/agent_behavior_policy.yaml
  .intent/prompts/capability_tagger.prompt
  check_env.py
  docs/04_ROADMAP.md
  docs/06_STARTER_KITS.md
  src/agents/deduction_agent.py
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/tagger_agent.py
  src/core/__init__.py
  src/core/cognitive_service.py
  src/core/git_service.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/fixer.py
  src/system/admin/fixer_header.py
  src/system/admin/interactive.py
  src/system/admin/utils.py
  src/system/manifest.yaml
  tests/core/test_cognitive_service.py
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance

feat(agent): Finalize capability tagging feature
  .github/workflows/core-ci.yml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  docs/11_ACADEMIC_PAPER.md
  src/agents/tagger_agent.py
  src/shared/config.py
  src/system/admin/fixer.py
  src/system/admin/utils.py
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance, ci

feat(agent): Finalize capability tagging feature
  .github/workflows/core-ci.yml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  docs/11_ACADEMIC_PAPER.md
  src/agents/tagger_agent.py
  src/shared/config.py
  src/system/admin/fixer.py
  src/system/admin/utils.py
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance, ci

feat: Create new file src/main.py
  .intent/charter/policies/governance/available_actions_policy.yaml
  .intent/meta.yaml
  .intent/mind/prompts/planner_agent.prompt
  .intent/mind/prompts/standard_task_generator.prompt
  src/cli/commands/run.py
  src/core/agents/execution_agent.py
  src/core/agents/plan_executor.py
  src/core/agents/planner_agent.py
  src/core/agents/reconnaissance_agent.py
  src/core/git_service.py
  src/core/self_correction_engine.py
  src/main.py
Labels: feat, fix, governance

feat: Create new file src/main.py
  .intent/charter/policies/governance/available_actions_policy.yaml
  .intent/meta.yaml
  .intent/mind/prompts/planner_agent.prompt
  .intent/mind/prompts/standard_task_generator.prompt
  src/cli/commands/run.py
  src/core/agents/execution_agent.py
  src/core/agents/plan_executor.py
  src/core/agents/planner_agent.py
  src/core/agents/reconnaissance_agent.py
  src/core/git_service.py
  src/core/self_correction_engine.py
  src/main.py
Labels: feat, fix, governance

feat: Modify file src/cli/commands/agent.py
  project_context.txt
  src/cli/commands/agent.py
  src/core/agents/execution_agent.py
Labels: feat, fix

feat: Modify file src/cli/commands/agent.py
  project_context.txt
  src/cli/commands/agent.py
  src/core/agents/execution_agent.py
Labels: feat, fix

feat: Create new file src/features/introspection/graph_analysis_service.py
  .intent/mind/prompts/planner_agent.prompt
  .intent/mind/prompts/standard_task_generator.prompt
  create_cluster_tool.prompt
  project_context.txt
  pyproject.toml
  src/cli/commands/agent.py
  src/core/agents/execution_agent.py
  src/core/agents/plan_executor.py
  src/core/python_validator.py
  src/core/self_correction_engine.py
  src/core/validation_pipeline.py
  src/features/governance/checks/import_rules.py
  src/features/introspection/graph_analysis_service.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/linelength_service.py
  src/features/self_healing/prune_orphaned_vectors.py
Labels: feat, fix, governance, deps

feat: Create new file src/features/introspection/graph_analysis_service.py
  .intent/mind/prompts/planner_agent.prompt
  .intent/mind/prompts/standard_task_generator.prompt
  create_cluster_tool.prompt
  project_context.txt
  pyproject.toml
  src/cli/commands/agent.py
  src/core/agents/execution_agent.py
  src/core/agents/plan_executor.py
  src/core/python_validator.py
  src/core/self_correction_engine.py
  src/core/validation_pipeline.py
  src/features/governance/checks/import_rules.py
  src/features/introspection/graph_analysis_service.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/linelength_service.py
  src/features/self_healing/prune_orphaned_vectors.py
Labels: feat, fix, governance, deps

feat: Modify file src/cli/commands/diagnostics.py
  src/cli/commands/diagnostics.py
Labels: feat, fix

feat: Modify file src/cli/commands/diagnostics.py
  src/cli/commands/diagnostics.py
Labels: feat, fix

feat(AI): execute plan for goal -
  pyproject.toml
  refactor_cli_registration.prompt
  src/cli/commands/diagnostics.py
  src/features/introspection/graph_analysis_service.py
Labels: feat, fix, deps

feat(AI): execute plan for goal -
  pyproject.toml
  refactor_cli_registration.prompt
  src/cli/commands/diagnostics.py
  src/features/introspection/graph_analysis_service.py
Labels: feat, fix, deps

feat: Modify file src/cli/admin_cli.py
  refactor_cli_registration.prompt
  src/cli/admin_cli.py
  src/cli/commands/run.py
Labels: feat, fix

feat: Modify file src/cli/commands/fixer.py
  src/cli/commands/fixer.py
Labels: feat, fix

feat: Modify file src/cli/commands/fixer.py
  src/cli/commands/fixer.py
Labels: feat, fix

feat: Modify file src/cli/admin_cli.py
  refactor_cli_registration.prompt
  src/cli/admin_cli.py
  src/cli/commands/run.py
Labels: feat, fix

refactor(governance): Update KnowledgeSourceCheck to use MindService
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

refactor(governance): Update KnowledgeSourceCheck to use MindService
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

refactor(governance): Update KnowledgeSourceCheck to use MindService
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

refactor(governance): Update KnowledgeSourceCheck to use MindService
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

fix(governance): Correctly implement KnowledgeSourceCheck
  project_context.txt
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

fix(governance): Correctly implement KnowledgeSourceCheck
  project_context.txt
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

fix(governance): Repair AuditorContext and dependent checks
  src/core/cognitive_service.py
  src/features/governance/audit_context.py
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

fix(governance): Repair AuditorContext and dependent checks
  src/core/cognitive_service.py
  src/features/governance/audit_context.py
  src/features/governance/checks/knowledge_source_check.py
Labels: feat, fix

feat: Integrate changes via make
  src/core/actions/healing_actions.py
Labels: feat, fix

feat: Integrate changes via make
  src/core/actions/healing_actions.py
Labels: feat, fix

feat: Integrate changes via make
  poetry
  scripts/verify_a1_readiness.py
Labels: none

feat: Integrate changes via make
  poetry
  scripts/verify_a1_readiness.py
Labels: none
