Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(db): retire 8 orphan resource keys; close #331
  infra/scripts/migrations/20260516_adr_052_retire_orphan_resource_keys.sql
Labels: none

refactor(config): retire bootstrap_config_from_env (dead code post ADR-052 Phase 3)
  src/shared/infrastructure/config_service.py
Labels: feat, fix

feat(db): disable 4 remote llm_resources to align with operating_mode='local_only'
  infra/scripts/migrations/20260516_adr_052_disable_remote_resources.sql
Labels: none

fix(self_healing): stop double-wrapping docstrings; validate dry-run output
  src/body/self_healing/docstring_service.py
  src/cli/resources/code/docstrings.py
Labels: feat, fix

fix(purity_checks): exclude nested-fn closures from docstring check
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
Labels: feat, fix

docs(adr): ADR-053 (Draft) — CORE API as resource-oriented governance interface
  .specs/decisions/ADR-053-api-governance-interface.md
  .specs/planning/CORE-API-capability-map-2026-05-16.md
Labels: none

docs(adr): amend ADR-047 — record nested-fn closure exclusion (commit 6c1c7270)
  .specs/decisions/ADR-047-docstring-rule-ast-gate.md
Labels: none

fix(d1172a4c-ba63-44): Autonomous remediation: fix.docstrings (1 violation(s) — rules: purity.docstrings.required)
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

fix(c2cf800c-f24d-4f): Autonomous remediation: fix.docstrings (2 violation(s) — rules: purity.docstrings.required)
  src/cli/commands/fix/all_commands.py
Labels: feat, fix

fix(9399682a-818c-4c): Autonomous remediation: fix.docstrings (4 violation(s) — rules: purity.docstrings.required)
  src/body/atomic/modularity_fix.py
Labels: feat, fix

fix(a4363a81-1188-43): Autonomous remediation: fix.docstrings (2 violation(s) — rules: purity.docstrings.required)
  src/cli/commands/audit_reporter.py
Labels: feat, fix

fix(audit_context): clear _AST_CACHE in invalidate_file_cache (ADR-039)
  src/mind/governance/audit_context.py
Labels: feat, fix

docs(adr): ADR-039 supplement — record _AST_CACHE gap and fix (commit 175b46e4)
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: none

docs(executor): mark _check_authorization as deliberate stub, not missing impl
  src/body/atomic/executor.py
Labels: feat, fix

docs(adr): ADR-053 Accepted + ADR-054 — Phase 1 /audit + /proposals
  .specs/decisions/ADR-053-api-governance-interface.md
  .specs/decisions/ADR-054-api-phase-1-audit-proposals.md
Labels: none

docs(planning): Band E strategic planning input — enterprise readiness tracks
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
Labels: none

feat(api): Phase 1 proposals routes — GET list/show, POST approve/reject/execute (ADR-054)
  src/api/main.py
  src/api/v1/proposals_routes.py
Labels: feat, fix

feat(api): Phase 1 audit routes — POST /audit/runs + GET /audit/runs/{id} (ADR-054)
  infra/scripts/migrations/20260517_create_audit_run_resources.sql
  src/api/main.py
  src/api/v1/audit_routes.py
  src/will/governance/__init__.py
  src/will/governance/audit_runner.py
Labels: feat, fix

refactor(cli/phase1): replace shared.logger with stdlib logging in D4 files (ADR-054)
  src/cli/resources/code/audit.py
  src/cli/resources/code/lint.py
  src/cli/resources/proposals/create.py
  src/cli/resources/proposals/integrate.py
  src/cli/resources/proposals/list.py
Labels: feat, fix

fix(api): expose module-level app binding for uvicorn (ADR-054)
  src/api/main.py
Labels: feat, fix

chore(make): context target now exports intent+specs only (1.9M vs 6.0M core)
  Makefile
Labels: none

feat(api): ADR-054 Phase 1 — migrate proposals CLI to HTTP (list.py + manage.py)
  src/api/cli/__init__.py
  src/api/cli/client.py
  src/api/v1/proposals_routes.py
  src/cli/logic/autonomy/views.py
  src/cli/resources/proposals/list.py
  src/cli/resources/proposals/manage.py
  src/will/governance/audit_runner.py
Labels: feat, fix

fix(api): resolve no_body_bypass + dangerous_env audit findings (ADR-054)
  src/api/cli/client.py
  src/api/v1/proposals_routes.py
  src/will/autonomy/proposal_service.py
Labels: feat, fix

feat(api): ADR-054 Phase 1 — migrate proposals create CLI to HTTP
  src/api/cli/client.py
  src/api/v1/proposals_routes.py
  src/cli/logic/autonomy/actions.py
  src/cli/resources/proposals/create.py
Labels: feat, fix

feat(api): ADR-054 Phase 1 — migrate proposals integrate CLI to HTTP
  src/api/cli/client.py
  src/api/main.py
  src/api/v1/integration_routes.py
  src/cli/resources/proposals/integrate.py
  src/will/lifecycle/__init__.py
  src/will/lifecycle/integration_runner.py
Labels: feat, fix

feat(api): ADR-054 Phase 1 — migrate code lint CLI to HTTP
  src/api/cli/client.py
  src/api/main.py
  src/api/v1/lint_routes.py
  src/cli/resources/code/lint.py
  src/will/governance/lint_runner.py
Labels: feat, fix

feat(db): consolidate audit_runs + audit_run_resources (ADR-054)
  infra/scripts/migrations/20260518_consolidate_audit_runs.sql
  infra/sql/db_schema_live.sql
  src/api/v1/audit_routes.py
  src/cli/logic/list_audits.py
  src/cli/logic/log_audit.py
  src/cli/logic/report.py
  src/mind/logic/engines/workflow_gate/checks/audit.py
  src/shared/infrastructure/database/models/governance.py
  src/will/governance/__init__.py
  src/will/governance/audit_runner.py
Labels: feat, fix

docs(specs): drop stale audit_runs write-gap notes
  .specs/decisions/README.md
  .specs/requirements/CORE-Governor-Dashboard-URS.md
Labels: none

feat(api): ADR-054 Phase 1 — migrate code audit CLI to HTTP
  src/api/cli/client.py
  src/api/v1/audit_routes.py
  src/cli/logic/audit_renderer.py
  src/cli/resources/code/audit.py
  src/will/governance/audit_runner.py
Labels: feat, fix

chore(intent): remove architecture.cli.api_only rule
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/rules/architecture/layer_separation.json
Labels: governance

docs(specs): ADR-050 rewrite + A3 plan ADR-053/054 index entries
  .specs/decisions/ADR-050-cli-positioning.md
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(specs): align A3 plan ADR-050 row with rewrite
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(planning): SESSION-PROTOCOL — two-file context model + canonical state-scan prompts
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

chore(will): delete orphan dev_sync phase orchestration
  src/will/workflows/dev_sync_phases.py
  src/will/workflows/phases/__init__.py
  src/will/workflows/phases/code_analysis_phase.py
  src/will/workflows/phases/code_fixers_phase.py
  src/will/workflows/phases/database_sync_phase.py
  src/will/workflows/phases/quality_checks_phase.py
  src/will/workflows/phases/vectorization_phase.py
Labels: feat, fix

feat(api): close #340 — findings list on GET /v1/audit/runs/{id}
  .specs/decisions/ADR-054-api-phase-1-audit-proposals.md
  infra/sql/db_schema_live.sql
  src/api/v1/audit_routes.py
  src/shared/infrastructure/database/models/governance.py
  src/will/autonomy/proposal_service.py
  src/will/governance/audit_runner.py
  tests/api/v1/test_audit_routes.py
  tests/api/v1/test_proposals_routes.py
Labels: feat, fix, test

docs(planning): note ADR-054 amendment on A3 row
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(workers): sanitize dict keys in _sanitize_payload (closes #348)
  src/shared/workers/base.py
Labels: feat, fix

docs(adr): ADR-055 — API Phase 2 /fix + /quality
  .specs/decisions/ADR-055-api-phase-2-fix-quality.md
  .specs/planning/CORE-A3-plan.md
Labels: none

feat(api): ADR-055 Phase 2 — /fix and /quality namespaces
  infra/scripts/migrations/20260517_create_fix_runs.sql
  infra/sql/db_schema_live.sql
  src/api/main.py
  src/api/v1/fix_routes.py
  src/api/v1/quality_routes.py
  src/shared/infrastructure/database/models/governance.py
  src/will/governance/fix_runner.py
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_quality_routes.py
Labels: feat, fix, test

test(api): cover 3 distinct fix_id values on POST /fix/run/{fix_id}
  tests/api/v1/test_fix_routes.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
