Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(governance): purity.tempfile_default_dir — close /tmp/ enforcement gap (#508 follow-up)
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/code/purity.json
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix, governance

fix(governance): cli_gate emits repo-relative file_path (#486)
  src/mind/logic/engines/cli_gate/engine.py
Labels: feat, fix

refactor(governance): retire fix.policy_ids — wrong-shape identity for a human-readable artefact (#493)
  .intent/enforcement/config/action_risk.yaml
  .intent/taxonomies/operational_capabilities.yaml
  src/body/atomic/fix_actions.py
  src/body/self_healing/policy_id_service.py
  src/cli/commands/fix/metadata.py
Labels: feat, fix, governance

fix(governance): rule_executor enforces check_id=rule.rule_id on context-level path (#485)
  src/mind/governance/rule_executor.py
Labels: feat, fix

docs(claude-md): restart of core-daemon + core-api is in-scope for the dev loop
  CLAUDE.md
Labels: none

refactor(processors): delete dead BaseProcessor.dump() — retire #507 Tier 2 exclusion (#509)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  src/shared/processors/base_processor.py
  src/shared/processors/yaml_processor.py
Labels: feat, fix, governance

fix(cli): gate DRY RUN banner on has_write_param (#504)
  src/cli/utils/decorators.py
Labels: feat, fix

test(workers): self-clean worker_registry rows in synthetic fixtures
  tests/shared/workers/test_base__d8_graceful_shutdown.py
  tests/shared/workers/test_base__post_observation.py
Labels: test

feat(daemon): singleton PID lock + up/down/restart/status wrappers
  src/cli/commands/daemon.py
Labels: feat, fix

tune(workers): blackboard_shop_manager max_interval 120→600
  .intent/workers/blackboard_shop_manager.yaml
Labels: governance

docs(specs): ADR-081 per-worker process isolation + implementation plan
  .specs/decisions/ADR-081-per-worker-process-isolation-classification.md
  .specs/planning/ADR-081-implementation-plan.md
Labels: none

feat(daemon): ADR-081 Step 0 — asyncio loop-hold instrumentation
  .intent/enforcement/config/operational_config.yaml
  src/cli/commands/daemon.py
  src/shared/infrastructure/intent/operational_config.py
Labels: feat, fix, governance

feat(governance): ADR-081 Step 1 — requires_dedicated_process schema field + heavy-worker classification
  .intent/META/worker.schema.json
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_cli.yaml
  .intent/workers/audit_sensor_layout.yaml
  .intent/workers/audit_sensor_linkage.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_sensor_purity.yaml
  .intent/workers/audit_sensor_style.yaml
Labels: governance

feat(daemon): ADR-081 Step 2a — --only flag + exclude-dedicated default
  src/cli/commands/daemon.py
Labels: feat, fix

fix(governance): ADR-081 Step 2b — cooperative yield in run_filtered_audit
  src/mind/governance/filtered_audit.py
Labels: feat, fix

feat(daemon): ADR-081 Step 2c — dynamic _SYSTEMD_UNITS + drift detection
  src/cli/commands/daemon.py
Labels: feat, fix

fix(daemon): _enabled_template_stems probes wants directory, not list-unit-files
  src/cli/commands/daemon.py
Labels: feat, fix

feat(daemon): ADR-081 Step 3a — loop-hold telemetry to blackboard
  src/cli/commands/daemon.py
  src/shared/workers/loop_hold_telemetry.py
Labels: feat, fix

feat(governance): ADR-081 Step 3b — runtime.worker_process_classification drift detector
  .intent/enforcement/config/operational_config.yaml
  .intent/enforcement/mappings/runtime/worker_process_classification.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/runtime/worker_process_classification.json
  src/mind/logic/engines/runtime_gate.py
  src/shared/infrastructure/intent/operational_config.py
Labels: feat, fix, governance

feat(governance): ADR-082 — writer-as-sensor retention policy + TTL sweeps
  .intent/enforcement/config/operational_config.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/workers/blackboard_shop_manager.yaml
  .specs/decisions/ADR-082-writer-as-sensor-retention-policy.md
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/blackboard_shop_manager.py
Labels: feat, fix, governance

refactor(atomic): extract SandboxLifecycle + register two facade-large services
  .intent/enforcement/mappings/code/modularity.yaml
  src/body/atomic/executor.py
  src/body/atomic/sandbox_lifecycle.py
Labels: feat, fix, governance

docs(papers): stamp Sourcing on every feature; sync Tiers cross-references
  .specs/papers/CORE-Features.md
  .specs/papers/CORE-Product-Tiers.md
Labels: none

feat(governance): ADR-083 + ADR-084 — commercial-surface taxonomy + F-44–F-47 stamps
  .specs/decisions/ADR-083-commercial-add-on-stamping-f44-f47.md
  .specs/decisions/ADR-084-commercial-surface-taxonomy-and-open-core-honesty.md
  .specs/papers/CORE-Features.md
  .specs/papers/CORE-Product-Tiers.md
Labels: none

docs(planning): feature dependency graph + ADR-084 shape clusters
  .specs/planning/CORE-Feature-Dependency-Graph.md
Labels: none

feat(governance): F-48 open library distribution — closes ADR-084 D4 planning gap
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Feature-Dependency-Graph.md
Labels: none

feat(governance): ADR-085 — open operational completeness as engineering's sole goal
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

chore(planning): archive 4 completed planning docs
  .specs/planning/archive/ADR-081-implementation-plan.md
  .specs/planning/archive/CCC-backlog-cleanup-2026-05-31.md
  .specs/planning/archive/CORE-GitHub-Project-Management.md
  .specs/planning/archive/worktree-sandbox-implementation-plan.md
Labels: none

docs(planning): F-10 decomposition — 5 MVP + 1 deferred sub-issues
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(planning): F-10.1 split into 1a (runner refactor) + 1b (CLI surface)
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(governance): F-10.1a — stateless audit runner (no-DB path)
  src/mind/governance/audit_context.py
  src/mind/governance/stateless_audit.py
  tests/mind/governance/test_stateless_audit__no_db_required.py
  tests/mind/governance/test_stateless_audit__skips_db_rules.py
Labels: feat, fix, test

feat(governance): F-10.1b — CLI surface (--offline, --json, exit codes)
  src/cli/resources/code/audit.py
  src/cli/utils/exit_codes.py
  tests/cli/resources/code/test_audit_offline_mode.py
  tests/cli/utils/test_exit_codes.py
Labels: feat, fix, test

feat(governance): F-10.2 — GitHub Actions annotation format
  src/cli/resources/code/audit.py
  src/cli/utils/annotation_formatter.py
  tests/cli/resources/code/test_audit_offline_mode.py
  tests/cli/utils/test_annotation_formatter.py
Labels: feat, fix, test

feat(governance): ADR-086 — Installation Architecture
  .specs/decisions/ADR-086-installation-architecture.md
Labels: none

refactor(cli): route daemon singleton-lock FS ops through FileHandler
  src/cli/commands/daemon.py
Labels: feat, fix

chore(ci): remove broken nightly-audit workflow (closes #534)
  .github/workflows/nightly-audit.yml
Labels: ci

docs(planning): tracker reflects nightly-audit.yml removal (#534)
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

chore(infra): retire migration-registry hook + idle out migrate CLI
  .pre-commit-config.yaml
  infra/scripts/check_migrations_registered.py
  src/cli/logic/db.py
  src/cli/resources/database/migrate.py
Labels: feat, fix

chore(db): core schema single-owner cleanup (closes #536)
  infra/scripts/migrations/20260602_reassign_core_schema_owner_to_core_db.sql
  infra/scripts/migrations/20260602b_drop_lira_user_default_privileges_core.sql
  infra/sql/db_schema_live.sql
Labels: none

docs(planning): F-48 decomposition + Tier-1 resequence
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(governance): F-48.1 — rename to core-runtime + PyPI metadata
  .gitignore
  README.md
  pyproject.toml
Labels: docs, deps
