Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

test(proof-index): pin claims 1 and 7 as standing regression checks (#798)
  tests/proof_index/test_claim_01_intent_gateway.py
  tests/proof_index/test_claim_07_governor_route_gating.py
Labels: test

docs(proof-index): add structured attestation index for the ten claims (#798)
  .specs/attestations/proof-index.yaml
Labels: none

test(proof-index): claim 10 -> split, wire claim 4 AUDIT_GAP, add attestation-index integrity check (#798)
  .specs/attestations/proof-index.yaml
  tests/proof_index/test_attestation_index_integrity.py
  tests/proof_index/test_claim_04_audit_gap.py
Labels: test

docs(proof-index): correct claim 4 (drop sole-writer assertion) and attest claims 4, 6 (#798)
  .specs/attestations/proof-index.yaml
  docs/proof-index.md
Labels: docs

test(proof-index): mechanize claim 10 duplicate-refusal; promote attestation check to blocking (#798)
  .specs/attestations/proof-index.yaml
  tests/proof_index/test_attestation_index_integrity.py
  tests/proof_index/test_claim_10_blackboard_namespace.py
Labels: test

fix(ci): clear three blockers left by the #815/#798/ADR-154 landings
  .intent/governance/namespace_manifest.yaml
  src/body/atomic/test_actions.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
Labels: feat, fix, governance

ci: enforce the five DB-backed blocking rules that ran nowhere
  .github/workflows/core-ci.yml
Labels: ci

ci: correct the audit step to --offline; main was red on my error
  .github/workflows/core-ci.yml
Labels: ci

fix(governance): surface silent dispatch failures, repair action_pattern (#820)
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/governance/test_dispatch_integrity.py
  tests/mind/logic/engines/ast_gate/test_action_pattern_check.py
Labels: feat, fix, test

fix(governance): close two fail-open edges in the dispatch contract (#820)
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/governance/test_dispatch_integrity.py
  tests/mind/governance/test_firing_coverage_standing_gate.py
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
Labels: feat, fix, test

fix(taxonomy): canonicalize role capability references (#820 step 2 prep)
  .intent/taxonomies/cognitive_roles.yaml
Labels: governance

refactor(governance): unify the "mapping-required" predicate (#820 step 2 prep)
  src/mind/coherence/checks/dispatch_parity.py
  src/mind/governance/constitutional_auditor_dynamic.py
  src/shared/infrastructure/intent/rule_registry.py
  tests/mind/governance/test_constitutional_auditor_dynamic__get_dynamic_execution_stats.py
  tests/shared/infrastructure/intent/test_rule_registry.py
Labels: feat, fix, test

docs(specs): add CORE Internal Truthfulness constitutional-tier paper
  .specs/papers/CORE-Internal-Truthfulness.md
Labels: none

fix(governance): enforce capability taxonomy references (#820)
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/knowledge_gate.py
  tests/mind/governance/test_dispatch_integrity.py
  tests/mind/governance/test_rule_executor__context_level_evidence_class.py
  tests/mind/logic/engines/test_knowledge_gate__capability_taxonomy_whitelist.py
Labels: feat, fix, test

refactor(governance): retire duplicate capability taxonomy rules (#820)
  .intent/enforcement/mappings/ai/capability_taxonomy_governance.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/ai/capability_taxonomy_governance.json
  tests/mind/governance/test_capability_taxonomy_disposition.py
Labels: test, governance

refactor(governance): reconcile component responsibility rules (#820)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/infrastructure/authority_boundaries.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/layer_separation.json
  .intent/rules/infrastructure/authority_boundaries.json
  .specs/papers/CORE-Infrastructure-Definition.md
  .specs/papers/CORE-Mind-Body-Will-Separation.md
  tests/mind/governance/test_component_responsibility_disposition.py
  tests/mind/governance/test_dispatch_integrity.py
Labels: test, governance

docs: correct stale references to #820-retired rules
  .specs/decisions/ADR-052-llm-config-schema.md
  CLAUDE.md
Labels: none

docs: consolidate release/version/coverage truth surfaces
  Makefile
  README.md
  docs/release.md
  pyproject.toml
Labels: docs, deps

docs(specs): separate production-readiness definition from evidence
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/production-readiness.yaml
  .specs/requirements/URS-production-readiness.md
Labels: governance

build(readiness): generate README status from the attestation manifest
  .github/workflows/core-ci.yml
  README.md
  scripts/production_readiness.py
Labels: docs, ci

fix(readme): reconcile mapped/unmapped counts after #820 demotions
  README.md
  scripts/check_readme_counts.sh
Labels: docs

fix(governance): classify CORE-Internal-Truthfulness paper (namespace)
  .intent/governance/namespace_manifest.yaml
Labels: governance

docs(changelog): record the production-readiness truth chain + consolidation
  CHANGELOG.md
Labels: none

fix(governance): make linkage.duplicate_ids enforce statelessly (#820 Group C)
  .intent/enforcement/mappings/code/linkage.yaml
  src/mind/logic/engines/_knowledge_gate_duplication.py
  src/mind/logic/engines/ast_gate/checks/duplicate_ids_check.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/knowledge_gate.py
  tests/mind/logic/engines/ast_gate/test_duplicate_ids_check.py
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
Labels: feat, fix, test, governance

docs(readme): add issue tracker guide for cold visitors
  README.md
Labels: docs

docs(readiness): mark #820 complete in G9 evidence
  .specs/attestations/production-readiness.yaml
  README.md
Labels: docs

fix(blackboard): atomic active-finding dedup + recovered-target resolver
  infra/scripts/migrations/20260722_active_finding_ROLLOUT.md
  infra/scripts/migrations/20260722_active_finding_dedup.sql
  infra/scripts/migrations/20260722_active_finding_reconcile.sql
  schema.sql
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/workers/blackboard_publisher.py
  src/will/workers/blackboard_shop_manager.py
  tests/body/services/blackboard_service/test_active_finding_dedup.py
Labels: feat, fix, test

fix(blackboard): correct two migration-only backfill gaps (dedup)
  infra/scripts/migrations/20260722_active_finding_dedup.sql
  tests/body/services/blackboard_service/test_active_finding_dedup.py
Labels: test

test(blackboard): fix two fixtures that violated the active-finding index
  tests/will/workers/test_test_remediator_count_inheritance.py
  tests/will/workers/test_violation_remediator_subsume_proposal_id.py
Labels: test

docs(rollout): close active-finding dedup runbook with live results
  infra/scripts/migrations/20260722_active_finding_ROLLOUT.md
Labels: none

docs(demo): accept ADR-155 with sequencing correction and design-point resolutions
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

docs(demo): correct ADR-155 soak boundary — isolated development is not gated
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

feat(demo): Phase 1 isolation substrate for the consequence-chain demo
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  infra/demo/compose.yaml
  src/cli/logic/demo/__init__.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/shared/config.py
  src/shared/infrastructure/git_service.py
  src/shared/utils/subprocess_utils.py
  tests/cli/logic/demo/__init__.py
  tests/cli/logic/demo/conftest.py
  tests/cli/logic/demo/test_compose_lifecycle.py
  tests/cli/logic/demo/test_isolation.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test, governance

fix(will): close the G6 risk-vocabulary mismatch in flow risk computation
  src/will/autonomy/proposal.py
  tests/will/autonomy/test_proposal_risk_vocabulary_g6.py
Labels: feat, fix, test

feat(demo): Phase 2 substrate (partial) — paused pending upstream fix.ids defect
  src/body/services/blackboard_service/blackboard_query_service.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/seed.py
  tests/body/services/blackboard_service/test_blackboard_query_service_fetch_entry_by_id.py
  tests/cli/logic/demo/test_isolation.py
Labels: feat, fix, test

fix(governance): #823 — passive_gate literal engine name missing from write-time skip
  src/body/governance/intent_guard.py
  tests/body/governance/test_intent_guard_823_e2e_fixids.py
  tests/body/governance/test_intent_guard__audit_engines.py
Labels: feat, fix, test

feat(demo): Phase 2 genuine consequence-chain scenario (ADR-155)
  src/api/cli/proposals_client.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/scenario_runner.py
  src/shared/infrastructure/git_service.py
  tests/api/cli/test_proposals_client.py
  tests/cli/logic/demo/test_consequence_chain_assertions.py
  tests/cli/logic/demo/test_consequence_chain_e2e.py
Labels: feat, fix, test

feat(demo): Phase 3 public surface for the consequence-chain demo (ADR-155)
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  install-core.sh
  scripts/demo.sh
  src/cli/admin_cli.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/resources/demo/__init__.py
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/cli/resources/demo/hub.py
  src/cli/resources/demo/rendering.py
  tests/cli/resources/demo/__init__.py
  tests/cli/resources/demo/conftest.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_consequence_chain_cmd.py
  tests/cli/resources/demo/test_output_target.py
  tests/cli/resources/demo/test_public_surface.py
  tests/cli/resources/demo/test_rendering.py
Labels: feat, fix, docs, test

fix(cli): demo command classification for cli.dangerous_explicit (ADR-155 Phase 4)
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/shared/infrastructure/git_service.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_command_metadata.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test

test(demo): E05 + E08–E11 adversarial failure-path coverage (ADR-155 §6.2)
  tests/cli/logic/demo/test_consequence_chain_failure_paths.py
Labels: test
