Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(798072e2-b7c3-41): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(29a49946-1058-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(9304425e-bf51-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(be76f44e-2c6b-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/async_checks.py::AsyncChecks.check_restricted_event_loop_creation (method)
  tests/mind/logic/engines/ast_gate/checks/async_checks/test_generated.py
Labels: test

fix(5d61c394-a7d4-48): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(f90b186f-3217-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(91ef33f2-97f2-4d): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/base.py::BaseEngine.verify (method)
  tests/mind/logic/engines/base/test_generated.py
Labels: test

fix(1ba66eb4-5d8c-43): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(301bc459-04f2-48): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(b6bfae91-d4ef-4d): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/import_checks.py::ImportChecks.check_forbidden_imports (method)
  tests/mind/logic/engines/ast_gate/checks/import_checks/test_generated.py
Labels: test

fix(0e02b0ec-f2e5-43): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/import_checks.py::ImportChecks.check_forbidden_imports (method)
  tests/mind/logic/engines/ast_gate/checks/import_checks/test_generated.py
Labels: test

fix(b638eb0a-d5cd-41): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/logging_checks.py::LoggingChecks.check_logger_not_presentation (method)
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: test

fix(ca78c663-b5ae-47): Autonomous test generation: flow.build_test_for_symbol — src/shared/infrastructure/intent/machinery_floor_integrity.py::FloorIntegrityReport.describe (method)
  tests/shared/infrastructure/intent/machinery_floor_integrity/test_generated.py
Labels: test

fix(48343c2e-aeba-46): Autonomous test generation: flow.build_test_for_symbol — src/shared/infrastructure/intent/machinery_floor_integrity.py::FloorIntegrityReport.clean (method)
  tests/shared/infrastructure/intent/machinery_floor_integrity/test_generated.py
Labels: test

fix(test-gen): stop the re-mint loop that shadowed generated tests
  src/body/atomic/build_test_for_symbol_action.py
  src/body/evaluators/test_gap_evaluator.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/body/evaluators/test_test_gap_evaluator.py
  tests/mind/logic/engines/ast_gate/checks/api_auth_checks/test_generated.py
  tests/mind/logic/engines/ast_gate/checks/logging_checks/test_generated.py
Labels: feat, fix, test

feat(cli): cognitive-roles sync --write replaces diff / project --apply
  .intent/enforcement/mappings/cli/interface_design.yaml
  CHANGELOG.md
  src/body/maintenance/command_sync_service.py
  src/cli/resources/cognitive_roles/project.py
  src/mind/logic/engines/cli_gate/checks/standard_verbs.py
  src/shared/cli/app_introspection.py
  tests/cli/resources/cognitive_roles/test_sync.py
  tests/mind/logic/engines/cli_gate/checks/standard_verbs/test_standard_verbs_check.py
Labels: feat, fix, test, governance

feat(docs): generate the CLI reference from the live command trees
  docs/cli-reference.md
  docs/reference/core-admin.md
  docs/reference/core.md
  src/cli/admin_cli.py
  src/cli/resources/docs/__init__.py
  src/cli/resources/docs/generate.py
  src/shared/cli/reference_markdown.py
  tests/cli/resources/docs/__init__.py
  tests/cli/resources/docs/test_generate.py
  tests/shared/cli/__init__.py
  tests/shared/cli/test_reference_markdown.py
Labels: feat, fix, docs, test

docs(mkdocs): nav entries for the generated CLI reference pages
  mkdocs.yml
Labels: none

fix(starter): restore the machinery floor so the published starter runs again
  .github/workflows/core-ci.yml
  examples/starter-intent/.intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  examples/starter-intent/.intent/META/artifact_type.schema.json
  examples/starter-intent/.intent/META/data_contract.schema.json
  examples/starter-intent/.intent/META/enforcement_mapping.schema.json
  examples/starter-intent/.intent/META/enums.json
  examples/starter-intent/.intent/META/flow.schema.json
  examples/starter-intent/.intent/META/intent_tree.schema.json
  examples/starter-intent/.intent/META/intent_tree.yaml
  examples/starter-intent/.intent/META/phase.schema.json
  examples/starter-intent/.intent/META/rule_document.schema.json
  examples/starter-intent/.intent/META/vocabulary.json
  examples/starter-intent/.intent/META/vocabulary.schema.json
  examples/starter-intent/.intent/META/worker.schema.json
  examples/starter-intent/.intent/META/workflow_definition.schema.json
  examples/starter-intent/.intent/META/workflow_stage.schema.json
  examples/starter-intent/.intent/constitution/CONSTITUTION.md
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  examples/starter-intent/.intent/enforcement/config/audit_verdict.yaml
  examples/starter-intent/.intent/enforcement/config/circuit_breaker.yaml
  examples/starter-intent/.intent/enforcement/config/governance_paths.yaml
  examples/starter-intent/.intent/enforcement/config/normative_markers.yaml
  examples/starter-intent/.intent/enforcement/config/operational_config.yaml
  examples/starter-intent/.intent/enforcement/config/phase_responsibility.yaml
  examples/starter-intent/.intent/enforcement/config/rule_targets.yaml
  examples/starter-intent/.intent/enforcement/config/task_type_phases.yaml
  examples/starter-intent/.intent/enforcement/config/test_coverage.yaml
  examples/starter-intent/.intent/taxonomies/cognitive_roles.yaml
  examples/starter-intent/.intent/taxonomies/filesystem_operations.yaml
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
  examples/starter-intent/DEMO-README.md
  examples/starter-intent/README.md
  tests/infra/test_starter_intent_floor_parity.py
Labels: test, ci

fix(floor): rule-neutral constitution stub for project new / onboard
  src/shared/_machinery_floor/constitution/CONSTITUTION.md
Labels: feat, fix

fix(ci): verify.sh reads the audit's JSON, not the Rich text table
  examples/starter-intent/verify.sh
Labels: none

fix(project adopt-pack): refuse a target without the machinery floor
  docs/reference/core-admin.md
  src/cli/resources/project/adopt_pack.py
  tests/cli/resources/project/test_adopt_pack.py
Labels: feat, fix, docs, test

refactor(docs): CLI reference renderer no longer depends on click identity
  src/cli/resources/docs/generate.py
  src/shared/cli/reference_markdown.py
Labels: feat, fix

build(deps): typer 0.16.1 -> 0.27.2; argument help shows in --help again
  docs/reference/core-admin.md
  docs/reference/core.md
  poetry.lock
  pyproject.toml
Labels: docs, deps

feat(cli_gate): ADR-167 docs/CLI correspondence rules + strict docs build
  .github/workflows/core-ci.yml
  .github/workflows/docs.yml
  .intent/enforcement/mappings/cli/docs_correspondence.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/cli/docs_correspondence.json
  Makefile
  README.md
  docs/how-it-works.md
  docs/reference/core-admin.md
  mkdocs.yml
  src/cli/logic/byor.py
  src/cli/resources/code/audit.py
  src/cli/resources/docs/generate.py
  src/mind/logic/engines/cli_gate/checks/__init__.py
  src/mind/logic/engines/cli_gate/checks/docs_no_phantom_commands.py
  src/mind/logic/engines/cli_gate/checks/reference_current.py
  src/mind/logic/engines/cli_gate/engine.py
  src/shared/cli/reference_markdown.py
  tests/mind/logic/engines/cli_gate/checks/docs_no_phantom_commands/__init__.py
  tests/mind/logic/engines/cli_gate/checks/docs_no_phantom_commands/test_docs_no_phantom_commands.py
  tests/mind/logic/engines/cli_gate/checks/reference_current/__init__.py
  tests/mind/logic/engines/cli_gate/checks/reference_current/test_reference_current.py
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
Labels: feat, fix, docs, test, governance, ci

docs(specs): ADR-167 — documentation is sensed for correspondence with the live CLIs (accepted)
  .specs/decisions/ADR-167-docs-cli-correspondence.md
Labels: none

docs(specs): record governor rulings — independent core-cli, GRC catalogs in wheel, OpenAPI in CORE
  .specs/decisions/ADR-087-oem-api-versioning-and-stability-policy.md
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  .specs/decisions/ADR-146-cli-consumer-operator-split.md
Labels: none

feat(api): publish the governed-repository checks; OpenAPI contract committed in CORE
  .specs/papers/CORE-OEM-API.md
  docs/reference/core-admin.md
  docs/reference/openapi.json
  src/api/cli/quality_client.py
  src/api/openapi_document.py
  src/api/v1/integration_routes.py
  src/api/v1/integrity_routes.py
  src/api/v1/lint_routes.py
  src/api/v1/quality_routes.py
  src/api/v1/schemas.py
  src/cli/resources/docs/generate.py
  src/will/governance/fix_runner.py
  tests/api/test_openapi_document.py
  tests/api/v1/test_quality_routes.py
  tests/cli/resources/docs/test_generate.py
Labels: feat, fix, docs, test

feat(cli): core-admin secrets + vectors status return to the operator surface
  docs/reference/core-admin.md
  src/cli/admin_cli.py
  src/cli/resources/secrets/__init__.py
  src/cli/resources/secrets/hub.py
  src/cli/resources/secrets/manage.py
  src/cli/resources/vectors/__init__.py
  src/cli/resources/vectors/status.py
  tests/cli/resources/secrets/__init__.py
  tests/cli/resources/secrets/test_manage.py
  tests/cli/resources/vectors/test_status.py
Labels: feat, fix, docs, test

fix(api): /v1/quality/imports runs check.imports through ActionExecutor
  src/api/v1/quality_routes.py
  src/will/governance/fix_runner.py
  tests/api/v1/test_quality_routes.py
Labels: feat, fix, test

fix(api): serve the OpenAPI contract at /v1/openapi.json, as ADR-087 states
  src/api/main.py
  tests/api/test_openapi_document.py
Labels: feat, fix, test

fix(make): integrate target calls `core proposals integrate --write`
  Makefile
Labels: none

feat(api): deprecate POST /v1/project/docs (ADR-087 D4)
  .specs/papers/CORE-OEM-API.md
  docs/reference/openapi.json
  src/api/v1/project_routes.py
  tests/api/v1/project_routes/test_generated.py
  tests/api/v1/test_project_routes.py
Labels: feat, fix, docs, test

docs(reference): regenerate `core` reference from released core-cli 2.0.0
  docs/reference/core.md
Labels: docs

fix(api): deprecation headers follow RFC 9745 / RFC 8594 (ADR-087 D4 amended)
  .specs/decisions/ADR-087-oem-api-versioning-and-stability-policy.md
  src/api/v1/project_routes.py
  tests/api/v1/test_project_routes.py
Labels: feat, fix, test

build(release): one canonical version; release pins checked in CI
  .github/workflows/core-ci.yml
  .gitlab-ci/CORE.gitlab-ci.yml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  docs/release.md
  scripts/release_pins.py
Labels: docs, ci

feat(grc): the public GRC catalogs ship in the core-runtime wheel
  src/body/services/grc/catalog_resolver.py
  src/shared/_grc_catalogs/__init__.py
  src/shared/_grc_catalogs/inventory.yaml
  src/shared/_grc_catalogs/public/cfr_part_11/catalog.yaml
  src/shared/_grc_catalogs/public/cfr_part_11/provenance.yaml
  src/shared/_grc_catalogs/public/eu_annex_11/catalog.yaml
  src/shared/_grc_catalogs/public/eu_annex_11/provenance.yaml
  src/shared/_grc_catalogs/public/gdpr/catalog.yaml
  src/shared/_grc_catalogs/public/gdpr/provenance.yaml
  src/shared/_grc_catalogs/public/nist_800_171/catalog.yaml
  src/shared/_grc_catalogs/public/nist_800_171/provenance.yaml
  src/shared/infrastructure/bundled_grc_catalogs.py
  tests/body/services/grc/test_catalog_resolver__bundled.py
  tests/infra/test_grc_catalogs_ship_in_wheel.py
Labels: feat, fix, test

fix(project adopt-pack): refuse a pack whose rule IDs are already declared
  src/cli/resources/project/adopt_pack.py
  tests/cli/resources/project/test_adopt_pack.py
Labels: feat, fix, test

docs: reorganise by user journey — start, tutorials, how-to, reference
  docs/adopt-a-pack.md
  docs/byor-quickstart.md
  docs/cli-reference.md
  docs/getting-started.md
  docs/grc-gap-analysis.md
  docs/index.md
  docs/other-ci.md
  docs/reference/api.md
  docs/start-a-project.md
  docs/upgrading.md
Labels: docs

docs(nav): navigation by user journey; inbound links follow the moved sections
  README.md
  install-core.sh
  mkdocs.yml
  tests/infra/test_install_core_schema_gate.py
Labels: docs, test
