Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(cli): Enhance inspect duplicates with threshold and grouping
  audit.txt
  src/cli/commands/inspect.py
  src/cli/logic/duplicates.py
  src/features/governance/checks/duplication_check.py
Labels: feat, fix

feat(cli): Enhance inspect duplicates with threshold and grouping
  audit.txt
  src/cli/commands/inspect.py
  src/cli/logic/duplicates.py
  src/features/governance/checks/duplication_check.py
Labels: feat, fix

refactor(cli): Consolidate set_context boilerplate logic
  src/cli/commands/check.py
  src/cli/commands/submit.py
  src/cli/logic/cli_utils.py
  src/cli/logic/duplicates.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/system.py
  src/features/governance/checks/duplication_check.py
Labels: feat, fix

refactor(cli): Consolidate set_context boilerplate logic
  src/cli/commands/check.py
  src/cli/commands/submit.py
  src/cli/logic/cli_utils.py
  src/cli/logic/duplicates.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/system.py
  src/features/governance/checks/duplication_check.py
Labels: feat, fix

refactor(cli): Consolidate set_context boilerplate logic
  src/cli/commands/check.py
  src/cli/commands/manage.py
  src/cli/logic/audit.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/system.py
Labels: feat, fix

refactor(cli): Consolidate set_context boilerplate logic
  src/cli/commands/check.py
  src/cli/commands/manage.py
  src/cli/logic/audit.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/system.py
Labels: feat, fix

refactor: Consolidate CLI context setters and source extraction logic
  src/cli/commands/manage.py
  src/features/introspection/knowledge_helpers.py
  src/features/introspection/knowledge_vectorizer.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

refactor: Consolidate CLI context setters and source extraction logic
  src/cli/commands/manage.py
  src/features/introspection/knowledge_helpers.py
  src/features/introspection/knowledge_vectorizer.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

refactor(db): Consolidate database migration logic
  src/cli/logic/db.py
  src/cli/logic/migrate.py
  src/services/repositories/db/migration_service.py
Labels: feat, fix

refactor(db): Consolidate database migration logic
  src/cli/logic/db.py
  src/cli/logic/migrate.py
  src/services/repositories/db/migration_service.py
Labels: feat, fix

refactor(db): Consolidate all SQL migrations into a single source of truth
  .intent/charter/policies/data/database_policy.yaml
  audit.txt
  db_state_real.sql
  project_context.txt
  sql/001_consolidated_schema.sql
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/logic/mind_ssot.py
  src/features/maintenance/migration_service.py
  src/services/database/models.py
Labels: feat, fix, governance

refactor(db): Consolidate all SQL migrations into a single source of truth
  .intent/charter/policies/data/database_policy.yaml
  audit.txt
  db_state_real.sql
  project_context.txt
  sql/001_consolidated_schema.sql
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/logic/mind_ssot.py
  src/features/maintenance/migration_service.py
  src/services/database/models.py
Labels: feat, fix, governance

fix(cli): Correctly register sync-operational command
  src/cli/commands/manage.py
  src/cli/logic/knowledge_sync.py
Labels: feat, fix

fix(cli): Correctly register sync-operational command
  src/cli/commands/manage.py
  src/cli/logic/knowledge_sync.py
Labels: feat, fix

fix(sync): Align SymbolScanner with new database schema
  src/features/introspection/sync_service.py
Labels: feat, fix

fix(sync): Align SymbolScanner with new database schema
  src/features/introspection/sync_service.py
Labels: feat, fix

fix(db): Add missing is_public column to symbols table
  sql/001_consolidated_schema.sql
Labels: none

fix(db): Add missing is_public column to symbols table
  sql/001_consolidated_schema.sql
Labels: none

fix(db): Add missing key and vector_id columns to symbols table
  sql/001_consolidated_schema.sql
Labels: none

fix(db): Add missing key and vector_id columns to symbols table
  sql/001_consolidated_schema.sql
Labels: none

fix(db): Remove unique constraint on symbol fingerprint to allow storing duplicates
  sql/001_consolidated_schema.sql
Labels: none

fix(db): Remove unique constraint on symbol fingerprint to allow storing duplicates
  sql/001_consolidated_schema.sql
Labels: none

fix(vectorize): Align DB query with new symbols schema
  src/features/introspection/vectorization_service.py
Labels: feat, fix

fix(vectorize): Align DB query with new symbols schema
  src/features/introspection/vectorization_service.py
Labels: feat, fix

fix(vectorize): Use 'state' column instead of 'status' in query
  src/features/introspection/vectorization_service.py
Labels: feat, fix

fix(vectorize): Use 'state' column instead of 'status' in query
  src/features/introspection/vectorization_service.py
Labels: feat, fix

fix(manage): Align define-symbols query with new schema
  src/cli/commands/manage.py
Labels: feat, fix

fix(manage): Align define-symbols query with new schema
  src/cli/commands/manage.py
Labels: feat, fix

fix(audit): Correct repo path access in auditor checks
  .intent/mind/project_manifest.yaml
  src/cli/commands/manage.py
  src/features/governance/checks/health_checks.py
  src/features/governance/checks/security_checks.py
  src/features/governance/checks/style_checks.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
Labels: feat, fix, governance

fix(audit): Correct repo path access in auditor checks
  .intent/mind/project_manifest.yaml
  src/cli/commands/manage.py
  src/features/governance/checks/health_checks.py
  src/features/governance/checks/security_checks.py
  src/features/governance/checks/style_checks.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
Labels: feat, fix, governance

feat(audit): Improve audit report clarity with summaries
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/logic/audit.py
  src/cli/logic/mind_ssot.py
  src/features/maintenance/migration_service.py
  src/features/self_healing/id_tagging_service.py
  src/services/database/models.py
Labels: feat, fix

feat(audit): Improve audit report clarity with summaries
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/logic/audit.py
  src/cli/logic/mind_ssot.py
  src/features/maintenance/migration_service.py
  src/features/self_healing/id_tagging_service.py
  src/services/database/models.py
Labels: feat, fix

refactor(define): Decouple symbol definition from vectorization
  src/cli/commands/manage.py
Labels: feat, fix

refactor(define): Decouple symbol definition from vectorization
  src/cli/commands/manage.py
Labels: feat, fix

fix(define): Add de-duplication for parallel AI responses
  project_context.txt
  scripts/list_unassigned.py
  scripts/test_ai_definition.py
  src/cli/commands/manage.py
  src/features/introspection/knowledge_helpers.py
  src/services/clients/llm_api_client.py
Labels: feat, fix

fix(define): Add de-duplication for parallel AI responses
  project_context.txt
  scripts/list_unassigned.py
  scripts/test_ai_definition.py
  src/cli/commands/manage.py
  src/features/introspection/knowledge_helpers.py
  src/services/clients/llm_api_client.py
Labels: feat, fix

fix(cli): Consolidate 'fix ids' output and correct next-step message
  .intent/mind/project_manifest.yaml
  scripts/test_ai_definition.py
  src/cli/commands/manage.py
  src/cli/logic/fixer.py
  src/features/self_healing/id_tagging_service.py
  src/services/clients/llm_api_client.py
Labels: feat, fix, governance

fix(cli): Consolidate 'fix ids' output and correct next-step message
  .intent/mind/project_manifest.yaml
  scripts/test_ai_definition.py
  src/cli/commands/manage.py
  src/cli/logic/fixer.py
  src/features/self_healing/id_tagging_service.py
  src/services/clients/llm_api_client.py
Labels: feat, fix, governance

feat(ssot): Complete Phase 5 data migration and achieve clean audit
  .intent/mind/project_manifest.yaml
  scripts/list_unassigned.py
Labels: governance

feat(ssot): Complete Phase 5 data migration and achieve clean audit
  .intent/mind/project_manifest.yaml
  scripts/list_unassigned.py
Labels: governance
