Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat: define capabilities
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/project_manifest.yaml
  Makefile
  project_context.txt
  src/cli/admin_cli.py
  src/cli/commands/check.py
  src/cli/commands/fix.py
  src/cli/commands/inspect.py
  src/cli/commands/manage.py
  src/cli/commands/run.py
  src/cli/commands/search.py
  src/cli/commands/submit.py
  src/cli/logic/ci.py
  src/cli/logic/knowledge.py
  src/cli/logic/knowledge_ops.py
  src/cli/logic/project_docs.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/run.py
  src/cli/logic/system.py
  src/core/agents/execution_agent.py
  src/core/agents/planner_agent.py
  src/core/agents/reconnaissance_agent.py
  src/core/cognitive_service.py
  src/features/governance/audit_context.py
  src/features/governance/constitutional_auditor.py
  src/shared/context.py
Labels: feat, fix, governance

feat: define capabilities
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/project_manifest.yaml
  Makefile
  project_context.txt
  src/cli/admin_cli.py
  src/cli/commands/check.py
  src/cli/commands/fix.py
  src/cli/commands/inspect.py
  src/cli/commands/manage.py
  src/cli/commands/run.py
  src/cli/commands/search.py
  src/cli/commands/submit.py
  src/cli/logic/ci.py
  src/cli/logic/knowledge.py
  src/cli/logic/knowledge_ops.py
  src/cli/logic/project_docs.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/run.py
  src/cli/logic/system.py
  src/core/agents/execution_agent.py
  src/core/agents/planner_agent.py
  src/core/agents/reconnaissance_agent.py
  src/core/cognitive_service.py
  src/features/governance/audit_context.py
  src/features/governance/constitutional_auditor.py
  src/shared/context.py
Labels: feat, fix, governance

feat: Finalize architectural refactoring and fix vectorization
  project_context.txt
  scripts/11_ACADEMIC_PAPER.md
  src/features/introspection/vectorization_service.py
Labels: feat, fix

feat: Finalize architectural refactoring and fix vectorization
  project_context.txt
  scripts/11_ACADEMIC_PAPER.md
  src/features/introspection/vectorization_service.py
Labels: feat, fix

feat(db): Consolidate all SQL migrations into a single file and update database policy
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/project_manifest.yaml
  audit.txt
  docs/10_CAPABILITY_REFERENCE.md
  docs/DB_Governance_and_Usage.md
  docs/EMBEDDINGS.md
  docs/Intent Governance Doc.md
  docs/NORTH_STAR.md
  docs/archive/11_ACADEMIC_PAPER.md
  docs/governance_map.md
  docs/migrations/CR-DB-ARCH-V4.md
  docs/migrations/DOMAIN_RATIONALIZATION.md
  docs/migrations/MIGRATE-CLI-V2.md
  docs/migrations/MIGRATION_GUIDE_CAPABILITY_TAGS.md
  docs/migrations/MIGRATION_GUIDE_CODEGRAPH_BUILDER.md
  integrate.txt
  poetry
  project_context.txt
  scripts/assesment.prompt
  sql/001_consolidated_schema.sql
  sql/001_init.sql
  sql/002_capability_domains.sql
  sql/002_catalog.sql
  sql/003_capability_domains_idx.sql
  sql/003_implementations.sql
  sql/004_refactor_to_symbols.sql
  sql/005_add_symbol_key.sql
  sql/006_knowledge_graph_view.sql
  sql/007_capabilities_registry.sql
  sql/008_operational_tables.sql
  sql/009_domain_and_vector_tables.sql
  vectors.txt
Labels: docs, governance

feat(db): Consolidate all SQL migrations into a single file and update database policy
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/project_manifest.yaml
  audit.txt
  docs/10_CAPABILITY_REFERENCE.md
  docs/DB_Governance_and_Usage.md
  docs/EMBEDDINGS.md
  docs/Intent Governance Doc.md
  docs/NORTH_STAR.md
  docs/archive/11_ACADEMIC_PAPER.md
  docs/governance_map.md
  docs/migrations/CR-DB-ARCH-V4.md
  docs/migrations/DOMAIN_RATIONALIZATION.md
  docs/migrations/MIGRATE-CLI-V2.md
  docs/migrations/MIGRATION_GUIDE_CAPABILITY_TAGS.md
  docs/migrations/MIGRATION_GUIDE_CODEGRAPH_BUILDER.md
  integrate.txt
  poetry
  project_context.txt
  scripts/assesment.prompt
  sql/001_consolidated_schema.sql
  sql/001_init.sql
  sql/002_capability_domains.sql
  sql/002_catalog.sql
  sql/003_capability_domains_idx.sql
  sql/003_implementations.sql
  sql/004_refactor_to_symbols.sql
  sql/005_add_symbol_key.sql
  sql/006_knowledge_graph_view.sql
  sql/007_capabilities_registry.sql
  sql/008_operational_tables.sql
  sql/009_domain_and_vector_tables.sql
  vectors.txt
Labels: docs, governance

chore(release): Bump version to 1.0.0 and create changelog
  .intent/meta.yaml
  CHANGELOG.md
  pyproject.toml
Labels: governance, deps

chore(release): Bump version to 1.0.0 and create changelog
  .intent/meta.yaml
  CHANGELOG.md
  pyproject.toml
Labels: governance, deps

fix(constitution): Sync project manifest and docs with DB
  .intent/mind/project_manifest.yaml
  docs/10_CAPABILITY_REFERENCE.md
  tests/conftest.py
  tests/core/test_cognitive_service.py
  tests/integration/test_full_run.py
  tests/unit/test_agent_utils.py
  tests/unit/test_execution_agent.py
  tests/unit/test_planner_agent.py
Labels: docs, test, governance

fix(constitution): Sync project manifest and docs with DB
  .intent/mind/project_manifest.yaml
  docs/10_CAPABILITY_REFERENCE.md
  tests/conftest.py
  tests/core/test_cognitive_service.py
  tests/integration/test_full_run.py
  tests/unit/test_agent_utils.py
  tests/unit/test_execution_agent.py
  tests/unit/test_planner_agent.py
Labels: docs, test, governance

fix(autonomy): Prevent duplicate key assignment during symbol definition
  src/cli/commands/manage.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

fix(autonomy): Prevent duplicate key assignment during symbol definition
  src/cli/commands/manage.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

fix(cli): Improve robustness of manifest sync command
  scripts/inspect_db_state.py
  src/cli/logic/sync_manifest.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

fix(cli): Improve robustness of manifest sync command
  scripts/inspect_db_state.py
  src/cli/logic/sync_manifest.py
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

chore(constitution): Final sync of manifest and docs with DB
  .intent/mind/project_manifest.yaml
Labels: governance

chore(constitution): Final sync of manifest and docs with DB
  .intent/mind/project_manifest.yaml
Labels: governance

feat(constitution): Fully sync all artifacts with database
  .intent/mind/project_manifest.yaml
  docs/10_CAPABILITY_REFERENCE.md
  src/cli/commands/manage.py
Labels: feat, fix, docs, governance

feat(constitution): Fully sync all artifacts with database
  .intent/mind/project_manifest.yaml
  docs/10_CAPABILITY_REFERENCE.md
  src/cli/commands/manage.py
Labels: feat, fix, docs, governance

feat(constitution): Add additional ignores to audit_ignore_policy
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  src/core/knowledge_service.py
  src/features/governance/checks/capability_coverage.py
  src/features/governance/constitutional_auditor.py
  src/services/mind_service.py
Labels: feat, fix, governance

feat(constitution): Add additional ignores to audit_ignore_policy
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  src/core/knowledge_service.py
  src/features/governance/checks/capability_coverage.py
  src/features/governance/constitutional_auditor.py
  src/services/mind_service.py
Labels: feat, fix, governance

cleanup...
  .github/workflows/daily_sync.yml
  project_context.txt
  src/cli/admin_cli.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
Labels: feat, fix, ci

cleanup...
  .github/workflows/daily_sync.yml
  project_context.txt
  src/cli/admin_cli.py
  src/cli/logic/proposal_service.py
  src/cli/logic/proposals_micro.py
Labels: feat, fix, ci

feat: Modify file src/core/agents/micro_planner.py
  src/core/agents/micro_planner.py
Labels: feat, fix

feat: Modify file src/core/agents/micro_planner.py
  src/core/agents/micro_planner.py
Labels: feat, fix

feat: Modify file src/core/agents/planner_agent.py
  src/core/agents/planner_agent.py
Labels: feat, fix

feat: Create new file src/core/agents/base_planner.py
  src/core/agents/base_planner.py
Labels: feat, fix

feat: Create new file src/core/agents/base_planner.py
  src/core/agents/base_planner.py
Labels: feat, fix

feat: Modify file src/core/agents/planner_agent.py
  src/core/agents/planner_agent.py
Labels: feat, fix

feat(governance): Integrate runtime validation into the execution pipeline
  .intent/charter/policies/agent/agent_policy.yaml
  src/core/agents/base_planner.py
  src/core/agents/micro_planner.py
  src/core/agents/planner_agent.py
  src/core/python_validator.py
  src/features/governance/runtime_validator.py
Labels: feat, fix, governance

feat(governance): Integrate runtime validation into the execution pipeline
  .intent/charter/policies/agent/agent_policy.yaml
  src/core/agents/base_planner.py
  src/core/agents/micro_planner.py
  src/core/agents/planner_agent.py
  src/core/python_validator.py
  src/features/governance/runtime_validator.py
Labels: feat, fix, governance

fix(agent): Correct async call in self-correction engine
  src/core/self_correction_engine.py
Labels: feat, fix

fix(agent): Correct async call in self-correction engine
  src/core/self_correction_engine.py
Labels: feat, fix

feat(dev): Implement smart-merge DB sync strategy
  src/features/introspection/sync_service.py
Labels: feat, fix

feat(dev): Implement smart-merge DB sync strategy
  src/features/introspection/sync_service.py
Labels: feat, fix

fix(dev): Make definition service more surgical
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

fix(dev): Make definition service more surgical
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix

test(dev): Verify surgical sync
  src/shared/time.py
Labels: feat, fix

test(dev): Verify surgical sync
  src/shared/time.py
Labels: feat, fix

feat: Integrate changes via make
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/cognitive_roles.yaml
  .intent/mind/knowledge/resource_manifest.yaml
  .intent/mind/project_manifest.yaml
  project_context.txt
  pyproject.toml
  scripts/assign_capability_ids.py
  scripts/create_qdrant_collection.py
  scripts/find_unvectorized_symbols.py
  scripts/list_unassigned.py
  scripts/reset_and_rebuild_db.sh
  scripts/reset_qdrant_collection.py
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/interactive.py
  src/cli/logic/knowledge_sync.py
  src/core/db/__init__.py
  src/core/db/models.py
  src/features/governance/checks/knowledge_source_check.py
  src/features/governance/checks/orphaned_logic.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
  src/features/project_lifecycle/definition_service.py
  src/services/clients/llm_api_client.py
  src/shared/time.py
Labels: feat, fix, governance, deps

feat: Integrate changes via make
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/cognitive_roles.yaml
  .intent/mind/knowledge/resource_manifest.yaml
  .intent/mind/project_manifest.yaml
  project_context.txt
  pyproject.toml
  scripts/assign_capability_ids.py
  scripts/create_qdrant_collection.py
  scripts/find_unvectorized_symbols.py
  scripts/list_unassigned.py
  scripts/reset_and_rebuild_db.sh
  scripts/reset_qdrant_collection.py
  src/cli/admin_cli.py
  src/cli/commands/manage.py
  src/cli/interactive.py
  src/cli/logic/knowledge_sync.py
  src/core/db/__init__.py
  src/core/db/models.py
  src/features/governance/checks/knowledge_source_check.py
  src/features/governance/checks/orphaned_logic.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
  src/features/project_lifecycle/definition_service.py
  src/services/clients/llm_api_client.py
  src/shared/time.py
Labels: feat, fix, governance, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
