Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(test_remediator): defer findings to proposal per §7 contract
  src/will/workers/test_remediator.py
  tests/will/workers/test_test_remediator_defer_to_proposal.py
Labels: feat, fix, test

ADR-025: wire ArchitecturalContextBuilder via CoreContext factory
  .specs/decisions/ADR-025-architectural-context-builder-wiring.md
  .specs/planning/CORE-A3-plan.md
  src/body/atomic/build_tests_action.py
  src/body/infrastructure/bootstrap.py
  src/shared/context.py
  src/will/agents/coder_agent.py
  tests/shared/test_context__context_builder_factory.py
  tests/will/agents/test_coder_agent_context_builder_wiring.py
Labels: feat, fix, test

Fix RUF043 + auto-applied ruff hygiene
  tests/body/atomic/sync_actions/__init__/test_generated.py
  tests/cli/logic/autonomy/test_views__print_detailed_info.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
Labels: test

chore(context): delete unused ReuseFinder (closes #202)
  src/shared/infrastructure/context/reuse.py
Labels: feat, fix

chore(intent): remove dead test.missing and test.failure remediation mappings (closes #215)
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

refactor(infrastructure): extract RootedRepository base for root + resolve_rel (closes #128)
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/rooted_repository.py
  src/shared/infrastructure/specs/specs_repository.py
  tests/shared/infrastructure/test_rooted_repository.py
Labels: feat, fix, test

fix(modularity): invalidate stale __pycache__ after split (closes #212)
  src/body/atomic/modularity_fix.py
  tests/body/atomic/test_modularity_fix__pycache_invalidation.py
Labels: feat, fix, test

fix(modularity): filter convention-private names from __init__ re-exports (closes #213)
  src/body/atomic/modularity_splitter.py
  tests/body/atomic/test_modularity_splitter__reexport_filter.py
Labels: feat, fix, test

fix(governance): IntentGuard validation in build.tests now real, fail-loud (closes #210)
  src/body/atomic/build_tests_action.py
  src/body/governance/intent_guard.py
  src/body/governance/intent_pattern_validators.py
  tests/body/atomic/test_build_tests_action__intent_guard_validation.py
Labels: feat, fix, test

fix(autonomy): Proposal.validate() rejects empty scope.files (closes #191)
  src/will/autonomy/proposal.py
  tests/will/autonomy/test_proposal__validate_scope_files.py
Labels: feat, fix, test

docs(adr): land ADR-026 (validate proposal.scope.files non-emptiness)
  .specs/decisions/ADR-026-proposal-scope-files-non-emptiness-validation.md
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(audit): stats_error and per-file crash both force DEGRADED verdict
  .intent/enforcement/config/audit_verdict.yaml
  src/mind/governance/auditor.py
  src/shared/infrastructure/intent/audit_verdict.py
  tests/mind/governance/test_auditor___determine_verdict.py
Labels: feat, fix, test, governance

fix(file_handler): ensure trailing newline on all write_runtime_text writes
  src/shared/infrastructure/storage/file_handler.py
  tests/shared/test_file_handler__write_runtime_text.py
Labels: feat, fix, test

fix(decision_tracer): save_trace never called — three months of lost traces
  src/will/agents/coder_agent.py
  src/will/agents/traced_agent_mixin.py
  tests/will/agents/test_coder_agent_decision_trace_persistence.py
Labels: feat, fix, test

fix(proposal): break body.atomic ↔ will.autonomy.proposal circular import
  src/will/autonomy/proposal.py
  tests/cli/logic/autonomy/test_views__print_detailed_info.py
  tests/will/agents/test_coder_agent_decision_trace_persistence.py
  tests/will/workers/test_test_remediator_defer_to_proposal.py
Labels: feat, fix, test

fix(proposals): replace logger.info(Rich markup) with console.print throughout
  src/cli/resources/proposals/manage.py
Labels: feat, fix

feat(vocabulary): implement ADR-023 canonical store + regen + loader + DEGRADED wiring
  .intent/META/vocabulary.json
  .intent/META/vocabulary.schema.json
  .intent/rules/governance/vocabulary_canonical_store.json
  .specs/papers/CORE-Vocabulary.md
  src/body/governance/intent_guard.py
  src/cli/admin_cli.py
  src/cli/resources/intent/__init__.py
  src/cli/resources/intent/hub.py
  src/cli/resources/intent/sync_vocabulary.py
  src/shared/exceptions.py
  src/shared/infrastructure/intent/vocabulary_projection.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

feat(vocabulary): add --check flag + CI gate (ADR-023 D6, #217 Part 7)
  .github/workflows/core-ci.yml
  src/cli/resources/intent/sync_vocabulary.py
Labels: feat, fix, ci

fix(worker_shop_manager): resolve worker.silent findings on recovery
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

feat(remediation): extend map and ViolationRemediatorWorker to support flow-based entries
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/autonomy/audit_analyzer.py
  src/will/workers/violation_remediator.py
  tests/will/workers/test_violation_remediator_approval_path.py
  tests/will/workers/test_violation_remediator_finding_ids.py
Labels: feat, fix, test, governance

fix(audit): persist core-admin code audit runs to core.audit_runs
  src/cli/resources/code/audit.py
Labels: feat, fix

fix(ast_gate): required_calls check now verifies path coverage
  src/mind/logic/engines/ast_gate/checks/generic_checks.py
Labels: feat, fix

feat(coherence): sensor-fixer incoherence detection (ADR-027)
  .intent/cim/thresholds.yaml
  .intent/workers/coherence_sensor.yaml
  .specs/decisions/ADR-027-sensor-fixer-coherence-detection.md
  src/will/workers/coherence_sensor.py
Labels: feat, fix, governance

docs(a3-plan): add ADR-027 to index, CoherenceSensor to loop diagram
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(git): migrate autonomous callers from commit() to commit_paths()
  src/body/workers/call_site_rewriter.py
  src/shared/infrastructure/git_service.py
  src/will/workers/violation_remediator_body/worker.py
Labels: feat, fix

fix: resolve planning.trace_mandatory ERROR and ruff format WARNING
  src/mind/logic/engines/ast_gate/checks/generic_checks.py
  src/will/agents/planner_agent.py
Labels: feat, fix

fix: structural selector for autonomy.tracing.mandatory (closes #149)
  .intent/enforcement/mappings/will/autonomy.yaml
  src/mind/logic/engines/ast_gate/checks/generic_checks.py
  src/will/agents/plan_executor.py
Labels: feat, fix, governance

fix: __test__ = False on TestRemediatorWorker, stale docstring cleanup (closes #236, closes #237)
  src/body/services/blackboard_service.py
  src/will/workers/test_remediator.py
Labels: feat, fix

refactor: split test_remediator.py into directory package (closes #235)
  src/will/workers/test_remediator/__init__.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_defer_to_proposal.py
Labels: feat, fix, test

docs: ADR-010 addendum — Layer 3 reversal rationale (closes #233)
  .specs/decisions/ADR-010-finding-proposal-contract.md
Labels: none

fix: suppress DRY RUN banner when --check flag is active (closes #241)
  src/cli/utils/decorators.py
Labels: feat, fix

fix: supply workflow_type in DevelopmentGoal test fixtures (closes #171)
  tests/api/v1/test_development_routes__DevelopmentGoal.py
Labels: test

fix: _check_capability_assignment exclude_patterns now honor None file_path (closes #150)
  src/mind/logic/engines/_knowledge_gate_duplication.py
  src/mind/logic/engines/knowledge_gate.py
  tests/mind/logic/engines/test_knowledge_gate__KnowledgeGateEngine.py
Labels: feat, fix, test

fix: regenerate db_schema_live.sql from live DB (closes #180)
  infra/sql/db_schema_live.sql
Labels: none

fix: scope-loader no longer silently widens to src/**/*.py on misconfiguration (closes #158)
  src/mind/governance/enforcement_loader.py
  src/mind/governance/rule_extractor.py
Labels: feat, fix

docs: ADR-028 + Documentation Hygiene section + A3 plan update (closes #134)
  .specs/decisions/ADR-028-describe-rules-dont-quote-forbidden-syntax.md
  .specs/papers/CORE-Rule-Authoring-Discipline.md
  .specs/planning/CORE-A3-plan.md
Labels: none

chore: stage missed files from earlier commits
  src/cli/resources/proposals/manage.py
  src/will/workers/test_remediator.py
  tests/body/atomic/sync_actions/__init__/test_generated.py
  tests/body/atomic/test_modularity_splitter__reexport_filter.py
Labels: feat, fix, test

will/autonomy.yaml: fix stale enforced_by on autonomy.conservation.min_preservation_ratio
  .intent/enforcement/mappings/will/autonomy.yaml
Labels: governance

papers: fix stale .intent/papers/ → .specs/papers/ references (F-14)
  .specs/papers/CORE-Flow.md
  .specs/papers/CORE-Workers-and-Governance-Model.md
  .specs/papers/CORE-Workflow-Papers-First.md
Labels: none

enforcement_mapping.schema.json: require scope + applies_to; fix 18 scopeless mappings
  .intent/META/enforcement_mapping.schema.json
  .intent/enforcement/mappings/ai/capability_taxonomy_governance.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/modernization.yaml
  .intent/enforcement/mappings/architecture/modularity.yaml
  .intent/enforcement/mappings/architecture/quality_gates.yaml
  .intent/enforcement/mappings/code/linkage.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/mappings/will/planning.yaml
Labels: governance
