Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs: add ADR-008 and session handoff 2026-04-22 evening
  .specs/decisions/ADR-008-constitutionalize-action-impact-level.md
  .specs/planning/session_handoff_2026-04-22_evening.md
Labels: none

fix(e690c374): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/body/atomic/fix_actions.py
Labels: feat, fix

fix(63d47846): Autonomous remediation: fix.placeholders (1 violation(s) — rules: purity.no_todo_placeholders)
  src/will/workers/violation_remediator.py
Labels: feat, fix

feat(governance): preserve IntentGuard violation structure into execution_results
  src/body/atomic/fix_actions.py
  src/mind/governance/violation_report.py
  src/shared/infrastructure/storage/file_handler.py
Labels: feat, fix

fix(governance): prefix-strip paths in FileHandler to preserve invariants
  src/shared/infrastructure/storage/file_handler.py
Labels: feat, fix

refactor(actions): hoist error-data helper to mind, adopt across action layer
  src/mind/governance/violation_report.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

chore: handsoff added.
  .specs/planning/handoff_2026-04-23_evening.md
Labels: none

docs(adr): ADR-009 — CLI-depth block transient; passive instrumentation over active probe
  .specs/decisions/ADR-009-cli-depth-block-passive-instrumentation.md
Labels: none

fix(d99f5919): Autonomous remediation: fix.placeholders (1 violation(s) — rules: purity.no_todo_placeholders)
  .specs/META/handoff.schema.json
  .specs/decisions/ADR-010-finding-proposal-contract.md
  .specs/planning/handoff-2026-04-24.md
  src/body/services/blackboard_service.py
  src/will/autonomy/proposal_state_manager.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(blackboard): restore resolved_at hygiene in four terminal-state methods
  src/body/services/blackboard_service.py
Labels: feat, fix

refactor(proposal-executor): move test.run_required posting to ProposalConsumerWorker
  .specs/planning/handoff-2026-04-24.md
  src/will/autonomy/proposal_executor.py
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

refactor: generalize post-execution finding-posting in ProposalConsumerWorker
  src/body/atomic/remediate_cognitive_role.py
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

docs: ADR-011 — Workers own blackboard attribution; services do not post
  .specs/decisions/ADR-011-worker-attribution-for-blackboard-entries.md
Labels: none

refactor: Worker orchestrates §7a revival + report; service no longer posts
  src/body/services/blackboard_service.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_state_manager.py
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

docs(remediate_cognitive_role): reword docstring to avoid ADR-011 rule pattern
  src/body/atomic/remediate_cognitive_role.py
Labels: feat, fix

feat(rules): ADR-011 enforcement — architecture.blackboard.worker_only_inserts
  .intent/enforcement/mappings/architecture/blackboard.yaml
  .intent/rules/architecture/blackboard.json
Labels: governance

docs(handoff): 2026-04-24 session 4 close — Band A (ADR-011) complete
  .specs/planning/handoff-2026-04-24.md
Labels: none

chore(ci): rename nightly-audit label from 'ci' to 'type:ci'
  .github/workflows/nightly-audit.yml
Labels: ci

chore(readme): sync release reference to v2.2.2
  README.md
Labels: docs

docs(readme): add autonomy status badge
  README.md
Labels: docs

docs(planning): add SESSION-PROTOCOL.md to version control
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

chore(specs): relocate handoff archive to .specs/state/handoffs/
  .specs/state/handoffs/handoff-2026-04-19.md
  .specs/state/handoffs/handoff-2026-04-20-evening.md
  .specs/state/handoffs/handoff-2026-04-20.md
  .specs/state/handoffs/handoff-2026-04-21.md
  .specs/state/handoffs/handoff-2026-04-24.md
  .specs/state/handoffs/handoff-2026-04-25.md
  .specs/state/handoffs/handoff_2026-04-23_evening.md
  .specs/state/handoffs/session_handoff_2026-04-21_evening.md
  .specs/state/handoffs/session_handoff_2026-04-22_evening.md
Labels: none

chore(gitignore): remove duplicate reports/ override
  .gitignore
Labels: none

chore(gitignore): ignore pytest-html output directory
  .gitignore
Labels: none

docs(a3-plan): sync plan with 2026-04-24 session close
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(protocol): update §2 to reflect handoff relocation
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

docs(plan): correct false #117 resolution claim and register ADR-012
  .specs/planning/CORE-A3-plan.md
Labels: none

chore(adr): add ADR-012-centralize-globstar-pattern-matching
  .specs/decisions/ADR-012-centralize-globstar-pattern-matching.md
Labels: none

feat(shared): add glob_match helper, deprecate path_utils shims, migrate redactor (ADR-012)
  poetry.lock
  pyproject.toml
  src/shared/infrastructure/context/redactor.py
  src/shared/utils/glob_match.py
  src/shared/utils/path_utils.py
  tests/shared/utils/test_glob_match.py
Labels: feat, fix, test, deps

refactor(governance): migrate path_validator to glob_match (ADR-012 §3)
  src/body/governance/path_validator.py
Labels: feat, fix

docs(state): map consequence-chain persistence and read-paths (#110)
  .specs/state/2026-04-25-consequence-chain-mapping.md
Labels: none

docs(a3-plan): sync plan with 2026-04-25 session close (#107 closed, Band B decomposed)
  .specs/planning/CORE-A3-plan.md
Labels: none

govern: close autonomy.tracing.mandatory findings
  .intent/enforcement/mappings/will/autonomy.yaml
  src/will/agents/tagger_agent.py
Labels: feat, fix, governance

fix(78e18eed): Autonomous remediation: fix.format (3 violation(s) — rules: workflow.ruff_format_check)
  src/body/services/cim/scanners.py
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/rooted_repository.py
  src/shared/intent/intent_repository.py
  src/shared/specs/specs_repository.py
Labels: feat, fix

govern: close 5 audit findings, fix scope.excludes wiring gap
  .intent/enforcement/mappings/code/purity.yaml
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/_knowledge_gate_duplication.py
  src/mind/logic/engines/knowledge_gate.py
  src/shared/infrastructure/rooted_repository.py
  src/shared/intent/intent_repository.py
  src/shared/specs/specs_repository.py
Labels: feat, fix, governance

fix(blackboard): post_report instead of post_finding in _post_failed
  src/will/workers/violation_remediator_body/blackboard.py
Labels: feat, fix

refactor(governance): migrate file_navigator and micro_proposal_executor to glob_match (ADR-012 §3)
  src/body/autonomy/micro_proposal_executor.py
  src/will/tools/file_navigator.py
Labels: feat, fix

chore(db): migration drops legacy core.proposals surface
  infra/scripts/migrations/20260426_drop_legacy_proposals.sql
Labels: none

refactor(orm): remove legacy Proposal and ProposalSignature classes
  src/shared/infrastructure/database/models/governance.py
Labels: feat, fix

refactor(orm): drop Proposal/ProposalSignature from models package exports
  src/shared/infrastructure/database/models/__init__.py
Labels: feat, fix
