Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(proposals): one way in for a change not born from a finding (producer build U7a)
  docs/reference/openapi.json
  src/api/v1/proposals_routes.py
  src/api/v1/schemas.py
  src/body/services/validated_candidate_service.py
  src/will/autonomy/producer_submission.py
  src/will/autonomy/proposal_factory.py
  tests/api/v1/test_proposals_routes.py
  tests/body/services/test_validated_candidate_service.py
  tests/will/autonomy/test_producer_submission.py
Labels: feat, fix, docs, test

feat(assistant-surface): validate_change + submit_change, and the D3 authority test (producer build U7b)
  src/cli/logic/assistant_tools.py
  tests/cli/logic/test_assistant_tools.py
Labels: feat, fix, test

chore(cli): declare core-cli 2.1.0; regenerate its reference (ADR-167 D2)
  Makefile
  docs/reference/core.md
Labels: docs

governance(registers): session-2 rows; submit route contracts (proposal 0015)
  .intent/enforcement/contracts/SubmitChangeRequest.json
  .intent/enforcement/contracts/SubmitChangeResponse.json
  .intent/governance/namespace_manifest.yaml
  .specs/registers/g4-action-register.md
  .specs/registers/lessons-register.md
Labels: governance

fix(assistant-surface): the patch reaches CORE byte for byte
  src/cli/logic/assistant_tools.py
  tests/cli/logic/test_assistant_tools.py
Labels: feat, fix, test

fix(sandbox): a live sandbox is never swept; a vanished one never falls through to the main repo
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/shared/infrastructure/git_service.py
  tests/body/atomic/test_assisted_actions.py
  tests/body/atomic/test_sandbox_declared_deletions.py
  tests/shared/infrastructure/test_git_service_sandbox_ownership.py
  tests/shared/infrastructure/test_git_service_worktree.py
Labels: feat, fix, test

test(proposals): the assisted-lane factory test passes a producer (CI 38060894074)
  tests/will/autonomy/test_proposal_lifecycle_no_draft.py
Labels: test

fix(4b015fe1-3be0-4b): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle.restore_paths (method)
  tests/body/atomic/__init__.py
  tests/body/atomic/sandbox_lifecycle/__init__.py
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

fix(3bd52a1f-e492-43): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle.checkpoint_paths (method)
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

fix(77534e3a-65d5-40): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle.propagate_changes (method)
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

fix(5803a868-caeb-48): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle.build_flow_execution_context (method)
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

fix(b764dbbe-1766-4d): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle.build_execution_context (method)
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

fix(639d0e2d-a532-43): Autonomous test generation: flow.build_test_for_symbol — src/body/atomic/sandbox_lifecycle.py::SandboxLifecycle (class)
  tests/body/atomic/sandbox_lifecycle/test_generated.py
Labels: test

governance(adr-132): D10 unparked - human-only governor account, sandbox runner service (proposal 0016)
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: none

feat(git): CORE's git never runs repository-supplied hooks or fsmonitor (ADR-132 D10.11 step 1)
  src/body/atomic/tool_runner.py
  src/shared/infrastructure/git_service.py
  tests/body/atomic/test_tool_runner.py
  tests/shared/infrastructure/test_git_service_no_repo_hooks.py
Labels: feat, fix, test

governance(registers): session-2 acceptance and close rows (proposal 0017)
  .specs/registers/g4-action-register.md
  .specs/registers/lessons-register.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
