Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(integration): #609 — POST /v1/integrate honours ADR-101 D1
  src/body/project_lifecycle/integration_service.py
  src/cli/logic/agent.py
Labels: feat, fix

test(autonomy): ADR-101 D1/D2/D3/D4 verification — ship the spec'd tests
  tests/will/autonomy/test_proposal_execution_pipeline_adr_101.py
Labels: test

chore(coverage): move 45% gate from pyproject to CI command line
  .github/workflows/core-ci.yml
  Makefile
  pyproject.toml
Labels: ci, deps

refactor(intent): migrate jsonschema RefResolver to referencing.Registry
  src/mind/governance/meta_validator.py
  src/shared/infrastructure/intent/intent_validator.py
  src/shared/infrastructure/intent/vocabulary_projection.py
  src/shared/workers/declaration_validator.py
Labels: feat, fix

fix(intent): clear purity.stable_id_anchor self-inflicted in fc7d6acd
  src/mind/governance/meta_validator.py
  src/shared/infrastructure/intent/intent_validator.py
  src/shared/infrastructure/intent/vocabulary_projection.py
  src/shared/workers/declaration_validator.py
Labels: feat, fix

fix(daemon): #611 — stagger one-shot worker cold-start to flatten CPU peak
  src/cli/commands/daemon.py
  tests/cli/test_daemon_startup_jitter.py
Labels: feat, fix, test

docs(governance): F-01 doc remediation — supersede Storage-Minimalism, scope Canonical-Form, mark Charter superseded
  .specs/CORE-CHARTER.md
  .specs/papers/CORE-Rule-Canonical-Form.md
  .specs/papers/CORE-Rule-Storage-Minimalism.md
Labels: none

fix(blackboard): #628 — indeterminate transitions co-assign resolution_mechanism='human' + symmetric guard
  .intent/enforcement/mappings/architecture/blackboard.yaml
  .intent/rules/architecture/blackboard.json
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
  src/body/services/blackboard_service/blackboard_service.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/indeterminate_human_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/test_indeterminate_requires_human_mechanism.py
Labels: feat, fix, test, governance

feat(governance): #628 — promote indeterminate_requires_human_mechanism to blocking
  .intent/rules/architecture/blackboard.json
Labels: governance

docs(adr): ADR-091 — add two-contract reader-orientation header
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(paper): CORE-Disposition-Governance — exploratory vision for internalizing the verification discipline
  .specs/papers/CORE-Disposition-Governance.md
Labels: none

feat(telemetry): #620 — populate llm_exchange_log.cost_estimate from a model-keyed rate table
  infra/scripts/migrations/20260613_620_llm_resource_rates.sql
  infra/scripts/migrations/20260613b_retire_llm_resources_cost_per_token.sql
  infra/sql/db_schema_live.sql
  src/shared/infrastructure/database/models/llm_config.py
  src/shared/infrastructure/database/models/operations.py
  src/shared/infrastructure/llm/client.py
  tests/shared/infrastructure/llm/test_cost_estimate.py
Labels: feat, fix, test

docs(paper): CORE-Instrument-Attestation — name the "no silent instrument" principle
  .specs/papers/CORE-Disposition-Governance.md
  .specs/papers/CORE-Instrument-Attestation.md
Labels: none

docs(planning): #563 Step-1 criterion re-verification — flag F-19 criterion unreliable
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(planning): #563 governor call — re-anchor F-19 onto open-backlog trajectory
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(telemetry): #563 — persist governor_inbox backlog into health-log payload
  src/body/services/health_log_service.py
  tests/body/services/test_health_log_service__governor_inbox.py
Labels: feat, fix, test

refactor(telemetry): #563 — single-source governor-inbox count, fix dashboard drift
  src/body/services/health_log_service.py
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs(adr): ADR-104 (Proposed) — orphaned-claim reaper, claim lifecycle is process-scoped
  .specs/decisions/ADR-104-orphaned-claim-reaper.md
Labels: none

feat(runtime): ADR-104 orphaned-claim reaper + D8 liveness lease
  .intent/enforcement/config/operational_config.yaml
  .specs/decisions/ADR-104-orphaned-claim-reaper.md
  infra/sql/db_schema_live.sql
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/shared/workers/base.py
  src/will/workers/blackboard_shop_manager.py
  tests/body/services/blackboard_service/blackboard_service/test_release_orphaned_claims.py
  tests/shared/workers/test_base__d8_lease.py
Labels: feat, fix, test, governance

docs(governance): #513/#514 — scope two stale universal claims to corpus reality
  .specs/papers/CORE-Features.md
  .specs/papers/CORE-Proposal.md
Labels: none

feat(governance): ADR-105 — .specs/ document model (Stage 1: foundation)
  .intent/META/enums.json
  .intent/artifact_types/adr.yaml
  .intent/artifact_types/paper.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/workers/repo_crawler.yaml
  .specs/META/adr.header.schema.json
  .specs/META/paper.header.schema.json
  .specs/decisions/ADR-027-sensor-fixer-coherence-detection.md
  .specs/decisions/ADR-105-specs-document-model.md
  .specs/papers/CORE-Capability-Taxonomy.md
  .specs/papers/CORE-Cognitive-Role-Capability-Resource-Taxonomy.md
  .specs/papers/CORE-Cognitive-Routing-and-Resource-Selection.md
  .specs/papers/CORE-Governance-Topology.md
  .specs/papers/CORE-V2-Command-Pattern-Reference.md
Labels: governance

feat(governance): ADR-105 — .specs/ header structural validator (Stage 2a)
  src/mind/governance/specs_doc_validator.py
  tests/mind/governance/test_specs_doc_validator.py
Labels: feat, fix, test

feat(test-gen): #574 dynamic follow-on — test.sandbox_validate execution gate
  .intent/enforcement/config/action_risk.yaml
  .intent/flows/flow.build_tests.yaml
  src/body/atomic/test_actions.py
  src/shared/infrastructure/validation/test_runner.py
  tests/body/atomic/test_sandbox_validate.py
Labels: feat, fix, test, governance

docs(claude.md): correct stale test-gen loop flags (#574/#572 closed)
  CLAUDE.md
Labels: none

fix(test-gen): unblock dynamic gate — register-policy id + FS evidence profiles
  .intent/taxonomies/operational_capabilities.yaml
  src/body/atomic/test_actions.py
Labels: feat, fix, governance

feat(test-gen): open autogen pilot scope 1->4 files
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

fix(autonomy): risk compute reads governed action_risk, not executor-init overlay
  src/will/autonomy/proposal.py
  tests/will/autonomy/test_proposal_compute_risk_flow.py
Labels: feat, fix, test

chore(test-gen): narrow autogen pilot scope 4->1 pending #629
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

feat(autonomy): ADR-106 — sandbox flow proposals in a hermetic worktree
  .specs/decisions/ADR-106-sandbox-flow-proposals.md
  src/body/atomic/sandbox_lifecycle.py
  src/body/atomic/test_actions.py
  src/shared/infrastructure/validation/test_runner.py
  src/will/autonomy/proposal_executor.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
Labels: feat, fix, test

docs(adr): ADR-106 — record live post-deploy verification
  .specs/decisions/ADR-106-sandbox-flow-proposals.md
Labels: none

docs(adr): ADR-107 (accepted) — flow commit set is declared production
  .specs/decisions/ADR-107-flow-commit-set-is-declared-production.md
Labels: none

feat(autonomy): ADR-107 — bound flow commit set to declared production
  src/body/atomic/build_tests_action.py
  src/body/atomic/sandbox_lifecycle.py
  src/will/autonomy/proposal_executor.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
Labels: feat, fix, test

docs(readme): align governance claims with verified source state
  README.md
Labels: docs

ci(workflow): drop unsupported Python 3.11 from CI matrix
  .github/workflows/core-ci.yml
Labels: ci

feat(autonomy): #637 — remediation-attempt cap (ADR-104 D9)
  .specs/decisions/ADR-104-orphaned-claim-reaper.md
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/proposal_consumer_revival.py
  tests/body/services/blackboard_service/blackboard_service/test_remediation_attempt_cap.py
Labels: feat, fix, test

chore(test-gen): reopen autogen pilot scope 1->4 now rails are in place
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

fix(c21cf7e8-1745-40): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/will/workers/audit_violation_filter/test_generated.py
Labels: test

fix(autonomy): #638 — thread worktree cwd into fix.format/fix.imports
  src/body/atomic/fix_actions.py
  src/body/self_healing/code_style_service.py
  src/shared/utils/subprocess_utils.py
  tests/body/atomic/test_fix_actions__action_fix_imports.py
  tests/body/atomic/test_fix_actions__action_format_code.py
Labels: feat, fix, test

chore(test-gen): narrow autogen pilot to one generatable file for #638 success-path verify
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

fix(dc29e671-4a59-40): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/body/self_healing/placeholder_fixer_service/test_generated.py
Labels: test
