Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix: align style.import_order sensor with ruff first-party config
  .intent/enforcement/mappings/code/style.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/mind/logic/engines/ast_gate/checks/import_checks.py
Labels: feat, fix, governance

feat: add audit_sensor_linkage — closes dead remediation entries
  .intent/workers/audit_sensor_linkage.yaml
Labels: governance

feat: add workers blackboard purge command
  .claude/settings.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/resources/workers/blackboard.py
Labels: feat, fix

chore: update docstring references from .intent/papers/ to .specs/papers/
  src/shared/infrastructure/config_service.py
  src/shared/infrastructure/database/session_manager.py
  src/shared/infrastructure/repositories/db/common.py
  src/will/workers/violation_executor.py
Labels: feat, fix

feat: add .specs/planning/ — home for roadmaps and operational plans
  .specs/planning/CORE-A3-plan.md
Labels: none

feat: add core-admin runtime dashboard — five-panel governor view
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs: update A3 plan — session 2026-04-15
  .claude/settings.json
  .claude/settings.local.json
  .intent/CORE-A3-plan.md
  .specs/planning/CORE-A3-plan.md
  .specs/requirements/CORE-Governor-Dashboard-URS.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
Labels: governance

feat(context): emit constitutional layer constraints before role inference
  .specs/requirements/CORE-Governor-Dashboard-URS.md
  src/cli/resources/context/build.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/models.py
  src/shared/infrastructure/context/service.py
Labels: feat, fix

fix(context): close cross-layer import failure mode in context build
  .specs/planning/CORE-A3-plan.md
  reports/pytest-report.html
Labels: none

fix(blackboard): close two Blackboard hygiene failure modes
  src/body/services/blackboard_service.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

feat(specs): make .specs/ layer fully visible to CORE's semantic layer
  .specs/northstar/CORE - What It Does.md
  src/body/atomic/sync_actions.py
  src/shared/config.py
  src/shared/infrastructure/specs/__init__.py
  src/shared/infrastructure/specs/specs_repository.py
  src/shared/infrastructure/vector/adapters/specs_adapter.py
  src/will/orchestration/intent_alignment.py
Labels: feat, fix

fix(context): wire core_policies, core-patterns, core_specs into context build evidence
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/providers/vectors.py
Labels: feat, fix

fix(vectors): correct core_specs source_path and wire into context build evidence
  src/shared/infrastructure/vector/adapters/specs_adapter.py
Labels: feat, fix

fix(vectors): add specs collection to query command, reduce layer constraints noise
  src/cli/resources/vectors/query.py
  src/shared/infrastructure/context/builder.py
Labels: feat, fix

fix(vectors): fix content display in core_specs query results
  src/cli/resources/context/build.py
  src/shared/infrastructure/vector/adapters/specs_adapter.py
  src/shared/models/embedding_payload.py
Labels: feat, fix

chore: A3 plan update.
  .specs/planning/CORE-A3-plan.md
Labels: none

docs: update all documentation to reflect current state
  CONTRIBUTING.md
  README.md
  docs/autonomy-ladder.md
  docs/cli-reference.md
  docs/contributing.md
  docs/getting-started.md
  docs/how-it-works.md
  docs/index.md
  docs/vocabulary.md
Labels: docs

feat(dashboard): redesign governor dashboard layout
  .intent/workers/blackboard_auditor.yaml
  .intent/workers/proposal_consumer_worker.yaml
  .intent/workers/violation_remediator.yaml
  .intent/workers/worker_auditor.yaml
  src/cli/resources/runtime/health.py
Labels: feat, fix, governance

feat(workers): activate governance and proposal path workers
  src/shared/workers/base.py
Labels: feat, fix

fix(aaac7495): Autonomous remediation: fix.format (8 violation(s) — rules: workflow.ruff_format_check)
  .intent/enforcement/mappings/style/formatter.yaml
  src/body/atomic/fix_actions.py
  src/mind/logic/engines/workflow_gate/checks/__init__.py
  src/mind/logic/engines/workflow_gate/checks/ruff_format.py
  src/mind/logic/engines/workflow_gate/engine.py
Labels: feat, fix, governance

fix(085e1d60): Autonomous remediation: fix.format (7 violation(s) — rules: workflow.ruff_format_check)
  .intent/enforcement/config/governance_paths.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/atomic/fix_actions.py
  src/body/self_healing/code_style_service.py
  src/cli/commands/fix/atomic_actions.py
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

fix(851f3126): Autonomous remediation: fix.format (6 violation(s) — rules: workflow.ruff_format_check)
  .specs/planning/CORE-A3-plan.md
  src/cli/resources/admin/self_check.py
Labels: feat, fix

fix(7511eb9e): Autonomous remediation: fix.format (5 violation(s) — rules: workflow.ruff_format_check)
  src/mind/governance/constitutional_auditor_dynamic.py
Labels: feat, fix

fix(651a7dff): Autonomous remediation: fix.format (4 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/ast_gate/checks/conservation_checks.py
Labels: feat, fix

fix(de2e08ff): Autonomous remediation: fix.format (3 violation(s) — rules: workflow.ruff_format_check)
  src/shared/self_healing/remediation_interpretation/file_context_assembler.py
Labels: feat, fix

fix(f4cdb33c): Autonomous remediation: fix.format (2 violation(s) — rules: workflow.ruff_format_check)
  src/shared/self_healing/remediation_interpretation/reasoning_brief_builder.py
Labels: feat, fix

fix(d41d8565): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/agents/conversational/agent.py
Labels: feat, fix

fix(2b64f594): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/body/services/blackboard_service.py
  src/cli/resources/runtime/health.py
Labels: feat, fix

Clean shared/ boundary violations
  .specs/decisions/ADR-002-shared-boundary-enforcement.md
  .specs/planning/CORE-A3-plan.md
  .specs/state/CORE-state-2026-04-18.md
Labels: none

fix(01ab7208): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/violation_remediator_body/blackboard.py
  src/will/workers/violation_remediator_body/worker.py
Labels: feat, fix

fix(3ad5fc84): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .intent/enforcement/config/test_coverage.yaml
  .intent/workers/test_coverage_sensor.yaml
  src/will/workers/test_coverage_sensor.py
Labels: feat, fix, governance

fix(0248e2c5): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .intent/enforcement/config/test_coverage.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/workers/test_remediator.yaml
  .intent/workers/test_runner_sensor.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/governance/traceability_matrix.json
  reports/pytest-report.html
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_remediator.py
  src/will/workers/test_runner_sensor.py
  src/will/workers/violation_remediator_body/blackboard.py
  src/will/workers/violation_remediator_body/worker.py
Labels: feat, fix, governance

fix(5c9ebbcd): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/test_remediator.py
Labels: feat, fix

fix: guard action_executor in build_tests_action for daemon path
  src/body/atomic/build_tests_action.py
Labels: feat, fix

feat: add --full-ids flag to proposals list command
  src/cli/resources/proposals/list.py
Labels: feat, fix

fix(f9ab85c8): Autonomous test remediation: build.tests (3 finding(s) — rules: test.missing, test.failure)
  tests/will/workers/blackboard_auditor/test_generated.py
Labels: test

docs(a3): update plan to end-of-day 2026-04-18 — Stream B complete, build.tests context gap recorded
  .specs/planning/CORE-A3-plan.md
  reports/governance/traceability_matrix.json
Labels: none

fix(test): repair truncated line in first autonomous test — blackboard_auditor
  tests/will/workers/blackboard_auditor/test_generated.py
Labels: test

governance: widen 7 enforcement rules, parameterize no_direct_writes check
  .intent/enforcement/mappings/ai/cognitive_role_governance.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/mappings/infrastructure/authority_boundaries.yaml
  .intent/rules/architecture/privileged_boundaries.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix, governance

governance: widen 1 rule, clean 3 stale-path references, discover fnmatch asymmetry
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/mappings/will/planning.yaml
  .specs/state/nested_scope_audit_2026-04-19.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: governance
