Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs: Update roadmap, architecture, and technical debt for A2 release
  Makefile
  README.md
  docs/core-concept/02_ARCHITECTURE.md
  docs/core-concept/04_ROADMAP.md
  docs/developer-guide/06-technical-debt.md
Labels: docs

docs: Update roadmap, architecture, and technical debt for A2 release
  Makefile
  README.md
  docs/core-concept/02_ARCHITECTURE.md
  docs/core-concept/04_ROADMAP.md
  docs/developer-guide/06-technical-debt.md
Labels: docs

docs: rewrite START HERE with plain-language before/after example
  .coveragerc
  .intent/charter/policies/quality_assurance.yaml
  .pre-commit-config.yaml
  coverage.json
  docs/00_START_HERE.md
  docs/index.md
  docs/planning/A2/A2-ROADMAP.md
  docs/planning/A2/PHASE1_DAY1_COMPLETE.md
  docs/planning/A2/PHASE_0_DECISION_CORRECTED.md
  docs/planning/A2/PHASE_1_IMPLEMENTATION_PLAN.md
  mkdocs.yml
  project_context.txt
  src/body/cli/commands/fix/all_commands.py
  src/features/demo/hello_world.py
  src/features/self_healing/capability_tagging_service.py
  src/will/agents/coder_agent.py
  src/will/agents/coder_agent_v0.py
  src/will/agents/coder_agent_v1.py
  src/will/tools/__init__.py
  src/will/tools/architectural_context_builder.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/module_descriptor.py
  src/will/tools/policy_vectorizer.py
  test_placement.py
  tests/fixtures/a2_validation_tasks.yaml
  tests/shared/test_logger.py
  tests/validation/test_a2_metrics.py
  tests/will/orchestration/test_cognitive_service.py
  tests/will/test_coder_agent_v1.py
  tests/will/tools/test_policy_vectorizer.py
Labels: feat, fix, docs, test, governance

docs: rewrite START HERE with plain-language before/after example
  .coveragerc
  .intent/charter/policies/quality_assurance.yaml
  .pre-commit-config.yaml
  coverage.json
  docs/00_START_HERE.md
  docs/index.md
  docs/planning/A2/A2-ROADMAP.md
  docs/planning/A2/PHASE1_DAY1_COMPLETE.md
  docs/planning/A2/PHASE_0_DECISION_CORRECTED.md
  docs/planning/A2/PHASE_1_IMPLEMENTATION_PLAN.md
  mkdocs.yml
  project_context.txt
  src/body/cli/commands/fix/all_commands.py
  src/features/demo/hello_world.py
  src/features/self_healing/capability_tagging_service.py
  src/will/agents/coder_agent.py
  src/will/agents/coder_agent_v0.py
  src/will/agents/coder_agent_v1.py
  src/will/tools/__init__.py
  src/will/tools/architectural_context_builder.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/module_descriptor.py
  src/will/tools/policy_vectorizer.py
  test_placement.py
  tests/fixtures/a2_validation_tasks.yaml
  tests/shared/test_logger.py
  tests/validation/test_a2_metrics.py
  tests/will/orchestration/test_cognitive_service.py
  tests/will/test_coder_agent_v1.py
  tests/will/tools/test_policy_vectorizer.py
Labels: feat, fix, docs, test, governance

chore: clean up .gitignore and remove generated files from tracking
  .gitignore
  coverage.json
  project_context.txt
  test_placement.py
Labels: none

chore: clean up .gitignore and remove generated files from tracking
  .gitignore
  coverage.json
  project_context.txt
  test_placement.py
Labels: none

chore: clean up scripts directory - move dev scripts to dev-scripts/
  .gitignore
  scripts/autonomous_testing.sh
  scripts/concat_bundle.py
  scripts/concat_project.sh
  scripts/export_core_context.py
  scripts/gh_status_report.sh
  scripts/nightly_coverage_remediation.py
  scripts/prompts/AcademicPeerReview.prompt
  scripts/prompts/StrategicTechnicalDebtAnalysis.prompt
  scripts/prompts/assesment.prompt
  scripts/prompts/remove_duplicates.prompt
Labels: none

chore: clean up scripts directory - move dev scripts to dev-scripts/
  .gitignore
  scripts/autonomous_testing.sh
  scripts/concat_bundle.py
  scripts/concat_project.sh
  scripts/export_core_context.py
  scripts/gh_status_report.sh
  scripts/nightly_coverage_remediation.py
  scripts/prompts/AcademicPeerReview.prompt
  scripts/prompts/StrategicTechnicalDebtAnalysis.prompt
  scripts/prompts/assesment.prompt
  scripts/prompts/remove_duplicates.prompt
Labels: none

feat: Introduce CommandResult pattern for CLI standardization
  .intent/charter/patterns/agent_patterns.yaml
  .intent/charter/patterns/command_patterns.yaml
  .intent/charter/patterns/service_patterns.yaml
  .intent/charter/patterns/workflow_patterns.yaml
  Makefile
  demos/use_claude.sh
  demos/use_deepseek.sh
  demos/v2.0.0/RECORDING_CHECKLIST.md
  docs/CORE_SYSTEM_MAP.md
  docs/patterns/README.md
  src/api/main.py
  src/body/cli/admin_cli.py
  src/body/cli/commands/check_patterns.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/logic/cli_utils.py
  src/body/cli/logic/pattern_checker.py
  src/features/autonomy/autonomous_developer.py
  src/features/project_lifecycle/definition_service.py
  src/mind/governance/audit_reporter.py
  src/mind/governance/audit_types.py
  src/mind/governance/auditor.py
  src/mind/governance/checks/capability_owner_check.py
  src/mind/governance/pattern_validator.py
  src/services/git_service.py
  src/services/llm/client_orchestrator.py
  src/services/llm/client_registry.py
  src/services/llm/providers/anthropic.py
  src/services/validation/python_validator.py
  src/shared/activity_logging.py
  src/shared/cli_types.py
  src/will/agents/coder_agent.py
  src/will/cli_logic/run.py
  src/will/orchestration/cognitive_service.py
  tests/body/cli/commands/fix/test_metadata_refactored.py
  tests/body/services/test_crate_creation_service.py
  tests/mind/governance/test_policy_loader.py
Labels: feat, fix, docs, test, governance

feat: Introduce CommandResult pattern for CLI standardization
  .intent/charter/patterns/agent_patterns.yaml
  .intent/charter/patterns/command_patterns.yaml
  .intent/charter/patterns/service_patterns.yaml
  .intent/charter/patterns/workflow_patterns.yaml
  Makefile
  demos/use_claude.sh
  demos/use_deepseek.sh
  demos/v2.0.0/RECORDING_CHECKLIST.md
  docs/CORE_SYSTEM_MAP.md
  docs/patterns/README.md
  src/api/main.py
  src/body/cli/admin_cli.py
  src/body/cli/commands/check_patterns.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/logic/cli_utils.py
  src/body/cli/logic/pattern_checker.py
  src/features/autonomy/autonomous_developer.py
  src/features/project_lifecycle/definition_service.py
  src/mind/governance/audit_reporter.py
  src/mind/governance/audit_types.py
  src/mind/governance/auditor.py
  src/mind/governance/checks/capability_owner_check.py
  src/mind/governance/pattern_validator.py
  src/services/git_service.py
  src/services/llm/client_orchestrator.py
  src/services/llm/client_registry.py
  src/services/llm/providers/anthropic.py
  src/services/validation/python_validator.py
  src/shared/activity_logging.py
  src/shared/cli_types.py
  src/will/agents/coder_agent.py
  src/will/cli_logic/run.py
  src/will/orchestration/cognitive_service.py
  tests/body/cli/commands/fix/test_metadata_refactored.py
  tests/body/services/test_crate_creation_service.py
  tests/mind/governance/test_policy_loader.py
Labels: feat, fix, docs, test, governance

feat: Implement DevSyncReporter workflow orchestration
  Makefile
  src/body/cli/admin_cli.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/workflows/__init__.py
  src/body/cli/workflows/dev_sync_reporter.py
Labels: feat, fix

feat: Implement DevSyncReporter workflow orchestration
  Makefile
  src/body/cli/admin_cli.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/workflows/__init__.py
  src/body/cli/workflows/dev_sync_reporter.py
Labels: feat, fix

feat: Establish CORE vision and atomic actions foundation
  .intent/charter/patterns/atomic_actions.yaml
  docs/MIGRATION_GUIDE.md
  docs/THE_VISION.md
  docs/architecture/ATOMIC_ACTIONS.md
  docs/css/no-sidebars.css
  full_docs_context.txt
  mkdocs.yml
Labels: docs, governance

feat: Establish CORE vision and atomic actions foundation
  .intent/charter/patterns/atomic_actions.yaml
  docs/MIGRATION_GUIDE.md
  docs/THE_VISION.md
  docs/architecture/ATOMIC_ACTIONS.md
  docs/css/no-sidebars.css
  full_docs_context.txt
  mkdocs.yml
Labels: docs, governance

docs: Add THE VISION constitutional document
  docs/THE_VISION.md
Labels: docs

docs: Add THE VISION constitutional document
  docs/THE_VISION.md
Labels: docs

docs: Add THE VISION and clean CLI output for demos
  README.md
  core-INTRO.cast
  src/body/cli/workflows/dev_sync_reporter.py
  src/shared/activity_logging.py
Labels: feat, fix, docs

docs: Add THE VISION and clean CLI output for demos
  README.md
  core-INTRO.cast
  src/body/cli/workflows/dev_sync_reporter.py
  src/shared/activity_logging.py
Labels: feat, fix, docs

docs: Add THE VISION and clean CLI output
  README.md
Labels: docs

docs: Add THE VISION and clean CLI output
  README.md
Labels: docs

feat: Migrate fix.ids and fix.headers to ActionResult
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/shared/action_types.py
  src/shared/atomic_action.py
  tests/body/cli/commands/fix/test_migrated_actions.py
  tests/shared/test_action_types.py
Labels: feat, fix, test

feat: Migrate fix.ids and fix.headers to ActionResult
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/shared/action_types.py
  src/shared/atomic_action.py
  tests/body/cli/commands/fix/test_migrated_actions.py
  tests/shared/test_action_types.py
Labels: feat, fix, test

Add GitHub sponsor username
  .github/FUNDING.yml
Labels: none

Add GitHub sponsor username
  .github/FUNDING.yml
Labels: none

refactor: Apply body-ui headless pattern to enrichment_service.py
  .intent/charter/constitution/immutable_principles.yaml
  .intent/charter/patterns/atomic_actions.yaml
  .intent/charter/patterns/body_contracts.yaml
  .intent/charter/patterns/service_patterns.yaml
  .intent/charter/patterns/workflow_patterns.yaml
  .intent/mind/prompts/body_ui_cleaner.md
  Makefile
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/body_ui.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/body_contracts_checker.py
  src/body/cli/logic/body_contracts_fixer.py
  src/features/project_lifecycle/definition_service.py
  src/features/self_healing/enrichment_service.py
  src/features/self_healing/id_tagging_service.py
  src/features/self_healing/policy_id_service.py
Labels: feat, fix, governance

refactor: remove duplicate atomic_actions handler and checkpoint before logging standardization
  .gitignore
  .intent/charter/constitution/critical_paths.yaml
  .intent/charter/policies/code_purity.yaml
  src/api/main.py
  src/body/cli/commands/develop.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/atomic_actions.py
  src/body/cli/commands/fix/atomic_actions_cmd.py
  src/body/cli/commands/inspect.py
  src/body/services/service_registry.py
  src/services/llm/providers/openai.py
  src/shared/cli_utils.py
  src/test_hello.py
  src/will/agents/code_generation/pattern_validator.py
Labels: feat, fix, governance

feat(infra): Implement standardized JSON logging infrastructure and governance
  .intent/charter/policies/logging_standards.yaml
  audit_output.txt
  src/body/cli/admin_cli.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/tools.py
  src/body/services/crate_processing_service.py
  src/body/services/service_registry.py
  src/features/introspection/sync_service.py
  src/features/maintenance/dotenv_sync_service.py
  src/features/maintenance/scripts/__init__.py
  src/features/maintenance/scripts/context_export.py
  src/features/maintenance/scripts/vector_verify.py
  src/features/self_healing/accumulative_test_service.py
  src/features/self_healing/batch_remediation_service.py
  src/features/self_healing/clarity_service.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/docstring_service.py
  src/features/self_healing/full_project_remediation.py
  src/features/self_healing/header_service.py
  src/features/self_healing/iterative_test_fixer.py
  src/features/self_healing/single_file_remediation.py
  src/mind/governance/audit_context.py
  src/mind/governance/checks/logging_standards_check.py
  src/services/llm/client_orchestrator.py
  src/services/repositories/db/migration_service.py
  src/shared/activity_logging.py
  src/shared/cli_utils.py
  src/shared/context.py
  src/shared/logger.py
  src/will/agents/base_planner.py
  src/will/agents/tagger_agent.py
  src/will/tools/architectural_context_builder.py
Labels: feat, fix, governance

feat: migrate to ActionResult pattern (86.7% compliance)
  src/body/cli/commands/fix/atomic_actions.py
  src/body/cli/commands/fix/atomic_actions_cmd.py
  src/body/cli/commands/secrets.py
  src/services/context/cli.py
Labels: feat, fix

feat(infra): Implement standardized JSON logging infrastructure and governance
  .intent/charter/policies/logging_standards.yaml
  audit_output.txt
  src/body/cli/admin_cli.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/tools.py
  src/body/services/crate_processing_service.py
  src/body/services/service_registry.py
  src/features/introspection/sync_service.py
  src/features/maintenance/dotenv_sync_service.py
  src/features/maintenance/scripts/__init__.py
  src/features/maintenance/scripts/context_export.py
  src/features/maintenance/scripts/vector_verify.py
  src/features/self_healing/accumulative_test_service.py
  src/features/self_healing/batch_remediation_service.py
  src/features/self_healing/clarity_service.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/docstring_service.py
  src/features/self_healing/full_project_remediation.py
  src/features/self_healing/header_service.py
  src/features/self_healing/iterative_test_fixer.py
  src/features/self_healing/single_file_remediation.py
  src/mind/governance/audit_context.py
  src/mind/governance/checks/logging_standards_check.py
  src/services/llm/client_orchestrator.py
  src/services/repositories/db/migration_service.py
  src/shared/activity_logging.py
  src/shared/cli_utils.py
  src/shared/context.py
  src/shared/logger.py
  src/will/agents/base_planner.py
  src/will/agents/tagger_agent.py
  src/will/tools/architectural_context_builder.py
Labels: feat, fix, governance

checkpoint: before integrating additional logging fixer into dev sync
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/audit.py
  src/body/cli/logic/body_contracts_fixer.py
  src/mind/governance/audit_reporter.py
  src/shared/utils/parallel_processor.py
Labels: feat, fix

feat: add observability constitutional policy
  .intent/charter/policies/observability.yaml
Labels: governance

feat: migrate to ActionResult pattern (86.7% compliance)
  src/body/cli/commands/fix/atomic_actions.py
  src/body/cli/commands/fix/atomic_actions_cmd.py
  src/body/cli/commands/secrets.py
  src/services/context/cli.py
Labels: feat, fix

feat: add observability constitutional policy
  .intent/charter/policies/observability.yaml
Labels: governance

chore: final sync after architecture cleanup and documentation updates
  .github/dependabot.yml
  .github/workflows/nightly-audit.yml
  log.txt
  symbols-errors.txt
  uuid_blocks_src.txt
Labels: ci

chore: final sync after architecture cleanup and documentation updates
  .github/dependabot.yml
  .github/workflows/nightly-audit.yml
  log.txt
  symbols-errors.txt
  uuid_blocks_src.txt
Labels: ci

refactor: Apply body-ui headless pattern to enrichment_service.py
  .intent/charter/constitution/immutable_principles.yaml
  .intent/charter/patterns/atomic_actions.yaml
  .intent/charter/patterns/body_contracts.yaml
  .intent/charter/patterns/service_patterns.yaml
  .intent/charter/patterns/workflow_patterns.yaml
  .intent/mind/prompts/body_ui_cleaner.md
  Makefile
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/body_ui.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/body_contracts_checker.py
  src/body/cli/logic/body_contracts_fixer.py
  src/features/project_lifecycle/definition_service.py
  src/features/self_healing/enrichment_service.py
  src/features/self_healing/id_tagging_service.py
  src/features/self_healing/policy_id_service.py
Labels: feat, fix, governance

checkpoint: before integrating additional logging fixer into dev sync
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/fix_logging.py
  src/body/cli/logic/audit.py
  src/body/cli/logic/body_contracts_fixer.py
  src/mind/governance/audit_reporter.py
  src/shared/utils/parallel_processor.py
Labels: feat, fix

feat: achieve 100% atomic actions compliance 🏆
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/manage/policies.py
Labels: feat, fix

checkpoint: before safe LOG-003 fixer
  src/body/cli/commands/fix_logging.py
Labels: feat, fix

refactor: remove duplicate atomic_actions handler and checkpoint before logging standardization
  .gitignore
  .intent/charter/constitution/critical_paths.yaml
  .intent/charter/policies/code_purity.yaml
  src/api/main.py
  src/body/cli/commands/develop.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/atomic_actions.py
  src/body/cli/commands/fix/atomic_actions_cmd.py
  src/body/cli/commands/inspect.py
  src/body/services/service_registry.py
  src/services/llm/providers/openai.py
  src/shared/cli_utils.py
  src/test_hello.py
  src/will/agents/code_generation/pattern_validator.py
Labels: feat, fix, governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
