Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(how-it-works): fix engine count drift — add attestation_gate, thirteen→fourteen
  docs/how-it-works.md
Labels: docs

feat(byor): replace CORE-specific starter.symbol_ids with domain-general rules
  examples/starter-intent/.intent/enforcement/mappings/starter.yaml
  examples/starter-intent/.intent/rules/starter.json
  examples/starter-intent/src/hello.py
  examples/starter-intent/verify.sh
  pyproject.toml
  tests/mind/governance/test_stateless_audit__fails_closed.py
Labels: test, deps

feat(byor): Scout Gap 2 — separate observation from enforcement (ADR-119)
  src/cli/logic/scout.py
  src/mind/logic/scout_inducer.py
  var/prompts/scout_rule_inducer/enforcement_catalog.yaml
  var/prompts/scout_rule_inducer/examples.json
  var/prompts/scout_rule_inducer/model.yaml
  var/prompts/scout_rule_inducer/system.txt
Labels: feat, fix

docs(adr-119): amend D7 fallback menu — remove symbol_ids, add no_secrets
  .specs/decisions/ADR-119-scout-byor-path-1-induction.md
Labels: none

test(audit_violation_normalizer): hand-write unit tests to close chronic flow.build_tests loop
  tests/will/workers/audit_violation_normalizer/test_normalize_audit_findings.py
Labels: test

fix(cli_gate): standard_verbs check must examine final segment, not parts[1]
  src/mind/logic/engines/cli_gate/checks/standard_verbs.py
  tests/mind/logic/engines/cli_gate/checks/standard_verbs/test_standard_verbs_check.py
Labels: feat, fix, test

feat(intent/cli): expand allowed_verbs with 9 domain idioms (2026-06-23)
  .intent/enforcement/mappings/cli/interface_design.yaml
Labels: governance

fix(autonomy): close three autonomy gaps — counter inheritance, high_reasoning, orphan proposals
  .intent/enforcement/config/operational_config.yaml
  .intent/workers/proposal_pipeline_shop_manager.yaml
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/will/agents/coder_agent.py
  src/will/agents/cognitive_orchestrator.py
  src/will/agents/resource_selector.py
  src/will/orchestration/cognitive_service.py
  src/will/workers/proposal_pipeline_shop_manager.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/agents/test_resource_selector_high_reasoning.py
  tests/will/workers/test_proposal_pipeline_shop_manager_retire.py
  tests/will/workers/test_test_remediator_count_inheritance.py
Labels: feat, fix, test, governance

fix(autonomy): circuit breaker — abandon cap-exhausted findings before proposal creation
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: feat, fix, test

fix(a911bcdf-6c91-4d): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/will/workers/test_remediator/_operations.py
Labels: feat, fix

fix(autonomy): close three more autonomy gaps — fix.format sandbox skip, event loop starvation, ViolationExecutor cap
  src/body/atomic/fix_actions.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/will/workers/violation_executor.py
  tests/will/workers/test_violation_executor_cap.py
Labels: feat, fix, test

fix(autonomy): circuit breaker — ViolationRemediator must stamp attempt count on abandon
  src/will/workers/violation_remediator_body/blackboard.py
Labels: feat, fix

docs(planning): ADR-105 Stage 2b completion plan
  .specs/planning/ADR-105-stage2b-completion-plan.md
Labels: none

feat(specs): ADR-105 Stage 2b complete — frontmatter migration, validator wiring, and .intent schema fixes
  .intent/META/artifact_type.schema.json
  .intent/META/worker.schema.json
  .intent/workers/document_corpus_sensor.yaml
  .intent/workers/proposal_pipeline_shop_manager.yaml
  .specs/decisions/ADR-112-framework-floor-mirrors-registry.md
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  .specs/decisions/ADR-117-var-tmp-janitor-worker.md
  .specs/decisions/ADR-119-scout-byor-path-1-induction.md
  .specs/decisions/ADR-120-t5a-repository-adapter-interface.md
  .specs/decisions/ADR-121-t5b-grc-document-repository-type.md
  .specs/decisions/ADR-122-t5d-internal-corpus-ingestion-pipeline.md
  .specs/decisions/ADR-123-t4-onboard-stage-flag.md
  .specs/decisions/ADR-124-user-access-control.md
  .specs/decisions/ADR-125-web-frontend-architecture.md
  src/cli/resources/constitution/validate.py
  src/will/workers/document_corpus_sensor.py
  tests/mind/governance/test_specs_doc_validator.py
  tests/will/workers/test_document_corpus_sensor.py
Labels: feat, fix, test, governance

chore(planning): archive ADR-105 stage 2b completion plan
  .specs/planning/archive/ADR-105-stage2b-completion-plan.md
Labels: none

docs(contract): update §4.4 — replace stale write prohibition with Path A/B gate
  .specs/planning/INTERACTION-CONTRACT.md
Labels: none

fix(scout): address BYOR external validation gaps (#685-#689, B4)
  .specs/planning/CORE-Scout-External-Validation-click.md
  .specs/planning/CORE-Scout-v2-Workplan.md
  src/cli/logic/scout.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  var/prompts/scout_rule_inducer/enforcement_catalog.yaml
  var/prompts/scout_rule_inducer/model.yaml
Labels: feat, fix

fix(scout): narrow bare_except signal counter to true bare excepts only (#687)
  src/cli/logic/scout.py
  tests/cli/logic/test_scout.py
Labels: feat, fix, test

test(atomic): add registry-vs-floor action_risk coverage gate (#685)
  tests/body/atomic/test_machinery_floor_action_risk_coverage.py
Labels: test

feat(grc): wire canonical embedding path + governance boundary rule
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/rules/architecture/privileged_boundaries.json
  CLAUDE.md
  src/body/services/grc/gap_analysis_service.py
  src/body/services/grc/internal_corpus.py
  src/cli/resources/grc/gap_analysis.py
  src/cli/resources/grc/ingest.py
  src/mind/logic/engines/grc_judge.py
  src/mind/logic/engines/registry.py
  src/shared/utils/embedding_utils.py
  tests/body/services/grc/test_gap_analysis_service.py
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
  tests/mind/logic/engines/test_grc_judge__GRCJudgeEngine.py
  tests/mind/logic/engines/test_registry__EngineRegistry.py
Labels: feat, fix, test, governance

fix(grc): silence spurious Qdrant ERROR logs for absent internal corpus
  src/mind/logic/engines/grc_judge.py
  src/shared/infrastructure/clients/qdrant_client.py
Labels: feat, fix

docs(planning): add commercial cadence + pharma pilot entries to session protocol
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

fix(runtime): resolve 8 dashboard/health correctness findings from code review
  src/cli/resources/runtime/health.py
Labels: feat, fix

fix(cli): resolve 5 blocking constitutional violations across CLI surface
  src/cli/commands/fix/db_tools.py
  src/cli/logic/db_manage.py
  src/cli/resources/grc/ingest.py
  src/cli/resources/proposals/integrate.py
  src/cli/resources/workers/blackboard.py
Labels: feat, fix

fix(cli): resolve 4 non-blocking correctness bugs across CLI surface
  src/cli/commands/fix/all_commands.py
  src/cli/commands/governance.py
  src/cli/resources/constitution/audit.py
  src/cli/resources/vectors/cleanup.py
Labels: feat, fix

fix(forensics): escape LIKE metacharacters in session_id pattern
  src/cli/logic/governance/forensics_service.py
Labels: feat, fix

fix(c07c9bef-dc72-4b): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/api/main.py
Labels: feat, fix

fix(byor): patch starter-intent action_risk gap + add drift test (#685)
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  tests/body/atomic/test_machinery_floor_action_risk_coverage.py
Labels: test

feat(cli): add --target flag to code audit + IntentRepository root param (#688)
  src/cli/logic/byor.py
  src/cli/resources/code/audit.py
  src/shared/infrastructure/intent/intent_repository.py
Labels: feat, fix

feat(scout): expand enforcement catalog 6→11 + future_annotations/type_annotations checks (B3)
  src/mind/logic/engines/ast_gate/checks/naming_checks.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/checks/test_naming_checks__NamingChecks.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
  var/prompts/scout_rule_inducer/enforcement_catalog.yaml
Labels: feat, fix, test

feat(scout): replace file-sampling detect with full-repo AST extraction (B1)
  src/cli/logic/scout.py
  src/mind/logic/scout_inducer.py
  tests/cli/logic/test_scout.py
  var/prompts/scout_rule_inducer/user.txt
Labels: feat, fix, test

fix(b59419a9-1bf5-40): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/mind/logic/scout_inducer/test_generated.py
Labels: test

fix(3aa23245-152f-4f): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/cli/logic/scout.py
Labels: feat, fix

fix(db): add llm_exchange_log partitions for 2026-07 through 2026-12
  infra/sql/add_llm_partitions_2026_07_to_12.sql
  infra/sql/db_schema_live.sql
Labels: none

fix(cli): run daemon-reload before up/restart in core-admin daemon
  src/cli/commands/daemon.py
Labels: feat, fix

fix(infra): move StartLimitBurst/StartLimitIntervalSec to [Unit] section
  infra/systemd/core-api.service
  infra/systemd/core-daemon.service
Labels: none

fix(intent): remove dead file_handler.py excludes entry — ADR-126 Stage 3
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

test(mind): add end-to-end rule-fires tests per engine type
  tests/mind/governance/test_rule_fires__per_engine_type.py
Labels: test

feat(db): introduce SQL migration ledger — infra/migrations/manifest.yaml
  infra/migrations/manifest.yaml
  src/cli/resources/database/migrate.py
  src/shared/infrastructure/repositories/db/common.py
  src/shared/infrastructure/repositories/db/migration_service.py
  tests/shared/infrastructure/test_migration_ledger.py
Labels: feat, fix, test

fix(security): replace in-memory deny-list with DB-backed implementation (ADR-124 D4)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260626_add_blackboard_subject_status_index.sql
  infra/scripts/migrations/20260626_create_llm_exchange_log_2026_07_12_partitions.sql
  infra/scripts/migrations/20260626_create_suspended_users.sql
  infra/sql/db_schema_live.sql
  src/body/infrastructure/lifespan.py
  src/body/services/auth/deny_list.py
  src/body/services/auth/service.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
