Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs: A3 plan + CHANGELOG — ADR-037
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

fix(llm): fallback chain on 402/429 for cognitive role clients (#293)
  src/shared/exceptions.py
  src/shared/infrastructure/llm/fallback_client.py
  src/will/agents/cognitive_orchestrator.py
  src/will/agents/resource_selector.py
  tests/shared/infrastructure/llm/test_fallback_client.py
Labels: feat, fix, test

fix(llm): lazy fallback chain + provisioning-error skip (#293 follow-up)
  src/shared/exceptions.py
  src/shared/infrastructure/llm/fallback_client.py
  src/will/agents/cognitive_orchestrator.py
  tests/shared/infrastructure/llm/test_fallback_client.py
Labels: feat, fix, test

test(intent_guard): pin _AUDIT_ENGINES skip set (#142 / #292 regression)
  tests/body/governance/test_intent_guard__audit_engines.py
Labels: test

fix(modularity): typed symbol inventory + non-local plan gate (#296)
  src/body/atomic/modularity_fix.py
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
Labels: feat, fix

fix(80f0d0f0-5a88-4f): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids)
  src/body/atomic/modularity_fix.py
Labels: feat, fix

fix(4bb4ca8e-4f1a-4f): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/atomic/modularity_fix/test_generated.py
Labels: test

fix(modularity): replace categorical confidence with 0.0-1.0 float (#296 follow-up)
  src/body/atomic/split_plan.py
  var/prompts/modularity_analyze/model.yaml
  var/prompts/modularity_analyze/system.txt
  var/prompts/modularity_analyze/user.txt
Labels: feat, fix

fix(4a690b87-6016-4c): Split modularity violator blackboard_service.py (#296 follow-up — float confidence retry)
  src/body/services/blackboard_service.py
Labels: feat, fix

fix(blackboard): track new package files left untracked by auto-commit
  src/body/services/blackboard_service/__init__.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_service.py
Labels: feat, fix

fix(proposal_executor): stage files_produced alongside scope at commit time (#297)
  src/will/autonomy/proposal_executor.py
  tests/will/autonomy/test_proposal_executor_files_produced.py
Labels: feat, fix, test

fix(c431af9e-241f-45): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(e6b4081d-73a7-4b): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/will/workers/violation_remediator/test_generated.py
Labels: test

ADR-038: circuit-breaker on repeated proposal failures (closes #281)
  .intent/CHANGELOG.md
  .intent/enforcement/config/circuit_breaker.yaml
  .specs/decisions/ADR-038-circuit-breaker-on-repeated-proposal-failures.md
  src/will/workers/circuit_breaker.py
  tests/will/workers/test_circuit_breaker_count.py
  tests/will/workers/test_circuit_breaker_signature.py
Labels: feat, fix, test, governance

chore(tests): apply ruff-format collapses on two test files
  tests/body/governance/test_intent_guard__audit_engines.py
  tests/shared/infrastructure/llm/test_fallback_client.py
Labels: test

fix(4d3f014d-56f6-47): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/circuit_breaker.py
Labels: feat, fix

fix(3176891d-7e00-4d): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/will/workers/circuit_breaker/test_generated.py
Labels: test

fix(cli): render Rich content via console.print (closes #295)
  src/cli/logic/decision_inspect_logic.py
  src/cli/resources/admin/summary.py
Labels: feat, fix

fix(autonomy): sanitize three sibling JSONB fields on proposal_mapper write path (closes #291)
  src/will/autonomy/proposal_mapper.py
  tests/will/autonomy/test_proposal_mapper_sanitize.py
Labels: feat, fix, test

fix(cli): proposals reject revives deferred findings (closes #286)
  src/cli/resources/proposals/manage.py
  tests/cli/resources/proposals/test_reject_revives_findings.py
Labels: feat, fix, test

feat(audit): per-file scope via --files for code audit and check rule (closes #279)
  src/cli/commands/check/rule.py
  src/cli/resources/code/audit.py
  src/mind/governance/filtered_audit.py
  src/mind/governance/rule_executor.py
  tests/mind/governance/test_filtered_audit__file_filter.py
Labels: feat, fix, test

fix(1bf69390-213b-48): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/governance/filtered_audit.py
Labels: feat, fix

docs: add ADR-038 to A3 plan ADR index (2026-05-11)
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(c5216112-685e-46): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/governance/filtered_audit/test_generated.py
Labels: test

feat: author proposal_lifecycle governance rules, retire transitional autonomy ref
  .intent/enforcement/mappings/will/proposal_lifecycle.yaml
  .intent/rules/will/proposal_lifecycle.json
  src/body/atomic/proposal_lifecycle_actions.py
Labels: feat, fix, governance

fix(465554f0-86a1-4d): Autonomous remediation: fix.headers (1 violation(s) — rules: layout.src_module_header)
  src/body/services/blackboard_service/__init__.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_service.py
Labels: feat, fix

fix(c636e048-2dd6-40): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/will/workers/circuit_breaker.py
Labels: feat, fix

fix(d109455c-3142-46): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/services/blackboard_service/blackboard_service/test_generated.py
Labels: test

fix(023a1c6e-bc20-46): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/services/blackboard_service/__init__/test_generated.py
Labels: test

fix(40af4b62-3087-4f): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/services/blackboard_service/blackboard_proposal_service/test_generated.py
Labels: test

fix(feb15e48-1eda-4e): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/will/workers/circuit_breaker/test_generated.py
Labels: test

feat: per-cycle audit-input cache invalidation (ADR-039)
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
  src/mind/governance/audit_context.py
  src/mind/governance/auditor.py
  src/mind/governance/filtered_audit.py
  src/shared/infrastructure/intent/intent_repository.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

docs(adr-039): link to tracking issue #298
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: none

docs: add ADR-039 to A3 plan ADR index and CHANGELOG (2026-05-12)
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

ADR-040: no hardcoded values in src/
  .intent/CHANGELOG.md
  .specs/decisions/ADR-040-no-hardcoded-config-values.md
Labels: governance

feat: add operational_config loader (ADR-040 step 2)
  .intent/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
Labels: feat, fix, governance

feat: wire workers/blackboard/daemon sections to operational_config (ADR-040)
  src/body/services/blackboard_service/blackboard_service.py
  src/body/services/health_log_service.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/doc_writer.py
  src/body/workers/prompt_artifact_writer.py
  src/cli/commands/daemon.py
  src/will/workers/blackboard_shop_manager.py
  src/will/workers/capability_tagger.py
  src/will/workers/coherence_sensor.py
  src/will/workers/doc_worker.py
  src/will/workers/intent_inspector.py
  src/will/workers/observer_worker.py
  src/will/workers/prompt_extractor_worker.py
  src/will/workers/proposal_consumer_worker.py
  src/will/workers/violation_executor.py
  src/will/workers/violation_remediator_body/blackboard.py
  src/will/workers/violation_remediator_body/context.py
  src/will/workers/violation_remediator_body/worker.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

feat: wire coverage section to operational_config (ADR-040)
  src/body/quality/coverage_analyzer.py
  src/cli/commands/check/quality_gates.py
  src/cli/commands/coverage/check_commands.py
  src/cli/commands/coverage/services/gaps_analyzer.py
  src/mind/logic/engines/workflow_gate/checks/coverage.py
  src/will/self_healing/batch_remediation_service.py
  src/will/self_healing/coverage_watcher.py
  src/will/self_healing/single_file_remediation.py
Labels: feat, fix

feat: wire llm section to operational_config loader (ADR-040)
  src/body/services/llm_client.py
  src/shared/ai/prompt_model.py
  src/shared/config.py
  src/shared/infrastructure/llm/client.py
  src/shared/infrastructure/llm/providers/anthropic.py
  src/shared/infrastructure/llm/providers/base.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/shared/infrastructure/llm/providers/openai.py
  src/shared/models/prompt_model.py
  src/shared/protocols/llm.py
Labels: feat, fix

feat: wire workflow_gate section to operational_config (ADR-040)
  src/mind/logic/engines/workflow_gate/checks/import_resolution.py
  src/mind/logic/engines/workflow_gate/checks/linter.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/mind/logic/engines/workflow_gate/checks/ruff_format.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
