Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

governance(no-direct-writes): close deletion gap; route monolith deletes through FileHandler (closes #451)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  src/body/atomic/modularity_fix.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/will/phases/execution_phase.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
Labels: feat, fix, test, governance

feat(executor): ADR-071 D2.2 Phase 2+3 — hermetic action execution + race-reproducer
  src/body/atomic/executor.py
  src/shared/infrastructure/storage/file_handler.py
  src/will/autonomy/proposal_executor.py
  tests/body/atomic/test_executor_worktree_isolation.py
Labels: feat, fix, test

docs(adr): ADR-071 D2.2 — Implemented (2026-05-25); document as-shipped design
  .specs/decisions/ADR-071-action-diff-coherence.md
Labels: none

governance(mutation-surface): mirror no_direct_writes excludes from logic_mutation rule + fix latent path bug
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
Labels: governance

fix(intent): remove dead severity/message fields from enforcement mappings
  .intent/enforcement/mappings/ai/prompt_artifact_structure.yaml
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/governance/quarantine.yaml
  .intent/enforcement/mappings/governance/remediation.yaml
  .intent/enforcement/mappings/governance/vocabulary_canonical_store.yaml
  .intent/enforcement/mappings/governance/vocabulary_registers.yaml
Labels: governance

docs(intent): drop stale severity-vocabulary amendment comments
  .intent/enforcement/mappings/ai/prompt_artifact_structure.yaml
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/governance/quarantine.yaml
  .intent/enforcement/mappings/governance/remediation.yaml
  .intent/enforcement/mappings/governance/vocabulary_canonical_store.yaml
Labels: governance

fix(intent): activate no_direct_json_import + narrow to file-access constructs
  .intent/enforcement/mappings/governance/vocabulary_canonical_store.yaml
Labels: governance

chore: gitignore .venv/
  .gitignore
Labels: none

governance(topology): accept CORE-Governance-Topology paper + 3 ADR drift fixes from CCC R3b triage
  .intent/rules/architecture/modularity.json
  .specs/decisions/ADR-011-worker-attribution-for-blackboard-entries.md
  .specs/decisions/ADR-023-vocabulary-canonical-store.md
  .specs/papers/CORE-Governance-Topology.md
Labels: governance

fix(46e2dd2c-5e03-4e): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/coherence/checks/specgap.py
Labels: feat, fix

governance(ccc): accept ADR-073 + close UR grounding gap in CCC and topology papers
  .specs/decisions/ADR-073-ccc-scanner-redesign.md
  .specs/papers/CORE-ConstitutionalCoherenceChecker.md
  .specs/papers/CORE-Governance-Topology.md
Labels: none

feat(ccc): implement ADR-073 scanner redesign — 7 check classes + incremental embedder
  .intent/enforcement/config/normative_markers.yaml
  .intent/enforcement/config/phase_responsibility.yaml
  .intent/workers/governance_embedder.yaml
  src/body/governance/coherence_harvester.py
  src/body/services/governance_claims_service.py
  src/cli/resources/coherence/__init__.py
  src/cli/resources/coherence/seed.py
  src/mind/coherence/checker.py
  src/mind/coherence/checks/__init__.py
  src/mind/coherence/checks/base.py
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/row2_grounding.py
  src/mind/coherence/checks/row3_citation.py
  src/mind/coherence/checks/row4_naming.py
  src/mind/coherence/checks/sameconcern.py
  src/mind/coherence/checks/vocabulary.py
  src/mind/coherence/llm_judge.py
  src/will/workers/governance_embedding/__init__.py
  src/will/workers/governance_embedding/governance_embedder_worker.py
Labels: feat, fix, governance

fix(c4e868db-de78-44): Autonomous remediation: fix.ids (3 violation(s) — rules: purity.stable_id_anchor)
  src/cli/resources/coherence/seed.py
Labels: feat, fix

fix(67071a94-6126-46): Autonomous remediation: fix.placeholders (3 violation(s) — rules: purity.no_todo_placeholders)
  src/mind/coherence/checks/row3_citation.py
Labels: feat, fix

fix(e82376b1-2136-43): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/body/services/governance_claims_service.py
Labels: feat, fix

fix(ccc): backfill missing symbol IDs on ADR-073 public methods
  src/mind/coherence/checks/base.py
Labels: feat, fix

fix(b2fa8de7-fb8a-4c): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/cli/resources/coherence/seed/test_generated.py
Labels: test

fix(b38b8e2c-2777-44): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/services/governance_claims_service/test_generated.py
Labels: test

fix(ccc): drop LLM-judge candidates whose rationale concedes alignment
  src/mind/coherence/llm_judge.py
Labels: feat, fix

docs(ccc): clear three ADR-073 first-run triage stale-state findings
  .specs/decisions/ADR-047-docstring-rule-ast-gate.md
  .specs/papers/CORE-Blackboard.md
  src/cli/resources/coherence/check.py
Labels: feat, fix

fix(ccc): widen ROW3 citation regex but keep strict-shallow discipline
  src/mind/coherence/checks/row3_citation.py
Labels: feat, fix

fix(ccc): skip procedural-boilerplate headings in ROW3 audit
  src/mind/coherence/checks/row3_citation.py
Labels: feat, fix

fix(ccc): SPECGAP verb-class coverage via register, not per-verb stem prefix
  src/mind/coherence/checks/specgap.py
Labels: feat, fix

governance(vocab): remove Action and Step from aliases — sharpen domain boundaries
  .intent/META/vocabulary.json
Labels: governance

governance(ccc): resolve ADR-049 ↔ Topology scope-broadening contradiction
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/papers/CORE-Governance-Topology.md
Labels: none

fix(ccc): respect ADR-declared compatibility before judging contradiction
  src/mind/coherence/llm_judge.py
Labels: feat, fix

fix(ccc): scanner-side pair-skip on declared compatibility/supersedes
  src/mind/coherence/checks/r1_scoped.py
Labels: feat, fix

fix(ccc): artifact-type labels in judge headers (#475)
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/sameconcern.py
  src/mind/coherence/llm_judge.py
  var/prompts/constitutional_coherence_analyst/system.txt
Labels: feat, fix

chore(tests): ruff-format + UP006 modernization on accumulated test churn
  tests/api/v1/test_audit_remediations.py
  tests/api/v1/test_census_routes.py
  tests/api/v1/test_inspect_routes.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_refactor_routes.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/body/flows/test_executor_consumes_default.py
  tests/body/services/blackboard_service/blackboard_service/test_adjudicate_awaiting_reaudit.py
  tests/body/services/blackboard_service/blackboard_service/test_generated.py
  tests/body/services/crawl_service/main_module/test_generated.py
  tests/body/services/governance_claims_service/test_generated.py
  tests/cli/resources/coherence/seed/test_generated.py
  tests/cli/resources/proposals/test_reject_revives_findings.py
  tests/engines/test_artifact_gate_all_rules_mapped.py
  tests/mind/logic/engines/ast_gate/checks/test_schema_conformance_checks__SchemaConformanceChecks.py
  tests/mind/logic/engines/test_llm_gate_verdict_cache.py
  tests/shared/infrastructure/context/test_context_builder__graph_fallback.py
  tests/shared/infrastructure/test_git_service_worktree.py
  tests/shared/test_atomic_action__signature_validation.py
  tests/shared/workers/test_base__d8_graceful_shutdown.py
  tests/shared/workers/test_base__post_observation.py
  tests/will/autonomy/test_proposal_executor_files_produced.py
  tests/will/workers/audit_violation_sensor/test_generated.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: test

governance(enums): canonical phase subsets + worker schema validator (#460)
  .intent/META/enums.json
  .intent/META/rule_document.schema.json
  .intent/META/worker.schema.json
  src/mind/coherence/checks/specgap.py
  src/shared/infrastructure/intent/canonical_enums.py
  src/shared/infrastructure/intent/intent_validator.py
  src/shared/infrastructure/intent/task_type_phases.py
  src/shared/workers/base.py
  src/shared/workers/declaration_validator.py
  tests/shared/infrastructure/test_phase_enum_canonical_alignment.py
  tests/shared/workers/test_declaration_validator.py
Labels: feat, fix, test, governance

chore(infra): regenerate db_schema_live.sql snapshot (#452)
  infra/sql/db_schema_live.sql
Labels: none

fix(self-healing): align fix.docstrings with ADR-047 predicate + reject placeholders (#455)
  src/body/self_healing/docstring_service.py
  tests/body/test_docstring_service.py
Labels: feat, fix, test

fix(f9f3aaf3-09d4-4d): Autonomous remediation: fix.placeholders (4 violation(s) — rules: purity.no_todo_placeholders)
  src/body/self_healing/docstring_service.py
Labels: feat, fix

fix(bc78af9d-566d-4b): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/self_healing/docstring_service/test_generated.py
Labels: test

fix(ccc): close zero-candidate coherence runs at scan completion (#458)
  src/body/services/coherence_service.py
  src/mind/coherence/checker.py
  tests/body/services/test_coherence_service__close_run_if_empty.py
Labels: feat, fix, test

governance(phases): split INTERPRET failure modes per ADR-074 (#459)
  .intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  .intent/META/enums.json
  .intent/META/intent_tree.yaml
  .intent/META/phase.schema.json
  .intent/phases/audit.yaml
  .intent/phases/execution.yaml
  .intent/phases/interpret.yaml
  .intent/phases/load.yaml
  .intent/phases/parse.yaml
  .intent/phases/runtime.yaml
  .specs/decisions/ADR-073-ccc-scanner-redesign.md
  .specs/decisions/ADR-074-interpret-failure-modes.md
  src/mind/coherence/checks/specgap.py
  src/will/orchestration/workflow_orchestrator.py
  tests/shared/infrastructure/test_phase_failure_mode_canonical_alignment.py
Labels: feat, fix, test, governance

docs(CLAUDE.md): prohibit /tmp/ writes; require var/tmp/ for temp files
  CLAUDE.md
Labels: none

chore(tests): ruff-format pass on docstring_service test_generated.py
  tests/body/self_healing/docstring_service/test_generated.py
Labels: test

governance: rewrite CONSTITUTIONAL-WORKFLOWS.md per ADR-074 (#476)
  .intent/constitution/CONSTITUTIONAL-WORKFLOWS.md
Labels: governance

perf(embed): batch Ollama embedding for governance claims (#461)
  src/cli/resources/coherence/seed.py
  src/shared/infrastructure/llm/client.py
  src/shared/infrastructure/llm/providers/base.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/shared/infrastructure/vector/cognitive_adapter.py
  src/will/orchestration/cognitive_service.py
  src/will/workers/governance_embedding/governance_embedder_worker.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
