Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

housekeeping: remove zip and context exports from tracking
  context_core.txt
  core.zip
Labels: none

feat: small refactor of text_cleaner.py
  src/features/test_generation_v2/prompt_engine.py
  src/shared/infrastructure/context/builder.py
  src/shared/utils/text_cleaner.py
  tests/shared/test_path_utils__copy_file.py
  tests/shared/test_path_utils__copy_tree.py
  tests/shared/utils/test_common_knowledge__ensure_trailing_newline.py
  tests/shared/utils/test_common_knowledge__get_deterministic_id.py
  tests/shared/utils/test_common_knowledge__normalize_whitespace.py
  tests/shared/utils/test_import_scanner__scan_imports_for_file.py
Labels: feat, fix, test

Release v2.2.0 - Universal Workflow Pattern
  .intent/papers/CORE-Adaptive-Workflow-Pattern.md
  CHANGELOG.md
  README.md
  docs/workbook/CORE_Modernization_Roadmap.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/coverage.py
  src/body/cli/commands/fix/clarity.py
  src/body/evaluators/clarity_evaluator.py
  src/features/self_healing/clarity_service_v2.py
  src/will/orchestration/cognitive_service.py
  src/will/strategists/clarity_strategist.py
Labels: feat, fix, docs, governance

feat: Implement RequestInterpreter - Universal Workflow Pattern v2.2.0
  docs/workbook/CORE_Modernization_Roadmap.md
  src/api/cli_user.py
  src/shared/component_primitive.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/helpers.py
  src/will/interpreters/__init__.py
  src/will/interpreters/request_interpreter.py
  tests/will/interpreters/test_request_interpreter.py
Labels: feat, fix, docs, test

chore: cleanup legacy checkers, add new tests
  .intent/papers/V2-Command-Pattern-Reference.md
  core.tx
  docs/workbook/CORE_Modernization_Roadmap.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  scripts/ai_test_scavenger.py
  scripts/test_scavenger.py
  src/body/atomic/fix_actions.py
  src/body/cli/commands/check_atomic_actions.py
  src/body/cli/commands/check_patterns.py
  src/body/cli/commands/inspect.py
  src/body/cli/commands/inspect_decisions.py
  src/body/cli/logic/atomic_actions_checker.py
  src/body/cli/logic/interactive_test/workflow.py
  src/body/cli/logic/pattern_checker.py
  src/body/evaluators/__init__.py
  src/body/evaluators/atomic_actions_evaluator.py
  src/body/evaluators/pattern_evaluator.py
  src/features/autonomy/autonomous_developer.py
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/decision_traces.py
  src/shared/infrastructure/repositories/decision_trace_repository.py
  src/shared/path_resolver.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/coder_agent.py
  src/will/orchestration/decision_tracer.py
  tests/shared/test_action_types.py
  tests/shared/test_cli_types.py
  tests/shared/test_cli_utils.py
  tests/shared/test_time.py
  tests/test_main.py
  tests/test_test.py
Labels: feat, fix, docs, test, governance

chore: add new tests...
  tests/api/test_cli_user.py
  tests/shared/test_action_types.py
  tests/shared/test_cli_types.py
  tests/shared/test_cli_utils.py
  tests/shared/test_time.py
  tests/test_test.py
Labels: test

chore: add new tests...
  nohup.out
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  tests/api/test_cli_user.py
  tests/api/test_main.py
  tests/shared/test_activity_logging.py
  tests/shared/test_ast_utility.py
  tests/shared/test_cli_utils.py
  tests/shared/test_config_loader.py
  tests/shared/test_legacy_models.py
  tests/test_main.py
  tests/test_test.py
Labels: test

chore: add new tests...
  tests/api/test_cli_user.py
  tests/shared/test_cli_utils.py
  tests/test_test.py
Labels: test

chore: add new tests...
  tests/api/test_cli_user.py
  tests/shared/test_cli_utils.py
  tests/test_test.py
Labels: test

Added presistance to tests generations.
  src/features/test_generation_v2/adaptive_test_generator.py
  src/features/test_generation_v2/persistence.py
  src/features/test_generation_v2/prompt_engine.py
  src/features/test_generation_v2/sandbox.py
  src/features/test_generation_v2/test_extractor.py
  tests/api/test_cli_user.py
  tests/api/test_main.py
  tests/body/analyzers/test_file_analyzer__FileAnalyzer.py
  tests/shared/test_action_types.py
  tests/shared/test_activity_logging.py
  tests/shared/test_ast_utility.py
  tests/shared/test_cli_types.py
  tests/shared/test_cli_utils.py
  tests/shared/test_config_loader.py
  tests/shared/test_legacy_models.py
  tests/shared/test_path_utils.py
  tests/shared/test_time.py
  tests/test_test.py
Labels: feat, fix, test

chore: added few autogererated tests...
  .gitignore
  core.tx
  nohup.out
  src/body/cli/commands/coverage.py
  tests/api/test_cli_user__main.py
  tests/api/test_main__create_app.py
  tests/body/analyzers/test_file_analyzer__FileAnalyzer.py
  tests/shared/test_action_types__ActionImpact.py
  tests/shared/test_action_types__ActionResult.py
  tests/shared/test_atomic_action__ActionMetadata.py
  tests/shared/test_atomic_action__get_action_metadata.py
  tests/shared/test_cli_types__CommandResult.py
  tests/shared/test_cli_types__WorkflowRun.py
  tests/shared/test_cli_utils__CommandMetadata.py
  tests/shared/test_cli_utils__async_command.py
  tests/shared/test_cli_utils__confirm_action.py
  tests/shared/test_cli_utils__core_command.py
  tests/shared/test_cli_utils__display_error.py
  tests/shared/test_cli_utils__display_info.py
  tests/shared/test_cli_utils__display_success.py
  tests/shared/test_cli_utils__display_warning.py
  tests/shared/test_component_primitive__ComponentPhase.py
  tests/shared/test_component_primitive__ComponentResult.py
  tests/shared/test_component_primitive__discover_components.py
  tests/shared/test_config__Settings.py
  tests/shared/test_config_loader__load_yaml_file.py
  tests/shared/test_path_resolver__PathResolver.py
  tests/shared/test_path_utils__copy_file.py
  tests/shared/test_path_utils__copy_tree.py
  tests/shared/test_path_utils__get_repo_root.py
  tests/shared/test_time__now_iso.py
  tests/test_main__health_check.py
  tests/test_test__hello_world.py
Labels: feat, fix, test

chore: more tests...
  core.txt
  core.zip
  tests/api/test_cli_user__main.py
  tests/api/test_main__create_app.py
  tests/body/cli/test_interactive__show_project_lifecycle_menu.py
  tests/body/workflows/test_dev_sync_workflow__WorkflowResult.py
  tests/mind/governance/test_constitutional_auditor_dynamic__get_dynamic_execution_stats.py
  tests/mind/governance/test_pattern_validator__PatternValidator.py
  tests/mind/logic/engines/workflow_gate/test_base_check__WorkflowCheck.py
  tests/shared/test_action_types__ActionResult.py
  tests/shared/test_cli_types__CommandResult.py
  tests/shared/test_cli_utils__CommandMetadata.py
  tests/shared/test_cli_utils__async_command.py
  tests/shared/test_cli_utils__confirm_action.py
  tests/shared/test_cli_utils__core_command.py
  tests/shared/test_cli_utils__display_error.py
  tests/shared/test_cli_utils__display_info.py
  tests/shared/test_cli_utils__display_success.py
  tests/shared/test_cli_utils__display_warning.py
  tests/shared/test_component_primitive__ComponentResult.py
  tests/shared/test_path_utils__copy_file.py
  tests/shared/test_path_utils__copy_tree.py
  tests/shared/test_path_utils__get_repo_root.py
  tests/test_main__health_check.py
  tests/test_test__hello_world.py
Labels: test

Rehabilitated test suite, fixed DB constraints, and instrumented CoderAgent
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/atomic/fix_actions.py
  src/body/cli/commands/inspect.py
  src/body/cli/commands/inspect_decisions.py
  src/body/cli/commands/run.py
  src/body/cli/logic/interactive_test/session.py
  src/body/cli/logic/interactive_test/steps.py
  src/features/autonomy/autonomous_developer.py
  src/will/agents/coder_agent.py
  src/will/orchestration/decision_tracer.py
  src/will/orchestration/workflow_orchestrator.py
  src/will/tools/architectural_context_builder.py
  tests/mind/governance/test_constitutional_auditor_dynamic__get_dynamic_execution_stats.py
  tests/mind/governance/test_rule_extractor__extract_executable_rules.py
  tests/will/agents/test_coder_agent.py
Labels: feat, fix, test

feat: add modularity defragmenter tool
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/modularity.py
  src/features/introspection/data_access_service.py
  src/features/introspection/io_operations_service.py
  src/features/introspection/network_service.py
  src/features/introspection/sync_service.py
  src/features/self_healing/modularity_remediation_service.py
  tests/features/introspection/test_data_access_service.py
  tests/features/introspection/test_io_operations_service.py
  tests/features/introspection/test_network_service.py
Labels: feat, fix, test

feat: integrate modularity defragmenter and fix autonomous write-intent propagation
  src/features/introspection/io_operations_service.py
  src/features/introspection/network_service.py
  src/features/self_healing/modularity_remediation_service.py
Labels: feat, fix

feat: integrate modularity defragmenter and fix autonomous write-intent propagation
  src/features/autonomy/autonomous_developer.py
  src/features/introspection/data_access_service.py
  src/features/introspection/io_operations_service.py
  src/features/introspection/network_service.py
  src/features/introspection/sync_service.py
  src/will/agents/execution_agent.py
  src/will/orchestration/workflow_orchestrator.py
  tests/features/introspection/test_data_access_service.py
  tests/features/introspection/test_io_operations_service.py
  tests/features/introspection/test_network_service.py
Labels: feat, fix, test

fix: resolve DI violations, DB integrity errors, and autonomous write-intent leakage
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/features/autonomy/autonomous_developer.py
  src/features/self_healing/modularity_remediation_service.py
Labels: feat, fix

style: auto-format ast_utility via black
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/atomic/fix_actions.py
  src/features/self_healing/code_style_service.py
Labels: feat, fix

chore: execution_agent.py debugs.
  core.txt
  core.zip
  docs/workbook/Working on/CORE Legacy Elimination Roadmap.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/features/autonomy/autonomous_developer.py
  src/features/self_healing/modularity_remediation_service.py
  src/shared/models/workflow_models.py
  src/will/agents/execution_agent.py
Labels: feat, fix, docs

chore: Pattern Validator fixes.
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/atomic/file_ops.py
  src/body/cli/commands/check/__init__.py
  src/body/cli/commands/coverage/generation_commands.py
  src/body/cli/commands/develop.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/all_commands.py
  src/body/cli/commands/fix/atomic_actions.py
  src/body/cli/commands/fix/clarity.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/db_tools.py
  src/body/cli/commands/fix/docstrings.py
  src/body/cli/commands/fix/fix_ir.py
  src/body/cli/commands/fix/imports.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/fix/modularity.py
  src/body/cli/commands/refactor.py
  src/body/cli/commands/run.py
  src/features/self_healing/accumulative_test_service.py
  src/features/self_healing/coverage_remediation_service.py
  src/features/self_healing/coverage_watcher.py
  src/features/self_healing/full_project_remediation.py
  src/features/self_healing/modularity_remediation_service.py
  src/features/self_healing/single_file_remediation.py
  src/mind/governance/intent_guard.py
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
  src/shared/infrastructure/repositories/decision_trace_repository.py
  src/will/agents/code_generation/pattern_validator.py
  src/will/agents/micro_planner.py
  src/will/agents/planner_agent.py
  src/will/orchestration/workflow_orchestrator.py
Labels: feat, fix

feat: Add INTERPRET as 6th constitutional phase
  .intent/META/enums.json
  .intent/META/rule_document.schema.json
  .intent/constitution/CONSTITUTIONAL-WORKFLOWS.md
  .intent/papers/CORE-Phases-as-Governance-Boundaries.md
  .intent/phases/canary_validation.yaml
  .intent/phases/code_generation.yaml
  .intent/phases/execution.yaml
  .intent/phases/interpret.yaml
  .intent/phases/planning.yaml
  .intent/phases/sandbox_validation.yaml
  .intent/phases/style_check.yaml
  .intent/phases/test_generation.yaml
  .intent/workflows/coverage_remediation.yaml
  .intent/workflows/full_feature_development.yaml
  .intent/workflows/refactor_modularity.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/features/autonomy/__init__.py
  src/features/autonomy/autonomous_developer.py
  src/features/autonomy/autonomous_developer_v2.py
  src/features/self_healing/modularity_remediation_service_v2.py
  src/features/self_healing/test_generation/generator.py
  src/shared/models/__init__.py
  src/shared/models/execution_models.py
  src/shared/models/workflow_models.py
  src/will/orchestration/phase_registry.py
  src/will/orchestration/workflow_orchestrator.py
  src/will/phases/__init__.py
  src/will/phases/code_generation_phase.py
  src/will/phases/interpret_phase.py
  src/will/phases/planning_phase.py
  src/will/phases/stub_phases.py
Labels: feat, fix, governance

fix: INTERPRET phase metadata handling and integration tests
  src/will/phases/interpret_phase.py
Labels: feat, fix

docs: Document INTERPRET phase as 6th constitutional primitive
  CHANGELOG.md
  README.md
Labels: docs

Fix canary validation phase contract compliance
  .intent/enforcement/mappings/will/planning.yaml
  .intent/rules/will/planning.json
  .intent/workflows/refactor_modularity.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/admin_cli.py
  src/body/cli/commands/develop.py
  src/shared/models/workflow_models.py
  src/will/agents/action_introspection.py
  src/will/agents/base_planner.py
  src/will/agents/execution_agent.py
  src/will/agents/planner_agent.py
  src/will/orchestration/phase_registry.py
  src/will/orchestration/workflow_orchestrator.py
  src/will/phases/canary_validation_phase.py
  src/will/phases/execution_phase.py
  src/will/phases/interpret_phase.py
  src/will/phases/style_check_phase.py
  src/will/phases/test_generation_phase.py
Labels: feat, fix, governance

Pre-refactor checkpoint: vectorization_service at score 82.7
  .intent/papers/CORE-The-Octopus-UNIX-Synthesis.md
  .intent/rules/code/linkage.json
  .intent/rules/code/purity.json
  src/body/atomic/executor.py
  src/features/introspection/knowledge_graph_service.py
  src/features/introspection/vectorization_service.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/limb_workspace.py
  src/shared/infrastructure/context/service.py
  src/shared/infrastructure/knowledge_graph_service.py
  src/will/agents/base_planner.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/coder_agent.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix, governance

fix: Make canary advisory during refactoring (UNIX philosophy)
  .intent/papers/CORE-PAPER-005-Octopus-Field-Test.md
  .intent/workflows/refactor_modularity.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/will/phases/canary_validation_phase.py
Labels: feat, fix, governance

Octopus fixes...
  src/will/phases/canary_validation_phase.py
Labels: feat, fix

feat: Add semantic enforcement for Mind layer execution boundary
  .intent/enforcement/mappings/architecture/mind_execution_semantics.yaml
  .intent/rules/architecture/mind_execution_semantic.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/will/agents/conversational_governed.py
Labels: feat, fix, governance

Checkpoint: before provider refactoring
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/rules/architecture/privileged_boundaries.json
  core.txt
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/analyzers/file_analyzer.py
  src/body/analyzers/knowledge_graph_analyzer.py
  src/body/analyzers/prompt_analyzer.py
  src/body/analyzers/symbol_extractor.py
  src/body/atomic/fix_actions.py
  src/body/cli/admin_cli.py
  src/body/cli/commands/check/quality_gates.py
  src/body/cli/commands/coverage/check_commands.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/apply_providers.py
  src/body/cli/commands/fix/provider_refactor.py
  src/body/cli/commands/fix/settings_access.py
  src/body/infrastructure/bootstrap.py
  src/features/maintenance/apply_provider_refactoring.py
  src/features/maintenance/refactor_settings_access.py
  src/features/maintenance/refactor_to_providers.py
  src/mind/logic/engines/ast_gate/checks/import_boundary.py
  src/will/tools/file_navigator.py
Labels: feat, fix, governance

chore: update changelog
  CHANGELOG.md
Labels: none

chore: update changelog
  CHANGELOG.md
Labels: none

docs: restore contributing guidelines with constitutional intent
  CONTRIBUTING.md
  README.md
Labels: docs

docs: restore contributing guidelines with constitutional intent
  CONTRIBUTING.md
  README.md
Labels: docs

docs: align README with constitutional governance and contributing model
  README.md
Labels: docs

docs: align README with constitutional governance and contributing model
  README.md
Labels: docs

refactor: remove constitutional_monitor.py legacy wrapper
  src/features/test_generation/__init__.py
  src/features/test_generation/adaptive_test_generator.py
  src/features/test_generation/artifacts.py
  src/features/test_generation/harness_detection.py
  src/features/test_generation/helpers/__init__.py
  src/features/test_generation/helpers/context_extractor.py
  src/features/test_generation/helpers/test_executor.py
  src/features/test_generation/llm_output.py
  src/features/test_generation/persistence.py
  src/features/test_generation/phases/__init__.py
  src/features/test_generation/phases/generation_phase.py
  src/features/test_generation/phases/load_phase.py
  src/features/test_generation/phases/parse_phase.py
  src/features/test_generation/prompt_engine.py
  src/features/test_generation/sandbox.py
  src/features/test_generation/test_extractor.py
  src/features/test_generation/validation.py
  src/mind/governance/constitutional_monitor.py
Labels: feat, fix

refactor: remove constitutional_monitor.py legacy wrapper
  src/features/test_generation/__init__.py
  src/features/test_generation/adaptive_test_generator.py
  src/features/test_generation/artifacts.py
  src/features/test_generation/harness_detection.py
  src/features/test_generation/helpers/__init__.py
  src/features/test_generation/helpers/context_extractor.py
  src/features/test_generation/helpers/test_executor.py
  src/features/test_generation/llm_output.py
  src/features/test_generation/persistence.py
  src/features/test_generation/phases/__init__.py
  src/features/test_generation/phases/generation_phase.py
  src/features/test_generation/phases/load_phase.py
  src/features/test_generation/phases/parse_phase.py
  src/features/test_generation/prompt_engine.py
  src/features/test_generation/sandbox.py
  src/features/test_generation/test_extractor.py
  src/features/test_generation/validation.py
  src/mind/governance/constitutional_monitor.py
Labels: feat, fix

refactor: remove validator_service.py legacy wrapper
  src/mind/governance/validator_service.py
Labels: feat, fix

refactor: remove validator_service.py legacy wrapper
  src/mind/governance/validator_service.py
Labels: feat, fix

refactor: remove autonomous_developer.py legacy wrapper
  src/features/autonomy/autonomous_developer.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
