Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(planning): SESSION-PROTOCOL — drift corrections + Step 4 flag fix
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

docs(plan): A3 plan — append ADR-061..069, refresh Band E status
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(planning): GitHub-PM doc — retire planning content, keep as pointer stub
  .specs/planning/CORE-GitHub-Project-Management.md
Labels: none

docs(planning): data-contracts-inventory — status overlay, Critical Risks refreshed
  .specs/planning/data-contracts-inventory.md
Labels: none

docs(planning): Band E planning input — note ADR landings on Tracks 3 and 10
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
Labels: none

docs(planning): API capability map — add dated-snapshot banner + supersession trail
  .specs/planning/CORE-API-capability-map-2026-05-16.md
Labels: none

docs(adr): ADR-070 — source–projection coherence as bounded drift
  .specs/decisions/ADR-070-source-projection-coherence.md
Labels: none

docs(plan): A3 plan — ADR-070 row in Architectural Decisions Made
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(changelog): ADR-070 — source–projection coherence as bounded drift
  .intent/CHANGELOG.md
Labels: governance

docs(changelog): ADR-061..069 — anchor nine constitutional changes
  .intent/CHANGELOG.md
Labels: governance

governance(adr-070): inventory + rule + remediation for D8 first pair
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/projections.yaml
  .intent/rules/governance/coherence.json
  .intent/workers/repo_crawler.yaml
Labels: governance

feat(adr-070): D8 reap + D6 advisory line implementation
  src/body/services/crawl_service/main_module.py
  src/body/services/crawl_service/orchestrator.py
  src/body/services/representation_coherence_service.py
  src/cli/resources/code/audit.py
  src/will/workers/repo_crawler.py
Labels: feat, fix

fix(7905dcd4-c28a-4f): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/cli/resources/code/audit.py
Labels: feat, fix

feat(adr-070): D8 safety rails — row cap, partial-walk guard, OPEN finding
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/services/crawl_service/orchestrator.py
  src/will/workers/repo_crawler.py
Labels: feat, fix, governance

feat(hardening): blast-bound on Proposal scope.files — first application
  .intent/enforcement/contracts/ProposalScope.json
  src/will/autonomy/proposal.py
  tests/will/autonomy/test_proposal__validate_scope_files.py
Labels: feat, fix, test, governance

governance(hardening): blast-bound + rule + DELEGATE entry for violation_executor
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/coherence.json
  .intent/workers/violation_executor.yaml
Labels: governance

fix(46654f38-8f51-42): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/violation_executor.py
Labels: feat, fix

feat(hardening): violation_executor blast-bound enforcement (paired with 0ed0e72c)
  tests/will/workers/test_violation_executor_blast_bound.py
Labels: test

docs(adr): ADR-071 — action diff coherence enforcement
  .specs/decisions/ADR-071-action-diff-coherence.md
Labels: none

governance(adr-070): enforcement mappings for two writer-as-sensor coherence rules
  .intent/enforcement/mappings/coherence/coherence.yaml
Labels: governance

docs(adr-071): revise — reject predicate framework, adopt worktree sandbox
  .specs/decisions/ADR-071-action-diff-coherence.md
Labels: none

fix(flow.build_tests): declare consumes so source_file reaches build.tests action
  .intent/META/flow.schema.json
  .intent/flows/flow.build_tests.yaml
Labels: governance

fix(flow-executor): invert consumes-None default to forward-all (#445)
  src/body/atomic/check_actions.py
  src/body/atomic/fix_actions.py
  src/body/atomic/proposal_lifecycle_actions.py
  src/body/atomic/sync_actions/sync_actions.py
  src/body/flows/executor.py
  src/body/flows/registry.py
  tests/body/flows/__init__.py
  tests/body/flows/test_executor_consumes_default.py
Labels: feat, fix, test

governance(worker-schema): declare files_per_cycle_max + trim repo_crawler rationale (#446)
  .intent/META/worker.schema.json
  .intent/workers/repo_crawler.yaml
Labels: governance

feat(hardening): enforce **kwargs in @atomic_action signatures + retrofit 14 actions (#448)
  src/body/atomic/registry.py
  src/body/governance/body_contracts_service.py
  src/body/introspection/sync_service.py
  src/body/maintenance/memory_cleanup_service.py
  src/body/project_lifecycle/definition_service.py
  src/body/self_healing/body_ui_fixer.py
  src/body/self_healing/duplicate_id_service.py
  src/body/self_healing/header_service.py
  src/body/self_healing/id_tagging_service.py
  src/body/services/crate_creation_service.py
  src/cli/resources/admin/meta.py
  src/mind/enforcement/audit.py
  src/shared/atomic_action.py
  src/shared/logger.py
  tests/shared/test_atomic_action__signature_validation.py
Labels: feat, fix, test

fix(tests): action_format_code time.time mock exhaustion (#447)
  tests/body/atomic/test_fix_actions__action_format_code.py
Labels: test

feat(workers): ADR-069 D8 graceful shutdown pre-release of held claims (#449)
  src/shared/workers/base.py
  tests/shared/workers/test_base__d8_graceful_shutdown.py
Labels: feat, fix, test

fix(tests): register synthetic worker_uuid in D8 tests to satisfy FK (#449)
  tests/shared/workers/test_base__d8_graceful_shutdown.py
Labels: test

governance(atomic-actions): add must_accept_kwargs rule + cite in error (#448)
  .intent/rules/architecture/atomic_actions.json
  src/shared/atomic_action.py
Labels: feat, fix, governance

feat(workers): post_observation API for terminal-at-creation findings (#450)
  src/shared/workers/base.py
  src/will/workers/commit_reachability_auditor.py
  src/will/workers/db_sync_worker.py
  src/will/workers/proposal_consumer_effects.py
  src/will/workers/violation_remediator_body/worker.py
  src/will/workers/worker_shop_manager.py
  tests/shared/workers/test_base__post_observation.py
Labels: feat, fix, test

chore(cli): strip dead architecture.cli.api_only SUPPRESS markers
  src/cli/commands/daemon.py
  src/cli/commands/inspect/repo_census.py
Labels: feat, fix

docs(adr): ADR-072 — quarantine-drainer invariant
  .specs/decisions/ADR-072-quarantine-drainer-invariant.md
Labels: none

feat(workers): ADR-072 D5 — TestRunnerSensor quarantine drain
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_runner_sensor.py
Labels: feat, fix

governance(quarantine): ADR-072 D1-D3 — drainer registry + rule + self-entry
  .intent/enforcement/mappings/governance/quarantine.yaml
  .intent/enforcement/quarantine/drainer_registry.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/quarantine.json
Labels: governance

fix(blackboard): cast :resolved_by to text inside jsonb_build_object
  src/body/services/blackboard_service/blackboard_service.py
Labels: feat, fix

feat(artifact-gate): ADR-072 D4 — namespace_has_drainer check
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix

fix(workers): populate worker_registry.declaration_name on registration
  src/shared/workers/base.py
Labels: feat, fix

feat(git-service): ADR-071 D2.2 Phase 1 — hermetic worktree primitive
  src/cli/commands/daemon.py
  src/shared/infrastructure/git_service.py
  tests/shared/infrastructure/test_git_service_worktree.py
Labels: feat, fix, test

governance(atomic-actions): map must_accept_kwargs to python_runtime engine (#448)
  .intent/enforcement/mappings/architecture/atomic_actions.yaml
Labels: governance

docs(planning): worktree sandbox implementation plan — ADR-071 D2.2 / #444
  .specs/planning/worktree-sandbox-implementation-plan.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
