Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat: wire testing section to operational_config (ADR-040)
  src/body/governance/runtime_validator.py
  src/body/self_healing/test_context/examples.py
  src/body/self_healing/test_context/metrics.py
  src/will/phases/canary/pytest_runner.py
  src/will/phases/sandbox_validation_phase.py
  src/will/self_healing/context_aware_test_generator.py
  src/will/self_healing/simple_test_generator.py
  src/will/self_healing/test_generation/executor.py
  src/will/test_generation/helpers/test_executor.py
  src/will/test_generation/sandbox.py
Labels: feat, fix

feat: wire strategy_selector section to operational_config (ADR-040)
  src/will/self_healing/remediation_interpretation/strategy_selector.py
Labels: feat, fix

feat: wire context section to operational_config (ADR-040)
  src/cli/resources/context/cache.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/cache.py
  src/shared/infrastructure/context/database.py
  src/shared/infrastructure/context/providers/db.py
  src/shared/infrastructure/context/providers/vectors.py
  src/shared/infrastructure/context/serializers.py
Labels: feat, fix

feat: wire execution, repositories, memory sections to operational_config (ADR-040)
  src/body/infrastructure/repositories/decision_trace_repository.py
  src/body/infrastructure/repositories/refusal_repository.py
  src/body/maintenance/memory_cleanup_service.py
  src/shared/infrastructure/repositories/memory_repository.py
  src/shared/infrastructure/repositories/symbol_definition_repository.py
  src/shared/models/execution_models.py
  src/will/orchestration/process_orchestrator.py
  src/will/orchestration/workflow_orchestrator.py
Labels: feat, fix

feat: wire analyzers/refactor/clarity/complexity sections to operational_config (ADR-040)
  src/body/analyzers/file_analyzer.py
  src/body/analyzers/symbol_extractor.py
  src/body/atomic/modularity_fix.py
  src/cli/commands/refactor_support/recommendations.py
  src/mind/logic/engines/ast_gate/checks/naming_checks.py
  src/will/strategists/clarity_strategist.py
  src/will/strategists/complexity_strategist.py
Labels: feat, fix

feat: wire parsing section to operational_config (ADR-040)
  src/shared/utils/parsing.py
Labels: feat, fix

feat: wire action/prompt_pipeline/validator/git/vectors/sync to operational_config (ADR-040)
  src/body/atomic/sync_actions/sync_actions.py
  src/body/maintenance/sync_vectors.py
  src/body/services/constitutional_validator.py
  src/shared/action_types.py
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/vector/vector_index_service.py
  src/will/orchestration/prompt_pipeline.py
  src/will/tools/policy_vectorizer.py
Labels: feat, fix

feat: wire misc section (non-CLI) to operational_config (ADR-040)
  src/body/atomic/metadata_ops.py
  src/body/evaluators/performance_evaluator.py
  src/body/introspection/graph_analysis_service.py
  src/body/maintenance/scripts/context_export.py
  src/body/self_healing/knowledge_consolidation_service.py
  src/body/services/cim/census_service.py
  src/mind/governance/authority_package_builder.py
  src/will/agents/conversational/helpers.py
  src/will/self_healing/capability_tagging_service.py
  src/will/self_healing/enrichment_service.py
  src/will/self_healing/linelength_service.py
  src/will/tools/context/code_snippet_extractor.py
  src/will/tools/context/retriever.py
  src/will/tools/file_navigator.py
Labels: feat, fix

fix: correct ADR-040 wiring bugs from prior commits
  src/mind/governance/authority_package_builder.py
  src/shared/action_types.py
  src/shared/infrastructure/intent/operational_config.py
Labels: feat, fix

feat: wire misc section (CLI) to operational_config (ADR-040)
  src/cli/commands/inspect/refusals.py
  src/cli/commands/refactor.py
  src/cli/logic/governance/limb_status_service.py
  src/cli/logic/legacy_scan_logic.py
  src/cli/logic/refusal_inspect_logic.py
  src/cli/resources/admin/refusals.py
  src/cli/resources/context/search.py
  src/cli/resources/proposals/list.py
Labels: feat, fix

feat: wire embedding and chunking sections to operational_config (ADR-040)
  src/body/atomic/sync_actions/__init__.py
  src/body/atomic/sync_actions/chunking_helpers.py
  src/shared/infrastructure/adapters/embedding_provider.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/shared/infrastructure/vector/adapters/specs_adapter.py
  src/shared/utils/embedding_utils.py
  src/will/workers/repo_embedding/helpers.py
Labels: feat, fix

feat: wire proposals and consequence_log sections to operational_config (ADR-040)
  src/body/services/consequence_log_service.py
  src/will/autonomy/proposal_repository.py
  src/will/autonomy/proposal_service.py
Labels: feat, fix

feat: wire health and strategic_auditor sections to operational_config (ADR-040)
  src/cli/resources/runtime/health.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/agents/strategic_auditor/reasoning.py
Labels: feat, fix

docs: CHANGELOG entry for ADR-040 wiring campaign completion
  .intent/CHANGELOG.md
Labels: governance

chore: add context_search_display_limit / proposals_display_limit to misc section
  .intent/enforcement/config/operational_config.yaml
Labels: governance

fix: exempt operational_config.py from modularity.needs_split (ADR-040/#299)
  .intent/enforcement/mappings/code/modularity.yaml
Labels: governance

feat(strategy_selector): wire 6 scoring weights to operational_config
  .intent/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
  src/will/self_healing/remediation_interpretation/strategy_selector.py
Labels: feat, fix, governance

docs: update release docs for v2.5.0 — A3 reached, Band D closed
  .specs/planning/CORE-A3-plan.md
  CHANGELOG.md
  README.md
Labels: docs

fix(proposal_consumer): dedup scope_collision yield findings
  src/will/workers/proposal_consumer_effects.py
Labels: feat, fix

docs(CLAUDE): reflect autonomous DbSyncWorker, scope manual sync to specific cases
  CLAUDE.md
Labels: none

fix(intent): rotate placeholder UUIDs out of worker declarations and symbol IDs
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/commit_reachability_auditor.yaml
  .intent/workers/repo_embedder.yaml
  src/body/atomic/registry.py
  src/will/workers/repo_embedding/repo_embedder_workers.py
Labels: feat, fix, governance

fix(workers): refresh registry name on UUID conflict, skip orphan rows
  src/shared/workers/base.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

docs(CLAUDE): sanitize symbol-id example UUIDs to obvious placeholders
  CLAUDE.md
Labels: none

fix(db): raise DB pool size to eliminate startup race
  src/shared/config.py
  src/shared/infrastructure/database/session_manager.py
Labels: feat, fix

refactor(proposal_executor): move _files_produced_by helper to new pipeline module
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

refactor(proposal_executor): extract compute_changed_files helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

refactor(proposal_executor): extract record_consequence helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

refactor(proposal_executor): extract resolve_deferred_findings helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

refactor(proposal_executor): extract capture_git_sha helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(967eb638-6d40-48): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids)
  src/will/autonomy/proposal_execution_pipeline.py
Labels: feat, fix

refactor(proposal_executor): extract commit_proposal_changes helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

refactor(proposal_executor): extract rollback_proposal helper
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(20b8865b-2e9b-4c): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/autonomy/proposal_execution_pipeline.py
Labels: feat, fix

fix(24f0b022-003e-46): Autonomous remediation: fix.ids (2 violation(s) — rules: purity.stable_id_anchor)
  src/will/autonomy/proposal_execution_pipeline.py
Labels: feat, fix

fix(f7f844a9-4ad0-41): Autonomous test remediation: build.tests (3 finding(s) — rules: test.missing, test.failure)
  tests/will/autonomy/proposal_execution_pipeline/test_generated.py
Labels: test

feat(workers): shared schedule loader; migrate WorkerShopManager (ADR-041 prep)
  src/shared/workers/schedule.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

feat(dal): add fetch_stale_workers_with_schedules (ADR-041 D2)
  src/body/services/worker_registry_service.py
Labels: feat, fix

fix(275dd79c-9160-47): Autonomous remediation: fix.ids (1 violation(s) — rules: purity.stable_id_anchor)
  src/shared/workers/schedule.py
Labels: feat, fix

feat(liveness): migrate dashboard + health_log_service onto shared loader (ADR-041)
  src/body/services/health_log_service.py
  src/cli/resources/runtime/health.py
  src/shared/workers/schedule.py
Labels: feat, fix

fix(f7fa4c70-5960-47): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/shared/workers/schedule/test_generated.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
