Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(grc): register 21 CFR Part 11 catalog — published (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

feat(grc): register ISO/IEC 27001:2022 catalog — authored (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

feat(grc): register EU Annex 11 (published) + GAMP 5 (advisor) catalogs (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

feat(janitor): ADR-117 var/tmp janitor — Phase 1 report-only worker
  .intent/workers/var_tmp_janitor.yaml
  .specs/decisions/ADR-117-var-tmp-janitor-worker.md
  src/will/workers/var_tmp_janitor.py
  tests/will/workers/test_var_tmp_janitor.py
Labels: feat, fix, test, governance

fix(6a8bb5fb-e341-46): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/will/workers/var_tmp_janitor.py
Labels: feat, fix

feat(grc): register NIS2 + CyberFundamentals (CyFun) catalogs — planned (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

feat(grc): add internal_use_licence gate to copyrighted frameworks (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

chore(grc): gitignore grc-catalogs/internal/ — licence-gated audit corpus
  .gitignore
Labels: none

docs(ADR-116): ratify D9 — internal audit corpus, a third licence-gated boundary
  .gitignore
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
Labels: none

docs(grc): document internal_use_licence in inventory.yaml header (ADR-116 D9)
  grc-catalogs/inventory.yaml
Labels: none

docs(byor): add T5d — GRC internal audit corpus pipeline (ADR-116 D9)
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: none

feat(grc): wire LLM compliance judge (grc_judge) + neutralized test corpus
  grc-catalogs/public/nist_800_171/catalog.yaml
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  src/mind/logic/engines/grc_judge.py
  tests/body/services/grc/test_gap_analysis_service.py
  tests/body/services/grc/test_governance_corpus__proven_gap.py
  tests/fixtures/grc/governance_corpus/access-review-work-instruction.md
  tests/fixtures/grc/governance_corpus/enterprise-patching-policy.md
  tests/fixtures/grc/governance_corpus/itam-governance-charter.md
  tests/fixtures/grc/governance_corpus_README.md
  tests/mind/logic/engines/test_grc_judge__GRCJudgeEngine.py
  var/prompts/grc_judge/model.yaml
  var/prompts/grc_judge/system.txt
  var/prompts/grc_judge/user.txt
Labels: feat, fix, test

fix(grc): honest judged verdicts — canonical JSON parse + unavailable status
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  src/mind/logic/engines/grc_judge.py
  tests/body/services/grc/test_gap_analysis_service.py
Labels: feat, fix, test

docs(ADR-118): accept — GRC verdict unit is requirement-over-corpus
  .specs/decisions/ADR-118-grc-verdict-unit-requirement-over-corpus.md
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: none

feat(grc): applicability gate — detect → suggest → confirm corpus-domain fit (ADR-118 D2)
  src/body/services/grc/__init__.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  src/mind/logic/grc_applicability.py
  src/shared/models/__init__.py
  src/shared/models/grc_verdict.py
  tests/body/services/grc/test_applicability_gate.py
  tests/mind/logic/test_grc_applicability.py
  tests/shared/models/test_grc_verdict.py
  var/prompts/grc_applicability/model.yaml
  var/prompts/grc_applicability/system.txt
  var/prompts/grc_applicability/user.txt
Labels: feat, fix, test

fix(3b6ee6e7-e137-48): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/resources/grc/gap_analysis.py
Labels: feat, fix

feat(grc): T5e engine reshape — corpus-level RequirementVerdict + silence fix (ADR-118 D1/D3/D4/D5)
  src/body/services/grc/__init__.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/grc_judge.py
  tests/body/services/grc/test_gap_analysis_service.py
  var/prompts/grc_judge/model.yaml
  var/prompts/grc_judge/system.txt
  var/prompts/grc_judge/user.txt
Labels: feat, fix, test

docs(byor): T2 — point cold-reviewer dead-end at project onboard (ADR-111 D6)
  README.md
  docs/cold-reviewer.md
  docs/getting-started.md
Labels: docs

feat(byor): ADR-119 Scout — BYOR Path 1 induction; T1 fix; amend ADR-108/111
  .specs/decisions/ADR-108-external-adoption-minimal-starter-intent.md
  .specs/decisions/ADR-111-onboard-delivers-authored-starter.md
  .specs/decisions/ADR-119-scout-byor-path-1-induction.md
  .specs/papers/CORE-BYOR.md
  .specs/planning/CORE-BYOR-Program-Backlog.md
  README.md
  docs/cold-reviewer.md
  docs/getting-started.md
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  examples/starter-intent/README.md
Labels: docs

feat(byor): ADR-119 Scout — implement project scout (BYOR Path 1 Phase B)
  src/cli/logic/byor.py
  src/cli/logic/scout.py
  src/cli/resources/project/__init__.py
  src/cli/resources/project/onboard.py
  src/cli/resources/project/scout.py
  src/mind/logic/scout_inducer.py
  tests/cli/logic/__init__.py
  tests/cli/logic/test_scout.py
  tests/mind/logic/test_scout_inducer.py
  var/prompts/scout_rule_inducer/examples.json
  var/prompts/scout_rule_inducer/model.yaml
  var/prompts/scout_rule_inducer/system.txt
  var/prompts/scout_rule_inducer/user.txt
Labels: feat, fix, test

feat(byor): ADR-120/121 — Repository adapter interface + document_corpus type (T5a/T5b)
  .intent/artifact_types/document_corpus.yaml
  .intent/artifact_types/python.yaml
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/mappings/governance/action_taxonomy.yaml
  .intent/rules/governance/action_taxonomy.json
  .intent/workers/document_corpus_sensor.yaml
  .specs/decisions/ADR-120-t5a-repository-adapter-interface.md
  .specs/decisions/ADR-121-t5b-grc-document-repository-type.md
  src/body/atomic/__init__.py
  src/body/atomic/document/__init__.py
  src/body/atomic/document/gap_analysis_action.py
  src/body/atomic/executor.py
  src/body/atomic/registry.py
  src/body/services/grc/__init__.py
  src/body/services/grc/gap_analysis_service.py
  src/mind/logic/engines/taxonomy_gate.py
  src/shared/infrastructure/intent/action_risk.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/operational_capabilities.py
  src/will/workers/document_corpus_sensor.py
  tests/body/atomic/test_action_risk_overlay.py
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/mind/logic/engines/test_taxonomy_gate__action_support.py
  tests/shared/infrastructure/intent/test_document_corpus_cross_validation.py
  tests/shared/infrastructure/intent/test_sensor_cross_validation.py
  tests/will/workers/test_document_corpus_sensor.py
Labels: feat, fix, test, governance

chore(byor): backlog housekeeping + fix_runs kind CHECK
  .specs/planning/CORE-BYOR-Program-Backlog.md
  infra/sql/db_schema_live.sql
Labels: none

feat(byor): T3 — bundle machinery floor in wheel (ADR-108 D3 / #674)
  .specs/planning/CORE-BYOR-Program-Backlog.md
  src/cli/logic/byor.py
  src/shared/_machinery_floor/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  src/shared/_machinery_floor/META/artifact_type.schema.json
  src/shared/_machinery_floor/META/data_contract.schema.json
  src/shared/_machinery_floor/META/enforcement_mapping.schema.json
  src/shared/_machinery_floor/META/enums.json
  src/shared/_machinery_floor/META/flow.schema.json
  src/shared/_machinery_floor/META/intent_tree.schema.json
  src/shared/_machinery_floor/META/intent_tree.yaml
  src/shared/_machinery_floor/META/phase.schema.json
  src/shared/_machinery_floor/META/rule_document.schema.json
  src/shared/_machinery_floor/META/vocabulary.json
  src/shared/_machinery_floor/META/vocabulary.schema.json
  src/shared/_machinery_floor/META/worker.schema.json
  src/shared/_machinery_floor/META/workflow_definition.schema.json
  src/shared/_machinery_floor/META/workflow_stage.schema.json
  src/shared/_machinery_floor/constitution/CONSTITUTION.md
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/_machinery_floor/enforcement/config/audit_verdict.yaml
  src/shared/_machinery_floor/enforcement/config/circuit_breaker.yaml
  src/shared/_machinery_floor/enforcement/config/governance_paths.yaml
  src/shared/_machinery_floor/enforcement/config/normative_markers.yaml
  src/shared/_machinery_floor/enforcement/config/operational_config.yaml
  src/shared/_machinery_floor/enforcement/config/phase_responsibility.yaml
  src/shared/_machinery_floor/enforcement/config/rule_targets.yaml
  src/shared/_machinery_floor/enforcement/config/task_type_phases.yaml
  src/shared/_machinery_floor/enforcement/config/test_coverage.yaml
  src/shared/_machinery_floor/taxonomies/cognitive_roles.yaml
  src/shared/_machinery_floor/taxonomies/filesystem_operations.yaml
  src/shared/_machinery_floor/taxonomies/operational_capabilities.yaml
  tests/cli/logic/test_byor.py
Labels: feat, fix, test

feat(byor): T5c — close ADR-113 per-finding evidence class (passive_gate + sweep)
  .specs/planning/CORE-BYOR-Program-Backlog.md
  src/mind/logic/engines/passive_gate.py
  tests/mind/governance/test_evidence_class__adr113.py
Labels: feat, fix, test

feat(byor): T5d — internal GRC corpus ingestion pipeline (ADR-122)
  .specs/decisions/ADR-122-t5d-internal-corpus-ingestion-pipeline.md
  .specs/planning/CORE-BYOR-Program-Backlog.md
  src/body/services/grc/gap_analysis_service.py
  src/body/services/grc/internal_corpus.py
  src/cli/resources/grc/__init__.py
  src/cli/resources/grc/ingest.py
  src/mind/logic/engines/grc_judge.py
  src/shared/infrastructure/clients/qdrant_client.py
  tests/body/services/grc/test_internal_corpus.py
  var/prompts/grc_judge/model.yaml
  var/prompts/grc_judge/user.txt
Labels: feat, fix, test

feat(byor): T4 — project onboard --stage airlock (ADR-123)
  .specs/decisions/ADR-123-t4-onboard-stage-flag.md
  src/cli/logic/byor.py
  src/cli/resources/project/onboard.py
  tests/cli/logic/test_byor_stage.py
Labels: feat, fix, test

fix(b113bc0d-d1d7-4d): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/mind/logic/engines/grc_judge.py
Labels: feat, fix

feat(uac): ADR-124 — user access control foundation
  .specs/decisions/ADR-124-user-access-control.md
  infra/sql/db_schema_live.sql
  pyproject.toml
  src/api/dependencies.py
  src/api/main.py
  src/api/v1/auth_routes.py
  src/body/services/auth/__init__.py
  src/body/services/auth/email.py
  src/body/services/auth/password.py
  src/body/services/auth/service.py
  src/body/services/auth/tokens.py
  src/shared/config.py
  tests/body/services/auth/__init__.py
  tests/body/services/auth/test_auth_password_and_tokens.py
Labels: feat, fix, test, deps

fix(ab21de91-8ada-4c): Autonomous remediation: fix.ids (16 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/api/v1/auth_routes.py
Labels: feat, fix

fix(remediation): gate proposals on HEAD commit + migrate temp/report paths to var/
  .gitignore
  logs/.gitkeep
  reports/.gitkeep
  reports/diagnostics/2026-04-24_attribution_sweep.md
  src/cli/commands/guard.py
  src/shared/infrastructure/git_service.py
  src/will/orchestration/decision_tracer.py
  src/will/workers/violation_remediator.py
  tests/shared/infrastructure/test_git_service_worktree.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: feat, fix, test

feat(uac,web): ADR-124 security hardening + ADR-125 web frontend architecture
  .specs/decisions/ADR-124-user-access-control.md
  .specs/decisions/ADR-125-web-frontend-architecture.md
Labels: none

feat(uac): ADR-124 implementation hardening — argon2id, rotation, lockout, deny-list
  infra/sql/db_schema_live.sql
  pyproject.toml
  src/api/dependencies.py
  src/api/v1/auth_routes.py
  src/body/services/auth/deny_list.py
  src/body/services/auth/password.py
  src/body/services/auth/service.py
Labels: feat, fix, deps

feat(web): ADR-125 — scaffold web/ SPA frontend
  Makefile
  src/api/main.py
  web/.gitignore
  web/README.md
  web/components.json
  web/eslint.config.js
  web/index.html
  web/openapi.json
  web/orval.config.ts
  web/package-lock.json
  web/package.json
  web/public/favicon.svg
  web/public/icons.svg
  web/src/App.css
  web/src/App.tsx
  web/src/assets/hero.png
  web/src/assets/react.svg
  web/src/assets/vite.svg
  web/src/index.css
  web/src/lib/fetch-client.ts
  web/src/lib/query-client.ts
  web/src/lib/utils.ts
  web/src/main.tsx
  web/src/routeTree.gen.ts
  web/src/routes/__root.tsx
  web/src/routes/index.tsx
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/tsr.config.json
  web/vite.config.ts
Labels: feat, fix

feat(web): T6a + T6b — auth screens and CORS tightening
  src/api/main.py
  src/shared/config.py
  web/package-lock.json
  web/package.json
  web/src/components/ui/button.tsx
  web/src/components/ui/card.tsx
  web/src/components/ui/form.tsx
  web/src/components/ui/input.tsx
  web/src/components/ui/label.tsx
  web/src/hooks/use-current-user.ts
  web/src/index.css
  web/src/routeTree.gen.ts
  web/src/routes/_app.tsx
  web/src/routes/_app/dashboard.tsx
  web/src/routes/_public.tsx
  web/src/routes/_public/forgot-password.tsx
  web/src/routes/_public/login.tsx
  web/src/routes/_public/register.tsx
  web/src/routes/_public/reset-password.tsx
  web/src/routes/index.tsx
  web/tsconfig.json
Labels: feat, fix

fix(deps): patch Dependabot #35 + #36 — msgpack and pydantic-settings
  poetry.lock
  pyproject.toml
Labels: deps

feat(web): T6c — gate all /v1/ routes with get_current_user (Option 1)
  src/api/main.py
Labels: feat, fix

docs(backlog): mark T6a/T6b/T6c done — SaaS delivery auth surfaces shipped
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: none

feat(web): T6d prep — fix email link paths, MAIL_FROM config, /verify-email SPA route
  src/api/v1/auth_routes.py
  src/body/services/auth/email.py
  src/shared/config.py
  web/src/routeTree.gen.ts
  web/src/routes/_public/verify-email.tsx
Labels: feat, fix

docs(backlog): T6d operator checklist — Resend setup steps
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: none

fix(auth): asyncpg ::jsonb cast bug + docs(backlog): mark T6d done
  .specs/planning/CORE-BYOR-Program-Backlog.md
  src/body/services/auth/service.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
