Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(CLAUDE.md): correct rule digest — 32→35 blocking (71 total)
  CLAUDE.md
Labels: none

fix(audit): clear 8 BLOCK findings — false positives + path routing violations
  .intent/enforcement/mappings/architecture/path_access.yaml
  src/body/infrastructure/storage/file_handler.py
  src/body/services/health_log_service.py
  src/cli/commands/fix/fix_ir.py
  src/mind/coherence/checks/dispatch_parity.py
  src/will/governance/fix_runner.py
Labels: feat, fix, governance

fix(governance): clear proposal queue — FP exclude + missing run() docstrings
  .intent/enforcement/mappings/architecture/path_access.yaml
  src/will/workers/commit_authorship_audit_worker.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix, governance

fix(#563): set resolved_at on circuit-breaker abandonment paths
  src/body/services/blackboard_service/blackboard_proposal_service.py
Labels: feat, fix

fix(#739): register build.test_for_symbol action in atomic __init__
  src/body/atomic/__init__.py
Labels: feat, fix

fix(#741): add passive_gate stubs for code.tests.no_* rules in enforcement mappings
  .intent/enforcement/mappings/code/tests.yaml
Labels: governance

fix(#748): restrict proposal read endpoints to governor + fix remediator heartbeat
  src/api/v1/proposals_routes.py
  src/will/workers/test_remediator/worker.py
  var/prompts/external-review.md
Labels: feat, fix

fix(#749): register context_aware_test_gen_repair in governed_prompts.yaml
  .intent/enforcement/config/governed_prompts.yaml
Labels: governance

chore: delete 13 orphan prompt directories with zero src/ references
  var/prompts/aspect_guidance_extraction/model.yaml
  var/prompts/aspect_guidance_extraction/system.txt
  var/prompts/aspect_guidance_extraction/user.txt
  var/prompts/body_ui_fix_prompt/model.yaml
  var/prompts/body_ui_fix_prompt/system.txt
  var/prompts/body_ui_fix_prompt/user.txt
  var/prompts/context_auditor/model.yaml
  var/prompts/context_auditor/system.txt
  var/prompts/context_auditor/user.txt
  var/prompts/context_auditor_agent/model.yaml
  var/prompts/context_auditor_agent/system.txt
  var/prompts/context_auditor_agent/user.txt
  var/prompts/fix_test_prompt/model.yaml
  var/prompts/fix_test_prompt/system.txt
  var/prompts/fix_test_prompt/user.txt
  var/prompts/healer_remove_dead_code/model.yaml
  var/prompts/healer_remove_dead_code/system.txt
  var/prompts/healer_remove_dead_code/user.txt
  var/prompts/llm_api_client_get_embedding_prompt/model.yaml
  var/prompts/llm_api_client_get_embedding_prompt/system.txt
  var/prompts/llm_api_client_get_embedding_prompt/user.txt
  var/prompts/llm_correction_code_correction_prompt/model.yaml
  var/prompts/llm_correction_code_correction_prompt/system.txt
  var/prompts/llm_correction_code_correction_prompt/user.txt
  var/prompts/modularity_split/model.yaml
  var/prompts/modularity_split/system.txt
  var/prompts/modularity_split/user.txt
  var/prompts/proposal_reasoner/model.yaml
  var/prompts/proposal_reasoner/system.txt
  var/prompts/proposal_reasoner/user.txt
  var/prompts/researcher_agent_evaluate_readiness_prompt/model.yaml
  var/prompts/researcher_agent_evaluate_readiness_prompt/system.txt
  var/prompts/researcher_agent_evaluate_readiness_prompt/user.txt
  var/prompts/researcher_readiness/model.yaml
  var/prompts/researcher_readiness/system.txt
  var/prompts/researcher_readiness/user.txt
  var/prompts/scaffold_new_application_prompt/model.yaml
  var/prompts/scaffold_new_application_prompt/system.txt
  var/prompts/scaffold_new_application_prompt/user.txt
Labels: none

feat(ADR-134:D8): govern self-healing write-feeder prompt group
  .intent/enforcement/config/governed_prompts.yaml
  .specs/decisions/ADR-134-prompt-content-governance.md
  var/prompts/body_contracts_fixer/model.yaml
  var/prompts/call_site_rewriter/model.yaml
  var/prompts/clarity_v2_refactor/model.yaml
  var/prompts/complexity_reflex_refactor/model.yaml
  var/prompts/docstring_writer/model.yaml
  var/prompts/godd_object_modularizer/model.yaml
  var/prompts/line_length_refactorer/model.yaml
  var/prompts/logic_alignment_generic_repair/model.yaml
  var/prompts/modularity_analyze/model.yaml
  var/prompts/single_test_fixer/model.yaml
  var/prompts/violation_remediator/model.yaml
Labels: governance

feat(ADR-003): register test_gen_prompt in governed set
  .intent/enforcement/config/governed_prompts.yaml
  var/prompts/test_gen_prompt/model.yaml
Labels: governance

chore: remove dead SimpleTestGenerator and simple_test_generator_prompt
  src/will/self_healing/simple_test_generator.py
  var/prompts/simple_test_generator_prompt/model.yaml
  var/prompts/simple_test_generator_prompt/system.txt
  var/prompts/simple_test_generator_prompt/user.txt
Labels: feat, fix

docs(ADR-132:D8): document ActionExecutor authorization pass-through design
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: none

docs(ADR-133): document build.tests retention and coverage_remediation caller
  .intent/enforcement/config/action_risk.yaml
  .specs/decisions/ADR-133-test-gap-evaluator.md
Labels: governance

feat(ADR-138): wire dispatch for three inert governance rules + anchor check
  .intent/enforcement/mappings/ai/prompt_artifact_structure.yaml
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/governance/authorship_integrity.yaml
  .specs/decisions/ADR-138-prompt-governance-authorship-enforcement-dispatch.md
  .specs/planning/CORE-BYOR-Program-Backlog.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/planning/CORE-Scout-v2-Workplan.md
  .specs/planning/archive/CORE-Scout-v2-Workplan.md
  src/mind/logic/engines/artifact_gate.py
  tests/mind/logic/engines/test_artifact_gate__governed_prompt_has_anchor.py
Labels: feat, fix, test, governance

fix: remove stale remediates claim from build.tests
  src/body/atomic/build_tests_action.py
Labels: feat, fix

fix(schema): add DISPATCH_PARITY to coherence_candidates relation CHECK
  infra/sql/db_schema_live.sql
Labels: none

fix(qdrant): upgrade server to v1.18.0 and migrate client API
  docker-compose.yml
  src/shared/infrastructure/clients/qdrant_client.py
Labels: feat, fix

fix(tests): update worktree test to use PathResolver instead of removed SANDBOX_PARENT
  tests/shared/infrastructure/test_git_service_worktree.py
Labels: test

fix(intent): add passive_gate mapping for retired logic.di.no_global_session
  .intent/enforcement/mappings/architecture/async_logic.yaml
Labels: governance

feat(ADR-139:D1): install types-PyYAML stubs, eliminate yaml import-untyped errors
  .specs/decisions/ADR-139-mypy-type-safety-remediation.md
  pyproject.toml
Labels: deps

fix(ADR-139:D2a): eliminate all 54 union-attr MyPy errors (Cluster B)
  src/body/atomic/modularity_fix.py
  src/body/atomic/path_resolver_rewriter.py
  src/body/autonomy/micro_proposal_executor.py
  src/body/introspection/export_vectors.py
  src/body/self_healing/body_ui_fixer.py
  src/body/self_healing/docstring_service.py
  src/cli/commands/check/rule.py
  src/cli/commands/develop.py
  src/cli/commands/governance.py
  src/cli/logic/embeddings_cli.py
  src/cli/resources/symbols/fix_ids.py
  src/cli/resources/symbols/resolve_duplicates.py
  src/cli/resources/symbols/sync.py
  src/cli/resources/workers/remediate.py
  src/cli/resources/workers/run.py
  src/mind/enforcement/audit.py
  src/shared/infrastructure/clients/qdrant_client.py
  src/shared/infrastructure/validation/test_runner.py
  src/will/agents/code_generation/code_generator.py
  src/will/governance/audit_runner.py
  src/will/governance/coverage_runner.py
  src/will/orchestration/self_correction_engine.py
  src/will/phases/code_generation_phase.py
  src/will/self_healing/clarity_service.py
  src/will/self_healing/complexity_service.py
  src/will/self_healing/coverage_watcher.py
  src/will/self_healing/linelength_service.py
  src/will/tools/anchor_search.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

fix(ADR-139 D2b): fix attr-defined/call-arg/rowcount errors (cluster C)
  src/body/atomic/path_resolver_rewriter.py
  src/body/services/blackboard_service/__init__.py
  src/body/services/coherence_service.py
  src/cli/logic/reconcile.py
  src/cli/resources/code/clarity.py
  src/cli/resources/code/complexity.py
  src/cli/resources/vectors/rebuild.py
  src/cli/resources/workers/blackboard.py
  src/mind/governance/audit_context.py
  src/shared/ai/prompt_model.py
  src/shared/infrastructure/repositories/memory_repository.py
  src/shared/infrastructure/secrets_service.py
  src/shared/infrastructure/storage/file_provider.py
  src/shared/workers/base.py
Labels: feat, fix

fix(#563): clear 29-subject governor inbox — sanctuaries, verb vocab, modularity roles
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/cli/interface_design.yaml
  src/api/v1/auth_routes.py
  src/body/services/auth/service.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
Labels: feat, fix, governance

fix(4afd3a75-e079-45): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/shared/infrastructure/config_service.py
Labels: feat, fix

feat(ADR-139): D4+D5 — promote quality.type_safety to blocking, drop --ignore-missing-imports
  .intent/rules/architecture/quality_gates.json
  pyproject.toml
  src/mind/logic/engines/workflow_gate/engine.py
  src/will/self_healing/alignment/specialists.py
Labels: feat, fix, governance, deps

fix(tests): clear all 40 pre-existing smoke failures (40→0)
  .specs/papers/CORE-Deployment-Readiness.md
  src/mind/coherence/checks/dispatch_parity.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/infrastructure/intent/generation_budget.py
  src/shared/infrastructure/intent/rule_registry.py
  src/will/workers/audit_violation_sensor.py
  tests/api/test_main.py
  tests/mind/governance/test_audit_context__AuditorContext.py
  tests/mind/governance/test_rule_executor__eval_cache.py
  tests/mind/governance/test_rule_fires__per_engine_type.py
  tests/shared/infrastructure/test_generation_budget.py
  tests/shared/test_path_resolver__PathResolver.py
  tests/shared/workers/test_base__d8_lease.py
  tests/will/agents/test_iterative_coder_agent.py
  tests/will/workers/test_prompt_drift_sensor.py
Labels: feat, fix, test

fix(#740): correct UUID cast in _retire_stuck_proposal — proposal_id is TEXT
  src/will/workers/proposal_pipeline_shop_manager.py
Labels: feat, fix

fix(#727): API response field whitelisting — declare response_model on lane, census, fix routes
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/channels.json
  src/api/v1/census_routes.py
  src/api/v1/fix_routes.py
  src/api/v1/lane_routes.py
  src/api/v1/schemas.py
Labels: feat, fix, governance

fix(test-loop): add Worker constructor + AsyncMock patterns to test gen prompts
  var/prompts/context_aware_test_gen/system.txt
  var/prompts/context_aware_test_gen_repair/system.txt
Labels: none

feat(#750,#742): Redis rate limiter + ProposalStatus → shared.lifecycles (ADR-062)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  pyproject.toml
  src/api/rate_limiter.py
  src/api/v1/auth_routes.py
  src/body/atomic/proposal_lifecycle_actions.py
  src/shared/config.py
  src/shared/lifecycles/__init__.py
  src/shared/lifecycles/proposal.py
  src/will/autonomy/proposal.py
  tests/api/test_rate_limiter.py
Labels: feat, fix, test, governance, deps

feat(#743): close ADR-063 — move will.tools to shared.tools
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/body/infrastructure/bootstrap.py
  src/shared/tools/__init__.py
  src/shared/tools/anchor_builder.py
  src/shared/tools/anchor_search.py
  src/shared/tools/anchors/__init__.py
  src/shared/tools/anchors/discovery.py
  src/shared/tools/anchors/storage.py
  src/shared/tools/architectural_context_builder.py
  src/shared/tools/context/__init__.py
  src/shared/tools/context/code_snippet_extractor.py
  src/shared/tools/context/embedding_search.py
  src/shared/tools/context/formatter.py
  src/shared/tools/context/models.py
  src/shared/tools/context/query_builder.py
  src/shared/tools/context/retriever.py
  src/shared/tools/context/standards.py
  src/shared/tools/layers.py
  src/shared/tools/module_anchor_generator.py
  src/shared/tools/module_descriptor.py
  src/shared/tools/policy_vectorizer.py
  src/will/tools/anchor_builder.py
  src/will/tools/anchor_search.py
  src/will/tools/anchors/discovery.py
  src/will/tools/anchors/storage.py
  src/will/tools/architectural_context_builder.py
  src/will/tools/context/code_snippet_extractor.py
  src/will/tools/context/embedding_search.py
  src/will/tools/context/formatter.py
  src/will/tools/context/models.py
  src/will/tools/context/query_builder.py
  src/will/tools/context/retriever.py
  src/will/tools/context/standards.py
  src/will/tools/layers.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/module_descriptor.py
  src/will/tools/policy_vectorizer.py
Labels: feat, fix, governance

fix(intent): correct scope type in channels.json rule — string → object
  .intent/rules/architecture/channels.json
Labels: governance

fix(audit): route dispatch_parity .intent/ discovery through IntentRepository
  src/mind/coherence/checker.py
  src/mind/coherence/checks/dispatch_parity.py
Labels: feat, fix

fix(workers): bump commit_authorship_audit_worker max_interval 3600→7200
  .intent/workers/commit_authorship_audit_worker.yaml
Labels: governance

fix(workers): bump commit_reachability_auditor max_interval 3600→7200
  .intent/workers/commit_reachability_auditor.yaml
Labels: governance

fix(workers): bump document_corpus_sensor max_interval 3600→7200
  .intent/workers/document_corpus_sensor.yaml
Labels: governance

fix(workers): bump violation_remediator max_interval 60→180
  .intent/workers/violation_remediator.yaml
Labels: governance

chore: remove xAI (grok) from CORE — all surfaces
  src/will/orchestration/cognitive_service.py
Labels: feat, fix

feat(#744): close ADR-064 — Body dispatch facade for capability_tagging
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .specs/decisions/ADR-064-fix-actions-capability-tagging-body-will-closure.md
  src/body/atomic/fix_actions.py
  src/body/infrastructure/lifespan.py
  src/body/services/capability_tagging_dispatch.py
  src/body/services/service_registry.py
  src/cli/commands/daemon.py
  src/shared/context.py
  tests/body/services/test_capability_tagging_dispatch.py
Labels: feat, fix, test, governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
