Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(infra): install-core.sh and logrotate wrote to var/log/; canonical is var/logs/ (ADR-031)
  infra/logrotate/core-daemon
  install-core.sh
Labels: none

fix(cli): project adopt-pack --write has never worked -- dead import, .intent/ hard block, malformed mappings
  CLAUDE.md
  src/cli/logic/byor.py
  src/cli/resources/project/adopt_pack.py
  tests/cli/logic/test_byor_deliver_external_intent_files.py
  tests/cli/resources/project/__init__.py
  tests/cli/resources/project/test_adopt_pack.py
Labels: feat, fix, test

docs(readme): correct four claims the code had moved past
  README.md
Labels: docs

attest(G4): the 72h soak proved continuity only -- 0 of 16,445 findings reached the consequence chain
  .specs/attestations/production-readiness.yaml
  .specs/attestations/soak-closure-f7430b25-20260726.md
  .specs/attestations/soak-f7430b25-findings-to-outcome-20260914.md
  README.md
Labels: docs

docs: BYOR path -- state what actually works from a plain install (ADR-146)
  README.md
  docs/cli-reference.md
  docs/cold-reviewer.md
  docs/getting-started.md
Labels: docs

chore(intent): register soak-f7430b25-findings-to-outcome-20260914.md in the namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(workers): export one goal-driven run's Blackboard record -- deterministic, reconcilable, gated on completeness (#893)
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_run_export.py
  src/cli/resources/workers/__init__.py
  src/cli/resources/workers/export_run.py
  tests/body/services/blackboard_service/test_blackboard_query_service_fetch_entries_by_run_id.py
  tests/body/services/blackboard_service/test_blackboard_run_export.py
  tests/cli/resources/workers/test_export_run.py
Labels: feat, fix, test

fix(workers): CommitReachabilityAuditor skips proposals that committed nothing (#808)
  src/body/services/consequence_log_service.py
  src/will/workers/commit_reachability_auditor.py
  tests/will/workers/test_commit_reachability_auditor__no_commit_skip.py
Labels: feat, fix, test

fix(supervision): stuck_undeferred redrive matches active proposals only (#764 mis-fire)
  src/body/services/proposal_supervision_service.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/body/services/test_proposal_supervision_service.py
Labels: feat, fix, test

governance(cli): add author, export-run, project to standard-verbs vocabulary
  .intent/enforcement/mappings/cli/interface_design.yaml
Labels: governance

governance(modularity): declare CORE_ROLE on five single-responsibility oversize classes (ADR-095 D3)
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/taxonomy_gate.py
  src/shared/infrastructure/git_service.py
  src/will/remediation/ceremony.py
Labels: feat, fix

ci: repoint .env.test at local Docker PG; add constitution-validate zero-error gate
  .env.test
  .github/workflows/core-ci.yml
Labels: ci

fix(cli): constitution validate is stateless -- skip the brain-services warm-up (#544 contract)
  src/cli/resources/constitution/validate.py
Labels: feat, fix

fix(api): apply the DB-held LOG_LEVEL at boot through a plain primitive (#889)
  src/body/infrastructure/lifespan.py
  src/shared/logger.py
  tests/shared/test_logger__apply_log_level.py
Labels: feat, fix, test

fix(embedding): split oversized test functions before embedding (#890)
  src/will/workers/repo_embedding/helpers.py
  tests/will/workers/repo_embedding/test_helpers__chunk_by_function_splits_large.py
Labels: feat, fix, test

docs(adr-159): record the #894 ruling -- one Mind per process, floor integrity, subject isolation
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
Labels: none

fix(governance): safe-auto-approval envelope leaves action_risk.yaml; machinery-floor integrity check (#894 Condition 1)
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/config/safe_auto_approval_envelope.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/will/autonomy.json
  src/shared/infrastructure/intent/action_risk.py
  src/shared/infrastructure/intent/machinery_floor_integrity.py
  src/shared/infrastructure/intent/target_intent_assembly.py
  src/will/autonomy/safe_auto_approval_envelope.py
  tests/fixtures/external_target/intent_overlay/enforcement/config/safe_auto_approval_envelope.yaml
  tests/fixtures/external_target/intent_overlay/safe_auto_approval_envelope.yaml
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/test_authority.py
  tests/fixtures/external_target/test_materialization.py
  tests/shared/infrastructure/intent/test_action_risk__safe_auto_approval_envelope.py
  tests/shared/infrastructure/intent/test_machinery_floor_integrity.py
  tests/shared/infrastructure/intent/test_target_intent_assembly.py
Labels: feat, fix, test, governance

fix(bf151c63-7696-45): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/shared/infrastructure/intent/machinery_floor_integrity.py
  src/shared/infrastructure/intent/target_intent_assembly.py
Labels: feat, fix

fix(governance): envelope comment no longer says 'above'; builder docstring cites ADR-159 as the write authority (#894 Unit 1 review)
  .intent/enforcement/config/safe_auto_approval_envelope.yaml
  src/shared/infrastructure/intent/target_intent_assembly.py
Labels: feat, fix, governance

docs(adr-159): #894 Condition 2 -- floor-wins collision rule with preserved originals and manifest
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
Labels: none

fix(intent): exclude target_intent_assembly.py from the FileHandler-required rules (#894 Unit 1 CI red)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
Labels: governance

feat(cli): runtime external-run -- bind a materialized copy of an external subject and run one goal (#894, ADR-159 Note 2026-09-15)
  src/cli/admin_cli.py
  src/cli/runtime_external_run.py
  src/shared/config.py
  src/shared/infrastructure/intent/action_risk.py
  src/shared/infrastructure/intent/target_intent_assembly.py
  tests/fixtures/external_target/test_external_run.py
  tests/shared/infrastructure/intent/test_action_risk__safe_auto_approval_envelope.py
  tests/shared/infrastructure/intent/test_target_intent_assembly.py
Labels: feat, fix, test

feat(workers): goal_run.<id>.start records subject, bound copy, floor and overlay hashes; unavailability is CORE's own record (#894 Condition 2, Unit 3)
  src/body/services/blackboard_service/blackboard_run_export.py
  src/cli/resources/workers/export_run.py
  src/cli/runtime_external_run.py
  src/shared/context.py
  src/shared/models/target_binding.py
  src/will/autonomy/autonomous_developer.py
  src/will/orchestration/planner_readiness.py
  src/will/workers/goal_execution_worker.py
  tests/body/services/blackboard_service/test_blackboard_run_export.py
  tests/fixtures/external_target/intent_overlay/workers/goal_execution_worker.yaml
  tests/fixtures/external_target/test_external_run.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

test(autonomy): shim test's fake worker models unavailable_reason (#894 Unit 3 CI red)
  tests/will/autonomy/test_develop_from_goal_worker_shim.py
Labels: test

docs(adr-159): #894 seeding rulings -- pinned trial resource, prompt collision, vector-store isolation
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
Labels: none

feat(body): project.cognitive_roles creates taxonomy roles the database lacks (#894 seeding, ruling E)
  src/body/atomic/cognitive_role_projection_actions.py
  src/shared/infrastructure/intent/cognitive_roles.py
  tests/body/atomic/test_cognitive_role_projection_actions.py
Labels: feat, fix, test

feat(shared): external-run seed document model -- closed fields, deterministic refusals, manifest + seed_hash (#894 seeding, rulings A/D/E)
  src/shared/infrastructure/intent/external_run_seed.py
  tests/shared/infrastructure/intent/test_external_run_seed.py
Labels: feat, fix, test

feat(body): seed.external_run_resources -- the one governed writer for an isolated external-run database (#894 seeding, ruling D)
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/__init__.py
  src/body/atomic/external_run_seed_actions.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  tests/body/atomic/test_external_run_seed_actions.py
Labels: feat, fix, test, governance

feat(shared): execution copy installs the runner's prompt artifacts, runner wins on collision (#894 seeding, ruling B)
  src/shared/infrastructure/intent/target_intent_assembly.py
  tests/shared/infrastructure/intent/test_target_intent_assembly.py
Labels: feat, fix, test

feat(workers): run identity carries seed_hash and records policy_counsel for bound runs (#894 seeding, rulings C/E)
  src/shared/models/target_binding.py
  src/will/workers/goal_execution_worker.py
  tests/body/services/blackboard_service/test_blackboard_run_export.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

feat(cli): external-run seeds the isolated environment before the Worker starts (#894 seeding, rulings A/B/C/D/E)
  src/cli/runtime_external_run.py
  tests/fixtures/external_target/seed/assignments.yaml
  tests/fixtures/external_target/seed/llm_resources/ollama_qwen_coder_3b_trial.yaml
  tests/fixtures/external_target/seed/system_config.yaml
  tests/fixtures/external_target/test_external_run.py
Labels: feat, fix, test

test(fixture): overlay carries the policy doc and workflow definition the seeded run resolves through the bound copy (#894 seeding)
  tests/fixtures/external_target/intent_overlay/rules/ai/capability_taxonomy_governance.json
  tests/fixtures/external_target/intent_overlay/workflows/definitions/code_modification.yaml
  tests/fixtures/external_target/materialize.py
Labels: test

fix(will): local resources never consult the secret store; external-run installs both planner prompts; fixture overlays the phase declarations (#894 seeding, live-run findings)
  src/cli/runtime_external_run.py
  src/will/orchestration/cognitive_service.py
  tests/fixtures/external_target/intent_overlay/phases/audit.yaml
  tests/fixtures/external_target/intent_overlay/phases/execution.yaml
  tests/fixtures/external_target/intent_overlay/phases/interpret.yaml
  tests/fixtures/external_target/intent_overlay/phases/load.yaml
  tests/fixtures/external_target/intent_overlay/phases/parse.yaml
  tests/fixtures/external_target/intent_overlay/phases/runtime.yaml
  tests/fixtures/external_target/materialize.py
  tests/will/orchestration/test_cognitive_service__local_resource_no_secret.py
Labels: feat, fix, test

fix(cli): ruling C held only under pytest -- bind QDRANT_URL empty, prove absence after bootstrap, record policy counsel after resolution (#894 seeding, live-run finding)
  src/cli/runtime_external_run.py
  src/shared/config.py
  src/will/workers/goal_execution_worker.py
  tests/fixtures/external_target/test_external_run.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

fix(will): plan_goal contract is the #425 wrapper object -- JSON-object mode cannot yield a top-level list (#894 seeding, live-run finding)
  src/will/agents/base_planner.py
  tests/will/agents/test_base_planner.py
  var/prompts/plan_goal/model.yaml
  var/prompts/plan_goal/system.txt
  var/prompts/plan_goal/user.txt
Labels: feat, fix, test

fix(workers): goal-run outcomes render the plan as data -- ExecutionTask objects were never JSON-serializable on the Blackboard (#894 seeding, live-run finding)
  src/will/workers/goal_execution_worker.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

test(fixture): live external run pins today's honest outcome -- planner plans, RUNTIME fails on CORE's missing context schema (#894 seeding)
  tests/fixtures/external_target/test_external_run.py
Labels: test

fix(workers): GoalExecutionWorker resolves auditor_context like the CLI decorator does (#894 seeding, live-run finding)
  src/will/workers/goal_execution_worker.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

fix(shared): ContextValidator is the schema -- drop the dead var/context/schema.yaml dependency (#894 seeding, live-run finding)
  src/shared/infrastructure/context/validator.py
  src/shared/path_resolver.py
  tests/shared/infrastructure/context/test_context_validator__no_schema_file.py
  tests/shared/test_path_resolver__PathResolver.py
Labels: feat, fix, test

feat(cli): external-run installs the runner's whole prompt set; fixture seed assigns the coder roles; live test pins the audit gate (#894 seeding, rulings A/B at their principle)
  src/cli/runtime_external_run.py
  tests/fixtures/external_target/seed/assignments.yaml
  tests/fixtures/external_target/seed/llm_resources/ollama_qwen_coder_3b_trial.yaml
  tests/fixtures/external_target/test_external_run.py
Labels: feat, fix, test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
