Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(audit): remove typer import from project_routes + fix adopt_pack type-ignore placement
  src/api/v1/project_routes.py
  src/cli/resources/project/adopt_pack.py
Labels: feat, fix

feat(api): add GET /v1/analysis/bridges endpoint + InspectClient method
  src/api/cli/inspect_client.py
  src/api/v1/inspect_routes.py
  src/will/governance/inspect_runner.py
Labels: feat, fix

feat(cli): retire cli_user.py per ADR-146 D6
  src/cli/__init__.py
  src/cli/cli_user.py
Labels: feat, fix

fix(canary): stop symlink dereferencing, add sandbox retention janitor
  .intent/governance/namespace_manifest.yaml
  .intent/workers/canary_janitor.yaml
  .specs/decisions/ADR-147-canary-sandbox-janitor-worker.md
  src/body/services/crate_processing_service.py
  src/will/workers/canary_janitor.py
  tests/body/services/test_crate_processing_service__CrateProcessingService.py
  tests/will/workers/test_canary_janitor.py
Labels: feat, fix, test, governance

docs(planning): correct External Adoption Plan against verified code state
  .specs/planning/CORE-External-Adoption-Plan.md
Labels: none

docs+tooling: record proven VM specs for core-cli smoke test, add prep script
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
  scripts/core-cli-vm-prep.sh
Labels: none

docs(planning): record smoke-test run log — Phase 1 pass, Phase 2 blocked
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
Labels: none

docs(planning): record core-cli smoke-test HOLD result + 2.9.0 fix
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
Labels: none

chore: bump core-runtime to 2.9.0
  README.md
  pyproject.toml
Labels: docs, deps

docs(planning): smoke-test re-run passes — HOLD -> SHIP after 2.9.0 + venv repair
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
Labels: none

docs(planning): follow-up action list for core-cli 2.9.0 release
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

docs(planning): mark core-cli 1.0.1 published in follow-up list
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

docs(planning): fix smoke-test command drift + record Phase 5 write-flow exercise
  .specs/planning/CORE-CLI-2.9.0-Followups.md
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
Labels: none

docs(planning): mark MEMORY.md tiering (#4) done
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

docs(planning): mark JWT_SECRET_KEY durability (#3) done
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

docs(planning): clean-room rebuild runbook + correct #3 (JWT guard removed in OSS)
  .specs/planning/CORE-CLI-2.9.0-Followups.md
  .specs/planning/CORE-Cleanroom-Rebuild-Runbook.md
Labels: none

fix(byor): F-2 — clean 4xx instead of raw OSError leak on cross-host writes
  src/cli/logic/byor.py
  tests/cli/logic/test_byor_stage.py
Labels: feat, fix, test

fix(cli): F-1 topology closure, byor-quickstart rewrite, CORE_API_URL wiring
  .specs/planning/CORE-CLI-2.9.0-Followups.md
  docs/byor-quickstart.md
  src/api/cli/client.py
  src/api/v1/project_routes.py
  tests/api/cli/__init__.py
  tests/api/cli/test_client.py
Labels: feat, fix, docs, test

fix(cli): F-2 correction — existence-check OSError leak + typer.Exit/SystemExit bug
  .specs/planning/CORE-CLI-2.9.0-Followups.md
  src/api/v1/project_routes.py
  src/cli/logic/byor.py
  tests/api/v1/test_project_routes.py
  tests/cli/logic/test_byor_stage.py
Labels: feat, fix, test

chore(release): prep core-runtime 2.9.1 — BYOR write-flow fixes
  CHANGELOG.md
  pyproject.toml
Labels: deps

docs(planning): record core-runtime 2.9.1 published + GitHub Release
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

fix(docs): byor-quickstart correctness — absolute paths, verified live on a fresh VM
  .specs/planning/CORE-CLI-VM-Test-Access-Runbook.md
  docs/byor-quickstart.md
Labels: docs

docs(planning): record live same-host smoke test + F-4 fix + core-cli 1.0.2
  .specs/planning/CORE-CLI-2.9.0-Followups.md
Labels: none

docs(planning): sync smoke-test + cleanroom docs with today's later work
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
  .specs/planning/CORE-Cleanroom-Rebuild-Runbook.md
  scripts/coldroom-prep.sh
Labels: none

fix(prompts): correct external-review.md's stale security posture + ADR range
  var/prompts/external-review.md
Labels: none

feat(proposal): accept ADR-148 and land the finalizing state (law layer)
  .intent/META/enums.json
  .intent/META/vocabulary.json
  .intent/enforcement/contracts/Proposal.json
  .intent/enforcement/contracts/ProposalResponse.json
  .specs/decisions/ADR-148-proposal-finalization-barrier.md
  .specs/papers/CORE-Proposal.md
  .specs/papers/CORE-Vocabulary.md
  src/shared/_machinery_floor/META/enums.json
  src/shared/lifecycles/proposal.py
Labels: feat, fix, governance

fix(file-handler): preserve symlinks in copy_repo_snapshot (ADR-147 b)
  src/body/infrastructure/storage/file_handler.py
  tests/body/infrastructure/storage/test_file_handler__copy_repo_snapshot_symlinks.py
Labels: feat, fix, test

chore(autonomy): retire dormant MicroProposalExecutor (dead code)
  src/body/autonomy/micro_proposal_executor.py
Labels: feat, fix

docs(intent): mark consequence-log extraction resolved in layer_separation
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

refactor(modularity): read split_confidence_threshold via operational_config (ADR-040)
  .intent/enforcement/config/governance_paths.yaml
  .intent/enforcement/config/operational_config.yaml
  src/body/atomic/modularity_fix.py
  src/shared/_machinery_floor/enforcement/config/governance_paths.yaml
  src/shared/_machinery_floor/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
  tests/shared/infrastructure/intent/test_operational_config.py
Labels: feat, fix, test, governance

docs(claude-md): reconcile constitutional-rule digest to source (73 rules)
  CLAUDE.md
Labels: none

docs(planning): external-review ToDo — verified findings + progress trace
  .specs/planning/external-review-2026-07-todo.md
Labels: none

feat(proposal): typed CommitOutcome — a failed commit fails the proposal (ADR-148 D3)
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  tests/will/autonomy/test_proposal_commit_outcome.py
Labels: feat, fix, test

feat(db): add finalizing state + consequence_recorded_at (ADR-148 Stage 2 DDL)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260712_adr148_finalizing_and_consequence_recorded_at.sql
  schema.sql
  src/shared/infrastructure/database/models/autonomous_proposals.py
Labels: feat, fix

feat(proposal): the FINALIZING barrier — COMPLETED requires durable evidence (ADR-148 Stage 2)
  .intent/enforcement/contracts/Proposal.json
  .intent/rules/will/proposal_lifecycle.json
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_state_manager.py
  tests/will/autonomy/test_proposal_state_transitions.py
Labels: feat, fix, test, governance

feat(proposal): stuck_finalizing reaper — roll FINALIZING forward (ADR-148 Stage 3)
  .intent/META/enums.json
  .intent/enforcement/config/operational_config.yaml
  src/body/services/proposal_supervision_service.py
  src/shared/_machinery_floor/META/enums.json
  src/shared/_machinery_floor/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/proposal_pipeline_shop_manager.py
Labels: feat, fix, governance

fix(proposal): align mark_completed with ADR-148 FINALIZING barrier (quality.type_safety)
  src/will/autonomy/proposal_service.py
  tests/will/autonomy/test_proposal_executor_results_keying.py
  tests/will/autonomy/test_proposal_state_manager_sanitize.py
Labels: feat, fix, test

feat(cli): vectors rebuild — cold-rebuild command for the vector store (#777)
  src/cli/resources/vectors/__init__.py
  src/cli/resources/vectors/rebuild.py
  tests/cli/resources/vectors/__init__.py
  tests/cli/resources/vectors/test_rebuild.py
Labels: feat, fix, test

fix(body): _chunk_whole returns no chunks for empty content
  src/body/atomic/sync_actions/chunking_helpers.py
  tests/body/atomic/test_chunking_helpers.py
Labels: feat, fix, test

fix(tests): re-arm the artifact_type drift guard (#776)
  tests/infra/test_repo_artifacts_type_check_matches_registry.py
Labels: test
