Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(fixture): overlay delivers the audit path's policy; complete prompt corpus incl. loose files; live test pins the apparatus verdict -- first RAN (#894 seeding, Governor rulings 2026-09-15)
  src/cli/runtime_external_run.py
  src/shared/infrastructure/intent/target_intent_assembly.py
  tests/fixtures/external_target/intent_overlay/rules/code/imports.json
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/test_external_run.py
  tests/fixtures/external_target/test_external_run_audit_path.py
  tests/shared/infrastructure/intent/test_target_intent_assembly.py
Labels: feat, fix, test

fix(body): check.imports examines the BOUND repository, never the process cwd (#894 seeding, live-run finding)
  src/body/atomic/check_actions.py
  tests/body/atomic/test_atomic_actions__fix_action_scope.py
Labels: feat, fix, test

fix(shared): the execution copy carries PathResolver's required runtime structure (#894 seeding, post-restart live-run finding)
  src/shared/infrastructure/intent/target_intent_assembly.py
  src/shared/path_resolver.py
  tests/shared/infrastructure/intent/test_target_intent_assembly.py
Labels: feat, fix, test

fix(will): a partial code-generation result states its verdict; live test pins stated model verdicts (#894 seeding, live-run finding)
  src/will/phases/code_generation_phase.py
  tests/fixtures/external_target/test_external_run.py
  tests/will/phases/test_code_generation_phase__verdict_stated.py
Labels: feat, fix, test

docs(adr-159): Trial 0 runner baseline pinned at a2adc03c -- a pin, not a certification (Governor ruling 2026-09-15)
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
Labels: none

docs(adr-159): Trial 0 canonical staged inputs -- trial-owned seed and overlay worker declaration (Governor ruling 2026-09-15)
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/workers/goal_execution_worker.yaml
  .specs/planning/adr-159-trial0-apparatus/seed/assignments.yaml
  .specs/planning/adr-159-trial0-apparatus/seed/llm_resources/ollama_qwen_coder_3b_trial.yaml
  .specs/planning/adr-159-trial0-apparatus/seed/system_config.yaml
Labels: none

feat(governance): safe-auto-approval envelope gains an explicit deny_all mode; every denial names the governing rule (ADR-159 Trial 0, Governor rulings D and F, 2026-09-15)
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/enforcement/config/safe_auto_approval_envelope.yaml
  src/shared/infrastructure/intent/action_risk.py
  src/will/autonomy/safe_auto_approval_envelope.py
  tests/shared/infrastructure/intent/test_action_risk__safe_auto_approval_envelope.py
  tests/will/autonomy/test_safe_auto_approval_envelope.py
Labels: feat, fix, test

chore(intent): register the ADR-159 Trial 0 staged inputs in the namespace manifest (CI 35027055107)
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(body): target reconnaissance analyzer -- comprehension of an unfamiliar target before planning (#895 U1)
  src/body/analyzers/target_reconnaissance_analyzer.py
  tests/body/analyzers/test_target_reconnaissance_analyzer.py
Labels: feat, fix, test

feat(will): ParsePhase grounds planning in target reconnaissance (#895 U1)
  src/will/phases/parse_phase.py
  tests/will/phases/test_parse_phase_reconnaissance.py
Labels: feat, fix, test

fix(will): drop an orphaned symbol ID from the ParsePhase module docstring
  src/will/phases/parse_phase.py
Labels: feat, fix

feat(will): run-scoped reconnaissance records on the goal run's identity (#895 U1)
  src/will/workers/goal_execution_worker.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

feat(will): planning decisions become addressable records on the run (#895 U1)
  src/will/phases/parse_phase.py
  src/will/workers/goal_execution_worker.py
  tests/will/phases/test_parse_phase_reconnaissance.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

fix(body): recon_digest carries the full SHA-256, not a 16-char prefix (#895 U1)
  src/body/analyzers/target_reconnaissance_analyzer.py
  tests/body/analyzers/test_target_reconnaissance_analyzer.py
  tests/will/phases/test_parse_phase_reconnaissance.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

feat(intent): the evaluation workflow -- read-only investigation of an unfamiliar target (#895 U2)
  .intent/governance/namespace_manifest.yaml
  .intent/workflows/definitions/evaluation.yaml
  .intent/workflows/stages/parse.plan_investigation.yaml
  .intent/workflows/stages/runtime.investigate.yaml
Labels: governance

feat(will): read-only investigation execution for the evaluation workflow (#895 U2)
  .intent/governance/namespace_manifest.yaml
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/workflows/definitions/evaluation.yaml
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/workflows/stages/parse.plan_investigation.yaml
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/workflows/stages/runtime.investigate.yaml
  src/shared/models/investigation_finding.py
  src/will/agents/investigation_planner.py
  src/will/orchestration/goal_run_records.py
  src/will/phases/investigation_phase.py
  src/will/phases/parse_phase.py
  src/will/phases/runtime_phase.py
  src/will/workers/goal_execution_worker.py
  tests/will/agents/test_investigation_planner.py
  tests/will/phases/test_investigation_phase.py
  tests/will/phases/test_parse_phase_reconnaissance.py
  tests/will/phases/test_runtime_phase_routing.py
  tests/will/workers/test_goal_execution_worker.py
  var/prompts/plan_investigation/model.yaml
  var/prompts/plan_investigation/system.txt
  var/prompts/plan_investigation/user.txt
Labels: feat, fix, test, governance

fix(will): re-attach an orphaned symbol ID split from its def (#895 U1/U2)
  src/will/workers/goal_execution_worker.py
Labels: feat, fix

feat(governance): linkage.no_orphan_ids -- every # ID: anchor must annotate a symbol
  .intent/enforcement/mappings/code/linkage.yaml
  .intent/rules/code/linkage.json
  README.md
  docs/how-it-works.md
  src/body/self_healing/id_tagging_service.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/ast_utility.py
  tests/body/self_healing/test_id_tagging_service__strip_orphan_ids.py
  tests/mind/logic/engines/ast_gate/test_orphan_ids_check.py
  tests/shared/test_ast_utility__find_orphan_id_lines.py
Labels: feat, fix, docs, test, governance

fix(body): fix.ids preserves orphaned anchors; reports them for re-attachment
  src/body/self_healing/id_tagging_service.py
  tests/body/governance/test_intent_guard_823_e2e_fixids.py
  tests/body/self_healing/test_id_tagging_service__orphan_preservation.py
  tests/body/self_healing/test_id_tagging_service__strip_orphan_ids.py
Labels: feat, fix, test

fix(body): no ID-assigning site regenerates an identity an orphaned anchor carries
  src/body/infrastructure/storage/file_handler.py
  src/body/self_healing/handlers/id_assignment_handler.py
  src/body/self_healing/id_tagging_service.py
  src/shared/ast_utility.py
  tests/body/governance/test_intent_guard_823_e2e_fixids.py
  tests/body/infrastructure/storage/test_file_handler__orphan_shadow_preserved.py
  tests/body/self_healing/test_id_assignment_handler__orphan_shadow.py
  tests/shared/test_ast_utility__find_orphan_shadowed_symbols.py
Labels: feat, fix, test

chore(specs): G2 registry row for linkage.no_orphan_ids
  .specs/verification/g2_blocking_rule_registry.yaml
Labels: none

feat(governance): architecture.execution_write.repository_containment -- the write boundary names its rule (#895 U3 D2)
  .intent/enforcement/mappings/architecture/execution_write_containment.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/architecture/execution_write_containment.json
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/enforcement/mappings/architecture/execution_write_containment.yaml
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/rules/architecture/execution_write_containment.json
  .specs/verification/g2_blocking_rule_registry.yaml
  README.md
  docs/how-it-works.md
  src/body/atomic/executor.py
  src/body/infrastructure/storage/file_handler.py
  src/shared/exceptions.py
  tests/body/infrastructure/storage/test_file_handler__repository_containment.py
Labels: feat, fix, docs, test, governance

feat(will): ADR-159 apparatus probes I-5/I-6 on the run identity; --probes; evaluation via external-run (#895 U3)
  src/cli/runtime_external_run.py
  src/will/autonomy/autonomous_developer.py
  src/will/orchestration/goal_run_probes.py
  src/will/orchestration/planner_readiness.py
  src/will/workers/goal_execution_worker.py
  tests/body/atomic/test_executor_governed_refusal_surfacing.py
  tests/fixtures/external_target/test_external_run.py
  tests/will/orchestration/test_goal_run_probes.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

feat(cli): external-run egress preflight, task-statement hash, write inventory (#895 U3 C/I-1/I-2)
  src/cli/runtime_external_run.py
  src/shared/infrastructure/intent/external_run_egress.py
  tests/fixtures/external_target/test_external_run.py
  tests/shared/infrastructure/intent/test_external_run_egress.py
Labels: feat, fix, test

fix(governance): manifest entries for the D2 rule + mapping; anchor to_payload (#895 U3)
  .intent/governance/namespace_manifest.yaml
  src/shared/exceptions.py
Labels: feat, fix, governance

test(external-target): Document A runnable checks -- A6 clauses and A7 I-1..I-6 (#895 U4)
  tests/fixtures/external_target/test_document_a_checks.py
Labels: test

fix(docs): CLAUDE.md rule digest 39 blocking / 78 after the D2 rule (#895 U3)
  CLAUDE.md
Labels: none

docs(specs): ADR-161 proposed -- the repository tree as declared law, the resources kind, infra/ second level
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-161-repository-layout.md
Labels: governance

docs(specs): ADR-161 D2b -- PathResolver is the register's verified code twin; var/ declared one level down
  .specs/decisions/ADR-161-repository-layout.md
Labels: none

docs(specs): ADR-161 -- link #909 (prompts not shipped) to the prompts drain and D3a-3
  .specs/decisions/ADR-161-repository-layout.md
Labels: none

fix(file-handler): directory helpers no longer re-root absolute paths (#908)
  src/body/infrastructure/storage/file_handler.py
  src/will/orchestration/decision_tracer.py
  tests/body/infrastructure/storage/test_file_handler__repository_containment.py
Labels: feat, fix, test

fix(cli): external-run parse_args imported `shared` before the environment bind (#895 cold run)
  src/cli/runtime_external_run.py
  src/shared/infrastructure/intent/external_run_egress.py
  tests/fixtures/external_target/test_external_run.py
  tests/shared/infrastructure/intent/test_external_run_egress.py
Labels: feat, fix, test

fix(will): the evaluation workflow runs end-to-end and records findings + reasoning (#895 U2 cold run)
  src/will/agents/investigation_planner.py
  src/will/orchestration/goal_run_records.py
  src/will/phases/interpret_phase.py
  src/will/phases/load_phase.py
  src/will/phases/parse_phase.py
  tests/will/agents/test_investigation_planner.py
  tests/will/phases/test_load_phase__plan_resolution.py
  tests/will/phases/test_workflow_type_vocabulary_drift.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

test(external-target): Document A checks carry finding rows (A6 "findings", I-4 evidence) -- mapping review
  tests/fixtures/external_target/test_document_a_checks.py
Labels: test

fix(body): file.create lets the typed containment refusal reach ActionExecutor (#895 I-5)
  src/body/atomic/file_ops.py
  tests/body/atomic/test_file_ops.py
Labels: feat, fix, test

feat(governance): envelope rule in its own additive document; probes verify the named rule is loaded law (#895 M1(a))
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/enforcement/mappings/will/safe_auto_approval_envelope.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/will/autonomy.json
  .intent/rules/will/safe_auto_approval_envelope.json
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/enforcement/mappings/will/safe_auto_approval_envelope.yaml
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/rules/will/safe_auto_approval_envelope.json
  src/will/autonomy/safe_auto_approval_envelope.py
  src/will/orchestration/goal_run_probes.py
  tests/fixtures/external_target/test_document_a_checks.py
  tests/will/autonomy/test_safe_auto_approval_envelope.py
  tests/will/orchestration/test_goal_run_probes.py
Labels: feat, fix, test, governance

fix(will): reconnaissance and investigation read a subject-only view (#895 M2)
  src/shared/models/target_binding.py
  src/will/orchestration/goal_run_records.py
  src/will/phases/investigation_phase.py
  src/will/phases/parse_phase.py
  tests/shared/models/test_target_binding__evaluation_view.py
  tests/will/phases/test_investigation_phase.py
  tests/will/phases/test_parse_phase_reconnaissance.py
Labels: feat, fix, test

docs(specs): ADR-159 Note 2026-09-17 -- #895 cold review; clause rulings issued, certification withheld
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
Labels: none

fix(mind): worker_max_interval evidence window is per worker -- max(24h, 11 x max_interval), uncapped, retention-verified
  .intent/enforcement/mappings/runtime/worker_max_interval.yaml
  .intent/rules/runtime/worker_max_interval.json
  src/mind/logic/engines/runtime_gate.py
  tests/mind/logic/engines/test_runtime_gate__worker_max_interval.py
Labels: feat, fix, test, governance

docs(readme): rule documents 59 -> 60 (#631 drift gate)
  README.md
Labels: docs

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
