Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(tests): stop generated EngineRegistry tests leaking class state
  tests/mind/logic/engines/registry/test_generated.py
Labels: test

fix(test-gen): carry pytest output into repair prompt and failure record
  src/body/flows/executor.py
  src/shared/protocols/cognitive_flow_delegate.py
  src/will/agents/acceptance/conditions.py
  src/will/agents/test_gen_cognitive_delegate.py
  tests/body/flows/test_executor_cognitive_step_details.py
  tests/will/agents/test_acceptance_conditions.py
  tests/will/agents/test_test_gen_cognitive_delegate.py
Labels: feat, fix, test

fix(types): pass mypy 2.3 and SQLAlchemy 2.1; fix three bugs they exposed
  src/body/atomic/external_run_seed_actions.py
  src/body/atomic/proposal_lifecycle_actions.py
  src/body/services/coherence_service.py
  src/cli/commands/check/audit.py
  src/cli/commands/refactor.py
  src/cli/commands/tests.py
  src/cli/logic/audit_capability_domains.py
  src/cli/logic/log_audit.py
  src/cli/logic/tools.py
  src/cli/resources/workers/blackboard.py
  src/shared/infrastructure/repositories/db/ledger_engine.py
  src/shared/infrastructure/repositories/db/status_service.py
  src/will/autonomy/proposal_consumer_revival.py
  tests/cli/commands/test_refactor__score_error_paths.py
  tests/cli/logic/test_tools__export_context.py
Labels: feat, fix, test

docs(CLAUDE.md): docs/ in write scope; "never" means ask once, then do
  CLAUDE.md
Labels: none

fix(audit): zero declared rules fails closed (ERROR, exit 2), not a vacuous PASS
  .specs/decisions/ADR-108-external-adoption-minimal-starter-intent.md
  src/mind/governance/stateless_audit.py
  tests/mind/governance/test_stateless_audit__fails_closed.py
  tests/mind/governance/test_stateless_audit__skips_db_rules.py
Labels: feat, fix, test

feat(project new): Generate bootstrap stage — floor + neutral skeleton, no law (#892)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .specs/decisions/ADR-119-scout-byor-path-1-induction.md
  docs/cli-reference.md
  src/body/project_lifecycle/scaffolding_service.py
  src/cli/logic/byor.py
  src/cli/logic/new.py
  src/cli/logic/project_scaffold.py
  src/cli/resources/project/new.py
  tests/cli/logic/test_project_scaffold.py
  tests/cli/resources/project/test_new.py
Labels: feat, fix, docs, test, governance

fix(cli): evaluator first-run fixes: closed-stdin prompt, log noise, no-LLM noise
  README.md
  docs/getting-started.md
  src/body/atomic/registry.py
  src/body/services/service_registry.py
  src/cli/resources/demo/consequence_chain.py
  src/cli/utils/decorators.py
  src/cli/utils/prompts.py
  src/shared/exceptions.py
  src/shared/infrastructure/diagnostic_service.py
  src/will/agents/cognitive_orchestrator.py
  tests/body/atomic/test_registry__registration_log_level.py
  tests/body/services/test_service_registry__auditor_no_llm.py
  tests/cli/resources/demo/test_consequence_chain_cmd.py
  tests/cli/utils/test_cli_utils__confirm_action.py
  tests/shared/infrastructure/test_diagnostic_service__environment.py
  tests/will/agents/test_cognitive_orchestrator__no_llm.py
Labels: feat, fix, docs, test

fix(test-remediator): report fully covered files as source_files_complete
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: feat, fix, test

fix(cli): subcommand --help no longer bootstraps the whole CoreContext
  src/cli/admin_cli.py
  src/cli/utils/decorators.py
  tests/cli/test_admin_cli__help_skips_bootstrap.py
Labels: feat, fix, test

docs: fresh-machine prerequisites with commands; README and getting-started agree
  README.md
  docs/getting-started.md
Labels: docs

fix(intent): drop dead test.missing/test.failure remediation entries
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

docs(specs): redact commercial pricing from the public tiers paper
  .specs/papers/CORE-Product-Tiers.md
Labels: none

docs(adr-085): retire — the constraint never governed; record what is true
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
Labels: none

docs: make README and Roadmap truthful about what holds today
  .specs/papers/CORE-Roadmap.md
  README.md
Labels: docs

docs: correct claims that do not hold against 2.10.2
  docs/cold-reviewer.md
  docs/contributing.md
  docs/getting-started.md
  docs/how-it-works.md
  docs/index.md
  docs/proof-index.md
  docs/vocabulary.md
Labels: docs

docs(specs): Features F-29/F-48 and the 5+3 tracker match reality
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(site): drop missing stylesheet, add BYOR Quickstart to nav
  mkdocs.yml
Labels: none

fix(packs): adopt-pack works from a pip install — packs ship, writes allowed
  src/cli/logic/byor.py
  src/cli/resources/project/adopt_pack.py
  src/shared/_packs/__init__.py
  src/shared/_packs/architectural_boundaries.yaml
  src/shared/_packs/python_hygiene.yaml
  src/shared/_packs/starter_python.yaml
  src/shared/infrastructure/bundled_packs.py
  src/shared/infrastructure/intent/intent_repository.py
  tests/cli/logic/test_byor_deliver_external_intent_files.py
  tests/cli/logic/test_byor_target_safety.py
  tests/cli/resources/project/test_adopt_pack.py
  tests/infra/test_packs_ship_in_wheel.py
  tests/shared/infrastructure/test_bundled_packs.py
Labels: feat, fix, test

fix(project new): runs from a plain pip install — no Qdrant, no cwd walk-up
  src/cli/logic/byor.py
  src/cli/logic/project_scaffold.py
  src/cli/resources/project/new.py
  tests/cli/resources/project/test_new.py
Labels: feat, fix, test

docs: the service-free journey — project new, adopt-pack, offline audit
  docs/getting-started.md
Labels: docs

chore: bump version to 2.11.0
  CHANGELOG.md
  Dockerfile
  README.md
  docs/cold-reviewer.md
  pyproject.toml
Labels: docs, deps

refactor(packs): reuse bundled_prompts.is_package_marker instead of a copy
  src/shared/infrastructure/bundled_packs.py
Labels: feat, fix

refactor: declare the blackboard posting surface and the route matcher once
  src/cli/route_match.py
  src/cli/runtime_external_run.py
  src/cli/runtime_external_verify.py
  src/shared/protocols/blackboard_poster.py
  src/will/orchestration/goal_run_records.py
  src/will/remediation/blackboard.py
  tests/cli/test_route_match.py
  tests/shared/protocols/test_blackboard_poster.py
Labels: feat, fix, test

fix(shared): protocols package declared 'all' instead of '__all__'
  src/shared/protocols/__init__.py
Labels: feat, fix

fix(291838c4-3689-42): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/cli/route_match.py
Labels: feat, fix

refactor(api): routes receive Body services from api.dependencies
  src/api/dependencies.py
  src/api/v1/findings_routes.py
  src/api/v1/project_routes.py
  src/api/v1/proposals_routes.py
  src/api/v1/scout_routes.py
  src/api/v1/symbols_routes.py
  tests/api/test_dependencies_body_providers.py
  tests/api/v1/project_routes/test_generated.py
  tests/api/v1/symbols_routes/test_generated.py
  tests/api/v1/test_project_routes.py
  tests/api/v1/test_scout_route.py
  tests/api/v1/test_symbols_routes.py
Labels: feat, fix, test

fix(da183e4e-26ac-47): Autonomous test generation: flow.build_test_for_symbol — src/cli/route_match.py::route_matcher (function)
  tests/cli/route_match/__init__.py
  tests/cli/route_match/test_generated.py
Labels: test

fix(taxonomy_gate): read .intent/ through IntentRepository; gateway skips bad YAML
  src/mind/logic/engines/taxonomy_gate.py
  src/shared/infrastructure/intent/intent_repository.py
  tests/shared/infrastructure/intent/test_intent_repository_documents.py
Labels: feat, fix, test

fix(canary_janitor): delete through FileService/FileHandler, drop the exclusion
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/workers/canary_janitor.yaml
  .specs/decisions/ADR-147-canary-sandbox-janitor-worker.md
  src/body/services/file_service.py
  src/will/workers/canary_janitor.py
  tests/will/workers/test_canary_janitor.py
Labels: feat, fix, test, governance

docs(adr-166): two governed write surfaces — accepted; rule amended
  .intent/rules/architecture/mutation_surface.json
  .specs/decisions/ADR-166-two-governed-write-surfaces.md
Labels: governance

fix(intent): register ADR-166 in the namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(governance): ADR-166 unit 1 — write detector reads the real mode; seed streams through FileHandler
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/sanctuaries.yaml
  .intent/taxonomies/filesystem_operations.yaml
  .specs/decisions/ADR-166-two-governed-write-surfaces.md
  src/body/infrastructure/storage/file_handler.py
  src/cli/resources/coherence/seed.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  tests/body/infrastructure/storage/test_file_handler__open_text_for_write.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__write_mode.py
Labels: feat, fix, test, governance

style(shared): sort protocols __all__ (RUF022)
  src/shared/protocols/__init__.py
Labels: feat, fix

fix(f91612f8-e4b3-45): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/api_auth_checks.py::ApiAuthChecks.check_sensitive_route_must_be_gated (method)
  tests/mind/logic/engines/ast_gate/checks/api_auth_checks/test_generated.py
Labels: test

fix(27b81829-f171-40): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/api_auth_checks.py::ApiAuthChecks.check_router_exposure_enforcement (method)
  tests/mind/logic/engines/ast_gate/checks/api_auth_checks/test_generated.py
Labels: test

fix(2f7c4b09-f205-4f): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/purity_enforcement_check.py::PurityEnforcementCheck (class)
  tests/mind/logic/engines/ast_gate/checks/purity_enforcement_check/__init__.py
  tests/mind/logic/engines/ast_gate/checks/purity_enforcement_check/test_generated.py
Labels: test

fix(bad8eb68-963b-47): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/protected_namespace_access_check.py::ProtectedNamespaceAccessCheck (class)
  tests/mind/logic/engines/ast_gate/checks/protected_namespace_access_check/test_generated.py
Labels: test

fix(4f6df1c9-1681-47): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/naming_checks.py::NamingChecks.check_max_function_length (method)
  tests/mind/logic/engines/ast_gate/checks/naming_checks/test_generated.py
Labels: test

fix(5921f46e-caaf-45): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/purity_checks.py::PurityChecks.check_required_decorator (method)
  tests/mind/logic/engines/ast_gate/checks/purity_checks/test_generated.py
Labels: test

fix(34d78bf0-89db-44): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/ast_gate/checks/purity_checks.py::PurityChecks.check_orphan_id_anchors (method)
  tests/mind/logic/engines/ast_gate/checks/purity_checks/test_generated.py
Labels: test
