Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(changelog): record ADR-075 — framework/project namespace split
  .intent/CHANGELOG.md
Labels: governance

governance(adr): accept ADR-075 — framework/project namespace split (#457)
  .specs/decisions/ADR-075-framework-project-namespace-split.md
Labels: none

chore(docker): bind qdrant storage to dedicated /mnt/vector_db disk
  docker-compose.yml
Labels: none

governance(namespace): implement ADR-075 framework/project classification (#457)
  .intent/CHANGELOG.md
  .intent/enforcement/mappings/governance/namespace.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/governance/namespace.json
  .intent/taxonomies/governance_namespaces.yaml
Labels: governance

governance(namespace): wire D7 check into artifact_gate
  .intent/enforcement/mappings/governance/namespace.yaml
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix, governance

docs(a3-plan): index ADR-075 with honest D7 enforcement status
  .specs/planning/CORE-A3-plan.md
Labels: none

docs: record ADR-076 acceptance in CHANGELOG and A3 plan
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

governance(dispatch): make context-level mode a per-check-type engine property (ADR-076 D1/D2)
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/workflow_gate/engine.py
Labels: feat, fix

governance(artifact-gate): add verify_context for the six repo-level check_types (ADR-076 D3)
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix

governance(extractor): consult engine class for dispatch mode; retire CONTEXT_LEVEL_ENGINES (ADR-076 D2)
  src/mind/governance/executable_rule.py
  src/mind/governance/rule_extractor.py
Labels: feat, fix

governance(audit-walker): derive walked set from active per-file rule scopes, minimal structural excludes only (ADR-076 D5)
  src/mind/governance/audit_context.py
Labels: feat, fix

governance(audit-stats): surface effective dispatch mode per rule (ADR-076 D4)
  src/cli/logic/audit_renderer.py
  src/cli/resources/code/audit.py
  src/mind/governance/constitutional_auditor_dynamic.py
Labels: feat, fix

tests(governance): firing-coverage gate for context-level dispatch (ADR-076 D6)
  tests/mind/governance/test_adr_076_firing_coverage.py
Labels: test

governance(adr): land ADR-076 — context-level dispatch as per-check-type engine property (#481)
  .specs/decisions/ADR-076-per-check-type-context-level-dispatch.md
Labels: none

governance(a3-plan): close ADR-075 D7 #480 gate — enforcement live via ADR-076 (#481); residual debt tracked #482
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(ac8945da-a440-43): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/governance/constitutional_auditor_dynamic.py
Labels: feat, fix

fix(35894d00-f245-42): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/governance/constitutional_auditor_dynamic/test_generated.py
Labels: test

governance(audit): standing firing-coverage gate — surface zero-match enforcing per-file rules as SCOPE_INERT (ADR-076 D6)
  src/mind/governance/constitutional_auditor_dynamic.py
  tests/mind/governance/constitutional_auditor_dynamic/test_generated.py
  tests/mind/governance/test_firing_coverage_standing_gate.py
Labels: feat, fix, test

governance(audit): cli_gate engine — autonomous enforcement of 8 CLI rules (#483)
  .intent/enforcement/mappings/cli/interface_design.yaml
  .intent/enforcement/mappings/infrastructure/cli_commands.yaml
  .intent/rules/cli/interface_design.json
  src/body/maintenance/command_sync_service.py
  src/mind/logic/engines/cli_gate/__init__.py
  src/mind/logic/engines/cli_gate/base_check.py
  src/mind/logic/engines/cli_gate/checks/__init__.py
  src/mind/logic/engines/cli_gate/checks/async_execution.py
  src/mind/logic/engines/cli_gate/checks/dangerous_explicit.py
  src/mind/logic/engines/cli_gate/checks/discovery_strict.py
  src/mind/logic/engines/cli_gate/checks/help_required.py
  src/mind/logic/engines/cli_gate/checks/no_duplicates.py
  src/mind/logic/engines/cli_gate/checks/no_layer_exposure.py
  src/mind/logic/engines/cli_gate/checks/resource_first.py
  src/mind/logic/engines/cli_gate/checks/standard_verbs.py
  src/mind/logic/engines/cli_gate/engine.py
  src/shared/cli/app_introspection.py
Labels: feat, fix, governance

refactor(cli): retire audit_cli_registry — self_check drives cli_gate (#483)
  src/body/governance/intent_guard.py
  src/body/maintenance/command_sync_service.py
  src/cli/resources/admin/self_check.py
  tests/body/governance/test_intent_guard__audit_engines.py
Labels: feat, fix, test

fix(408e09f0-1a9f-4d): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/cli_gate/engine.py
Labels: feat, fix

fix(7bd7a6bf-aff7-42): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/cli_gate/checks/discovery_strict.py
Labels: feat, fix

fix(eb7bb362-2cb7-49): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/cli_gate/checks/no_layer_exposure.py
Labels: feat, fix

fix(884fc1f1-de70-4c): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/cli_gate/checks/dangerous_explicit.py
Labels: feat, fix

fix(f5c510ed-a185-4c): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/logic/engines/cli_gate/checks/discovery_strict/test_generated.py
Labels: test

fix(76d3b969-c2df-4e): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
Labels: test

fix(e5cbcd74-db96-4d): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/logic/engines/cli_gate/checks/no_layer_exposure/test_generated.py
Labels: test

fix(968d94dd-8f26-4e): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/logic/engines/cli_gate/checks/dangerous_explicit/test_generated.py
Labels: test

chore: track audit_sensor_cli source + cli_registry deprecation prompt
  .intent/workers/audit_sensor_cli.yaml
  var/prompts/audit_cli_registry_deprecation.md
Labels: governance

fix(gate): share canonical-cell normalization between sync and gate (#482)
  src/cli/resources/intent/sync_vocabulary.py
  src/mind/logic/engines/artifact_gate.py
  src/shared/infrastructure/intent/vocabulary_projection.py
Labels: feat, fix

governance(taxonomies): author cognitive_roles.yaml — canonical role declaration
  .intent/taxonomies/cognitive_roles.yaml
Labels: governance

fix(gate): validate cognitive roles against .intent taxonomy, not a literal
  src/mind/logic/engines/artifact_gate.py
  src/shared/infrastructure/intent/cognitive_roles.py
Labels: feat, fix

fix(cli): dedup proposals.create, mark it dangerous, wrap code.actions async
  src/cli/resources/code/actions.py
  src/cli/resources/proposals/create.py
Labels: feat, fix

fix(prompts): declare output.format, remove provider leak
  var/prompts/code_generation_task_step_prompt/model.yaml
  var/prompts/prompt_artifact_generator/model.yaml
Labels: none

fix(cli): rename database symbol-sync to database sync-symbols
  src/cli/resources/symbols/sync.py
Labels: feat, fix

fix(cli): canonical_name symbols.sync to match dispatch path
  src/cli/resources/symbols/sync.py
Labels: feat, fix

fix(cli-gate): resource_first bounded depth 2-3, drop dead admin clause
  .intent/enforcement/mappings/cli/interface_design.yaml
  .intent/rules/cli/interface_design.json
  src/mind/logic/engines/cli_gate/checks/resource_first.py
Labels: feat, fix, governance

chore(tests): apply ruff-format reflows
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/mind/logic/engines/cli_gate/checks/dangerous_explicit/test_generated.py
  tests/mind/logic/engines/cli_gate/checks/discovery_strict/test_generated.py
  tests/mind/logic/engines/cli_gate/checks/no_layer_exposure/test_generated.py
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
  tests/shared/infrastructure/test_phase_failure_mode_canonical_alignment.py
Labels: test

docs(roadmap): scope boundary + realized baseline (A3/API/CCC as facts)
  .specs/papers/CORE-Roadmap.md
Labels: none

docs(specs): enforcement-completeness paper + ADR-077 protected-namespace access
  .specs/decisions/ADR-077-protected-namespace-access.md
  .specs/papers/CORE-Enforcement-Completeness.md
  .specs/papers/CORE-IntentGuard.md
Labels: none
