Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(fe6ca6cc-4170-4d): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/will/workers/violation_remediator_body/context/test_generated.py
Labels: test

fix: correct authority value in commit_authorship_audit_worker.yaml
  .intent/workers/commit_authorship_audit_worker.yaml
Labels: governance

feat(#510): ADR-130 — constitutional artifact staging via governor-applied draft
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .specs/decisions/ADR-130-constitutional-artifact-regeneration-staging.md
  src/body/governance/intent_guard.py
  src/cli/resources/intent/sync_vocabulary.py
  src/mind/logic/engines/artifact_gate.py
  src/shared/infrastructure/intent/vocabulary_projection.py
Labels: feat, fix, governance

fix: add var/drafts/ to target_class_boundaries as runtime-output (ADR-130 follow-on)
  .intent/taxonomies/target_class_boundaries.yaml
Labels: governance

fix(#505): classify 125 unclassified .intent/ and .specs/ files in namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(#672): write-safety rails for ExecutionPhase._execute_deterministic_split
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/__init__.py
  src/body/atomic/split_applier.py
  src/will/phases/execution_phase.py
  tests/body/atomic/test_split_applier.py
Labels: feat, fix, test, governance

feat(#479): ADR-131 — Governance Application Data Model
  .specs/decisions/ADR-131-governance-application-data-model.md
Labels: none

feat(#670): implement ADR-132 governor authentication boundary
  .specs/decisions/ADR-132-governor-authentication-boundary.md
  src/api/dependencies.py
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/daemon_routes.py
  src/api/v1/development_routes.py
  src/api/v1/fix_routes.py
  src/api/v1/integrity_routes.py
  src/api/v1/proposals_routes.py
  src/api/v1/refactor_routes.py
  src/api/v1/sync_routes.py
  tests/api/v1/test_role_enforcement.py
Labels: feat, fix, test

fix(intent): exclude dependencies.py from architecture.api.no_body_bypass
  .intent/rules/architecture/layer_separation.json
Labels: governance

fix(intent): add dependencies.py to no_body_bypass enforcement excludes
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/rules/architecture/layer_separation.json
Labels: governance

fix: close proposal-failure gap in test_remediator circuit breaker
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
Labels: feat, fix

feat(#670): close CLI auth gap — session persistence + governor commands
  src/api/cli/auth_client.py
  src/api/cli/client.py
  src/api/v1/auth_routes.py
  src/body/services/auth/service.py
  src/cli/admin_cli.py
  src/cli/resources/auth.py
  src/shared/infrastructure/cli_session.py
Labels: feat, fix

feat(ADR-133): symbol-granular test generation + TestGapEvaluator
  .intent/enforcement/config/action_risk.yaml
  .intent/flows/flow.build_test_for_symbol.yaml
  .intent/flows/flow.build_tests.yaml
  .specs/decisions/ADR-133-test-gap-evaluator.md
  src/body/atomic/build_test_for_symbol_action.py
  src/body/atomic/build_tests_action.py
  src/body/evaluators/__init__.py
  src/body/evaluators/test_gap_evaluator.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/body/evaluators/test_test_gap_evaluator.py
  var/prompts/code_generation_task_step_prompt/model.yaml
  var/prompts/context_aware_test_gen/system.txt
Labels: feat, fix, test, governance

fix(f57dc688-8865-44): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/api/dependencies.py
Labels: feat, fix

fix(e8fbb645-ded9-47): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/will/workers/test_remediator/worker.py
Labels: feat, fix

fix: replace asyncio.run() in auth commands with @core_command
  src/cli/resources/auth.py
Labels: feat, fix

fix: clear blocking audit violations — cli.dangerous_explicit, settings_access, cognitive_role, path_hardcoding + intent excludes
  .intent/enforcement/mappings/architecture/blackboard.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/atomic/document/gap_analysis_action.py
  src/body/services/grc/catalog_resolver.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/logic/scout.py
  src/cli/resources/dev/campaign_review.py
  src/cli/resources/intent/sync_vocabulary.py
Labels: feat, fix, governance

fix: clear blocking audit violations — path_hardcoding, cli.dangerous_explicit (accept + execute)
  src/body/infrastructure/storage/file_handler.py
  src/cli/resources/dev/campaign_review.py
Labels: feat, fix

fix: add systemd watchdog pinger to prevent 120s SIGABRT restart cycle
  src/cli/commands/daemon.py
Labels: feat, fix

fix: replace ::jsonb cast with bindparam in _query_recent_symbol_failures (#721)
  src/will/workers/test_remediator/_operations.py
Labels: feat, fix

fix: extract class methods in TestGapEvaluator per ADR-133 D2 (impl drift)
  src/body/evaluators/test_gap_evaluator.py
  tests/body/evaluators/test_test_gap_evaluator.py
Labels: feat, fix, test

docs: sync rule counts, add SECURITY.md
  README.md
  SECURITY.md
  docs/how-it-works.md
Labels: docs

docs: add proof index rows 7–10 for ADR-129/130/132/BlackboardPublisher
  docs/proof-index.md
Labels: docs

fix: align auth_routes ROUTER_EXPOSURE and move suspend/reactivate to require_governor
  src/api/v1/auth_routes.py
  tests/api/v1/test_role_enforcement.py
Labels: feat, fix, test

feat(byor): implement ADR-108 D3 — bundle machinery floor in wheel, add loader fallback, shrink starter-intent
  examples/starter-intent/.intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  examples/starter-intent/.intent/META/artifact_type.schema.json
  examples/starter-intent/.intent/META/data_contract.schema.json
  examples/starter-intent/.intent/META/enforcement_mapping.schema.json
  examples/starter-intent/.intent/META/enums.json
  examples/starter-intent/.intent/META/flow.schema.json
  examples/starter-intent/.intent/META/intent_tree.schema.json
  examples/starter-intent/.intent/META/intent_tree.yaml
  examples/starter-intent/.intent/META/phase.schema.json
  examples/starter-intent/.intent/META/rule_document.schema.json
  examples/starter-intent/.intent/META/vocabulary.json
  examples/starter-intent/.intent/META/vocabulary.schema.json
  examples/starter-intent/.intent/META/worker.schema.json
  examples/starter-intent/.intent/META/workflow_definition.schema.json
  examples/starter-intent/.intent/META/workflow_stage.schema.json
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  examples/starter-intent/.intent/enforcement/config/audit_verdict.yaml
  examples/starter-intent/.intent/enforcement/config/circuit_breaker.yaml
  examples/starter-intent/.intent/enforcement/config/governance_paths.yaml
  examples/starter-intent/.intent/enforcement/config/normative_markers.yaml
  examples/starter-intent/.intent/enforcement/config/operational_config.yaml
  examples/starter-intent/.intent/enforcement/config/phase_responsibility.yaml
  examples/starter-intent/.intent/enforcement/config/rule_targets.yaml
  examples/starter-intent/.intent/enforcement/config/task_type_phases.yaml
  examples/starter-intent/.intent/enforcement/config/test_coverage.yaml
  examples/starter-intent/.intent/taxonomies/cognitive_roles.yaml
  examples/starter-intent/.intent/taxonomies/filesystem_operations.yaml
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
  src/cli/logic/byor.py
  src/shared/_machinery_floor/__init__.py
  src/shared/infrastructure/intent/_floor.py
  src/shared/infrastructure/intent/cognitive_roles.py
  src/shared/infrastructure/intent/filesystem_operations.py
  src/shared/infrastructure/intent/operational_capabilities.py
  src/shared/infrastructure/intent/vocabulary_projection.py
  tests/body/atomic/test_machinery_floor_action_risk_coverage.py
  tests/cli/logic/test_byor.py
Labels: feat, fix, test

fix: add dangerous=True to dev.campaign.reject command_meta decorator
  src/cli/resources/dev/campaign_review.py
Labels: feat, fix

refactor: introduce ToolRunner sanctuary (#719) and AuthRunner Will facade (#718)
  src/api/v1/auth_routes.py
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/will/governance/auth_runner.py
  tests/body/atomic/test_tool_runner.py
  tests/will/governance/test_auth_runner.py
Labels: feat, fix, test

fix: unstack Depends(require_governor) double-wrap + move AsyncSession to TYPE_CHECKING
  src/api/v1/auth_routes.py
  src/will/governance/auth_runner.py
Labels: feat, fix

perf: evaluation-level cache in rule_executor (ADR-039 Option F, closes #720)
  src/mind/governance/audit_context.py
  src/mind/governance/rule_executor.py
  tests/mind/governance/test_rule_executor__eval_cache.py
Labels: feat, fix, test

fix: replace parents[4] with get_intent_repository().root.parent in GRC services
  src/body/services/grc/catalog_resolver.py
  src/body/services/grc/gap_analysis_service.py
Labels: feat, fix

fix: surface rule evaluation failures as HIGH findings on the blackboard
  src/mind/governance/filtered_audit.py
  tests/mind/governance/test_filtered_audit__run_filtered_audit.py
Labels: feat, fix, test

fix: add package markers to _machinery_floor data subdirectories
  src/shared/_machinery_floor/META/__init__.py
  src/shared/_machinery_floor/constitution/__init__.py
  src/shared/_machinery_floor/enforcement/__init__.py
  src/shared/_machinery_floor/enforcement/config/__init__.py
  src/shared/_machinery_floor/taxonomies/__init__.py
Labels: feat, fix

docs: add ADR-134 (prompt content governance) and external review prompt
  .specs/decisions/ADR-134-prompt-content-governance.md
  var/prompts/external-review.md
Labels: none

feat(ADR-132 D7): enforce ROUTER_EXPOSURE/require_governor agreement
  .intent/enforcement/mappings/architecture/api_auth_boundary.yaml
  .intent/rules/architecture/layer_separation.json
  src/mind/logic/engines/ast_gate/checks/api_auth_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/checks/test_api_auth_checks__ApiAuthChecks.py
Labels: feat, fix, test, governance

fix(byor): close 9 wheel-install gaps blocking external adoption proof (#561)
  src/cli/admin_cli.py
  src/cli/commands/check/converters.py
  src/cli/logic/byor.py
  src/cli/logic/scout.py
  src/cli/resources/context/build.py
  src/cli/resources/project/onboard.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/config.py
  src/shared/infrastructure/intent/vocabulary_projection.py
  src/shared/infrastructure/repositories/db/common.py
Labels: feat, fix

docs: add BYOR quickstart — naked machine to PASS in 7 steps
  docs/byor-quickstart.md
  docs/getting-started.md
  docs/index.md
Labels: docs

docs(byor): clear stale #674 limitations + add CI wheel smoke gate (#561)
  .github/workflows/core-ci.yml
  .github/workflows/publish-pypi.yml
  README.md
  docs/cold-reviewer.md
  examples/starter-intent/README.md
Labels: docs, ci

fix(ADR-132): gate operator-tier auth routes with require_operator
  src/api/dependencies.py
  src/api/v1/auth_routes.py
Labels: feat, fix

feat(ADR-134): prompt content governance — anchor, registry, sensor
  .intent/enforcement/config/governed_prompts.yaml
  .intent/rules/ai/prompt_artifact_structure.json
  .intent/rules/ai/prompt_governance.json
  .intent/workers/prompt_drift_sensor.yaml
  src/body/services/blackboard_service/blackboard_query_service.py
  src/shared/ai/prompt_model.py
  src/will/workers/prompt_drift_sensor.py
  tests/shared/test_prompt_model_adr_anchor.py
  tests/will/workers/test_prompt_drift_sensor.py
  var/prompts/assumption_extractor/model.yaml
  var/prompts/assumption_extractor/system.txt
  var/prompts/code_generation_task_step_prompt/model.yaml
  var/prompts/code_generation_task_step_prompt/system.txt
  var/prompts/coder_repair/model.yaml
  var/prompts/coder_repair/system.txt
  var/prompts/constitutional_coherence_analyst/model.yaml
  var/prompts/constitutional_coherence_analyst/system.txt
  var/prompts/context_aware_test_gen/model.yaml
  var/prompts/context_aware_test_gen/system.txt
Labels: feat, fix, test, governance

docs(planning): record 2026-06-30 external review findings
  .specs/planning/CORE-Maturity-Audit-Actions.md
Labels: none
