Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(state): ADR-169 slice 3 -- every change is attributed; outside writes are recorded
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20261005c_adr169_changes_and_outside_writes.sql
  schema.sql
  src/body/services/change_attribution.py
  src/body/services/outside_write_ledger.py
  src/body/services/state_ledger_service.py
  src/cli/logic/byor.py
  src/cli/logic/project_scaffold.py
  src/cli/logic/scout.py
  src/cli/resources/project/adopt_pack.py
  src/cli/resources/project/new.py
  src/shared/_migrations/infra/migrations/manifest.yaml
  src/shared/_migrations/infra/scripts/migrations/20261005c_adr169_changes_and_outside_writes.sql
  src/shared/_migrations/schema.sql
  src/shared/infrastructure/git_service.py
  src/will/workers/state_sensor.py
  tests/body/services/test_change_attribution.py
  tests/body/services/test_outside_write_ledger.py
  tests/body/services/test_state_ledger_service.py
  tests/cli/logic/test_byor_deliver_external_intent_files.py
  tests/cli/logic/test_byor_stage.py
  tests/cli/logic/test_project_scaffold.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
  tests/will/workers/test_state_sensor.py
Labels: feat, fix, test

fix(guard): a path that starts in scratch can no longer reach .intent/ (#949)
  src/body/governance/intent_guard.py
  src/body/infrastructure/storage/file_handler.py
  tests/body/governance/test_intent_guard__target_class_dispatch.py
  tests/body/infrastructure/storage/test_file_handler__intent_traversal.py
Labels: feat, fix, test

fix(rollback): restore the production set from the baseline, index and worktree, and say when it fails (#871)
  src/shared/infrastructure/git_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  tests/will/autonomy/test_proposal_execution_pipeline_adr_101.py
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
Labels: feat, fix, test

fix(executor): a safe-auto-approved proposal is not executed once its envelope cannot load (#903)
  src/body/atomic/executor.py
  src/shared/governance_token.py
  src/shared/infrastructure/intent/action_risk.py
  src/will/autonomy/proposal_executor.py
  tests/body/atomic/test_executor_physical_containment.py
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
Labels: feat, fix, test

fix(git): CORE's autonomous commits carry CORE's identity, not a person's (#951)
  .intent/enforcement/config/operational_config.yaml
  src/body/workers/call_site_rewriter.py
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/autonomy/proposal_execution_pipeline.py
  tests/will/autonomy/test_proposal_execution_pipeline_adr_101.py
Labels: feat, fix, test, governance

test(g8): the governed chain with the real write guard; G8 evidence stops overstating (#950)
  .specs/attestations/production-readiness.yaml
  tests/will/autonomy/test_governed_chain_real_guard_e2e.py
Labels: test

test(executor): the #903 wiring test no longer reaches the database in the hermetic job
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
Labels: test

test(g8): assert the guard's hard invariant, not one wording of its message (#950)
  tests/will/autonomy/test_governed_chain_real_guard_e2e.py
Labels: test

fix(audit): a verdict means the same for every project; adopters can no longer get a weaker PASS (#952)
  .specs/decisions/ADR-005-govern-audit-verdict-policy.md
  action.yml
  docs/cold-reviewer.md
  entrypoint.sh
  examples/starter-intent/.intent/enforcement/config/audit_verdict.yaml
  src/shared/_machinery_floor/enforcement/config/audit_verdict.yaml
  src/shared/infrastructure/intent/audit_verdict.py
  tests/infra/test_audit_gate_entrypoint.py
  tests/mind/governance/test_auditor___determine_verdict.py
  tests/mind/governance/test_law_drift_verdict.py
  tests/mind/governance/test_stateless_audit__skipped_blocking_degrades.py
  tests/shared/infrastructure/intent/test_audit_verdict.py
Labels: feat, fix, docs, test

fix(ledger): no ledger, no outside write — unrecorded writes no longer report success (#953)
  src/body/services/outside_write_ledger.py
  src/cli/logic/byor.py
  src/cli/logic/scout.py
  src/cli/resources/project/adopt_pack.py
  src/cli/resources/project/new.py
  src/shared/infrastructure/database/session_manager.py
  tests/body/services/test_outside_write_ledger.py
  tests/cli/logic/test_byor_stage.py
  tests/cli/resources/project/test_adopt_pack.py
  tests/cli/resources/project/test_new.py
Labels: feat, fix, test

docs(governance): record the #952 and #953 rulings in the law they amend
  .intent/enforcement/config/audit_verdict.yaml
  .specs/decisions/ADR-169-core-knows-its-own-state.md
Labels: governance

ci(release): PyPI publishes only on green CI for the tagged SHA, after an adopter-path smoke (#954)
  .github/workflows/publish-pypi.yml
  docs/release.md
Labels: docs, ci

docs(readiness): evidence catches up with G2, G10 and G12 — no status changes (#955)
  .specs/attestations/production-readiness.yaml
  README.md
Labels: docs

release: 2.12.0 -- CORE knows its own state; verdicts mean the same everywhere
  .gitlab-ci/CORE.gitlab-ci.yml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  docs/cold-reviewer.md
  pyproject.toml
  tests/fixtures/schema/released_migrations_sha256.json
Labels: docs, test, deps

docs(reference): the committed OpenAPI contract carries version 2.12.0
  docs/reference/openapi.json
Labels: docs

chore(db): declare v2.12.0 as the latest migration baseline from its immutable tag (ADR-162 D3/D4)
  infra/migrations/manifest.yaml
  src/shared/_migrations/infra/migrations/manifest.yaml
  tests/fixtures/schema/schema-v2.12.0.sql
  tests/shared/infrastructure/migrations/test_reconciliation_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test

build(release): the OpenAPI contract's version is a release pin
  docs/release.md
  scripts/release_pins.py
Labels: docs

test(migrations): anchor the v2.10.2-era counts to v2.10.2, not to the latest baseline
  tests/shared/infrastructure/migrations/test_schema_gate_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/migrations/test_wheel_migrate_postgres.py
Labels: test

docs(start-a-project): commit the law before auditing, so the tutorial reaches PASS
  docs/start-a-project.md
Labels: docs

fix(install): install the declared core-cli release, so a fresh clone's install-time audit passes
  install-core.sh
  tests/infra/test_install_core_db_url.py
  tests/infra/test_install_core_schema_gate.py
  tests/shared/infrastructure/migrations/test_installer_schema_state_postgres.py
Labels: test

docs(coldroom): record the 26.04 cloud-init purge and clone-DHCP behaviour
  scripts/coldroom-prep.sh
Labels: none

docs(getting-started): say what a fresh install's first audit shows
  docs/getting-started.md
Labels: docs

build(deps): uvloop 0.21.0 -> 0.23.0, so the clone install gets Python 3.14 wheels (#959)
  CHANGELOG.md
  poetry.lock
Labels: deps

fix(law-state): a repository with no commit yet is a stated condition, not a git error (#958)
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/intent/law_state.py
  tests/shared/infrastructure/intent/test_law_state.py
  tests/shared/infrastructure/test_git_service_has_head.py
Labels: feat, fix, test

fix(engines): an undeclared substrate-enforcement taxonomy uses the built-in set quietly (#957)
  src/mind/logic/engines/registry.py
  src/shared/infrastructure/intent/intent_repository.py
  tests/mind/logic/engines/registry/test_substrate_taxonomy_absent.py
  tests/shared/infrastructure/intent/test_intent_repository_documents.py
Labels: feat, fix, test

fix(floor): every floor capability has its action_risk entry, so the taxonomy loads in adopter projects (#957)
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  tests/body/atomic/test_machinery_floor_action_risk_coverage.py
Labels: feat, fix, test

fix(audit-display): a check that could not run shows as NOT EVALUATED, not as an ERROR that needs a human (#956)
  install-core.sh
  src/cli/commands/check/formatters.py
  src/cli/renderers/audit_overview.py
  src/shared/models/audit_rendering.py
  tests/cli/commands/check/test_formatters__not_evaluated.py
  tests/infra/test_install_core_schema_gate.py
Labels: feat, fix, test

test(floor): an action_risk entry that backs a declared capability is not an orphan (#957)
  tests/body/atomic/test_consolidated_action_risk_meta.py
Labels: test

release: 2.12.1 -- both install paths verified on a clean Ubuntu 26.04 LTS machine; clean first audit
  .gitlab-ci/CORE.gitlab-ci.yml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  docs/cold-reviewer.md
  docs/reference/openapi.json
  pyproject.toml
Labels: docs, deps

build(deps): grpcio 1.84.0 and httptools 0.8.0, so the clone install compiles nothing on Python 3.14 (#959)
  CHANGELOG.md
  poetry.lock
Labels: deps

docs(getting-started): the unavailable runtime rule is shown as NOT EVALUATED, not "needing a human"
  docs/getting-started.md
Labels: docs

ci(release): image workflows wait until pip itself resolves core-runtime, not the JSON API (#960)
  .github/workflows/publish-docker-audit-gate.yml
  .github/workflows/publish-docker-core-engine.yml
Labels: ci

docs(adr): ADR-168 — CORE governs the assistant (accepted)
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-168-core-governs-the-assistant.md
Labels: governance

docs(adr): ADR-168 amendment — the assistant surface runs local first, over one shared core (D2 transport)
  .specs/decisions/ADR-168-core-governs-the-assistant.md
Labels: none

feat(assistant-surface): law & facts — provenance-bearing answers about law and decisions (ADR-168 D4.3 unit 1)
  src/shared/infrastructure/assistant_surface/__init__.py
  src/shared/infrastructure/assistant_surface/law_facts.py
  tests/shared/infrastructure/assistant_surface/test_law_facts.py
Labels: feat, fix, test

feat(verdict): the fast verdict — change-scoped producer feedback that names what it did not evaluate (ADR-168 D4.3 unit 2)
  src/mind/governance/fast_verdict.py
  src/mind/governance/filtered_audit.py
  tests/mind/governance/test_fast_verdict.py
Labels: feat, fix, test

feat(janitor): var/tmp janitor reaps — ADR-117 Phase 2, through FileService not a dangerous action
  .intent/workers/var_tmp_janitor.yaml
  .specs/decisions/ADR-117-var-tmp-janitor-worker.md
  src/body/services/file_service.py
  src/will/workers/canary_janitor.py
  src/will/workers/var_tmp_janitor.py
  tests/will/workers/test_var_tmp_janitor.py
Labels: feat, fix, test, governance

fix(taxonomy_gate): read action_risk.yaml entries under `actions:` — the check was blind since June
  src/mind/logic/engines/taxonomy_gate.py
  tests/mind/logic/engines/test_taxonomy_gate__action_support.py
Labels: feat, fix, test

chore: delete two orphan modules flagged by purity.no_orphan_files (governor inbox)
  src/mind/governance/audit_types.py
  src/shared/protocols/__init__.py
  src/shared/protocols/interpreter.py
  tests/mind/governance/test_audit_types__AuditCheckMetadata.py
  tests/mind/governance/test_audit_types__AuditCheckResult.py
Labels: feat, fix, test

fix(cli): `workers show` prints the entry ID and stops eating [brackets] as markup
  docs/reference/core-admin.md
  src/cli/resources/workers/blackboard.py
  tests/cli/resources/workers/test_blackboard_show.py
Labels: feat, fix, docs, test
