Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(cli_gate): ADR-167 rules blocking; docs correspond to a declared core-cli release
  .github/workflows/core-ci.yml
  .intent/rules/cli/docs_correspondence.json
  .specs/decisions/ADR-167-docs-cli-correspondence.md
  Makefile
Labels: governance, ci

fix(g2): registry rows for the two newly blocking ADR-167 rules
  .specs/verification/g2_blocking_rule_registry.yaml
Labels: none

docs(specs): drop the stale hand-copied rollup from the readiness manifest
  .specs/attestations/production-readiness.yaml
Labels: none

fix(remediation): build the ActionExecutor when the daemon context has none (D2)
  src/body/atomic/build_tests_action.py
  src/body/workers/call_site_rewriter.py
  src/will/workers/violation_executor.py
  tests/will/workers/test_violation_executor_action_executor.py
Labels: feat, fix, test

fix(audit): delegate violations no remediator can act on, never drop them (D3)
  src/will/audit_violation/filter.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/violation_executor.py
  tests/will/workers/test_non_remediable_delegation.py
Labels: feat, fix, test

docs(specs): ADR-104 — cap exhaustion delegates to the governor; time re-arm withdrawn (governor ruling)
  .specs/decisions/ADR-104-orphaned-claim-reaper.md
Labels: none

feat(remediation): exhausting the attempt cap delegates to the governor (D1)
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/autonomy/proposal_consumer_revival.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  src/will/workers/violation_executor.py
  src/will/workers/violation_remediator.py
  tests/body/services/blackboard_service/blackboard_service/test_remediation_attempt_cap.py
  tests/body/services/blackboard_service/test_blackboard_cap_delegation.py
  tests/body/services/blackboard_service/test_blackboard_query_service_max_attempt_count_by_subject.py
  tests/will/autonomy/test_noop_completion_revival.py
  tests/will/workers/test_proposal_consumer_revival_cap.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
  tests/will/workers/test_test_remediator_no_false_attribution.py
  tests/will/workers/test_violation_executor_cap.py
  tests/will/workers/test_violation_remediator_inherited_cap.py
Labels: feat, fix, test

test(blackboard): no-op delegation result now carries cap_reason
  tests/body/services/blackboard_service/test_blackboard_proposal_service_noop_delegation.py
Labels: test

fix(consequences): test-generation consequences name the findings they addressed (D5)
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/test_remediator/_operations.py
  tests/will/autonomy/test_consequence_finding_ids.py
Labels: feat, fix, test

fix(test-remediator): test.coverage.complete is a report, not a finding (D5)
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: feat, fix, test

fix(test-remediator): no-gap test.runner.missing goes back to re-audit, not open
  .specs/decisions/ADR-133-test-gap-evaluator.md
  src/body/services/blackboard_service/blackboard_service.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_no_gap_reaudit.py
Labels: feat, fix, test

feat(test-coverage): modules with no public symbols are exempt from "test file required"
  .intent/enforcement/config/test_coverage.yaml
  .specs/papers/CORE-TestGovernance.md
  src/body/evaluators/test_gap_evaluator.py
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/shared/utils/public_symbols.py
  tests/shared/infrastructure/intent/test_coverage_exempts_symbol_less_modules.py
Labels: feat, fix, test, governance

fix(test-remediator): per-symbol cap is lineage-based and delegates once (D1)
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
  tests/will/workers/test_test_remediator_no_false_attribution.py
  tests/will/workers/test_test_remediator_symbol_cap_delegation.py
  tests/will/workers/test_test_remediator_symbol_query.py
Labels: feat, fix, test

chore(make): remove dead web-* targets
  Makefile
Labels: none

fix(test-gen): free-name gate resolves names with the compiler (symtable)
  src/body/governance/intent_pattern_validators.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: feat, fix, test

fix(217fe02c-bb7a-43): Autonomous remediation: fix.ids (1 violation(s) — rules: linkage.assign_ids)
  src/body/governance/intent_pattern_validators.py
Labels: feat, fix

fix(40ec111c-4e9c-41): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.validate (method)
  tests/body/governance/__init__.py
  tests/body/governance/intent_pattern_validators/__init__.py
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(7f98d4ae-03d9-4a): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.check_no_unresolved_free_names (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(023a8180-cc92-4e): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.check_no_global_module_mutation (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(597bb02d-02ba-4c): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.check_no_placeholder_test_body (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(1e3fc718-9b88-46): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.check_no_imported_symbol_redeclared (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(077fe63b-d50e-46): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.check_no_magicmock_on_await (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(f1029427-c8db-49): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators.validate_test_file_pattern (method)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(8f5646de-25af-4f): Autonomous test generation: flow.build_test_for_symbol — src/body/governance/intent_pattern_validators.py::PatternValidators (class)
  tests/body/governance/intent_pattern_validators/test_generated.py
Labels: test

fix(test-gen): free-name gate fails closed when names cannot be checked
  src/body/governance/intent_pattern_validators.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: feat, fix, test

fix(test-gen): free-name gate accepts interpreter-set module names
  src/body/governance/intent_pattern_validators.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: feat, fix, test

chore(mind): delete dead knowledge_source_check and enforcement_methods
  .intent/enforcement/config/test_coverage.yaml
  src/mind/governance/enforcement/__init__.py
  src/mind/governance/enforcement_methods.py
  src/mind/logic/engines/ast_gate/checks/knowledge_source_check.py
Labels: feat, fix, governance

fix(blackboard): inherited cap counts re-arm only on a recorded changed condition
  src/body/services/blackboard_service/blackboard_query_service.py
  tests/body/services/blackboard_service/test_cap_count_rearm.py
Labels: feat, fix, test

fix(e5918f79-2e64-4a): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/worker_shop_manager.py::WorkerShopManager.run (method)
  tests/will/workers/worker_shop_manager/__init__.py
  tests/will/workers/worker_shop_manager/test_generated.py
Labels: test

fix(244e037f-af31-43): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/worker_shop_manager.py::WorkerShopManager (class)
  tests/will/workers/worker_shop_manager/test_generated.py
Labels: test

fix(tests): refuse integration runs unless the database is core_test (#941)
  tests/conftest.py
  tests/helpers/db_identity_probe_plugin.py
  tests/test_conftest_db_gating.py
Labels: test

fix(18b65985-056a-42): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/coherence_sensor.py::CoherenceSensorWorker.run (method)
  tests/will/workers/coherence_sensor/__init__.py
  tests/will/workers/coherence_sensor/test_generated.py
Labels: test

fix(351f8f8b-c80f-4f): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/coherence_sensor.py::CoherenceSensorWorker (class)
  tests/will/workers/coherence_sensor/test_generated.py
Labels: test

fix(b257fde8-447d-4b): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/governance_embedding/governance_embedder_worker.py::GovernanceEmbedderWorker.run (method)
  tests/will/workers/governance_embedding/__init__.py
  tests/will/workers/governance_embedding/governance_embedder_worker/__init__.py
  tests/will/workers/governance_embedding/governance_embedder_worker/test_generated.py
Labels: test

fix(c375709d-61da-4f): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/governance_embedding/governance_embedder_worker.py::GovernanceEmbedderWorker (class)
  tests/will/workers/governance_embedding/governance_embedder_worker/test_generated.py
Labels: test

fix(533cd795-329b-47): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/proposal_consumer_worker.py::ProposalConsumerWorker.run (method)
  tests/will/workers/proposal_consumer_worker/__init__.py
  tests/will/workers/proposal_consumer_worker/test_generated.py
Labels: test

fix(e772134e-f57a-40): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/proposal_consumer_worker.py::ProposalConsumerWorker (class)
  tests/will/workers/proposal_consumer_worker/test_generated.py
Labels: test

fix(8099df23-76ae-49): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/repo_embedding/repo_embedder_workers.py::RepoEmbedderWorker.run (method)
  tests/will/workers/repo_embedding/__init__.py
  tests/will/workers/repo_embedding/repo_embedder_workers/__init__.py
  tests/will/workers/repo_embedding/repo_embedder_workers/test_generated.py
Labels: test

fix(de66b134-2f40-46): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/repo_embedding/repo_embedder_workers.py::RepoEmbedderWorker (class)
  tests/will/workers/repo_embedding/repo_embedder_workers/test_generated.py
Labels: test

feat(governance): .intent/ references must resolve; repair 16 dangling ones
  .intent/enforcement/config/test_coverage.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/flows/flow.sync_state.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/architecture/intent_access.json
  .specs/verification/g2_blocking_rule_registry.yaml
  CLAUDE.md
  Makefile
  README.md
  docs/how-it-works.md
  src/mind/logic/engines/reference_gate.py
  tests/mind/governance/test_g2_blocking_rule_registry.py
  tests/mind/logic/engines/reference_gate/__init__.py
  tests/mind/logic/engines/reference_gate/test_reference_gate.py
Labels: feat, fix, docs, test, governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
