Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(remediation): capped lineage re-arms after a window (ADR-104 D11 draft)
  src/body/services/blackboard_service/blackboard_query_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/workers/violation_remediator.py
  tests/body/services/blackboard_service/test_blackboard_query_service_max_attempt_count_by_subject.py
  tests/will/workers/test_violation_remediator_inherited_cap.py
Labels: feat, fix, test

fix(d741b065-6848-42): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/logic/demo/isolation.py
Labels: feat, fix

fix(7f50c024-8083-4b): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/logic/demo/scenario_runner.py
Labels: feat, fix

fix(95a5ae51-ec17-46): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/resources/demo/cleanup.py
Labels: feat, fix

fix(dca28078-e536-41): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/resources/demo/rendering.py
Labels: feat, fix

fix(c231e551-aed0-4f): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/resources/demo/consequence_chain.py
Labels: feat, fix

fix(7f9631fb-9aa0-4b): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/cli/logic/demo/consequence_chain.py
Labels: feat, fix

intent(test-coverage): widen autonomous test-gen scope to src/mind/logic (65 files)
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

feat(autonomy): flow.build_test_for_symbol is safe-auto-approvable (ADR-163 D1/D2)
  .intent/enforcement/config/safe_auto_approval_envelope.yaml
  .intent/enforcement/mappings/will/safe_auto_approval_envelope.yaml
  .intent/rules/will/safe_auto_approval_envelope.json
  .specs/planning/adr-159-trial0-apparatus/README.md
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/enforcement/mappings/will/safe_auto_approval_envelope.yaml
  .specs/planning/adr-159-trial0-apparatus/intent_overlay/rules/will/safe_auto_approval_envelope.json
  src/shared/infrastructure/intent/action_risk.py
  src/will/autonomy/safe_auto_approval_envelope.py
  tests/shared/infrastructure/intent/test_action_risk__safe_auto_approval_envelope.py
  tests/will/autonomy/test_safe_auto_approval_envelope.py
  tests/will/workers/test_test_remediator_safe_auto_approval_envelope.py
Labels: feat, fix, test, governance

fix(72d60ef4-32f1-49): Autonomous test generation: flow.build_test_for_symbol — src/cli/logic/demo/consequence_chain.py::run_consequence_chain (function)
  tests/cli/logic/demo/consequence_chain/__init__.py
  tests/cli/logic/demo/consequence_chain/test_generated.py
Labels: test

fix(df5e59c4-d792-49): Autonomous test generation: flow.build_test_for_symbol — src/cli/logic/demo/scenario_runner.py::run_scenario (function)
  tests/cli/logic/demo/scenario_runner/__init__.py
  tests/cli/logic/demo/scenario_runner/test_generated.py
Labels: test

fix(c959e525-3943-44): Autonomous test generation: flow.build_test_for_symbol — src/cli/resources/demo/rendering.py::build_markdown_report (function)
  tests/cli/resources/demo/rendering/__init__.py
  tests/cli/resources/demo/rendering/test_generated.py
Labels: test

fix(be95cb69-9ef8-4d): Autonomous test generation: flow.build_test_for_symbol — src/cli/resources/demo/rendering.py::build_json_report (function)
  tests/cli/resources/demo/rendering/test_generated.py
Labels: test

fix(0efbde01-3159-43): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/canary/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(5bd8de85-5c45-46): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck (class)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(157972b9-fc0e-40): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/quality.py::QualityGateCheck (class)
  tests/mind/logic/engines/workflow_gate/checks/quality/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/quality/test_generated.py
Labels: test

fix(dfbb6988-0b89-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(9a19ccdb-d54d-40): Autonomous test generation: flow.build_test_for_symbol — src/cli/resources/demo/consequence_chain.py::consequence_chain_cmd (function)
  tests/cli/resources/demo/consequence_chain/__init__.py
  tests/cli/resources/demo/consequence_chain/test_generated.py
Labels: test

fix(13d624bb-a4dc-49): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify (method)
  tests/mind/logic/engines/workflow_gate/engine/__init__.py
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(44ba06e5-d7a1-4e): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify_context (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(48261d01-b7a5-45): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine (class)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(5b065501-68f1-40): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(369cdbb7-b0ac-43): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(18ede7c1-3431-46): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/quality.py::QualityGateCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/quality/test_generated.py
Labels: test

fix(1490a903-76ef-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/import_resolution.py::ImportResolutionCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/import_resolution/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/import_resolution/test_generated.py
Labels: test

fix(905df496-740a-4d): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/import_resolution.py::ImportResolutionCheck (class)
  tests/mind/logic/engines/workflow_gate/checks/import_resolution/test_generated.py
Labels: test

fix(618236ac-7200-40): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(fbb168fc-2a33-47): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/quality.py::QualityGateCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/quality/test_generated.py
Labels: test

fix(1f54fafc-a83b-4b): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(1b3ac854-0c86-47): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify_context (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(bb57b436-b966-46): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/linter.py::LinterComplianceCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/linter/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/linter/test_generated.py
Labels: test

fix(dbdab846-5345-4a): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(fbce443b-1d89-4a): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/quality.py::QualityGateCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/quality/test_generated.py
Labels: test

fix(00b898ce-446e-4e): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/import_resolution.py::ImportResolutionCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/import_resolution/test_generated.py
Labels: test

fix(ad93cba0-0e05-4c): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/grc_applicability.py::GRCApplicabilityGate.assess (method)
  tests/mind/logic/grc_applicability/__init__.py
  tests/mind/logic/grc_applicability/test_generated.py
Labels: test

fix(065be1bb-1d8b-4b): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/canary.py::CanaryDeploymentCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/canary/test_generated.py
Labels: test

fix(eacd7169-e0d5-41): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/quality.py::QualityGateCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/quality/test_generated.py
Labels: test

fix(224bb85a-0f7b-44): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/linter.py::LinterComplianceCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/linter/test_generated.py
Labels: test

fix(6dbccb36-7be1-47): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test

fix(90579d79-2d6b-44): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/engine.py::WorkflowGateEngine.verify_context (method)
  tests/mind/logic/engines/workflow_gate/engine/test_generated.py
Labels: test
