Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(#633): make authorization-of-record legible at the source
  docs/proof-index.md
  src/body/atomic/executor.py
Labels: feat, fix, docs

docs(#636): state the worktree-sandbox coverage boundary on a reviewer surface
  docs/proof-index.md
Labels: docs

fix(#634): surface write-action audit failures loud; document the guarantee
  docs/proof-index.md
  src/body/atomic/executor.py
  tests/body/atomic/test_executor_audit_gap.py
Labels: feat, fix, docs, test

docs(#632): add per-mode proof-status matrix; soften absolute guarantees
  README.md
Labels: docs

ci(#631): tripwire for README quantitative-claim drift
  .github/workflows/core-ci.yml
  scripts/check_readme_counts.sh
Labels: ci

docs(#561): make the open base reproducible from public docs alone
  README.md
  docker-compose.yml
  docs/getting-started.md
  docs/how-it-works.md
  mkdocs.yml
  scripts/check_readme_counts.sh
Labels: docs

docs(#562): make the consequence chain reviewer-reproducible (proof-index claim 6)
  README.md
  docs/proof-index.md
Labels: docs

feat(#562): one-command on-ramp — install-core.sh + consequence-chain demo
  README.md
  docs/getting-started.md
  install-core.sh
  scripts/demo.sh
Labels: docs

chore(#562): reproducible cold-room template build (scripts/coldroom-prep.sh)
  scripts/coldroom-prep.sh
Labels: none

fix(#561,#562): harden install-core.sh + demo.sh — verified on a clean VM
  .env.example
  docker-compose.yml
  install-core.sh
  scripts/demo.sh
Labels: none

docs(#561): README demo section — feature the runnable on-ramp, drop the stale clip
  README.md
Labels: docs

docs(#561): correct dev-sync description + document audit severity tokens
  docs/cli-reference.md
  docs/getting-started.md
Labels: docs

docs(#561): add "Going Further" onboarding — autonomy daemon + LLM generation
  docs/getting-started.md
Labels: docs

docs(#562): mark Demo reliability met in the operational-completeness tracker
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(#561): fix residual drift found in post-churn cold-read
  README.md
  docs/autonomy-ladder.md
  docs/getting-started.md
  docs/proof-index.md
Labels: docs

docs(#561): cross-surface consistency fixes from external review
  README.md
  docs/cold-reviewer.md
  docs/how-it-works.md
  scripts/demo.sh
Labels: docs

docs(#640): soften the "audit your own repo" promise — be loudly honest
  README.md
  docs/cold-reviewer.md
  docs/getting-started.md
Labels: docs

feat(starter): minimal authored .intent/ for external adoption (ADR-108)
  .specs/decisions/ADR-108-external-adoption-minimal-starter-intent.md
  examples/starter-intent/.github/workflows/audit.yml
  examples/starter-intent/.intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  examples/starter-intent/.intent/META/artifact_type.schema.json
  examples/starter-intent/.intent/META/data_contract.schema.json
  examples/starter-intent/.intent/META/enforcement_mapping.schema.json
  examples/starter-intent/.intent/META/enums.json
  examples/starter-intent/.intent/META/flow.schema.json
  examples/starter-intent/.intent/META/intent_tree.schema.json
  examples/starter-intent/.intent/META/intent_tree.yaml
  examples/starter-intent/.intent/META/phase.schema.json
  examples/starter-intent/.intent/META/rule_document.schema.json
  examples/starter-intent/.intent/META/vocabulary.json
  examples/starter-intent/.intent/META/vocabulary.schema.json
  examples/starter-intent/.intent/META/worker.schema.json
  examples/starter-intent/.intent/META/workflow_definition.schema.json
  examples/starter-intent/.intent/META/workflow_stage.schema.json
  examples/starter-intent/.intent/constitution/CONSTITUTION.md
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  examples/starter-intent/.intent/enforcement/config/audit_verdict.yaml
  examples/starter-intent/.intent/enforcement/config/circuit_breaker.yaml
  examples/starter-intent/.intent/enforcement/config/governance_paths.yaml
  examples/starter-intent/.intent/enforcement/config/normative_markers.yaml
  examples/starter-intent/.intent/enforcement/config/operational_config.yaml
  examples/starter-intent/.intent/enforcement/config/phase_responsibility.yaml
  examples/starter-intent/.intent/enforcement/config/rule_targets.yaml
  examples/starter-intent/.intent/enforcement/config/task_type_phases.yaml
  examples/starter-intent/.intent/enforcement/config/test_coverage.yaml
  examples/starter-intent/.intent/enforcement/mappings/starter.yaml
  examples/starter-intent/.intent/rules/starter.json
  examples/starter-intent/.intent/taxonomies/cognitive_roles.yaml
  examples/starter-intent/.intent/taxonomies/filesystem_operations.yaml
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
  examples/starter-intent/DEMO-README.md
  examples/starter-intent/README.md
  examples/starter-intent/src/hello.py
  examples/starter-intent/sync-to-demo.sh
  examples/starter-intent/verify.sh
Labels: none

feat(#641): per-file quality-gate emission + iceberg rollup (ADR-098 D1-D3)
  src/cli/renderers/audit_overview.py
  src/mind/logic/engines/workflow_gate/base_check.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/mind/logic/engines/workflow_gate/engine.py
  tests/mind/logic/engines/workflow_gate/checks/test_quality__per_file_emission.py
Labels: feat, fix, test

fix(#602): annotate bare collection literals — clear 14 var-annotated mypy errors
  src/body/atomic/fix_actions.py
  src/body/atomic/remediate_cognitive_role.py
  src/body/introspection/generate_capability_docs.py
  src/body/self_healing/atomic_actions_fixer.py
  src/mind/governance/micro_proposal_validator.py
  src/shared/governance/coherence_harvester.py
  src/will/orchestration/process_orchestrator.py
  src/will/orchestration/validation_pipeline.py
  src/will/phases/interpret_phase.py
  src/will/tools/context/retriever.py
  src/will/workers/repo_crawler.py
Labels: feat, fix

fix(#602): type docstring_service AST helpers to concrete node union
  src/body/self_healing/docstring_service.py
Labels: feat, fix

fix(#602): type remediation_interpretation _parse_ast as ast.Module
  src/will/self_healing/remediation_interpretation/file_context_assembler.py
  src/will/self_healing/remediation_interpretation/file_role_detector.py
Labels: feat, fix

fix(#602): type intent_pattern_validators check methods as ast.Module
  src/body/governance/intent_pattern_validators.py
Labels: feat, fix

fix(#602): narrow AST node types across knowledge/symbol extractors
  src/body/analyzers/symbol_extractor.py
  src/body/introspection/knowledge_graph_service.py
  src/body/self_healing/test_context/parsers.py
  src/shared/ast_utility.py
  src/shared/infrastructure/knowledge_graph_service.py
  src/will/self_healing/test_generation/context_builder.py
  src/will/test_generation/introspection_facts.py
Labels: feat, fix

fix(#643): make CoreContext.git_service mandatory at construction
  src/body/self_healing/purge_legacy_tags_service.py
  src/cli/commands/daemon.py
  src/shared/context.py
  src/will/self_healing/alignment/persistence.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/shared/test_context__CoreContext.py
  tests/shared/test_context__context_builder_factory.py
Labels: feat, fix, test

fix(#643): make CoreContext.knowledge_service + file_handler mandatory
  src/cli/commands/daemon.py
  src/shared/context.py
  src/will/self_healing/alignment/persistence.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/shared/test_context__CoreContext.py
  tests/shared/test_context__context_builder_factory.py
Labels: feat, fix, test

fix(#646): allow all 11 registry artifact types in repo_artifacts CHECK
  infra/sql/db_schema_live.sql
Labels: none

fix(#647): retire legacy 'intent' artifact_type + add registry-drift guard
  infra/sql/db_schema_live.sql
  tests/infra/test_repo_artifacts_type_check_matches_registry.py
Labels: test

chore(#543): migrate pyproject.toml to PEP 621 [project] table
  poetry.lock
  pyproject.toml
Labels: deps

docs(#541): semver & release policy doc (F-48.5)
  .specs/planning/CORE-Semver-Policy.md
Labels: none

ci(#543): bump publish-pypi Poetry pin 1.8.3 -> 2.2.1 for PEP 621
  .github/workflows/publish-pypi.yml
Labels: ci

ci(#543): bump ci.yml Poetry pin 1.8.3 -> 2.2.1 for PEP 621
  .github/workflows/ci.yml
Labels: ci

ci: fix daily_sync — install Poetry before setup-python
  .github/workflows/daily_sync.yml
Labels: ci

chore(release): bump to 2.7.0 — Bounded Autonomy
  README.md
  pyproject.toml
Labels: docs, deps

docs(#541): reference the versioning policy from README + CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: docs

ci(ADR-108 D3): bump audit-gate engine pin core-runtime 2.6.0 -> 2.7.0
  Dockerfile
Labels: none

ci(#649): bump checkout@v4->v6 + setup-python@v5->v6 (Node 20 EOL)
  .github/workflows/ci.yml
  .github/workflows/core-ci.yml
  .github/workflows/docs.yml
  .github/workflows/publish-pypi.yml
Labels: ci

fix(#648): derive census core_version from package metadata (was hardcoded)
  src/body/services/cim/census_service.py
  tests/body/services/cim/test_census_service.py
Labels: feat, fix, test

fix(#650): drop vestigial typer[rich] extra
  poetry.lock
  pyproject.toml
Labels: deps

feat(#539): core-engine Docker image + GHCR publish workflow (ADR-086 D7)
  .docker/core-engine/Dockerfile
  .docker/core-engine/entrypoint.sh
  .github/workflows/publish-docker-core-engine.yml
Labels: ci
