Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

Draw down 11 audit findings (18 -> 6); verdict FAILED -> PASSED
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .specs/planning/handoff-2026-04-19.md
  .specs/state/Prior Art and the End-to-End Gap.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/api/main.py
  src/body/project_lifecycle/definition_service.py
  src/body/services/service_registry.py
  src/body/workers/prompt_artifact_writer.py
  src/main.py
  src/mind/governance/audit_context.py
  src/shared/infrastructure/knowledge_graph_service.py
  src/will/agents/coder_agent.py
  src/will/agents/tagger_agent.py
  src/will/self_healing/clarity_service.py
  src/will/workers/intent_inspector.py
  src/will/workers/prompt_extractor_worker.py
  src/will/workers/violation_remediator_body/llm.py
  tests/test_main__health_check.py
Labels: feat, fix, test, governance

Extend P0.1 hardening: per-file engine crashes become ENFORCEMENT_FAILURE findings
  src/mind/governance/rule_executor.py
Labels: feat, fix

Complete P0.1 rollout: per-file crashes reach verdict and display
  src/cli/logic/audit_renderer.py
  src/cli/resources/code/audit.py
  src/mind/governance/constitutional_auditor_dynamic.py
Labels: feat, fix

Delete render_audit_report — dead entrypoint with latent regression
  src/cli/logic/audit_renderer.py
Labels: feat, fix

Fix is_selected: handle None/non-string node.name safely
  src/mind/logic/engines/ast_gate/checks/generic_checks.py
Labels: feat, fix

Restore ModularityChecker.check_needs_split and check_needs_refactor
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
Labels: feat, fix

Untrack generated audit and test report artifacts (partial)
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

Untrack remaining generated reports/ artifacts (completion)
  reports/cli_help_context.txt
  reports/doc_maturity/report.html
  reports/doc_maturity/report.json
  reports/duplicates/html/index.html
  reports/duplicates/html/js/prism.js
  reports/duplicates/html/jscpd-report.json
  reports/duplicates/html/styles/prism.css
  reports/duplicates/html/styles/tailwind.css
  reports/governance/traceability_matrix.json
Labels: none

Remove unused pytest-html reporting from pytest.ini
  pytest.ini
Labels: none

Add cli to poetry packages list
  pyproject.toml
Labels: deps

Remove --no-root from CI poetry install so src/* packages install
  .github/workflows/core-ci.yml
Labels: ci

Update stale imports in 9 test files to match current module layout
  tests/shared/test_cli_utils.py
  tests/shared/test_cli_utils__async_command.py
  tests/shared/test_cli_utils__confirm_action.py
  tests/shared/test_cli_utils__core_command.py
  tests/shared/test_cli_utils__display_error.py
  tests/shared/test_cli_utils__display_info.py
  tests/shared/test_cli_utils__display_success.py
  tests/shared/test_cli_utils__display_warning.py
  tests/shared/test_errors__register_exception_handlers.py
Labels: test

Delete obsolete embedding_utils test — symbols removed, no rename path
  tests/shared/utils/embedding_utils/test_generated.py
Labels: test

fix(tests): govern source→test path mapping, ground build.tests in real symbols
  src/body/atomic/build_tests_action.py
  src/shared/infrastructure/context/cli.py
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_runner_sensor.py
Labels: feat, fix

feat(governance): task_type as first-class field, phase mapping in .intent/
  .intent/enforcement/config/task_type_phases.yaml
  .specs/decisions/ADR-003-task-type-first-class-field-on-execution-task.md
  .specs/decisions/ADR-004-govern-task-type-phase-mapping.md
  src/cli/logic/interactive_test/steps/generation.py
  src/cli/resources/context/build.py
  src/shared/infrastructure/context/service.py
  src/shared/infrastructure/intent/task_type_phases.py
  src/shared/models/execution_models.py
  src/will/agents/code_generation/code_generator.py
Labels: feat, fix, governance

docs(specs): session handoff — engine integrity diagnostic
  .specs/planning/handoff-2026-04-20.md
Labels: none

chore: root cleanup.
  .codex
  .coveragerc
  mypy.ini
  pyproject.toml
  pytest.ini
Labels: deps

chore(env): explicit allowlist for tracked env fixtures
  .env.canary
  .gitignore
Labels: none

docs(specs): correct stale engine-integrity framing in handoffs and A3 plan
  .specs/planning/CORE-A3-plan.md
  .specs/planning/handoff-2026-04-19.md
  .specs/planning/handoff-2026-04-20.md
  .specs/state/nested_scope_audit_2026-04-19.md
  .specs/state/reconnaissance_2026-04-20.md
  .specs/state/tracing_mandatory_diagnostic_2026-04-20.md
Labels: none

feat(intent): govern audit verdict policy via .intent/ loader (ADR-005)
  src/shared/infrastructure/intent/audit_verdict.py
Labels: feat, fix

refactor(governance): _determine_verdict reads policy from .intent/ (ADR-005)
  src/mind/governance/auditor.py
Labels: feat, fix

chore(docs): fix stale AuditSeverity.LOW reference in audit_types.py
  src/mind/governance/audit_types.py
Labels: feat, fix

feat(intent): govern audit verdict policy (ADR-005)
  .intent/enforcement/config/audit_verdict.yaml
Labels: governance

docs(adr): ADR-005 govern audit verdict policy
  .specs/decisions/ADR-005-govern-audit-verdict-policy.md
Labels: none

docs(specs): modularity.needs_split diagnostic (ADR-006 recon)
  .specs/planning/handoff-2026-04-20-evening.md
  .specs/state/2026-04-20-modularity-needs-split-diagnostic.md
Labels: none

docs(adr): ADR-006 align needs_split check with rule statement
  .specs/decisions/ADR-006-align-needs-split-with-statement.md
Labels: none

docs(specs): reproducibility artefacts for ADR-006 diagnostic
  .specs/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/counterfactual.json
  .specs/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/modularity_diagnostic.py
  .specs/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/needs_split_findings.json
  .specs/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/per_file.json
Labels: none

docs(adr): add ADR-007 — modularity.class_too_large rule split
  .intent/rules/code/modularity.json
  .specs/decisions/ADR-007-modularity-class-too-large-rule.md
  .specs/state/2026-04-20-daemon-reactivation-recon.md
Labels: governance

feat(modularity): implement ADR-007 sensor changes
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
Labels: feat, fix

feat(intent): map modularity.class_too_large to ast_gate (ADR-007)
  .intent/enforcement/mappings/code/modularity.yaml
Labels: governance

fix(infra): bump Qdrant container nofile ulimit to 65536
  docker-compose.yml
Labels: none

docs(specs): session handoff 2026-04-21 (ADR-007, daemon reactivation)
  .specs/planning/handoff-2026-04-21.md
Labels: none

fix(e1a8cade): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .specs/META/handoff.schema.json
  .specs/planning/CORE-A3-plan.md
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(will): resolve/release semantics in ViolationRemediatorWorker
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(body): broaden resolve_entries predicate to include 'claimed' status
  src/body/services/blackboard_service.py
Labels: feat, fix

fix(body): set claimed_at in all BlackboardService claim_* methods
  src/body/services/blackboard_service.py
Labels: feat, fix

docs: add session handoff 2026-04-21 evening
  .specs/planning/session_handoff_2026-04-21_evening.md
Labels: none

fix(engines): widen EngineResult.violations to preserve structured details
  src/body/governance/code_validator.py
  src/body/governance/engine_dispatcher.py
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/base.py
Labels: feat, fix

fix(blackboard): populate resolved_at on all terminal-state writes
  src/body/services/blackboard_service.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/shared/workers/base.py
Labels: feat, fix

fix(actions): reclassify fix.placeholders from moderate to safe
  src/body/atomic/fix_actions.py
Labels: feat, fix
