Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

#371 fix(cli): route logic/interactive_test/ui.py rendering through console.print
  src/cli/logic/interactive_test/ui.py
Labels: feat, fix

#371 fix(cli): route logic/refusal_inspect_logic.py through console.print
  src/cli/logic/refusal_inspect_logic.py
Labels: feat, fix

#371 fix(cli): route resources/dev/strategic_audit.py through console.print
  src/cli/resources/dev/strategic_audit.py
Labels: feat, fix

#371 fix(cli): route resources/admin/forensics.py through console.print
  src/cli/resources/admin/forensics.py
Labels: feat, fix

fix(d205aa78-0167-45): Autonomous remediation: fix.logging (7 violation(s) — rules: architecture.channels.logger_not_presentation)
  src/cli/resources/proposals/create.py
Labels: feat, fix

#371 fix(cli): route resources/database/cleanup.py through console.print
  src/cli/resources/database/cleanup.py
Labels: feat, fix

#371 fix(cli): route interactive.py menu rendering through console.print
  src/cli/interactive.py
Labels: feat, fix

#371 fix(cli): route resources/vectors/cleanup.py through console.print
  src/cli/resources/vectors/cleanup.py
Labels: feat, fix

#371 fix(cli): route resources/admin/status.py through console.print
  src/cli/resources/admin/status.py
Labels: feat, fix

fix(9a949ba5-24d9-41): Autonomous remediation: fix.logging (3 violation(s) — rules: architecture.channels.logger_not_presentation)
  src/cli/resources/admin/health.py
Labels: feat, fix

fix(f2694c41-5eb3-4d): Autonomous remediation: fix.logging (4 violation(s) — rules: architecture.channels.logger_not_presentation)
  src/cli/resources/admin/coverage.py
  src/cli/resources/admin/health.py
  src/cli/resources/admin/legacy.py
  src/cli/resources/admin/meta.py
  src/cli/resources/admin/validate_env.py
Labels: feat, fix

#371 fix(cli): route resources/database/* through console.print
  src/cli/resources/database/export.py
  src/cli/resources/database/migrate.py
  src/cli/resources/database/status.py
  src/cli/resources/database/sync.py
  src/cli/resources/database/sync_env.py
Labels: feat, fix

#371 fix(cli): route resources/dev/* through console.print
  src/cli/resources/dev/refactor.py
  src/cli/resources/dev/stability.py
  src/cli/resources/dev/sync.py
  src/cli/resources/dev/test.py
Labels: feat, fix

#371 fix(cli): route resources/constitution/* through console.print
  src/cli/resources/constitution/audit.py
  src/cli/resources/constitution/query.py
  src/cli/resources/constitution/status.py
  src/cli/resources/constitution/validate.py
Labels: feat, fix

#371 fix(cli): route resources/vectors/{query,status} through console.print
  src/cli/resources/vectors/query.py
  src/cli/resources/vectors/status.py
Labels: feat, fix

#371 fix(cli): route resources/symbols/* through console.print
  src/cli/resources/symbols/audit.py
  src/cli/resources/symbols/fix_ids.py
  src/cli/resources/symbols/resolve_duplicates.py
  src/cli/resources/symbols/sync.py
  src/cli/resources/symbols/tag.py
Labels: feat, fix

#371 fix(cli): route resources/{context,workers}/* through console.print
  src/cli/resources/context/explain.py
  src/cli/resources/context/search.py
  src/cli/resources/workers/blackboard.py
  src/cli/resources/workers/run.py
Labels: feat, fix

#371 fix(cli): route remaining resources/* singletons through console.print
  src/cli/resources/code/lint.py
  src/cli/resources/project/docs.py
  src/cli/resources/project/new.py
  src/cli/resources/project/onboard.py
  src/cli/resources/proposals/integrate.py
  src/cli/resources/secrets/manage.py
Labels: feat, fix

#371 fix(cli): route remaining {utils,commands,renderers,logic} sites through console.print
  src/cli/admin_cli.py
  src/cli/commands/audit_reporter.py
  src/cli/commands/check/rule.py
  src/cli/logic/interactive_test/session.py
  src/cli/renderers/audit_detail.py
  src/cli/utils/decorators.py
  src/cli/utils/prompts.py
Labels: feat, fix

#240 chore(deps): mechanical Dependabot bumps — idna, pip, virtualenv, pymdown-extensions
  poetry.lock
Labels: deps

#254 chore(deps): bump fastapi ^0.115 → ^0.121 to unblock starlette ≥0.49.1
  poetry.lock
  pyproject.toml
Labels: deps

#255 chore(deps): coordinated black 26 + pathspec 1.1 bump
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  src/shared/utils/glob_match.py
Labels: feat, fix, deps

Add CORE Governance Model documentation
  GOVERNANCE.md
Labels: none

Create CORE roadmap document
  ROADMAP.md
Labels: none

Add Feature issue template and FeatureIssue data contract
  .github/ISSUE_TEMPLATE/feature.yml
  .intent/enforcement/contracts/FeatureIssue.json
Labels: governance

Fix FeatureIssue.json $schema to allowlisted form
  .intent/enforcement/contracts/FeatureIssue.json
Labels: governance

Add Feature Registry paper and ADR-065 (documentation layer separation)
  .specs/decisions/ADR-065-documentation-layer-separation.md
  .specs/papers/CORE-Features.md
Labels: none

Remove reversed fix.logging mapping for logger_not_presentation
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

Close F-05 / F-26 / F-27 operational gaps
  .intent/enforcement/config/rule_targets.yaml
  .specs/papers/CORE-Features.md
Labels: governance

Flip F-05 to shipping — convergence target met
  .specs/papers/CORE-Features.md
Labels: none

Add CORE-Roadmap.md to the .specs/papers/ canonical surface
  .specs/papers/CORE-Roadmap.md
Labels: none

Reduce root ROADMAP.md to a pointer to the canonical .specs/ surface
  ROADMAP.md
Labels: none

enforce operating_mode and locality on router path (#333)
  src/body/services/mind_state_service.py
  src/will/agents/cognitive_orchestrator.py
  src/will/agents/resource_selector.py
Labels: feat, fix

retire: delete dead code for #343 and #344
  src/body/atomic/executor.py
  src/will/agents/micro_planner.py
  src/will/agents/plan_executor.py
  src/will/cli_logic/proposals_micro.py
  src/will/cli_logic/reviewer.py
  var/prompts/code_peer_review.prompt
  var/prompts/code_peer_review_governed/model.yaml
  var/prompts/code_peer_review_governed/system.txt
  var/prompts/code_peer_review_governed/user.txt
  var/prompts/constitutional_review.prompt
  var/prompts/docs_clarity_review.prompt
  var/prompts/micro_planner.prompt
  var/prompts/micro_planner_create_micro_plan/model.yaml
  var/prompts/micro_planner_create_micro_plan/system.txt
  var/prompts/micro_planner_create_micro_plan/user.txt
  var/prompts/reviewer_review_prompt/model.yaml
  var/prompts/reviewer_review_prompt/system.txt
  var/prompts/reviewer_review_prompt/user.txt
Labels: feat, fix

fix(intent): map architecture.channels.logger_not_presentation as DELEGATE
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

feat(governance): implement all_rules_mapped check per ADR-066
  src/mind/logic/engines/artifact_gate.py
  tests/engines/test_artifact_gate_all_rules_mapped.py
Labels: feat, fix, test

feat(governance): ADR-066 — unmapped-rules invariant + backfill
  .intent/enforcement/mappings/governance/remediation.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/remediation.json
  .specs/decisions/ADR-066-unmapped-rules-invariant.md
Labels: governance

feat(coverage): GET /v1/coverage/report?format=html — closes #358
  src/api/cli/client.py
  src/api/v1/coverage_routes.py
  src/cli/commands/coverage/check_commands.py
  src/cli/commands/coverage/services/coverage_reporter.py
  src/will/governance/coverage_runner.py
  tests/api/v1/test_coverage_routes.py
Labels: feat, fix, test

fix(pytest): switch to --import-mode=importlib — closes #420
  pyproject.toml
Labels: deps

docs(governance): constitutional coherence checker — paper + ADR-067
  .specs/decisions/ADR-067-constitutional-coherence-checker.md
  .specs/papers/CORE-ConstitutionalCoherenceChecker.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
