Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(violation_remediator): release unmappable findings back to open status
  src/body/services/blackboard_service.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(violation_remediator): filter unmappable findings at claim time
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix: PromptModel.load uses prompts_dir not deprecated paths.prompt()
  src/shared/ai/prompt_model.py
Labels: feat, fix

fix: restore blackboard and health visibility, kill compounding noise
  .claude/.nfs00000000001a589900000008
  reports/pytest-report.html
  src/cli/resources/admin/health.py
  src/cli/resources/workers/blackboard.py
  src/will/workers/intent_inspector.py
Labels: feat, fix

fix: wire ViolationRemediatorWorker to .intent/ remediation map
  .claude/.nfs00000000001a032c00000009
  .claude/.nfs00000000001a03450000000a
  .claude/.nfs00000000001a035e0000000b
  .claude/settings.json
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
  reports/pytest-report.html
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

fix: remove direct get_session imports from Will layer workers
  .claude/.nfs00000000001a032c00000009
  .claude/.nfs00000000001a03450000000a
  .claude/.nfs00000000001a035e0000000b
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/will/workers/audit_violation_sensor.py
  src/will/workers/proposal_worker.py
  src/will/workers/repo_embedder.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(api): align develop_from_goal call signature in development_routes
  src/api/v1/development_routes.py
Labels: feat, fix

fix(shim): correct IntentGuard docstring — moved to body not mind
  src/will/orchestration/intent_guard.py
Labels: feat, fix

feat(will): implement SelfHealingAgent._detect_issues and _execute_healing
  src/will/agents/self_healing_agent.py
Labels: feat, fix

chore(workers): pause LLM workers to protect token budget
  .intent/workers/call_site_rewriter.yaml
  .intent/workers/capability_tagger.yaml
  .intent/workers/doc_worker.yaml
  .intent/workers/intent_inspector.yaml
  .intent/workers/prompt_artifact_writer.yaml
  .intent/workers/prompt_extractor_worker.yaml
  .intent/workers/proposal_worker.yaml
  .intent/workers/repo_embedder.yaml
Labels: governance

fix(workers): set requires_core_context: true for ViolationRemediatorWorker
  .intent/workers/violation_remediator.yaml
Labels: governance

chore: daemon running clean — token-free convergence loop active
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

feat(workers): convert SelfHealingAgent to constitutional sensing worker
  .intent/workers/self_healing_agent.yaml
  src/will/agents/self_healing_agent.py
Labels: feat, fix, governance

fix(workers): correct find_symbol_id_and_def_line call in SelfHealingAgent
  src/will/agents/self_healing_agent.py
Labels: feat, fix

fix(governance): move auto_remediation.yaml out of mappings/ tree
  .intent/enforcement/remediation/auto_remediation.yaml
  src/shared/path_resolver.py
Labels: feat, fix, governance

fix: resolve architecture.intent.non_gateway_no_direct_resolution violations
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/introspection/knowledge_graph_service.py
  src/body/self_healing/fix_manifest_hygiene.py
  src/cli/commands/coverage/check_commands.py
  src/cli/logic/cli_utils.py
  src/cli/logic/proposals/service.py
  src/cli/resources/code/audit.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/knowledge_graph_service.py
  src/shared/utils/manifest_aggregator.py
  src/will/orchestration/intent_alignment.py
  src/will/orchestration/prompt_pipeline.py
Labels: feat, fix, governance

fix: resolve architecture.channels violations
  .intent/enforcement/mappings/architecture/channels.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/logic/engines/ast_gate/checks/logging_checks.py
  src/shared/infrastructure/context/cli.py
  src/will/workflows/dev_sync_phases.py
  src/will/workflows/phases/code_analysis_phase.py
  src/will/workflows/phases/code_fixers_phase.py
  src/will/workflows/phases/database_sync_phase.py
  src/will/workflows/phases/quality_checks_phase.py
  src/will/workflows/phases/vectorization_phase.py
Labels: feat, fix, governance

fix(419e07aa): Autonomous remediation: fix.logging (32 violation(s) — rules: architecture.channels.logger_not_presentation, architecture.channels.logic_no_terminal_rendering)
  infra/sql/db_schema_live.sql
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/resources/proposals/list.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(419e07aa): Autonomous remediation: fix.logging (32 violation(s) — rules: architecture.channels.logger_not_presentation, architecture.channels.logic_no_terminal_rendering)
  reports/pytest-report.html
  src/cli/logic/autonomy/views.py
  src/shared/infrastructure/git_service.py
Labels: feat, fix

feat: deterministic modularization splitter
  src/body/atomic/import_resolver.py
  src/body/atomic/modularity_splitter.py
  src/body/atomic/split_plan.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

fix: wire execution phase + fix planner_agent prompt path
  reports/pytest-report.html
  src/shared/path_resolver.py
  src/will/agents/planner_agent.py
  src/will/phases/execution_phase.py
Labels: feat, fix

feat: CORE splits repo_embedder.py autonomously
  reports/pytest-report.html
  src/will/phases/execution_phase.py
  src/will/workers/repo_embedder/__init__.py
  src/will/workers/repo_embedder/chunking_strategies.py
  src/will/workers/repo_embedder/qdrant_operations.py
  src/will/workers/repo_embedder/qdrant_upsert.py
  src/will/workers/repo_embedder/repo_embedder_worker.py
  src/will/workers/repo_embedder/sensing.py
  src/will/workers/repo_embedder/utils.py
  src/will/workers/repo_embedder_worker/__init__.py
  src/will/workers/repo_embedder_worker/chunking_strategies.py
  src/will/workers/repo_embedder_worker/qdrant_upsert.py
  src/will/workers/repo_embedder_workers/__init__.py
  src/will/workers/repo_embedder_workers/qdrant_upsert.py
  src/will/workers/repo_embedder_workers/repo_embedder.py
Labels: feat, fix

restore: repo_embedder.py from before split attempt
  src/will/workers/repo_embedder.py
Labels: feat, fix

feat: CORE autonomously modularizes repo_embedder.py
  reports/pytest-report.html
  src/body/atomic/import_resolver.py
  src/body/atomic/modularity_splitter.py
  src/will/workers/repo_embedder.py
  src/will/workers/repo_embedder/qdrant_operations.py
  src/will/workers/repo_embedder/qdrant_upsert.py
  src/will/workers/repo_embedder/repo_embedder_worker.py
  src/will/workers/repo_embedder/utils.py
  src/will/workers/repo_embedder_worker/__init__.py
  src/will/workers/repo_embedder_worker/chunking_strategies.py
  src/will/workers/repo_embedder_worker/qdrant_upsert.py
  src/will/workers/repo_embedder_workers/__init__.py
  src/will/workers/repo_embedder_workers/qdrant_upsert.py
  src/will/workers/repo_embedder_workers/repo_embedder.py
  src/will/workers/repo_embedding/__init__.py
  src/will/workers/repo_embedding/helpers.py
  src/will/workers/repo_embedding/repo_embedder_workers.py
Labels: feat, fix

feat: CORE autonomously modularizes repo_embedder.py + audit PASSED
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/will/phases/code_generation_phase.py
Labels: feat, fix

feat: CORE splits crawl_service.py autonomously
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/atomic/split_plan.py
  src/body/services/crawl_service/__init__.py
  src/body/services/crawl_service/main_module.py
  src/body/services/crawl_service/symbol_processing.py
  src/cli/commands/refactor_support/display.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

docs: clean up root — README, CONTRIBUTING, .gitignore hygiene
  .gitignore
  CHANGELOG.md
  CONTRIBUTING.md
  CORE_ANATOMY.md
  README.md
  cleanup.sh
  logs/.gitkeep
  reports/.gitkeep
  reports/pytest-report.html
Labels: docs

refactor: consolidate AUDIT phase declaration into BaseEvaluator
  reports/pytest-report.html
  src/body/evaluators/base_evaluator.py
  src/body/evaluators/clarity_evaluator.py
  src/body/validators/logic_conservation_validator.py
  src/cli/resources/database/migrate.py
Labels: feat, fix

fix: resolve all deterministic audit findings
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/governance/runtime_validator.py
  src/shared/self_healing/remediation_interpretation/strategy_selector.py
Labels: feat, fix

fix: consequence logging — upsert replaces DO NOTHING
  reports/pytest-report.html
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

docs: document consequence log semantic violation in layer_separation.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  reports/pytest-report.html
Labels: governance

refactor: extract ConsequenceLogService from ProposalExecutor
  src/body/services/consequence_log_service.py
  src/body/services/service_registry.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

feat: register fix.modularity atomic action
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/atomic/fix_actions.py
Labels: feat, fix, governance

feat: map 10 advisory/permissive rules to remove from declared_only
  .intent/enforcement/mappings/architecture/atomic_actions.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/code/metadata_mutations.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: governance

ast_utility.py --fix
  .gitignore
  reports/pytest-report.html
  src/shared/ast_utility.py
Labels: feat, fix

fix: CLI approve/reject call ProposalStateManager not ProposalRepository
  src/cli/resources/proposals/manage.py
Labels: feat, fix

fix: action_fix_modularity use shared.models.PromptModel not shared.ai
  src/body/atomic/fix_actions.py
Labels: feat, fix

fix: strip markdown fences from LLM JSON responses in fix.modularity
  src/body/atomic/fix_actions.py
Labels: feat, fix

feat: replace LLM split phase with mechanical AST execution
  src/body/atomic/fix_actions.py
Labels: feat, fix

fix(b50b3230): Split src/body/atomic/fix_actions.py — modularity violation 891 lines
  src/body/atomic/fix_actions.py
  src/body/atomic/modularity_fix.py
Labels: feat, fix
