Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(ssot): Complete Phase 6 dual-run switchover
  .intent/meta.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/cognitive_roles.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/resource_manifest.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

feat(ssot): Complete Phase 6 dual-run switchover
  .intent/meta.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/cognitive_roles.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/resource_manifest.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

refactor(Arch): Eliminate global service_registry for CoreContext DI
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

refactor(Arch): Eliminate global service_registry for CoreContext DI
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

feat(Audit): Resolve all unassigned capability errors
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/mind/prompts/capability_definer.prompt
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix, governance

feat(Audit): Resolve all unassigned capability errors
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/mind/prompts/capability_definer.prompt
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  src/features/project_lifecycle/definition_service.py
Labels: feat, fix, governance

feat(a1): Implement high-priority academic review feedback
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/charter/policies/governance/auditor_policy.yaml
  .intent/charter/schemas/governance/available_actions_policy_schema.json
  .intent/mind/prompts/micro_planner.prompt
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  project_context.txt
  scripts/AcademicPeerReview.prompt
  scripts/assesment.prompt
  src/cli/commands/fix.py
  src/cli/logic/audit.py
  src/cli/logic/cli_utils.py
  src/cli/logic/proposals_micro.py
  src/core/actions/healing_actions.py
  src/core/actions/registry.py
  src/core/actions/validation_actions.py
  src/features/self_healing/capability_tagging_service.py
  src/features/self_healing/code_style_service.py
  src/shared/models/execution_models.py
  src/shared/utils/subprocess_utils.py
Labels: feat, fix, governance

feat(a1): Implement high-priority academic review feedback
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/charter/policies/governance/auditor_policy.yaml
  .intent/charter/schemas/governance/available_actions_policy_schema.json
  .intent/mind/prompts/micro_planner.prompt
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  project_context.txt
  scripts/AcademicPeerReview.prompt
  scripts/assesment.prompt
  src/cli/commands/fix.py
  src/cli/logic/audit.py
  src/cli/logic/cli_utils.py
  src/cli/logic/proposals_micro.py
  src/core/actions/healing_actions.py
  src/core/actions/registry.py
  src/core/actions/validation_actions.py
  src/features/self_healing/capability_tagging_service.py
  src/features/self_healing/code_style_service.py
  src/shared/models/execution_models.py
  src/shared/utils/subprocess_utils.py
Labels: feat, fix, governance

fix(audit): Make duplication check resilient and add missing IDs
  .env.test
  .intent/charter/policies/code/dependency_injection_policy.yaml
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/charter/policies/governance/risk_classification_policy.yaml
  .intent/charter/schemas/code/dependency_injection_policy_schema.json
  .intent/charter/schemas/governance/risk_classification_policy_schema.json
  .intent/meta.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  project_context.txt
  scripts/find_unvectorized_symbols.py
  scripts/rehydrate_qdrant_from_db.py
  src/cli/commands/fix.py
  src/cli/commands/inspect.py
  src/cli/logic/diagnostics.py
  src/cli/logic/duplicates.py
  src/cli/logic/symbol_drift.py
  src/cli/logic/vector_drift.py
  src/core/actions/healing_actions.py
  src/features/governance/checks/dependency_injection_check.py
  src/features/governance/checks/duplication_check.py
  src/features/governance/policy_loader.py
  src/features/introspection/vectorization_service.py
  src/features/self_healing/prune_orphaned_vectors.py
  src/services/clients/qdrant_client.py
  tests/test_env_loading.py
Labels: feat, fix, test, governance

fix(audit): Make duplication check resilient and add missing IDs
  .env.test
  .intent/charter/policies/code/dependency_injection_policy.yaml
  .intent/charter/policies/governance/audit_ignore_policy.yaml
  .intent/charter/policies/governance/risk_classification_policy.yaml
  .intent/charter/schemas/code/dependency_injection_policy_schema.json
  .intent/charter/schemas/governance/risk_classification_policy_schema.json
  .intent/meta.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  project_context.txt
  scripts/find_unvectorized_symbols.py
  scripts/rehydrate_qdrant_from_db.py
  src/cli/commands/fix.py
  src/cli/commands/inspect.py
  src/cli/logic/diagnostics.py
  src/cli/logic/duplicates.py
  src/cli/logic/symbol_drift.py
  src/cli/logic/vector_drift.py
  src/core/actions/healing_actions.py
  src/features/governance/checks/dependency_injection_check.py
  src/features/governance/checks/duplication_check.py
  src/features/governance/policy_loader.py
  src/features/introspection/vectorization_service.py
  src/features/self_healing/prune_orphaned_vectors.py
  src/services/clients/qdrant_client.py
  tests/test_env_loading.py
Labels: feat, fix, test, governance

feat: Complete full system initialization and knowledge base definition
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/config/runtime_requirements.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  Makefile
  docker-compose.yml
  project_context.txt
  pyproject.toml
  scripts/find_broken_links.py
  scripts/find_unvectorized_symbols.py
  scripts/inspect_runtime_settings.py
  scripts/rehydrate_qdrant_from_db.py
  scripts/reset_and_rebuild_db.sh
  scripts/test_qdrant_connection.py
  scripts/verify_live_config.py
  sql/001_consolidated_schema.sql
  sql/002_runtime_configuration.sql
  src/cli/commands/check.py
  src/cli/commands/inspect.py
  src/cli/logic/knowledge_sync/import_.py
  src/cli/logic/knowledge_sync/snapshot.py
  src/cli/logic/knowledge_sync/utils.py
  src/cli/logic/vector_drift.py
  src/core/cognitive_service.py
  src/core/knowledge_service.py
  src/features/governance/checks/duplication_check.py
  src/features/introspection/knowledge_graph_service.py
  src/features/introspection/knowledge_helpers.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
  src/features/project_lifecycle/definition_service.py
  src/features/project_lifecycle/integration_service.py
  src/features/self_healing/prune_orphaned_vectors.py
  src/services/clients/qdrant_client.py
  src/services/database/models.py
  src/services/llm/resource_selector.py
  verify_view.py
Labels: feat, fix, governance, deps

feat: Complete full system initialization and knowledge base definition
  .intent/charter/policies/data/database_policy.yaml
  .intent/mind/config/runtime_requirements.yaml
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  Makefile
  docker-compose.yml
  project_context.txt
  pyproject.toml
  scripts/find_broken_links.py
  scripts/find_unvectorized_symbols.py
  scripts/inspect_runtime_settings.py
  scripts/rehydrate_qdrant_from_db.py
  scripts/reset_and_rebuild_db.sh
  scripts/test_qdrant_connection.py
  scripts/verify_live_config.py
  sql/001_consolidated_schema.sql
  sql/002_runtime_configuration.sql
  src/cli/commands/check.py
  src/cli/commands/inspect.py
  src/cli/logic/knowledge_sync/import_.py
  src/cli/logic/knowledge_sync/snapshot.py
  src/cli/logic/knowledge_sync/utils.py
  src/cli/logic/vector_drift.py
  src/core/cognitive_service.py
  src/core/knowledge_service.py
  src/features/governance/checks/duplication_check.py
  src/features/introspection/knowledge_graph_service.py
  src/features/introspection/knowledge_helpers.py
  src/features/introspection/sync_service.py
  src/features/introspection/vectorization_service.py
  src/features/project_lifecycle/definition_service.py
  src/features/project_lifecycle/integration_service.py
  src/features/self_healing/prune_orphaned_vectors.py
  src/services/clients/qdrant_client.py
  src/services/database/models.py
  src/services/llm/resource_selector.py
  verify_view.py
Labels: feat, fix, governance, deps

refactor(cli): Centralize CLI registration and remove duplicate boilerplate
  scripts/refactor_remove_function.py
  src/cli/admin_cli.py
  src/cli/commands/check.py
  src/cli/commands/enrich.py
  src/cli/commands/fix.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/commands/submit.py
  src/cli/logic/build.py
  src/cli/logic/check.py
  src/cli/logic/context.py
  src/cli/logic/embeddings_cli.py
  src/cli/logic/guard.py
  src/cli/logic/hub.py
  src/cli/logic/new.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/reviewer.py
  src/cli/logic/validate.py
Labels: feat, fix

refactor(cli): Centralize CLI registration and remove duplicate boilerplate
  scripts/refactor_remove_function.py
  src/cli/admin_cli.py
  src/cli/commands/check.py
  src/cli/commands/enrich.py
  src/cli/commands/fix.py
  src/cli/commands/manage.py
  src/cli/commands/mind.py
  src/cli/commands/submit.py
  src/cli/logic/build.py
  src/cli/logic/check.py
  src/cli/logic/context.py
  src/cli/logic/embeddings_cli.py
  src/cli/logic/guard.py
  src/cli/logic/hub.py
  src/cli/logic/new.py
  src/cli/logic/proposals_micro.py
  src/cli/logic/reviewer.py
  src/cli/logic/validate.py
Labels: feat, fix

feat(governance): Complete auditor refactoring and align safety policy
  .intent/charter/policies/safety_policy.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  project_context.txt
  src/cli/logic/agent.py
  src/cli/logic/audit.py
  src/cli/logic/proposal_service.py
  src/core/capabilities.py
  src/core/crate_processing_service.py
  src/core/git_service.py
  src/features/governance/audit_postprocessor.py
  src/features/governance/checks/orphaned_logic.py
  src/features/governance/checks/security_checks.py
  src/features/governance/constitutional_auditor.py
  src/features/introspection/symbol_index_builder.py
  src/features/project_lifecycle/integration_service.py
  src/features/project_lifecycle/scaffolding_service.py
Labels: feat, fix, governance

feat(governance): Complete auditor refactoring and align safety policy
  .intent/charter/policies/safety_policy.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  project_context.txt
  src/cli/logic/agent.py
  src/cli/logic/audit.py
  src/cli/logic/proposal_service.py
  src/core/capabilities.py
  src/core/crate_processing_service.py
  src/core/git_service.py
  src/features/governance/audit_postprocessor.py
  src/features/governance/checks/orphaned_logic.py
  src/features/governance/checks/security_checks.py
  src/features/governance/constitutional_auditor.py
  src/features/introspection/symbol_index_builder.py
  src/features/project_lifecycle/integration_service.py
  src/features/project_lifecycle/scaffolding_service.py
Labels: feat, fix, governance

feat: encrypted secrets management working
  src/cli/logic/guard_cli.py
  src/features/introspection/semantic_clusterer.py
Labels: feat, fix

feat: encrypted secrets management working
  src/cli/logic/guard_cli.py
  src/features/introspection/semantic_clusterer.py
Labels: feat, fix

chore: add .env.copy to gitignore
  .gitignore
Labels: none

chore: add .env.copy to gitignore
  .gitignore
Labels: none

chore: remove .env.copy from tracking (contains secrets)
  .env.copy
Labels: none

chore: remove .env.copy from tracking (contains secrets)
  .env.copy
Labels: none

chore: changed .env.copy to .env.bak
  .gitignore
Labels: none

chore: changed .env.copy to .env.bak
  .gitignore
Labels: none

feat: LLM services now use encrypted secrets from database
  project_context.txt
  src/cli/commands/secrets.py
  src/core/cognitive_service.py
  src/core/config_service.py
  src/core/secrets_service.py
  src/services/config_service.py
  src/services/llm/client.py
  src/shared/cli_utils.py
  src/shared/exceptions.py
  tests/integration/test_session_manager.py
Labels: feat, fix, test

feat: LLM services now use encrypted secrets from database
  project_context.txt
  src/cli/commands/secrets.py
  src/core/cognitive_service.py
  src/core/config_service.py
  src/core/secrets_service.py
  src/services/config_service.py
  src/services/llm/client.py
  src/shared/cli_utils.py
  src/shared/exceptions.py
  tests/integration/test_session_manager.py
Labels: feat, fix, test

docs: add comprehensive secrets management documentation
  docs/SECRETS_MANAGEMENT.md
Labels: docs

docs: add comprehensive secrets management documentation
  docs/SECRETS_MANAGEMENT.md
Labels: docs

feat(autonomy): Implement and harden autonomous test remediation agent
  .intent/mind/prompts/test_generator.prompt
  Makefile
  coverage.json
  scripts/nightly_coverage_remediation.py
  src/features/self_healing/single_file_remediation.py
  src/features/self_healing/test_generator.py
  tests/core/agents/test_self_correction_engine.py
  tests/core/test_capabilities.py
Labels: feat, fix, test, governance

feat(autonomy): Implement and harden autonomous test remediation agent
  .intent/mind/prompts/test_generator.prompt
  Makefile
  coverage.json
  scripts/nightly_coverage_remediation.py
  src/features/self_healing/single_file_remediation.py
  src/features/self_healing/test_generator.py
  tests/core/agents/test_self_correction_engine.py
  tests/core/test_capabilities.py
Labels: feat, fix, test, governance

feat(autonomy): Implement and harden autonomous test remediation agent
  coverage.json
  src/features/self_healing/test_generator.py
Labels: feat, fix

feat(autonomy): Implement and harden autonomous test remediation agent
  coverage.json
  src/features/self_healing/test_generator.py
Labels: feat, fix

feat(autonomy): Implement and harden autonomous test remediation agent
  .intent/mind/prompts/test_generator.prompt
  coverage.json
  src/features/self_healing/test_generator.py
  tests/core/test_crate_processing_service.py
Labels: feat, fix, test, governance

feat(autonomy): Implement and harden autonomous test remediation agent
  .intent/mind/prompts/test_generator.prompt
  coverage.json
  src/features/self_healing/test_generator.py
  tests/core/test_crate_processing_service.py
Labels: feat, fix, test, governance

feat: chores
  affected_files.txt
  audit.txt
  checks.txt
  constitutional_bundle.txt
  generate_tests_overnight.sh
  getLogger.txt
  gov.txt
  governance.txt
  governance_checks_concat.txt
  intent.txt
  policies.txt
  project_context.txt
  tests.txt
Labels: none

feat: chores
  affected_files.txt
  audit.txt
  checks.txt
  constitutional_bundle.txt
  generate_tests_overnight.sh
  getLogger.txt
  gov.txt
  governance.txt
  governance_checks_concat.txt
  intent.txt
  policies.txt
  project_context.txt
  tests.txt
Labels: none

feat(docs): add GitHub Pages deployment workflow
  .github/workflows/docs.yml
Labels: ci

feat(docs): add GitHub Pages deployment workflow
  .github/workflows/docs.yml
Labels: ci

feat(chore): core-ci edit.
  .github/workflows/core-ci.yml
Labels: ci

feat(chore): core-ci edit.
  .github/workflows/core-ci.yml
Labels: ci
