Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(governance): F-48.2 — PyPI publish workflow (Trusted Publisher OIDC)
  .github/workflows/publish-pypi.yml
  docs/release.md
Labels: docs, ci

chore: bump version 0.1.0 -> 0.1.1 (sidestep stale v0.1.0 git tag)
  README.md
  pyproject.toml
Labels: docs, deps

fix(governance): #544 — offline audit invocation is truly offline now
  src/cli/resources/code/audit.py
  src/cli/utils/decorators.py
  src/shared/config.py
  src/shared/models/execution_models.py
  tests/cli/test_offline_audit_regression_544.py
Labels: feat, fix, test

chore: bump version 0.1.1 -> 0.1.2
  README.md
  pyproject.toml
Labels: docs, deps

fix(2b3e658a-095c-45): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/shared/models/execution_models.py
Labels: feat, fix

fix(fc514ea3-584f-40): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.missing, test.failure)
  tests/shared/models/execution_models/test_generated.py
Labels: test

feat(governance): F-10.3 — reusable GitHub Action for the audit gate
  Dockerfile
  action.yml
  entrypoint.sh
Labels: none

style: ruff-format catch-up on tests
  tests/body/governance/test_intent_guard__capability_tier_advisory.py
  tests/cli/test_offline_audit_regression_544.py
  tests/engines/test_intent_access_check.py
  tests/mind/governance/test_stateless_audit__no_db_required.py
  tests/mind/governance/test_stateless_audit__skips_db_rules.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
  tests/mind/logic/engines/cli_gate/checks/dangerous_explicit/test_generated.py
  tests/mind/logic/engines/test_taxonomy_gate.py
  tests/shared/infrastructure/intent/test_filesystem_operations.py
  tests/shared/infrastructure/intent/test_operational_capabilities.py
  tests/shared/infrastructure/intent/test_operational_mode.py
  tests/shared/models/execution_models/test_generated.py
Labels: test

fix(governance): #545 — engine-side intent loaders use cwd-walk repo discovery
  src/shared/config.py
  src/shared/infrastructure/intent/cognitive_roles.py
  src/shared/infrastructure/intent/filesystem_operations.py
  src/shared/infrastructure/intent/operational_capabilities.py
  src/shared/infrastructure/intent/vocabulary_projection.py
Labels: feat, fix

chore: bump version 0.1.2 -> 0.1.3
  pyproject.toml
Labels: deps

chore(action): bump pinned core-runtime 0.1.2 -> 0.1.3 for F-10.4 demo retry
  Dockerfile
Labels: none

fix(governance): #546 — annotation formatter reads AuditFinding.as_dict() keys
  src/cli/utils/annotation_formatter.py
  tests/cli/utils/test_annotation_formatter.py
Labels: feat, fix, test

chore: bump version 0.1.3 -> 0.1.4 + pin action to 0.1.4
  Dockerfile
  pyproject.toml
Labels: deps

docs(governance): F-10 + F-48 ship — registry, planning, ADR-085 verification log
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

fix(governance): #547 — cli_gate filters Typer commands rooted outside repo_root
  src/mind/logic/engines/cli_gate/engine.py
  tests/mind/logic/engines/cli_gate/engine/test_walk_registry_repo_filter.py
Labels: feat, fix, test

chore: bump version 0.1.4 -> 0.1.5 + pin action to 0.1.5
  Dockerfile
  pyproject.toml
Labels: deps

fix(governance): #549 — workflow_gate checks silent-skip when tools absent
  Dockerfile
  pyproject.toml
  src/mind/logic/engines/workflow_gate/checks/import_resolution.py
  src/mind/logic/engines/workflow_gate/checks/linter.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/mind/logic/engines/workflow_gate/checks/ruff_format.py
  tests/mind/logic/engines/workflow_gate/test_tool_absence_silent_skip.py
Labels: feat, fix, test, deps

docs(governance): #547 + #549 post-ship cleanup activity-log entry
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(governance): F-40 decomposition — §2.5 added; §2.1 F-40 row + §3 + §6 updated
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(governance): F-40.1 — public-vs-internal route classification paper
  .specs/papers/CORE-OEM-API.md
Labels: none

docs(governance): F-40.2 — ADR-087 OEM API versioning + stability policy
  .specs/decisions/ADR-087-oem-api-versioning-and-stability-policy.md
Labels: none

docs(governance): F-40.1 + F-40.2 status flips in planning tracker
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(api): F-40.3a — OpenAPI metadata + internal-router schema exclusion
  src/api/main.py
  src/api/v1/daemon_routes.py
  src/api/v1/development_routes.py
  src/api/v1/integration_routes.py
  src/api/v1/integrity_routes.py
  src/api/v1/lint_routes.py
  src/api/v1/quality_routes.py
  src/api/v1/sync_routes.py
Labels: feat, fix

feat(api): F-40.3b — annotate simple public routers (audit/census/knowledge/fix/actions/proposals)
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/fix_routes.py
  src/api/v1/knowledge_routes.py
  src/api/v1/proposals_routes.py
Labels: feat, fix

feat(api): F-40.3c — annotate /inspect (14 routes across 6 sub-routers)
  src/api/v1/inspect_routes.py
Labels: feat, fix

feat(api): F-40.3d — mixed-router per-route classification (coverage + refactor)
  src/api/v1/coverage_routes.py
  src/api/v1/refactor_routes.py
Labels: feat, fix

feat(governance): F-40.3 — publish OpenAPI spec snapshot + paper §6 reference
  .specs/contracts/oem_api_v1.openapi.json
  .specs/papers/CORE-OEM-API.md
Labels: none

docs(governance): F-40.3 ✅ shipped — planning tracker updates
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(governance): F-40 ships — verification walk + status flips
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/verification/F-40-sidecar-walk.md
  README.md
Labels: docs

docs(governance): ADR-088 — PyPI version alignment to v2.x track
  .specs/decisions/ADR-087-oem-api-versioning-and-stability-policy.md
  .specs/decisions/ADR-088-pypi-version-alignment.md
  README.md
  pyproject.toml
Labels: docs, deps

feat(governance): ADR-079 D10 Stage 2 — promote decorator-backing rule to blocking
  .intent/rules/governance/taxonomy.json
Labels: governance

feat(api): F-48.4 — declare minimal public Python API surface
  src/api/__init__.py
  src/body/__init__.py
  src/cli/__init__.py
  src/mind/__init__.py
  src/shared/__init__.py
  src/will/__init__.py
Labels: feat, fix

docs(governance): README — bump to v2.6.0 — Declared Surface
  README.md
Labels: docs

feat(governance): F-27 ships — ADR-089 amendment + capability demonstration + status flips
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
  .specs/decisions/ADR-089-f27-exit-criterion-capability-not-usage.md
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(governance): product-surface consolidation — roadmap reshape + drift reconcile
  .specs/papers/CORE-Features.md
  .specs/papers/CORE-Product-Tiers.md
  .specs/papers/CORE-Roadmap.md
Labels: none

docs(governance): F-48.4 verification — tracker + roadmap reconcile
  .specs/papers/CORE-Roadmap.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(governance): roadmap GH-native conversion — status to issues, structure stays in doc
  .specs/papers/CORE-Roadmap.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

fix(metrics): F-19 resolved_24h uses resolved_at, not updated_at
  src/cli/resources/runtime/health.py
Labels: feat, fix

fix(metrics): F-19 distinct-subject convergence + Type A/B split + frozen direction
  src/body/services/health_log_service.py
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs(governance): ADR-090 accepted — F-41 artifact type registry as unified governance contract
  .specs/decisions/ADR-090-f41-artifact-type-registry-as-unified-governance-contract.md
Labels: none
