Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

governance(intent): list build.test_for_symbol, refactor.apply_split, test.candidate_validate in python supported_actions
  .intent/artifact_types/python.yaml
Labels: governance

refactor(will): CodeGenerationPhase — deterministic split planning to its own class (ADR-095, governor inbox)
  src/body/atomic/modularity_fix.py
  src/will/autonomy/plan_to_proposal.py
  src/will/phases/code_generation/split_planner.py
  src/will/phases/code_generation_phase.py
  src/will/phases/runtime_phase.py
  tests/will/phases/test_code_generation_split_planner.py
Labels: feat, fix, test

refactor(body): ProposalConsequenceAuditService split from ProposalSupervisionService (ADR-095, governor inbox)
  src/body/services/proposal_consequence_audit_service.py
  src/body/services/proposal_supervision_service.py
  src/body/services/service_registry.py
  src/will/workers/commit_authorship_audit_worker.py
  tests/body/services/test_proposal_supervision_service.py
  tests/body/services/test_proposal_supervision_service_evidence_degraded.py
  tests/will/workers/test_commit_authorship_audit_worker_evidence_degraded.py
  tests/will/workers/test_commit_authorship_audit_worker_finalization_integrity.py
Labels: feat, fix, test

refactor(will): split audit_violation_sensor — routing and drain into will.audit_violation (ADR-095, governor inbox)
  src/will/audit_violation/drain.py
  src/will/audit_violation/routing.py
  src/will/workers/audit_violation_sensor.py
  tests/will/workers/audit_violation_sensor/test_drain.py
  tests/will/workers/audit_violation_sensor/test_route_to.py
Labels: feat, fix, test

refactor(mind): split rule_executor.py — dispatch integrity to its own module (ADR-095, governor inbox)
  src/mind/governance/dispatch_integrity.py
  src/mind/governance/rule_executor.py
  tests/mind/governance/test_dispatch_integrity.py
Labels: feat, fix, test

refactor(will): ViolationExecutorWorker — finding-state helpers to their own module (ADR-095, governor inbox)
  src/will/remediation/finding_state.py
  src/will/workers/violation_executor.py
  tests/will/autonomy/test_adr154_e2e_acceptance.py
  tests/will/workers/test_violation_executor_cap.py
Labels: feat, fix, test

refactor(body): ActionExecutor — audit-log persistence to ActionAuditRecorder (ADR-095, governor inbox)
  src/body/atomic/action_audit.py
  src/body/atomic/executor.py
  src/will/workers/goal_execution_worker.py
  tests/body/atomic/test_executor_audit_gap.py
  tests/body/atomic/test_executor_governed_refusal_surfacing.py
  tests/body/atomic/test_executor_physical_containment.py
  tests/proof_index/test_claim_04_audit_gap.py
Labels: feat, fix, test

fix(governance): route external-run git calls through the sanctioned subprocess surface
  src/cli/pre_bootstrap_git.py
  src/cli/runtime_external_run.py
  src/shared/infrastructure/external_target_binding.py
  tests/cli/test_pre_bootstrap_git.py
Labels: feat, fix, test

feat(shared): subprocess_utils gives callers what they shortcut around it for
  src/shared/utils/subprocess_utils.py
  tests/shared/utils/test_subprocess_utils__run_command.py
Labels: feat, fix, test

refactor(shared): route ruff_linter, test_runner, db common through subprocess_utils (dangerous_execution_primitives excludes)
  src/shared/infrastructure/repositories/db/common.py
  src/shared/infrastructure/validation/ruff_linter.py
  src/shared/infrastructure/validation/test_runner.py
  tests/shared/infrastructure/test_db_common__git_commit_sha.py
  tests/shared/infrastructure/validation/test_ruff_linter.py
  tests/shared/infrastructure/validation/test_test_runner__extra_targets.py
  tests/shared/infrastructure/validation/test_test_runner__failure_summary.py
Labels: feat, fix, test

refactor(will): route lint_runner, sandbox, pytest_runner through subprocess_utils (dangerous_execution_primitives excludes)
  src/will/governance/lint_runner.py
  src/will/phases/canary/pytest_runner.py
  src/will/test_generation/sandbox.py
  tests/will/governance/test_lint_runner.py
  tests/will/phases/test_canary_pytest_runner.py
  tests/will/test_generation/test_sandbox_runner.py
Labels: feat, fix, test

refactor(body): route coverage_analyzer, check_actions, bootstrap_service, integration_service through subprocess_utils (dangerous_execution_primitives excludes)
  src/body/atomic/check_actions.py
  src/body/project_lifecycle/bootstrap_service.py
  src/body/project_lifecycle/integration_service.py
  src/body/quality/coverage_analyzer.py
  tests/body/atomic/test_atomic_actions__fix_action_scope.py
  tests/body/project_lifecycle/test_bootstrap_service__gh_command.py
  tests/body/project_lifecycle/test_integration_service__workflow_steps.py
  tests/body/quality/test_coverage_analyzer__subprocess_routing.py
Labels: feat, fix, test

refactor(body,cli): route context_export, import_sorting_handler, runtime_validator, steps/utils through subprocess_utils (dangerous_execution_primitives excludes)
  src/body/governance/runtime_validator.py
  src/body/maintenance/scripts/context_export.py
  src/body/self_healing/handlers/import_sorting_handler.py
  src/cli/logic/interactive_test/steps/utils.py
  tests/body/governance/test_runtime_validator__RuntimeValidatorService.py
  tests/body/maintenance/scripts/test_context_export__db_schema.py
  tests/body/self_healing/handlers/test_import_sorting_handler.py
  tests/cli/logic/interactive_test/steps/test_utils__open_in_editor_async.py
Labels: feat, fix, test

governance(intent): dangerous_execution_primitives excludes 30 → 9
  .intent/enforcement/mappings/architecture/governance_basics.yaml
Labels: governance

fix(validation): ruff_linter's JSON pass used a flag ruff rejects — every snippet came back clean
  src/shared/infrastructure/validation/ruff_linter.py
  tests/shared/infrastructure/validation/test_ruff_linter.py
Labels: feat, fix, test

refactor(mind): workflow-gate checks run tools through subprocess_utils, not inline
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  src/mind/logic/engines/workflow_gate/checks/import_resolution.py
  src/mind/logic/engines/workflow_gate/checks/linter.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/mind/logic/engines/workflow_gate/checks/ruff_format.py
  tests/mind/logic/engines/workflow_gate/checks/linter/test_generated.py
Labels: feat, fix, test, governance

governance(intent): exempt pre_bootstrap_git.py from dangerous_execution_primitives
  .intent/enforcement/mappings/architecture/governance_basics.yaml
Labels: governance

feat(governance): exclude entries must still exempt something (exclusion_gate)
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/intent_access.json
  CLAUDE.md
  src/mind/logic/engines/exclusion_gate.py
  tests/mind/logic/engines/test_exclusion_gate.py
Labels: feat, fix, test, governance

governance(intent): remove 126 dead exclude entries across 31 mappings
  .intent/enforcement/mappings/ai/cognitive_role_governance.yaml
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/architecture/api_auth_boundary.yaml
  .intent/enforcement/mappings/architecture/artifact_discovery.yaml
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/atomic_actions.yaml
  .intent/enforcement/mappings/architecture/blackboard.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/architecture/flows.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/mind_execution_semantic.yaml
  .intent/enforcement/mappings/architecture/modernization.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/mappings/architecture/path_access.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/enforcement/mappings/code/imports.yaml
  .intent/enforcement/mappings/code/layout.yaml
  .intent/enforcement/mappings/code/linkage.yaml
  .intent/enforcement/mappings/code/metadata_mutations.yaml
  .intent/enforcement/mappings/code/modularity.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/mappings/code/style.yaml
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/mappings/governance/fs_operations.yaml
  .intent/enforcement/mappings/governance/operational_config.yaml
  .intent/enforcement/mappings/governance/rule_references.yaml
  .intent/enforcement/mappings/governance/vocabulary_canonical_store.yaml
  .intent/enforcement/mappings/infrastructure/authority_boundaries.yaml
  .intent/enforcement/mappings/will/autonomy.yaml
Labels: governance

docs: rule and engine counts for exclusion_gate; list reference_gate too
  README.md
  docs/how-it-works.md
Labels: docs

fix(subprocess): a timeout kills the command's whole process group, never the caller's
  src/shared/utils/subprocess_utils.py
  tests/shared/utils/test_subprocess_utils__run_command.py
Labels: feat, fix, test

refactor(body): remove RuntimeValidatorService, which had no callers and always failed
  src/body/governance/runtime_validator.py
  src/shared/infrastructure/intent/operational_config.py
  tests/body/governance/test_runtime_validator__RuntimeValidatorService.py
Labels: feat, fix, test

governance(intent): drop the last references to the removed RuntimeValidatorService
  .intent/enforcement/config/operational_config.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
Labels: governance

fix(config): secrets come from an owner-only file into Settings, never the process environment (#962)
  .gitignore
  src/shared/config.py
  tests/shared/test_config_env_precedence.py
Labels: feat, fix, test

fix(secrets): every secret access leaves an audit row, and a failed audit no longer breaks the caller
  src/api/v1/secrets_routes.py
  src/cli/resources/secrets/manage.py
  src/shared/infrastructure/secrets_service.py
  tests/shared/infrastructure/test_secrets_service__audit.py
Labels: feat, fix, test

test(api): delete_secret now passes audit_context — update the stale assertion
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

ci(daily-audit): install the declared core-cli release before the audit
  .github/workflows/daily_sync.yml
Labels: ci

fix(verdict): an audit that judged nothing is NOT_EVALUATED, never CLEAR_IN_SCOPE
  src/mind/governance/fast_verdict.py
  tests/mind/governance/test_fast_verdict.py
Labels: feat, fix, test

feat(cli): law, decisions and code verify — the assistant surface's CLI face (ADR-168 D4.3 unit 3)
  docs/reference/core-admin.md
  src/cli/admin_cli.py
  src/cli/logic/assistant_tools.py
  src/cli/resources/code/__init__.py
  src/cli/resources/code/verify.py
  src/cli/resources/decisions/__init__.py
  src/cli/resources/decisions/commands.py
  src/cli/resources/decisions/hub.py
  src/cli/resources/law/__init__.py
  src/cli/resources/law/commands.py
  src/cli/resources/law/hub.py
  src/cli/utils/assistant_output.py
  tests/cli/logic/test_assistant_tools.py
Labels: feat, fix, docs, test

build(deps): add mcp 2.3 (the official MCP SDK); drop the unused telemetry extra
  poetry.lock
  pyproject.toml
Labels: deps

feat(mcp): core-admin mcp run — the assistant surface over MCP stdio (ADR-168 D4.3 unit 4)
  docs/reference/core-admin.md
  src/cli/admin_cli.py
  src/cli/logic/mcp_server.py
  src/cli/resources/mcp/__init__.py
  src/cli/resources/mcp/hub.py
  src/cli/resources/mcp/run.py
  tests/cli/logic/test_mcp_server.py
Labels: feat, fix, docs, test

feat(mcp): connect an assistant — .mcp.json for this repo, --repo, and the how-to (ADR-168 D4.3 unit 5)
  .mcp.json
  docs/connect-an-assistant.md
  docs/reference/core-admin.md
  mkdocs.yml
  src/cli/resources/mcp/run.py
  tests/cli/logic/test_mcp_server.py
Labels: feat, fix, docs, test

docs(specs): ADR-170 — the law has a custodian (accepted; D0 rehearsal starts)
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-170-law-custodian.md
Labels: governance

docs(claude): the ADR-170 rehearsal overrides Paths A–C (proposal 0003)
  CLAUDE.md
Labels: none

fix(audit): a file-scoped audit cannot say PASS while blocking whole-repo rules went unevaluated (#961)
  src/cli/resources/code/audit.py
  src/mind/governance/fast_verdict.py
  src/mind/governance/filtered_audit.py
  src/mind/governance/stateless_audit.py
  src/will/governance/audit_runner.py
  tests/mind/governance/test_fast_verdict.py
  tests/mind/governance/test_filtered_audit__skipped_context_level.py
  tests/mind/governance/test_stateless_audit__scoped_context_level_degrades.py
  tests/will/governance/test_audit_runner__filtered_verdict.py
Labels: feat, fix, test

fix(audit): an async audit run that crashes is stored as DEGRADED, not 'pending' (#947)
  src/will/governance/audit_runner.py
  tests/will/governance/test_audit_runner__crashed_run.py
Labels: feat, fix, test

fix(blackboard): the governor can close an 'open' finding delegated to a human (#926)
  docs/reference/core-admin.md
  src/body/services/blackboard_service/blackboard_service.py
  src/cli/resources/workers/blackboard.py
  tests/body/services/blackboard_service/test_resolve_human_delegated_entry.py
Labels: feat, fix, docs, test

docs(intent): crawler_indexed:false types are not registered in repo_artifacts (proposal 0004)
  .intent/artifact_types/adr.yaml
  .intent/artifact_types/charter.yaml
  .intent/artifact_types/northstar.yaml
  .intent/artifact_types/paper.yaml
  .intent/artifact_types/planning.yaml
  .intent/artifact_types/requirement.yaml
  .intent/artifact_types/spec_markdown.yaml
Labels: governance

docs(assistant): .mcp.json layout may differ; -p runs need --allowedTools
  docs/connect-an-assistant.md
Labels: docs

fix(audit): offline display keeps evidence class, shows unmeasured stats as n/a, labels BLOCK as BLOCK
  src/cli/commands/check/formatters.py
  src/cli/logic/audit_renderer.py
  src/cli/resources/code/audit.py
  tests/cli/commands/check/test_formatters__not_evaluated.py
  tests/cli/logic/test_audit_renderer__offline_display.py
Labels: feat, fix, test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
