Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(shadow-kg): Octopus Phase 1 prototype — consequence-sensing smell test
  src/cli/resources/dev/__init__.py
  src/cli/resources/dev/smell_test.py
  src/mind/governance/shadow_audit.py
  src/shared/infrastructure/context/shadow_audit_diff.py
  src/shared/infrastructure/context/shadow_diff.py
  src/shared/infrastructure/context/shadow_materializer.py
  tests/shared/infrastructure/context/test_shadow_audit_diff.py
  tests/shared/infrastructure/context/test_shadow_diff.py
Labels: feat, fix, test

fix(54aafd16-130a-48): Autonomous remediation: fix.ids (1 violation(s) — rules: linkage.assign_ids)
  src/shared/infrastructure/context/shadow_audit_diff.py
Labels: feat, fix

docs(specs): ADR-096 — Shadow KG sensation primitive (retro for 6c7d0ea5)
  .specs/decisions/ADR-096-shadow-kg-sensation-primitive.md
Labels: none

chore(gitignore): exclude exploratory .specs/core-ng/ candidate spec
  .gitignore
Labels: none

fix(1cae97a9-6862-48): Autonomous remediation: fix.ids (1 violation(s) — rules: linkage.assign_ids)
  src/shared/infrastructure/context/shadow_materializer.py
Labels: feat, fix

fix(shadow-kg): correct # ID / decorator ordering on 3 dataclasses
  src/shared/infrastructure/context/shadow_diff.py
Labels: feat, fix

docs(planning): 2026-06-08 housekeeping reconciliation
  .specs/planning/CORE-Feature-Dependency-Graph.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

fix(governance): #593 — exclude logic mishandled ** glob patterns
  src/mind/governance/audit_context.py
  tests/mind/governance/test_audit_context__AuditorContext.py
Labels: feat, fix, test

feat(file-handler): ADR-097 — target-class dispatch for the single FS write channel
  .intent/META/enums.json
  .intent/taxonomies/target_class_boundaries.yaml
  .specs/decisions/ADR-097-target-class-dispatch-for-the-single-filesystem-write-channel.md
  src/body/governance/intent_guard.py
  src/cli/resources/dev/smell_test.py
  src/shared/infrastructure/context/shadow_materializer.py
  src/shared/infrastructure/intent/target_class.py
  src/shared/infrastructure/storage/file_handler.py
  src/will/test_generation/sandbox.py
  tests/body/governance/test_intent_guard__target_class_dispatch.py
  tests/shared/infrastructure/intent/test_target_class.py
  tests/shared/test_file_handler__regression_matrix.py
  tests/shared/test_file_handler__write_unified.py
Labels: feat, fix, test, governance

feat(file-handler): ADR-097 steps 6+7 — retire write_validated_bytes; narrow FileService
  .specs/decisions/ADR-071-action-diff-coherence.md
  .specs/decisions/ADR-079-chokepoint-implementation-for-capability-scoped-filesystem-authority.md
  .specs/decisions/ADR-097-target-class-dispatch-for-the-single-filesystem-write-channel.md
  src/body/atomic/sandbox_lifecycle.py
  src/body/governance/key_management_service.py
  src/body/governance/remediation_service.py
  src/body/governance/runtime_validator.py
  src/body/self_healing/vulture_healer.py
  src/body/services/cim/baselines.py
  src/body/services/cim/history.py
  src/body/services/file_service.py
  src/shared/infrastructure/storage/file_handler.py
  src/will/governance/audit_runner.py
  src/will/orchestration/decision_tracer.py
  src/will/phases/code_generation/artifact_saver.py
  src/will/self_healing/context_aware_test_generator.py
  src/will/self_healing/coverage_watcher.py
  src/will/self_healing/remediation_evidence_writer.py
  src/will/self_healing/simple_test_generator.py
  src/will/self_healing/test_generation/executor.py
  src/will/self_healing/test_generation/generation_workflow.py
  src/will/self_healing/test_generation/test_extractor.py
  src/will/test_generation/adaptive_test_generator.py
  src/will/test_generation/artifacts.py
  src/will/test_generation/persistence.py
  src/will/test_generation/sandbox.py
  tests/body/services/test_file_service__unresolved_repo_path.py
  tests/shared/test_file_handler__regression_matrix.py
Labels: feat, fix, test

fix(observability): #563 — F-19 honesty over post-ADR-091 reaudit queue
  src/body/services/health_log_service.py
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs(planning): #563 Step 1.5 + Step 2 clock reset to 2026-06-08 17:32:16Z
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

fix(shadow): route shadow-overlay delete through FileHandler.remove_file
  src/shared/infrastructure/context/shadow_materializer.py
Labels: feat, fix

fix(6a084883-bbde-40): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/shared/infrastructure/context/shadow_materializer.py
Labels: feat, fix

feat(file-handler): add create_symlink — the routed symlink primitive
  src/shared/infrastructure/storage/file_handler.py
Labels: feat, fix

fix(workers): ADR-081 D8 Step 1 — isolate db_sync_worker + violation_executor; D2(2) errata
  .intent/workers/db_sync_worker.yaml
  .intent/workers/violation_executor.yaml
  .specs/decisions/ADR-081-per-worker-process-isolation-classification.md
Labels: governance

fix(autonomy): #594 mitigation — switch dirty-tree policy to any_dirty
  .intent/enforcement/config/autonomy_dirty_tree.yaml
Labels: governance

docs(namespace): ADR-075 D8 one-shot manifest population — clear 119/119 unclassified
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(contracts): ActionDefinition v1.1.0 — add artifact_type field per ADR-091 D6
  .intent/enforcement/contracts/ActionDefinition.json
Labels: governance

fix(audit): clear 6 partisan audit findings — mypy, legacy signals, CLI hygiene
  src/api/v1/coverage_routes.py
  src/cli/commands/inspect/repo_census.py
  src/cli/resources/database/sync_env.py
  src/will/agents/traced_agent_mixin.py
  src/will/test_generation/test_extractor.py
  src/will/workers/test_coverage_sensor.py
Labels: feat, fix

fix(deps): fastapi 0.121→0.136, starlette →1.2.1 — closes #600 BadHost CVE
  poetry.lock
  pyproject.toml
  src/api/main.py
Labels: feat, fix, deps

docs(adr): land ADR-098 + ADR-099 + ADR-100 — and ADR-100 D1 enum projection
  .intent/META/enums.json
  .specs/decisions/ADR-098-aggregate-quality-gate-finding-shape.md
  .specs/decisions/ADR-099-finding-nucleus-migration.md
  .specs/decisions/ADR-100-export-evidence-class-enum.md
  CONTRIBUTING.md
Labels: governance

chore(modularity): CORE_ROLE on intent_guard + intent_pattern_validators per ADR-095 D3
  src/body/governance/intent_guard.py
  src/body/governance/intent_pattern_validators.py
Labels: feat, fix

feat(autonomy): ADR-101 — commit-set from production, not permission scope; closes #594
  .intent/enforcement/config/autonomy_dirty_tree.yaml
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-021-scoped-autonomous-git-operations.md
  .specs/decisions/ADR-101-commit-authorship-integrity.md
  CLAUDE.md
  src/body/atomic/executor.py
  src/body/atomic/sandbox_lifecycle.py
  src/shared/infrastructure/intent/autonomy_dirty_tree.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/proposal_consumer_effects.py
  src/will/workers/proposal_consumer_worker.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/will/autonomy/test_proposal_executor_files_produced.py
Labels: feat, fix, test, governance

fix(api): #608 — move pytest off GET /coverage/report; job pattern + def-hygiene
  src/api/v1/coverage_routes.py
  src/will/governance/coverage_runner.py
Labels: feat, fix

docs(adr): ADR-099 Revision A — split D2 bridge by class type; reframe D1 sentinel
  .specs/decisions/ADR-099-finding-nucleus-migration.md
Labels: none

docs(adr): ADR-099 Accepted — Revision A is authoritative
  .specs/decisions/ADR-099-finding-nucleus-migration.md
Labels: none

feat(governance): ADR-102 — retire Finding.json; add #612 guard rule
  .intent/META/data_contract.schema.json
  .intent/enforcement/contracts/Finding.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
  .specs/decisions/ADR-099-finding-nucleus-migration.md
  .specs/decisions/ADR-102-finding-contract-retirement.md
  src/api/v1/proposals_routes.py
  src/mind/logic/engines/contracts_gate.py
Labels: feat, fix, governance

feat(governance): #613 — asymmetric contract findings meta-rule
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
  src/mind/logic/engines/contracts_gate.py
Labels: feat, fix, governance

feat(governance): #614 — rule-binding iceberg meta-rule
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
  src/mind/logic/engines/contracts_gate.py
Labels: feat, fix, governance

fix(api): #610 — flip coverage_gaps off async-def-with-sync-body
  src/api/v1/coverage_routes.py
  src/will/governance/coverage_runner.py
  tests/api/v1/test_coverage_routes.py
Labels: feat, fix, test

chore(contracts_gate): align finding severities with parent rule enforcement
  src/mind/logic/engines/contracts_gate.py
Labels: feat, fix

chore(intent): register #612/#613/#614 rules in auto_remediation map
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

feat(governance): #604 — ADR-103, max_interval pinned as cycle cap
  .intent/META/worker.schema.json
  .intent/rules/runtime/worker_max_interval.json
  .intent/workers/db_sync_worker.yaml
  .specs/decisions/ADR-103-worker-max-interval-is-cycle-cap.md
  src/cli/commands/daemon.py
  src/shared/workers/schedule.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix, governance

chore(ast_gate): #606 — remove dead severity keys from modularity checks
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
Labels: feat, fix

chore(cli_gate): #606 — align help_required and standard_verbs severities
  src/mind/logic/engines/cli_gate/checks/help_required.py
  src/mind/logic/engines/cli_gate/checks/standard_verbs.py
Labels: feat, fix

chore(runtime_gate): #606 — align severities with parent rule enforcement
  src/mind/logic/engines/runtime_gate.py
Labels: feat, fix

chore(taxonomy_gate): #606 — align rule-fact severities with blocking enforcement
  src/mind/logic/engines/taxonomy_gate.py
Labels: feat, fix

chore(knowledge_gate): #606 — align purity rule severities with reporting enforcement
  src/mind/logic/engines/_knowledge_gate_duplication.py
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix

docs(claude.md): compress and restructure dev contract
  CLAUDE.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
