Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(intent): author CORE-TestGovernance.md — closes F-13
  .specs/papers/CORE-TestGovernance.md
Labels: none

fix(intent): assign unique UUID to test_remediator worker
  .intent/workers/test_remediator.yaml
Labels: governance

fix(intent): assigned unique UUID to audit_ingest_worker.yaml.
  src/will/workers/audit_ingest_worker.py
Labels: feat, fix

fix(969620ae): Autonomous remediation: fix.format (2 violation(s) — rules: workflow.ruff_format_check)
  src/body/workers/call_site_rewriter.py
  src/will/workflows/phases/vectorization_phase.py
Labels: feat, fix

fix: wire ContextService JIT fallback in build.tests before CoderAgent
  src/body/atomic/build_tests_action.py
Labels: feat, fix

fix: wire ContextService JIT fallback in build.tests before CoderAgent
  src/body/atomic/build_tests_action.py
Labels: feat, fix

fix(dashboard): neutralize convergence direction verdict
  src/cli/resources/runtime/health.py
Labels: feat, fix

fix(crawl_service): upsert_artifact resets chunk_count on content change
  main
  src/body/services/crawl_service/main_module.py
Labels: feat, fix

docs(adr): ADR-018 decomposed crawler/embedder on autonomous path
  .specs/decisions/ADR-018-decomposed-crawler-embedder-supersedes-vector-sync-worker.md
Labels: none

fix(workers): RepoEmbedderWorker routes through service_registry (ADR-018 D3b)
  src/will/workers/repo_embedding/repo_embedder_workers.py
Labels: feat, fix

feat(workers): atomic activation of decomposed crawler/embedder pair (ADR-018 D1+D2+D3+D3a)
  .intent/workers/repo_crawler.yaml
  .intent/workers/repo_embedder.yaml
  .intent/workers/vector_sync_worker.yaml
Labels: governance

docs(plan): A3 plan ADR-018 row + date bump
  .specs/planning/CORE-A3-plan.md
Labels: none

close #148: Edge 6 — sensor cause attribution (ADR-015 D5)
  src/body/services/consequence_log_service.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

close #166: Edge 5 posture — orphan detection + prefix widening (ADR-019)
  .intent/workers/commit_reachability_auditor.yaml
  src/body/services/consequence_log_service.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix, governance

docs: ADR-019 edge5 git-boundary attribution posture
  .specs/decisions/ADR-019-edge5-git-boundary-attribution-posture.md
Labels: none

docs: close Band B and G3 in A3 plan and BAND-B plan
  .specs/planning/BAND-B-consequence-chain-plan.md
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(governance): update session protocol and interaction contract for Drive context delivery
  .specs/planning/INTERACTION-CONTRACT.md
  .specs/planning/SESSION-PROTOCOL.md
  Makefile
Labels: none

fix(dashboard): render workers with stale heartbeats as `stale` not `active`
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs: ADR-020 worker liveness derived from heartbeat
  .specs/decisions/ADR-020-worker-liveness-derived-from-heartbeat.md
Labels: none

ADR-020 rollout — drop worker_registry.status, derive liveness from last_heartbeat
  infra/scripts/migrations/20260502_drop_worker_registry_status.sql
  src/body/services/health_log_service.py
  src/body/services/worker_registry_service.py
  src/cli/resources/runtime/health.py
  src/shared/infrastructure/database/models/workers.py
  src/shared/workers/base.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

docs: align CORE-Workers-and-Governance-Model with ADR-020
  .specs/papers/CORE-Workers-and-Governance-Model.md
Labels: none

fix(workers): emit heartbeat at top of run() in RepoCrawler and RepoEmbedder
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedding/repo_embedder_workers.py
Labels: feat, fix

docs(adr): ADR-021 scoped autonomous git operations
  .specs/decisions/ADR-021-scoped-autonomous-git-operations.md
Labels: none

feat(git_service): add restore_paths and commit_paths primitives
  src/shared/infrastructure/git_service.py
Labels: feat, fix

feat(intent): autonomy_dirty_tree.yaml — working-tree mode policy
  .intent/enforcement/config/autonomy_dirty_tree.yaml
Labels: governance

feat(intent_loader): autonomy_dirty_tree policy loader
  src/shared/infrastructure/intent/autonomy_dirty_tree.py
Labels: feat, fix

feat(proposal_executor): scoped git operations and pre-claim collision check
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

feat(proposal_consumer_worker): handle scope-collision yield results
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

docs(plan): record ADR-020 and ADR-021 in A3 plan
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(proposal-consumer): mark_failed + §7a revival on executor exception
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

docs(executor): mark execute_batch as dormant per #131 investigation
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

docs(plan): collapse ADR section to index table; remove Intent Layer Hygiene block
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(specs): replace Google Drive context delivery with Project Files
  .specs/planning/INTERACTION-CONTRACT.md
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

feat(glob_match): encode repo-relative path contract, add test suite
  src/shared/utils/glob_match.py
  tests/shared/test_glob_match.py
Labels: feat, fix, test

refactor(validation_policies): migrate Path.match to matches_any_glob (ADR-012)
  src/body/services/validation/validation_policies.py
Labels: feat, fix

refactor(limb_workspace): migrate Path.match to matches_glob (ADR-012)
  src/shared/infrastructure/context/limb_workspace.py
Labels: feat, fix

refactor(intent_guard): migrate Path.match to matches_glob (ADR-012)
  src/body/governance/intent_guard.py
Labels: feat, fix

docs(adr-012): append §6 path input contract + migration status table
  .specs/decisions/ADR-012-centralize-globstar-pattern-matching.md
Labels: none

docs(a3-plan): update last updated date, note ADR-012 §6 and #143 closure
  .specs/planning/CORE-A3-plan.md
Labels: none

chore(make): comment out gdrive_sync.py from context target
  Makefile
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
