Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(ADR): accept ADR-041 — per-worker liveness thresholds and orphan-skip
  .specs/decisions/ADR-041-per-worker-liveness-thresholds-and-orphan-skip.md
Labels: none

refactor(dal): remove deprecated fetch_stale_workers(threshold_sec)
  src/body/services/worker_registry_service.py
Labels: feat, fix

fix(worker_shop_manager): pass fallback_sec to placeholder WorkerScheduleState (ADR-041)
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

chore(db): remove orphan Repo Embedder registry row left by UUID rotation
  infra/scripts/migrations/20260512_remove_orphan_repo_embedder_registry_row.sql
Labels: none

refactor(violation_remediator): split into proposal + blackboard collaborators
  src/will/workers/violation_remediator.py
  src/will/workers/violation_remediator_blackboard.py
  src/will/workers/violation_remediator_proposal.py
Labels: feat, fix

refactor(blackboard_service): split into query + claim + state-transition mixins
  src/body/services/blackboard_service/__init__.py
  src/body/services/blackboard_service/blackboard_claim_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
Labels: feat, fix

feat(eval_ollama): cover code_generation_task_step_prompt under RemoteCoder
  infra/scripts/eval_ollama.py
Labels: none

refactor(schedule): route load_worker_schedule_state through IntentRepository
  src/shared/workers/schedule.py
  tests/shared/workers/schedule/test_generated.py
Labels: feat, fix, test

chore(workers): retire AutonomousProposalWorker (#257) and SelfHealingAgent (#256)
  .intent/workers/proposal_worker.yaml
  .intent/workers/self_healing_agent.yaml
  src/body/services/audit_findings_service.py
  src/body/services/service_registry.py
  src/will/agents/self_healing_agent.py
  src/will/workers/proposal_worker.py
  tests/will/workers/test_violation_remediator_approval_path.py
Labels: feat, fix, test, governance

fix(meta-schema): add 'flow' to GLOBAL-DOCUMENT-META-SCHEMA kind enum
  .intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
Labels: governance

feat(runtime-health): distinguish 'inactive' from 'stale' workers
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs(autonomy): correct enforcement_note for min_preservation_ratio
  .intent/enforcement/mappings/will/autonomy.yaml
Labels: governance

chore(roles): retire orphan DeepSeek cognitive roles
  src/body/atomic/modularity_fix.py
  src/cli/resources/dev/__init__.py
  src/cli/resources/dev/chat.py
  src/cli/resources/dev/hub.py
  src/mind/logic/engines/artifact_gate.py
  var/prompts/intent_translator.prompt
  var/prompts/intent_translator_intent_translator/model.yaml
  var/prompts/intent_translator_intent_translator/system.txt
  var/prompts/intent_translator_intent_translator/user.txt
Labels: feat, fix

docs(auto-remediation): correct stale RefactoringArchitect mention
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

fix(prompts): close code_generation_task_step_prompt governance gaps
  infra/scripts/eval_ollama.py
  var/prompts/code_generation_task_step_prompt/model.yaml
  var/prompts/code_generation_task_step_prompt/system.txt
  var/prompts/code_generation_task_step_prompt/user.txt
Labels: none

fix(f7fa4c70-5960-47): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/shared/workers/schedule/test_generated.py
Labels: test

fix(f7fa4c70-5960-47): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/shared/workers/schedule/test_generated.py
Labels: test

feat(workers): ProposalPipelineShopManager — closes #170
  .intent/enforcement/config/operational_config.yaml
  .intent/workers/proposal_pipeline_shop_manager.yaml
  src/body/services/proposal_supervision_service.py
  src/body/services/service_registry.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/proposal_pipeline_shop_manager.py
Labels: feat, fix, governance

docs(specs): mark Proposal pipeline ShopManager as active
  .specs/papers/CORE-ShopManager.md
Labels: none

feat(modularity): ADR-042 — responsibility-first recalibration, closes #192
  .intent/META/enforcement_mapping.schema.json
  .intent/enforcement/mappings/code/modularity.yaml
  .intent/rules/code/modularity.json
  .specs/decisions/ADR-042-modularity-governance-recalibration.md
  src/mind/governance/rule_extractor.py
Labels: feat, fix, governance

feat(audit): wire LLM client into audit pipeline — closes #306, #307
  src/body/services/service_registry.py
  src/mind/governance/audit_context.py
  src/mind/governance/auditor.py
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/llm_gate_stub.py
Labels: feat, fix

feat(audit): ADR-043 D7.1 — llm_gate throughput retry/cache fixes (#308)
  .specs/decisions/ADR-043-llm-gate-audit-throughput.md
  src/mind/logic/engines/llm_gate.py
  src/shared/infrastructure/llm/client.py
  tests/mind/logic/engines/test_llm_gate__LLMGateEngine.py
Labels: feat, fix, test

feat(audit): ADR-043 D7.2 — requires_findings_from pre-selector mechanism (#308)
  .intent/META/enforcement_mapping.schema.json
  src/mind/governance/constitutional_auditor_dynamic.py
  src/mind/governance/executable_rule.py
  src/mind/governance/filtered_audit.py
  src/mind/governance/rule_executor.py
  src/mind/governance/rule_extractor.py
Labels: feat, fix, governance

fix(fe2dd4d9-6e2f-45): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/governance/rule_extractor.py
Labels: feat, fix

fix(5ddeb231-8902-40): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/governance/rule_extractor/test_generated.py
Labels: test

feat(audit): ADR-043 D7.3 — wire unix_philosophy through class_too_large pre-selector (#308)
  .intent/enforcement/mappings/architecture/modularity.yaml
Labels: governance

fix(audit): prompt contract mismatch — llm_gate context key (closes #308)
  src/mind/logic/engines/llm_gate.py
Labels: feat, fix

docs(planning): log ADR-041/042/043 in the A3 plan ledger
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(dashboard): Pipeline panel reads wrong status, counts cumulative failures
  src/cli/resources/runtime/health.py
Labels: feat, fix

feat(blackboard): auto-resolve stale-entry alerts on terminal targets
  src/body/services/blackboard_service/blackboard_service.py
  src/will/workers/blackboard_shop_manager.py
Labels: feat, fix

governance(modularity): exempt 3 algorithm/facade classes (ADR-042 D3)
  .intent/enforcement/mappings/code/modularity.yaml
Labels: governance

governance(audit): gate unbounded llm_gate rules with pre-selectors (#310, ADR-043 D7)
  .intent/enforcement/mappings/architecture/mind_execution_semantic.yaml
  .intent/enforcement/mappings/architecture/modernization.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/rules/architecture/mind_execution_semantic.json
  .intent/rules/architecture/modernization.json
Labels: governance

governance(workers): activate audit_ingest_worker after migration completes
  .intent/workers/audit_ingest_worker.yaml
Labels: governance

refactor(autonomy): drop dormant ProposalExecutor.execute_batch (-254 lines)
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  tests/will/autonomy/test_proposal_executor_files_produced.py
Labels: feat, fix, test

fix(80bb469f-96c3-44): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/body/services/crawl_service/main_module.py
Labels: feat, fix

fix(47c14819-6c4c-47): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/body/services/crawl_service/main_module/test_generated.py
Labels: test

feat(audit): ADR-044 — incremental llm_gate verdict cache
  .intent/enforcement/config/operational_config.yaml
  .specs/decisions/ADR-044-llm-gate-verdict-cache.md
  infra/scripts/migrations/20260513_create_llm_gate_verdicts.sql
  src/cli/resources/code/audit.py
  src/mind/governance/audit_context.py
  src/mind/governance/auditor.py
  src/mind/governance/executable_rule.py
  src/mind/governance/filtered_audit.py
  src/mind/governance/rule_executor.py
  src/mind/governance/rule_extractor.py
  src/mind/logic/engines/llm_gate.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/operational_config.py
  tests/mind/logic/engines/test_llm_gate_verdict_cache.py
Labels: feat, fix, test, governance

fix(cb92323a-f138-44): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/llm_gate.py
Labels: feat, fix

fix(c617a41f-278f-46): Autonomous test remediation: build.tests (1 finding(s) — rules: test.missing, test.failure)
  tests/mind/logic/engines/llm_gate/test_generated.py
Labels: test

fix(autonomy): scope fix.docstrings to file_path so proposals don't sweep the tree
  src/body/atomic/fix_actions.py
  src/body/self_healing/docstring_service.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
