Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs: update README/how-it-works rule counts after #842 metadata correction (#631)
  README.md
  docs/how-it-works.md
Labels: docs

feat(governance): #842 Unit A -- exhaustive G2 blocking-rule census + ratchet
  .specs/verification/g2_blocking_rule_registry.yaml
  src/shared/infrastructure/intent/rule_registry.py
  tests/mind/governance/test_g2_blocking_rule_registry.py
  tests/shared/infrastructure/intent/test_rule_registry.py
Labels: feat, fix, test

fix(governance): classify #842 Unit A registry in namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(ci): remove duplicate Smoke gate, add concurrency cancellation (ADR-157 D1+D2)
  .github/workflows/ci.yml
Labels: ci

feat(ci): add event-aware concurrency cancellation, record ADR-157 (D2)
  .github/workflows/core-ci.yml
  .github/workflows/daily_sync.yml
  .github/workflows/docs.yml
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: ci

fix(governance): classify ADR-157 in namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(ci): extract static-checks job from validate (ADR-157 D3.1)
  .github/workflows/core-ci.yml
Labels: ci

fix(tests): correct 6 false-positive integration markers (ADR-157 D3.2)
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/mind/governance/test_stateless_audit__no_db_required.py
  tests/mind/logic/engines/test_llm_gate__LLMGateEngine.py
  tests/mind/logic/engines/test_runtime_gate__worker_max_interval.py
  tests/mind/logic/engines/test_runtime_gate__worker_process_classification.py
  tests/will/workers/audit_violation_normalizer/test_normalize_audit_findings.py
Labels: test

fix(tests): gate TRUNCATE fixture on integration marker, add DB-access safety net (ADR-157 D3.3)
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
  tests/body/evaluators/test_constitutional_evaluator.py
  tests/conftest.py
Labels: test

fix(governance): quote ADR-157's colon-bearing title in front matter
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: none

docs(governance): record why ADR-157 D3.3 only gated one of two fixtures
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: none

fix(tests): fix regression + 3 more real DB-access gaps found by CI (ADR-157 D3.3)
  tests/test_conftest_db_gating.py
  tests/will/workers/test_resolution_mechanism_classification.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: test

docs(governance): record ADR-157 D3.3's real CI timing measurement
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: none

feat(ci): split unit/integration jobs with xdist, coverage-combine, wheel build (ADR-157 D3.4)
  .github/workflows/core-ci.yml
  poetry.lock
  pyproject.toml
  scripts/verify_test_partition.py
  tests/conftest.py
  tests/test_conftest_db_gating.py
Labels: test, ci, deps

docs(governance): record ADR-157 D3.4's real CI results -- full success, first attempt
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: none

docs(governance): accept ADR-157 -- CI performance redesign complete
  .specs/decisions/ADR-157-ci-performance-and-push-cadence.md
Labels: none

test(governance): assert rule_name in no_unresolved_free_names violation test
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: test

feat(governance): #842 Unit B -- verify 7 Class B rows against existing fixtures
  .specs/verification/g2_blocking_rule_registry.yaml
Labels: none

feat(governance): #842 Unit C -- complete the passive-gate Class A cohort
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/body/atomic/test_proposal_lifecycle_actions.py
  tests/body/autonomy/test_audit_analyzer.py
Labels: test

feat(governance): #842 Unit D -- complete all 14 regex_gate blocking rules
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/governance/test_g2_regex_gate_rules.py
Labels: test

feat(governance): #842 Unit E -- complete all 6 glob_gate blocking rules
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/governance/test_g2_glob_gate_rules.py
Labels: test

feat(governance): #842 Unit F -- complete all 8 python_runtime rows
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/body/atomic/test_g2_atomic_actions_python_runtime.py
Labels: test

fix(governance): #842 Unit F follow-up -- close flow_must_propagate_write_false as verified
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/body/flows/test_write_false_propagation.py
Labels: test

feat(governance): #842 Unit G -- exhaustive artifact_gate blocking-rule census
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/test_g2_artifact_gate_compliant_fixtures.py
Labels: test

feat(governance): #842 Unit H -- exhaustive cli_gate blocking-rule census
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/cli_gate/engine/test_g2_cli_gate_engine_rules.py
Labels: test

feat(governance): #842 Unit I -- exhaustive workflow_gate blocking-rule census
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/workflow_gate/test_g2_workflow_gate_rules.py
Labels: test

feat(governance): #842 Unit J -- final 7 non-AST rows (taxonomy/knowledge/runtime/contracts_gate)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/test_knowledge_gate__resources_provide_canonical_capabilities.py
  tests/mind/logic/engines/test_runtime_gate__engine_dispatch.py
  tests/mind/logic/engines/test_taxonomy_gate__sensor_supported_by_declaration.py
Labels: test

feat(governance): #842 Unit K -- exhaustive runtime_import_boundary census (8 rules)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/ast_gate/test_g2_runtime_import_boundary_rules.py
Labels: test

feat(governance): #842 Unit L -- exhaustive call/execution-discipline census (8 rules)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/ast_gate/test_g2_call_execution_discipline_rules.py
Labels: test

feat(governance): #842 Unit M -- API/blackboard/linkage/discovery census (8 rows)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/ast_gate/test_g2_api_blackboard_linkage_discovery_rules.py
Labels: test

feat(governance): #842 Unit N -- SSOT/mutation-surface/modularity/decorator census (5 rows)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/ast_gate/test_g2_ssot_mutation_surface_modularity_rules.py
Labels: test

feat(governance): #842 Unit O -- close the last 2 rows: metadata_only_diff GATE 1/GATE 2 (2 rows)
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/logic/engines/ast_gate/test_g2_metadata_only_diff_gates.py
Labels: test

fix(governance): close #850 and #852 -- 3 gap rows now verified
  .specs/verification/g2_blocking_rule_registry.yaml
  src/body/atomic/modularity_fix.py
  src/body/validators/logic_conservation_validator.py
  src/mind/logic/engines/glob_gate.py
  src/will/self_healing/complexity_service.py
  src/will/self_healing/modularity_remediation_service.py
  tests/body/validators/test_logic_conservation_validator.py
  tests/mind/governance/test_g2_glob_gate_rules.py
Labels: feat, fix, test

feat(governance): close #854 -- ADR-158, real vocabulary-register enforcement
  .intent/enforcement/mappings/governance/vocabulary_registers.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/passive_gate_attestation.json
  .intent/rules/governance/vocabulary_registers.json
  .specs/decisions/ADR-158-vocabulary-register-assignment-corrections.md
  .specs/papers/CORE-Vocabulary-Registers.md
  .specs/verification/g2_blocking_rule_registry.yaml
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/contracts_gate.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/vocabulary_register_validator.py
  tests/mind/logic/engines/test_artifact_gate__register_casing.py
  tests/mind/logic/engines/test_contracts_gate__passive_gate_attestation.py
  tests/shared/infrastructure/intent/test_vocabulary_register_validator.py
Labels: feat, fix, test, governance

fix(ci): resolve 3 real BLOCK findings this session introduced
  .intent/governance/namespace_manifest.yaml
  .intent/rules/governance/vocabulary_registers.json
  src/mind/logic/engines/glob_gate.py
Labels: feat, fix, governance

fix(governance): close #849 -- planning.no_code_generation/conceptual_only truth correction
  .intent/enforcement/mappings/will/planning.yaml
  .intent/rules/will/planning.json
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/will/agents/test_base_planner.py
Labels: test, governance

feat(governance): close #847, #856 -- ENFORCEMENT_UNAVAILABLE, degraded not silent-pass
  .intent/enforcement/config/audit_verdict.yaml
  .intent/rules/runtime/worker_max_interval.json
  .specs/verification/g2_blocking_rule_registry.yaml
  src/mind/governance/auditor.py
  src/mind/governance/constitutional_auditor_dynamic.py
  src/mind/governance/rule_executor.py
  src/mind/governance/stateless_audit.py
  src/mind/logic/engines/runtime_gate.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/shared/infrastructure/intent/audit_verdict.py
  tests/mind/governance/test_auditor___determine_verdict.py
  tests/mind/governance/test_constitutional_auditor_dynamic__get_dynamic_execution_stats.py
  tests/mind/governance/test_rule_executor__context_level_evidence_class.py
  tests/mind/governance/test_stateless_audit__verdict.py
  tests/mind/logic/engines/test_runtime_gate__worker_max_interval.py
  tests/mind/logic/engines/workflow_gate/test_g2_workflow_gate_rules.py
  tests/mind/logic/engines/workflow_gate/test_tool_absence_silent_skip.py
  tests/shared/infrastructure/intent/test_audit_verdict.py
Labels: feat, fix, test, governance

feat(governance): close #853 -- safe auto-approval action-and-path envelope
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/will/autonomy.json
  .specs/verification/g2_blocking_rule_registry.yaml
  src/shared/infrastructure/intent/action_risk.py
  src/will/autonomy/proposal_state_manager.py
  src/will/autonomy/safe_auto_approval_envelope.py
  src/will/autonomy/violation_remediator_proposal.py
  src/will/workers/test_remediator/_operations.py
  tests/mind/governance/test_g2_glob_gate_rules.py
  tests/shared/infrastructure/intent/test_action_risk__safe_auto_approval_envelope.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
  tests/will/autonomy/test_safe_auto_approval_envelope.py
  tests/will/workers/test_test_remediator_safe_auto_approval_envelope.py
  tests/will/workers/test_violation_remediator_approval_path.py
Labels: feat, fix, test, governance

test(governance): reopen and close #843 -- real blackboard proof for URS G8
  .specs/attestations/production-readiness.yaml
  README.md
  tests/will/autonomy/test_build_test_for_symbol_e2e_acceptance.py
Labels: docs, test

docs: sync governance counts after envelope rule
  README.md
  docs/how-it-works.md
Labels: docs

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
