Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(intent): D5 — add 10 enums for ADR-056 Wave 1 vocabulary (#366)
  .intent/META/enums.json
Labels: governance

feat(intent): D5 — add "rejected" to proposal_status (#366)
  .intent/META/enums.json
Labels: governance

docs(inventory): erratum — blackboard_entry_status has 9 values not 4
  .specs/planning/data-contracts-inventory.md
Labels: none

docs(adr-056): D5 closure — correct prose, record completion (#366)
  .intent/CHANGELOG.md
  .specs/decisions/ADR-056-runtime-data-contracts.md
Labels: governance

feat(ast_gate): D6 — SchemaConformanceChecks scaffolding (#366)
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/schema_conformance_checks.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix

docs(papers): CORE-DataContracts.md — D6 design rationale paper
  .specs/papers/CORE-DataContracts.md
Labels: none

docs(plan): ADR-056 D6 ✅ scaffolding complete
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(plan): ADR-056 row — propagate path + D5 enforcement corrections
  .specs/planning/CORE-A3-plan.md
Labels: none

feat(cim): D2 — rename Finding (Pydantic) → CheckResult (#366)
  src/body/services/cim/models.py
  src/body/services/cim/policy.py
Labels: feat, fix

feat(intent): D3 + D1 completion — Finding nucleus contract, data_contract artifact class (#366)
  .intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  .intent/META/data_contract.schema.json
  .intent/enforcement/contracts/Finding.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
  src/shared/infrastructure/intent/intent_validator.py
Labels: feat, fix, governance

docs(plan): ADR-056 row — D1, D2, D3 ✅; D4 follow-up #367
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(audit): refresh governance per audit run — pick up .intent/ edits without daemon restart
  src/mind/governance/audit_context.py
  src/mind/governance/auditor.py
Labels: feat, fix

feat(intent): no_body_to_will — exempt fix_actions.py (ADR-049 D3)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

feat(intent): ADR-056 Wave 1 + Wave 3 Session 1 — 34 runtime data contracts + governance rules
  .intent/enforcement/contracts/ActionDefinition.json
  .intent/enforcement/contracts/ActionResult.json
  .intent/enforcement/contracts/AgentDecision.json
  .intent/enforcement/contracts/AuditFinding.json
  .intent/enforcement/contracts/AutoFixablePattern.json
  .intent/enforcement/contracts/BlackboardEntry.json
  .intent/enforcement/contracts/CheckResult.json
  .intent/enforcement/contracts/ConstitutionalValidationResult.json
  .intent/enforcement/contracts/ContextBuildRequest.json
  .intent/enforcement/contracts/ContextPacket.json
  .intent/enforcement/contracts/DetailedPlan.json
  .intent/enforcement/contracts/DetailedPlanStep.json
  .intent/enforcement/contracts/DriftReport.json
  .intent/enforcement/contracts/EmbeddingPayload.json
  .intent/enforcement/contracts/ExecutionTask.json
  .intent/enforcement/contracts/Finding.json
  .intent/enforcement/contracts/FixResult.json
  .intent/enforcement/contracts/FlowDefinition.json
  .intent/enforcement/contracts/FlowStep.json
  .intent/enforcement/contracts/GovernanceDecision.json
  .intent/enforcement/contracts/PatternViolation.json
  .intent/enforcement/contracts/PhaseWorkflowResult.json
  .intent/enforcement/contracts/PolicyEvaluation.json
  .intent/enforcement/contracts/PromptModelManifest.json
  .intent/enforcement/contracts/Proposal.json
  .intent/enforcement/contracts/ProposalAction.json
  .intent/enforcement/contracts/ProposalScope.json
  .intent/enforcement/contracts/RefusalResult.json
  .intent/enforcement/contracts/RemediationResult.json
  .intent/enforcement/contracts/RepoCensus.json
  .intent/enforcement/contracts/RiskAssessment.json
  .intent/enforcement/contracts/TaskStructure.json
  .intent/enforcement/contracts/ValidationResult.json
  .intent/enforcement/contracts/VectorizableItem.json
  .intent/enforcement/contracts/ViolationReport.json
  .intent/enforcement/contracts/WorkflowResult.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
Labels: governance

docs(decisions): ADR-059 — severity vocabulary governance
  .intent/CHANGELOG.md
  .specs/decisions/ADR-059-severity-vocabulary-governance.md
Labels: governance

feat(audit): ADR-060 — close governance input staleness on all audit entry points
  .intent/CHANGELOG.md
  .specs/decisions/ADR-060-governance-input-staleness-closure.md
  .specs/papers/CORE-IntentRepository.md
  src/mind/governance/filtered_audit.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix, governance

docs(plan): A3 plan — ADR-059 and ADR-060 rows in Architectural Decisions Made
  .specs/planning/CORE-A3-plan.md
Labels: none

ADR-056 Wave 1: Add ConstitutionalViolationPayload dataclass
  src/mind/governance/violation_report.py
Labels: feat, fix

ADR-056 Wave 1: Add ProposalConsequence dataclass and contract
  .intent/CHANGELOG.md
  .intent/enforcement/contracts/ProposalConsequence.json
  src/will/autonomy/proposal.py
Labels: feat, fix, governance

ADR-056 Wave 1: Govern ConstitutionalViolationPayload — contract + rule + mapping
  .intent/CHANGELOG.md
  .intent/enforcement/contracts/ConstitutionalViolationPayload.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
Labels: governance

docs(plan): A3 plan — ADR-056 Wave 1 Session 3 inline annotation
  .specs/planning/CORE-A3-plan.md
Labels: none

ADR-059 D2: replace AuditSeverity 3-value scale with 5-value finding scale
  .intent/META/enums.json
  .intent/enforcement/config/audit_verdict.yaml
  .intent/enforcement/contracts/AuditFinding.json
  .intent/enforcement/contracts/CheckResult.json
  src/body/crate_processing/canary_executor.py
  src/body/self_healing/handlers/import_sorting_handler.py
  src/body/services/cim/models.py
  src/body/services/cim/policy.py
  src/body/services/crate_processing_service.py
  src/cli/commands/check/audit.py
  src/cli/commands/check/converters.py
  src/cli/commands/check/formatters.py
  src/cli/commands/check/rule.py
  src/cli/logic/audit_renderer.py
  src/cli/logic/diagnostics_registry.py
  src/cli/resources/code/audit.py
  src/mind/governance/constitutional_auditor_dynamic.py
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/_knowledge_gate_duplication.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/workflow_gate/engine.py
  src/shared/models/audit_models.py
  src/shared/models/audit_rendering.py
  src/shared/utils/audit_grouping.py
  src/will/self_healing/audit_remediation_service.py
  tests/mind/governance/test_auditor___determine_verdict.py
Labels: feat, fix, test, governance

ADR-059 D1: retire "dangerous" from RiskAssessment.overall_risk
  .intent/enforcement/contracts/RiskAssessment.json
  src/cli/logic/autonomy/views.py
  src/will/autonomy/proposal.py
Labels: feat, fix, governance

ADR-056 Wave 1: Add WorkerDeclaration dataclass + contract
  .intent/CHANGELOG.md
  .intent/enforcement/contracts/WorkerDeclaration.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
  src/shared/workers/__init__.py
  src/shared/workers/base.py
Labels: feat, fix, governance

#365: rename /v1/sync/db-registry → /v1/sync/knowledge-graph
  src/api/cli/client.py
  src/api/v1/sync_routes.py
  src/cli/commands/dev_sync.py
  src/cli/commands/fix/__init__.py
  src/cli/commands/fix/all_commands.py
  src/cli/commands/fix/db_tools.py
  src/shared/cli/command_meta.py
  src/will/governance/sync_runner.py
Labels: feat, fix

docs(plan): A3 plan — ADR-056 Wave 1 + ADR-059 D1/D2 completions
  .specs/planning/CORE-A3-plan.md
Labels: none

#363 feat(api): implement GET /v1/search/commands (Phase 3b)
  src/api/cli/client.py
  src/api/v1/inspect_routes.py
  src/cli/admin_cli.py
  src/cli/commands/search.py
  src/will/governance/inspect_runner.py
Labels: feat, fix

#157 ADR-061: composition-root sanctuary for api/main.py
  .specs/decisions/ADR-061-composition-root-sanctuary-api-main.md
Labels: none

docs(readme): positioning line and Live Audit Trail section
  README.md
Labels: docs

#368 fix(ast-gate): filter ClassVar annotations from schema conformance
  src/mind/logic/engines/ast_gate/checks/schema_conformance_checks.py
  tests/mind/logic/engines/ast_gate/checks/test_schema_conformance_checks__SchemaConformanceChecks.py
Labels: feat, fix, test

ADR-049 epic closure: body→will closures + paper §6 amendment
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .specs/decisions/ADR-062-proposal-lifecycle-actions-body-will-closure.md
  .specs/decisions/ADR-063-bootstrap-will-tools-body-will-closure.md
  .specs/decisions/ADR-064-fix-actions-capability-tagging-body-will-closure.md
  .specs/papers/CORE-Mind-Body-Will-Separation.md
Labels: governance

#364 governance(rules): narrow logger_not_presentation excludes to cover CLI
  .intent/enforcement/mappings/architecture/channels.yaml
Labels: governance

fix(3e368303-cefd-40): Autonomous remediation: fix.headers (1 violation(s) — rules: layout.src_module_header)
  src/will/cli_logic/reviewer.py
Labels: feat, fix

#357 fix(audit): trace `from X import Y` as submodule in orphan detector
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix

chore(mind): remove dead mind/enforcement/guard.py
  src/mind/enforcement/guard.py
Labels: feat, fix

#338 chore(cli): remove dead Phase 4 stragglers; close ADR-053 Phase 4
  src/cli/commands/dev_sync.py
  src/cli/commands/repo_census.py
Labels: feat, fix

#371 fix(cli): route governance.py rendering through console.print
  src/cli/commands/governance.py
Labels: feat, fix

#371 fix(cli): route inspect/_helpers.py rendering through console.print
  src/cli/commands/inspect/_helpers.py
Labels: feat, fix

#371 fix(cli): route resources/context/cache.py rendering through console.print
  src/cli/resources/context/cache.py
Labels: feat, fix

#371 fix(cli): route resources/admin/self_check.py rendering through console.print
  src/cli/resources/admin/self_check.py
Labels: feat, fix
