Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(intent): CHANGELOG entry for ADR-055 Phase 2 endpoint surface
  .intent/CHANGELOG.md
Labels: governance

chore(cli): drop stale architecture.cli.api_only comment in proposals/create.py
  src/cli/resources/proposals/create.py
Labels: feat, fix

docs(adr): ADR-056 — runtime data contracts as first-class artifacts
  .specs/decisions/ADR-056-runtime-data-contracts.md
Labels: none

docs(intent): CHANGELOG entry for ADR-056 (artifact)
  .intent/CHANGELOG.md
Labels: governance

docs(planning): A3 row for ADR-056 — runtime data contracts
  .specs/planning/CORE-A3-plan.md
Labels: none

chore(api): add 13 CoreApiClient methods for /fix + /quality (Stage B of D6)
  src/api/cli/client.py
Labels: feat, fix

chore(api): add _poll_run helper to CoreApiClient
  src/api/cli/client.py
Labels: feat, fix

chore(cli): relocate command_meta to shared.cli
  .intent/enforcement/mappings/infrastructure/cli_commands.yaml
  src/body/maintenance/command_sync_service.py
  src/cli/commands/inspect/analysis.py
  src/cli/commands/inspect/decisions.py
  src/cli/commands/inspect/diagnostics.py
  src/cli/commands/inspect/drift.py
  src/cli/commands/inspect/patterns.py
  src/cli/commands/inspect/refusals.py
  src/cli/commands/inspect/status.py
  src/cli/commands/interactive_test.py
  src/cli/logic/tools.py
  src/cli/resources/admin/coverage.py
  src/cli/resources/admin/forensics.py
  src/cli/resources/admin/health.py
  src/cli/resources/admin/legacy.py
  src/cli/resources/admin/self_check.py
  src/cli/resources/admin/status.py
  src/cli/resources/admin/summary.py
  src/cli/resources/admin/validate_env.py
  src/cli/resources/code/actions.py
  src/cli/resources/code/docstrings.py
  src/cli/resources/code/fix_atomic.py
  src/cli/resources/code/logging.py
  src/cli/resources/context/build.py
  src/cli/resources/context/explain.py
  src/cli/resources/database/sync.py
  src/cli/resources/database/sync_env.py
  src/cli/resources/database/sync_registry.py
  src/cli/resources/dev/refactor.py
  src/cli/resources/dev/stability.py
  src/cli/resources/dev/strategic_audit.py
  src/cli/resources/dev/sync.py
  src/cli/resources/intent/sync_vocabulary.py
  src/cli/resources/project/docs.py
  src/cli/resources/symbols/fix_ids.py
  src/cli/resources/symbols/sync.py
  src/cli/resources/vectors/sync.py
  src/cli/resources/vectors/sync_code.py
  src/shared/cli/__init__.py
  src/shared/cli/command_meta.py
Labels: feat, fix, governance

feat(api): extend RunFixRequest with params passthrough
  src/api/cli/client.py
  src/api/v1/fix_routes.py
  src/body/atomic/fix_actions.py
  src/will/governance/fix_runner.py
Labels: feat, fix

feat(body): register fix.body-ui, relocate from cli/logic to body/self_healing
  src/body/atomic/__init__.py
  src/body/self_healing/body_ui_fixer.py
  src/cli/commands/fix/body_ui.py
  src/cli/resources/code/check_ui.py
Labels: feat, fix

refactor(cli): migrate Batch C1 — 8 code/* CLI files to api.* only
  src/cli/resources/code/actions.py
  src/cli/resources/code/check_imports.py
  src/cli/resources/code/check_ui.py
  src/cli/resources/code/docstrings.py
  src/cli/resources/code/fix_atomic.py
  src/cli/resources/code/format.py
  src/cli/resources/code/logging.py
  src/cli/resources/code/test.py
Labels: feat, fix

feat(api): extend RunFlowRequest with params passthrough
  src/api/cli/client.py
  src/api/v1/fix_routes.py
  src/will/governance/fix_runner.py
Labels: feat, fix

refactor(cli): migrate Batch C2 — fix_ir.py + modularity.py to api.* only
  src/cli/commands/fix/fix_ir.py
  src/cli/commands/fix/modularity.py
Labels: feat, fix

feat(api): add POST /v1/quality/policy-coverage + relocate audit server-side
  src/api/cli/client.py
  src/api/v1/quality_routes.py
  src/cli/logic/diagnostics_policy.py
  src/will/governance/fix_runner.py
Labels: feat, fix

refactor(cli): migrate Batch C3 — 4 commands/check/* files to api.* only
  src/cli/commands/check/diagnostics_commands.py
  src/cli/commands/check/imports.py
  src/cli/commands/check/quality.py
  src/cli/commands/check/quality_gates.py
Labels: feat, fix

feat(body): register fix.settings_access atomic action
  src/body/atomic/fix_actions.py
Labels: feat, fix

refactor(cli): migrate Batch C4 — 7 commands/fix/* files to api.* only
  src/cli/commands/fix/atomic_actions.py
  src/cli/commands/fix/body_ui.py
  src/cli/commands/fix/code_style.py
  src/cli/commands/fix/handler_discovery.py
  src/cli/commands/fix/imports.py
  src/cli/commands/fix/list_commands.py
  src/cli/commands/fix/settings_access.py
Labels: feat, fix

feat(body): register fix.capability_tagging + fix.vulture_heal; relocate vulture_healer
  src/body/atomic/fix_actions.py
  src/body/self_healing/vulture_healer.py
  src/cli/commands/fix/metadata.py
Labels: feat, fix

refactor(cli): migrate Batch C5 part 1 — all_commands.py to api.* only
  src/cli/commands/fix/all_commands.py
Labels: feat, fix

feat(body): register fix.purge_legacy_tags + fix.policy_ids
  src/body/atomic/fix_actions.py
Labels: feat, fix

refactor(cli): migrate Batch C5 part 2 — metadata.py to api.* only
  src/cli/commands/fix/metadata.py
Labels: feat, fix

chore(intent): classify 6 new fix.* actions in action_risk.yaml
  .intent/enforcement/config/action_risk.yaml
Labels: governance

docs(planning): finalize D6 Stage C migration plan with execution results
  .gitignore
  var/d6-stage-c-migration-plan.md
Labels: none

docs(intent): CHANGELOG entry for ADR-055 D6 CLI cutover complete
  .intent/CHANGELOG.md
Labels: governance

docs(planning): A3 row for ADR-055 D6 — CLI cutover complete
  .specs/planning/CORE-A3-plan.md
Labels: none

feat(api): Phase 3 endpoints per ADR-057 (/coverage, /refactor, /inspect, /audit/remediations)
  .intent/CHANGELOG.md
  .specs/decisions/ADR-057-phase3-imports.md
  .specs/decisions/ADR-058-api-phase-4-census-sync-daemon.md
  .specs/planning/CORE-A3-plan.md
  infra/scripts/migrations/20260518_create_phase3_tables.sql
  infra/sql/db_schema_live.sql
  src/api/main.py
  src/api/v1/audit_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/inspect_routes.py
  src/api/v1/refactor_routes.py
  src/shared/infrastructure/database/models/governance.py
  src/will/governance/audit_remediation_runner.py
  src/will/governance/coverage_runner.py
  src/will/governance/inspect_runner.py
  src/will/governance/refactor_runner.py
  tests/api/v1/test_audit_remediations.py
  tests/api/v1/test_coverage_routes.py
  tests/api/v1/test_inspect_routes.py
  tests/api/v1/test_refactor_routes.py
Labels: feat, fix, test, governance

refactor(cli): Phase 3 CLI cutover — 22 files migrated to api.* per ADR-057 D7
  .intent/CHANGELOG.md
  src/api/cli/client.py
  src/cli/commands/coverage/analysis_commands.py
  src/cli/commands/coverage/check_commands.py
  src/cli/commands/coverage/generation_commands.py
  src/cli/commands/coverage/services/coverage_checker.py
  src/cli/commands/coverage/services/coverage_reporter.py
  src/cli/commands/coverage/services/gaps_analyzer.py
  src/cli/commands/develop.py
  src/cli/commands/fix/audit.py
  src/cli/commands/guard.py
  src/cli/commands/inspect/analysis.py
  src/cli/commands/inspect/decisions.py
  src/cli/commands/inspect/diagnostics.py
  src/cli/commands/inspect/drift.py
  src/cli/commands/inspect/patterns.py
  src/cli/commands/inspect/refusals.py
  src/cli/commands/inspect/status.py
  src/cli/commands/refactor.py
  src/cli/commands/refactor_support/analyzer.py
  src/cli/commands/refactor_support/config.py
  src/cli/commands/refactor_support/display.py
  src/cli/commands/refactor_support/recommendations.py
  src/cli/commands/status.py
Labels: feat, fix, governance

fix(ffb35685-7d2c-4a): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/cli/commands/status.py
Labels: feat, fix

fix(audit): sanitize findings JSONB to bypass SQL_ASCII encoding rejection
  .intent/CHANGELOG.md
  src/api/errors.py
  src/will/governance/audit_runner.py
Labels: feat, fix, governance

feat(api): Phase 4 endpoints per ADR-058 (/census, /sync, /daemon)
  infra/scripts/migrations/20260518_create_phase4_tables.sql
  infra/sql/db_schema_live.sql
  src/api/main.py
  src/api/v1/census_routes.py
  src/api/v1/daemon_routes.py
  src/api/v1/sync_routes.py
  src/shared/infrastructure/database/models/governance.py
  src/will/governance/census_runner.py
  src/will/governance/daemon_runner.py
  src/will/governance/sync_runner.py
  tests/api/v1/test_census_routes.py
  tests/api/v1/test_daemon_routes.py
  tests/api/v1/test_sync_routes.py
Labels: feat, fix, test

refactor(cli): Phase 4 CLI cutover — 7 files migrated to api.* per ADR-058 D7
  src/api/cli/client.py
  src/cli/commands/daemon.py
  src/cli/commands/dev_sync.py
  src/cli/commands/fix/db_tools.py
  src/cli/commands/inspect/repo_census.py
  src/cli/commands/run.py
  src/cli/resources/vectors/sync.py
  src/cli/resources/vectors/sync_code.py
Labels: feat, fix

docs(intent): CHANGELOG closeout for ADR-058 (Phase 4 + CLI cutover)
  .intent/CHANGELOG.md
Labels: governance

docs(adr): ADR-055 D6 — replace file-list scope with the boundary rule
  .specs/decisions/ADR-055-api-phase-2-fix-quality.md
Labels: none

feat(api): add /v1/components + /v1/search/capabilities; migrate two CLI files
  .intent/CHANGELOG.md
  .specs/decisions/ADR-053-api-governance-interface.md
  .specs/decisions/ADR-057-phase3-imports.md
  .specs/planning/CORE-A3-plan.md
  src/api/cli/client.py
  src/api/main.py
  src/api/v1/inspect_routes.py
  src/cli/commands/components.py
  src/cli/commands/search.py
  src/will/governance/inspect_runner.py
  tests/api/v1/test_inspect_routes.py
Labels: feat, fix, test, governance

fix(tests): remove stale get_session patches in development_routes tests
  tests/api/v1/test_development_routes__start_development_cycle.py
Labels: test

fix(tests): set approval_authority on proposal-executor keying fixture
  tests/will/autonomy/test_proposal_executor_results_keying.py
Labels: test

fix(cli): route display.py through console.print — close Rule #11 leaks
  src/cli/utils/display.py
Labels: feat, fix

feat(api): POST /integrity/baseline + /verify — closes #353
  src/api/cli/client.py
  src/api/main.py
  src/api/v1/integrity_routes.py
  src/cli/resources/code/integrity.py
  src/will/governance/integrity_runner.py
Labels: feat, fix

docs(adr-056): broaden scope to D7 boundary criteria; add inventory
  .specs/decisions/ADR-056-runtime-data-contracts.md
  .specs/planning/data-contracts-inventory.md
Labels: none

docs(changelog): record ADR-056 broadening (D7 + inventory, #366)
  .intent/CHANGELOG.md
Labels: governance
