Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(9ca3fb9d-84df-49): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/violation_remediator_body/worker.py::ViolationRemediator.run (method)
  tests/will/workers/violation_remediator_body/__init__.py
  tests/will/workers/violation_remediator_body/worker/__init__.py
  tests/will/workers/violation_remediator_body/worker/test_generated.py
Labels: test

fix(56e66e93-49f8-46): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/violation_remediator_body/worker.py::ViolationRemediator (class)
  tests/will/workers/violation_remediator_body/worker/test_generated.py
Labels: test

chore: delete dead modules, batch 1 (35 files, +0 -3287)
  .intent/enforcement/config/test_coverage.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/path_access.yaml
  src/body/governance/path_validator.py
  src/body/introspection/drift_detector.py
  src/body/introspection/graph_analysis_service.py
  src/body/maintenance/scripts/vector_verify.py
  src/body/self_healing/capability_parser.py
  src/body/self_healing/prune_private_capabilities.py
  src/body/self_healing/test_context/__init__.py
  src/body/self_healing/test_context/detectors.py
  src/body/self_healing/test_context/examples.py
  src/body/self_healing/test_context/formatter.py
  src/body/self_healing/test_context/metrics.py
  src/body/self_healing/test_context/models.py
  src/body/self_healing/test_context/parsers.py
  src/body/self_healing/test_context_analyzer.py
  src/mind/logic/engines/ast_gate/checks/purity_enforcement_check.py
  src/shared/infrastructure/events/__init__.py
  src/shared/infrastructure/events/base.py
  src/shared/infrastructure/events/bus.py
  src/shared/infrastructure/intent/intent_connector.py
  src/shared/infrastructure/storage/file_provider.py
  src/will/agents/governance_mixin.py
  src/will/orchestration/intent_alignment.py
  src/will/self_healing/alignment/persistence.py
  src/will/self_healing/alignment/sandbox.py
  src/will/self_healing/alignment/specialists.py
  src/will/self_healing/alignment_orchestrator.py
  src/will/self_healing/capability_reconciliation_service.py
  src/will/self_healing/context_aware_test_generator.py
  src/will/self_healing/linelength_service.py
  src/will/test_generation/strategy_link.py
  src/will/tools/cognitive_toolbox.py
  src/will/tools/file_navigator.py
  src/will/tools/tool_generator.py
  tests/mind/logic/engines/ast_gate/checks/purity_enforcement_check/__init__.py
  tests/mind/logic/engines/ast_gate/checks/purity_enforcement_check/test_generated.py
Labels: feat, fix, test, governance

chore: delete unused utils_migration and the `migration` extra
  poetry.lock
  pyproject.toml
  src/cli/logic/utils_migration.py
Labels: feat, fix, deps

chore(cli): delete dead cli/logic modules, batch 2 (20 files, +0 -993)
  src/cli/logic/autonomy/actions.py
  src/cli/logic/autonomy/views.py
  src/cli/logic/build.py
  src/cli/logic/context.py
  src/cli/logic/db_manage.py
  src/cli/logic/embeddings_cli.py
  src/cli/logic/hub/__init__.py
  src/cli/logic/hub/app.py
  src/cli/logic/hub/formatter.py
  src/cli/logic/hub/introspection.py
  src/cli/logic/hub/repository.py
  src/cli/logic/init.py
  src/cli/logic/knowledge.py
  src/cli/logic/project_docs.py
  src/cli/logic/reconcile.py
  src/cli/logic/symbol_drift.py
  src/cli/logic/sync.py
  src/cli/logic/vector_drift.py
  src/cli/logic/yaml_processor.py
  tests/cli/logic/autonomy/test_views__print_detailed_info.py
Labels: feat, fix, test

chore: delete modules orphaned by the cli/logic batch (5 files, -278)
  src/body/self_healing/knowledge_consolidation_service.py
  src/cli/logic/list_audits.py
  src/cli/logic/log_audit.py
  src/cli/logic/report.py
  src/cli/logic/status.py
Labels: feat, fix

fix(mind): dead-code and orphan-file checks can see what they govern
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/workflow_gate/checks/dead_code.py
  src/shared/utils/subprocess_utils.py
  tests/mind/logic/engines/test_knowledge_gate__KnowledgeGateEngine.py
  tests/mind/logic/engines/workflow_gate/checks/dead_code/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/dead_code/test_generated.py
  tests/mind/logic/engines/workflow_gate/test_dead_code__sanctuary_delegation.py
Labels: feat, fix, test

fix(7cadb72c-f78a-4e): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/dead_code.py::DeadCodeCheck.verify (method)
  tests/mind/logic/engines/workflow_gate/checks/dead_code/__init__.py
  tests/mind/logic/engines/workflow_gate/checks/dead_code/test_generated.py
Labels: test

fix(6d594620-e919-45): Autonomous test generation: flow.build_test_for_symbol — src/mind/logic/engines/workflow_gate/checks/dead_code.py::DeadCodeCheck (class)
  tests/mind/logic/engines/workflow_gate/checks/dead_code/test_generated.py
Labels: test

chore(cli): delete orphan CLI command modules (batch 3b)
  src/cli/commands/audit_reporter.py
  src/cli/commands/check_atomic_actions.py
  src/cli/commands/components.py
  src/cli/commands/develop.py
  src/cli/commands/diagnostics.py
  src/cli/commands/fix_governed.py
  src/cli/commands/governance.py
  src/cli/commands/mind.py
  src/cli/commands/refactor_support/analyzer.py
  src/cli/commands/refactor_support/config.py
  src/cli/commands/run.py
  src/cli/logic/diagnostics.py
  src/cli/logic/diagnostics_policy.py
  src/cli/logic/diagnostics_registry.py
  src/cli/logic/validate.py
  src/cli/resources/admin/meta.py
  src/mind/governance/audit_types.py
  src/shared/protocols/typer_protocols.py
  src/will/governance/refactor_runner.py
Labels: feat, fix

fix(intent): strip phantom admin.meta capability (ADR-079 D9 Shape 1)
  .intent/enforcement/config/action_risk.yaml
  .intent/taxonomies/operational_capabilities.yaml
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
  src/shared/_machinery_floor/taxonomies/operational_capabilities.yaml
Labels: feat, fix, governance

chore(will): delete dead will.tools re-export stubs (batch 3c-1)
  src/will/tools/__init__.py
  src/will/tools/anchor_builder.py
  src/will/tools/anchor_search.py
  src/will/tools/anchors/discovery.py
  src/will/tools/anchors/storage.py
  src/will/tools/context/code_snippet_extractor.py
  src/will/tools/context/embedding_search.py
  src/will/tools/context/models.py
  src/will/tools/context/query_builder.py
  src/will/tools/context/retriever.py
  src/will/tools/context/standards.py
  src/will/tools/layers.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/module_descriptor.py
Labels: feat, fix

chore(body): delete dead introspection modules (batch 3c-2)
  src/body/introspection/capability_discovery_service.py
  src/body/introspection/discovery/from_kgb.py
  src/body/introspection/discovery/from_source_scan.py
  src/body/introspection/discovery/loader.py
  src/body/introspection/discovery/registry.py
  src/body/introspection/discovery/semantics.py
  src/body/introspection/discovery/sync.py
  src/body/introspection/export_vectors.py
  src/body/introspection/generate_correction_map.py
  src/body/introspection/semantic_clusterer.py
Labels: feat, fix

feat(cli): core-admin daemon works across the account split
  docs/getting-started.md
  src/cli/commands/daemon.py
  src/shared/utils/subprocess_utils.py
  tests/cli/test_daemon_service_delegation.py
  tests/shared/utils/test_subprocess_utils__run_systemctl.py
Labels: feat, fix, docs, test

chore: delete dead modules, batch 3c-3 (16 modules + 1 stub test)
  .intent/enforcement/config/action_risk.yaml
  .intent/taxonomies/operational_capabilities.yaml
  src/body/governance/__init__.py
  src/body/governance/code_validator.py
  src/body/governance/engine_dispatcher.py
  src/body/governance/remediation_service.py
  src/body/invokers/capability_invoker.py
  src/body/project_lifecycle/definition_service.py
  src/body/self_healing/owner_tagging_service.py
  src/body/self_healing/test_failure_analyzer.py
  src/body/services/capabilities.py
  src/body/services/database_service.py
  src/mind/governance/assumption_extractor.py
  src/mind/governance/authority_package_builder.py
  src/mind/governance/rule_conflict_detector.py
  src/shared/_machinery_floor/taxonomies/operational_capabilities.yaml
  src/shared/infrastructure/repositories/db/engine.py
  src/shared/infrastructure/repositories/symbol_definition_repository.py
  src/will/orchestration/remediation_orchestrator.py
  src/will/phases/parse_phase.py
  src/will/phases/planning_phase.py
  tests/body/services/test_capabilities__introspection.py
Labels: feat, fix, test, governance

fix(api): /v1/analysis/test-targets returns real classifications
  src/api/v1/inspect_routes.py
  src/will/governance/inspect_runner.py
  tests/will/governance/test_inspect_runner__get_analysis_test_targets.py
Labels: feat, fix, test

fix(examples): strip manage.define_symbols from the starter floor copy
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
Labels: none

refactor(audit): rename the finding routing marker to route_to (#943)
  src/will/workers/audit_violation_sensor.py
  tests/will/workers/audit_violation_sensor/test_route_to.py
Labels: feat, fix, test

docs(adr): ADR-095 route_to note; ADR-132 D10 governor identity from the kernel
  .specs/decisions/ADR-095-modularity-as-architectural-judgment.md
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: none

feat(api): dormant kernel caller identity for core-api (ADR-132 D10, step 1)
  src/api/dependencies.py
  src/api/serve.py
  src/shared/infrastructure/principal_binding.py
  tests/api/test_dependencies_caller_principal.py
  tests/api/test_serve.py
  tests/shared/infrastructure/test_principal_binding.py
Labels: feat, fix, test

docs(adr): ADR-132 D10 amendment — runtime isolation, socket-only governor
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: none

docs(adr): ADR-132 — park D10 activation until D10.8 is complete
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: none

feat(intent): code.imports.no_resolution_suppression (reporting)
  .intent/enforcement/mappings/code/imports.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/code/imports.json
Labels: governance

feat(api): deprecate GET /v1/analysis/clusters and /common-knowledge (ADR-087 D4)
  .specs/papers/CORE-OEM-API.md
  docs/reference/openapi.json
  src/api/v1/inspect_routes.py
  src/will/governance/inspect_runner.py
  tests/api/v1/test_inspect_routes.py
Labels: feat, fix, docs, test

feat(intent): promote code.imports.no_resolution_suppression to blocking
  .intent/rules/code/imports.json
  .specs/verification/g2_blocking_rule_registry.yaml
  tests/mind/governance/test_g2_regex_gate_rules.py
Labels: test, governance

docs: README and how-it-works rule counts 263->264, mapped 253->254
  README.md
  docs/how-it-works.md
Labels: docs

test(fixture): resync overlay rules/code/imports.json with .intent/
  tests/fixtures/external_target/intent_overlay/rules/code/imports.json
Labels: test

docs: say how CORE is developed — branches, governor + agent, limits
  CONTRIBUTING.md
  README.md
Labels: docs

ci: run CORE CI on develop pushes only, not main
  .github/workflows/core-ci.yml
Labels: ci

fix(canary): a check.imports that did not run is not an import violation (#904)
  src/body/atomic/check_actions.py
  src/will/phases/audit_phase.py
  src/will/phases/canary_validation_phase.py
  tests/will/phases/test_canary_validation_phase__import_gate.py
Labels: feat, fix, test

fix(workflow_gate): timeouts and pip-audit failures are unknown, not violations (#876, #870)
  src/mind/logic/engines/workflow_gate/checks/import_resolution.py
  src/mind/logic/engines/workflow_gate/checks/quality.py
  src/mind/logic/engines/workflow_gate/engine.py
  tests/mind/logic/engines/workflow_gate/checks/test_quality__per_file_emission.py
  tests/mind/logic/engines/workflow_gate/test_tool_absence_silent_skip.py
Labels: feat, fix, test

fix(intent): a rules-only .intent/ is a config error, not a traceback (#939)
  .specs/decisions/ADR-108-external-adoption-minimal-starter-intent.md
  src/cli/admin_cli.py
  src/shared/infrastructure/intent/intent_validator.py
  tests/cli/test_admin_cli__intent_config_error.py
Labels: feat, fix, test

fix(intent): the .intent read-only rules are runtime-enforced, say so (#936)
  .intent/enforcement/mappings/architecture/core_safety.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .specs/verification/g2_blocking_rule_registry.yaml
  docs/proof-index.md
  tests/body/governance/test_intent_guard__read_only_rules.py
  tests/mind/governance/test_g2_glob_gate_rules.py
  tests/mind/governance/test_rule_fires__per_engine_type.py
  tests/proof_index/test_claim_09_intent_immutable.py
Labels: docs, test, governance

docs(planning): record 2026-10-05 pick-up of #904, #876, #870 from the Q4 D7 ignore list
  .specs/planning/governor-rail-2026Q4.md
Labels: none

feat(reference_gate): remediation-map ACTIVE/DELEGATE targets must resolve (#935)
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/rules/architecture/intent_access.json
  CLAUDE.md
  src/mind/logic/engines/reference_gate.py
  tests/mind/logic/engines/reference_gate/test_reference_gate.py
Labels: feat, fix, test, governance

docs(adr): ADR-169 — CORE knows its own state (accepted)
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-169-core-knows-its-own-state.md
Labels: governance

feat(state): ADR-169 slice 1 -- verdicts state their law; append-only state ledger
  .intent/enforcement/config/audit_verdict.yaml
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20261005_adr169_state_observations.sql
  schema.sql
  src/body/services/state_ledger_service.py
  src/cli/commands/daemon.py
  src/mind/enforcement/audit.py
  src/mind/governance/auditor.py
  src/mind/governance/stateless_audit.py
  src/shared/_migrations/infra/migrations/manifest.yaml
  src/shared/_migrations/infra/scripts/migrations/20261005_adr169_state_observations.sql
  src/shared/_migrations/schema.sql
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/intent/audit_verdict.py
  src/shared/infrastructure/intent/law_state.py
  src/will/governance/audit_runner.py
  tests/body/services/test_state_ledger_service.py
  tests/mind/governance/test_firing_coverage_standing_gate.py
  tests/mind/governance/test_law_drift_verdict.py
  tests/mind/governance/test_stateless_audit__skipped_blocking_degrades.py
  tests/mind/governance/test_stateless_audit__verdict.py
  tests/shared/infrastructure/intent/test_law_state.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test, governance

fix(audit): a filtered online audit decides its verdict instead of always passing
  src/will/governance/audit_runner.py
  tests/will/governance/test_audit_runner__filtered_verdict.py
Labels: feat, fix, test

test(migrations): expectations derive the unreleased entries from the manifest
  tests/shared/infrastructure/migrations/test_g11_release_candidate_postgres.py
  tests/shared/infrastructure/migrations/test_schema_gate_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/migrations/test_wheel_migrate_postgres.py
Labels: test

feat(state): ADR-169 slice 2 -- CORE observes its own state every cycle; ADR-030 stale daemon
  .intent/enforcement/config/operational_config.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/workers/state_sensor.yaml
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20261005b_adr169_cycle_trigger.sql
  schema.sql
  src/body/services/state_ledger_service.py
  src/cli/commands/daemon.py
  src/shared/_migrations/infra/migrations/manifest.yaml
  src/shared/_migrations/infra/scripts/migrations/20261005b_adr169_cycle_trigger.sql
  src/shared/_migrations/schema.sql
  src/shared/infrastructure/code_identity.py
  src/shared/infrastructure/intent/operational_config.py
  src/shared/workers/base.py
  src/shared/workers/scheduled_worker.py
  src/will/workers/state_sensor.py
  tests/body/services/test_state_ledger_service.py
  tests/shared/infrastructure/test_code_identity.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
  tests/shared/workers/test_base__stale_code_gate.py
  tests/will/workers/test_state_sensor.py
Labels: feat, fix, test, governance
