Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs: backfill CHANGELOG.md — 2.6.0 + 2.7.0 entries
  CHANGELOG.md
Labels: none

docs(paper): seed — internalizing the governor's pushback
  .specs/papers/CORE-Disposition-Governance-Seed.md
Labels: none

fix(#602): clear ClassVar/RUF012↔mypy standoff on ORM declarative dunders
  src/shared/infrastructure/database/models/autonomous_proposals.py
  src/shared/infrastructure/database/models/decision_traces.py
  src/shared/infrastructure/database/models/governance.py
  src/shared/infrastructure/database/models/knowledge.py
  src/shared/infrastructure/database/models/learning.py
  src/shared/infrastructure/database/models/llm_config.py
  src/shared/infrastructure/database/models/operations.py
  src/shared/infrastructure/database/models/refusals.py
  src/shared/infrastructure/database/models/system.py
  src/shared/infrastructure/database/models/vectors.py
  src/shared/infrastructure/database/models/workers.py
  src/shared/models/action_result.py
Labels: feat, fix

fix(#602): give ViolationRemediator mixins a typed host contract (-17 attr-defined)
  src/will/workers/violation_remediator_body/_host.py
  src/will/workers/violation_remediator_body/blackboard.py
  src/will/workers/violation_remediator_body/ceremony.py
  src/will/workers/violation_remediator_body/context.py
  src/will/workers/violation_remediator_body/llm.py
Labels: feat, fix

fix(#651): delete dead dev_sync_reporter (superseded by DevSyncWorkflow)
  src/will/workflows/dev_sync_reporter.py
Labels: feat, fix

fix(#602): delete dead cli/logic/agent.py (superseded by project/new scaffolder)
  src/cli/logic/agent.py
Labels: feat, fix

fix: repair silently-broken `core-admin database export`
  src/cli/resources/database/export.py
Labels: feat, fix

fix(#645): expose FileService on CoreContext as the Will-tier write door (ADR-097 D4)
  src/body/atomic/fix_actions.py
  src/body/infrastructure/bootstrap.py
  src/cli/commands/daemon.py
  src/shared/context.py
  src/will/governance/audit_remediation_runner.py
  src/will/governance/coverage_runner.py
  src/will/phases/code_generation_phase.py
  src/will/phases/sandbox_validation_phase.py
  src/will/self_healing/alignment/persistence.py
Labels: feat, fix

perf(audit-sensors): unify cadence to 1200s + record Option B′ change-gate (ADR-039)
  .intent/workers/audit_sensor_layout.yaml
  .intent/workers/audit_sensor_linkage.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_sensor_style.yaml
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: governance

docs(ADR-039): supersede Option B′ with content-addressed parse cache (Option E)
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: none

perf(audit): content-address the AST parse cache (ADR-039 Option E, Level 1)
  src/mind/governance/audit_context.py
  tests/mind/governance/test_audit_context__AuditorContext.py
Labels: feat, fix, test

docs(ADR-039): correct the record — parsing was never the bottleneck (rev. c)
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: none

perf(audit): derived-pruned file walk — the real fix for the ~91s cycle (ADR-076 D5)
  src/mind/governance/audit_context.py
  tests/mind/governance/test_audit_context__AuditorContext.py
Labels: feat, fix, test

docs(ADR-039): close the profiling loop — get_files was the cost (rev. d)
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: none

feat(audit-sensors): tighten detection cadence to 300s now that cycles are cheap
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_cli.yaml
  .intent/workers/audit_sensor_governance.yaml
  .intent/workers/audit_sensor_layout.yaml
  .intent/workers/audit_sensor_linkage.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_sensor_purity.yaml
  .intent/workers/audit_sensor_style.yaml
Labels: governance

docs(ADR-109): propose the Assisted Remediation Lane
  .specs/decisions/ADR-109-assisted-remediation-lane.md
Labels: none

docs(ADR-109): accept the Assisted Remediation Lane
  .specs/decisions/ADR-109-assisted-remediation-lane.md
Labels: none

docs(ADR-035): append assisted-lane multi-file exception (ADR-109 D3)
  .specs/decisions/ADR-035-one-finding-one-proposal.md
Labels: none

feat(#654): assisted-lane safety gate — validate_diff + approval enforcement (ADR-109)
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/__init__.py
  src/body/atomic/assisted_actions.py
  src/will/autonomy/proposal_state_manager.py
  tests/body/atomic/test_assisted_actions.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
Labels: feat, fix, test, governance

feat(#652): assisted.apply_diff — execute-on-approval half of the lane (ADR-109)
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/__init__.py
  src/body/atomic/assisted_actions.py
  tests/body/atomic/test_assisted_actions.py
Labels: feat, fix, test, governance

feat(#652): assisted-lane read side — lane list + LaneService (ADR-109)
  src/api/cli/client.py
  src/api/cli/lane_client.py
  src/api/main.py
  src/api/v1/lane_routes.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/cli/admin_cli.py
  src/cli/resources/lane/__init__.py
  src/cli/resources/lane/list.py
  src/will/autonomy/lane_service.py
  tests/api/v1/test_lane_routes.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

feat(#652): lane propose — ingest a validated agent diff as a human-gated proposal (ADR-109)
  src/api/cli/lane_client.py
  src/api/v1/lane_routes.py
  src/body/atomic/assisted_actions.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/cli/resources/lane/__init__.py
  src/cli/resources/lane/propose.py
  src/will/autonomy/lane_service.py
  tests/api/v1/test_lane_routes.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

feat(#652): assisted-lane reject revival — finding returns to the lane, not reaudit (ADR-109 D4)
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/will/autonomy/proposal_service.py
  tests/will/autonomy/test_proposal_service_reject_routing.py
Labels: feat, fix, test

feat(#652): lane next + claim — complete the core-admin lane command group (ADR-109)
  src/api/cli/lane_client.py
  src/api/v1/lane_routes.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/cli/resources/lane/__init__.py
  src/cli/resources/lane/claim.py
  src/cli/resources/lane/next.py
  src/will/autonomy/lane_service.py
  tests/api/v1/test_lane_routes.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

feat(#653): context bundle for delegated findings — rule rationale + remediation guidance (ADR-109)
  src/api/v1/lane_routes.py
  src/cli/resources/lane/next.py
  src/shared/infrastructure/intent/remediation_guidance.py
  src/will/autonomy/lane_service.py
  tests/shared/infrastructure/intent/test_remediation_guidance.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

fix(dashboard): count DISTINCT abandoned subjects, not rows — Autonomous Reach honesty
  src/cli/resources/runtime/health.py
Labels: feat, fix

feat(#657): retired-rule finding sweep — auto-resolve orphans whose rule left the registry
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/intent_repository.py
  src/will/workers/blackboard_shop_manager.py
  tests/body/services/blackboard_service/test_retired_rule_sweep.py
Labels: feat, fix, test

fix(6742c570-624a-4e): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/body/services/blackboard_service/blackboard_service.py
Labels: feat, fix

fix(#659): skip context-level engines at write-time gate
  src/body/governance/intent_guard.py
  tests/body/governance/test_intent_guard__audit_engines.py
Labels: feat, fix, test

fix(f5beddf9-a270-4b): Live-verify #659: format src/cli/resources/lane/next.py
  src/cli/resources/lane/next.py
  tests/body/atomic/test_assisted_actions.py
  tests/body/atomic/test_fix_actions__action_fix_imports.py
  tests/body/atomic/test_fix_actions__action_format_code.py
  tests/body/atomic/test_sandbox_validate.py
  tests/body/governance/test_intent_guard__target_class_dispatch.py
  tests/body/governance/test_intent_pattern_validators__test_file.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
  tests/body/services/blackboard_service/blackboard_service/test_generated.py
  tests/body/services/blackboard_service/test_sweep_telemetry_keep_last_n.py
  tests/body/services/test_file_service__unresolved_repo_path.py
  tests/mind/governance/constitutional_auditor_dynamic/test_generated.py
  tests/mind/governance/test_executable_rule__ExecutableRule.py
  tests/mind/governance/test_specs_doc_validator.py
  tests/mind/logic/engines/cli_gate/engine/test_walk_registry_repo_filter.py
  tests/mind/logic/engines/test_artifact_gate__active_routing_claimed_by_action.py
  tests/mind/logic/engines/test_base__extract_line_number.py
  tests/mind/logic/engines/test_llm_gate__LLMGateEngine.py
  tests/mind/logic/engines/workflow_gate/test_tool_absence_silent_skip.py
  tests/shared/infrastructure/intent/test_target_class.py
  tests/shared/models/execution_models/test_generated.py
  tests/shared/test_cli_utils.py
  tests/shared/test_cli_utils__async_command.py
  tests/shared/test_cli_utils__core_command.py
  tests/shared/test_file_handler__regression_matrix.py
  tests/shared/test_file_handler__write_unified.py
  tests/shared/test_path_resolver__PathResolver.py
  tests/will/autonomy/test_lane_service.py
  tests/will/autonomy/test_proposal_execution_pipeline_adr_101.py
  tests/will/test_generation/test_introspection_facts.py
  tests/will/workers/audit_violation_filter/test_generated.py
  tests/will/workers/test_resolution_mechanism_classification.py
Labels: feat, fix, test

fix(#660): stop run_poetry_command conflating ruff findings-exit with failure
  src/body/self_healing/code_style_service.py
  src/shared/utils/subprocess_utils.py
  tests/shared/utils/test_subprocess_utils__run_poetry_command.py
Labels: feat, fix, test

feat(#658): orphan-finding metadata capture + post_execution_sha reachability guard
  src/will/workers/commit_reachability_auditor.py
  tests/will/autonomy/test_proposal_execution_pipeline_adr_101.py
  tests/will/workers/test_commit_reachability_auditor__capture_meta.py
Labels: feat, fix, test

fix(orphan-reachability): honor ImportFrom.level so ..-relative imports resolve
  src/mind/logic/engines/knowledge_gate.py
  tests/mind/logic/engines/test_knowledge_gate__KnowledgeGateEngine.py
Labels: feat, fix, test

fix(#662): assisted-lane oracle validates context-level rules at full scope (ADR-109 §4)
  src/body/atomic/assisted_actions.py
  src/cli/resources/lane/propose.py
  tests/body/atomic/test_assisted_actions.py
Labels: feat, fix, test

feat(#661): assisted lane refuses self-referential audit-engine fixes
  src/body/atomic/assisted_actions.py
  src/cli/resources/lane/propose.py
  src/mind/logic/engines/registry.py
  tests/body/atomic/test_assisted_actions.py
  tests/mind/logic/engines/test_registry__EngineRegistry.py
Labels: feat, fix, test

docs(ADR-109): D6 — lane refuses self-referential audit-engine fixes (#661)
  .specs/decisions/ADR-109-assisted-remediation-lane.md
Labels: none

feat(#203): real vectors rebuild — delete collection + reset chunk_count
  src/cli/resources/vectors/__init__.py
  src/cli/resources/vectors/rebuild.py
  tests/cli/resources/vectors/test_rebuild.py
Labels: feat, fix, test

feat(#454): ADR-056 D7 data contracts for the fix/quality endpoints
  .intent/enforcement/contracts/FixRunResult.json
  .intent/enforcement/contracts/QualityGateResult.json
  .intent/enforcement/contracts/RunFixRequest.json
  .intent/enforcement/contracts/RunFlowRequest.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/data/governance.json
  src/will/governance/fix_runner.py
  tests/will/governance/test_fix_runner.py
Labels: feat, fix, test, governance

docs(planning): add maturity-audit derived action backlog
  .specs/planning/CORE-Maturity-Audit-Actions.md
Labels: none

docs(#218): ratify CORE-Specification-as-Source doctrine
  .specs/papers/CORE-Specification-as-Source.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
