Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(intent): retire duplicate core-specs crawler embedding (#784)
  .intent/artifact_types/adr.yaml
  .intent/artifact_types/charter.yaml
  .intent/artifact_types/northstar.yaml
  .intent/artifact_types/paper.yaml
  .intent/artifact_types/planning.yaml
  .intent/artifact_types/requirement.yaml
  .intent/artifact_types/spec_markdown.yaml
Labels: governance

test(will): resolver-ownership backing for proposal.stuck_finalizing (#778)
  tests/will/workers/test_proposal_pipeline_shop_manager_roll_forward.py
Labels: test

docs(will): add stuck_finalizing to the ADR-091 D2 subject-prefix list (#778)
  src/will/workers/proposal_pipeline_shop_manager.py
Labels: feat, fix

fix(intent): exempt canary_janitor's ADR-147 D4 sanctioned rmtree (#779)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
Labels: governance

feat(proposal): ADR-148 D5 enforcement + fault-injection tests (#763)
  .intent/enforcement/mappings/governance/finalization_integrity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/proposal_finalization_integrity.json
  .intent/workers/commit_authorship_audit_worker.yaml
  CLAUDE.md
  src/body/services/proposal_supervision_service.py
  src/will/workers/commit_authorship_audit_worker.py
  tests/body/services/test_proposal_supervision_service.py
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
  tests/will/workers/test_commit_authorship_audit_worker_finalization_integrity.py
Labels: feat, fix, test, governance

fix(intent): trim commit_authorship_audit_worker mandate under maxLength
  .intent/workers/commit_authorship_audit_worker.yaml
Labels: governance

fix(will): TestRunnerSensor no longer drops trigger on pytest-infra failure (#766)
  src/will/workers/test_runner_sensor.py
  tests/will/workers/test_runner_sensor/test_pytest_infra_failure.py
Labels: feat, fix, test

test(infra): enforce the CLAUDE.md rule-digest integrity check (#775)
  tests/infra/test_claude_md_rule_digest_matches_source.py
Labels: test

fix(proposal): creation-side outbox — redrive undeferred findings (#764)
  .intent/enforcement/config/operational_config.yaml
  .intent/workers/proposal_pipeline_shop_manager.yaml
  src/body/services/proposal_supervision_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/body/services/test_proposal_supervision_service.py
  tests/will/workers/test_proposal_pipeline_shop_manager_redrive.py
Labels: feat, fix, test, governance

feat(body): ADR-140 Cognitive-Write Separation for fix.modularity (#769)
  .intent/enforcement/config/governed_prompts.yaml
  .intent/flows/flow.fix_modularity.yaml
  src/body/atomic/modularity_fix.py
  src/will/agents/modularity_cognitive_delegate.py
  src/will/governance/fix_runner.py
  tests/body/atomic/test_modularity_fix_boundary.py
  tests/will/agents/test_modularity_cognitive_delegate.py
  tests/will/governance/test_fix_runner_cognitive_delegate.py
Labels: feat, fix, test, governance

fix(db): apply repo_artifacts_type_check registry-sync migration (#776)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260713_repo_artifacts_type_check_registry_sync.sql
  schema.sql
Labels: none

fix(will): RepoCrawlerWorker drift findings need resolution_mechanism
  src/will/workers/repo_crawler.py
  tests/will/workers/test_repo_crawler_drift_finding.py
Labels: feat, fix, test

fix(intent): stop architecture_bridge crawler-embedding into deleted collection (#785)
  .intent/artifact_types/architecture_bridge.yaml
Labels: governance

docs(claude-md): add Path C — batched confirmation for precedent-grounded transcription
  CLAUDE.md
Labels: none

feat(intent): declare work/ as ephemeral-scratch, closing ADR-147 D4's open item (#772)
  .intent/taxonomies/target_class_boundaries.yaml
  .specs/decisions/ADR-147-canary-sandbox-janitor-worker.md
Labels: governance

feat(mind): per-route sensitivity gating completeness check (#770)
  .intent/enforcement/mappings/architecture/api_auth_boundary.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/layer_separation.json
  CLAUDE.md
  src/mind/logic/engines/ast_gate/checks/api_auth_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/checks/test_api_auth_checks__ApiAuthChecks.py
Labels: feat, fix, test, governance

refactor(api): extract proposal domain construction to a Will facade (#771)
  src/api/v1/proposals_routes.py
  src/will/governance/proposal_runner.py
  tests/will/governance/test_proposal_runner.py
Labels: feat, fix, test

feat(intent): map 22 API request-DTO conformance rules for remediation (#781)
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

feat(workers): instrument-result taxonomy — "couldn't look" ≠ "clean" (#765 Stage 1)
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/shared/workers/base.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_remediator/worker.py
  src/will/workers/test_runner_sensor.py
  tests/shared/infrastructure/intent/test_coverage_paths_instrument_unavailable.py
  tests/shared/workers/test_base__post_unavailable.py
  tests/will/workers/test_coverage_sensor_instrument_unavailable.py
Labels: feat, fix, test

feat(intent): classify 52 unmapped files in namespace_manifest (#780)
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(body): deterministic glob precedence + registry-driven reclassification (#786)
  src/body/services/crawl_service/main_module.py
  src/body/services/crawl_service/orchestrator.py
  tests/body/services/crawl_service/test_orchestrator_glob_precedence.py
Labels: feat, fix, test

refactor(api): extract BYOR onboarding routes from project_routes (#782)
  src/api/main.py
  src/api/v1/onboard_routes.py
  src/api/v1/project_routes.py
  tests/api/v1/test_onboard_routes.py
  tests/api/v1/test_project_routes.py
Labels: feat, fix, test

test(api): repoint patch targets after #771 facade extraction + fix pre-existing symbols_routes tests
  tests/api/v1/proposals_routes/test_generated.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_symbols_routes.py
Labels: test

test(will): seed stuck_finalizing + stuck_undeferred fetches in pipeline classification test
  tests/will/workers/test_resolution_mechanism_classification.py
Labels: test

test(api): remove stale JWT-guard tests for lifespan (#787)
  tests/api/test_lifespan.py
Labels: test

docs: re-derive README rule counts from source (#631)
  README.md
  docs/how-it-works.md
Labels: docs

chore(deps): bump click 8.1.8 -> 8.4.2 to clear PYSEC-2026-2132
  poetry.lock
Labels: deps

test(cli): fix AuditSeverity.BLOCKING typo -> BLOCK (#787 item 5)
  tests/cli/utils/test_codeclimate_formatter.py
Labels: test

fix(intent): stop PackLoader.load_pack swallowing wrong-kind ValueError (#787 item 7)
  src/shared/infrastructure/intent/pack_loader.py
Labels: feat, fix

fix(canary): preserve top-level repo symlinks in sandbox snapshot (#787 item 4)
  src/body/services/crate_processing_service.py
Labels: feat, fix

docs(specs): backfill YAML frontmatter headers on 17 planning/requirement docs (#787 item 6)
  .specs/planning/CORE-CLI-2.9.0-Followups.md
  .specs/planning/CORE-CLI-Release-Smoke-Test.md
  .specs/planning/CORE-CLI-VM-Test-Access-Runbook.md
  .specs/planning/CORE-Cleanroom-Rebuild-Runbook.md
  .specs/planning/CORE-External-Adoption-Plan.md
  .specs/planning/CORE-Feature-Dependency-Graph.md
  .specs/planning/CORE-Maturity-Audit-Actions.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/planning/CORE-Semver-Policy.md
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
  .specs/requirements/CORE-Ask-URS.md
  .specs/requirements/CORE-Governor-Ask-URS.md
  .specs/requirements/CORE-Governor-Dashboard-URS.md
  .specs/requirements/URS-consequence-chain.md
  .specs/requirements/URS-mechanism-coherence.md
  .specs/requirements/URS-production-readiness.md
  .specs/requirements/URS-requirement-fulfillment-verification.md
Labels: none

fix(api): gate BYOR/scout routes with require_governor + bound onboard write targets (CodeQL py/path-injection)
  src/api/v1/onboard_routes.py
  src/api/v1/scout_routes.py
  src/cli/logic/byor.py
  tests/cli/logic/test_byor_stage.py
  tests/cli/logic/test_byor_target_safety.py
Labels: feat, fix, test

fix(inspect): stop leaking raw exception text via get_analysis_bridges (CodeQL py/stack-trace-exposure)
  src/will/governance/inspect_runner.py
  tests/will/governance/test_inspect_runner__get_analysis_bridges.py
Labels: feat, fix, test

docs(claude): scoped pytest runs on touched files are now standing default
  CLAUDE.md
Labels: none

fix(test-runner): derive failure summary from stdout, not stderr-only
  src/shared/infrastructure/validation/test_runner.py
  tests/shared/infrastructure/validation/test_test_runner__failure_summary.py
Labels: feat, fix, test

fix(test-gen): extract_symbol_code can't resolve dotted method names
  src/shared/utils/test_gen_utils.py
  tests/shared/utils/test_test_gen_utils__extract_symbol_code.py
Labels: feat, fix, test

fix(prompts): context_aware_test_gen gave wrong mock patch-target guidance
  var/prompts/context_aware_test_gen/system.txt
Labels: none

fix(capability_tagger): import from tagger_agent, not nonexistent module
  src/will/workers/capability_tagger.py
  tests/will/workers/capability_tagger/__init__.py
  tests/will/workers/capability_tagger/test_generated.py
Labels: feat, fix, test

fix(proposal): ADR-148 D5 audit checks row existence, not just the marker (#789)
  src/body/services/proposal_supervision_service.py
  tests/body/services/test_proposal_supervision_service.py
Labels: feat, fix, test

fix(cli): remove invalid rule_id kwarg from test_codeclimate_formatter (#787 item 5, take 2)
  tests/cli/utils/test_codeclimate_formatter.py
Labels: test
