Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(prompts): context_aware_test_gen_repair had the same wrong patch-target guidance
  var/prompts/context_aware_test_gen_repair/system.txt
Labels: none

feat(test-gen): extract constructor signature for method-level symbols
  src/shared/utils/test_gen_utils.py
  src/will/agents/test_gen_cognitive_delegate.py
  tests/shared/utils/test_test_gen_utils__extract_symbol_code.py
  var/prompts/context_aware_test_gen/system.txt
Labels: feat, fix, test

test(will): add live-verified generated tests for db_sync_worker and observer_worker
  tests/will/workers/db_sync_worker/__init__.py
  tests/will/workers/db_sync_worker/test_generated.py
  tests/will/workers/observer_worker/__init__.py
  tests/will/workers/observer_worker/test_generated.py
Labels: test

feat(test-gen): extract module-level constants a symbol references but doesn't define
  src/shared/utils/test_gen_utils.py
  src/will/agents/test_gen_cognitive_delegate.py
  tests/shared/utils/test_test_gen_utils__extract_symbol_code.py
Labels: feat, fix, test

test(will): add live-verified generated test for prompt_extractor_worker
  tests/will/workers/prompt_extractor_worker/__init__.py
  tests/will/workers/prompt_extractor_worker/test_generated.py
Labels: test

feat(config): add 3 new operational_config.yaml knobs (#774 ADR-040 sweep)
  .intent/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
Labels: feat, fix, governance

fix(health-log): move _CONVERGENCE_ROLLING_WINDOW to operational_config (#774)
  src/body/services/health_log_service.py
  tests/body/services/test_health_log_service__convergence_artifact.py
Labels: feat, fix, test

fix(daemon): move _STARTUP_JITTER_CAP_SEC to operational_config (#774)
  src/cli/commands/daemon.py
  tests/cli/test_daemon_startup_jitter.py
Labels: feat, fix, test

fix(daemon-runner): apply the systemctl timeout that was declared but never used (#774)
  src/will/governance/daemon_runner.py
  tests/will/governance/test_daemon_runner.py
Labels: feat, fix, test

fix(ceremony): wire the dead ceremony_timeout_sec config key (#774)
  src/will/workers/violation_remediator_body/ceremony.py
Labels: feat, fix

fix(coverage): fix a real threshold drift, not just move constants (#774)
  src/cli/commands/coverage/check_commands.py
  src/cli/commands/coverage/services/gaps_analyzer.py
  tests/cli/commands/coverage/services/test_gaps_analyzer.py
  tests/cli/commands/coverage/test_check_commands.py
Labels: feat, fix, test

test(will): add live-verified generated tests for audit_ingest_worker + repo_crawler
  tests/will/workers/audit_ingest_worker/__init__.py
  tests/will/workers/audit_ingest_worker/test_generated.py
  tests/will/workers/repo_crawler/__init__.py
  tests/will/workers/repo_crawler/test_generated.py
Labels: test

docs(adr): record pytest-in-the-loop reconciliation as a deferred decision (#791)
  .specs/decisions/ADR-135-dual-mode-generation-primitives.md
  .specs/decisions/ADR-140-cognitive-write-separation-flow-pattern.md
Labels: none

fix(workers): move janitor retention rails to operational_config (#774)
  .intent/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/canary_janitor.py
  src/will/workers/var_tmp_janitor.py
  tests/will/workers/test_canary_janitor.py
  tests/will/workers/test_var_tmp_janitor.py
Labels: feat, fix, test, governance

fix(body): move llm_exchange_log partition policy to operational_config (#774)
  .intent/enforcement/config/operational_config.yaml
  src/body/atomic/log_actions.py
  src/shared/infrastructure/intent/operational_config.py
  tests/body/atomic/test_log_actions.py
Labels: feat, fix, test, governance

fix(will): govern enrich-symbols batch limit via operational_config (#774)
  .intent/enforcement/config/operational_config.yaml
  src/shared/infrastructure/intent/operational_config.py
  src/will/self_healing/enrichment_service.py
  tests/will/self_healing/__init__.py
  tests/will/self_healing/test_enrichment_service.py
Labels: feat, fix, test, governance

docs(adr): record ADR-140 pytest-in-the-loop trigger fired NO on measured evidence (#791)
  .specs/decisions/ADR-140-cognitive-write-separation-flow-pattern.md
Labels: none

fix(test-gen): strip mid-file __future__ import on append (#792)
  src/body/atomic/build_test_for_symbol_action.py
  src/shared/utils/test_gen_utils.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/shared/utils/test_test_gen_utils__strip_leading_future_imports.py
Labels: feat, fix, test

docs(planning): sync planning docs with live GH + code state (2026-07-14)
  .specs/planning/CORE-External-Adoption-Plan.md
  .specs/planning/CORE-Maturity-Audit-Actions.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
  .specs/planning/external-review-2026-07-todo.md
Labels: none

docs(prompts): refresh external-review prompt for the 2026-07 snapshot
  var/prompts/external-review.md
Labels: none

chore(db): regenerate schema.sql from live core (current authoritative state)
  schema.sql
Labels: none

refactor(intent): move governance packs out of .intent/ to top-level packs/ (ADR-149)
  .specs/decisions/ADR-149-governance-packs-live-outside-self-law-root.md
  packs/architectural_boundaries.yaml
  packs/python_hygiene.yaml
  packs/starter_python.yaml
  src/cli/resources/project/adopt_pack.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/pack_loader.py
  tests/shared/infrastructure/intent/test_pack_loader.py
Labels: feat, fix, test

chore(intent): drop stale packs entry from intent_tree.yaml (ADR-149)
  .intent/META/intent_tree.yaml
Labels: governance

chore(governance): classify ADR-149 in namespace_manifest (project::core)
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(deps): patch 2 transitive-dep CVEs (click, setuptools)
  poetry.lock
  pyproject.toml
Labels: deps

chore(planning): archive 6 completed planning docs; consolidate into GH last-mile epic
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-075-framework-project-namespace-split.md
  .specs/planning/CORE-CLI-VM-Test-Access-Runbook.md
  .specs/planning/archive/CORE-CLI-2.9.0-Followups.md
  .specs/planning/archive/CORE-CLI-Release-Smoke-Test.md
  .specs/planning/archive/CORE-External-Adoption-Plan.md
  .specs/planning/archive/CORE-Maturity-Audit-Actions.md
  .specs/planning/archive/CORE-band-E-planning-input-2026-05-16.md
  .specs/planning/archive/external-review-2026-07-todo.md
  .specs/requirements/URS-production-readiness.md
  docs/byor-quickstart.md
  src/api/v1/onboard_routes.py
Labels: feat, fix, docs, governance

docs(claude-md): correct commit ownership — Claude commits own authored work
  CLAUDE.md
Labels: none

feat(will): wire pytest-in-the-loop test-gen acceptance (ADR-135 D6, ADR-140)
  .specs/decisions/ADR-140-cognitive-write-separation-flow-pattern.md
  src/will/agents/acceptance/conditions.py
  src/will/agents/iterative_coder_agent.py
  src/will/agents/prompt_model_iterative_agent.py
  src/will/agents/test_gen_cognitive_delegate.py
  tests/will/agents/test_acceptance_conditions.py
  tests/will/agents/test_build_test_for_symbol_iterative.py
Labels: feat, fix, test

feat(governance): add drift-guard rule for test-gen acceptance (ADR-140 D8)
  .intent/enforcement/mappings/architecture/test_generation_acceptance.yaml
  .intent/rules/architecture/test_generation_acceptance.json
  CLAUDE.md
  src/mind/logic/engines/ast_gate/checks/test_gen_acceptance_check.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/test_test_gen_acceptance_check.py
Labels: feat, fix, test, governance

fix(governance): complete #800's rule registration; fix conditions.py type error
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  README.md
  docs/how-it-works.md
  src/will/agents/acceptance/conditions.py
Labels: feat, fix, docs, governance

docs(claude-md): correct stale no_layer_imports excludes claim (review 2026-07-16)
  CLAUDE.md
Labels: none

fix(api): gate sensitive consumer-surface routes with per-route require_governor (#803)
  src/api/v1/secrets_routes.py
  src/api/v1/vectors_routes.py
  tests/api/v1/test_secrets_routes.py
  tests/api/v1/test_vectors_routes.py
Labels: feat, fix, test

refactor(shared): retire 6 dead legacy shims/aliases — zero callers (#804)
  src/shared/infrastructure/adapters/embedding_provider.py
  src/shared/infrastructure/clients/qdrant_client.py
  src/shared/infrastructure/database/models/operations.py
  src/shared/utils/path_utils.py
Labels: feat, fix

docs(claude-md): test-gen pilot scope is 44 files, not single-file; note pytest-in-the-loop gate
  CLAUDE.md
Labels: none

refactor(will): migrate dev_sync onto PhaseWorkflowResult; retire legacy WorkflowResult (#805)
  src/shared/models/__init__.py
  src/shared/models/workflow_models.py
  src/will/workflows/__init__.py
  src/will/workflows/dev_sync_workflow.py
  tests/will/workflows/test_dev_sync_workflow.py
Labels: feat, fix, test

feat(will): bound the finalizing roll-forward — redrive cap + governor escalation (ADR-150)
  src/body/services/blackboard_service/blackboard_service.py
  src/body/services/proposal_supervision_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/will/workers/test_proposal_pipeline_shop_manager_redrive_cap.py
Labels: feat, fix, test

governance(adr): accept ADR-150 — finalizing redrive cap; knob + ADR-148 corrigendum
  .intent/enforcement/config/operational_config.yaml
  .specs/decisions/ADR-148-proposal-finalization-barrier.md
  .specs/decisions/ADR-150-finalizing-redrive-cap.md
Labels: governance

refactor(body): split fix_actions.py into the fix/ package — one action per module (#806)
  src/body/atomic/__init__.py
  src/body/atomic/fix/__init__.py
  src/body/atomic/fix/_shared.py
  src/body/atomic/fix/atomic_actions.py
  src/body/atomic/fix/capability_tagging.py
  src/body/atomic/fix/docstrings.py
  src/body/atomic/fix/duplicate_ids.py
  src/body/atomic/fix/format_code.py
  src/body/atomic/fix/headers.py
  src/body/atomic/fix/ids.py
  src/body/atomic/fix/imports.py
  src/body/atomic/fix/logging_fix.py
  src/body/atomic/fix/path_resolver.py
  src/body/atomic/fix/placeholders.py
  src/body/atomic/fix/purge_legacy_tags.py
  src/body/atomic/fix/settings_access.py
  src/body/atomic/fix/vulture_heal.py
  src/body/atomic/fix_actions.py
  src/body/atomic/path_resolver_rewriter.py
  src/body/services/capability_tagging_dispatch.py
  tests/body/atomic/test_fix_actions__action_fix_imports.py
  tests/body/atomic/test_fix_actions__action_fix_placeholders.py
  tests/body/atomic/test_fix_actions__action_format_code.py
Labels: feat, fix, test

feat(body,will): dead-shim reaper — marker attribution, state propagation, sensor (ADR-151)
  src/body/introspection/sync/engine.py
  src/body/introspection/sync/visitor.py
  src/body/services/symbol_service.py
  src/will/workers/dead_shim_sensor.py
  tests/body/introspection/test_sync_visitor_dead_shim.py
  tests/will/workers/test_dead_shim_sensor.py
Labels: feat, fix, test

governance(adr): accept ADR-151 — dead-shim reaper rule, sensor declaration, mappings
  .intent/artifact_types/python.yaml
  .intent/enforcement/mappings/architecture/modernization.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/modernization.json
  .intent/workers/dead_shim_sensor.yaml
  .specs/decisions/ADR-151-dead-shim-reaper.md
  CLAUDE.md
Labels: governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
