Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

refactor(core): Complete Phase 4 cleanup by removing obsolete client
  .intent/knowledge/knowledge_graph.json
  docs/04_ROADMAP.md
  tests/unit/test_clients.py
Labels: docs, test, governance

refactor(core): Complete Phase 4 cleanup by removing obsolete client
  .intent/knowledge/knowledge_graph.json
  docs/04_ROADMAP.md
  tests/unit/test_clients.py
Labels: docs, test, governance

feat(agent): Implement Phase 5 with IntentTranslator and constitutional prompt
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/prompts/intent_translator.prompt
  src/agents/intent_translator.py
  src/system/admin/__init__.py
  src/system/admin/chat.py
Labels: feat, fix, governance

feat(agent): Implement Phase 5 with IntentTranslator and constitutional prompt
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/prompts/intent_translator.prompt
  src/agents/intent_translator.py
  src/system/admin/__init__.py
  src/system/admin/chat.py
Labels: feat, fix, governance

docs: Update roadmap to reflect completion of Phase 5
  docs/04_ROADMAP.md
Labels: docs

docs: Update roadmap to reflect completion of Phase 5
  docs/04_ROADMAP.md
Labels: docs

docs: Improve README
  README.md
Labels: docs

docs: Improve README
  README.md
Labels: docs

feat(proposal): Create proposal for src/core/clients.py
  .intent/proposals/cr-2d1c37cd-clients.yaml
Labels: governance

feat(proposal): Create proposal for src/core/factory.py
  .intent/proposals/cr-71ce21a2-factory.yaml
Labels: governance

feat(proposal): Create proposal for src/services/llm_service.py
  .intent/proposals/cr-ec4f4d9b-llm_service.yaml
Labels: governance

feat(proposal): Create proposal for src
  .intent/proposals/cr-e86c7362-src.yaml
Labels: governance

feat(proposal): Create proposal for src/core/clients.py
  .intent/proposals/cr-2d1c37cd-clients.yaml
Labels: governance

feat(proposal): Create proposal for config/settings.py
  .intent/proposals/cr-04a148d4-settings.yaml
Labels: governance

feat(proposal): Create proposal for tests/test_clients.py
  .intent/proposals/cr-cab6edc4-test_clients.yaml
Labels: governance

feat(proposal): Create proposal for src/api/handlers.py
  .intent/proposals/cr-405e59b7-handlers.yaml
Labels: governance

feat(proposal): Create proposal for src/core/factory.py
  .intent/proposals/cr-71ce21a2-factory.yaml
Labels: governance

feat(proposal): Create proposal for src
  .intent/proposals/cr-e86c7362-src.yaml
Labels: governance

feat(proposal): Create proposal for config/settings.py
  .intent/proposals/cr-04a148d4-settings.yaml
Labels: governance

feat(proposal): Create proposal for src/services/llm_service.py
  .intent/proposals/cr-ec4f4d9b-llm_service.yaml
Labels: governance

feat(proposal): Create proposal for src/api/handlers.py
  .intent/proposals/cr-405e59b7-handlers.yaml
Labels: governance

feat(proposal): Create proposal for tests/test_clients.py
  .intent/proposals/cr-cab6edc4-test_clients.yaml
Labels: governance

feat(proposal): Create proposal for docs/architecture.md
  .intent/proposals/cr-6d0eda58-architecture.md.yaml
Labels: governance

feat(proposal): Create proposal for docs/architecture.md
  .intent/proposals/cr-6d0eda58-architecture.md.yaml
Labels: governance

feat(chat): Implement constitutional triage and complete final cleanup
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/goal_assessor.prompt
  .intent/proposals/cr-04a148d4-settings.yaml
  .intent/proposals/cr-2d1c37cd-clients.yaml
  .intent/proposals/cr-405e59b7-handlers.yaml
  .intent/proposals/cr-6d0eda58-architecture.md.yaml
  .intent/proposals/cr-71ce21a2-factory.yaml
  .intent/proposals/cr-cab6edc4-test_clients.yaml
  .intent/proposals/cr-e86c7362-src.yaml
  .intent/proposals/cr-ec4f4d9b-llm_service.yaml
  src/agents/intent_translator.py
  src/system/admin/chat.py
  tests/unit/test_intent_translator.py
Labels: feat, fix, test, governance

feat(chat): Implement constitutional triage and complete final cleanup
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/goal_assessor.prompt
  .intent/proposals/cr-04a148d4-settings.yaml
  .intent/proposals/cr-2d1c37cd-clients.yaml
  .intent/proposals/cr-405e59b7-handlers.yaml
  .intent/proposals/cr-6d0eda58-architecture.md.yaml
  .intent/proposals/cr-71ce21a2-factory.yaml
  .intent/proposals/cr-cab6edc4-test_clients.yaml
  .intent/proposals/cr-e86c7362-src.yaml
  .intent/proposals/cr-ec4f4d9b-llm_service.yaml
  src/agents/intent_translator.py
  src/system/admin/chat.py
  tests/unit/test_intent_translator.py
Labels: feat, fix, test, governance

feat(agent): Add delete_file action and enhance health auditor
  .intent/knowledge/knowledge_graph.json
  src/agents/models.py
  src/agents/plan_executor.py
  src/system/governance/checks/health_checks.py
Labels: feat, fix, governance

feat(agent): Add delete_file action and enhance health auditor
  .intent/knowledge/knowledge_graph.json
  src/agents/models.py
  src/agents/plan_executor.py
  src/system/governance/checks/health_checks.py
Labels: feat, fix, governance

feat(proposal): Create proposal for config/config.yaml
  .intent/proposals/cr-27b65203-config.yaml.yaml
Labels: governance

feat(proposal): Create proposal for src/core/clients.py
  .intent/proposals/cr-3e6221b2-clients.yaml
Labels: governance

feat(proposal): Create proposal for src/config/settings.py
  .intent/proposals/cr-b17b2f7f-settings.yaml
Labels: governance

feat(proposal): Create proposal for .intent/project_manifest.yaml
  .intent/proposals/cr-3d658381-project_manifest.yaml.yaml
Labels: governance

feat(proposal): Create proposal for .env.template
  .intent/proposals/cr-41e14974-.env.template.yaml
Labels: governance

feat(proposal): Create proposal for .intent/project_manifest.yaml
  .intent/proposals/cr-3d658381-project_manifest.yaml.yaml
Labels: governance

feat(proposal): Create proposal for src/config/settings.py
  .intent/proposals/cr-b17b2f7f-settings.yaml
Labels: governance

feat(proposal): Create proposal for requirements.txt
  .intent/proposals/cr-6717bb98-requirements.txt.yaml
Labels: governance

feat(proposal): Create proposal for requirements.txt
  .intent/proposals/cr-6717bb98-requirements.txt.yaml
Labels: governance

feat(proposal): Create proposal for src/core/clients.py
  .intent/proposals/cr-3e6221b2-clients.yaml
Labels: governance

feat(proposal): Create proposal for config/config.yaml
  .intent/proposals/cr-27b65203-config.yaml.yaml
Labels: governance

feat(proposal): Create proposal for .env.template
  .intent/proposals/cr-41e14974-.env.template.yaml
Labels: governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
