Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(#115): ratify OptimizerWorker scope reconciliation
  .specs/planning/CORE-OptimizerWorker-Scope-Reconciliation.md
Labels: none

fix(#115): repair StrategicAuditor autonomous path — workflow_type + session kwarg
  src/will/agents/strategic_auditor/agent.py
  src/will/agents/strategic_auditor/effects.py
  src/will/agents/strategic_auditor/models.py
  tests/will/agents/test_strategic_auditor_effects.py
Labels: feat, fix, test

docs(ADR-110): ratify exposure/trust boundary — exposure is an API tier, write-safety binds to the operation
  .specs/decisions/ADR-110-exposure-trust-boundary.md
Labels: none

feat(#115): per-cluster governor review surface for StrategicAuditor campaigns
  src/cli/resources/dev/__init__.py
  src/cli/resources/dev/campaign_review.py
  src/cli/resources/dev/strategic_audit.py
  src/shared/infrastructure/repositories/task_repository.py
  src/will/agents/strategic_auditor/agent.py
  src/will/agents/strategic_auditor/effects.py
  src/will/agents/strategic_auditor/models.py
  tests/will/agents/test_strategic_auditor_effects.py
Labels: feat, fix, test

docs(planning): rewrite maturity-audit action list to verified state
  .specs/planning/CORE-Maturity-Audit-Actions.md
Labels: none

docs(planning): verify ADR-085 tracker against live state; fix F-48.3/F-48.5 drift
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(planning): reconcile planning dir to verified state
  .specs/planning/CORE-Feature-Dependency-Graph.md
  .specs/planning/CORE-Semver-Policy.md
  .specs/planning/archive/CORE-OptimizerWorker-Scope-Reconciliation.md
  .specs/planning/data-contracts-inventory.md
Labels: none

docs(northstar): parametrize the obligation layer — code is artifact type #1, not the scope
  .specs/northstar/CORE - What It Does.md
  .specs/northstar/CORE-USER-REQUIREMENTS.md
  .specs/northstar/core_northstar.md
Labels: none

fix(blackboard): co-assign resolution_mechanism='human' at indeterminate transition
  src/body/services/blackboard_service/blackboard_proposal_service.py
Labels: feat, fix

docs(BYOR): add CORE-BYOR paper — the domain-general adoption surface (draft)
  .specs/papers/CORE-BYOR.md
Labels: none

docs(intent): classify CORE-BYOR.md in namespace_manifest (project framework)
  .intent/governance/namespace_manifest.yaml
Labels: governance

docs(ADR-111): ratify — project onboard delivers the authored starter, not generates one
  .specs/decisions/ADR-111-onboard-delivers-authored-starter.md
Labels: none

feat(#640): project onboard delivers the authored starter, not a generated one (ADR-111)
  .specs/decisions/ADR-111-onboard-delivers-authored-starter.md
  src/cli/logic/byor.py
  src/cli/resources/project/onboard.py
Labels: feat, fix

docs(planning): BYOR/GRC program open-threads backlog + classify it
  .intent/governance/namespace_manifest.yaml
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: governance

feat(ADR-113): per-finding evidence class (proven/judged/attested)
  .specs/decisions/ADR-112-framework-floor-mirrors-registry.md
  .specs/decisions/ADR-113-per-finding-evidence-class.md
  src/cli/commands/check/formatters.py
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/action_gate.py
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/attestation_gate.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/cli_gate/engine.py
  src/mind/logic/engines/contracts_gate.py
  src/mind/logic/engines/glob_gate.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/llm_gate.py
  src/mind/logic/engines/llm_gate_stub.py
  src/mind/logic/engines/regex_gate.py
  src/mind/logic/engines/runtime_gate.py
  src/mind/logic/engines/taxonomy_gate.py
  src/mind/logic/engines/workflow_gate/engine.py
  src/shared/models/__init__.py
  src/shared/models/audit_models.py
  tests/mind/governance/test_evidence_class__adr113.py
Labels: feat, fix, test

feat(ADR-113): per-finding evidence class (proven/judged/attested) (#676)
  .specs/decisions/ADR-112-framework-floor-mirrors-registry.md
  .specs/decisions/ADR-113-per-finding-evidence-class.md
  src/cli/commands/check/formatters.py
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/action_gate.py
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/attestation_gate.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/cli_gate/engine.py
  src/mind/logic/engines/contracts_gate.py
  src/mind/logic/engines/glob_gate.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/llm_gate.py
  src/mind/logic/engines/llm_gate_stub.py
  src/mind/logic/engines/regex_gate.py
  src/mind/logic/engines/runtime_gate.py
  src/mind/logic/engines/taxonomy_gate.py
  src/mind/logic/engines/workflow_gate/engine.py
  src/shared/models/__init__.py
  src/shared/models/audit_models.py
  tests/mind/governance/test_evidence_class__adr113.py
Labels: feat, fix, test

feat(grc): customer-facing GRC gap-analysis demo (Scenario 4)
  src/body/services/grc/__init__.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/admin_cli.py
  src/cli/resources/grc/__init__.py
  src/cli/resources/grc/gap_analysis.py
  tests/body/services/grc/test_gap_analysis_service.py
  tests/fixtures/grc/corpus/access-control-policy.md
  tests/fixtures/grc/corpus/information-security-policy.md
Labels: feat, fix, test

feat(grc): customer-facing GRC gap-analysis demo (Scenario 4) (#677)
  src/body/services/grc/__init__.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/admin_cli.py
  src/cli/resources/grc/__init__.py
  src/cli/resources/grc/gap_analysis.py
  tests/body/services/grc/test_gap_analysis_service.py
  tests/fixtures/grc/corpus/access-control-policy.md
  tests/fixtures/grc/corpus/information-security-policy.md
Labels: feat, fix, test

fix(e9d3235e-fef3-40): Autonomous remediation: fix.placeholders (3 violation(s) — rules: purity.no_todo_placeholders)
  src/body/services/grc/gap_analysis_service.py
Labels: feat, fix

feat(grc): regulation-derived requirements catalog (NIST SP 800-171 subset)
  src/body/services/grc/__init__.py
  src/body/services/grc/catalogs/nist_800_171_min.yaml
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  tests/body/services/grc/test_gap_analysis_service.py
Labels: feat, fix, test

feat(ADR-114): retire purity.no_todo_placeholders + disable its remediation
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/code/purity.json
  .specs/decisions/ADR-114-retire-no-todo-placeholders.md
  src/body/atomic/fix_actions.py
  src/body/services/grc/gap_analysis_service.py
Labels: feat, fix, governance

feat(ADR-114): retire purity.no_todo_placeholders + disable its remediation (#679)
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/code/purity.json
  .specs/decisions/ADR-114-retire-no-todo-placeholders.md
  src/body/atomic/fix_actions.py
Labels: feat, fix, governance

feat(grc): regulation-derived requirements catalog (NIST SP 800-171 subset) (#678)
  src/body/services/grc/__init__.py
  src/body/services/grc/catalogs/nist_800_171_min.yaml
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  tests/body/services/grc/test_gap_analysis_service.py
Labels: feat, fix, test

fix(grc): restore demo-catalog sentence corrupted by fix.placeholders
  src/body/services/grc/gap_analysis_service.py
Labels: feat, fix

fix(grc): restore demo-catalog sentence corrupted by fix.placeholders (#680)
  src/body/services/grc/gap_analysis_service.py
Labels: feat, fix

fix(tests): repair pre-existing smoke-test drift (CI green)
  tests/api/v1/test_coverage_routes.py
  tests/body/analyzers/test_file_analyzer__FileAnalyzer.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/shared/test_config__Settings.py
  tests/shared/test_context__CoreContext.py
  tests/shared/test_context__context_builder_factory.py
  tests/will/strategists/test_validation_strategist.py
Labels: test

fix(tests): skip DB-backed tests when database is unreachable
  tests/conftest.py
Labels: test

fix(tests): repair pre-existing smoke-test drift (CI green) (#681)
  tests/api/v1/test_coverage_routes.py
  tests/body/analyzers/test_file_analyzer__FileAnalyzer.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/conftest.py
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/shared/test_config__Settings.py
  tests/shared/test_context__CoreContext.py
  tests/shared/test_context__context_builder_factory.py
  tests/will/strategists/test_validation_strategist.py
Labels: test

fix(ci): address pre-existing CORE CI red checks (#631, PR-linter, stateless warm-up)
  .github/workflows/core-ci.yml
  README.md
  docs/how-it-works.md
  src/cli/resources/intent/sync_vocabulary.py
  src/cli/utils/decorators.py
  tests/shared/test_cli_utils__core_command.py
Labels: feat, fix, docs, test, ci

fix(ci): address pre-existing CORE CI red checks (#631, PR-linter, stateless warm-up) (#682)
  .github/workflows/core-ci.yml
  README.md
  docs/how-it-works.md
  src/cli/resources/intent/sync_vocabulary.py
  src/cli/utils/decorators.py
  tests/shared/test_cli_utils__core_command.py
Labels: feat, fix, docs, test, ci

feat(ci): ADR-115 — Validate runs against ephemeral, hermetic infrastructure
  .github/workflows/core-ci.yml
  .specs/decisions/ADR-115-ci-ephemeral-hermetic-infrastructure.md
Labels: ci

fix(evaluator): scope constitutional audit to the file under evaluation
  .github/workflows/core-ci.yml
  .specs/decisions/ADR-115-ci-ephemeral-hermetic-infrastructure.md
  src/body/evaluators/constitutional_evaluator.py
Labels: feat, fix, ci

fix(test): seed worker_registry FK parent in governor_inbox test
  tests/body/services/test_health_log_service__governor_inbox.py
Labels: test

feat(ci): ADR-115 — Validate runs against ephemeral, hermetic infrastructure (#683)
  .github/workflows/core-ci.yml
  .specs/decisions/ADR-115-ci-ephemeral-hermetic-infrastructure.md
  src/body/evaluators/constitutional_evaluator.py
  tests/body/services/test_health_log_service__governor_inbox.py
Labels: feat, fix, test, ci

fix(governance): consumer audit fails closed + single law root (ADR-108 D4)
  .specs/decisions/ADR-108-external-adoption-minimal-starter-intent.md
  src/cli/resources/code/audit.py
  src/mind/governance/audit_context.py
  src/mind/governance/stateless_audit.py
  tests/mind/governance/test_audit_context__enforcement_root.py
  tests/mind/governance/test_stateless_audit__fails_closed.py
Labels: feat, fix, test

docs(ADR-116): ratify — GRC catalog is licensed law-as-data, consumed not bundled
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  .specs/planning/CORE-BYOR-Program-Backlog.md
Labels: none

feat(grc): catalog residency — tiered corpus resolved via PathResolver (ADR-116)
  grc-catalogs/public/nist_800_171/catalog.yaml
  grc-catalogs/public/nist_800_171/provenance.yaml
  src/body/services/grc/catalog_resolver.py
  src/body/services/grc/gap_analysis_service.py
  src/cli/resources/grc/gap_analysis.py
  src/shared/path_resolver.py
  tests/body/services/grc/test_gap_analysis_service.py
Labels: feat, fix, test

docs(ADR-116): D7 — GRC framework inventory registry (whitelist-as-data)
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  grc-catalogs/inventory.yaml
Labels: none

docs(ADR-116): D8 — licensed-tier wiring is tier-boundary = repo-boundary
  .gitignore
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
Labels: none

feat(grc): GDPR inventory approved -> authored (ADR-116)
  grc-catalogs/inventory.yaml
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
