Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

governance(architecture): narrow no_execution_semantics scope to exclude audit engines
  .intent/enforcement/mappings/architecture/mind_execution_semantic.yaml
Labels: governance

feat(blackboard): manual resolve path for indeterminate findings
  src/body/services/blackboard_service/blackboard_service.py
  src/cli/resources/workers/blackboard.py
Labels: feat, fix

docs(adr): accept ADR-044 and ADR-045
  .specs/decisions/ADR-044-llm-gate-verdict-cache.md
  .specs/decisions/ADR-045-quarantine-state-for-revived-findings.md
Labels: none

feat(blackboard): ADR-045 — awaiting_reaudit quarantine state
  .intent/META/enums.json
  infra/scripts/migrations/20260513_add_awaiting_reaudit_to_blackboard_entry_status.sql
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/body/services/health_log_service.py
  src/cli/resources/proposals/manage.py
  src/cli/resources/runtime/health.py
  src/will/workers/audit_violation_sensor.py
  tests/body/services/blackboard_service/blackboard_service/test_adjudicate_awaiting_reaudit.py
  tests/cli/resources/proposals/test_reject_revives_findings.py
Labels: feat, fix, test, governance

fix(4cfc0382-c6df-44): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

governance(workers): set audit_ingest_worker schedule to 1800s
  .intent/workers/audit_ingest_worker.yaml
Labels: governance

refactor(crawl_service): extract orchestration to CrawlOrchestrator (ADR-042 SEAM-LARGE)
  src/body/services/crawl_service/main_module.py
  src/body/services/crawl_service/orchestrator.py
Labels: feat, fix

test(audit_violation_sensor): land autonomous test scaffold from queue
  tests/will/workers/audit_violation_sensor/test_generated.py
Labels: test

docs(adr): accept ADR-039 + exempt orchestrator.py from path_access rule
  .intent/enforcement/mappings/architecture/path_access.yaml
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
Labels: governance

docs(adr): accept ADR-040 and ADR-041
  .specs/decisions/ADR-040-no-hardcoded-config-values.md
  .specs/decisions/ADR-041-per-worker-liveness-thresholds-and-orphan-skip.md
Labels: none

fix(crawl_service): partial-status dispatch, stale-running janitor, idempotent upserts
  src/body/services/crawl_service/main_module.py
  src/body/services/crawl_service/orchestrator.py
Labels: feat, fix

fix(tests): consolidate test_glob_match.py basename collision (#287)
  tests/shared/test_glob_match.py
  tests/shared/utils/test_glob_match.py
Labels: test

docs(planning): refresh CORE-GitHub-Project-Management to current state
  .specs/planning/CORE-GitHub-Project-Management.md
Labels: none

chore(reports): track attribution sweep diagnostic (#140)
  reports/diagnostics/2026-04-24_attribution_sweep.md
Labels: none

fix(rule_executor): preserve underlying engine error in LLM_TRANSIENT_FAILURE aggregate (#309)
  src/mind/governance/rule_executor.py
Labels: feat, fix

docs(planning): SESSION-PROTOCOL — adopt Projects board as session-open surface
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

fix(prompts): promote symbol_inventory and context_package to required (#305)
  var/prompts/modularity_analyze/model.yaml
  var/prompts/violation_remediator/model.yaml
Labels: none

docs(adr): accept ADR-046 — flow risk from constituent steps (#290)
  .specs/decisions/ADR-046-flow-risk-from-constituent-steps.md
Labels: none

refactor(rule): purity.docstrings.required moves to ast_gate (ADR-047)
  .intent/enforcement/mappings/code/purity.yaml
  .specs/decisions/ADR-047-docstring-rule-ast-gate.md
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix, governance

feat(autonomy): close test-format heal loop via flow.build_tests dispatch (ADR-046)
  .specs/decisions/ADR-046-flow-risk-from-constituent-steps.md
  src/will/autonomy/proposal.py
  src/will/workers/proposal_consumer_effects.py
  src/will/workers/proposal_consumer_worker.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
Labels: feat, fix

fix(autonomy): fix.docstrings walks AST + retire paused doc_writer pair (ADR-048)
  .intent/META/worker.schema.json
  .intent/enforcement/config/operational_config.yaml
  .intent/workers/doc_worker.yaml
  .intent/workers/doc_writer.yaml
  .specs/decisions/ADR-048-fix-docstrings-ast-walk.md
  src/body/self_healing/docstring_service.py
  src/body/workers/doc_writer.py
  src/will/workers/doc_worker.py
Labels: feat, fix, governance

docs(papers): add commercial-positioning strategic papers
  .specs/papers/CORE-Competitive-Landscape.md
  .specs/papers/CORE-Product-Tiers.md
Labels: none

chore(gitignore): exclude .specs/commercial/ from public repo
  .gitignore
  .specs/commercial/.gitkeep
Labels: none

docs(adr): accept ADR-049 (doctrine-rule parity) and ADR-050 (CLI positioning)
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/decisions/ADR-050-cli-positioning.md
Labels: none

docs(adr): expand ADR-049 D3 with deadlines + ADR-050 deferred-boundary section
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/decisions/ADR-050-cli-positioning.md
Labels: none

fix(architecture): remove Will → CLI import inversions (closes #318)
  src/body/atomic/fix_actions.py
  src/body/governance/body_contracts_service.py
  src/body/self_healing/duplicates_service.py
  src/body/self_healing/header_service.py
  src/body/self_healing/id_tagging_service.py
  src/body/self_healing/logging_service.py
  src/cli/commands/fix/code_style.py
  src/cli/commands/fix/metadata.py
  src/cli/commands/fix_logging.py
  src/cli/logic/body_contracts_checker.py
  src/cli/logic/duplicates.py
  src/will/workflows/phases/code_analysis_phase.py
  src/will/workflows/phases/code_fixers_phase.py
  src/will/workflows/phases/quality_checks_phase.py
Labels: feat, fix

fix(architecture): remove residual Body → CLI inversions in fix_actions.py
  src/body/atomic/fix_actions.py
  src/body/self_healing/atomic_actions_fixer.py
  src/body/self_healing/duplicate_id_service.py
  src/cli/commands/fix/atomic_actions.py
  src/cli/commands/fix/metadata.py
Labels: feat, fix

governance(rules): expand no_body_to_will to cover full will.* namespace
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

governance(rules): add architecture.cli.api_only — CLI must route through API
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/rules/architecture/layer_separation.json
Labels: governance

chore(architecture): remove dead refusal/decision_trace repo shims (closes #314)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/shared/infrastructure/repositories/decision_trace_repository.py
  src/shared/infrastructure/repositories/refusal_repository.py
Labels: feat, fix, governance

governance(rules): drop stale shared/ excludes for sanctuary trio (#315 Phase 1)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

fix(architecture): cognitive_adapter uses CognitiveProtocol, not Will class (#315 Tier B/3)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/shared/infrastructure/vector/cognitive_adapter.py
Labels: feat, fix, governance

fix(architecture): ContextService resolves brain services via injected protocol (#315 Tier B/2)
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  src/body/atomic/build_tests_action.py
  src/body/infrastructure/bootstrap.py
  src/shared/infrastructure/context/service.py
  src/shared/protocols/brain_services.py
  src/will/self_healing/context_aware_test_generator.py
Labels: feat, fix, governance

Wire ai.cognitive_role.no_hardcoded_string into auto_remediation.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

docs(specs): accept ADR-051, ADR-052; backfill ADR-044..052 in plan index
  .specs/decisions/ADR-051-file-handler-shared-excludes-closure.md
  .specs/decisions/ADR-052-llm-config-schema.md
  .specs/planning/CORE-A3-plan.md
Labels: none

feat(db): ADR-052 Phase 1 — additive schema for LLM config domain
  infra/scripts/migrations/20260516_adr_052_phase1_llm_config_schema.sql
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/learning.py
  src/shared/infrastructure/database/models/llm_config.py
  src/shared/infrastructure/database/models/operations.py
  src/shared/infrastructure/database/models/vectors.py
Labels: feat, fix

ADR-052: record Phase 1 PK deviation (commit a6c5fd35)
  .specs/decisions/ADR-052-llm-config-schema.md
Labels: none

feat(db): ADR-052 Phase 2 — migrate data from runtime_settings to typed tables
  infra/scripts/migrations/20260516_adr_052_phase2_data_migration.sql
Labels: none

feat(db): ADR-052 governor decisions A–E on Phase 2 residuals
  .specs/decisions/ADR-052-llm-config-schema.md
  infra/scripts/migrations/20260516_adr_052_governor_decisions.sql
Labels: none

feat(db): ADR-052 Phase 3 — enforcement cutover (data-driven dual-path)
  .specs/decisions/ADR-052-llm-config-schema.md
  infra/scripts/migrations/20260516_adr_052_phase3_enforcement_cutover.sql
  src/body/services/mind_state_service.py
  src/shared/infrastructure/config_service.py
  src/shared/infrastructure/database/models/operations.py
  src/shared/infrastructure/llm/client.py
  src/will/agents/cognitive_orchestrator.py
  src/will/agents/resource_selector.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
