Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(proposal): raise ProposalNotFoundError when approve/reject matches 0 rows (#273)
  src/will/autonomy/proposal_state_manager.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
Labels: feat, fix, test

fix(proposal): key execution_results by action_id:order to prevent last-write collision (#275)
  src/will/autonomy/proposal_executor.py
  tests/will/autonomy/test_proposal_executor_results_keying.py
Labels: feat, fix, test

feat(fix.path_resolver): handle embedded-slash BinOp form (#276)
  src/body/atomic/fix_actions.py
  tests/body/atomic/test_fix_actions__transform_path_resolver.py
Labels: feat, fix, test

fix(file_service): resolve repo_path in __init__ to prevent relative_to() ValueError (#270)
  src/body/services/file_service.py
  tests/body/services/test_file_service__unresolved_repo_path.py
Labels: feat, fix, test

docs: session close — Band D infrastructure hardening complete
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(deps): bump black/pytest, add workflow permissions; starlette/fastapi deferred
  .github/workflows/ci.yml
  .github/workflows/daily_sync.yml
  .github/workflows/intent-validate.yml
  poetry.lock
Labels: ci, deps

fix(security): bound CamelCase regex quantifiers to prevent ReDoS (#CodeQL-16)
  src/will/interpreters/request_interpreter.py
Labels: feat, fix

fix(blackboard): introduce suppressed status, fix abandoned dedup (#263)
  .intent/META/enums.json
  infra/scripts/migrations/20260510_add_suppressed_to_blackboard_entry_status.sql
  src/body/services/blackboard_service.py
Labels: feat, fix, governance

fix(executor): terminate dry-run findings as abandoned, not dry_run_complete (#265)
  src/body/services/blackboard_service.py
  src/will/workers/violation_remediator_body/worker.py
Labels: feat, fix

fix(blackboard): extend terminal-status exclusion lists to full canonical set
  src/body/services/blackboard_service.py
  src/body/services/health_log_service.py
  src/will/workers/coherence_sensor.py
Labels: feat, fix

feat(dashboard): implement total_open trajectory metric, closes #261
  src/cli/resources/runtime/health.py
Labels: feat, fix

feat(workers): activate ObserverWorker — resumes system_health_log writes (#278)
  .intent/workers/observer_worker.yaml
Labels: governance

fix(cli): replicate daemon kwargs-build in workers run cmd (#262)
  src/cli/resources/workers/run.py
Labels: feat, fix

fix(vectors): externalise max_embedding_passes to governance_paths.yaml (#269)
  .intent/enforcement/config/governance_paths.yaml
  src/body/atomic/sync_actions/sync_actions.py
Labels: feat, fix, governance

feat(engines): implement artifact_gate vocabulary check_types (ADR-023 Part 3/4)
  src/mind/logic/engines/artifact_gate.py
  tests/engines/test_artifact_gate_vocabulary.py
Labels: feat, fix, test

docs(adr): ADR-023 Part 3/4 addendum — engine check_type implementation
  .specs/decisions/ADR-023-vocabulary-canonical-store.md
Labels: none

chore(changelog): ADR-023 Part 3/4 engine check_types now enforcing
  .intent/CHANGELOG.md
Labels: governance

fix(ast_gate): propagate taint through derived assignments in IntentAccessCheck
  src/mind/logic/engines/ast_gate/checks/intent_access_check.py
  tests/engines/test_intent_access_check.py
Labels: feat, fix, test

ADR-033: Flow→step parameter routing contract
  .specs/decisions/ADR-033-flow-step-parameter-routing-contract.md
  .specs/papers/CORE-Flow.md
  src/body/flows/executor.py
  src/body/flows/registry.py
Labels: feat, fix

fix: proposals show logger→console; wire workflow.ruff_format_check
  .intent/enforcement/remediation/auto_remediation.yaml
  src/cli/logic/autonomy/views.py
Labels: feat, fix, governance

docs: update CHANGELOG and A3 plan — 2026-05-10 session
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

fix: blackboard --filter uses substring match, not prefix match (#271)
  src/cli/resources/workers/blackboard.py
Labels: feat, fix

ADR-034: OptimizerWorker formally deferred pending VE discovery data
  .specs/decisions/ADR-034-optimizer-worker-formal-deferral.md
Labels: none

docs: A3 plan + CHANGELOG — ADR-034 OptimizerWorker deferral
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

docs: A3 plan + CHANGELOG — ADR-008 closed, G4 gate complete
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

ADR-035: one proposal per (action, file) in ViolationRemediator (#284)
  src/will/workers/violation_remediator.py
Labels: feat, fix

docs: ADR-035 + CHANGELOG + A3 plan — one finding, one proposal (#284)
  .intent/CHANGELOG.md
  .specs/decisions/ADR-035-one-finding-one-proposal.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

refactor(will/workers): split ProposalConsumerWorker — SRP (modularity.needs_split)
  src/will/workers/proposal_consumer_effects.py
  src/will/workers/proposal_consumer_revival.py
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

refactor(will/agents): split StrategicAuditor — SRP (modularity.needs_split)
  src/will/agents/strategic_auditor/agent.py
  src/will/agents/strategic_auditor/effects.py
  src/will/agents/strategic_auditor/reasoning.py
Labels: feat, fix

refactor(body/evaluators): split AtomicActionsEvaluator — SRP (modularity.needs_split)
  src/body/atomic/fix_actions.py
  src/body/evaluators/atomic_actions_evaluator.py
  src/body/evaluators/atomic_actions_format.py
  src/body/evaluators/atomic_actions_rules.py
  src/cli/commands/check_atomic_actions.py
  tests/body/evaluators/test_atomic_actions_evaluator__AtomicActionViolation.py
  tests/body/evaluators/test_atomic_actions_evaluator__format_atomic_action_violations.py
Labels: feat, fix, test

refactor(body/services): split ConstitutionalValidator — SRP (modularity.needs_split)
  src/body/services/constitutional_rule_loader.py
  src/body/services/constitutional_validator.py
Labels: feat, fix

refactor(will/interpreters): split RequestInterpreter — SRP (modularity.needs_split)
  src/cli/commands/governance.py
  src/will/interpreters/__init__.py
  src/will/interpreters/cli_args_interpreter.py
  src/will/interpreters/natural_language_interpreter.py
  src/will/interpreters/request_interpreter.py
  src/will/self_healing/clarity_service.py
Labels: feat, fix

refactor(will/workers): split AuditViolationSensor — SRP (modularity.needs_split)
  src/will/workers/audit_violation_filter.py
  src/will/workers/audit_violation_normalizer.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

governance: ADR-036 — exclude PathResolver from modularity.needs_split
  .intent/enforcement/mappings/code/modularity.yaml
  .specs/decisions/ADR-036-path-resolver-excluded-from-needs-split.md
Labels: governance

docs: A3 plan + CHANGELOG — ADR-036
  .intent/CHANGELOG.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

docs: A3 plan — Phase 4 update, Band D #286, date bump
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(autonomy): sanitize execution_results on proposal_mapper write path
  src/will/autonomy/proposal_mapper.py
Labels: feat, fix

fix(autonomy): omit file_path from ProposalAction parameters for flow refs (ADR-032+)
  src/will/workers/violation_remediator.py
Labels: feat, fix

ADR-037: flow refs exempt from ADR-035 per-file scoping
  .specs/decisions/ADR-037-flow-scope-exception.md
  src/will/workers/violation_remediator.py
Labels: feat, fix

governance: track CLAUDE.md, add turn-scoped governor override clause
  .gitignore
  CLAUDE.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
