Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(commit_reachability_auditor): deduplicate orphan_sha findings
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

fix(workers): standardize declaration_name pattern; fix CLI runner injection
  src/cli/resources/workers/run.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

fix(auto_remediation): explicitly map modularity.class_too_large as PENDING
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

fix(executor): guarantee action registry populated on cold start
  src/body/atomic/executor.py
Labels: feat, fix

feat(g4): externalize impact_level from @register_action to .intent/
  .intent/enforcement/config/action_risk.yaml
  src/body/atomic/build_tests_action.py
  src/body/atomic/check_actions.py
  src/body/atomic/crate_ops.py
  src/body/atomic/executor.py
  src/body/atomic/file_ops.py
  src/body/atomic/fix_actions.py
  src/body/atomic/metadata_ops.py
  src/body/atomic/modularity_fix.py
  src/body/atomic/proposal_lifecycle_actions.py
  src/body/atomic/registry.py
  src/body/atomic/remediate_cognitive_role.py
  src/body/atomic/sync_actions/sync_actions.py
  src/shared/infrastructure/intent/action_risk.py
Labels: feat, fix, governance

docs: close G4 gate and ADR-008 in A3 plan
  .specs/planning/CORE-A3-plan.md
Labels: none

docs: close G4 gate and ADR-008 in A3 plan and decisions
  .specs/decisions/ADR-008-constitutionalize-action-impact-level.md
Labels: none

feat(governance): add audit-time enforcement for governed impact_level
  .intent/enforcement/mappings/architecture/atomic_actions.yaml
  .intent/rules/architecture/atomic_actions.json
Labels: governance

fix(tests): update ActionCategory assertion to include STATE member
  tests/body/atomic/test_registry__ActionCategory.py
Labels: test

fix(tests): resolve stale attribute references in body/atomic tests (#248)
  tests/body/atomic/test_fix_actions__action_fix_headers.py
  tests/body/atomic/test_fix_actions__action_fix_logging.py
  tests/body/atomic/test_fix_actions__action_format_code.py
  tests/body/atomic/test_sync_actions__action_sync_code_vectors.py
Labels: test

fix(tests): route 19 atomic action tests through governance token (#249)
  tests/body/atomic/test_fix_actions__action_fix_placeholders.py
  tests/body/atomic/test_fix_actions__action_format_code.py
  tests/body/atomic/test_sync_actions__action_sync_constitutional_vectors.py
Labels: test

fix(tests): bypass vocabulary projection check in pycache invalidation tests (#250)
  tests/body/atomic/test_modularity_fix__pycache_invalidation.py
Labels: test

docs: add ADR-029 and ADR-030
  .specs/decisions/ADR-029-explicit-non-automatable-rule-mapping.md
  .specs/decisions/ADR-030-daemon-stale-code-detection-posture.md
Labels: none

docs: add ADR-029 and ADR-030 to A3 plan index
  .specs/planning/CORE-A3-plan.md
Labels: none

Close N-01/N-02: vocabulary governance enforcement triangles complete
  .intent/CHANGELOG.md
  .intent/enforcement/mappings/governance/vocabulary_canonical_store.yaml
  .intent/enforcement/mappings/governance/vocabulary_registers.yaml
  .specs/planning/SESSION-PROTOCOL.md
Labels: governance

Close N-01/N-02: vocabulary governance enforcement triangles complete
  .specs/planning/INTERACTION-CONTRACT.md
Labels: none

docs(papers): add covering papers for 17 orphan worker implementations
  .specs/papers/CORE-AutonomousProposalWorker.md
  .specs/papers/CORE-CapabilityTagger.md
  .specs/papers/CORE-CoherenceSensor.md
  .specs/papers/CORE-CommitReachabilityAuditor.md
  .specs/papers/CORE-DbSyncWorker.md
  .specs/papers/CORE-DocumentationPipeline.md
  .specs/papers/CORE-IntentInspector.md
  .specs/papers/CORE-ObserverWorker.md
  .specs/papers/CORE-PromptGovernancePipeline.md
  .specs/papers/CORE-RepositoryIndexing.md
  .specs/papers/CORE-SelfHealingAgent.md
  .specs/papers/CORE-ViolationRemediatorBody.md
Labels: none

fix(deps): patch Dependabot high/medium vulnerabilities
  poetry.lock
  pyproject.toml
Labels: deps

fix(intent-inspector): derive valid worker statuses from enums.json
  src/will/workers/intent_inspector.py
Labels: feat, fix

fix(intent): CHANGELOG v0.4+v0.5 + vocabulary_registers YAML fix
  .intent/CHANGELOG.md
  .intent/enforcement/mappings/governance/vocabulary_registers.yaml
Labels: governance

docs(plan): Band D active focus; C and E deferred until G2 demonstrated
  .specs/planning/CORE-A3-plan.md
Labels: none

fix: resolve deferred findings on proposal completion (#260)
  src/body/services/blackboard_service.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

docs: update G2 status — measurement unblocked (2026-05-09)
  .specs/planning/CORE-A3-plan.md
Labels: none

fix: generate one ProposalAction per affected file (#109)
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix: restrict BlackboardShopManager stale scan to finding and proposal types
  src/body/services/blackboard_service.py
Labels: feat, fix

fix: route class_too_large to DELEGATE instead of PENDING (#264)
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

Cleanup.
  main
Labels: none

docs: README v2.4.0 release marker
  README.md
Labels: docs

docs: update README — release, rule count, autonomy badge
  README.md
Labels: docs

feat(governance): ADR-031 — no hardcoded runtime directory paths
  .intent/enforcement/mappings/architecture/path_access.yaml
  .intent/rules/architecture/path_access.json
  .specs/decisions/ADR-031-no-hardcoded-runtime-dir-paths.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

fix(adr-031): PathResolver governance — leverage roots, fix.path_resolver, pipeline fixes
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  README.md
  src/body/atomic/fix_actions.py
  src/body/atomic/sync_actions/sync_actions.py
  src/body/services/file_service.py
  src/body/validators/logic_conservation_validator.py
  src/mind/logic/engines/knowledge_gate.py
  src/shared/config.py
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/vector/adapters/constitutional/doc_key_resolver.py
  src/shared/models/action_result.py
  src/shared/models/remediation.py
  src/shared/path_resolver.py
  src/shared/path_utils.py
  src/will/autonomy/proposal_mapper.py
  src/will/orchestration/remediation_orchestrator.py
  src/will/workers/repo_crawler.py
  src/will/workflows/dev_sync_phases.py
  tests/body/atomic/test_fix_actions__action_fix_placeholders.py
  tests/body/atomic/test_fix_actions__action_format_code.py
Labels: feat, fix, docs, test, governance

docs(a3-plan): update G4 status — fix.path_resolver built and mapped, proposal pending
  .specs/planning/CORE-A3-plan.md
Labels: none

ADR-032: tighten no_hardcoded_runtime_dirs regex to path-construction context
  .intent/CHANGELOG.md
  .intent/enforcement/mappings/architecture/path_access.yaml
  .specs/decisions/ADR-032-tighten-no-hardcoded-runtime-dirs-regex.md
  src/body/atomic/fix_actions.py
  src/cli/commands/check/converters.py
  src/cli/commands/inspect/patterns.py
  src/cli/commands/inspect/repo_census.py
  src/cli/logic/governance/traceability_service.py
  src/will/self_healing/remediation_evidence_writer.py
Labels: feat, fix, governance

fix(fix.path_resolver): insert PathResolver import in sorted position
  src/body/atomic/fix_actions.py
Labels: feat, fix

docs: add ADR-032 to A3 plan
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(proposal): sanitize execution_results before DB write (#274)
  src/will/autonomy/proposal_state_manager.py
  tests/will/autonomy/test_proposal_state_manager_sanitize.py
Labels: feat, fix, test

fix: clear no_hardcoded_runtime_dirs false positives (ADR-028, categories 3+4)
  src/body/atomic/fix_actions.py
  src/will/self_healing/audit_remediation_service.py
  src/will/self_healing/vulture_healer.py
Labels: feat, fix

fix(intent): exclude glob/pattern-string files from no_hardcoded_runtime_dirs
  .intent/enforcement/mappings/architecture/path_access.yaml
Labels: governance

fix: rewrite remaining no_hardcoded_runtime_dirs violations to PathResolver
  src/body/introspection/export_vectors.py
  src/body/introspection/generate_correction_map.py
  src/cli/logic/db.py
  src/cli/logic/governance/engine.py
  src/cli/resources/code/audit.py
  src/mind/enforcement/guard.py
  src/mind/governance/policy_coverage_service.py
Labels: feat, fix

docs: mark ADR-031 G4 category resolved — no_hardcoded_runtime_dirs at 0
  .specs/planning/CORE-A3-plan.md
Labels: none
