Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(ADR-134): register prompt_drift_sensor in prompt artifact_type supported_sensors
  .intent/artifact_types/prompt.yaml
Labels: governance

fix(build.tests): route test_generation to test_gen_prompt + inject source content
  src/body/atomic/build_tests_action.py
  src/will/agents/code_generation/code_generator.py
  tests/will/agents/test_code_generator_prompt_routing.py
Labels: feat, fix, test

fix(tests.status): correct test_remediator declaration_name in liveness query
  src/cli/commands/tests.py
Labels: feat, fix

fix(test_remediator): cast :count as int in to_jsonb() for asyncpg compat
  src/body/services/blackboard_service/blackboard_proposal_service.py
Labels: feat, fix

chore(release): bump version to 2.8.0 — Governed Delivery
  .specs/planning/CORE-Semver-Policy.md
  CHANGELOG.md
  README.md
  pyproject.toml
Labels: docs, deps

fix(ci): regenerate poetry.lock — resolves daily audit install failure
  poetry.lock
Labels: deps

fix(ci): fix import sort (I001) + README rule count drift
  README.md
  tests/api/v1/test_inspect_routes.py
  tests/body/analyzers/test_prompt_analyzer__PromptAnalyzer.py
  tests/body/atomic/test_assisted_actions.py
  tests/body/atomic/test_executor_artifact_type_refusal.py
  tests/body/atomic/test_executor_audit_gap.py
  tests/body/atomic/test_fix_actions__action_fix_imports.py
  tests/body/atomic/test_fix_actions__action_fix_placeholders.py
  tests/body/atomic/test_fix_actions__action_format_code.py
  tests/body/atomic/test_sandbox_validate.py
  tests/body/atomic/test_sync_actions__action_sync_constitutional_vectors.py
  tests/body/cli/commands/test_fix_code_style__fix_headers_internal.py
  tests/body/services/blackboard_service/test_retired_rule_sweep.py
  tests/body/services/grc/test_governance_corpus__proven_gap.py
  tests/mind/governance/test_firing_coverage_standing_gate.py
  tests/mind/governance/test_stateless_audit__fails_closed.py
  tests/mind/governance/test_stateless_audit__skips_db_rules.py
  tests/mind/logic/engines/test_glob_gate__GlobGateEngine.py
  tests/mind/logic/engines/test_llm_gate_stub__LLMGateStubEngine.py
  tests/mind/logic/engines/test_reaudit_requires_mechanism.py
  tests/mind/logic/engines/test_self_resolve_resolver_owned.py
  tests/mind/logic/engines/test_taxonomy_gate.py
  tests/mind/logic/engines/workflow_gate/checks/test_canary__CanaryDeploymentCheck.py
  tests/mind/logic/engines/workflow_gate/checks/test_linter__LinterComplianceCheck.py
  tests/mind/logic/test_grc_applicability.py
  tests/mind/logic/test_scout_inducer.py
  tests/test_smoke_asyncio.py
  tests/will/autonomy/test_proposal_service_reject_routing.py
  tests/will/workers/test_document_corpus_sensor.py
  tests/will/workers/test_proposal_pipeline_shop_manager_retire.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
  tests/will/workers/test_violation_executor_cap.py
Labels: docs, test

fix(ci): README diagram count + prompt sensor import + pip-audit CVE
  .github/workflows/core-ci.yml
  README.md
  src/will/workers/prompt_drift_sensor.py
  tests/will/workers/test_prompt_drift_sensor.py
Labels: feat, fix, docs, test, ci

fix(tests): resolve 80+ pre-existing CI failures across 27 files
  infra/sql/db_schema_live.sql
  src/body/atomic/build_test_for_symbol_action.py
  src/body/atomic/document/gap_analysis_action.py
  src/body/evaluators/test_gap_evaluator.py
  src/body/services/grc/gap_analysis_service.py
  src/body/services/grc/internal_corpus.py
  src/shared/infrastructure/intent/operational_config.py
  src/shared/workers/base.py
  tests/api/v1/test_audit_remediations.py
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_role_enforcement.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
  tests/body/services/auth/test_auth_password_and_tokens.py
  tests/body/services/grc/test_governance_corpus__proven_gap.py
  tests/cli/commands/test_tests_status.py
  tests/cli/logic/test_byor_stage.py
  tests/cli/logic/test_scout.py
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/mind/logic/engines/test_grc_judge__GRCJudgeEngine.py
  tests/mind/logic/engines/test_taxonomy_gate.py
  tests/shared/infrastructure/context/test_context_serializer__file_handler_di.py
  tests/shared/infrastructure/intent/test_operational_capabilities.py
  tests/will/autonomy/test_proposal_compute_risk_flow.py
  tests/will/workers/test_document_corpus_sensor.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
  tests/will/workers/test_violation_executor_cap.py
Labels: feat, fix, test

fix(tests): resolve CI-specific path failure in test_rule_fires__per_engine_type
  tests/mind/governance/test_rule_fires__per_engine_type.py
Labels: test

fix(specs): quote ADR-134 title to fix YAML frontmatter parse failure
  .specs/decisions/ADR-134-prompt-content-governance.md
Labels: none

feat(cli): register tests_app on core-admin as 'tests' subcommand
  src/cli/admin_cli.py
Labels: feat, fix

fix(tests): resolve remaining CI failures from fa8d56a7 CI run
  src/body/atomic/build_test_for_symbol_action.py
  src/body/services/grc/internal_corpus.py
  src/shared/workers/base.py
  tests/api/v1/test_census_routes.py
  tests/api/v1/test_coverage_routes.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_quality_routes.py
  tests/api/v1/test_refactor_routes.py
  tests/api/v1/test_sync_routes.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/cli/commands/test_tests_status.py
  tests/mind/governance/test_adr_076_firing_coverage.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: feat, fix, test

fix(intent): reclassify build.test_for_symbol impact_level moderate→safe
  .intent/enforcement/config/action_risk.yaml
Labels: governance

fix(tests): resolve final 3 CI failures from 2225c0ef batch
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/cli/commands/test_tests_status.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: test

fix(tests): fix collection error and wrong assertion from 34063433
  tests/cli/commands/test_tests_status.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: test

fix(tests): clear 5 pre-existing CI failures
  tests/body/services/grc/test_governance_corpus__proven_gap.py
  tests/cli/logic/test_byor_stage.py
  tests/shared/workers/test_base__post_observation.py
  tests/will/workers/test_resolution_mechanism_classification.py
Labels: test

fix(tests): clear 5 pre-existing CI failures
  src/shared/infrastructure/database/models/operations.py
Labels: feat, fix

feat(adr-135): dual-mode generation primitives — single_shot and iterative
  .intent/enforcement/config/generation_budget.yaml
  .intent/flows/flow.build_test_for_symbol.yaml
  .specs/decisions/ADR-135-dual-mode-generation-primitives.md
  src/body/atomic/build_test_for_symbol_action.py
  src/body/flows/registry.py
  src/shared/infrastructure/intent/generation_budget.py
  src/shared/models/__init__.py
  src/shared/models/generation_mode.py
  src/will/agents/acceptance/__init__.py
  src/will/agents/acceptance/conditions.py
  src/will/agents/iterative_coder_agent.py
  src/will/self_healing/test_generation/generator.py
  tests/body/atomic/test_build_test_for_symbol_iterative.py
  tests/shared/infrastructure/test_generation_budget.py
  tests/shared/models/test_generation_mode.py
  tests/will/agents/test_iterative_coder_agent.py
  var/prompts/context_aware_test_gen_repair/model.yaml
  var/prompts/context_aware_test_gen_repair/system.txt
  var/prompts/context_aware_test_gen_repair/user.txt
Labels: feat, fix, test, governance

fix(f5b34d3a-4ad3-4c): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/api/dependencies.py
Labels: feat, fix

feat(governance): path_access regex, two new enforcement rules, RuleRegistry utility
  .intent/enforcement/mappings/architecture/path_access.yaml
  .intent/enforcement/mappings/governance/operational_config.yaml
  .intent/enforcement/mappings/governance/rule_references.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/operational_config.json
  .intent/rules/governance/rule_references.json
  src/body/atomic/fix_actions.py
  src/shared/infrastructure/intent/rule_registry.py
  src/will/workers/audit_ingest_worker.py
  src/will/workers/prompt_drift_sensor.py
  src/will/workers/prompt_extractor_worker.py
  tests/shared/infrastructure/intent/test_rule_registry.py
Labels: feat, fix, test, governance

feat(governance): map code.tests.no_magicmock_on_await + no_placeholder_test_body
  .intent/enforcement/mappings/code/tests.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

feat(governance): path_access, threshold, and test-quality fixes
  .intent/enforcement/config/operational_config.yaml
  .intent/enforcement/mappings/governance/rule_references.yaml
  src/body/maintenance/scripts/context_export.py
  src/body/services/crate_creation_service.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/cli/commands/daemon.py
  src/cli/commands/guard.py
  src/cli/logic/cli_utils.py
  src/cli/logic/db.py
  src/cli/logic/hub/app.py
  src/cli/logic/scout.py
  src/cli/logic/sync_domains.py
  src/cli/resources/intent/sync_vocabulary.py
  src/mind/governance/audit_context.py
  src/shared/infrastructure/context/shadow_materializer.py
  src/shared/infrastructure/context/validator.py
  src/shared/infrastructure/diagnostic_service.py
  src/shared/infrastructure/git_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/shared/infrastructure/validation/test_runner.py
  src/shared/path_resolver.py
  src/will/orchestration/decision_tracer.py
  src/will/orchestration/process_orchestrator.py
  src/will/self_healing/alignment/specialists.py
  src/will/strategists/validation_strategist.py
  src/will/workers/violation_remediator_body/ceremony.py
  tests/shared/test_atomic_action__get_action_metadata.py
Labels: feat, fix, test, governance

fix(governance): narrow threshold regex to exclude keyword args; remove dead _PID_DIR_REL
  .intent/enforcement/mappings/governance/operational_config.yaml
  src/cli/commands/daemon.py
Labels: feat, fix, governance

chore: ignore spikes/ directory for throwaway measurement instruments
  .gitignore
Labels: none

chore(deps): bump ruff 0.14.8 → 0.15.20; ignore UP042 + ASYNC240
  poetry.lock
  pyproject.toml
Labels: deps

style(shared): ruff-format lambda + align pre-commit ruff hook to v0.15.20
  .pre-commit-config.yaml
  src/shared/config.py
Labels: feat, fix

chore(deps): bump jsonschema 4.26, numpy 2.5, qdrant-client 1.18, pytest-mock 3.15
  poetry.lock
  pyproject.toml
Labels: deps

fix(#722,#723,#724): action-risk meta-test, worker-import AST rule, blackboard obligation
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/rules/architecture/layer_separation.json
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/workers/base.py
  tests/body/atomic/test_consolidated_action_risk_meta.py
  tests/shared/workers/test_base__blackboard_obligation.py
Labels: feat, fix, test, governance

fix(#453,#512): invert diagnostic-field casing rule; retire no_global_session
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/governance/vocabulary_registers.yaml
  .intent/rules/architecture/async_logic.json
  .intent/rules/governance/vocabulary_registers.json
  CLAUDE.md
Labels: governance

fix(review): external-review P0+P1 sweep — bypass removal, instrument honesty, dispatch parity
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/sanctuaries.yaml
  .intent/taxonomies/substrate_enforcement.yaml
  .specs/decisions/ADR-135-dual-mode-generation-primitives.md
  .specs/decisions/ADR-136-substrate-enforcement-taxonomy-dispatch-parity.md
  .specs/decisions/ADR-137-instrument-no-data-semantics-sanctuary-registry.md
  CLAUDE.md
  src/cli/resources/coherence/seed.py
  src/mind/coherence/checker.py
  src/mind/coherence/checks/dispatch_parity.py
  src/mind/logic/engines/registry.py
  src/shared/action_logger.py
  src/will/self_healing/alignment/specialists.py
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix, governance

fix(review): P0-tail asyncio bypass + P1.5 convergence artifact
  src/body/services/health_log_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(#739): fill 97 missing auto_remediation.yaml stubs — ADR-066 invariant
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

refactor(body): extract path_resolver AST helpers into dedicated module
  src/body/atomic/fix_actions.py
  src/body/atomic/path_resolver_rewriter.py
  tests/body/atomic/test_fix_actions__transform_path_resolver.py
Labels: feat, fix, test

refactor(workers): extract ScheduledWorker base, fix cycle-error blackboard posting
  src/shared/workers/scheduled_worker.py
  src/will/workers/blackboard_shop_manager.py
  src/will/workers/governance_embedding/governance_embedder_worker.py
  src/will/workers/observer_worker.py
  src/will/workers/prompt_drift_sensor.py
  src/will/workers/proposal_pipeline_shop_manager.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedding/repo_embedder_workers.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_runner_sensor.py
  src/will/workers/violation_executor.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

test(P3-#15): instrument tests for P1 sweep (f3fc59b5) — 23 new cases
  tests/body/services/test_health_log_service__convergence_artifact.py
  tests/mind/coherence/test_dispatch_parity.py
  tests/will/autonomy/test_proposal_execution_pipeline__compute_changed_files.py
  tests/will/workers/audit_violation_sensor/test_no_data_guard.py
Labels: test

docs(#725): add CONTRIBUTOR-MINDSET.md — permitted / forbidden / why framing
  .specs/CONTRIBUTOR-MINDSET.md
Labels: none

docs(P4-#18): add CORE-Blackboard-State-Machine.md constitutional paper
  .specs/papers/CORE-Blackboard-State-Machine.md
Labels: none

docs(P4-#20): add CORE-Deployment-Readiness.md — pre-multi-user flag
  .specs/papers/CORE-Deployment-Readiness.md
Labels: none

feat(#671,#672): add deployment_mode.yaml — solo mode with multi-user prerequisites
  .intent/enforcement/config/deployment_mode.yaml
Labels: governance
