Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(tests): #572 Cat B drain batch 4 — 17 fails in constitutional_auditor_dynamic
  tests/mind/governance/constitutional_auditor_dynamic/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 5 — 28 fails across llm_gate + ast_gate engine tests
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
  tests/mind/logic/engines/test_llm_gate__LLMGateEngine.py
Labels: test

fix(tests): #572 Cat B drain batch 6 — clear 80 ERROR-state tests across 6 files
  tests/body/services/governance_claims_service/test_generated.py
  tests/body/services/test_crate_creation_service__CrateCreationService.py
  tests/mind/logic/engines/cli_gate/checks/dangerous_explicit/test_generated.py
  tests/mind/logic/engines/cli_gate/checks/discovery_strict/test_generated.py
  tests/mind/logic/engines/cli_gate/checks/no_layer_exposure/test_generated.py
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 7 — 16 fails across 3 files surfaced by batch 6
  tests/body/services/governance_claims_service/test_generated.py
  tests/mind/logic/engines/cli_gate/checks/discovery_strict/test_generated.py
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 8 — 11 fails in tests/shared/test_cli_utils.py
  tests/shared/test_cli_utils.py
Labels: test

fix(tests): #572 Cat B drain batch 9 — 14 fails across workflow_gate test pair
  tests/mind/logic/engines/workflow_gate/checks/test_coverage__CoverageMinimumCheck.py
  tests/mind/logic/engines/workflow_gate/test_engine__WorkflowGateEngine.py
Labels: test

fix(tests): #572 Cat B drain batch 10 — 8 fails in test_path_resolver__PathResolver
  tests/shared/test_path_resolver__PathResolver.py
Labels: test

fix(tests): #572 Cat B drain batch 11 — 14 fails across 2 files
  tests/body/services/test_crate_processing_service__CrateProcessingService.py
  tests/shared/test_cli_utils__core_command.py
Labels: test

fix(tests): #572 Cat B drain batch 12 — 14 fails across 2 files
  tests/body/analyzers/test_file_analyzer__FileAnalyzer.py
  tests/mind/governance/policy_coverage_service/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 13 — 11 fails across 2 files
  tests/body/services/blackboard_service/blackboard_service/test_generated.py
  tests/mind/governance/micro_proposal_validator/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 14 — 8 fails across 2 files
  tests/mind/governance/test_violation_report__ConstitutionalViolationError.py
  tests/mind/logic/engines/ast_gate/checks/test_capability_checks__CapabilityChecks.py
Labels: test

fix(tests): #572 Cat B drain batch 15 — 10 fails across 2 files
  tests/body/cli/commands/test_fix_code_style__fix_headers_internal.py
  tests/mind/governance/test_audit_context__AuditorContext.py
Labels: test

fix(tests): #572 Cat B drain batch 16 — 10 fails across 3 files
  tests/body/atomic/test_sync_actions__action_sync_constitutional_vectors.py
  tests/cli/logic/autonomy/test_views__print_detailed_info.py
  tests/mind/governance/test_auditor__ConstitutionalAuditor.py
Labels: test

fix(tests): #572 Cat B drain batch 17 — 5 fails across 3 files
  tests/api/test_main__create_app.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
  tests/shared/models/execution_models/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 18 — 7 singleton fails across 7 files
  tests/body/analyzers/test_prompt_analyzer__PromptAnalyzer.py
  tests/body/self_healing/docstring_service/test_generated.py
  tests/mind/governance/test_auditor___determine_verdict.py
  tests/mind/governance/test_executable_rule__ExecutableRule.py
  tests/mind/governance/test_key_management_service__KeyManagementError.py
  tests/mind/governance/test_key_management_service__keygen.py
  tests/shared/test_cli_utils__async_command.py
Labels: test

fix(tests): #572 Cat B drain batch 19 — 4 singleton fails across 4 files
  tests/mind/logic/engines/workflow_gate/checks/test_audit__AuditHistoryCheck.py
  tests/will/workers/audit_violation_sensor/test_generated.py
  tests/will/workers/blackboard_shop_manager/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 20 — last visible singleton + dead stub
  tests/body/services/crawl_service/main_module/test_generated.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: test

fix(governance): #588 — close ASTGateEngine dispatch gaps; add unknown-check guard
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
Labels: feat, fix, test

feat(test-gen): #589 Tier 1 — ground test-gen prompt in live source introspection
  src/will/test_generation/helpers/test_executor.py
  src/will/test_generation/introspection_facts.py
  src/will/test_generation/prompt_engine.py
  tests/will/test_generation/test_introspection_facts.py
Labels: feat, fix, test

feat(test-gen): #589 Tier 2 — five test-quality shape validators in PatternValidators
  src/body/governance/intent_pattern_validators.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: feat, fix, test

feat(test-gen): #589 Tier 3 — .intent/ rule documents + autogen header cleanup
  .intent/rules/code/test_quality.json
  src/will/test_generation/persistence.py
Labels: feat, fix, governance

docs(planning): refresh Operational-Completeness tracker for 2026-06-07 session
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

docs(planning): reconcile Feature-Dependency-Graph with extension-interfaces trio ship
  .specs/planning/CORE-Feature-Dependency-Graph.md
Labels: none

docs(planning): archive CORE-A3-plan — A3 milestone fully closed 2026-05-12
  .specs/planning/archive/CORE-A3-plan.md
Labels: none

docs(planning): reconcile remaining planning docs with CORE-A3-plan archive
  .specs/planning/INTERACTION-CONTRACT.md
  .specs/planning/SESSION-PROTOCOL.md
  .specs/planning/data-contracts-inventory.md
Labels: none

docs(governance): #587 + #590 — mark V2.3-REBIRTH scaffold cluster, skip orphaned contract tests
  src/body/evaluators/constitutional_evaluator.py
  src/will/orchestration/process_orchestrator.py
  src/will/strategists/validation_strategist.py
  tests/body/evaluators/test_constitutional_evaluator.py
Labels: feat, fix, test

fix(tests): #572 Cat B drain batch 21 — coherence/seed autogen residual (7 fails)
  tests/cli/resources/coherence/seed/test_generated.py
Labels: test

fix(tests): #572 Cat B drain batch 22 — adjudicate_awaiting_reaudit (3 fails, 4 drift shapes)
  tests/body/services/blackboard_service/blackboard_service/test_adjudicate_awaiting_reaudit.py
Labels: test

fix(tests): #572 Cat B drain batch 23 — d8 graceful shutdown CHECK constraint (3 fails)
  tests/shared/workers/test_base__d8_graceful_shutdown.py
Labels: test

fix(tests): #572 Cat B drain batch 24 — ADR-068 D5 enum retirement + CHECK/FK on revival path (4 fails)
  tests/cli/resources/proposals/test_reject_revives_findings.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
Labels: test

fix(tests): #572 Cat B drain batch 25 — artifact_gate engine-bug skip (2 fails, #591 filed)
  tests/engines/test_artifact_gate_all_rules_mapped.py
Labels: test

fix(tests): #572 Cat B drain batch 26 — DB constraint cluster across 3 files (3 fails)
  tests/will/autonomy/test_proposal_state_manager_sanitize.py
  tests/will/workers/test_test_remediator_defer_to_proposal.py
  tests/will/workers/test_violation_remediator_subsume_proposal_id.py
Labels: test

fix(tests): #572 Cat B drain batch 27 — smoke env-config skips (2 fails, #592 filed)
  tests/test_smoke_db.py
  tests/test_smoke_runtime.py
Labels: test

fix(tests): #572 Cat B drain batch 28 — three single-fail surface fixes across 3 files
  tests/mind/logic/engines/cli_gate/engine/test_generated.py
  tests/shared/test_action_types.py
  tests/shared/workers/test_declaration_validator.py
Labels: test

fix(tests): #572 Cat B drain batch 29 — final 11 fails cleared; #572 ready to close
  tests/api/test_main.py
  tests/body/atomic/test_executor_worktree_isolation.py
  tests/cli/resources/code/test_audit_offline_mode.py
Labels: test

fix(governance): #591 — artifact_gate._check_all_rules_mapped honours repo_root; unskip 2 tests
  src/mind/logic/engines/artifact_gate.py
  tests/engines/test_artifact_gate_all_rules_mapped.py
Labels: feat, fix, test

docs(governance): #506 — accept pathlib variable-receiver gap; sanctuary-mark 2 remaining sites
  src/cli/resources/coherence/seed.py
  src/shared/action_logger.py
Labels: feat, fix

fix(config): #592 — Settings.__init__ no longer clobbers pytest-mode CORE_ENV
  src/shared/config.py
  tests/test_smoke_db.py
  tests/test_smoke_runtime.py
Labels: feat, fix, test

feat(evaluators): #590 closures 3+4 — DI ConstitutionalEvaluator(repo_root) + activate V2 contract
  src/body/evaluators/constitutional_evaluator.py
  tests/body/evaluators/test_constitutional_evaluator.py
Labels: feat, fix, test

feat(orchestration): #590 closure 1 — ProcessOrchestrator auto-discover dispatch + fix discover_components regression
  src/shared/component_primitive.py
  src/will/orchestration/process_orchestrator.py
  src/will/strategists/validation_strategist.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
