Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

release: 2.13.0 -- your AI assistant can ask CORE instead of guessing (ADR-168 D4.3)
  .gitlab-ci/CORE.gitlab-ci.yml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  docs/cold-reviewer.md
  docs/reference/openapi.json
  pyproject.toml
Labels: docs, deps

chore: delete 20 unreachable modules and their tests (dead-code sweep, batch 1)
  src/api/rate_limiter.py
  src/body/introspection/symbol_index_builder.py
  src/body/project_lifecycle/bootstrap_service.py
  src/body/self_healing/handlers/id_assignment_handler.py
  src/body/services/cim/__init__.py
  src/body/services/cim/policy.py
  src/body/services/governance_init.py
  src/body/services/intent_schema_validator.py
  src/body/services/llm_client.py
  src/body/services/policy_expression_evaluator.py
  src/mind/governance/micro_proposal_validator.py
  src/shared/cli_types.py
  src/shared/config_loader.py
  src/shared/models/pattern_graph.py
  src/shared/utils/header_tools.py
  src/shared/utils/path_utils.py
  src/will/agents/conversational/__init__.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  src/will/agents/conversational/helpers.py
  src/will/agents/iterative_coder_agent.py
  src/will/self_healing/enrichment_service.py
  tests/api/test_rate_limiter.py
  tests/body/project_lifecycle/test_bootstrap_service__gh_command.py
  tests/body/self_healing/test_id_assignment_handler__orphan_shadow.py
  tests/body/services/test_governance_init__initialize_governance.py
  tests/body/services/test_llm_client__LLMClient.py
  tests/mind/governance/micro_proposal_validator/__init__.py
  tests/mind/governance/micro_proposal_validator/test_generated.py
  tests/mind/governance/test_micro_proposal_validator__MicroProposalValidator.py
  tests/shared/test_cli_types.py
  tests/shared/test_cli_types__CommandResult.py
  tests/shared/test_cli_types__WorkflowRun.py
  tests/shared/test_config_loader.py
  tests/shared/test_config_loader__load_yaml_file.py
  tests/will/agents/test_iterative_coder_agent.py
  tests/will/self_healing/test_enrichment_service.py
Labels: feat, fix, test

chore: delete key_management_service, superseded by ADR-170 (closes #937)
  src/body/governance/key_management_service.py
  tests/body/governance/test_key_management_service__KeyManagementError.py
  tests/body/governance/test_key_management_service__keygen.py
Labels: feat, fix, test

governance(intent): the orphan-file check sees; exemptions and a rule for deleted files go (proposal 0005)
  .intent/enforcement/contracts/PatternViolation.json
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/data/governance.json
  README.md
  docs/how-it-works.md
Labels: docs, governance

fix: restore api/rate_limiter -- core-platform imports check_rate
  src/api/rate_limiter.py
  tests/api/test_rate_limiter.py
Labels: feat, fix, test

chore: delete 14 symbols used only by their own tests (dead-code sweep, batch 2b)
  src/body/autonomy/audit_analyzer.py
  src/body/quality/coverage_analyzer.py
  src/cli/commands/check/formatters.py
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
  src/shared/infrastructure/context/providers/ast.py
  src/shared/utils/embedding_utils.py
  src/will/agents/code_generation/pattern_validator.py
  src/will/workers/blackboard_shop_manager.py
  tests/body/autonomy/test_audit_analyzer.py
  tests/body/quality/test_coverage_analyzer__subprocess_routing.py
  tests/cli/commands/check/formatters/test_generated.py
  tests/mind/logic/engines/ast_gate/checks/modularity_checks/test_generated.py
  tests/shared/utils/test_embedding_utils.py
  tests/will/agents/test_pattern_validator__test_file.py
Labels: feat, fix, test

chore: delete the cascade left by batches 2a/2b (dead-code sweep, batch 2c-1)
  src/body/autonomy/audit_analyzer.py
  src/body/quality/coverage_analyzer.py
  src/body/self_healing/header_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/body/services/crate_processing_service.py
  src/body/services/symbol_query_service.py
  src/cli/commands/check/converters.py
  src/cli/logic/cli_utils.py
  src/shared/infrastructure/context/providers/ast.py
  src/shared/infrastructure/context/providers/db.py
  src/shared/infrastructure/vector/adapters/constitutional_adapter.py
  src/shared/utils/__init__.py
  src/will/orchestration/self_correction_engine.py
  src/will/tools/symbol_finder.py
  tests/body/services/test_crate_processing_service__CrateProcessingService.py
Labels: feat, fix, test

feat(audit): --verbose lists the sample issues behind an aggregate finding (ADR-098 D3)
  src/cli/commands/check/formatters.py
  src/cli/renderers/audit_detail.py
  src/cli/resources/code/audit.py
  tests/cli/commands/check/test_formatters__sample_issues.py
  tests/cli/renderers/test_audit_detail.py
Labels: feat, fix, test

refactor: remove the never-built anchor subsystem and its ADR-025 wiring
  src/body/atomic/build_tests_action.py
  src/body/infrastructure/bootstrap.py
  src/shared/context.py
  src/shared/tools/anchor_builder.py
  src/shared/tools/anchor_search.py
  src/shared/tools/anchors/__init__.py
  src/shared/tools/anchors/discovery.py
  src/shared/tools/anchors/storage.py
  src/shared/tools/architectural_context_builder.py
  src/shared/tools/context/__init__.py
  src/shared/tools/context/code_snippet_extractor.py
  src/shared/tools/context/embedding_search.py
  src/shared/tools/context/formatter.py
  src/shared/tools/context/models.py
  src/shared/tools/context/query_builder.py
  src/shared/tools/context/retriever.py
  src/shared/tools/context/standards.py
  src/shared/tools/layers.py
  src/shared/tools/module_anchor_generator.py
  src/shared/tools/module_descriptor.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/code_generation/prompt_builders.py
  src/will/agents/coder_agent.py
  src/will/tools/__init__.py
  src/will/tools/architectural_context_builder.py
  src/will/tools/context/formatter.py
  tests/shared/test_context__context_builder_factory.py
  tests/will/agents/test_coder_agent_context_builder_wiring.py
Labels: feat, fix, test

feat(dead-code): baseline ratchet, and law-dispatched check methods are ignored names
  src/mind/logic/engines/workflow_gate/checks/dead_code.py
  tests/mind/logic/engines/workflow_gate/test_dead_code__sanctuary_delegation.py
Labels: feat, fix, test

fix: restore AuditAnalyzer.analyze_findings -- a blocking rule names it as its enforcer
  src/body/autonomy/audit_analyzer.py
  tests/body/autonomy/test_audit_analyzer.py
Labels: feat, fix, test

governance(intent): the dead-code check sees, with a ratchet baseline; fix.vulture_heal removed; ADR-025 retired (proposal 0006)
  .intent/artifact_types/python.yaml
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/config/dead_code_baseline.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/taxonomies/operational_capabilities.yaml
  .specs/decisions/ADR-025-architectural-context-builder-wiring.md
  examples/starter-intent/.intent/enforcement/config/action_risk.yaml
  examples/starter-intent/.intent/taxonomies/operational_capabilities.yaml
  src/body/atomic/fix/__init__.py
  src/body/atomic/fix/vulture_heal.py
  src/body/self_healing/vulture_healer.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/_machinery_floor/taxonomies/operational_capabilities.yaml
Labels: feat, fix, governance

fix(remediation): a DELEGATE entry needs no action -- keep it in the RemediationMap
  src/body/autonomy/audit_analyzer.py
  tests/body/autonomy/test_load_remediation_map__delegate_without_action.py
Labels: feat, fix, test

governance(remediation): the 0.80 confidence floor is enforced where it is decided (proposal 0007)
  .intent/enforcement/mappings/will/autonomy.yaml
  .specs/verification/g2_blocking_rule_registry.yaml
  src/body/autonomy/audit_analyzer.py
  src/mind/logic/engines/artifact_gate.py
  src/will/remediation/ceremony.py
  tests/body/autonomy/test_load_remediation_map__confidence_floor.py
  tests/body/autonomy/test_load_remediation_map__delegate_without_action.py
  tests/mind/logic/engines/test_artifact_gate__remediation_confidence_floor.py
Labels: feat, fix, test, governance

governance(g4): measured in continuous operation, not by a frozen soak (proposal 0008)
  .specs/attestations/production-readiness.yaml
  .specs/attestations/soak-g4-predeclaration-2026Q4.md
  .specs/requirements/URS-production-readiness.md
  README.md
Labels: docs

fix(remediation): a reaper-rebuilt consequence names the findings its proposal addressed
  src/body/services/proposal_supervision_service.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/body/services/test_proposal_supervision_service.py
  tests/will/workers/test_proposal_pipeline_shop_manager_roll_forward.py
Labels: feat, fix, test

fix(proposals): a malformed proposal is refused at submission, and an unknown action is never safe
  src/api/v1/proposals_routes.py
  src/will/autonomy/proposal.py
  src/will/governance/proposal_runner.py
  tests/api/v1/test_proposals_routes.py
  tests/will/autonomy/test_proposal_check_submission.py
  tests/will/governance/test_proposal_runner.py
Labels: feat, fix, test

fix(assisted): validate_diff sees the files a patch creates
  src/body/atomic/assisted_actions.py
  tests/body/atomic/test_assisted_actions.py
Labels: feat, fix, test

governance(adr-168): the Proposal capability -- one way in for every producer (proposal 0009)
  .specs/decisions/ADR-168-core-governs-the-assistant.md
Labels: none

fix(coherence): a CCC run names the check classes that did not run
  src/cli/logic/coherence_coverage.py
  src/cli/resources/coherence/check.py
  src/cli/resources/coherence/report.py
  tests/cli/logic/test_coherence_coverage.py
Labels: feat, fix, test

fix(embedding): batch embedding calls the batch method again
  src/shared/infrastructure/vector/cognitive_adapter.py
  src/shared/protocols/cognitive.py
  tests/shared/infrastructure/vector/test_cognitive_adapter_batch.py
Labels: feat, fix, test

fix(llm): the fallback-chain client passes batch embedding through
  src/shared/infrastructure/llm/fallback_client.py
  tests/shared/infrastructure/llm/test_fallback_client.py
Labels: feat, fix, test

fix(coherence): an unjudged pair is unchecked, not "no contradiction"
  src/cli/logic/coherence_coverage.py
  src/mind/coherence/checker.py
  src/mind/coherence/checks/base.py
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/sameconcern.py
  src/mind/coherence/llm_judge.py
  tests/mind/coherence/checks/test_sameconcern__batch_embed.py
  tests/mind/coherence/test_unjudged_pairs.py
Labels: feat, fix, test

docs(reference): regenerate openapi.json for the POST /proposals 422 description
  docs/reference/openapi.json
Labels: docs

governance(registers): a lessons register and a hand-kept G4 action register (proposal 0010)
  .intent/governance/namespace_manifest.yaml
  .specs/registers/g4-action-register.md
  .specs/registers/lessons-register.md
Labels: governance

governance(ccc-triage): law text corrected to the decisions already made (proposal 0011)
  .intent/enforcement/contracts/ExecutionTask.json
  .intent/enforcement/contracts/TaskStructure.json
  .intent/enforcement/remediation/auto_remediation.yaml
  .specs/decisions/ADR-059-severity-vocabulary-governance.md
  .specs/decisions/ADR-076-per-check-type-context-level-dispatch.md
  .specs/decisions/ADR-101-commit-authorship-integrity.md
  .specs/decisions/ADR-111-onboard-delivers-authored-starter.md
  .specs/decisions/ADR-120-t5a-repository-adapter-interface.md
  .specs/decisions/ADR-138-prompt-governance-authorship-enforcement-dispatch.md
  .specs/decisions/ADR-158-vocabulary-register-assignment-corrections.md
  .specs/papers/CORE-DocumentationPipeline.md
  .specs/papers/CORE-IntentGuard.md
Labels: governance

fix(coherence): the claim harvester skips documents no longer in force
  src/shared/governance/coherence_harvester.py
  tests/shared/governance/__init__.py
  tests/shared/governance/test_coherence_harvester_not_in_force.py
Labels: feat, fix, test

docs(onboard): the machinery floor comes from shared._machinery_floor
  docs/reference/openapi.json
  src/api/v1/onboard_routes.py
  src/cli/logic/byor.py
Labels: feat, fix, docs

governance(ccc-structural): grounding rule relaxed, triage carries forward, 20 references corrected (proposal 0012)
  .intent/governance/namespace_manifest.yaml
  .specs/CORE-CHARTER.md
  .specs/decisions/ADR-059-severity-vocabulary-governance.md
  .specs/decisions/ADR-065-documentation-layer-separation.md
  .specs/decisions/ADR-067-constitutional-coherence-checker.md
  .specs/decisions/ADR-068-principal-role-taxonomy.md
  .specs/decisions/ADR-094-urs-satisfaction-sensor-implementation.md
  .specs/decisions/ADR-096-shadow-kg-sensation-primitive.md
  .specs/decisions/ADR-097-target-class-dispatch-for-the-single-filesystem-write-channel.md
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  .specs/decisions/ADR-117-var-tmp-janitor-worker.md
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/papers/CORE-Constitution-Read-Only-Contract.md
  .specs/papers/CORE-Flow.md
  .specs/papers/CORE-Governance-Topology.md
  .specs/papers/CORE-Mind-Body-Will-Separation.md
  .specs/papers/CORE-Phases-as-Governance-Boundaries.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/requirements/CORE-Governor-Ask-URS.md
  .specs/verification/F-40-sidecar-walk.md
Labels: governance

fix(coherence): structural checks stop reporting parser artefacts; triage carries forward (implements proposal 0012)
  src/body/services/coherence_service.py
  src/cli/logic/coherence_coverage.py
  src/mind/coherence/checker.py
  src/mind/coherence/checks/path_ref.py
  src/mind/coherence/checks/row2_grounding.py
  src/mind/coherence/checks/row3_citation.py
  src/mind/coherence/checks/row4_naming.py
  src/shared/governance/coherence_harvester.py
  src/shared/infrastructure/git_service.py
  tests/mind/coherence/checks/test_path_ref.py
  tests/mind/coherence/test_ccc_grounding_policy.py
  tests/mind/coherence/test_triage_carry_forward.py
  tests/mind/coherence/test_unjudged_pairs.py
  tests/shared/governance/test_coherence_harvester_not_in_force.py
  tests/shared/infrastructure/test_git_service_first_seen_follow.py
Labels: feat, fix, test

fix(coherence): ROW3's draft-paper skip as a paper-status set, not a 'draft' literal
  src/mind/coherence/checks/row3_citation.py
Labels: feat, fix

governance(registers): 2026-10-10 afternoon rows (proposal 0013)
  .specs/registers/g4-action-register.md
  .specs/registers/lessons-register.md
Labels: none

feat(proposals): every proposal says who and why (ADR-168 Amendment 2026-10-10 A2, producer build U1)
  docs/reference/openapi.json
  src/api/v1/proposals_routes.py
  src/will/autonomy/lane_service.py
  src/will/autonomy/proposal.py
  src/will/autonomy/proposal_factory.py
  src/will/autonomy/proposal_mapper.py
  src/will/autonomy/violation_remediator_proposal.py
  src/will/governance/proposal_runner.py
  src/will/orchestration/goal_run_probes.py
  src/will/remediation/ceremony.py
  src/will/workers/goal_execution_worker.py
  src/will/workers/test_remediator/_operations.py
  tests/api/v1/test_proposals_routes.py
  tests/will/autonomy/test_proposal_check_submission.py
  tests/will/governance/test_proposal_runner.py
Labels: feat, fix, docs, test

governance(producer): rulings R1-R5, governed text as data, proposal contracts (proposal 0014)
  .intent/enforcement/config/governance_paths.yaml
  .intent/enforcement/contracts/CreateProposalRequest.json
  .intent/enforcement/contracts/Proposal.json
  .specs/decisions/ADR-168-core-governs-the-assistant.md
Labels: governance

feat(validation): CORE chooses the checks for a change not born from a finding (producer build U2)
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/shared/infrastructure/intent/governed_text.py
  src/shared/infrastructure/validation/test_runner.py
  tests/body/atomic/test_assisted_actions__general.py
  tests/body/atomic/test_tool_runner.py
  tests/shared/infrastructure/intent/test_governed_text.py
  tests/shared/infrastructure/validation/test_test_runner__markers.py
Labels: feat, fix, test

feat(validation): Class B test rules bind every producer; statement cache fixed (producer build U2b)
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/body/governance/intent_pattern_validators.py
  tests/body/atomic/test_assisted_actions__general.py
  tests/body/governance/test_intent_pattern_validators_tier2.py
Labels: feat, fix, test

feat(step-zero): what a patch does, what it retires, which decisions touch it (producer build U3a)
  src/shared/infrastructure/assistant_surface/law_facts.py
  src/shared/infrastructure/git_service.py
  src/shared/utils/patch_facts.py
  tests/shared/infrastructure/assistant_surface/test_law_facts.py
  tests/shared/infrastructure/test_git_service_adr_refs.py
  tests/shared/utils/test_patch_facts.py
Labels: feat, fix, test

feat(step-zero): one report for the four questions; look-alikes never fake "none found" (producer build U3b)
  src/shared/utils/patch_facts.py
  src/will/autonomy/step_zero.py
  tests/shared/utils/test_patch_facts.py
  tests/will/autonomy/test_step_zero.py
Labels: feat, fix, test

feat(apply): an approved patch's deletions reach the main tree and the commit (producer build U4)
  src/body/atomic/assisted_actions.py
  src/body/atomic/executor.py
  src/body/atomic/sandbox_lifecycle.py
  tests/body/atomic/test_sandbox_declared_deletions.py
Labels: feat, fix, test

feat(commit): the producer is the git author, CORE the committer (producer build U5)
  src/shared/infrastructure/git_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  tests/shared/infrastructure/test_git_service_producer_author.py
  tests/will/autonomy/test_proposal_commit_outcome.py
  tests/will/autonomy/test_proposal_executor_finalization_wiring.py
Labels: feat, fix, test
