Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(governance): correct D3b layering — Body no longer imports will.autonomy
  src/body/services/proposal_submission_service.py
  src/will/autonomy/lane_service.py
  tests/body/services/test_proposal_submission_service.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

fix(governance): assisted-lane execution-failure revival lifecycle + claim-clearing drift
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/will/autonomy/proposal_consumer_revival.py
  tests/body/services/blackboard_service/blackboard_service/test_delegated_revival_claim_clearing.py
  tests/will/autonomy/test_proposal_consumer_revival_lineage.py
Labels: feat, fix, test

fix(deps): security baseline — cryptography 50.0.0, sqlparse 0.6.0, h2 4.4.1
  poetry.lock
  pyproject.toml
Labels: deps

fix(governance): ADR-154 D1 — ceremony patch generation + multi-rule validate_diff gate
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/will/remediation/ceremony.py
  src/will/remediation/crate_canary.py
  tests/body/atomic/test_assisted_actions.py
  tests/will/remediation/ceremony/__init__.py
  tests/will/remediation/ceremony/test_generated.py
  tests/will/remediation/crate_canary/test_generated.py
Labels: feat, fix, test

fix(governance): ADR-154 D1 — persist assisted.validate_diff via durable fix_runs row
  src/body/services/fix_run_service.py
  src/will/remediation/ceremony.py
  tests/body/services/test_fix_run_service.py
  tests/will/remediation/ceremony/test_generated.py
Labels: feat, fix, test

test(governance): ADR-154 D1 — real-DB proof for submit_and_persist_fix (core_test)
  tests/body/services/test_fix_run_service_integration.py
Labels: test

fix(governance): ADR-154 D1 — route patch-worktree write through FileHandler
  src/will/remediation/crate_canary.py
  tests/will/remediation/crate_canary/test_generated.py
Labels: feat, fix, test

fix(governance): ADR-154 D3 — ceremony candidate -> human-gated DRAFT
  src/body/atomic/assisted_actions.py
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/proposal_submission_service.py
  src/body/services/validated_candidate_service.py
  src/will/autonomy/lane_service.py
  src/will/autonomy/proposal_consumer_revival.py
  src/will/autonomy/proposal_factory.py
  src/will/autonomy/proposal_lineage.py
  src/will/autonomy/proposal_service.py
  src/will/remediation/blackboard.py
  src/will/remediation/ceremony.py
  tests/body/services/blackboard_service/blackboard_service/test_ceremony_revival.py
  tests/body/services/test_proposal_submission_service_ceremony.py
  tests/body/services/test_validated_candidate_service.py
  tests/will/autonomy/test_proposal_consumer_revival_lineage.py
  tests/will/autonomy/test_proposal_service_reject_routing.py
  tests/will/remediation/ceremony/test_generated.py
Labels: feat, fix, test

fix(governance): ADR-154 D3 correction — file-mode is genuinely candidate-export-only
  src/cli/resources/workers/remediate.py
  src/will/remediation/ceremony.py
  tests/cli/resources/workers/test_remediate_file_mode.py
  tests/will/remediation/ceremony/test_generated.py
Labels: feat, fix, test

fix(governance): ADR-154 D4 — structural retirement of RemediationCeremony write authority
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/rules/architecture/privileged_boundaries.json
  .intent/workers/violation_executor.yaml
  .intent/workers/violation_remediator_body.yaml
  .specs/decisions/ADR-153-remediation-ceremony-extraction.md
  src/cli/resources/workers/remediate.py
  src/will/remediation/_host.py
  src/will/remediation/blackboard.py
  src/will/remediation/ceremony.py
  src/will/remediation/crate_canary.py
  src/will/workers/violation_executor.py
  src/will/workers/violation_remediator_body/worker.py
  tests/cli/resources/workers/test_remediate_file_mode.py
  tests/will/remediation/ceremony/test_generated.py
  tests/will/remediation/test_no_live_mutation_call_sites.py
  tests/will/workers/test_violation_executor_cap.py
Labels: feat, fix, test, governance

fix(governance): ADR-154 D4 CI correction — rule-count drift from the new boundary rule
  .intent/workers/violation_executor.yaml
  CLAUDE.md
  README.md
  docs/how-it-works.md
Labels: docs, governance

test(governance): ADR-154 positive E2E acceptance proof (#818)
  tests/will/autonomy/test_adr154_e2e_acceptance.py
Labels: test

fix(tests): ADR-154 E2E — prevent pytest-cov subprocess-coverage combine crash
  tests/will/autonomy/test_adr154_e2e_acceptance.py
Labels: test

fix(tests): ADR-154 E2E — target the actual pytest-cov subprocess env vars
  tests/will/autonomy/test_adr154_e2e_acceptance.py
Labels: test

chore(governance): remove YPTO-identifying material; keep ITAM as legitimate context
  .specs/decisions/ADR-147-canary-sandbox-janitor-worker.md
  tests/body/services/grc/test_synthetic_corpus__proven_gap.py
  tests/body/services/test_crate_processing_service__CrateProcessingService.py
  tests/fixtures/grc/governance_corpus/access-review-work-instruction.md
  tests/fixtures/grc/governance_corpus/enterprise-patching-policy.md
  tests/fixtures/grc/governance_corpus/itam-governance-charter.md
  tests/fixtures/grc/governance_corpus_README.md
  tests/fixtures/grc/synthetic_corpus/information-security-baseline.md
  tests/fixtures/grc/synthetic_corpus/remote-access-policy.md
  tests/fixtures/grc/synthetic_corpus_README.md
Labels: test

docs(governance): ADR-121 accepted — Will placement, config: approval, fail-closed catalog discovery
  .intent/artifact_types/document_corpus.yaml
  .specs/decisions/ADR-121-t5b-grc-document-repository-type.md
  src/body/atomic/document/gap_analysis_action.py
  src/body/services/grc/catalog_resolver.py
  src/cli/resources/grc/gap_analysis.py
  src/will/workers/document_corpus_sensor.py
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/body/services/grc/test_catalog_resolver__discover_published_catalogs.py
  tests/will/workers/test_document_corpus_sensor.py
Labels: feat, fix, test, governance

fix(llm_gate): FAIL verdicts must always carry evidence
  src/mind/logic/engines/llm_gate.py
  tests/mind/logic/engines/test_llm_gate__LLMGateEngine.py
Labels: feat, fix, test

style: reformat intent_guard.py (ruff format)
  src/body/governance/intent_guard.py
Labels: feat, fix

governance(cli): add adopt-pack, consequence-chain to standard-verbs vocabulary
  .intent/enforcement/mappings/cli/interface_design.yaml
Labels: governance

fix(b674aa98-16a2-49): Autonomous remediation: fix.docstrings (2 violation(s) — rules: purity.docstrings.required)
  src/api/v1/onboard_routes.py
Labels: feat, fix

fix(59589b24-8079-4b): Autonomous remediation: fix.docstrings (1 violation(s) — rules: purity.docstrings.required)
  src/api/v1/scout_routes.py
Labels: feat, fix

fix(5286204e-103f-48): Autonomous remediation: fix.docstrings (2 violation(s) — rules: purity.docstrings.required)
  src/api/v1/secrets_routes.py
Labels: feat, fix

fix(0f4c2ded-fac5-40): Autonomous remediation: fix.docstrings (4 violation(s) — rules: purity.docstrings.required)
  src/api/v1/project_routes.py
Labels: feat, fix

fix(67100725-1e28-48): Autonomous remediation: fix.docstrings (2 violation(s) — rules: purity.docstrings.required)
  src/api/v1/vectors_routes.py
Labels: feat, fix

fix(519c7f85-11e3-47): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::rotate_secret (function)
  tests/api/v1/secrets_routes/__init__.py
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

docs(api): document symbols_routes.py's accepted no_body_bypass exception
  src/api/v1/symbols_routes.py
Labels: feat, fix

fix(e27f00db-150a-40): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::delete_secret (function)
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

fix(8acbeeee-b8c0-41): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::get_secret (function)
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

fix(0bce469d-55f8-4b): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::list_secrets (function)
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

fix(1c19e677-af9d-4b): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/symbols_routes.py::symbols_drift (function)
  tests/api/v1/symbols_routes/__init__.py
  tests/api/v1/symbols_routes/test_generated.py
Labels: test

fix(cd7d6a5d-d583-4b): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/symbols_routes.py::list_unassigned_symbols (function)
  tests/api/v1/symbols_routes/test_generated.py
Labels: test

fix(8dcf78cc-746c-42): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::SecretRotateRequest (class)
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

fix(b63c26fc-32aa-4a): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/secrets_routes.py::SecretSetRequest (class)
  tests/api/v1/secrets_routes/test_generated.py
Labels: test

fix(91b24221-5c32-42): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/vectors_routes.py::vector_query (function)
  tests/api/v1/vectors_routes/__init__.py
  tests/api/v1/vectors_routes/test_generated.py
Labels: test

fix(06eb4479-de72-4a): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/vectors_routes.py::vector_status (function)
  tests/api/v1/vectors_routes/test_generated.py
Labels: test

fix(734bfa9e-06ec-47): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/vectors_routes.py::VectorRebuildRequest (class)
  tests/api/v1/vectors_routes/test_generated.py
Labels: test

fix(0a1896bf-f896-4d): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/vectors_routes.py::VectorQueryRequest (class)
  tests/api/v1/vectors_routes/test_generated.py
Labels: test

fix(ddca1778-6051-40): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/onboard_routes.py::promote_onboard (function)
  tests/api/v1/onboard_routes/__init__.py
  tests/api/v1/onboard_routes/test_generated.py
Labels: test

fix(e1a48d6f-c0cb-4f): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/onboard_routes.py::onboard_project (function)
  tests/api/v1/onboard_routes/test_generated.py
Labels: test

fix(455dc2b6-7e3c-44): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/onboard_routes.py::PromoteRequest (class)
  tests/api/v1/onboard_routes/test_generated.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
