Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

feat(governance): F-41 Phase 1 — artifact type registry + 3 reference declarations (ADR-090 D1/D3)
  .intent/META/GLOBAL-DOCUMENT-META-SCHEMA.json
  .intent/META/artifact_type.schema.json
  .intent/META/intent_tree.yaml
  .intent/artifact_types/intent_yaml.yaml
  .intent/artifact_types/python.yaml
  .intent/artifact_types/spec_markdown.yaml
  src/shared/infrastructure/intent/intent_repository.py
Labels: feat, fix, governance

ci: convert daily sync workflow to audit-only Node 24 actions
  .github/workflows/daily_sync.yml
Labels: ci

feat(governance): F-41 Phase 2 — AuditViolationSensor consults registry (ADR-090 D4)
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

ci: convert daily sync workflow to audit-only Node 24 actions (#565)
  .github/workflows/daily_sync.yml
Labels: ci

feat(governance): F-41 Phase 3 — MetaValidator consults registry for intent_yaml discovery (ADR-090 D4)
  src/mind/governance/meta_validator.py
Labels: feat, fix

feat(governance): F-41 Phase 4 — CCC paper discovery consults registry (ADR-090 D4)
  src/mind/coherence/checker.py
Labels: feat, fix

docs(governance): CHANGELOG entry for ADR-090 — first ADR-084 D1 published contract
  .intent/CHANGELOG.md
Labels: governance

feat(governance): F-41 ADR-090 D7 — retire crawl_scopes.yaml, scopes derived from registry
  .intent/META/artifact_type.schema.json
  .intent/artifact_types/doc.yaml
  .intent/artifact_types/infra.yaml
  .intent/artifact_types/intent_json.yaml
  .intent/artifact_types/intent_yaml.yaml
  .intent/artifact_types/prompt.yaml
  .intent/artifact_types/python.yaml
  .intent/artifact_types/report.yaml
  .intent/artifact_types/spec_markdown.yaml
  .intent/artifact_types/test.yaml
  .intent/enforcement/config/crawl_scopes.yaml
  src/body/services/crawl_service/orchestrator.py
  src/shared/path_resolver.py
Labels: feat, fix, governance

feat(governance): F-41 gate 9 — artifact_discovery_through_registry rule (advisory)
  .intent/rules/architecture/artifact_discovery.json
Labels: governance

docs(governance): URS-mechanism-coherence draft — coherence-family gap layer
  .specs/requirements/URS-mechanism-coherence.md
Labels: none

fix(commit_reachability_auditor): dedup against indeterminate, not open
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

docs(cli): workers purge --status help text matches impl reality
  src/cli/resources/workers/blackboard.py
Labels: feat, fix

feat(workers): post_observation refuses duplicate indeterminate posts
  src/shared/workers/base.py
Labels: feat, fix

fix(worker_shop_manager): restore worker.silent state-machine symmetry
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

docs: model-agnostic onboarding + dependency-graph post-ship drift fix
  .specs/planning/CORE-Feature-Dependency-Graph.md
  docs/getting-started.md
Labels: docs

docs: align rule/engine counts with IntentRepository truth + taxonomy_gate row
  README.md
  docs/getting-started.md
Labels: docs

feat(governance): ADR-091 Phase 1 — F-42 pluggable sensor model contract
  .intent/CHANGELOG.md
  .intent/META/worker.schema.json
  .intent/artifact_types/python.yaml
  .intent/artifact_types/test.yaml
  .intent/enforcement/mappings/governance/sensor_taxonomy.yaml
  .intent/rules/governance/sensor_taxonomy.json
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_cli.yaml
  .intent/workers/audit_sensor_layout.yaml
  .intent/workers/audit_sensor_linkage.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_sensor_purity.yaml
  .intent/workers/audit_sensor_style.yaml
  .intent/workers/audit_violation_sensor.yaml
  .intent/workers/coherence_sensor.yaml
  .intent/workers/test_coverage_sensor.yaml
  .intent/workers/test_runner_sensor.yaml
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
  src/mind/logic/engines/taxonomy_gate.py
  src/shared/workers/base.py
Labels: feat, fix, governance

feat(governance): ADR-091 Phase 4 — CCC sub-discovery via registry
  .intent/CHANGELOG.md
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
  src/mind/coherence/checker.py
  src/mind/coherence/checks/row2_grounding.py
  src/mind/coherence/checks/row3_citation.py
  src/mind/coherence/checks/row4_naming.py
  src/mind/coherence/checks/vocabulary.py
Labels: feat, fix, governance

feat(governance): ADR-091 D1 conditional + #570 sensing-class audit
  .intent/CHANGELOG.md
  .intent/META/worker.schema.json
  .intent/artifact_types/doc.yaml
  .intent/artifact_types/infra.yaml
  .intent/artifact_types/intent_json.yaml
  .intent/artifact_types/intent_yaml.yaml
  .intent/artifact_types/prompt.yaml
  .intent/artifact_types/python.yaml
  .intent/artifact_types/report.yaml
  .intent/artifact_types/spec_markdown.yaml
  .intent/artifact_types/test.yaml
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/capability_tagger.yaml
  .intent/workers/commit_reachability_auditor.yaml
  .intent/workers/governance_embedder.yaml
  .intent/workers/intent_inspector.yaml
  .intent/workers/observer_worker.yaml
  .intent/workers/prompt_extractor_worker.yaml
  .intent/workers/repo_crawler.yaml
  .intent/workers/repo_embedder.yaml
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: governance

docs(governance): ADR-091 D5 Phase 3 + Phase 5 amendment — A2 derived-predicate strategy
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

feat(governance): ADR-091 D5 Phase 3 — AuditViolationSensor canonical-format migration
  src/body/atomic/remediate_cognitive_role.py
  src/body/services/blackboard_service/blackboard_claim_service.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/cli/resources/runtime/health.py
  src/cli/resources/workers/remediate.py
  src/mind/logic/engines/artifact_gate.py
  src/shared/infrastructure/intent/audit_namespaces.py
  src/shared/infrastructure/intent/intent_repository.py
  src/will/self_healing/remediation_interpretation/finding_normalizer.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/violation_executor.py
  src/will/workers/violation_remediator.py
  src/will/workers/violation_remediator_blackboard.py
  src/will/workers/violation_remediator_body/blackboard.py
Labels: feat, fix

docs(governance): ADR-091 Note appendix — D5 Phase 3 predicate-source correction
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

feat(governance): ADR-091 D5 Phase 5 — test sensors + coherence sensor canonical-format migration
  src/body/atomic/build_tests_action.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/test_coverage_paths.py
  src/shared/infrastructure/intent/test_namespaces.py
  src/will/workers/coherence_sensor.py
  src/will/workers/proposal_consumer_effects.py
  src/will/workers/proposal_consumer_worker.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  src/will/workers/test_runner_sensor.py
Labels: feat, fix

docs(governance): ADR-091 Note appendix — D5 Phase 5 predicate-source correction
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

feat(governance): ADR-091 D5 Phase 6 commit 0 — prompt.artifact pipeline canonical-format migration
  src/body/atomic/remediate_cognitive_role.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/will/workers/proposal_consumer_effects.py
Labels: feat, fix

docs(governance): ADR-091 Note appendix — D5 Phase 6 class:acting allowance + compound identity
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

fix(c60e5d32-f478-44): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/will/workers/proposal_consumer_effects.py
Labels: feat, fix

feat(governance): ADR-091 D5 Phase 6 commit 1 — 7-site canonical-API migration
  src/body/workers/call_site_rewriter.py
  src/will/workers/audit_ingest_worker.py
  src/will/workers/circuit_breaker.py
  src/will/workers/prompt_extractor_worker.py
  src/will/workers/violation_remediator.py
  src/will/workers/violation_remediator_body/worker.py
Labels: feat, fix

docs(governance): ADR-091 Note appendix — D5 Phase 6 commit 1 Gap 1 supervision + Gap 3 runtime-state
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

feat(governance): ADR-091 D5 Phase 6 commit 1b — intent_inspector canonical-API migration
  src/will/workers/intent_inspector.py
Labels: feat, fix

docs(governance): ADR-091 Note appendix — D5 Phase 6 commit 1b corrigendum
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(governance): ADR-091 D2 amendment proposal — runtime-state findings as third emission case (pending governor acceptance)
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(governance): ADR-091 D2 amendment Revision A — external review (ChatGPT) findings folded in
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(governance): ADR-091 D2 amendment Revision B — single API + resolution_mechanism field (supersedes Revision A; pending governor acceptance)
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(governance): ADR-091 D2 amendment — Revision B Accepted (governor decision 2026-06-05)
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

fix(api): bump audit_client timeout 300s → 1800s for daemon-driven runs
  src/api/cli/audit_client.py
Labels: feat, fix

fix(governance): map sensor_supported_by_declaration to DELEGATE (closes #571)
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

fix(deps): bump pytest 8 → 9 + pytest-asyncio 0.23 → 1.4 (closes #542)
  poetry.lock
  pyproject.toml
Labels: deps

fix(231c5d66-9c73-4b): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/mind/governance/policy_coverage_service/test_generated.py
Labels: test

fix(a32ee926-9a9b-4f): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/mind/governance/micro_proposal_validator/test_generated.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
