Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(ff183118-e815-45): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/coherence/checker.py
Labels: feat, fix

feat(ccc): Constitutional Coherence Checker — closes #374 implementation AC
  src/body/services/coherence_service.py
  src/cli/admin_cli.py
  src/cli/resources/coherence/__init__.py
  src/cli/resources/coherence/check.py
  src/cli/resources/coherence/hub.py
  src/cli/resources/coherence/report.py
  src/cli/resources/coherence/triage.py
  src/mind/coherence/__init__.py
  var/prompts/constitutional_coherence_analyst/model.yaml
  var/prompts/constitutional_coherence_analyst/system.txt
  var/prompts/constitutional_coherence_analyst/user.txt
Labels: feat, fix

feat(ccc): add --sample N for narrow exploratory CCC runs
  src/cli/resources/coherence/check.py
  src/mind/coherence/checker.py
Labels: feat, fix

fix(ccc): filter rule paths to .intent/rules/ only [B]
  src/mind/coherence/checker.py
Labels: feat, fix

feat(cli): append CCC advisory line to core-admin code audit [#422]
  src/cli/resources/code/audit.py
  tests/cli/resources/code/test_audit_advisory.py
Labels: feat, fix, test

fix(ccc): harden R2 parse — extract_json_safe + dict-wrapper unwrap
  src/mind/coherence/checker.py
Labels: feat, fix

fix: route artifact_gate .intent reads through IntentRepository
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix

fix(90fc5751-6288-49): Autonomous remediation: fix.headers (1 violation(s) — rules: layout.src_module_header)
  src/mind/coherence/__init__.py
Labels: feat, fix

chore: purge modernization.legacy_signal comment violations (22 sites)
  src/body/atomic/fix_actions.py
  src/body/governance/intent_guard.py
  src/cli/commands/check/converters.py
  src/cli/resources/code/complexity.py
  src/cli/resources/workers/run.py
  src/mind/governance/audit_context.py
  src/mind/governance/auditor.py
  src/mind/governance/constitutional_auditor_dynamic.py
  src/mind/logic/engines/glob_gate.py
  src/mind/logic/engines/knowledge_gate.py
  src/shared/action_types.py
  src/shared/config.py
  src/shared/infrastructure/adapters/embedding_provider.py
  src/shared/infrastructure/context/providers/vectors.py
  src/shared/infrastructure/context/service.py
  src/shared/models/audit_models.py
  src/shared/models/workflow_models.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

chore: rename admin/legacy.py to debt_scan.py
  src/cli/resources/admin/__init__.py
  src/cli/resources/admin/debt_scan.py
Labels: feat, fix

chore: rename run_tests(silent=) to suppress_logging — clears last modernization.legacy_signal finding
  src/shared/infrastructure/validation/test_runner.py
Labels: feat, fix

feat: llm_exchange_log writer — record every LLM call (closes #423)
  src/shared/ai/prompt_model.py
  src/shared/infrastructure/llm/client.py
  src/shared/infrastructure/llm/providers/anthropic.py
  src/shared/infrastructure/llm/providers/base.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/shared/infrastructure/llm/providers/openai.py
  src/shared/models/prompt_model.py
Labels: feat, fix

feat: ADR-068 principal role taxonomy — retire human.cli_operator
  .intent/META/enums.json
  .intent/META/intent_tree.yaml
  .intent/taxonomies/principal_roles.yaml
  infra/scripts/migrations/20260522_adr068_principal_roles.sql
  src/cli/resources/proposals/manage.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix, governance

feat: sync.vectors.code --force re-embeds all artifacts
  src/api/cli/client.py
  src/api/v1/sync_routes.py
  src/body/atomic/sync_actions/sync_actions.py
  src/body/services/artifact_service.py
  src/cli/resources/vectors/sync_code.py
  src/will/governance/sync_runner.py
Labels: feat, fix

perf: concurrent embed calls in sync.vectors.code embed loop
  src/body/atomic/sync_actions/chunking_helpers.py
Labels: feat, fix

fix(sync.vectors.code): report status="partial" when embed cap hit
  src/body/atomic/sync_actions/sync_actions.py
  src/cli/resources/vectors/sync_code.py
Labels: feat, fix

test: delete 9 broken test_generated.py — clear #421 sub-class A
  tests/body/atomic/modularity_fix/test_generated.py
  tests/body/services/blackboard_service/__init__/test_generated.py
  tests/body/services/blackboard_service/blackboard_proposal_service/test_generated.py
  tests/mind/governance/filtered_audit/test_generated.py
  tests/mind/governance/rule_extractor/test_generated.py
  tests/mind/logic/engines/llm_gate/test_generated.py
  tests/shared/workers/schedule/test_generated.py
  tests/will/autonomy/proposal_execution_pipeline/test_generated.py
  tests/will/workers/circuit_breaker/test_generated.py
Labels: test

test: repair two stale imports — close #421 sub-class B
  tests/api/v1/test_sync_routes.py
  tests/body/cli/commands/test_fix_code_style__fix_headers_internal.py
Labels: test

feat(adr-056): D5 — enumerate blackboard_subject *.run.complete family
  .intent/META/enums.json
Labels: governance

refactor(api.cli): split CoreApiClient into 12 namespace sub-clients (closes #360)
  src/api/cli/audit_client.py
  src/api/cli/census_client.py
  src/api/cli/client.py
  src/api/cli/coverage_client.py
  src/api/cli/daemon_client.py
  src/api/cli/fix_client.py
  src/api/cli/inspect_client.py
  src/api/cli/integration_client.py
  src/api/cli/integrity_client.py
  src/api/cli/proposals_client.py
  src/api/cli/quality_client.py
  src/api/cli/refactor_client.py
  src/api/cli/sync_client.py
Labels: feat, fix

refactor(body.services): extract SessionAttachedService base (closes #431)
  src/body/services/coherence_service.py
  src/body/services/mind_state_service.py
  src/body/services/session_attached_service.py
Labels: feat, fix

feat(adr-056): add prompt pipeline subjects to blackboard_subject enum
  .intent/META/enums.json
Labels: governance

chore(workers): update prompt_artifact_writer rationale (closes #258)
  .intent/workers/prompt_artifact_writer.yaml
Labels: governance

chore: add node_modules to .gitignore
  .gitignore
Labels: none

fix(prompts.modularity): strip json_schema blocks for DeepSeek compatibility (closes #425)
  var/prompts/modularity_analyze/model.yaml
  var/prompts/modularity_split/model.yaml
  var/prompts/modularity_split/system.txt
  var/prompts/modularity_split/user.txt
Labels: none

fix(will.tools): restore find_best_placement on ModuleAnchorGenerator (refs #429)
  src/will/tools/module_anchor_generator.py
Labels: feat, fix

fix(will.tools): inject session_factory into ArchitecturalContextBuilder (refs #429)
  src/body/infrastructure/bootstrap.py
  src/will/tools/architectural_context_builder.py
Labels: feat, fix

test(context): rewrite graph_fallback test against actual ContextBuilder API (refs #429)
  tests/shared/infrastructure/context/test_context_builder__graph_fallback.py
Labels: test

docs(adr): ADR-068 — principal role taxonomy
  .specs/decisions/ADR-068-principal-role-taxonomy.md
Labels: none

fix(coder): route test-gen sanctuary to test_file pattern (refs #437)
  src/will/agents/code_generation/pattern_validator.py
Labels: feat, fix

fix(context): pass target_file through to read_target_file (refs #437)
  src/will/tools/architectural_context_builder.py
  src/will/tools/context/retriever.py
Labels: feat, fix

fix(prompts.codegen): disable redundant char-based max_length cap (refs #437)
  var/prompts/code_generation_task_step_prompt/model.yaml
Labels: none

fix(secrets): split audit by resource_name vs cognitive_role (closes #434)
  infra/scripts/migrations/20260523_434_add_resource_name_to_agent_memory.sql
  src/shared/infrastructure/database/models/learning.py
  src/shared/infrastructure/secrets_service.py
  src/will/orchestration/cognitive_service.py
Labels: feat, fix

docs(constitution): Article I primitive count + Article II field enumeration
  .intent/constitution/CORE-CONSTITUTION.md
Labels: governance

chore(precommit): enforce SQL migrations registered in policy (closes #438)
  .pre-commit-config.yaml
  infra/scripts/check_migrations_registered.py
Labels: none

fix(audit): map `enforcement: reporting` to INFO severity (closes #432)
  src/mind/governance/rule_executor.py
Labels: feat, fix

fix(violation_executor): release/abandon helpers read wrong claim-dict key
  src/will/workers/violation_executor.py
Labels: feat, fix

fix(config_service): forward resource_name to SecretsService (refs #434)
  src/shared/infrastructure/config_service.py
Labels: feat, fix

fix(config_service): LLMResourceConfig.get_api_key forwards resource_name (closes #440)
  src/shared/infrastructure/config_service.py
Labels: feat, fix

docs(adr): ADR-069 — claim lifecycle lease semantics (closes #439)
  .specs/decisions/ADR-069-claim-lifecycle-lease-semantics.md
Labels: none
