Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(specs): ADR-159 Note 2026-09-18 -- #895 certified; Trial 0 runner pin moves to c0ccd6ce
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
  .specs/planning/adr-159-trial0-apparatus/README.md
Labels: none

docs(specs): ADR-159 Note 2026-09-18 -- recovered Phase-1 seal accepted; digest attestation filed; D9/§7 apparatus qualified
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/adr-159-phase1-seal-digest-20260918.md
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
  .specs/planning/adr-159-trial0-apparatus/README.md
Labels: governance

docs(specs): ADR-159 Note 2026-09-18 -- Trial 0 result recorded FAIL-before-bootstrap (apparatus boundary); result attestation filed
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/adr-159-trial0-result-20260918.md
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/adr-159-trial0-apparatus/README.md
Labels: governance

fix(audit): offline audit that skips a blocking rule is DEGRADED, never PASS (#907)
  .github/workflows/core-ci.yml
  .github/workflows/daily_sync.yml
  docs/cold-reviewer.md
  entrypoint.sh
  src/cli/resources/code/audit.py
  src/cli/utils/annotation_formatter.py
  src/mind/governance/stateless_audit.py
  tests/cli/resources/code/test_audit_offline_mode.py
  tests/cli/utils/test_annotation_formatter.py
  tests/infra/test_audit_gate_entrypoint.py
  tests/infra/test_offline_audit_ci_gate.py
  tests/mind/governance/test_stateless_audit__skipped_blocking_degrades.py
Labels: feat, fix, docs, test, ci

chore: bump version to 2.10.0
  CHANGELOG.md
  README.md
  action.yml
  pyproject.toml
Labels: docs, deps

chore(docker): pin core-audit-gate default CORE_RUNTIME_VERSION to 2.10.0
  Dockerfile
Labels: none

chore: bump version to 2.10.1
  CHANGELOG.md
  Dockerfile
  README.md
  pyproject.toml
Labels: docs, deps

docs(specs): ADR-162 -- database upgrade remediation ruling; public warning that upgrading an existing DB to 2.10.1 is unsupported; G11 -> not_met (U0)
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/production-readiness.yaml
  .specs/decisions/ADR-162-database-upgrade-remediation-ruling.md
  CHANGELOG.md
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  infra/migrations/manifest.yaml
  src/cli/resources/database/migrate.py
Labels: feat, fix, docs, governance

fix(installer): normalise --db-url to the postgresql+asyncpg:// scheme the runtime requires (ADR-162 U1)
  install-core.sh
  tests/infra/test_install_core_db_url.py
Labels: test

feat(db): atomic migration ledger engine -- one transaction per migration, advisory-locked, reconciled marker (ADR-162 D7, U2)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260919_adr162_migrations_reconciled.sql
  schema.sql
  src/cli/resources/database/migrate.py
  src/shared/infrastructure/database/models/system.py
  src/shared/infrastructure/repositories/db/common.py
  src/shared/infrastructure/repositories/db/ledger_engine.py
  src/shared/infrastructure/repositories/db/manifest.py
  src/shared/infrastructure/repositories/db/migration_service.py
  src/shared/infrastructure/repositories/db/migration_sql.py
  src/shared/infrastructure/repositories/db/status_service.py
  tests/shared/infrastructure/migrations/conftest.py
  tests/shared/infrastructure/migrations/test_ledger_engine_postgres.py
  tests/shared/infrastructure/test_migration_ledger.py
  tests/shared/infrastructure/test_migration_manifest.py
  tests/shared/infrastructure/test_migration_sql.py
Labels: feat, fix, test

feat(db): manifest completeness, verification probes and baseline catalog (ADR-162 D3/D6/D12, U3)
  infra/migrations/manifest.yaml
  src/shared/infrastructure/repositories/db/common.py
  src/shared/infrastructure/repositories/db/manifest.py
  tests/fixtures/schema/released_migrations_sha256.json
  tests/fixtures/schema/schema-v2.9.1.sql
  tests/shared/infrastructure/migrations/conftest.py
  tests/shared/infrastructure/migrations/test_reconciliation_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
  tests/will/autonomy/test_proposal_lifecycle_no_draft.py
Labels: feat, fix, test

feat(db): verified baseline adoption, --write, read-only status, fresh-install ledger seed (ADR-162 D1/D3/D4/D9, U4)
  CHANGELOG.md
  docs/cli-reference.md
  docs/getting-started.md
  infra/migrations/manifest.yaml
  infra/scripts/reset_test_db.sh
  schema.sql
  src/cli/resources/database/migrate.py
  src/cli/resources/database/status.py
  src/shared/infrastructure/repositories/db/ledger_seed.py
  src/shared/infrastructure/repositories/db/migration_service.py
  src/shared/infrastructure/repositories/db/status_service.py
  tests/cli/resources/database/test_migrate.py
  tests/cli/resources/database/test_status.py
  tests/fixtures/external_target/db_provisioning.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/test_migration_ledger.py
  tests/shared/infrastructure/test_schema_ledger_seed.py
Labels: feat, fix, docs, test

fix(db): one schema authority for the ledger -- the engine never alters core._migrations out of band (ADR-162 D7, U4a)
  CHANGELOG.md
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260919_adr162_migrations_reconciled.sql
  src/shared/infrastructure/repositories/db/ledger_engine.py
  src/shared/infrastructure/repositories/db/migration_service.py
  tests/shared/infrastructure/migrations/test_ledger_engine_postgres.py
  tests/shared/infrastructure/migrations/test_reconciliation_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test

test(db): hop-equivalence proof -- previous release schema.sql + manifest replay == current schema.sql (ADR-162 D5, U5)
  docs/release.md
  src/shared/infrastructure/repositories/db/schema_dump.py
  tests/fixtures/schema/schema-v2.10.1.sql
  tests/shared/infrastructure/migrations/conftest.py
  tests/shared/infrastructure/migrations/test_hop_equivalence_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
  tests/shared/infrastructure/test_schema_dump_normalise.py
Labels: feat, fix, docs, test

feat(db): read-only startup schema gate -- API, daemon and core-engine refuse a non-current schema (ADR-162 D2, U6)
  .docker/core-engine/entrypoint.sh
  CHANGELOG.md
  docs/cli-reference.md
  docs/getting-started.md
  src/body/infrastructure/lifespan.py
  src/cli/commands/daemon.py
  src/shared/infrastructure/repositories/db/schema_gate.py
  tests/shared/infrastructure/migrations/test_schema_gate_postgres.py
  tests/shared/infrastructure/test_schema_gate.py
Labels: feat, fix, docs, test

feat(db): reconstruct the four unledgered v2.9.1..v2.10.1 schema changes as backfill migrations (ADR-162 U5a)
  CHANGELOG.md
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260919b_adr052_core_archive_schema.sql
  infra/scripts/migrations/20260919c_adr054_audit_findings_run_id.sql
  infra/scripts/migrations/20260919d_users_display_name.sql
  infra/scripts/migrations/20260919e_adr052_phase4_drop_runtime_settings.sql
  schema.sql
  src/shared/_migrations/infra/migrations/manifest.yaml
  src/shared/_migrations/infra/scripts/migrations/20260919b_adr052_core_archive_schema.sql
  src/shared/_migrations/infra/scripts/migrations/20260919c_adr054_audit_findings_run_id.sql
  src/shared/_migrations/infra/scripts/migrations/20260919d_users_display_name.sql
  src/shared/_migrations/infra/scripts/migrations/20260919e_adr052_phase4_drop_runtime_settings.sql
  src/shared/_migrations/schema.sql
  tests/shared/infrastructure/migrations/test_backfill_reconstruction_postgres.py
  tests/shared/infrastructure/migrations/test_hop_equivalence_postgres.py
  tests/shared/infrastructure/migrations/test_schema_gate_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/migrations/test_wheel_migrate_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test

docs(specs): ADR-162 Governor clarification 2026-09-19 -- D2 exit codes where CORE does not own the process
  .specs/decisions/ADR-162-database-upgrade-remediation-ruling.md
  CHANGELOG.md
  docs/cli-reference.md
  docs/getting-started.md
  src/shared/infrastructure/repositories/db/schema_gate.py
Labels: feat, fix, docs

fix(db): reconciliation probes prove catalog structure, not names (ADR-162 D12 §2, U5b)
  CHANGELOG.md
  infra/migrations/manifest.yaml
  src/shared/_migrations/infra/migrations/manifest.yaml
  tests/shared/infrastructure/migrations/test_backfill_reconstruction_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test

feat(install): read-only schema-state gate, atomic fresh load, no drop-and-retry; executable G11 release-candidate evidence (ADR-162 D2/D10, U8a)
  CHANGELOG.md
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  install-core.sh
  tests/infra/test_install_core_db_url.py
  tests/infra/test_install_core_schema_gate.py
  tests/shared/infrastructure/migrations/test_g11_release_candidate_postgres.py
  tests/shared/infrastructure/migrations/test_installer_schema_state_postgres.py
  tests/shared/infrastructure/migrations/test_wheel_migrate_postgres.py
Labels: docs, test

release: 2.10.2 -- supported database upgrades; G11 met (ADR-162 U8b)
  .specs/attestations/production-readiness.yaml
  CHANGELOG.md
  Dockerfile
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  install-core.sh
  pyproject.toml
  tests/fixtures/schema/released_migrations_sha256.json
  tests/infra/test_install_core_schema_gate.py
  tests/shared/infrastructure/migrations/test_installer_schema_state_postgres.py
Labels: docs, test, deps

chore(db): declare v2.10.2 as the latest migration baseline from its immutable tag (ADR-162 D3/D4)
  infra/migrations/manifest.yaml
  src/shared/_migrations/infra/migrations/manifest.yaml
  tests/fixtures/schema/schema-v2.10.2.sql
  tests/shared/infrastructure/migrations/test_hop_equivalence_postgres.py
  tests/shared/infrastructure/migrations/test_reconciliation_postgres.py
  tests/shared/infrastructure/migrations/test_upgrade_from_v2_9_1_postgres.py
  tests/shared/infrastructure/test_migration_manifest_completeness.py
Labels: feat, fix, test

feat(workers): declare worker activation with implementation.launch (daemon | on_demand) (#898)
  .intent/META/enums.json
  .intent/META/worker.schema.json
  .intent/workers/goal_execution_worker.yaml
  CHANGELOG.md
  src/cli/commands/daemon.py
  src/cli/resources/runtime/health.py
  src/cli/resources/workers/run.py
  src/mind/logic/engines/runtime_gate.py
  src/shared/_machinery_floor/META/enums.json
  src/shared/_machinery_floor/META/worker.schema.json
  src/shared/workers/launch.py
  src/shared/workers/schedule.py
  tests/cli/test_daemon_discovery_launch.py
  tests/mind/logic/engines/test_runtime_gate__worker_process_classification.py
  tests/shared/workers/test_declaration_validator.py
  tests/shared/workers/test_launch.py
  tests/shared/workers/test_schedule__launch_on_demand.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test, governance

fix(install): gate the verify step on the audit's JSON verdict, check the Docker daemon, state requirements up front
  README.md
  install-core.sh
Labels: docs

fix(test-runner): run daemon-side pytest with --no-cov; ignore .coverage.* shards
  .gitignore
  src/shared/infrastructure/validation/test_runner.py
  tests/shared/infrastructure/validation/test_test_runner__failure_summary.py
Labels: feat, fix, test

test(install): teach the installer harnesses the JSON-verdict gate and the Docker daemon check; pin both
  tests/infra/test_install_core_db_url.py
  tests/infra/test_install_core_schema_gate.py
  tests/shared/infrastructure/migrations/test_installer_schema_state_postgres.py
Labels: test

fix(remediation): a no-op completion revives its findings instead of resolving them; move the ledger-seed printer out of src/ (#901)
  infra/scripts/render_ledger_seed.py
  infra/scripts/reset_test_db.sh
  schema.sql
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/proposal_supervision_service.py
  src/shared/_migrations/schema.sql
  src/shared/infrastructure/repositories/db/ledger_seed.py
  src/will/autonomy/proposal_consumer_revival.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/workers/proposal_consumer_worker.py
  src/will/workers/proposal_pipeline_shop_manager.py
  src/will/workers/violation_remediator.py
  tests/body/services/blackboard_service/test_blackboard_query_service_max_attempt_count_by_subject.py
  tests/body/services/test_proposal_supervision_service.py
  tests/shared/infrastructure/test_schema_ledger_seed.py
  tests/will/autonomy/test_noop_completion_revival.py
  tests/will/workers/test_proposal_consumer_worker_noop_completion.py
  tests/will/workers/test_proposal_pipeline_shop_manager_noop_roll_forward.py
  tests/will/workers/test_violation_remediator_inherited_cap.py
Labels: feat, fix, test

feat(remediation): the no-op loop terminates in the governor inbox, not in abandoned (ADR-104 D10, #901)
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/will/autonomy/proposal_consumer_revival.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/workers/proposal_consumer_worker.py
  tests/body/services/blackboard_service/blackboard_service/test_noop_cap_delegation.py
  tests/body/services/blackboard_service/test_blackboard_proposal_service_noop_delegation.py
  tests/will/autonomy/test_noop_completion_revival.py
  tests/will/workers/test_proposal_consumer_worker_noop_completion.py
Labels: feat, fix, test

docs(adr): ADR-104 D10 — the no-op remediation loop terminates in the governor inbox (#901)
  .specs/decisions/ADR-104-orphaned-claim-reaper.md
Labels: none

chore(shell): govern shell scripts with shellcheck — pre-commit hook + CI step, eight findings fixed (#911)
  .docker/core-engine/entrypoint.sh
  .github/workflows/core-ci.yml
  .pre-commit-config.yaml
  entrypoint.sh
  examples/starter-intent/verify.sh
  infra/scripts/reset_and_rebuild_db.sh
  install-core.sh
  scripts/coldroom-prep.sh
Labels: ci

chore(intent): remove 19 stale scope.excludes, retarget 3 moved ones, and guard against recurrence (#857, #859, #860)
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/mappings/architecture/path_access.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/enforcement/mappings/code/style.yaml
  tests/mind/governance/test_mapping_excludes_target_real_paths.py
Labels: test, governance

feat(reaper): reconcile findings deferred to a terminal proposal — fifth ProposalPipelineShopManager pass (G4 P2)
  src/body/services/proposal_supervision_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/autonomy/proposal_service.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/body/services/test_proposal_supervision_service.py
  tests/will/workers/test_proposal_pipeline_shop_manager_redrive_cap.py
  tests/will/workers/test_proposal_pipeline_shop_manager_stuck_deferred_terminal.py
  tests/will/workers/test_proposal_pipeline_shop_manager_stuck_deferred_terminal_db.py
  tests/will/workers/test_resolution_mechanism_classification.py
Labels: feat, fix, test

fix(reaper): a stranded rejection goes to the governor inbox, never back to the remediator (ADR-104 D10 applied)
  src/will/autonomy/proposal_service.py
  src/will/workers/proposal_pipeline_shop_manager.py
  tests/will/workers/test_proposal_pipeline_shop_manager_stuck_deferred_terminal.py
Labels: feat, fix, test

chore(intent): govern stuck_deferred_terminal_sla_sec in operational_config (G4 P2, #918)
  .intent/enforcement/config/operational_config.yaml
Labels: governance

fix(reaper): report_revival reads the reject-path 'reason' key too — first live cycle delegated 37 findings and lost every report (#918)
  src/will/autonomy/proposal_consumer_revival.py
  tests/will/autonomy/test_noop_completion_revival.py
Labels: feat, fix, test

fix(will): ingest workers run a filtered audit, not the full audit — stops 720 paid llm_gate calls/day re-bought and discarded since May
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/quality_ingest_worker.yaml
  src/will/workers/audit_ingest_worker.py
  src/will/workers/quality_ingest_worker.py
  tests/will/workers/test_audit_ingest_worker.py
  tests/will/workers/test_quality_ingest_worker.py
Labels: feat, fix, test, governance

docs(readiness): withhold A3 checkmark until G4 carries signed evidence
  README.md
  docs/autonomy-ladder.md
Labels: docs

fix(intent): trim quality_ingest_worker responsibility to schema max (536→512)
  .intent/workers/quality_ingest_worker.yaml
Labels: governance

fix(logging): the shared logger renders nothing; Rich is the CLI's call; journald gets real priorities
  src/cli/admin_cli.py
  src/cli/logging_ui.py
  src/shared/logger.py
  tests/cli/test_logging_ui.py
  tests/shared/test_logger___configure_root_logger.py
Labels: feat, fix, test

docs(governance): commit the Q4 governor operating rail and the G4 soak pre-declaration (Path A)
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/soak-g4-predeclaration-2026Q4.md
  .specs/planning/governor-rail-2026Q4.md
Labels: governance

docs(g4): sign the Q4 operating rail and the G4 soak pre-declaration — T0
  .specs/attestations/soak-g4-predeclaration-2026Q4.md
  .specs/planning/governor-rail-2026Q4.md
Labels: none

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
