Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

chore(intent): classify ADR-155 + Phase1-Map in namespace_manifest (ADR-155 Phase 4)
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(workers): prompt_drift_sensor requires core_context (stop crash-loop)
  .intent/workers/prompt_drift_sensor.yaml
Labels: governance

fix(will): close the G6 risk-vocabulary mismatch in flow risk computation
  src/will/autonomy/proposal.py
  tests/will/autonomy/test_proposal_risk_vocabulary_g6.py
Labels: feat, fix, test

fix(governance): #823 — passive_gate literal engine name missing from write-time skip
  src/body/governance/intent_guard.py
  tests/body/governance/test_intent_guard_823_e2e_fixids.py
  tests/body/governance/test_intent_guard__audit_engines.py
Labels: feat, fix, test

fix(tests): #823 e2e skip guard must check compose file existence
  tests/body/governance/test_intent_guard_823_e2e_fixids.py
Labels: test

docs(demo): accept ADR-155 with sequencing correction and design-point resolutions
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

feat(demo): Phase 3 public surface for the consequence-chain demo (ADR-155)
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  install-core.sh
  scripts/demo.sh
  src/cli/admin_cli.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/resources/demo/__init__.py
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/cli/resources/demo/hub.py
  src/cli/resources/demo/rendering.py
  tests/cli/resources/demo/__init__.py
  tests/cli/resources/demo/conftest.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_consequence_chain_cmd.py
  tests/cli/resources/demo/test_output_target.py
  tests/cli/resources/demo/test_public_surface.py
  tests/cli/resources/demo/test_rendering.py
Labels: feat, fix, docs, test

test(demo): E05 + E08–E11 adversarial failure-path coverage (ADR-155 §6.2)
  tests/cli/logic/demo/test_consequence_chain_failure_paths.py
Labels: test

fix(cli): demo command classification for cli.dangerous_explicit (ADR-155 Phase 4)
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/shared/infrastructure/git_service.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_command_metadata.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test

feat(demo): Phase 1 isolation substrate for the consequence-chain demo
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  infra/demo/compose.yaml
  src/cli/logic/demo/__init__.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/shared/config.py
  src/shared/infrastructure/git_service.py
  src/shared/utils/subprocess_utils.py
  tests/cli/logic/demo/__init__.py
  tests/cli/logic/demo/conftest.py
  tests/cli/logic/demo/test_compose_lifecycle.py
  tests/cli/logic/demo/test_isolation.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test, governance

feat(demo): Phase 2 genuine consequence-chain scenario (ADR-155)
  src/api/cli/proposals_client.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/scenario_runner.py
  src/shared/infrastructure/git_service.py
  tests/api/cli/test_proposals_client.py
  tests/cli/logic/demo/test_consequence_chain_assertions.py
  tests/cli/logic/demo/test_consequence_chain_e2e.py
Labels: feat, fix, test

chore(intent): classify ADR-155 + Phase1-Map in namespace_manifest (ADR-155 Phase 4)
  .intent/governance/namespace_manifest.yaml
Labels: governance

docs(demo): correct ADR-155 soak boundary — isolated development is not gated
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

feat(demo): Phase 2 substrate (partial) — paused pending upstream fix.ids defect
  src/body/services/blackboard_service/blackboard_query_service.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/seed.py
  tests/body/services/blackboard_service/test_blackboard_query_service_fetch_entry_by_id.py
  tests/cli/logic/demo/test_isolation.py
Labels: feat, fix, test

fix(deps): bump pymdown-extensions to 11.0.1 (CVE-2026-61632)
  poetry.lock
Labels: deps

feat(demo): Phase 2 genuine consequence-chain scenario (ADR-155)
  src/api/cli/proposals_client.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/scenario_runner.py
  src/shared/infrastructure/git_service.py
  tests/api/cli/test_proposals_client.py
  tests/cli/logic/demo/test_consequence_chain_assertions.py
  tests/cli/logic/demo/test_consequence_chain_e2e.py
Labels: feat, fix, test

test(demo): E05 + E08–E11 adversarial failure-path coverage (ADR-155 §6.2)
  tests/cli/logic/demo/test_consequence_chain_failure_paths.py
Labels: test

feat(demo): Phase 2 substrate (partial) — paused pending upstream fix.ids defect
  src/body/services/blackboard_service/blackboard_query_service.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/cli/logic/demo/seed.py
  tests/body/services/blackboard_service/test_blackboard_query_service_fetch_entry_by_id.py
  tests/cli/logic/demo/test_isolation.py
Labels: feat, fix, test

fix(cli): demo command classification for cli.dangerous_explicit (ADR-155 Phase 4)
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/shared/infrastructure/git_service.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_command_metadata.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test

chore(intent): classify ADR-155 + Phase1-Map in namespace_manifest (ADR-155 Phase 4)
  .intent/governance/namespace_manifest.yaml
Labels: governance

docs(demo): accept ADR-155 with sequencing correction and design-point resolutions
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

feat(demo): Phase 3 public surface for the consequence-chain demo (ADR-155)
  README.md
  docs/cli-reference.md
  docs/getting-started.md
  install-core.sh
  scripts/demo.sh
  src/cli/admin_cli.py
  src/cli/logic/demo/consequence_chain.py
  src/cli/logic/demo/models.py
  src/cli/resources/demo/__init__.py
  src/cli/resources/demo/cleanup.py
  src/cli/resources/demo/consequence_chain.py
  src/cli/resources/demo/hub.py
  src/cli/resources/demo/rendering.py
  tests/cli/resources/demo/__init__.py
  tests/cli/resources/demo/conftest.py
  tests/cli/resources/demo/test_cleanup_cmd.py
  tests/cli/resources/demo/test_consequence_chain_cmd.py
  tests/cli/resources/demo/test_output_target.py
  tests/cli/resources/demo/test_public_surface.py
  tests/cli/resources/demo/test_rendering.py
Labels: feat, fix, docs, test

docs(demo): correct ADR-155 soak boundary — isolated development is not gated
  .specs/decisions/ADR-155-isolated-consequence-chain-demo.md
  .specs/planning/CORE-Isolated-Consequence-Chain-Demo-Phase1-Map.md
Labels: none

feat(demo): Phase 1 isolation substrate for the consequence-chain demo
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  infra/demo/compose.yaml
  src/cli/logic/demo/__init__.py
  src/cli/logic/demo/isolation.py
  src/cli/logic/demo/models.py
  src/shared/config.py
  src/shared/infrastructure/git_service.py
  src/shared/utils/subprocess_utils.py
  tests/cli/logic/demo/__init__.py
  tests/cli/logic/demo/conftest.py
  tests/cli/logic/demo/test_compose_lifecycle.py
  tests/cli/logic/demo/test_isolation.py
  tests/shared/infrastructure/test_git_service_demo_clone.py
Labels: feat, fix, test, governance

test(demo): close U08/U09/U10, U15/E12, E14 acceptance-matrix coverage gaps (ADR-155 §6)
  tests/cli/logic/demo/test_consequence_chain_llm_isolation.py
  tests/cli/logic/demo/test_consequence_chain_real_sigint.py
  tests/cli/logic/demo/test_isolation.py
  tests/cli/logic/demo/test_scenario_runner_resolution.py
Labels: test

test(demo): close the outer scenario asyncio.wait_for deadline gap (ADR-155 U15)
  tests/cli/logic/demo/test_consequence_chain_failure_paths.py
Labels: test

docs(attestations): ADR-155 final acceptance + E15 cold-room evidence
  .specs/attestations/adr-155-final-acceptance-report-20260726.md
  .specs/attestations/e15-coldroom-3cbe0be0-20260726.md
Labels: none

fix(governance): classify ADR-155 attestation reports in namespace_manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

chore(governance): classify soak-closure attestation + archive superseded demo spec
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/soak-closure-f7430b25-20260726.md
  .specs/planning/archive/CORE-Isolated-Consequence-Chain-Demo-Spec.md
Labels: governance

fix(governance): reconcile cognitive_roles/llm_resources capability drift (#821)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260727_reconcile_cognitive_role_and_resource_capabilities.sql
Labels: none

docs(planning): align interaction and session protocols with current workflow
  .specs/planning/INTERACTION-CONTRACT.md
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

fix(governance): extend coherence_candidates relation constraint (#831)
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260727b_ccc_add_path_ref_intent_binding_cross_ns_direction.sql
Labels: none

docs(decisions): remove project-namespace path refs flagged by CROSS_NS_DIRECTION
  .specs/decisions/ADR-011-worker-attribution-for-blackboard-entries.md
  .specs/decisions/ADR-020-worker-liveness-derived-from-heartbeat.md
  .specs/decisions/ADR-035-one-finding-one-proposal.md
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/decisions/ADR-070-source-projection-coherence.md
  .specs/decisions/ADR-077-protected-namespace-access.md
  .specs/decisions/ADR-090-f41-artifact-type-registry-as-unified-governance-contract.md
  .specs/decisions/ADR-091-f42-pluggable-sensor-model-as-second-published-contract.md
Labels: none

docs(decisions): remove project-namespace path refs flagged by CROSS_NS_DIRECTION (batch 2)
  .specs/decisions/ADR-023-vocabulary-canonical-store.md
  .specs/decisions/ADR-046-flow-risk-from-constituent-steps.md
  .specs/decisions/ADR-053-api-governance-interface.md
  .specs/decisions/ADR-056-runtime-data-contracts.md
Labels: none

docs(attestations): fix stale path to archived demo spec (PATH_REF)
  .specs/attestations/e15-coldroom-3cbe0be0-20260726.md
Labels: none

docs(decisions): fix stale paths to genuinely moved files (PATH_REF)
  .specs/decisions/ADR-017-claim-proposal-as-atomic-action.md
  .specs/decisions/ADR-024-local-llm-cognitive-role-assignments.md
Labels: none

docs(decisions): record ADR-154 D3a/D5 governor decisions
  .specs/decisions/ADR-154-mutation-lane-equivalence.md
Labels: none

feat(governance): ADR-154 D2 — frozen ValidatedRemediationCandidate + base-SHA fail-closed apply
  src/api/v1/lane_routes.py
  src/body/atomic/assisted_actions.py
  src/body/services/validated_candidate_service.py
  src/shared/models/validated_remediation_candidate.py
  src/will/autonomy/lane_service.py
  tests/api/v1/test_lane_routes.py
  tests/body/atomic/test_assisted_actions.py
  tests/body/services/test_validated_candidate_service.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

fix(governance): ADR-154 D2 review corrections — structural privileged construction + patch_digest re-check
  src/body/atomic/assisted_actions.py
  src/body/services/validated_candidate_service.py
  src/shared/models/validated_remediation_candidate.py
  src/will/autonomy/lane_service.py
  tests/body/atomic/test_assisted_actions.py
  tests/body/services/test_validated_candidate_service.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test

fix(governance): ADR-154 D3b atomic submission foundation, migrate Lane 1b onto it
  src/body/services/proposal_submission_service.py
  src/will/autonomy/lane_service.py
  tests/body/services/test_proposal_submission_service.py
  tests/will/autonomy/test_lane_service.py
Labels: feat, fix, test
