Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(e92d4e9c-634c-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/quality_routes.py::quality_gates (function)
  tests/api/v1/quality_routes/__init__.py
  tests/api/v1/quality_routes/test_generated.py
Labels: test

fix(813512f5-c681-47): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/lint_routes.py::lint_endpoint (function)
  tests/api/v1/lint_routes/__init__.py
  tests/api/v1/lint_routes/test_generated.py
Labels: test

fix(1e03a976-0e03-46): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/refactor_routes.py::get_refactor_run (function)
  tests/api/v1/refactor_routes/__init__.py
  tests/api/v1/refactor_routes/test_generated.py
Labels: test

fix(5b5b75b0-b0bb-4b): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/knowledge_routes.py::list_capabilities (function)
  tests/api/v1/knowledge_routes/__init__.py
  tests/api/v1/knowledge_routes/test_generated.py
Labels: test

fix(cd627781-1d11-41): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/sync_routes.py::sync_dev_sync (function)
  tests/api/v1/sync_routes/__init__.py
  tests/api/v1/sync_routes/test_generated.py
Labels: test

fix(bef31153-a198-4d): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/development_routes.py::start_development_cycle (function)
  tests/api/v1/development_routes/__init__.py
  tests/api/v1/development_routes/test_generated.py
Labels: test

fix(0ac08b4e-b905-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/inspect_routes.py::search_commands (function)
  tests/api/v1/inspect_routes/__init__.py
  tests/api/v1/inspect_routes/test_generated.py
Labels: test

fix(21035cf6-1153-45): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/integrity_routes.py::IntegrityRequest (class)
  tests/api/v1/integrity_routes/__init__.py
  tests/api/v1/integrity_routes/test_generated.py
Labels: test

fix(ci): unblock main — stale lock, README counts, ADR phase pyyaml
  .github/workflows/core-ci.yml
  README.md
  docs/how-it-works.md
  poetry.lock
Labels: docs, ci, deps

fix: resolve 40 pre-existing CI test failures
  .specs/decisions/ADR-064-fix-actions-capability-tagging-body-will-closure.md
  .specs/decisions/ADR-082-d7-detection-window-sparse-loop-hold.md
  .specs/decisions/ADR-143-symbols-drift-anchor-ssot.md
  .specs/papers/CORE-Repo-Split-Plan.md
  src/body/infrastructure/lifespan.py
  src/mind/coherence/checks/cross_ns_direction.py
  src/mind/coherence/checks/row2_grounding.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  tests/body/atomic/test_build_test_for_symbol_iterative.py
  tests/body/atomic/test_executor_audit_gap.py
  tests/infra/test_repo_artifacts_type_check_matches_registry.py
  tests/mind/coherence/checks/test_sameconcern__batch_embed.py
  tests/mind/coherence/test_row2_grounding__inherited_bind.py
  tests/mind/logic/engines/test_knowledge_gate__semantic_duplication.py
  tests/will/workers/test_llm_partition_archiver.py
  tests/will/workers/test_prompt_drift_sensor.py
  tests/will/workers/test_quality_ingest_worker.py
Labels: feat, fix, test

fix: align floor action_risk.yaml with intent for log.* actions
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
Labels: feat, fix

fix: correct CognitiveEmbedderAdapter patch path in sameconcern tests
  tests/mind/coherence/checks/test_sameconcern__batch_embed.py
Labels: test

fix(#760): close action_risk ↔ operational_capabilities gap
  .intent/enforcement/config/action_risk.yaml
  .intent/taxonomies/operational_capabilities.yaml
  src/body/atomic/document/gap_analysis_action.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/mind/logic/engines/test_taxonomy_gate__action_support.py
Labels: feat, fix, test, governance

fix(#428): add blackboard_resolution_authority enum and backfill legacy values
  .intent/META/enums.json
  src/body/services/blackboard_service/blackboard_service.py
  src/cli/resources/workers/blackboard.py
Labels: feat, fix, governance

fix(#116): author .specs/META schemas for requirement, planning, charter, northstar
  .intent/artifact_types/charter.yaml
  .intent/artifact_types/northstar.yaml
  .intent/artifact_types/planning.yaml
  .intent/artifact_types/requirement.yaml
  .intent/workers/repo_crawler.yaml
  .specs/CORE-CHARTER.md
  .specs/META/charter.header.schema.json
  .specs/META/northstar.header.schema.json
  .specs/META/planning.header.schema.json
  .specs/META/requirement.header.schema.json
  .specs/northstar/CORE - What It Does.md
  .specs/northstar/CORE-USER-REQUIREMENTS.md
Labels: governance

fix(#345): add audit_findings.run_id FK and replace TRUNCATE with append-only writes
  .specs/decisions/ADR-054-api-phase-1-audit-proposals.md
  src/cli/commands/check/audit.py
Labels: feat, fix

docs: close #433 #492 #625 #626 — four governance doctrine issues
  .intent/META/enums.json
  .specs/decisions/ADR-145-process-mode-provenance.md
  .specs/papers/CORE-Authority-Without-Registries.md
  .specs/papers/CORE-Workflow-Papers-First.md
Labels: governance

test: close #430 — relocate 17 test files to mirror source paths
  tests/api/test_errors__register_exception_handlers.py
  tests/body/governance/test_key_management_service__KeyManagementError.py
  tests/body/governance/test_key_management_service__keygen.py
  tests/body/governance/test_runtime_validator__RuntimeValidatorService.py
  tests/body/infrastructure/storage/test_file_handler__regression_matrix.py
  tests/body/infrastructure/storage/test_file_handler__write_runtime_text.py
  tests/body/infrastructure/storage/test_file_handler__write_unified.py
  tests/body/self_healing/test_fix_code_style__fix_headers_internal.py
  tests/cli/utils/test_cli_utils.py
  tests/cli/utils/test_cli_utils__async_command.py
  tests/cli/utils/test_cli_utils__confirm_action.py
  tests/cli/utils/test_cli_utils__core_command.py
  tests/cli/utils/test_cli_utils__display_error.py
  tests/cli/utils/test_cli_utils__display_info.py
  tests/cli/utils/test_cli_utils__display_success.py
  tests/cli/utils/test_cli_utils__display_warning.py
  tests/will/agents/test_build_test_for_symbol_iterative.py
Labels: test

feat: close #617 — architecture bridge-point surface
  .intent/architecture/bridges/audit_ingest_worker.yaml
  .intent/architecture/bridges/proposal_consumer_worker.yaml
  .intent/architecture/bridges/quality_ingest_worker.yaml
  .intent/artifact_types/architecture_bridge.yaml
  .intent/workers/repo_crawler.yaml
  .specs/META/architecture_bridge.schema.json
  src/cli/resources/code/__init__.py
  src/cli/resources/code/bridges.py
  src/shared/infrastructure/intent/architecture_bridges.py
Labels: feat, fix, governance

feat: close #619 — data.contracts.persistence_reach_coherence CCC rule
  .intent/enforcement/mappings/data/governance.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/data/governance.json
  src/mind/logic/engines/contracts_gate.py
Labels: feat, fix, governance

docs: close #473 — ADR grounding-paper backfill (8 remaining ADRs)
  .specs/decisions/ADR-038-circuit-breaker-on-repeated-proposal-failures.md
  .specs/decisions/ADR-039-audit-input-cache-invalidation.md
  .specs/decisions/ADR-082-d7-detection-window-sparse-loop-hold.md
  .specs/decisions/ADR-090-cognitive-roles-db-structural-enforcement.md
  .specs/decisions/ADR-124-user-access-control.md
  .specs/decisions/ADR-125-web-frontend-architecture.md
  .specs/decisions/ADR-141-assisted-lane-subprocess-audit.md
  .specs/decisions/ADR-142-passive-gate-enforced-by-symbol-attestation.md
Labels: none

docs(specs): backfill 51 paper-citation obligations — closes #469
  .specs/papers/CORE-Adaptive-Workflow-Pattern.md
  .specs/papers/CORE-Authority-Without-Registries.md
  .specs/papers/CORE-Blackboard-State-Machine.md
  .specs/papers/CORE-Constitution-Read-Only-Contract.md
  .specs/papers/CORE-ConstitutionalEnvelope.md
  .specs/papers/CORE-Evidence-as-Input.md
  .specs/papers/CORE-Governance-Topology.md
  .specs/papers/CORE-Infrastructure-Definition.md
  .specs/papers/CORE-Mind-Body-Will-Separation.md
  .specs/papers/CORE-OEM-API.md
  .specs/papers/CORE-Phases-as-Governance-Boundaries.md
  .specs/papers/CORE-Proposal.md
  .specs/papers/CORE-Rule-Authoring-Discipline.md
  .specs/papers/CORE-Rule-Canonical-Form.md
  .specs/papers/CORE-Rule-Conflict-Semantics.md
  .specs/papers/CORE-Rule-Evaluation-Semantics.md
  .specs/papers/CORE-Workflow-Papers-First.md
Labels: none

feat(contracts): ADR-056 Wave 3 API DTO contracts — closes #369
  .intent/enforcement/contracts/ApproveRequest.json
  .intent/enforcement/contracts/CreateAuditRunRequest.json
  .intent/enforcement/contracts/CreateBaselineRequest.json
  .intent/enforcement/contracts/CreateCensusRunRequest.json
  .intent/enforcement/contracts/CreateProposalRequest.json
  .intent/enforcement/contracts/CreateRemediationRequest.json
  .intent/enforcement/contracts/DevelopmentGoal.json
  .intent/enforcement/contracts/ExecuteRequest.json
  .intent/enforcement/contracts/GenerateBatchRequest.json
  .intent/enforcement/contracts/GenerateRequest.json
  .intent/enforcement/contracts/IntegrateRequest.json
  .intent/enforcement/contracts/IntegrityRequest.json
  .intent/enforcement/contracts/InteractiveTestsRequest.json
  .intent/enforcement/contracts/ProposeRequest.json
  .intent/enforcement/contracts/QualityAsyncRequest.json
  .intent/enforcement/contracts/QualityLintRequest.json
  .intent/enforcement/contracts/QualityTargetRequest.json
  .intent/enforcement/contracts/QualityTestsRequest.json
  .intent/enforcement/contracts/RejectRequest.json
  .intent/enforcement/contracts/ReportRequest.json
  .intent/enforcement/contracts/RunAutonomousRequest.json
  .intent/enforcement/contracts/SyncRequest.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
Labels: governance

feat(ci): F-10.P2 GitLab CI step + CodeClimate format — closes #533
  .gitlab-ci/CORE.gitlab-ci.yml
  src/cli/resources/code/audit.py
  src/cli/utils/codeclimate_formatter.py
  tests/cli/utils/test_codeclimate_formatter.py
Labels: feat, fix, test

docs(adr): ADR-146 — CLI consumer/operator split decision
  .specs/decisions/ADR-146-cli-consumer-operator-split.md
Labels: none

docs(adr): ADR-146 — add actions.py to code/ consumer list
  .specs/decisions/ADR-146-cli-consumer-operator-split.md
Labels: none

refactor: remove commercial UAC/JWT fields from Settings and lifespan guard
  src/body/infrastructure/lifespan.py
Labels: feat, fix

fix(ci): remove orphaned rebuild test + sync rule count to 249
  README.md
  docs/how-it-works.md
  tests/cli/resources/vectors/test_rebuild.py
Labels: docs, test

feat(api): add change_password rate limit (5 req/hour)
  src/api/rate_limiter.py
Labels: feat, fix

docs(planning): add external adoption gap closure plan
  .specs/planning/CORE-External-Adoption-Plan.md
Labels: none

fix(deps): bump pip 26.1.1 → 26.1.2 (CVE-2026-8643)
  poetry.lock
Labels: deps

feat(api): add governance chain query endpoints (External Adoption Plan Item 1)
  src/api/dependencies.py
  src/api/main.py
  src/api/v1/findings_routes.py
  src/api/v1/proposals_routes.py
  src/api/v1/schemas.py
  src/body/services/consequence_log_service.py
  tests/api/v1/test_chain_routes.py
Labels: feat, fix, test

feat(packs): add Governance Pack Abstraction (External Adoption Plan Item 2)
  .intent/META/governance_pack.schema.json
  .intent/META/intent_tree.schema.json
  .intent/META/intent_tree.yaml
  .intent/packs/architectural_boundaries.yaml
  .intent/packs/python_hygiene.yaml
  .intent/packs/starter_python.yaml
  src/cli/resources/project/__init__.py
  src/cli/resources/project/adopt_pack.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/pack_loader.py
  tests/shared/infrastructure/intent/test_pack_loader.py
Labels: feat, fix, test, governance

docs(planning): update External Adoption Plan — Phase A findings + Phase B status
  .specs/planning/CORE-External-Adoption-Plan.md
Labels: none

feat(api): add /v1/secrets/* routes + SecretsClient sub-client (ADR-146 D2 Sprint 2)
  src/api/cli/client.py
  src/api/cli/secrets_client.py
  src/api/dependencies.py
  src/api/main.py
  src/api/v1/secrets_routes.py
  tests/api/v1/test_secrets_routes.py
Labels: feat, fix, test

feat(api): add /v1/symbols/* routes + SymbolsClient sub-client (ADR-146 D2 Sprint 2)
  src/api/cli/client.py
  src/api/cli/symbols_client.py
  src/api/main.py
  src/api/v1/symbols_routes.py
  tests/api/v1/test_symbols_routes.py
Labels: feat, fix, test

feat(api): add /v1/vectors/* routes + VectorsClient sub-client (ADR-146 D2 Sprint 2)
  src/api/cli/client.py
  src/api/cli/vectors_client.py
  src/api/main.py
  src/api/v1/vectors_routes.py
  tests/api/v1/test_vectors_routes.py
Labels: feat, fix, test

feat(api): add /v1/project/* routes + ProjectClient sub-client (ADR-146 D2 Sprint 2)
  src/api/cli/client.py
  src/api/cli/project_client.py
  src/api/main.py
  src/api/v1/project_routes.py
  tests/api/v1/test_project_routes.py
Labels: feat, fix, test

feat(api): Item 4 Scout Phase B HTTP route (ADR-146 D2 / ADR-119)
  src/api/cli/project_client.py
  src/api/v1/project_routes.py
  src/body/analyzers/scout_analyzer.py
  tests/api/v1/test_scout_route.py
  tests/body/analyzers/test_scout_analyzer.py
Labels: feat, fix, test

fix(audit): resolve 5 audit findings — pack dedup, ROUTER_EXPOSURE, FileHandler writes, modularity split
  src/api/main.py
  src/api/v1/project_routes.py
  src/api/v1/scout_routes.py
  src/api/v1/secrets_routes.py
  src/cli/resources/project/adopt_pack.py
  src/shared/infrastructure/intent/intent_repository.py
  tests/api/v1/test_scout_route.py
Labels: feat, fix, test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
