Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

docs(governance): accept ADR-159 -- autonomy thesis acceptance boundary
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
Labels: none

fix(governance): close #855 -- code.imports.must_resolve/no_stale_namespace actually resolve imports now
  .intent/enforcement/mappings/code/imports.yaml
  .specs/verification/g2_blocking_rule_registry.yaml
  src/mind/logic/engines/workflow_gate/checks/import_resolution.py
  tests/mind/logic/engines/workflow_gate/test_g2_workflow_gate_rules.py
  tests/mind/logic/engines/workflow_gate/test_import_resolution_check.py
  tests/mind/logic/engines/workflow_gate/test_tool_absence_silent_skip.py
Labels: feat, fix, test, governance

fix(governance): stateless audit skips runtime.worker_max_interval_within_observed, replace stale silent-pass test
  src/mind/governance/stateless_audit.py
  tests/mind/governance/test_stateless_audit__skips_db_rules.py
  tests/mind/logic/engines/test_runtime_gate__engine_dispatch.py
Labels: feat, fix, test

docs(governance): classify ADR-159 in namespace_manifest.yaml
  .intent/governance/namespace_manifest.yaml
Labels: governance

chore(deps): bump mkdocs-material 9.7.0 -> 9.7.7 (CVE-2026-73295)
  poetry.lock
  pyproject.toml
Labels: deps

docs(governance): attest URS G8 as met
  .specs/attestations/production-readiness.yaml
  README.md
Labels: docs

feat(external): fail closed on target binding
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  src/shared/infrastructure/external_target_binding.py
  tests/shared/infrastructure/test_external_target_binding.py
Labels: feat, fix, test

feat(cli): pre-bootstrap external-verify launcher
  src/cli/admin_cli.py
  src/cli/runtime_external_verify.py
  tests/cli/test_runtime_external_verify.py
Labels: feat, fix, test

fix(coldroom): install and enable qemu-guest-agent in template prep
  scripts/coldroom-prep.sh
Labels: none

feat(external): Unit C neutral target fixture proves authority boundary
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  tests/fixtures/external_target/_probe.py
  tests/fixtures/external_target/conftest.py
  tests/fixtures/external_target/intent_overlay/rules/code/purity.json
  tests/fixtures/external_target/intent_overlay/safe_auto_approval_envelope.yaml
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/template/conftest.py
  tests/fixtures/external_target/template/package/__init__.py
  tests/fixtures/external_target/template/package/example.py
  tests/fixtures/external_target/template/package/sub/__init__.py
  tests/fixtures/external_target/template/package/sub/nested.py
  tests/fixtures/external_target/template/scripts/outside.py
  tests/fixtures/external_target/template/tests/test_example.py
  tests/fixtures/external_target/test_authority.py
  tests/fixtures/external_target/test_materialization.py
Labels: test

fix(actions): deny symlink target escapes
  src/body/atomic/executor.py
  tests/body/atomic/test_executor_physical_containment.py
  tests/fixtures/external_target/_probe.py
  tests/fixtures/external_target/test_authority.py
Labels: feat, fix, test

test(external): prove governed format mutation
  tests/fixtures/external_target/db_provisioning.py
  tests/fixtures/external_target/test_unit_d_orchestrator.py
  tests/fixtures/external_target/unit_d_child.py
  tests/fixtures/external_target/unit_d_orchestrator.py
Labels: test

feat(external): authorize fixture-local proposal_consumer_worker declaration
  tests/fixtures/external_target/intent_overlay/workers/proposal_consumer_worker.yaml
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/test_materialization.py
  tests/fixtures/external_target/unit_d_child.py
  tests/fixtures/external_target/unit_d_orchestrator.py
Labels: test

fix(external): Unit D scaffold calls Worker.start(), not run()
  tests/fixtures/external_target/test_unit_d_child.py
  tests/fixtures/external_target/unit_d_child.py
Labels: test

feat(external): authorize claim.proposal's policy dependency in fixture overlay
  tests/fixtures/external_target/intent_overlay/rules/will/proposal_lifecycle.json
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/test_materialization.py
Labels: test

fix(body): Unit D formatter-runtime correction — resolve and run Ruff directly
  src/body/self_healing/code_style_service.py
  src/shared/utils/subprocess_utils.py
  tests/fixtures/external_target/_probe_sandbox_format.py
  tests/fixtures/external_target/test_format_sandbox_correction.py
  tests/fixtures/external_target/test_unit_d_orchestrator.py
  tests/fixtures/external_target/unit_d_orchestrator.py
  tests/shared/utils/test_subprocess_utils__run_direct_command.py
Labels: feat, fix, test

fix(body): Unit D final Ruff-runtime correction — check/fix phase too
  src/body/self_healing/code_style_service.py
  tests/body/self_healing/test_code_style_service__format_code.py
  tests/fixtures/external_target/test_format_sandbox_correction.py
Labels: feat, fix, test

test(external): Unit E scaffold — live post-propagation rollback qualification
  tests/fixtures/external_target/test_unit_e_child.py
  tests/fixtures/external_target/test_unit_e_orchestrator.py
  tests/fixtures/external_target/unit_d_child.py
  tests/fixtures/external_target/unit_e_child.py
  tests/fixtures/external_target/unit_e_orchestrator.py
Labels: test

fix(external): route Unit D/E disposable workdirs through var/tmp, not /tmp
  tests/fixtures/external_target/unit_d_orchestrator.py
  tests/fixtures/external_target/unit_e_orchestrator.py
Labels: test

docs(adr): restore autonomy experiment sequence
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
  src/body/atomic/executor.py
  src/cli/admin_cli.py
  src/cli/runtime_external_verify.py
  src/shared/infrastructure/external_target_binding.py
  tests/cli/test_runtime_external_verify.py
  tests/fixtures/external_target/intent_overlay/safe_auto_approval_envelope.yaml
  tests/fixtures/external_target/materialize.py
  tests/fixtures/external_target/test_authority.py
  tests/fixtures/external_target/test_materialization.py
  tests/shared/infrastructure/test_external_target_binding.py
Labels: feat, fix, test, governance

docs(adr): correct D9 blindness and authorship boundaries
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-Autonomy-Trials-Blind-Author-Brief.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
Labels: governance

docs(adr): file runner-interface appendix and blind-author custody, seal scope note
  .intent/governance/namespace_manifest.yaml
  .specs/attestations/adr-159-blind-author-raw-claude-opus-5-20260910.md
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/planning/CORE-Autonomy-Trial-Runner-Interface-Appendix.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
Labels: governance

docs(planning): add external-repo route, correct seal authorship
  .specs/planning/CORE-Autonomy-Trial-Runner-Interface-Appendix.md
  .specs/planning/CORE-D9-Trial0-Apparatus-Design.md
Labels: none

docs(planning): mission-runner reconnaissance -- develop/goal was omitted
  .intent/governance/namespace_manifest.yaml
  .specs/planning/CORE-Autonomy-Mission-Runner-Reconnaissance.md
Labels: governance

feat(will): GoalExecutionWorker owns goal-driven execution + Blackboard evidence (#873)
  .intent/workers/goal_execution_worker.yaml
  src/body/services/blackboard_service/blackboard_query_service.py
  src/will/autonomy/autonomous_developer.py
  src/will/workers/goal_execution_worker.py
  tests/body/services/blackboard_service/test_blackboard_query_service_fetch_entries_by_subject_prefix_ordered.py
  tests/will/autonomy/test_develop_from_goal_worker_shim.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test, governance

fix(intent): register goal_execution_worker.yaml in the namespace manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

docs(adr): file ADR-159 D3 invalidation and ADR-160 risk maturity
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/decisions/ADR-160-risk-maturity-and-authorization-boundary.md
Labels: governance

docs(planning): record retired-branch lineage for develop
  .intent/governance/namespace_manifest.yaml
  .specs/planning/CORE-Repo-Branch-History.md
Labels: governance

docs(adr): correct ADR-160 caller inventory, supersede ADR-095 D7, withdraw D4 self-escalation
  .specs/decisions/ADR-095-modularity-as-architectural-judgment.md
  .specs/decisions/ADR-159-autonomy-thesis-acceptance-boundary.md
  .specs/decisions/ADR-160-risk-maturity-and-authorization-boundary.md
Labels: none

feat(will): ADR-160 D3 first conversion — POST /develop/goal creates a pending Proposal
  .specs/decisions/ADR-160-risk-maturity-and-authorization-boundary.md
  src/api/v1/development_routes.py
  src/will/autonomy/autonomous_developer.py
  src/will/autonomy/plan_to_proposal.py
  src/will/workers/goal_execution_worker.py
  tests/api/v1/development_routes/test_generated.py
  tests/api/v1/test_development_routes__start_development_cycle.py
  tests/will/autonomy/test_develop_from_goal_worker_shim.py
  tests/will/autonomy/test_plan_to_proposal.py
  tests/will/workers/test_goal_execution_worker.py
Labels: feat, fix, test

chore(ci): group dependabot minor and patch updates
  .github/dependabot.yml
Labels: none

docs(claude): name the governed and operator roles
  CLAUDE.md
Labels: none

refactor(will): invert develop_from_goal's proposal-gating default (ADR-160 D3)
  src/api/v1/development_routes.py
  src/cli/resources/dev/refactor.py
  src/will/agents/strategic_auditor/effects.py
  src/will/autonomy/autonomous_developer.py
  src/will/governance/refactor_runner.py
  src/will/self_healing/modularity_remediation_service.py
  tests/api/v1/test_development_routes__start_development_cycle.py
  tests/will/autonomy/test_develop_from_goal_worker_shim.py
  tests/will/autonomy/test_legacy_direct_write_registry.py
Labels: feat, fix, test

fix(will): close literal-only gap in legacy_direct_write registry scan
  src/will/autonomy/autonomous_developer.py
  tests/will/autonomy/test_legacy_direct_write_registry.py
Labels: feat, fix, test

refactor(shared): remove dead settings-based embedder; embedder injection is mandatory
  src/shared/infrastructure/vector/vector_index_service.py
  src/shared/utils/embedding_utils.py
  tests/shared/infrastructure/vector/test_vector_index_service__VectorIndexService.py
  tests/shared/utils/test_embedding_utils.py
Labels: feat, fix, test

fix(will,body): #886 -- mapped-lane proposal create, finding defer and safe auto-approval are one transaction
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/body/services/proposal_submission_service.py
  src/will/autonomy/violation_remediator_blackboard.py
  src/will/autonomy/violation_remediator_proposal.py
  src/will/workers/violation_remediator.py
  tests/body/services/test_proposal_submission_service_mapped.py
  tests/will/workers/test_violation_remediator_approval_path.py
  tests/will/workers/test_violation_remediator_atomic_defer.py
  tests/will/workers/test_violation_remediator_finding_ids.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: feat, fix, test

chore(intent): #885 -- reconcile Proposal lifecycle vocabulary; draft retired, pending sole pre-approval state
  .intent/META/enums.json
  .intent/enforcement/contracts/LaneProposeResponse.json
  .intent/enforcement/contracts/Proposal.json
  .intent/enforcement/contracts/ProposalResponse.json
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/will/autonomy.json
  .intent/rules/will/proposal_lifecycle.json
  .intent/workers/violation_executor.yaml
  .intent/workers/violation_remediator_body.yaml
  src/shared/_machinery_floor/META/enums.json
  tests/fixtures/external_target/intent_overlay/rules/will/proposal_lifecycle.json
  tests/shared/infrastructure/test_proposal_status_canonical_alignment.py
Labels: feat, fix, test, governance

test(governance): ratchet MetaValidator over the live .intent/ -- wire the unwired gate
  tests/mind/governance/test_meta_validator_live_intent_ratchet.py
Labels: test

test(governance): pin the ratchet's validation surface; record the message-string coupling
  tests/mind/governance/test_meta_validator_live_intent_ratchet.py
Labels: test

chore(intent,test): empty the MetaValidator ratchet -- live .intent/ validates clean
  .intent/META/flow.schema.json
  .intent/artifact_types/architecture_bridge.yaml
  tests/mind/governance/test_meta_validator_live_intent_ratchet.py
Labels: test, governance

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
