Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

P1.4: Fix get_qdrant_service double-checked locking race condition
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/introspection/knowledge_vectorizer.py
  src/body/services/service_registry.py
  src/will/agents/planner_agent.py
Labels: feat, fix

P1.3: Replace llm_gate with passive_gate in planning enforcement — LLM must not block planning
  .intent/enforcement/mappings/will/planning.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
Labels: governance

P1.3: Replace llm_gate with passive_gate in planning enforcement — LLM must not block planning
  .intent/enforcement/mappings/will/planning.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
Labels: governance

P1.4: Move CognitiveService.initialize() outside registry lock — prevents service starvation during LLM startup
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/services/service_registry.py
Labels: feat, fix

P1.4: Move CognitiveService.initialize() outside registry lock — prevents service starvation during LLM startup
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/services/service_registry.py
Labels: feat, fix

Fix autonomy.tracing.mandatory: exclude __init__ and factory files from Agent scope
  .intent/enforcement/mappings/will/autonomy.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
Labels: governance

Fix autonomy.tracing.mandatory: exclude __init__ and factory files from Agent scope
  .intent/enforcement/mappings/will/autonomy.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
Labels: governance

Fix architecture.body.no_rule_evaluation: add targeted excludes for legitimate Mind engine usage in Body
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
Labels: governance

Fix architecture.body.no_rule_evaluation: add targeted excludes for legitimate Mind engine usage in Body
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
Labels: governance

README.mf update.
  README.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/services/file_service.py
  src/cli/resources/dev/chat.py
Labels: feat, fix, docs

README.mf update.
  README.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/services/file_service.py
  src/cli/resources/dev/chat.py
Labels: feat, fix, docs

chore: remove core.zip from version control
  .gitignore
  core.zip
Labels: none

chore: remove core.zip from version control
  .gitignore
  core.zip
Labels: none

chore: remove sensitive and binary files from version control
  .gitignore
Labels: none

chore: remove sensitive and binary files from version control
  .gitignore
Labels: none

chore: cleanup before demo recording
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

chore: cleanup before demo recording
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

fix(mind): inject session_provider via AuditorContext, remove get_session import
  core-refactor.cast
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/governance/audit_context.py
  src/mind/governance/enforcement/async_units.py
Labels: feat, fix

fix(mind): inject session_provider via AuditorContext, remove get_session import
  core-refactor.cast
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/governance/audit_context.py
  src/mind/governance/enforcement/async_units.py
Labels: feat, fix

chore: removed core-refactor.cast
  core-refactor.cast
Labels: none

chore: removed core-refactor.cast
  core-refactor.cast
Labels: none

chore: removed core-refactor.cast
  core-refactor.cast
Labels: none

chore: removed core-refactor.cast
  core-refactor.cast
Labels: none

chore: release v2.2.2 – Self-Compliance & Hygiene Edition
  CHANGELOG.md
Labels: none

chore: release v2.2.2 – Self-Compliance & Hygiene Edition
  CHANGELOG.md
Labels: none

chore: rel fix in README
  README.md
Labels: docs

chore: rel fix in README
  README.md
Labels: docs

feat: StrategicAuditor — CORE self-awareness agent (A2 milestone)
  .intent/rules/will/autonomy.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/governance/intent_guard.py
  src/cli/resources/dev/__init__.py
  src/cli/resources/dev/strategic_audit.py
  src/mind/governance/executable_rule.py
  src/mind/governance/policy_rule.py
  src/mind/governance/rule_extractor.py
  src/will/agents/strategic_auditor/__init__.py
  src/will/agents/strategic_auditor/agent.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/agents/strategic_auditor/models.py
Labels: feat, fix, governance

feat: StrategicAuditor — CORE self-awareness agent (A2 milestone)
  .intent/rules/will/autonomy.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/governance/intent_guard.py
  src/cli/resources/dev/__init__.py
  src/cli/resources/dev/strategic_audit.py
  src/mind/governance/executable_rule.py
  src/mind/governance/policy_rule.py
  src/mind/governance/rule_extractor.py
  src/will/agents/strategic_auditor/__init__.py
  src/will/agents/strategic_auditor/agent.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/agents/strategic_auditor/models.py
Labels: feat, fix, governance

chore: remove eval_context_build.py
  eval_context_build.py
Labels: none

chore: remove eval_context_build.py
  eval_context_build.py
Labels: none

refactor: move Worker base to shared, DocWriter to body layer
  .intent/META/intent_tree.yaml
  .intent/META/worker.schema.json
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/papers/CORE-Workers-and-Governance-Model.md
  .intent/workers/doc_worker.yaml
  .intent/workers/doc_writer.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/__init__.py
  src/body/analyzers/constitutional_path_analyzer.py
  src/body/workers/doc_writer.py
  src/cli/admin_cli.py
  src/cli/commands/check/formatters.py
  src/cli/resources/symbols/tag.py
  src/cli/resources/workers/__init__.py
  src/cli/resources/workers/run.py
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/workers.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/vector/adapters/constitutional/doc_key_resolver.py
  src/shared/workers/__init__.py
  src/shared/workers/base.py
  src/will/agents/tagger_agent.py
  src/will/self_healing/capability_tagging_service.py
  src/will/self_healing/docstring_service.py
  src/will/workers/doc_worker.py
Labels: feat, fix, governance

refactor: move Worker base to shared, DocWriter to body layer
  .intent/META/intent_tree.yaml
  .intent/META/worker.schema.json
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/papers/CORE-Workers-and-Governance-Model.md
  .intent/workers/doc_worker.yaml
  .intent/workers/doc_writer.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/__init__.py
  src/body/analyzers/constitutional_path_analyzer.py
  src/body/workers/doc_writer.py
  src/cli/admin_cli.py
  src/cli/commands/check/formatters.py
  src/cli/resources/symbols/tag.py
  src/cli/resources/workers/__init__.py
  src/cli/resources/workers/run.py
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/workers.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/vector/adapters/constitutional/doc_key_resolver.py
  src/shared/workers/__init__.py
  src/shared/workers/base.py
  src/will/agents/tagger_agent.py
  src/will/self_healing/capability_tagging_service.py
  src/will/self_healing/docstring_service.py
  src/will/workers/doc_worker.py
Labels: feat, fix, governance

feat(governance): introduce canonical capability taxonomy for cognitive routing
  .intent/enforcement/mappings/ai/capability_taxonomy_governance.yaml
  .intent/papers/CORE-Capability-Taxonomy.md
  .intent/papers/CORE-Cognitive-Role-Capability-Resource-Taxonomy.md
  .intent/papers/CORE-Cognitive-Routing-and-Resource-Selection.md
  .intent/rules/ai/capability_taxonomy_whitelist.json
  .intent/taxonomies/capability_taxonomy.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
Labels: governance

feat(governance): introduce canonical capability taxonomy for cognitive routing
  .intent/enforcement/mappings/ai/capability_taxonomy_governance.yaml
  .intent/papers/CORE-Capability-Taxonomy.md
  .intent/papers/CORE-Cognitive-Role-Capability-Resource-Taxonomy.md
  .intent/papers/CORE-Cognitive-Routing-and-Resource-Selection.md
  .intent/rules/ai/capability_taxonomy_whitelist.json
  .intent/taxonomies/capability_taxonomy.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
Labels: governance

feat: prompt compliance pipeline — 31 PromptModel artifacts generated
  .intent/META/worker.schema.json
  .intent/papers/CORE-Cognitive-Routing-and-Resource-Selection.md
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/call_site_rewriter.yaml
  .intent/workers/doc_worker.yaml
  .intent/workers/doc_writer.yaml
  .intent/workers/prompt_artifact_writer.yaml
  .intent/workers/prompt_extractor_worker.yaml
  docs/workbook/Working on/plan-prompt-model-compliance.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/maintenance/apply_provider_refactoring.py
  src/body/maintenance/migration_service.py
  src/body/maintenance/refactor_to_providers.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/cli/resources/database/__init__.py
  src/cli/resources/database/cleanup.py
  src/cli/resources/database/sync_env.py
  src/cli/resources/workers/run.py
  src/shared/ai/response_parser.py
  src/will/orchestration/cognitive_service.py
  src/will/self_healing/iterative_test_fixer.py
  src/will/self_healing/single_file_remediation.py
  src/will/workers/audit_ingest_worker.py
  src/will/workers/doc_worker.py
  src/will/workers/prompt_extractor_worker.py
Labels: feat, fix, docs, governance

feat: prompt compliance pipeline — 31 PromptModel artifacts generated
  .intent/META/worker.schema.json
  .intent/papers/CORE-Cognitive-Routing-and-Resource-Selection.md
  .intent/workers/audit_ingest_worker.yaml
  .intent/workers/call_site_rewriter.yaml
  .intent/workers/doc_worker.yaml
  .intent/workers/doc_writer.yaml
  .intent/workers/prompt_artifact_writer.yaml
  .intent/workers/prompt_extractor_worker.yaml
  docs/workbook/Working on/plan-prompt-model-compliance.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/maintenance/apply_provider_refactoring.py
  src/body/maintenance/migration_service.py
  src/body/maintenance/refactor_to_providers.py
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/cli/resources/database/__init__.py
  src/cli/resources/database/cleanup.py
  src/cli/resources/database/sync_env.py
  src/cli/resources/workers/run.py
  src/shared/ai/response_parser.py
  src/will/orchestration/cognitive_service.py
  src/will/self_healing/iterative_test_fixer.py
  src/will/self_healing/single_file_remediation.py
  src/will/workers/audit_ingest_worker.py
  src/will/workers/doc_worker.py
  src/will/workers/prompt_extractor_worker.py
Labels: feat, fix, docs, governance

feat: prompt compliance pipeline — 31 PromptModel artifacts generated, fixes.
  src/body/workers/call_site_rewriter.py
Labels: feat, fix

feat: prompt compliance pipeline — 31 PromptModel artifacts generated, fixes.
  src/body/workers/call_site_rewriter.py
Labels: feat, fix

refactor: constitutional cleanup — llm_gate PromptModel + legacy client removal
  .intent/enforcement/mappings/ai/prompt_artifact_structure.yaml
  .intent/rules/ai/prompt_artifact_structure.json
  .intent/workers/call_site_rewriter.yaml
  .intent/workers/intent_inspector.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/services/crate_processing_service.py
  src/body/workers/call_site_rewriter.py
  src/cli/resources/workers/__init__.py
  src/cli/resources/workers/blackboard.py
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/llm_gate.py
  src/shared/ai/response_parser.py
  src/shared/infrastructure/clients/llm_api_client.py
  src/shared/protocols/llm.py
  src/will/self_healing/enrichment_service.py
  src/will/workers/intent_inspector.py
Labels: feat, fix, governance
