Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(mind): Add Agent Reasoning Policy to constitution
  .intent/meta.yaml
  .intent/policies/agent_reasoning_policy.yaml
  .intent/schemas/agent_reasoning_policy.schema.json
  src/agents/development_cycle.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/shared/config.py
Labels: feat, fix, governance

feat(mind): Add Agent Reasoning Policy to constitution
  .intent/meta.yaml
  .intent/policies/agent_reasoning_policy.yaml
  .intent/schemas/agent_reasoning_policy.schema.json
  src/agents/development_cycle.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/shared/config.py
Labels: feat, fix, governance

refactor(mind): Align runtime requirements with new cognitive architecture
  .env.example
  .intent/config/runtime_requirements.yaml
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/main.py
  src/shared/config.py
Labels: feat, fix, governance

refactor(mind): Align runtime requirements with new cognitive architecture
  .env.example
  .intent/config/runtime_requirements.yaml
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/main.py
  src/shared/config.py
Labels: feat, fix, governance

feat(core): Complete the refactor to a role-based cognitive architecture
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/planner_agent.py
  src/core/cli/risk_gates.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/main.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/agent.py
  src/system/admin/guard.py
  src/system/admin/reviewer.py
  src/system/guard/discovery/from_manifest.py
  src/system/tools/docstring_adder.py
  tests/admin/test_guard_drift_cli.py
  tests/integration/test_full_run.py
  tests/unit/test_clients.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, test, governance

feat(core): Complete the refactor to a role-based cognitive architecture
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/planner_agent.py
  src/core/cli/risk_gates.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/main.py
  src/shared/config.py
  src/system/admin/__init__.py
  src/system/admin/agent.py
  src/system/admin/guard.py
  src/system/admin/reviewer.py
  src/system/guard/discovery/from_manifest.py
  src/system/tools/docstring_adder.py
  tests/admin/test_guard_drift_cli.py
  tests/integration/test_full_run.py
  tests/unit/test_clients.py
  tests/unit/test_planner_agent.py
Labels: feat, fix, test, governance

feat: Create new file docs/examples/hello_core.md
  docs/examples/hello_core.md
Labels: docs

feat: Create new file docs/examples/hello_core.md
  docs/examples/hello_core.md
Labels: docs

feat(governance): Harden v1.0 architecture and CI
  .github/release.yml
  .github/workflows/core-ci.yml
  .intent/knowledge/knowledge_graph.json
  docs/examples/hello_core.md
  src/agents/planner_agent.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/manifest.yaml
  src/system/admin/utils.py
  src/system/governance/models.py
  src/system/guard/models.py
  src/system/manifest.yaml
Labels: feat, fix, docs, governance, ci

feat(governance): Harden v1.0 architecture and CI
  .github/release.yml
  .github/workflows/core-ci.yml
  .intent/knowledge/knowledge_graph.json
  docs/examples/hello_core.md
  src/agents/planner_agent.py
  src/core/clients.py
  src/core/cognitive_service.py
  src/core/manifest.yaml
  src/system/admin/utils.py
  src/system/governance/models.py
  src/system/guard/models.py
  src/system/manifest.yaml
Labels: feat, fix, docs, governance, ci

fix(constitution): Align Mind and Body after v1.0 validation
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  src/core/clients.py
  src/core/cognitive_service.py
  src/shared/config_loader.py
  src/shared/manifest.yaml
  src/system/admin/utils.py
  src/system/governance/models.py
  src/system/guard/models.py
  src/system/manifest.yaml
Labels: feat, fix, governance

fix(constitution): Align Mind and Body after v1.0 validation
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  src/core/clients.py
  src/core/cognitive_service.py
  src/shared/config_loader.py
  src/shared/manifest.yaml
  src/system/admin/utils.py
  src/system/governance/models.py
  src/system/guard/models.py
  src/system/manifest.yaml
Labels: feat, fix, governance

refactor(tools): Decompose KnowledgeGraphBuilder into modular components
  .intent/knowledge/knowledge_graph.json
  docs/migrations/MIGRATION_GUIDE_CODEGRAPH_BUILDER.md
  src/system/tools/ast_analyzer.py
  src/system/tools/ast_utils.py
  src/system/tools/codegraph_builder.py
  src/system/tools/config/builder_config.py
  src/system/tools/domain_mapper.py
  src/system/tools/entry_point_detector.py
  src/system/tools/file_scanner.py
  src/system/tools/symbol_processor.py
Labels: feat, fix, docs, governance

refactor(tools): Decompose KnowledgeGraphBuilder into modular components
  .intent/knowledge/knowledge_graph.json
  docs/migrations/MIGRATION_GUIDE_CODEGRAPH_BUILDER.md
  src/system/tools/ast_analyzer.py
  src/system/tools/ast_utils.py
  src/system/tools/codegraph_builder.py
  src/system/tools/config/builder_config.py
  src/system/tools/domain_mapper.py
  src/system/tools/entry_point_detector.py
  src/system/tools/file_scanner.py
  src/system/tools/symbol_processor.py
Labels: feat, fix, docs, governance

refactor(constitution): Apply fixes from AI peer review
  .intent/config/runtime_requirements.yaml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/policies/agent_reasoning_policy.yaml
  .intent/policies/secrets_management.yaml
Labels: governance

refactor(constitution): Apply fixes from AI peer review
  .intent/config/runtime_requirements.yaml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/policies/agent_reasoning_policy.yaml
  .intent/policies/secrets_management.yaml
Labels: governance

refactor(constitution): Apply fixes from second peer review
  .intent/constitution/approvers.yaml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  .intent/policies/agent_reasoning_policy.yaml
  .intent/policies/safety_policies.yaml
Labels: governance

refactor(constitution): Apply fixes from second peer review
  .intent/constitution/approvers.yaml
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  .intent/policies/agent_reasoning_policy.yaml
  .intent/policies/safety_policies.yaml
Labels: governance

docs(constitution): Create human-readable entry point
  .intent/knowledge/knowledge_graph.json
  CONTRIBUTING.md
  README.md
  docs/00_WHAT_IS_CORE.md
Labels: docs, governance

docs(constitution): Create human-readable entry point
  .intent/knowledge/knowledge_graph.json
  CONTRIBUTING.md
  README.md
  docs/00_WHAT_IS_CORE.md
Labels: docs, governance

feat(governance): Implement Human Clarity Audit capability
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/docs_clarity_review.prompt
  reports/docs_clarity_review.md
  src/system/admin/reviewer.py
Labels: feat, fix, governance

feat(governance): Implement Human Clarity Audit capability
  .intent/knowledge/capability_tags.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/meta.yaml
  .intent/prompts/docs_clarity_review.prompt
  reports/docs_clarity_review.md
  src/system/admin/reviewer.py
Labels: feat, fix, governance

docs(clarity): Implement feedback from Human Clarity Audit
  .intent/knowledge/knowledge_graph.json
  CONTRIBUTING.md
  README.md
  docs/01_PHILOSOPHY.md
  docs/08_CONTEXT_AND_COMPARISONS.md
  docs/TheDocument.md
Labels: docs, governance

docs(clarity): Implement feedback from Human Clarity Audit
  .intent/knowledge/knowledge_graph.json
  CONTRIBUTING.md
  README.md
  docs/01_PHILOSOPHY.md
  docs/08_CONTEXT_AND_COMPARISONS.md
  docs/TheDocument.md
Labels: docs, governance

docs(clarity): Implement additional feedback from Human Clarity Audit
  .intent/knowledge/knowledge_graph.json
  README.md
  docs/02_ARCHITECTURE.md
  reports/docs_clarity_bundle.txt
  src/system/admin/reviewer.py
Labels: feat, fix, docs, governance

docs(clarity): Implement additional feedback from Human Clarity Audit
  .intent/knowledge/knowledge_graph.json
  README.md
  docs/02_ARCHITECTURE.md
  reports/docs_clarity_bundle.txt
  src/system/admin/reviewer.py
Labels: feat, fix, docs, governance

docs(onboarding): Implement 'Show, Don't Tell' epic
  .intent/knowledge/knowledge_graph.json
  README.md
  docs/09_WORKED_EXAMPLE.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
Labels: docs, governance

docs(onboarding): Implement 'Show, Don't Tell' epic
  .intent/knowledge/knowledge_graph.json
  README.md
  docs/09_WORKED_EXAMPLE.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
Labels: docs, governance

docs(onboarding): Implement improved 'Show, Don't Tell' epic
  .intent/knowledge/knowledge_graph.json
Labels: governance

docs(onboarding): Implement improved 'Show, Don't Tell' epic
  .intent/knowledge/knowledge_graph.json
Labels: governance

docs(onboarding): Implement improved 'Get to the Point' epic
  CONTRIBUTING.md
  README.md
  docs/00_WHAT_IS_CORE.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
Labels: docs

docs(onboarding): Implement improved 'Get to the Point' epic
  CONTRIBUTING.md
  README.md
  docs/00_WHAT_IS_CORE.md
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
Labels: docs

docs: Refactor README for clarity and add 'What is CORE?' guide
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  CONTRIBUTING.md
  README.md
  add_filepath_comments.py
  docs/00_WHAT_IS_CORE.md
Labels: docs, governance

docs: Refactor README for clarity and add 'What is CORE?' guide
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  CONTRIBUTING.md
  README.md
  add_filepath_comments.py
  docs/00_WHAT_IS_CORE.md
Labels: docs, governance

docs: Refactor README for clarity and add 'What is CORE?' guide
  CONTRIBUTING.md
  README.md
Labels: docs

docs: Refactor README for clarity and add 'What is CORE?' guide
  CONTRIBUTING.md
  README.md
Labels: docs

docs: Refactor README for clarity and add 'What is CORE?' guide
  docs/01_PHILOSOPHY.md
  docs/02_ARCHITECTURE.md
  docs/03_GOVERNANCE.md
  docs/04_ROADMAP.md
  docs/09_WORKED_EXAMPLE.md
Labels: docs

docs: Refactor README for clarity and add 'What is CORE?' guide
  docs/01_PHILOSOPHY.md
  docs/02_ARCHITECTURE.md
  docs/03_GOVERNANCE.md
  docs/04_ROADMAP.md
  docs/09_WORKED_EXAMPLE.md
Labels: docs

Fix: Resolve setup, testing, and audit errors
  .env.example
  .github/workflows/intent-validate.yml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  .intent/meta.yaml
  .intent/schemas/enforcement_model.schema.json
  .intent/schemas/intent_guard.schema.json
  docs/04_ROADMAP.md
  pyproject.toml
  reports/constitutional_bundle.txt
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
  reports/manual_review_package.txt
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/planner_agent.py
  src/core/git_service.py
  src/core/knowledge_service.py
  src/core/manifest.yaml
  src/core/python_validator.py
  src/shared/config.py
  src/shared/manifest.yaml
  src/system/manifest.yaml
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance, ci, deps

Fix: Resolve setup, testing, and audit errors
  .env.example
  .github/workflows/intent-validate.yml
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/knowledge/resource_manifest.yaml
  .intent/meta.yaml
  .intent/schemas/enforcement_model.schema.json
  .intent/schemas/intent_guard.schema.json
  docs/04_ROADMAP.md
  pyproject.toml
  reports/constitutional_bundle.txt
  reports/docs_clarity_bundle.txt
  reports/docs_clarity_review.md
  reports/manual_review_package.txt
  src/agents/execution_agent.py
  src/agents/manifest.yaml
  src/agents/planner_agent.py
  src/core/git_service.py
  src/core/knowledge_service.py
  src/core/manifest.yaml
  src/core/python_validator.py
  src/shared/config.py
  src/shared/manifest.yaml
  src/system/manifest.yaml
  tests/unit/test_config.py
Labels: feat, fix, docs, test, governance, ci, deps
