Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

ci: nightly auditor + drift to rolling issue
  .github/workflows/nightly-audit.yml
Labels: ci

ci: add full Poetry-based CI with KG export
  .github/workflows/core-ci.yml
  .intent/knowledge/knowledge_graph.json
  src/system/admin/agent.py
  src/system/tools/docstring_adder.py
Labels: feat, fix, governance, ci

ci: add full Poetry-based CI with KG export
  .intent/knowledge/knowledge_graph.json
  src/system/admin/agent.py
  src/system/admin/guard.py
  src/system/tools/docstring_adder.py
  src/system/tools/domain_mapper.py
Labels: feat, fix, governance

chore(ci): track poetry.lock for reproducible installs
  poetry.lock
Labels: deps

chore(ci): track poetry.lock for reproducible installs
  .github/workflows/core-ci.yml
  .gitignore
Labels: ci

chore(ci): track poetry.lock for reproducible installs
  pyproject.toml
Labels: deps

chore(ci): track poetry.lock for reproducible installs
  poetry.lock
Labels: deps

chore(ci): track poetry.lock for reproducible installs
  .intent/knowledge/knowledge_graph.json
  src/shared/config.py
Labels: feat, fix, governance

sync: ensure GitHub reflects local state
  reports/constitutional_review.md
Labels: none

sync: ensure GitHub reflects local state
  reports/constitutional_review.md
Labels: none

wip: upgrade test
  pyproject.toml
Labels: deps

wip: upgrade test
  pyproject.toml
Labels: deps

wip: upgrade test
  .intent/knowledge/knowledge_graph.json
  pyproject.toml
Labels: governance, deps

wip: upgrade test
  .intent/knowledge/knowledge_graph.json
  pyproject.toml
Labels: governance, deps

refactor(capability): Add 'yaml_loading' tag to load_yaml
  src/shared/utils/yaml_loader.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/risk_gates.py
  src/core/cli/risk_gates.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/intent_validate.py
  src/core/cli/intent_validate.py
Labels: feat, fix

feat: Create new file src/shared/utils/yaml_loader.py
  src/shared/utils/yaml_loader.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/risk_gates.py
  src/core/cli/risk_gates.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/intent_validate.py
  src/core/cli/intent_validate.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/risk_gates.py
  src/core/cli/risk_gates.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/risk_gates.py
  src/core/cli/risk_gates.py
Labels: feat, fix

feat: Create new file src/shared/utils/yaml_loader.py
  src/shared/utils/yaml_loader.py
Labels: feat, fix

refactor(capability): Add 'yaml_loading' tag to load_yaml
  src/shared/utils/yaml_loader.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/intent_validate.py
  src/core/cli/intent_validate.py
Labels: feat, fix

feat: Modify function _load_yaml in src/core/cli/intent_validate.py
  src/core/cli/intent_validate.py
Labels: feat, fix

feat(constitution): Define yaml_loading capability
  .intent/knowledge/capability_tags.yaml
Labels: governance

feat(constitution): Define yaml_loading capability
  .intent/knowledge/capability_tags.yaml
Labels: governance

feat(proposal): Create proposal for src/core/cli/risk_gates.py
  .intent/proposals/cr-c8a40bff-risk_gates.yaml
Labels: governance

feat(proposal): Create proposal for src/core/cli/risk_gates.py
  .intent/proposals/cr-c8a40bff-risk_gates.yaml
Labels: governance

feat(proposal): Create proposal for src/core/cli/risk_gates.py
  .intent/proposals/cr-06a3574a-risk_gates.yaml
Labels: governance

feat(proposal): Create proposal for src/core/cli/risk_gates.py
  .intent/proposals/cr-06a3574a-risk_gates.yaml
Labels: governance

chore(audit): Add missing docstrings for a clean v0.2.0 audit
  src/core/cli/risk_gates.py
Labels: feat, fix

chore(audit): Add missing docstrings for a clean v0.2.0 audit
  src/core/cli/risk_gates.py
Labels: feat, fix

feat(gov): Add issue templates for Epics and Documentation
  .github/ISSUE_TEMPLATE/deature_request.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .intent/constitution/approvers.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/proposals/cr-06a3574a-risk_gates.yaml
  .intent/proposals/cr-c8a40bff-risk_gates.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/models.py
  src/agents/plan_executor.py
  src/agents/planner_agent.py
  src/agents/utils.py
  src/core/cli/intent_validate.py
  src/core/main.py
  src/shared/config.py
  src/shared/utils/constitutional_parser.py
  src/system/admin/__init__.py
  src/system/admin/develop.py
  src/system/admin/proposals.py
  src/system/admin/utils.py
  tests/integration/test_full_run.py
Labels: feat, fix, test, governance

feat(gov): Add issue templates for Epics and Documentation
  .github/ISSUE_TEMPLATE/deature_request.yml
  .github/ISSUE_TEMPLATE/docs_request.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .intent/constitution/approvers.yaml
  .intent/knowledge/knowledge_graph.json
  .intent/proposals/cr-06a3574a-risk_gates.yaml
  .intent/proposals/cr-c8a40bff-risk_gates.yaml
  src/agents/development_cycle.py
  src/agents/execution_agent.py
  src/agents/models.py
  src/agents/plan_executor.py
  src/agents/planner_agent.py
  src/agents/utils.py
  src/core/cli/intent_validate.py
  src/core/main.py
  src/shared/config.py
  src/shared/utils/constitutional_parser.py
  src/system/admin/__init__.py
  src/system/admin/develop.py
  src/system/admin/proposals.py
  src/system/admin/utils.py
  tests/integration/test_full_run.py
Labels: feat, fix, test, governance

docs: Align foundational documents with Mind/Body/Will architecture and archive old roadmap
  README.md
  docs/01_PHILOSOPHY.md
  docs/04_ROADMAP.md
Labels: docs

docs: Align foundational documents with Mind/Body/Will architecture and archive old roadmap
  README.md
  docs/01_PHILOSOPHY.md
  docs/04_ROADMAP.md
Labels: docs

feat(mind): Implement role-based cognitive architecture
  .env.example
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/resource_manifest.yaml
  .intent/schemas/cognitive_roles.schema.json
  .intent/schemas/resource_manifest.schema.json
Labels: governance

feat(mind): Implement role-based cognitive architecture
  .env.example
  .intent/knowledge/cognitive_roles.yaml
  .intent/knowledge/resource_manifest.yaml
  .intent/schemas/cognitive_roles.schema.json
  .intent/schemas/resource_manifest.schema.json
Labels: governance
