Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(db): add StrategicAuditor/AutonomousDeveloper/Human cognitive roles
  infra/sql/db_schema_live.sql
  src/cli/resources/dev/strategic_audit.py
Labels: feat, fix

fix(campaign-execute): wire brain services for develop_from_goal + remove phantom workflow type
  src/will/autonomy/autonomous_developer.py
  src/will/phases/code_generation_phase.py
  var/prompts/architect_threats_analysis_prompt/user.txt
Labels: feat, fix

fix(campaign-execute): normalize full_feature_development workflow alias in effects
  src/will/agents/strategic_auditor/effects.py
Labels: feat, fix

feat(campaign-execute): add code_modification workflow + fix cluster grounding
  .intent/workflows/definitions/code_modification.yaml
  src/will/agents/strategic_auditor/effects.py
  src/will/phases/interpret_phase.py
  src/will/phases/runtime_phase.py
  var/prompts/architect_threats_analysis_prompt/user.txt
Labels: feat, fix, governance

fix(interpret-phase): remove full_feature_development default + add tests
  src/will/phases/interpret_phase.py
  tests/helpers/__init__.py
  tests/helpers/fixtures.py
  tests/will/agents/test_strategic_auditor_effects.py
  tests/will/phases/test_interpret_phase__InterpretPhase.py
Labels: feat, fix, test

fix(strategic-auditor): resolve field-name mismatches that sent all findings as 'unknown'
  src/will/agents/strategic_auditor/reasoning.py
Labels: feat, fix

fix(reflex-repair): inject target module source into repair prompt (#753)
  src/will/agents/coder_agent.py
  src/will/phases/code_generation_phase.py
  tests/will/phases/test_code_generation_phase_module_extraction.py
  var/prompts/coder_repair/user.txt
Labels: feat, fix, test

fix(dispatch-parity): recognize package engines + exclude advisory rules (#755)
  src/mind/coherence/checks/dispatch_parity.py
  tests/mind/coherence/test_dispatch_parity.py
Labels: feat, fix, test

fix(test-remediator): use stable cap_reached subject per file to stop F-19 flood
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
Labels: feat, fix, test

fix(sandbox): propagate test files from new directories (#756)
  src/body/atomic/build_test_for_symbol_action.py
  src/shared/infrastructure/git_service.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/body/atomic/test_flow_sandbox_lifecycle.py
Labels: feat, fix, test

fix(23f2836d-c4d4-44): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/proposal_consumer_effects.py::summarize_flow_step_failures (function)
  tests/will/workers/proposal_consumer_effects/__init__.py
  tests/will/workers/proposal_consumer_effects/test_generated.py
Labels: test

fix(audit): clear 4 BLOCK findings from audit run
  .intent/governance/namespace_manifest.yaml
  src/body/atomic/assisted_actions.py
Labels: feat, fix, governance

governance(ccc): close ROW4_NAMING #754 — add D-text citations for 11 .intent/ artifacts
  .specs/decisions/ADR-027-sensor-fixer-coherence-detection.md
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/decisions/ADR-066-unmapped-rules-invariant.md
  .specs/decisions/ADR-081-per-worker-process-isolation-classification.md
  .specs/decisions/ADR-098-aggregate-quality-gate-finding-shape.md
  .specs/decisions/ADR-103-worker-max-interval-is-cycle-cap.md
  .specs/decisions/ADR-110-exposure-trust-boundary.md
  .specs/decisions/ADR-133-test-gap-evaluator.md
  .specs/decisions/ADR-134-prompt-content-governance.md
  .specs/decisions/ADR-135-dual-mode-generation-primitives.md
Labels: none

fix(f19): use stable finding subject for remediation_cap_reached observation
  src/will/workers/proposal_consumer_revival.py
  tests/will/workers/test_proposal_consumer_revival_cap.py
Labels: feat, fix, test

fix(7a282143-3e9a-49): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/violation_remediator_blackboard.py::mark_delegated (function)
  tests/will/workers/violation_remediator_blackboard/__init__.py
  tests/will/workers/violation_remediator_blackboard/test_generated.py
Labels: test

fix(ff1ba45c-b01d-43): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/test_runner_sensor.py::TestRunnerSensor (class)
  tests/will/workers/test_runner_sensor/__init__.py
  tests/will/workers/test_runner_sensor/test_generated.py
Labels: test

feat(installer): #521 items 1-4 — portable schema.sql + Qdrant collection in lifespan
  .github/workflows/core-ci.yml
  docker-compose.test.yml
  infra/scripts/create_qdrant_collection.py
  infra/scripts/init-test-db.sh
  infra/scripts/reset_test_db.sh
  schema.sql
  src/body/infrastructure/lifespan.py
Labels: feat, fix, ci

feat(installer): #522 — bare path + schema/role workarounds removed
  install-core.sh
Labels: none

feat(adr): ADR-143 — symbols-drift governed-anchor SSOT (#503 D1)
  .specs/decisions/ADR-143-symbols-drift-anchor-ssot.md
  src/body/introspection/drift_service.py
  src/will/governance/inspect_runner.py
Labels: feat, fix

fix(89256a9c-b689-4e): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/violation_remediator_body/ceremony.py::CeremonyMixin (class)
  tests/will/workers/violation_remediator_body/ceremony/__init__.py
  tests/will/workers/violation_remediator_body/ceremony/test_generated.py
Labels: test

feat(drift): ADR-143 D2+D3 — IdAnchorScanner + symbols-drift wired (#503)
  src/body/introspection/drift_service.py
  src/body/introspection/id_anchor_scanner.py
  src/will/governance/inspect_runner.py
  tests/body/introspection/__init__.py
  tests/body/introspection/test_id_anchor_scanner.py
Labels: feat, fix, test

fix(1172da11-fbb9-44): Autonomous test generation: flow.build_test_for_symbol — src/will/workers/intent_inspector.py::IntentInspector (class)
  tests/will/workers/intent_inspector/__init__.py
  tests/will/workers/intent_inspector/test_generated.py
Labels: test

revert(drift): remove parallel IdAnchorScanner — duplicated existing pipeline
  .specs/decisions/ADR-143-symbols-drift-anchor-ssot.md
  src/body/introspection/drift_service.py
  src/body/introspection/id_anchor_scanner.py
  src/will/governance/inspect_runner.py
  tests/body/introspection/__init__.py
  tests/body/introspection/test_id_anchor_scanner.py
Labels: feat, fix, test

feat(drift): ADR-143 D3 — wire symbols-drift to existing blackboard pipeline (#503)
  .specs/decisions/ADR-143-symbols-drift-anchor-ssot.md
  src/body/introspection/drift_service.py
  src/will/governance/inspect_runner.py
  tests/body/introspection/__init__.py
  tests/body/introspection/test_drift_service.py
Labels: feat, fix, test

feat(ccc): ADR-144 — cross-namespace relation taxonomy + CROSS_NS_DIRECTION check (#477)
  .specs/decisions/ADR-144-cross-namespace-relation-taxonomy.md
  .specs/papers/CORE-Governance-Topology.md
  src/mind/coherence/checker.py
  src/mind/coherence/checks/cross_ns_direction.py
  tests/mind/coherence/test_cross_ns_direction.py
Labels: feat, fix, test

chore(manifest): classify ADR-143 and ADR-144 in namespace_manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

feat(db): ADR-052 Phase 4 — retire runtime_settings (#328)
  src/body/maintenance/dotenv_sync_service.py
  src/cli/resources/database/__init__.py
  src/cli/resources/database/sync_env.py
  src/shared/infrastructure/config_service.py
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/system.py
  src/shared/infrastructure/secrets_service.py
Labels: feat, fix

fix(secrets): update list_secrets CLI rendering for secret_store schema
  src/cli/resources/secrets/manage.py
  src/shared/infrastructure/secrets_service.py
Labels: feat, fix

docs(review): update external-review prompt — ADR-144, rule counts, security posture
  var/prompts/external-review.md
Labels: none

test(api): cover 7 previously-untested route modules (+49 tests)
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_integration_routes.py
  tests/api/v1/test_integrity_routes.py
  tests/api/v1/test_knowledge_routes.py
  tests/api/v1/test_lint_routes.py
  tests/api/v1/test_proposals_routes.py
Labels: test

feat(test-loop): widen TestCoverageSensor scope to include src/api/v1/
  .intent/enforcement/config/test_coverage.yaml
Labels: governance

fix(545c22c0-fffd-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/census_routes.py::census_diff (function)
  tests/api/__init__.py
  tests/api/v1/__init__.py
  tests/api/v1/census_routes/__init__.py
  tests/api/v1/census_routes/test_generated.py
Labels: test

fix(0d8377a0-45fa-4c): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/audit_routes.py::create_remediation_run (function)
  tests/api/v1/audit_routes/__init__.py
  tests/api/v1/audit_routes/test_generated.py
Labels: test

fix(9e50dfb2-9b2e-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/proposals_routes.py::execute_proposal (function)
  tests/api/v1/proposals_routes/__init__.py
  tests/api/v1/proposals_routes/test_generated.py
Labels: test

fix(quarantine): register python:: drainer in drainer_registry.yaml
  .intent/enforcement/quarantine/drainer_registry.yaml
Labels: governance

fix(3b550774-507c-42): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/fix_routes.py::list_actions (function)
  tests/api/v1/fix_routes/__init__.py
  tests/api/v1/fix_routes/test_generated.py
Labels: test

fix(f62e1e07-6f3d-4c): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/lane_routes.py::claim_delegated_finding (function)
  tests/api/v1/lane_routes/__init__.py
  tests/api/v1/lane_routes/test_generated.py
Labels: test

fix(7e7a5127-f80d-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/coverage_routes.py::interactive_tests (function)
  tests/api/v1/coverage_routes/__init__.py
  tests/api/v1/coverage_routes/test_generated.py
Labels: test

fix(6ab9b426-b475-4e): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/daemon_routes.py::daemon_start (function)
  tests/api/v1/daemon_routes/__init__.py
  tests/api/v1/daemon_routes/test_generated.py
Labels: test

fix(b72babea-d264-4a): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/integration_routes.py::integrate (function)
  tests/api/v1/integration_routes/__init__.py
  tests/api/v1/integration_routes/test_generated.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
