Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

checkpoint: before safe LOG-003 fixer
  src/body/cli/commands/fix_logging.py
Labels: feat, fix

feat: achieve 100% atomic actions compliance 🏆
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/manage/policies.py
Labels: feat, fix

chore: bump ruff/black and sync formatting
  pyproject.toml
Labels: deps

chore: bump ruff/black and sync formatting
  pyproject.toml
Labels: deps

Add conversational interface - Phase 1 read-only
  .intent/charter/patterns/user_interface.yaml
  pyproject.toml
  src/api/cli_user.py
  src/api/main.py
  src/body/cli/admin_cli.py
  src/body/services/crate_processing_service.py
  src/features/self_healing/clarity_service.py
  src/features/self_healing/coverage_remediation_service.py
  src/features/self_healing/full_project_remediation.py
  src/features/self_healing/single_file_remediation.py
  src/mind/governance/audit_postprocessor.py
  src/services/context/__init__.py
  src/will/agents/conversational_agent.py
Labels: feat, fix, governance, deps

Add conversational interface - Phase 1 read-only
  .intent/charter/patterns/user_interface.yaml
  pyproject.toml
  src/api/cli_user.py
  src/api/main.py
  src/body/cli/admin_cli.py
  src/body/services/crate_processing_service.py
  src/features/self_healing/clarity_service.py
  src/features/self_healing/coverage_remediation_service.py
  src/features/self_healing/full_project_remediation.py
  src/features/self_healing/single_file_remediation.py
  src/mind/governance/audit_postprocessor.py
  src/services/context/__init__.py
  src/will/agents/conversational_agent.py
Labels: feat, fix, governance, deps

Improve DBProvider exact symbol matching
  src/services/context/providers/db.py
Labels: feat, fix

Improve DBProvider exact symbol matching
  src/services/context/providers/db.py
Labels: feat, fix

Major improvements: Conversational interface + PathResolver + autonomous refactoring
  migrate_to_path_resolver.py
  src/api/cli_user.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/docstring_service.py
  src/features/self_healing/enrichment_service.py
  src/features/self_healing/fix_manifest_hygiene.py
  src/features/self_healing/header_service.py
  src/features/self_healing/linelength_service.py
  src/features/self_healing/prune_private_capabilities.py
  src/services/context/providers/db.py
  src/services/repositories/db/common.py
  src/shared/config.py
  src/shared/path_resolver.py
  src/will/agents/conversational/__init__.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  src/will/agents/conversational/helpers.py
Labels: feat, fix

Major improvements: Conversational interface + PathResolver + autonomous refactoring
  migrate_to_path_resolver.py
  src/api/cli_user.py
  src/features/self_healing/complexity_service.py
  src/features/self_healing/docstring_service.py
  src/features/self_healing/enrichment_service.py
  src/features/self_healing/fix_manifest_hygiene.py
  src/features/self_healing/header_service.py
  src/features/self_healing/linelength_service.py
  src/features/self_healing/prune_private_capabilities.py
  src/services/context/providers/db.py
  src/services/repositories/db/common.py
  src/shared/config.py
  src/shared/path_resolver.py
  src/will/agents/conversational/__init__.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  src/will/agents/conversational/helpers.py
Labels: feat, fix

Pre-refactor checkpoint: current working state
  .intent/charter/patterns/vector_service_standards.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  src/api/cli_user.py
  src/body/cli/commands/dev_sync.py
  src/features/introspection/pattern_vectorizer.py
  src/services/context/providers/db.py
  src/services/vector/vector_index_service.py
  src/shared/path_resolver.py
  src/shared/universal.py
  src/shared/utils/common_knowledge.py
  src/will/agents/conversational/__init__.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  src/will/agents/conversational/helpers.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/policy_vectorizer.py
Labels: feat, fix, governance

Pre-refactor checkpoint: current working state
  .intent/charter/patterns/vector_service_standards.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  src/api/cli_user.py
  src/body/cli/commands/dev_sync.py
  src/features/introspection/pattern_vectorizer.py
  src/services/context/providers/db.py
  src/services/vector/vector_index_service.py
  src/shared/path_resolver.py
  src/shared/universal.py
  src/shared/utils/common_knowledge.py
  src/will/agents/conversational/__init__.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  src/will/agents/conversational/helpers.py
  src/will/tools/module_anchor_generator.py
  src/will/tools/policy_vectorizer.py
Labels: feat, fix, governance

Pre-refactor cleanup: register orphaned policies and schemas in meta.yaml
  .intent/meta.yaml
Labels: governance

Pre-refactor cleanup: register orphaned policies and schemas in meta.yaml
  .intent/meta.yaml
Labels: governance

Fix reuse check path after Phase 2 refactor
  .intent/mind_export/symbols.yaml
  src/mind/governance/checks/reuse_compliance_check.py
Labels: feat, fix, governance

Fix reuse check path after Phase 2 refactor
  .intent/mind_export/symbols.yaml
  src/mind/governance/checks/reuse_compliance_check.py
Labels: feat, fix, governance

Fix remaining service imports in dev-scripts and update Mind snapshot
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

Fix remaining service imports in dev-scripts and update Mind snapshot
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
Labels: governance

Phase 3: Extract Mind enforcement logic from Body + update snapshot
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  src/body/cli/admin_cli.py
  src/body/cli/commands/check.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/inspect.py
  src/mind/enforcement/audit.py
  src/mind/enforcement/guard.py
  src/mind/enforcement/guard_cli.py
  src/mind/enforcement/list_audits.py
  src/mind/enforcement/log_audit.py
Labels: feat, fix, governance

Phase 3: Extract Mind enforcement logic from Body + update snapshot
  .intent/mind_export/capabilities.yaml
  .intent/mind_export/links.yaml
  .intent/mind_export/northstar.yaml
  .intent/mind_export/symbols.yaml
  src/body/cli/admin_cli.py
  src/body/cli/commands/check.py
  src/body/cli/commands/dev_sync.py
  src/body/cli/commands/inspect.py
  src/mind/enforcement/audit.py
  src/mind/enforcement/guard.py
  src/mind/enforcement/guard_cli.py
  src/mind/enforcement/list_audits.py
  src/mind/enforcement/log_audit.py
Labels: feat, fix, governance

Fix broken imports in conversational agent after refactor
  .pre-commit-config.yaml
  0:
  src/body/cli/commands/inspect_patterns.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  tests/body/cli/logic/test_logic_cli_utils.py
  tests/validation/test_a2_metrics.py
Labels: feat, fix, test

Fix broken imports in conversational agent after refactor
  .pre-commit-config.yaml
  0:
  src/body/cli/commands/inspect_patterns.py
  src/will/agents/conversational/agent.py
  src/will/agents/conversational/factory.py
  tests/body/cli/logic/test_logic_cli_utils.py
  tests/validation/test_a2_metrics.py
Labels: feat, fix, test

feat: Add constitutional governance structure documentation
  .intent/charter/constitution/ACTIVE
  .intent/charter/constitution/CONSTITUTION-STRUCTURE.yaml
  .intent/charter/constitution/PATTERN-STRUCTURE.yaml
  .intent/charter/constitution/POLICY-STRUCTURE.yaml
  .intent/charter/constitution/RULES-STRUCTURE.yaml
  .intent/charter/standards/architecture/layer_contracts.yaml
  .intent/charter/standards/policy_integrity.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  .pre-commit-config.yaml
  0:
  README.md
  docs/Enforcement roadmap.md
  migrate_to_path_resolver.py
  pyproject.toml
  scripts/emit_latest_audit_evidence.py
  scripts/generate_enforcement_coverage_map.py
  scripts/generate_hierarchical_coverage_summary.py
  src/body/cli/commands/mind.py
  src/mind/governance/meta_validator.py
  verify_governance.py
Labels: feat, fix, docs, governance, deps

feat: Add constitutional governance structure documentation
  .intent/charter/constitution/ACTIVE
  .intent/charter/constitution/CONSTITUTION-STRUCTURE.yaml
  .intent/charter/constitution/PATTERN-STRUCTURE.yaml
  .intent/charter/constitution/POLICY-STRUCTURE.yaml
  .intent/charter/constitution/RULES-STRUCTURE.yaml
  .intent/charter/standards/architecture/layer_contracts.yaml
  .intent/charter/standards/policy_integrity.yaml
  .intent/meta.yaml
  .intent/mind/knowledge/entry_point_patterns.yaml
  .pre-commit-config.yaml
  0:
  README.md
  docs/Enforcement roadmap.md
  migrate_to_path_resolver.py
  pyproject.toml
  scripts/emit_latest_audit_evidence.py
  scripts/generate_enforcement_coverage_map.py
  scripts/generate_hierarchical_coverage_summary.py
  src/body/cli/commands/mind.py
  src/mind/governance/meta_validator.py
  verify_governance.py
Labels: feat, fix, docs, governance, deps

chore: fix issue template YAML + normalize formatting
  .github/ISSUE_TEMPLATE/enhancement_proposal.yml
  docs/archive/DEPLOYMENT_CHECKLIST.md
  docs/archive/SINGLE_TEST_FIXER_DESIGN.md
  docs/archive/SINGLE_TEST_FIXER_USAGE.md
  scripts/reset_and_rebuild_db.sh
  sql/001_consolidated_schema.sql
Labels: docs

chore: fix issue template YAML + normalize formatting
  .github/ISSUE_TEMPLATE/enhancement_proposal.yml
  docs/archive/DEPLOYMENT_CHECKLIST.md
  docs/archive/SINGLE_TEST_FIXER_DESIGN.md
  docs/archive/SINGLE_TEST_FIXER_USAGE.md
  scripts/reset_and_rebuild_db.sh
  sql/001_consolidated_schema.sql
Labels: docs

feat: complete autonomy architecture (memory, events, tools, safety)
  .intent/charter/schemas/data/agent_memory_schema.yaml
  .intent/charter/standards/architecture/event_schema_standard.yaml
  .intent/charter/standards/architecture/tool_definition_standard.yaml
  .intent/charter/standards/operations/safety.yaml
  .intent/charter/standards/operations/secrets_management.yaml
  .intent/meta.yaml
  .intent/mind/history/coverage_history.json
  .intent/mind/knowledge/domain_definitions.yaml
  .intent/mind/knowledge/project_structure.yaml
  README.md
  docs/architecture/Conversational Flow Target Architecture.md
  docs/conversations/CURRENT_STATE.md
  docs/conversations/README.md
  docs/core-concept/VOCABULARY.md
  sql/00X_agent_memory.sql
  src/body/cli/admin_cli.py
  src/body/cli/commands/check.py
  src/body/cli/commands/diagnostics.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/governance.py
  src/body/cli/commands/inspect.py
  src/body/cli/commands/manage/emergency.py
  src/body/cli/commands/manage/manage.py
  src/body/cli/logic/diagnostics.py
  src/features/introspection/capability_discovery_service.py
  src/features/self_healing/capability_tagging_service.py
  src/features/self_healing/duplicate_id_service.py
  src/mind/governance/auditor.py
  src/mind/governance/checks/id_uniqueness_check.py
  src/mind/governance/checks/naming_conventions.py
  src/mind/governance/checks/vector_service_standards_check.py
  src/shared/infrastructure/database/models.py
  src/shared/infrastructure/events/__init__.py
  src/shared/infrastructure/events/base.py
  src/shared/infrastructure/events/bus.py
  src/shared/infrastructure/repositories/db/common.py
  src/will/orchestration/intent_guard.py
  src/will/tools/tool_generator.py
Labels: feat, fix, docs, governance

feat: complete autonomy architecture (memory, events, tools, safety)
  .intent/charter/schemas/data/agent_memory_schema.yaml
  .intent/charter/standards/architecture/event_schema_standard.yaml
  .intent/charter/standards/architecture/tool_definition_standard.yaml
  .intent/charter/standards/operations/safety.yaml
  .intent/charter/standards/operations/secrets_management.yaml
  .intent/meta.yaml
  .intent/mind/history/coverage_history.json
  .intent/mind/knowledge/domain_definitions.yaml
  .intent/mind/knowledge/project_structure.yaml
  README.md
  docs/architecture/Conversational Flow Target Architecture.md
  docs/conversations/CURRENT_STATE.md
  docs/conversations/README.md
  docs/core-concept/VOCABULARY.md
  sql/00X_agent_memory.sql
  src/body/cli/admin_cli.py
  src/body/cli/commands/check.py
  src/body/cli/commands/diagnostics.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/governance.py
  src/body/cli/commands/inspect.py
  src/body/cli/commands/manage/emergency.py
  src/body/cli/commands/manage/manage.py
  src/body/cli/logic/diagnostics.py
  src/features/introspection/capability_discovery_service.py
  src/features/self_healing/capability_tagging_service.py
  src/features/self_healing/duplicate_id_service.py
  src/mind/governance/auditor.py
  src/mind/governance/checks/id_uniqueness_check.py
  src/mind/governance/checks/naming_conventions.py
  src/mind/governance/checks/vector_service_standards_check.py
  src/shared/infrastructure/database/models.py
  src/shared/infrastructure/events/__init__.py
  src/shared/infrastructure/events/base.py
  src/shared/infrastructure/events/bus.py
  src/shared/infrastructure/repositories/db/common.py
  src/will/orchestration/intent_guard.py
  src/will/tools/tool_generator.py
Labels: feat, fix, docs, governance

Fix audit coverage tracking and remove sensitive API key logging
  src/shared/infrastructure/llm/providers/anthropic.py
Labels: feat, fix

Fix audit coverage tracking and remove sensitive API key logging
  src/shared/infrastructure/llm/providers/anthropic.py
Labels: feat, fix

chore: Remove .env.bak from version control (contains secrets)
  .gitignore
Labels: none

feat: Replace LLM gates with mechanical checks (Phases 1-3)
  .intent/policies/code/capabilities.json
  .intent/policies/code/purity.json
  .intent/policies/code/refactor.json
  .intent/policies/code/style.json
  baseline_errors.txt
  link.txt
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/check/__init__.py
  src/mind/governance/rule_executor.py
  src/mind/governance/rule_extractor.py
  src/mind/logic/engines/ast_gate/checks/naming_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/glob_gate.py
Labels: feat, fix, governance

Policy format standardization complete
  .intent/policies/operations/code_execution.json
  .intent/schemas/META/RULES-STRUCTURE.json
  baseline_errors.txt
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  reports/governance/enforcement_coverage_map.json
  src/body/cli/commands/governance.py
  src/features/autonomy/micro_proposal_executor.py
  src/mind/governance/audit_postprocessor.py
  src/mind/governance/auditor.py
  src/mind/governance/checks/naming_conventions.py
  src/mind/governance/checks/no_unverified_code_check.py
  src/mind/governance/checks/policy_format_check.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/infrastructure/storage/file_provider.py
  src/will/orchestration/decision_tracer.py
  verify_cleanup.sh
Labels: feat, fix, governance

feat: Atomic actions architecture with smart vectorization
  .gitignore
  scripts/work/context_packets/context_core.txt
  scripts/work/context_packets/ollama_model_benchmark.py
Labels: none

feat: Universal ActionExecutor with constitutional governance
  src/body/atomic/executor.py
  test_executor.py
Labels: feat, fix

feat: Complete A3 Autonomous Proposal System with CLI
  sql/db_schema_init.sql
  src/body/atomic/executor.py
  src/body/cli/commands/autonomy.py
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/autonomous_proposals.py
  src/will/autonomy/proposal.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_repository.py
  test_executor.py
Labels: feat, fix

docs: document local infrastructure decision and target platform
  README.md
  docs/infrastructure.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
Labels: docs

tests: retire legacy actions/cli tests
  coverage.xml
  tests/body/actions/test_code_actions.py
  tests/body/cli/commands/fix/test_metadata_refactored.py
  tests/body/services/test_crate_processing_service.py
  tests/core/actions/test_healing_actions_extended.py
  tests/features/test_actions_policy_contract.py
  tests/shared/test_logger.py
Labels: test

ci: upload coverage reports to Codecov
  .github/workflows/ci.yml
Labels: ci

feat: Codecov
  .github/workflows/ci.yml
  .github/workflows/core-ci.yml
Labels: ci
