Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix: restore Rich rendering in audit output and add infrastructure guards
  .claude/settings.local.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/commands/check/formatters.py
  src/cli/renderers/audit_overview.py
Labels: feat, fix

fix: initialize file_handler in daemon via ServiceRegistry
  .claude/settings.local.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/services/service_registry.py
  src/will/commands/daemon.py
Labels: feat, fix

fix: resolve A3 critical blockers — autonomous proposal execution now works
  reports/pytest-report.html
  src/cli/commands/check/formatters.py
  src/cli/logic/audit_renderer.py
  src/cli/renderers/audit_overview.py
  src/cli/resources/runtime/health.py
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix: LoggingFixer now correctly skips src/cli/ layer files
  reports/pytest-report.html
  src/cli/commands/check/formatters.py
  src/cli/commands/fix_logging.py
  src/cli/logic/audit_renderer.py
  src/cli/renderers/audit_overview.py
  src/cli/resources/runtime/health.py
Labels: feat, fix

chore: gate modularity actions below MIN_CONFIDENCE threshold
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
  reports/pytest-report.html
Labels: governance

fix: restore console.print() in audit rendering files
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/commands/check/formatters.py
  src/cli/logic/audit_renderer.py
  src/cli/renderers/audit_overview.py
Labels: feat, fix

fix: harden A3 pipeline execution safety
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/body/atomic/fix_actions.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix

fix: four audit report quick wins
  .claude/settings.local.json
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_sensor_purity.yaml
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix, governance

fix: close enforcement mapping gaps that hid 18 production violations
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
Labels: governance

feat: add BlackboardService — Body layer DB access for Will workers
  src/body/services/blackboard_service.py
  src/body/services/service_registry.py
Labels: feat, fix

refactor: migrate AuditViolationSensor blackboard access to BlackboardService
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

refactor: migrate BlackboardAuditor DB access to BlackboardService
  src/will/workers/blackboard_auditor.py
Labels: feat, fix

refactor: migrate AuditIngestWorker and IntentInspector DB access to BlackboardService
  src/will/workers/audit_ingest_worker.py
  src/will/workers/intent_inspector.py
Labels: feat, fix

refactor: migrate all remaining Will workers DB access to Body services
  src/will/workers/capability_tagger.py
  src/will/workers/doc_worker.py
  src/will/workers/observer_worker.py
  src/will/workers/proposal_worker.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedder.py
  src/will/workers/worker_auditor.py
Labels: feat, fix

refactor: migrate all remaining Will workers DB access to Body services
  .claude/settings.local.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/services/artifact_service.py
  src/body/services/audit_findings_service.py
  src/body/services/crawl_service.py
  src/body/services/doc_service.py
  src/body/services/health_log_service.py
  src/body/services/service_registry.py
  src/body/services/symbol_service.py
  src/body/services/worker_registry_service.py
  src/will/workers/prompt_extractor_worker.py
Labels: feat, fix

refactor: extract crawl orchestration to CrawlService, close Body->Will violation
  src/body/atomic/sync_actions.py
  src/body/services/artifact_service.py
  src/body/services/crawl_service.py
  src/will/workers/repo_crawler.py
Labels: feat, fix

refactor: close all Body->Will violations + constitutionalize shared/
  .claude/settings.local.json
  .intent/papers/CORE-Mind-Body-Will-Separation.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/atomic/fix_actions.py
  src/body/self_healing/docstring_service.py
  src/body/services/blackboard_service.py
  src/body/workers/violation_remediator.py
  src/shared/self_healing/__init__.py
  src/shared/self_healing/remediation_interpretation/__init__.py
  src/shared/self_healing/remediation_interpretation/file_context_assembler.py
  src/shared/self_healing/remediation_interpretation/file_role_detector.py
  src/shared/self_healing/remediation_interpretation/finding_normalizer.py
  src/shared/self_healing/remediation_interpretation/models.py
  src/shared/self_healing/remediation_interpretation/reasoning_brief_builder.py
  src/shared/self_healing/remediation_interpretation/responsibility_extractor.py
  src/shared/self_healing/remediation_interpretation/service.py
  src/shared/self_healing/remediation_interpretation/strategy_catalog.py
  src/shared/self_healing/remediation_interpretation/strategy_selector.py
Labels: feat, fix, governance

refactor: remove deprecated will/ shims, fix missed callers
  reports/pytest-report.html
  src/cli/commands/fix/all_commands.py
  src/cli/resources/code/docstrings.py
  src/will/self_healing/docstring_service.py
  src/will/self_healing/remediation_interpretation/file_context_assembler.py
  src/will/self_healing/remediation_interpretation/file_role_detector.py
  src/will/self_healing/remediation_interpretation/finding_normalizer.py
  src/will/self_healing/remediation_interpretation/models.py
  src/will/self_healing/remediation_interpretation/reasoning_brief_builder.py
  src/will/self_healing/remediation_interpretation/responsibility_extractor.py
  src/will/self_healing/remediation_interpretation/service.py
  src/will/self_healing/remediation_interpretation/strategy_catalog.py
  src/will/self_healing/remediation_interpretation/strategy_selector.py
  src/will/workflows/phases/code_fixers_phase.py
Labels: feat, fix

refactor: move repositories to Body layer, delete lifespan shim
  .claude/settings.local.json
  reports/pytest-report.html
  src/body/infrastructure/repositories/__init__.py
  src/body/infrastructure/repositories/decision_trace_repository.py
  src/body/infrastructure/repositories/refusal_repository.py
  src/cli/commands/inspect/_helpers.py
  src/cli/commands/inspect/decisions.py
  src/cli/logic/decision_inspect_logic.py
  src/cli/logic/refusal_inspect_logic.py
  src/cli/resources/admin/traces.py
  src/shared/infrastructure/lifespan.py
  src/shared/infrastructure/repositories/decision_trace_repository.py
  src/shared/infrastructure/repositories/refusal_repository.py
  src/will/agents/coder_agent.py
  src/will/agents/coder_agent_refusal_handler.py
  src/will/orchestration/decision_tracer.py
Labels: feat, fix

feat: implement architecture.shared.no_layer_imports blocking AST gate
  .intent/enforcement/mappings/architecture/layer_separation.yaml
Labels: governance

chore: end of day cleanup and push
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
Labels: none

fix: BlackboardAuditor uses service_registry directly, not _core_context
  reports/pytest-report.html
  src/will/workers/blackboard_auditor.py
Labels: feat, fix

docs(northstar): add User Requirements as canonical constitutional document
  .intent/northstar/CORE-USER-REQUIREMENTS.md
  reports/pytest-report.html
Labels: governance

feat(remediation): promote modularity rules to ACTIVE — Logic Conservation Gate confirmed wired
  src/will/self_healing/modularity_remediation_service.py
Labels: feat, fix

feat(remediation): promote modularity rules to ACTIVE — Logic Conservation Gate wired (737bcbd9)
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
Labels: governance

feat(handlers): add id_assignment_handler — pure-AST, no LLM, deterministic
  src/body/self_healing/handlers/id_assignment_handler.py
Labels: feat, fix

feat(remediation): promote linkage.assign_ids to ACTIVE — pure-AST handler confirmed (7c3b04fa)
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
Labels: governance

fix(fix_actions): wrap format_code() in try/except in action_format_code
  src/body/atomic/fix_actions.py
Labels: feat, fix

fix(fix_actions): wrap fix_docstrings() in try/except in action_fix_docstrings
  src/body/atomic/fix_actions.py
Labels: feat, fix

fix(fix_actions): guard evaluator.execute() and track per-file failures in action_fix_atomic_actions
  src/body/atomic/fix_actions.py
Labels: feat, fix

feat(proposal_executor): add pre-execution SHA snapshot and working-tree rollback on failure
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(proposal_repository): add SELECT FOR UPDATE SKIP LOCKED to list_by_status()
  src/will/autonomy/proposal_repository.py
Labels: feat, fix

feat(migrations): add version + updated_at columns to autonomous_proposals
  infra/scripts/migrations/add_version_updated_at_to_autonomous_proposals.py
  infra/sql/db_schema_live.sql
Labels: none

feat(models): add version and updated_at columns to AutonomousProposal
  src/shared/infrastructure/database/models/autonomous_proposals.py
Labels: feat, fix

feat(blackboard_service): add fetch_open_findings() and resolve_entries()
  src/body/services/blackboard_service.py
Labels: feat, fix

refactor(violation_remediator): replace raw SQL with BlackboardService calls
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(violation_remediator): use claim_violation_findings() instead of fetch_open_findings()
  src/will/workers/violation_remediator.py
Labels: feat, fix

docs(checklist): correct 5.4 — linkage.assign_ids promoted to ACTIVE 0.91 (1129ad83)
  .claude/.nfs00000000001a589900000008
  infra/sql/db_schema_live.sql
  reports/pytest-report.html
Labels: none

fix(blackboard_service): set claimed_by in claim_violation_findings() — claimed_by now populated with worker UUID; passed from both callers (Co-Authored-By: Claude Opus 4.6 <noreply@anthropic.com>)
  reports/pytest-report.html
  src/body/services/blackboard_service.py
  src/body/workers/violation_remediator.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

fix(violation_remediator): fall back to check_id key when extracting rule from payload
  src/will/workers/violation_remediator.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
