Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

feat(#726): ADR phase completion tracking in CI
  .github/workflows/core-ci.yml
  .specs/decisions/ADR-133.phases.yaml
  scripts/check_adr_phases.py
Labels: ci

feat(#691): declare audit_remediate_validate flow — governance documentation
  .intent/flows/flow.audit_remediate_validate.yaml
Labels: governance

fix(governance-debt): prompt must_not_contain sweep + paper status alignment (#304, #627)
  .specs/papers/CORE-Adaptive-Workflow-Pattern.md
  .specs/papers/CORE-As-a-Legal-System.md
  .specs/papers/CORE-Authority-Without-Registries.md
  .specs/papers/CORE-Common-Governance-Failure-Modes.md
  .specs/papers/CORE-Constitutional-Foundations.md
  .specs/papers/CORE-Deliberate-Non-Goals.md
  .specs/papers/CORE-Minimal-Derivable-Artifacts.md
  .specs/papers/CORE-Rule-Evaluation-Semantics.md
  var/prompts/architect_threats_analysis_prompt/model.yaml
  var/prompts/assumption_extractor/model.yaml
  var/prompts/body_contracts_fixer/model.yaml
  var/prompts/call_site_rewriter/model.yaml
  var/prompts/capability_reconciliation_prompt/model.yaml
  var/prompts/complexity_reflex_refactor/model.yaml
  var/prompts/enrich_symbol_description/model.yaml
  var/prompts/grc_applicability/model.yaml
  var/prompts/grc_judge/model.yaml
  var/prompts/line_length_refactorer/model.yaml
  var/prompts/llm_correction_structural/model.yaml
  var/prompts/llm_correction_syntax/model.yaml
  var/prompts/llm_gate/model.yaml
  var/prompts/llm_gate_audit_prompt/model.yaml
  var/prompts/logic_alignment_generic_repair/model.yaml
  var/prompts/modularity_analyze/model.yaml
  var/prompts/plan_goal/model.yaml
  var/prompts/planner_agent/model.yaml
  var/prompts/prompt_artifact_generator/model.yaml
  var/prompts/prompt_extractor/model.yaml
  var/prompts/scout_rule_inducer/model.yaml
  var/prompts/self_correction_engine_correction_prompt/model.yaml
  var/prompts/src_maintenance_metadata_scribe_service_draft_metadata/model.yaml
  var/prompts/symbol_definer_capability_definer/model.yaml
  var/prompts/test_gen_prompt/model.yaml
  var/prompts/test_generation_test_executor/model.yaml
Labels: none

fix(#505): classify 37 unclassified namespace_manifest entries
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(#231): align clarity_v2_refactor prompt inputs with clarity_service.py
  var/prompts/clarity_v2_refactor/model.yaml
  var/prompts/clarity_v2_refactor/user.txt
Labels: none

fix(cli-gate): add change_password to standard_verbs allowed_verbs
  .intent/enforcement/mappings/cli/interface_design.yaml
Labels: governance

fix(test-gen): add PATH MOCK RULES to system prompt
  var/prompts/test_gen_prompt/system.txt
Labels: none

fix(test-gen): add PATCH TARGET RULES to system prompt
  var/prompts/test_gen_prompt/system.txt
Labels: none

fix(#626): align Workflow-Papers-First conflict resolution with ADR-105 doctrine_tier vocab
  .specs/papers/CORE-Workflow-Papers-First.md
Labels: none

feat(#366): ADR-056 Wave 2 — author three missing contract schemas
  .intent/enforcement/contracts/ActionRiskConfig.schema.json
  .intent/enforcement/contracts/DecisionTrace.entries.schema.json
  .intent/enforcement/contracts/Task.plan.schema.json
  .specs/planning/data-contracts-inventory.md
Labels: governance

fix(external-review): resolve six architecture gaps from external review
  .specs/decisions/ADR-133-test-gap-evaluator.md
  src/api/v1/fix_routes.py
  src/body/atomic/file_ops.py
  src/body/flows/registry.py
  src/cli/logic/validate.py
  src/mind/logic/engines/ast_gate/checks/api_auth_checks.py
  src/mind/logic/engines/ast_gate/checks/knowledge_source_check.py
  src/mind/logic/engines/ast_gate/checks/purity_enforcement_check.py
  src/mind/logic/engines/registry.py
  src/shared/workers/scheduled_worker.py
  src/will/workers/prompt_drift_sensor.py
  tests/body/atomic/test_file_ops.py
  tests/mind/logic/engines/ast_gate/checks/test_api_auth_checks__ApiAuthChecks.py
  tests/shared/workers/test_scheduled_worker__silence_invariant.py
  tests/will/workers/test_prompt_drift_sensor.py
Labels: feat, fix, test

docs(ADR-095): add D7 — sanction POST /fix/modularity as permanent FlowExecutor bypass
  .specs/decisions/ADR-095-modularity-as-architectural-judgment.md
Labels: none

fix(external-review): update prompt — rule counts, ADR range, reading list, new questions
  var/prompts/external-review.md
Labels: none

fix(#ADR-134): extend PromptDriftSensor hashing to cover model.yaml
  src/will/workers/prompt_drift_sensor.py
  tests/will/workers/test_prompt_drift_sensor.py
Labels: feat, fix, test

fix(external-review): close P1-P4 quick wins from 8.1 review round
  .intent/enforcement/config/governed_prompts.yaml
  .intent/workers/prompt_drift_sensor.yaml
  .specs/decisions/ADR-017-claim-proposal-as-atomic-action.md
  src/body/atomic/executor.py
  src/body/flows/registry.py
  src/shared/infrastructure/intent/intent_repository.py
  src/will/workers/prompt_drift_sensor.py
Labels: feat, fix, governance

feat(ADR-140): Cognitive-Write Separation — extract iterative loop from Body action
  .intent/flows/flow.build_test_for_symbol.yaml
  .specs/decisions/ADR-140-cognitive-write-separation-flow-pattern.md
  src/body/atomic/build_test_for_symbol_action.py
  src/body/flows/executor.py
  src/body/flows/registry.py
  src/shared/protocols/cognitive_flow_delegate.py
  src/shared/utils/test_gen_utils.py
  src/will/agents/iterative_coder_agent.py
  src/will/agents/prompt_model_iterative_agent.py
  src/will/agents/test_gen_cognitive_delegate.py
  src/will/autonomy/proposal_executor.py
  tests/body/atomic/test_build_test_for_symbol_action.py
  tests/body/atomic/test_build_test_for_symbol_boundary.py
  tests/body/atomic/test_build_test_for_symbol_iterative.py
Labels: feat, fix, test, governance

feat(ADR-132): add route_module_must_declare_exposure completeness rule
  .intent/enforcement/mappings/architecture/api_auth_boundary.yaml
  .intent/rules/architecture/layer_separation.json
  src/mind/logic/engines/ast_gate/checks/api_auth_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/checks/test_api_auth_checks__ApiAuthChecks.py
Labels: feat, fix, test, governance

feat(ADR-056): add RunIRRequest data contract — closes #454/#667
  .intent/enforcement/contracts/RunIRRequest.json
  .intent/enforcement/mappings/data/governance.yaml
  .intent/rules/data/governance.json
Labels: governance

fix(ADR-105): add D9 — adr_status is governor-approval only, CCC is separate axis — closes #616
  .specs/decisions/ADR-105-specs-document-model.md
Labels: none

feat(#615): add verify-adr-bind CLI + inherited bind detection in row2_grounding
  src/cli/resources/constitution/__init__.py
  src/cli/resources/constitution/verify_bind.py
  src/mind/coherence/checks/row2_grounding.py
  tests/mind/coherence/test_row2_grounding__inherited_bind.py
Labels: feat, fix, test

feat(ADR-075): escalate namespace.classification_complete to blocking — closes #505
  .intent/enforcement/mappings/governance/namespace.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/governance/namespace.json
Labels: governance

feat(ADR-141): subprocess audit for graph-independent engine fixes — closes #663
  .specs/decisions/ADR-141-assisted-lane-subprocess-audit.md
  src/body/atomic/assisted_actions.py
  src/body/atomic/tool_runner.py
  src/cli/resources/lane/propose.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/registry.py
  tests/body/atomic/test_assisted_actions.py
  tests/mind/logic/engines/test_registry__EngineRegistry.py
Labels: feat, fix, test

feat(infra): add docker-compose.test.yml for CI-runnable integration tests — closes #705
  docker-compose.test.yml
  infra/scripts/init-test-db.sh
Labels: none

perf(CCC): batch-embed all claims in SAMECONCERN + R1_SCOPED — closes #478
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/sameconcern.py
  tests/mind/coherence/checks/__init__.py
  tests/mind/coherence/checks/test_sameconcern__batch_embed.py
Labels: feat, fix, test

feat(#577,#578): dual-shape entrypoint + ghcr.io publish for core-audit-gate
  .github/workflows/publish-docker-audit-gate.yml
  docs/cold-reviewer.md
  entrypoint.sh
Labels: docs, ci

feat(#532): add .pre-commit-hooks.yaml for CORE pre-commit hook distribution
  .pre-commit-hooks.yaml
Labels: none

feat(#366): ADR-056 Wave 1+2 — author 9 missing contract schemas
  .intent/enforcement/contracts/Action.payload.schema.json
  .intent/enforcement/contracts/BlackboardEntry.payload.repo_crawl_complete.schema.json
  .intent/enforcement/contracts/BlackboardEntry.payload.run_complete.schema.json
  .intent/enforcement/contracts/BlackboardEntry.payload.sync_db_complete.schema.json
  .intent/enforcement/contracts/BlackboardEntry.payload.worker_error.schema.json
  .intent/enforcement/contracts/BlackboardEntry.payload.worker_heartbeat.schema.json
  .intent/enforcement/contracts/ComponentResult.schema.json
  .intent/enforcement/contracts/FlowResult.schema.json
  .intent/enforcement/contracts/StepResult.schema.json
Labels: governance

docs(#366): update data-contracts-inventory status to reflect Wave 1+2 completion
  .specs/planning/data-contracts-inventory.md
Labels: none

feat(#366): ADR-056 Wave 3 — author 26 missing contract schemas
  .intent/enforcement/contracts/ActionCommandItem.json
  .intent/enforcement/contracts/AsyncDispatchResponse.json
  .intent/enforcement/contracts/AuditRemediationRunResult.schema.json
  .intent/enforcement/contracts/AuditRunResponse.json
  .intent/enforcement/contracts/CensusBaselineCreateResponse.json
  .intent/enforcement/contracts/CensusBaselineItem.json
  .intent/enforcement/contracts/CensusBaselineListResponse.json
  .intent/enforcement/contracts/CensusDiffResponse.json
  .intent/enforcement/contracts/CensusRunResponse.json
  .intent/enforcement/contracts/CensusRunResult.schema.json
  .intent/enforcement/contracts/CoverageRunResult.schema.json
  .intent/enforcement/contracts/FixCommandListResponse.json
  .intent/enforcement/contracts/FixIRResponse.json
  .intent/enforcement/contracts/FixRunResponse.json
  .intent/enforcement/contracts/LaneBundle.json
  .intent/enforcement/contracts/LaneBundleRule.json
  .intent/enforcement/contracts/LaneClaimResponse.json
  .intent/enforcement/contracts/LaneFindingItem.json
  .intent/enforcement/contracts/LaneFindingListResponse.json
  .intent/enforcement/contracts/LaneFindingWithBundle.json
  .intent/enforcement/contracts/LaneProposeResponse.json
  .intent/enforcement/contracts/ProposalActionItem.json
  .intent/enforcement/contracts/ProposalResponse.json
  .intent/enforcement/contracts/RefactorRunResult.schema.json
  .intent/enforcement/contracts/RemediationRunResponse.json
  .intent/enforcement/contracts/SyncRunResult.schema.json
  .specs/planning/data-contracts-inventory.md
Labels: governance

feat(ADR-052): LLM exchange log partition maintainer — closes #329
  .intent/enforcement/config/action_risk.yaml
  .intent/workers/llm_partition_maintainer.yaml
  src/body/atomic/__init__.py
  src/body/atomic/log_actions.py
  src/will/workers/llm_partition_maintainer.py
Labels: feat, fix, governance

feat(ADR-052): LLM exchange log partition archiver — closes #330
  .intent/enforcement/config/action_risk.yaml
  .intent/workers/llm_partition_archiver.yaml
  infra/sql/db_schema_live.sql
  src/body/atomic/__init__.py
  src/body/atomic/log_actions.py
  src/will/workers/llm_partition_archiver.py
  tests/body/atomic/test_log_actions.py
  tests/will/workers/test_llm_partition_archiver.py
Labels: feat, fix, test, governance

fix(#521): strip \restrict markers from schema dump + add .creds support
  docker-compose.test.yml
  infra/scripts/init-test-db.sh
  infra/sql/db_schema_live.sql
  src/shared/config.py
Labels: feat, fix

feat(ADR-016): D1+D3 — ProposalConsequence model + TRUNCATE isolation fixture
  src/shared/infrastructure/database/models/__init__.py
  src/shared/infrastructure/database/models/autonomous_proposals.py
  src/shared/infrastructure/database/models/llm_config.py
  tests/conftest.py
  tests/shared/infrastructure/test_proposal_consequence_model.py
Labels: feat, fix, test

feat(ADR-098 D5): wire quality.* audit findings into blackboard — closes #605
  .intent/enforcement/config/audit_ingest.yaml
  .intent/workers/quality_ingest_worker.yaml
  src/shared/infrastructure/intent/audit_ingest_config.py
  src/will/workers/quality_ingest_worker.py
  tests/shared/infrastructure/test_audit_ingest_config.py
  tests/will/workers/test_quality_ingest_worker.py
Labels: feat, fix, test, governance

fix(ccc): surface SAMECONCERN/R1_SCOPED skip-state in check manifest — closes #624
  src/mind/coherence/checker.py
  src/mind/coherence/checks/base.py
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/sameconcern.py
  tests/mind/coherence/test_check_skip_observability.py
Labels: feat, fix, test

fix(flows): correct StepResult.kind docstring to include 'cognitive'
  src/body/flows/result.py
Labels: feat, fix

fix(#472): trim over-specified aliases from CORE-Vocabulary.md — closes #472
  .intent/META/vocabulary.json
  .specs/papers/CORE-Vocabulary.md
Labels: governance

feat(ADR-142): passive_gate enforced_by symbol attestation — closes ADR-142
  .intent/enforcement/mappings/ai/prompt_governance.yaml
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/code/imports.yaml
  .intent/enforcement/mappings/code/tests.yaml
  .intent/enforcement/mappings/coherence/coherence.yaml
  .intent/enforcement/mappings/governance/authorship_integrity.yaml
  .intent/enforcement/mappings/governance/passive_gate_attestation.yaml
  .intent/enforcement/mappings/infrastructure/cli_commands.yaml
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/enforcement/mappings/will/planning.yaml
  .intent/enforcement/mappings/will/proposal_lifecycle.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/passive_gate_attestation.json
  .specs/decisions/ADR-142-passive-gate-enforced-by-symbol-attestation.md
  src/mind/logic/engines/contracts_gate.py
  tests/mind/logic/engines/test_contracts_gate__passive_gate_attestation.py
Labels: feat, fix, test, governance

feat(ADR-082): time-bucketed D7 window for sparse loop-hold samples — closes #597
  .intent/enforcement/config/operational_config.yaml
  .specs/decisions/ADR-082-d7-detection-window-sparse-loop-hold.md
  src/mind/logic/engines/runtime_gate.py
  src/shared/infrastructure/intent/operational_config.py
  tests/mind/logic/engines/test_runtime_gate__worker_process_classification.py
Labels: feat, fix, test, governance

feat(ADR-090): cognitive-roles DB structural enforcement — closes #487
  .intent/taxonomies/cognitive_roles.yaml
  .specs/decisions/ADR-090-cognitive-roles-db-structural-enforcement.md
  infra/sql/db_schema_live.sql
  src/shared/infrastructure/database/models/operations.py
  src/will/agents/cognitive_orchestrator.py
  src/will/agents/resource_selector.py
  tests/will/agents/test_resource_selector_high_reasoning.py
Labels: feat, fix, test, governance
