Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

refactor: remove autonomous_developer.py legacy wrapper
  src/features/autonomy/autonomous_developer.py
Labels: feat, fix

refactor: remove autonomous_developer.py wrapper and clean up test_generation_v2
  src/api/v1/development_routes.py
  src/body/cli/commands/coverage/generation_commands.py
  src/body/cli/commands/develop.py
  src/features/autonomy/__init__.py
  src/features/introspection/vectorization_service.py
  src/features/self_healing/modularity_remediation_service.py
  src/features/test_generation_v2/__init__.py
  src/features/test_generation_v2/adaptive_test_generator.py
  src/features/test_generation_v2/artifacts.py
  src/features/test_generation_v2/harness_detection.py
  src/features/test_generation_v2/helpers/__init__.py
  src/features/test_generation_v2/helpers/context_extractor.py
  src/features/test_generation_v2/helpers/test_executor.py
  src/features/test_generation_v2/llm_output.py
  src/features/test_generation_v2/persistence.py
  src/features/test_generation_v2/phases/__init__.py
  src/features/test_generation_v2/phases/generation_phase.py
  src/features/test_generation_v2/phases/load_phase.py
  src/features/test_generation_v2/phases/parse_phase.py
  src/features/test_generation_v2/prompt_engine.py
  src/features/test_generation_v2/sandbox.py
  src/features/test_generation_v2/test_extractor.py
  src/features/test_generation_v2/validation.py
  src/will/agents/resource_selector.py
  src/will/phases/code_generation/code_sensor.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

refactor: remove autonomous_developer.py wrapper and clean up test_generation_v2
  src/api/v1/development_routes.py
  src/body/cli/commands/coverage/generation_commands.py
  src/body/cli/commands/develop.py
  src/features/autonomy/__init__.py
  src/features/introspection/vectorization_service.py
  src/features/self_healing/modularity_remediation_service.py
  src/features/test_generation_v2/__init__.py
  src/features/test_generation_v2/adaptive_test_generator.py
  src/features/test_generation_v2/artifacts.py
  src/features/test_generation_v2/harness_detection.py
  src/features/test_generation_v2/helpers/__init__.py
  src/features/test_generation_v2/helpers/context_extractor.py
  src/features/test_generation_v2/helpers/test_executor.py
  src/features/test_generation_v2/llm_output.py
  src/features/test_generation_v2/persistence.py
  src/features/test_generation_v2/phases/__init__.py
  src/features/test_generation_v2/phases/generation_phase.py
  src/features/test_generation_v2/phases/load_phase.py
  src/features/test_generation_v2/phases/parse_phase.py
  src/features/test_generation_v2/prompt_engine.py
  src/features/test_generation_v2/sandbox.py
  src/features/test_generation_v2/test_extractor.py
  src/features/test_generation_v2/validation.py
  src/will/agents/resource_selector.py
  src/will/phases/code_generation/code_sensor.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

refactor: complete V2 migration - remove all legacy suffixes
  src/features/autonomy/autonomous_developer.py
Labels: feat, fix

refactor: complete V2 migration - remove all legacy suffixes
  src/features/autonomy/autonomous_developer.py
Labels: feat, fix

refactor: complete V2 migration - remove all legacy suffixes
  src/api/v1/development_routes.py
  src/body/cli/commands/develop.py
  src/features/autonomy/__init__.py
  src/features/autonomy/autonomous_developer_v2.py
  src/features/self_healing/modularity_remediation_service.py
  src/features/self_healing/modularity_remediation_service_v2.py
Labels: feat, fix

refactor: complete V2 migration - remove all legacy suffixes
  src/api/v1/development_routes.py
  src/body/cli/commands/develop.py
  src/features/autonomy/__init__.py
  src/features/autonomy/autonomous_developer_v2.py
  src/features/self_healing/modularity_remediation_service.py
  src/features/self_healing/modularity_remediation_service_v2.py
Labels: feat, fix

refactor: Phase 7 complete - eliminate all stub implementations
  src/will/orchestration/phase_registry.py
  src/will/phases/sandbox_validation_phase.py
  src/will/phases/stub_phases.py
Labels: feat, fix

refactor: Phase 7 complete - eliminate all stub implementations
  src/will/orchestration/phase_registry.py
  src/will/phases/sandbox_validation_phase.py
  src/will/phases/stub_phases.py
Labels: feat, fix

refactor: Phase 8 complete - migrate to governed file I/O
  src/features/introspection/semantic_clusterer.py
Labels: feat, fix

refactor: Phase 8 complete - migrate to governed file I/O
  src/features/introspection/semantic_clusterer.py
Labels: feat, fix

arch: heal circular dependencies via protocols and implement dynamic engine registry
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/inspect.py
  src/body/cli/commands/inspect/__init__.py
  src/body/cli/commands/inspect/_helpers.py
  src/body/cli/commands/inspect/analysis.py
  src/body/cli/commands/inspect/decisions.py
  src/body/cli/commands/inspect/diagnostics.py
  src/body/cli/commands/inspect/drift.py
  src/body/cli/commands/inspect/patterns.py
  src/body/cli/commands/inspect/refusals.py
  src/body/cli/commands/inspect/status.py
  src/body/cli/commands/inspect_decisions.py
  src/body/cli/commands/inspect_patterns.py
  src/body/cli/commands/validate_request.py
  src/body/cli/logic/refusal_inspect_logic.py
  src/body/infrastructure/bootstrap.py
  src/features/test_generation/phases/generation_phase.py
  src/mind/governance/assumption_extractor.py
  src/mind/governance/authority_package_builder.py
  src/mind/logic/engines/passive_gate.py
  src/mind/logic/engines/registry.py
  src/shared/infrastructure/database/models/refusals.py
  src/shared/infrastructure/repositories/refusal_repository.py
  src/shared/models/refusal_result.py
  src/shared/protocols/cognitive.py
  src/shared/protocols/executor.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/code_generation/context_formatters.py
  src/will/agents/code_generation/extraction.py
  src/will/agents/code_generation/prompt_builders.py
  src/will/agents/coder_agent.py
  src/will/agents/coder_agent_refusal_handler.py
  src/will/agents/pre_flight_validator.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

arch: heal circular dependencies via protocols and implement dynamic engine registry
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/inspect.py
  src/body/cli/commands/inspect/__init__.py
  src/body/cli/commands/inspect/_helpers.py
  src/body/cli/commands/inspect/analysis.py
  src/body/cli/commands/inspect/decisions.py
  src/body/cli/commands/inspect/diagnostics.py
  src/body/cli/commands/inspect/drift.py
  src/body/cli/commands/inspect/patterns.py
  src/body/cli/commands/inspect/refusals.py
  src/body/cli/commands/inspect/status.py
  src/body/cli/commands/inspect_decisions.py
  src/body/cli/commands/inspect_patterns.py
  src/body/cli/commands/validate_request.py
  src/body/cli/logic/refusal_inspect_logic.py
  src/body/infrastructure/bootstrap.py
  src/features/test_generation/phases/generation_phase.py
  src/mind/governance/assumption_extractor.py
  src/mind/governance/authority_package_builder.py
  src/mind/logic/engines/passive_gate.py
  src/mind/logic/engines/registry.py
  src/shared/infrastructure/database/models/refusals.py
  src/shared/infrastructure/repositories/refusal_repository.py
  src/shared/models/refusal_result.py
  src/shared/protocols/cognitive.py
  src/shared/protocols/executor.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/code_generation/context_formatters.py
  src/will/agents/code_generation/extraction.py
  src/will/agents/code_generation/prompt_builders.py
  src/will/agents/coder_agent.py
  src/will/agents/coder_agent_refusal_handler.py
  src/will/agents/pre_flight_validator.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix

chore: some cleanup
  detect_duplicates.py
Labels: none

chore: some cleanup
  detect_duplicates.py
Labels: none

Constitutional fix: Move governance execution from Mind to Body
  docs/migrations/2025-02-05-mind-body-governance-split.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/atomic/fix_actions.py
  src/body/cli/commands/governance.py
  src/body/cli/commands/validate_request.py
  src/body/evaluators/__init__.py
  src/body/evaluators/atomic_actions_evaluator.py
  src/body/evaluators/base_evaluator.py
  src/body/evaluators/clarity_evaluator.py
  src/body/governance/__init__.py
  src/body/governance/engine_dispatcher.py
  src/body/governance/intent_guard.py
  src/body/governance/intent_pattern_validators.py
  src/mind/governance/__init__.py
  src/mind/governance/code_validator.py
  src/mind/governance/intent_guard.py
  src/mind/governance/path_validator.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/storage/file_handler.py
  src/will/agents/pre_flight_validator.py
  src/will/orchestration/decision_tracer.py
  src/will/orchestration/intent_guard.py
Labels: feat, fix, docs

Constitutional fix: Move governance execution from Mind to Body
  docs/migrations/2025-02-05-mind-body-governance-split.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/atomic/fix_actions.py
  src/body/cli/commands/governance.py
  src/body/cli/commands/validate_request.py
  src/body/evaluators/__init__.py
  src/body/evaluators/atomic_actions_evaluator.py
  src/body/evaluators/base_evaluator.py
  src/body/evaluators/clarity_evaluator.py
  src/body/governance/__init__.py
  src/body/governance/engine_dispatcher.py
  src/body/governance/intent_guard.py
  src/body/governance/intent_pattern_validators.py
  src/mind/governance/__init__.py
  src/mind/governance/code_validator.py
  src/mind/governance/intent_guard.py
  src/mind/governance/path_validator.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/storage/file_handler.py
  src/will/agents/pre_flight_validator.py
  src/will/orchestration/decision_tracer.py
  src/will/orchestration/intent_guard.py
Labels: feat, fix, docs

chore: checkpoint before autonomous duplication refactoring
  .intent/enforcement/mappings/code/metadata_mutations.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/rules/code/metadata_mutations.json
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/atomic/__init__.py
  src/body/atomic/metadata_ops.py
  src/body/cli/admin_cli.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/audit.py
  src/body/cli/logic/duplicates.py
  src/body/governance/intent_guard.py
  src/features/self_healing/audit_remediation_service.py
  src/features/self_healing/handlers/__init__.py
  src/features/self_healing/handlers/import_sorting_handler.py
  src/features/self_healing/id_tagging_service.py
  src/features/self_healing/remediation_models.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/metadata_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/knowledge_gate.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/storage/file_handler.py
Labels: feat, fix, governance

chore: checkpoint before autonomous duplication refactoring
  .intent/enforcement/mappings/code/metadata_mutations.yaml
  .intent/enforcement/mappings/code/purity.yaml
  .intent/enforcement/mappings/will/autonomy.yaml
  .intent/rules/code/metadata_mutations.json
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/atomic/__init__.py
  src/body/atomic/metadata_ops.py
  src/body/cli/admin_cli.py
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/audit.py
  src/body/cli/logic/duplicates.py
  src/body/governance/intent_guard.py
  src/features/self_healing/audit_remediation_service.py
  src/features/self_healing/handlers/__init__.py
  src/features/self_healing/handlers/import_sorting_handler.py
  src/features/self_healing/id_tagging_service.py
  src/features/self_healing/remediation_models.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/metadata_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/knowledge_gate.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/storage/file_handler.py
Labels: feat, fix, governance

Fix: Wire ContextService to CoderAgent for enriched code generation
  .gitignore
  .intent/cim/thresholds.yaml
  core-arxiv/arxiv-upload/main.tex
  core-arxiv/arxiv-upload/references.bib
  core-arxiv/main.aux
  core-arxiv/main.bbl
  core-arxiv/main.blg
  core-arxiv/main.pdf
  core-arxiv/main.tex
  core-arxiv/references.bib
  core.zip
  docs/13_ACADEMIC_PAPER.md
  docs/infrastructure/cim/README.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/docstrings.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/inspect/__init__.py
  src/body/cli/commands/inspect/repo_census.py
  src/body/cli/commands/repo_census.py
  src/body/services/cim/__init__.py
  src/body/services/cim/baselines.py
  src/body/services/cim/census_service.py
  src/body/services/cim/diff.py
  src/body/services/cim/history.py
  src/body/services/cim/models.py
  src/body/services/cim/policy.py
  src/body/services/cim/scanners.py
  src/features/self_healing/modularity_remediation_service.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix, docs, governance

Fix: Wire ContextService to CoderAgent for enriched code generation
  .gitignore
  .intent/cim/thresholds.yaml
  core-arxiv/arxiv-upload/main.tex
  core-arxiv/arxiv-upload/references.bib
  core-arxiv/main.aux
  core-arxiv/main.bbl
  core-arxiv/main.blg
  core-arxiv/main.pdf
  core-arxiv/main.tex
  core-arxiv/references.bib
  core.zip
  docs/13_ACADEMIC_PAPER.md
  docs/infrastructure/cim/README.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/audit_findings.processed.json
  src/body/cli/commands/fix/__init__.py
  src/body/cli/commands/fix/code_style.py
  src/body/cli/commands/fix/docstrings.py
  src/body/cli/commands/fix/metadata.py
  src/body/cli/commands/inspect/__init__.py
  src/body/cli/commands/inspect/repo_census.py
  src/body/cli/commands/repo_census.py
  src/body/services/cim/__init__.py
  src/body/services/cim/baselines.py
  src/body/services/cim/census_service.py
  src/body/services/cim/diff.py
  src/body/services/cim/history.py
  src/body/services/cim/models.py
  src/body/services/cim/policy.py
  src/body/services/cim/scanners.py
  src/features/self_healing/modularity_remediation_service.py
  src/will/phases/code_generation_phase.py
Labels: feat, fix, docs, governance

chore: dir cleanup
  core.zip
Labels: none

chore: dir cleanup
  core.zip
Labels: none

chore: bump version to 2.3.0
  pyproject.toml
Labels: deps

chore: bump version to 2.3.0
  pyproject.toml
Labels: deps

chore: README update.
  README.md
Labels: docs

chore: README update.
  README.md
Labels: docs

chore: .intent/CHANGELOG cleanup.
  .intent/CHANGELOG.md
Labels: governance

chore: .intent/CHANGELOG cleanup.
  .intent/CHANGELOG.md
Labels: governance

chore: Execution of open issues in CORE HArdening plan.
  .intent/rules/architecture/layer_separation.json
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/api/main.py
  src/body/infrastructure/lifespan.py
  src/body/services/service_registry.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/lifespan.py
  src/shared/models/constitutional_validation.py
Labels: feat, fix, governance

chore: Execution of open issues in CORE HArdening plan.
  .intent/rules/architecture/layer_separation.json
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/api/main.py
  src/body/infrastructure/lifespan.py
  src/body/services/service_registry.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/lifespan.py
  src/shared/models/constitutional_validation.py
Labels: feat, fix, governance

fix: resolve all architecture.layers.no_body_to_will violations
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/api/v1/development_routes.py
  src/body/atomic/fix_actions.py
  src/body/autonomy/__init__.py
  src/body/cli/logic/embeddings_cli.py
  src/body/cli/logic/interactive_test/workflow.py
  src/body/cli/resources/dev/chat.py
  src/body/cli/resources/dev/sync.py
  src/body/introspection/knowledge_vectorizer.py
  src/body/introspection/pattern_vectorizer.py
  src/body/introspection/vectorization/embedding_logic.py
  src/body/services/service_registry.py
  src/body/workflows/dev_sync_workflow.py
  src/shared/cli_utils/decorators.py
  src/will/autonomy/__init__.py
  src/will/autonomy/autonomous_developer.py
  src/will/self_healing/modularity_remediation_service.py
Labels: feat, fix

fix: resolve all architecture.layers.no_body_to_will violations
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/api/v1/development_routes.py
  src/body/atomic/fix_actions.py
  src/body/autonomy/__init__.py
  src/body/cli/logic/embeddings_cli.py
  src/body/cli/logic/interactive_test/workflow.py
  src/body/cli/resources/dev/chat.py
  src/body/cli/resources/dev/sync.py
  src/body/introspection/knowledge_vectorizer.py
  src/body/introspection/pattern_vectorizer.py
  src/body/introspection/vectorization/embedding_logic.py
  src/body/services/service_registry.py
  src/body/workflows/dev_sync_workflow.py
  src/shared/cli_utils/decorators.py
  src/will/autonomy/__init__.py
  src/will/autonomy/autonomous_developer.py
  src/will/self_healing/modularity_remediation_service.py
Labels: feat, fix

README.md update with new demo
  .intent/rules/code/linkage.json
  README.md
  demos/recordings/core-demo-2022-02-26.00.cast
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/introspection/knowledge_vectorizer.py
Labels: feat, fix, docs, governance

README.md update with new demo
  .intent/rules/code/linkage.json
  README.md
  demos/recordings/core-demo-2022-02-26.00.cast
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  src/body/introspection/knowledge_vectorizer.py
Labels: feat, fix, docs, governance

P1.2: Remove non-deterministic random cleanup from PlannerAgent
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/introspection/knowledge_vectorizer.py
  src/will/agents/planner_agent.py
Labels: feat, fix

P1.2: Remove non-deterministic random cleanup from PlannerAgent
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/introspection/knowledge_vectorizer.py
  src/will/agents/planner_agent.py
Labels: feat, fix

P1.4: Add ServiceRegistry.reset() for test isolation
  src/body/services/service_registry.py
Labels: feat, fix

P1.4: Add ServiceRegistry.reset() for test isolation
  src/body/services/service_registry.py
Labels: feat, fix

P1.4: Fix get_qdrant_service double-checked locking race condition
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  src/body/introspection/knowledge_vectorizer.py
  src/body/services/service_registry.py
  src/will/agents/planner_agent.py
Labels: feat, fix
