Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(session-protocol): update §3 Step 2 to match 2026-05-03 contract revision
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

build(make): retire gdrive_sync from `make context`, document Project Files upload
  Makefile
Labels: none

build(workers): retire vector_sync_worker per ADR-018
  .intent/workers/vector_sync_worker.yaml
  infra/scripts/migrations/20260503_retire_vector_sync_worker.sql
  src/will/workers/vector_sync_worker.py
Labels: feat, fix, governance

docs(adr-018): postscript — record #187 retirement, supersede §3 + §5 transitional clauses
  .specs/decisions/ADR-018-decomposed-crawler-embedder-supersedes-vector-sync-worker.md
Labels: none

fix(limb_workspace): use removeprefix("./") instead of lstrip("./") at four sites
  src/shared/infrastructure/context/limb_workspace.py
Labels: feat, fix

Delete orphaned crypto.py — ADR-013 cleanup miss
  src/shared/utils/crypto.py
Labels: feat, fix

Close defects 1, 2, 4 of #197 — vector evidence emits empty content
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/providers/vectors.py
Labels: feat, fix

Update CORE-A3-plan: #197 closed (defects 1/2/4); #198 opened (defect 3 forked)
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(adr): ADR-022 — ContextBuilder vector evidence scope
  .specs/decisions/ADR-022-contextbuilder-vector-evidence-scope.md
  src/shared/infrastructure/context/builder.py
Labels: feat, fix

docs(plan): add ADR-022 to A3-plan decisions index
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(strategic-auditor): replace dead collection core_capabilities with core-code
  src/will/agents/strategic_auditor/context_gatherer.py
Labels: feat, fix

fix(vectors): replace dead default collection core_capabilities with core-code
  src/shared/infrastructure/context/providers/vectors.py
Labels: feat, fix

fix(cli): disable broken vectors rebuild command
  src/cli/resources/vectors/__init__.py
  src/cli/resources/vectors/rebuild.py
Labels: feat, fix

docs(session-protocol): align §5 Step 3 with actual A3 plan structure
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

fix(body/services): cast asyncpg parameters in find_cause_for_file
  src/body/services/consequence_log_service.py
Labels: feat, fix

fix(body/services): use bindparams instead of ::cast for find_cause_for_file
  src/body/services/consequence_log_service.py
Labels: feat, fix

feat(modularity): confidence gate for fix.modularity (#207 partial)
  .intent/enforcement/config/governance_paths.yaml
  src/body/atomic/modularity_fix.py
  src/body/atomic/split_plan.py
Labels: feat, fix, governance

feat(modularity): delete original monolith after split; enforce package name (#208)
  src/body/atomic/modularity_fix.py
  src/body/atomic/split_plan.py
Labels: feat, fix

fix(modularity): handle categorical LLM confidence values in SplitPlan
  src/body/atomic/split_plan.py
Labels: feat, fix

fix(modularity): honor can_split:false refusal; raise confidence threshold
  .intent/enforcement/config/governance_paths.yaml
  src/body/atomic/split_plan.py
Labels: feat, fix, governance

fix(modularity): clean up llm_declined error surface in ActionResult
  src/body/atomic/modularity_fix.py
Labels: feat, fix

fix(modularity): override source_file and new_package_name from action context
  src/body/atomic/modularity_fix.py
Labels: feat, fix

feat(modularity): first autonomous split — sync_actions.py → sync_actions/
  src/body/atomic/sync_actions/__init__.py
  src/body/atomic/sync_actions/chunking_helpers.py
  src/body/atomic/sync_actions/sync_actions.py
Labels: feat, fix

fix(3bd87715-d3af-49): Autonomous remediation: fix.headers (2 violation(s) — rules: layout.src_module_header)
  src/body/atomic/sync_actions/__init__.py
  src/body/atomic/sync_actions/chunking_helpers.py
  src/body/atomic/sync_actions/sync_actions.py
Labels: feat, fix

fix(modularity): restore registration decorators lost during autonomous split
  .specs/papers/CORE-ModularizationLessons.md
  src/body/atomic/sync_actions/__init__.py
  src/body/atomic/sync_actions/sync_actions.py
Labels: feat, fix

feat(flows): introduce Flow primitive — constitutional layer between AtomicAction and Worker
  .intent/META/flow.schema.json
  .intent/META/intent_tree.yaml
  .intent/flows/flow.build_tests.yaml
  .intent/flows/flow.dev_sync.yaml
  .intent/flows/flow.fix_code.yaml
  .intent/flows/flow.sync_state.yaml
  .specs/papers/CORE-Flow.md
  src/body/flows/__init__.py
  src/body/flows/executor.py
  src/body/flows/registry.py
  src/body/flows/result.py
  tests/body/atomic/sync_actions/__init__/test_generated.py
  tests/infra/test_approval_authority_constraint.py
  tests/shared/test_glob_match.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
  tests/will/workers/test_violation_remediator_subsume_proposal_id.py
  validate_flow_placement.py
Labels: feat, fix, test, governance

feat(proposal): extend ProposalAction to support flow_id alongside action_id
  src/will/autonomy/proposal.py
Labels: feat, fix

chore: remove validate_flow_placement.py — one-shot scaffolding tool
  validate_flow_placement.py
Labels: none

feat(proposal_executor): route flow steps to FlowExecutor
  src/will/autonomy/proposal_executor.py
Labels: feat, fix

fix(73f8265e-2ad0-44): Autonomous remediation: fix.ids (4 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/body/flows/executor.py
  src/body/flows/registry.py
  src/body/flows/result.py
  src/will/autonomy/proposal.py
Labels: feat, fix

feat(intent/rules): add constitutional rules for Flow primitive hierarchy
  .intent/enforcement/mappings/architecture/flows.yaml
  .intent/rules/architecture/flows.json
Labels: governance

fix(atomic): remove auto-heal loop from build.tests AtomicAction
  src/body/atomic/build_tests_action.py
Labels: feat, fix

ADR-023: Vocabulary canonical store — paper-first, machine projection derived
  .specs/decisions/ADR-023-vocabulary-canonical-store.md
Labels: none

Constitution amendments + vocabulary register doctrine + filename de-versioning
  .intent/CHANGELOG.md
  .intent/constitution/CORE-CONSTITUTION.md
  .intent/rules/governance/vocabulary_registers.json
  .specs/CORE-CHARTER.md
  .specs/decisions/README.md
  .specs/papers/CORE-Infrastructure-Definition.md
  .specs/papers/CORE-Mind-Body-Will-Separation.md
  .specs/papers/CORE-Vocabulary-Registers.md
  .specs/papers/CORE-Vocabulary.md
  .specs/state/CORE-state-2026-04-18.md
  docs/vocabulary.md
Labels: docs, governance

A3 plan: ADR-023 row added; Last updated bumped to 2026-05-04
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(modularity): preserve decorators on split (issue #211)
  src/body/atomic/modularity_fix.py
  src/body/atomic/modularity_splitter.py
  tests/body/atomic/test_modularity_fix__decorator_conservation.py
  tests/body/atomic/test_modularity_splitter__decorator_preservation.py
Labels: feat, fix, test

docs(contract): tighten §3.6, trim §3.2, add §4.3 no-pre-written-code
  .specs/planning/INTERACTION-CONTRACT.md
Labels: none

fix(cli): logger.info() called with no args in proposals show (issue #222)
  src/cli/logic/autonomy/views.py
  tests/cli/logic/autonomy/test_views__print_detailed_info.py
Labels: feat, fix, test

docs(adr): ADR-024 local LLM cognitive role assignments
  .specs/decisions/ADR-024-local-llm-cognitive-role-assignments.md
Labels: none

feat(eval): add Ollama model qualification harness
  infra/scripts/eval_ollama.py
Labels: none
