Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

fix(cli): tell the operator when --severity is hiding findings
  src/cli/commands/check/formatters.py
  src/cli/resources/code/audit.py
  tests/cli/commands/check/test_formatters__print_hidden_findings_hint.py
Labels: feat, fix, test

fix(4d792d42-09b7-49): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/onboard_routes.py::OnboardRequest (class)
  tests/api/v1/onboard_routes/test_generated.py
Labels: test

fix(49983a56-1767-4f): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/project_routes.py::generate_docs (function)
  tests/api/v1/project_routes/__init__.py
  tests/api/v1/project_routes/test_generated.py
Labels: test

fix(dc90fef0-a17f-4f): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_verbose_findings (function)
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(1fa68387-c559-4b): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_migration_delta (function)
  tests/cli/commands/__init__.py
  tests/cli/commands/check/__init__.py
  tests/cli/commands/check/formatters/__init__.py
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(0fd1dee7-408b-41): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_executed_rules (function)
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(49f53f87-328b-46): Autonomous test generation: flow.build_test_for_symbol — src/cli/resources/code/audit.py::audit_command (function)
  tests/cli/resources/code/__init__.py
  tests/cli/resources/code/audit/__init__.py
  tests/cli/resources/code/audit/test_generated.py
Labels: test

fix(a6b9a02c-be78-4b): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_hidden_findings_hint (function)
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(384f426b-add9-49): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_filtered_audit_summary (function)
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(d9bfa8db-bd14-45): Autonomous test generation: flow.build_test_for_symbol — src/cli/commands/check/formatters.py::print_audit_summary (function)
  tests/cli/commands/check/formatters/test_generated.py
Labels: test

fix(291c9e29-b4ab-4c): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/project_routes.py::DocsRequest (class)
  tests/api/v1/project_routes/test_generated.py
Labels: test

fix(236fbdc3-3554-42): Autonomous test generation: flow.build_test_for_symbol — src/api/v1/scout_routes.py::ScoutRequest (class)
  tests/api/v1/scout_routes/__init__.py
  tests/api/v1/scout_routes/test_generated.py
Labels: test

fix(cli): replace ambiguous EN DASH with hyphen in vectors_routes docstrings
  src/api/v1/vectors_routes.py
Labels: feat, fix

retire: obsolete body-contract and legacy-tag mechanisms
  .specs/decisions/ADR-132-governor-authentication-boundary.md
  .specs/papers/CORE-OEM-API.md
  src/api/cli/client.py
  src/api/cli/quality_client.py
  src/api/v1/quality_routes.py
  src/body/atomic/__init__.py
  src/body/atomic/fix/__init__.py
  src/body/atomic/fix/purge_legacy_tags.py
  src/body/governance/body_contracts_service.py
  src/body/self_healing/body_ui_fixer.py
  src/body/self_healing/purge_legacy_tags_service.py
  src/cli/commands/check/__init__.py
  src/cli/commands/check/diagnostics_commands.py
  src/cli/commands/diagnostics.py
  src/cli/commands/fix/__init__.py
  src/cli/commands/fix/body_ui.py
  src/cli/commands/fix/metadata.py
  src/cli/logic/diagnostics_registry.py
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
  src/shared/_machinery_floor/taxonomies/operational_capabilities.yaml
  src/will/governance/fix_runner.py
  tests/api/v1/test_quality_routes.py
  var/prompts/body_contracts_fixer/model.yaml
  var/prompts/body_contracts_fixer/system.txt
  var/prompts/body_contracts_fixer/user.txt
Labels: feat, fix, test

feat(governance): audit verdict DEGRADEs on unmapped mapping-required rules
  .intent/enforcement/config/audit_verdict.yaml
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-156-audit-verdict-unmapped-rules-degraded.md
  src/mind/governance/auditor.py
  src/shared/infrastructure/intent/audit_verdict.py
  tests/mind/governance/test_auditor___determine_verdict.py
  tests/shared/infrastructure/intent/test_audit_verdict.py
Labels: feat, fix, test, governance

fix(governance): remove 17ec2a42 retirement residue from operational capability taxonomy
  .intent/taxonomies/operational_capabilities.yaml
Labels: governance

fix(governance): remove 17ec2a42 retirement residue from action-risk and artifact-type inventories
  .intent/artifact_types/python.yaml
  .intent/enforcement/config/action_risk.yaml
Labels: governance

fix(governance): repoint DELEGATE placeholder off retired fix.body_ui
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

fix(governance): repoint DELEGATE placeholder off orphaned fix.code
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

fix(governance): re-score G5/G9 attestation after #818/#822 closure
  .specs/attestations/production-readiness.yaml
  README.md
Labels: docs

fix(logging): route all log output to stderr, closing #828
  src/cli/resources/code/audit.py
  src/shared/logger.py
  tests/cli/resources/code/test_audit_offline_mode.py
  tests/shared/test_logger___configure_root_logger.py
Labels: feat, fix, test

ci: add workflow_dispatch with a sha input to CORE CI and CI (Smoke)
  .github/workflows/ci.yml
  .github/workflows/core-ci.yml
Labels: ci

fix(coherence): PATH_REF excludes glob/placeholder path references
  src/mind/coherence/checks/path_ref.py
  tests/mind/coherence/checks/test_path_ref.py
Labels: feat, fix, test

fix(cli): database status --format json emits pure parseable JSON
  src/cli/resources/database/status.py
  tests/cli/resources/database/__init__.py
  tests/cli/resources/database/test_status.py
Labels: feat, fix, test

fix(governance): commit_authorship_integrity audits the proposal's own commit, not the pre_sha..post_sha range
  src/shared/infrastructure/git_service.py
  src/will/workers/commit_authorship_audit_worker.py
  tests/will/workers/test_commit_authorship_audit_worker.py
Labels: feat, fix, test

fix(governance): remove os.environ/os.getenv from dangerous_execution_primitives
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  tests/mind/logic/engines/ast_gate/checks/test_dangerous_execution_primitives_mapping.py
Labels: test, governance

fix(governance): resolve cli.dangerous_explicit prose/gate mismatch (#824)
  .intent/enforcement/mappings/cli/interface_design.yaml
  .intent/rules/cli/interface_design.json
  .intent/rules/infrastructure/cli_commands.json
  src/shared/cli/command_meta.py
  tests/mind/logic/engines/cli_gate/checks/dangerous_explicit/test_generated.py
Labels: feat, fix, test, governance

fix(governance): correct G2/G8 attestation blocker links (truth-correction)
  .specs/attestations/production-readiness.yaml
Labels: none

fix(tests): #773 T5.1 -- honest DB-suite skip vs. explicit release gate
  .github/workflows/core-ci.yml
  tests/conftest.py
  tests/test_conftest_db_gating.py
Labels: test, ci

fix(tests): #773 T5.2 -- fault-injection deep-verification + undercount test
  tests/will/workers/test_test_remediator_defer_to_proposal.py
  tests/will/workers/violation_remediator/test_generated.py
Labels: test

fix(workers): #773 T5.3 -- eliminate false Finding->Proposal attribution
  src/will/workers/test_remediator/_operations.py
  src/will/workers/test_remediator/worker.py
  tests/will/workers/test_test_remediator_circuit_breaker.py
  tests/will/workers/test_test_remediator_no_false_attribution.py
Labels: feat, fix, test

feat(tests): #843 -- governed mutation-chain integration proof for flow.build_test_for_symbol
  tests/will/autonomy/test_build_test_for_symbol_e2e_acceptance.py
Labels: test

fix(config): #845 -- process environment must win over .env/.creds dotenv cascade
  src/shared/config.py
  tests/shared/test_config_env_precedence.py
Labels: feat, fix, test

feat(schema): #821 Unit 1 -- separate task-assignee/actor roles from cognitive-role storage
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260830_821_create_task_assignee_roles.sql
  schema.sql
  tests/shared/infrastructure/test_task_assignee_roles_schema.py
Labels: test

fix(tests): CI-environment fixes for #845/#821 test suites
  tests/shared/infrastructure/test_task_assignee_roles_schema.py
  tests/shared/test_config_env_precedence.py
Labels: test

feat(governance): #821 Unit 2 -- explicit YAML->DB cognitive-role capability projection
  .intent/enforcement/config/action_risk.yaml
  src/api/cli/client.py
  src/api/cli/cognitive_roles_client.py
  src/api/main.py
  src/api/v1/cognitive_role_routes.py
  src/api/v1/schemas.py
  src/body/atomic/__init__.py
  src/body/atomic/cognitive_role_projection_actions.py
  src/cli/admin_cli.py
  src/cli/resources/cognitive_roles/__init__.py
  src/cli/resources/cognitive_roles/hub.py
  src/cli/resources/cognitive_roles/project.py
  src/shared/infrastructure/intent/capability_taxonomy.py
  src/shared/infrastructure/intent/cognitive_roles.py
  src/will/governance/cognitive_role_runner.py
  tests/body/atomic/test_cognitive_role_projection_actions.py
  tests/shared/infrastructure/intent/test_capability_taxonomy.py
  tests/shared/infrastructure/intent/test_cognitive_roles.py
Labels: feat, fix, test, governance

feat(governance): #821 Unit 3 -- governed authoring/validation surface for llm_resources
  .intent/enforcement/config/action_risk.yaml
  src/api/cli/client.py
  src/api/cli/llm_resources_client.py
  src/api/main.py
  src/api/v1/llm_resource_routes.py
  src/api/v1/schemas.py
  src/body/atomic/__init__.py
  src/body/atomic/llm_resource_authoring_actions.py
  src/body/infrastructure/repositories/llm_resource_repository.py
  src/cli/admin_cli.py
  src/cli/resources/llm_resources/__init__.py
  src/cli/resources/llm_resources/author.py
  src/cli/resources/llm_resources/hub.py
  src/will/governance/llm_resource_runner.py
  tests/body/atomic/test_llm_resource_authoring_actions.py
  tests/body/infrastructure/repositories/test_llm_resource_repository.py
  tests/will/agents/test_resource_selector.py
Labels: feat, fix, test, governance

fix(config): add #821 Units 2/3 actions to machinery-floor action_risk.yaml
  src/shared/_machinery_floor/enforcement/config/action_risk.yaml
Labels: feat, fix

test(governance): real regression proof for atomic_actions.fix_action_scope (#842)
  tests/body/atomic/test_atomic_actions__fix_action_scope.py
Labels: test

fix(governance): correct falsely-blocking metadata mutation rules (#842)
  .intent/enforcement/mappings/code/metadata_mutations.yaml
  .intent/rules/code/metadata_mutations.json
Labels: governance
