Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

refactor: delete legacy file-based proposal flow
  src/cli/logic/proposals/canary.py
  src/cli/logic/proposals/service.py
  src/will/self_healing/refactoring_proposal_writer.py
Labels: feat, fix

refactor(cli): remove legacy proposal_service CLI wrapper
  src/cli/logic/proposal_service.py
Labels: feat, fix

docs: remove orphan references to dropped core.proposals table
  src/body/workers/call_site_rewriter.py
  src/shared/infrastructure/database/models/autonomous_proposals.py
Labels: feat, fix

refactor: delete orphan helpers from src/cli/logic/proposals/
  src/cli/logic/proposals/crypto.py
  src/cli/logic/proposals/models.py
Labels: feat, fix

docs(adr): ADR-013 retire legacy core.proposals table
  .specs/decisions/ADR-013-retire-legacy-proposals-table.md
  .specs/papers/CORE-Proposal.md
Labels: none

docs(plan): A3 plan updated — ADR-013, resolved blocker, current state
  .specs/planning/CORE-A3-plan.md
Labels: none

fix(intent_guard): extend _AUDIT_ENGINES to skip passive-marker engines
  src/body/governance/intent_guard.py
Labels: feat, fix

docs(a3): record session 2026-04-26 closures and G1 demonstration
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(intent): clarify audit verdict semantics in audit_verdict.yaml
  .intent/enforcement/config/audit_verdict.yaml
Labels: governance

docs(specs): externalize interaction contract from session protocol
  .specs/planning/CORE-A3-plan.md
  .specs/planning/INTERACTION-CONTRACT.md
  .specs/planning/SESSION-PROTOCOL.md
Labels: none

docs(specs): tighten INTERACTION-CONTRACT §3.2 and §4.2
  .specs/planning/INTERACTION-CONTRACT.md
Labels: none

feat(actions): reclassify build.tests as safe per ADR-014
  src/body/atomic/build_tests_action.py
Labels: feat, fix

docs(adr): ADR-014 — development-phase priority, loop liveness before artifact quality
  .specs/decisions/ADR-014-development-phase-priority-loop-before-quality.md
Labels: none

docs(plan): record ADR-014, correct G1 numbers, resolve #152
  .specs/planning/CORE-A3-plan.md
Labels: none

feat: add db_sync and vector_sync workers (declaration + implementation)
  .intent/workers/db_sync_worker.yaml
  .intent/workers/vector_sync_worker.yaml
  src/will/workers/db_sync_worker.py
  src/will/workers/vector_sync_worker.py
Labels: feat, fix, governance

docs(specs): plan for Band B consequence chain (#110)
  .specs/planning/BAND-B-consequence-chain-plan.md
Labels: none

docs(specs): URS for consequence chain (Band B / G3) (#110)
  .specs/requirements/URS-consequence-chain.md
Labels: none

docs(specs): revise plan after URS commit, opening #164 and #165 (#110)
  .specs/planning/BAND-B-consequence-chain-plan.md
Labels: none

docs(specs): ADR-015 consequence chain attribution write paths and storage shapes (#110)
  .specs/decisions/ADR-015-consequence-chain-attribution.md
Labels: none

docs(specs): plan-doc updates for ADR-015 commit (#110)
  .specs/planning/BAND-B-consequence-chain-plan.md
  .specs/planning/CORE-A3-plan.md
Labels: none

feat(consequence-chain): add approval_authority column + enum
  .intent/META/enums.json
  infra/scripts/migrations/20260427_add_approval_authority_to_autonomous_proposals.sql
Labels: governance

feat(consequence-chain): plumbing for approval_authority
  src/cli/resources/proposals/manage.py
  src/shared/infrastructure/database/models/autonomous_proposals.py
  src/will/autonomy/proposal.py
  src/will/autonomy/proposal_mapper.py
  src/will/autonomy/proposal_service.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix

feat(consequence-chain): route autonomous approvals through approve()
  src/will/workers/proposal_worker.py
  src/will/workers/test_remediator.py
  src/will/workers/violation_remediator.py
Labels: feat, fix

test(consequence-chain): NFR.5 enforcement and Q2.A coverage for #146 + #165
  tests/infra/test_approval_authority_constraint.py
  tests/will/autonomy/test_proposal_state_manager_approve.py
  tests/will/workers/test_violation_remediator_approval_path.py
Labels: test

docs(planning): reflect #146 + #165 closure; trim duplicated state
  .specs/planning/BAND-B-consequence-chain-plan.md
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(planning): reflect Band B Edge-2 closure; trim duplicated state
  .specs/planning/BAND-B-consequence-chain-plan.md
Labels: none

fix(blackboard): set resolved_at on terminal status in update_entry_status
  src/body/services/blackboard_service.py
Labels: feat, fix

feat(consequence-chain): record finding_ids on remediation proposals
  src/will/workers/violation_remediator.py
  tests/will/workers/test_violation_remediator_finding_ids.py
Labels: feat, fix, test

fix(a826d569): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .specs/planning/BAND-B-consequence-chain-plan.md
  .specs/planning/CORE-A3-plan.md
  src/body/services/blackboard_service.py
  src/will/workers/violation_remediator.py
  tests/will/workers/test_violation_remediator_subsume_proposal_id.py
Labels: feat, fix, test

docs(test-env): recon + ADR-016 deciding test environment architecture
  .specs/decisions/ADR-016-test-environment-architecture.md
  .specs/state/2026-04-27-test-environment-recon.md
Labels: none

fix(5723650f): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .specs/planning/CORE-A3-plan.md
  infra/scripts/migrations/20260428_add_claimed_by_to_autonomous_proposals.sql
  src/shared/infrastructure/database/models/autonomous_proposals.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_service.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix

fix(f759e385): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  .specs/decisions/ADR-017-claim-proposal-as-atomic-action.md
  src/body/atomic/__init__.py
  src/body/atomic/proposal_lifecycle_actions.py
  src/body/atomic/registry.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_service.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix

feat(proposals): route claim through claim.proposal atomic action
  src/cli/resources/proposals/manage.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix

refactor(proposals): remove orphaned mark_executing methods
  src/will/autonomy/proposal_service.py
  src/will/autonomy/proposal_state_manager.py
Labels: feat, fix

docs(planning): reflect #147 closure + ADR-017 in BAND-B and CORE-A3 plan-docs
  .specs/planning/BAND-B-consequence-chain-plan.md
  .specs/planning/CORE-A3-plan.md
Labels: none

docs(papers): amend CORE-OptimizerWorker for VE-implemented reality (F-12)
  .specs/papers/CORE-OptimizerWorker.md
Labels: none

docs(papers): amend CORE-ShopManager for implementation reality (F-11)
  .specs/papers/CORE-ShopManager.md
Labels: none

refactor(workers): rename *_auditor → *_shop_manager (F-11 sub-decisions 1+2)
  .intent/enforcement/config/test_coverage.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/workers/blackboard_shop_manager.yaml
  .intent/workers/worker_shop_manager.yaml
  src/body/services/blackboard_service.py
  src/body/services/worker_registry_service.py
  src/shared/path_resolver.py
  src/will/workers/blackboard_shop_manager.py
  src/will/workers/worker_shop_manager.py
  tests/will/workers/blackboard_auditor/test_generated.py
  tests/will/workers/blackboard_shop_manager/test_generated.py
Labels: feat, fix, test, governance

docs: align living docs with F-11 rename + add CHANGELOG v0.2
  .intent/CHANGELOG.md
  .specs/decisions/README.md
  .specs/planning/CORE-A3-plan.md
Labels: governance

chore: remove migration residue from pyproject.toml
  pyproject.toml
Labels: deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
