Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(readme): correct rule/engine counts; bump version to 2.5.0
  README.md
  pyproject.toml
Labels: docs, deps

docs(specs): capability-scoped filesystem authority paper + IntentGuard §4 amendment
  .specs/papers/CORE-Capability-Scoped-Filesystem-Authority.md
  .specs/papers/CORE-IntentGuard.md
Labels: none

governance(taxonomies): operational_capabilities + ADR-078 schema + D7 renames
  .intent/META/enums.json
  .intent/enforcement/config/action_risk.yaml
  .intent/enforcement/config/governance_paths.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/flows/flow.sync_state.yaml
  .intent/taxonomies/operational_capabilities.yaml
  .specs/decisions/ADR-078-operational-capability-taxonomy-schema.md
  src/api/v1/sync_routes.py
  src/body/atomic/__init__.py
  src/body/atomic/fix_actions.py
  src/body/atomic/sync_actions/sync_actions.py
  src/body/governance/body_contracts_service.py
  src/body/project_lifecycle/definition_service.py
  src/body/self_healing/body_ui_fixer.py
  src/body/services/artifact_service.py
  src/body/services/crate_creation_service.py
  src/body/services/crawl_service/main_module.py
  src/cli/commands/fix/all_commands.py
  src/cli/commands/fix/body_ui.py
  src/cli/logic/embeddings_cli.py
  src/cli/resources/code/check_ui.py
  src/shared/infrastructure/intent/action_risk.py
  src/shared/infrastructure/intent/operational_capabilities.py
  src/shared/infrastructure/validation/test_runner.py
  src/will/governance/sync_runner.py
  src/will/workflows/dev_sync_reporter.py
  src/will/workflows/dev_sync_workflow.py
  tests/shared/infrastructure/intent/test_operational_capabilities.py
Labels: feat, fix, test, governance

docs(specs): ADR-079 chokepoint implementation for capability-scoped filesystem authority
  .specs/decisions/ADR-079-chokepoint-implementation-for-capability-scoped-filesystem-authority.md
Labels: none

fix(governance): correct ID anchor placement on decorated dataclasses
  src/shared/infrastructure/intent/operational_capabilities.py
Labels: feat, fix

feat(governance): ADR-079 stage 1 — advisory capability-scoped FS chokepoint
  src/body/governance/intent_guard.py
  src/shared/governance_token.py
  src/shared/infrastructure/intent/operational_mode.py
  src/shared/infrastructure/storage/file_handler.py
  tests/body/governance/test_intent_guard__capability_tier_advisory.py
  tests/shared/infrastructure/intent/test_operational_mode.py
  tests/shared/test_governance_token__current_capability.py
Labels: feat, fix, test

feat(governance): ADR-079 Slice B — taxonomy_gate D9 standing invariant
  .intent/enforcement/mappings/governance/taxonomy.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/taxonomy.json
  src/body/governance/intent_guard.py
  src/mind/logic/engines/taxonomy_gate.py
  tests/body/governance/test_intent_guard__audit_engines.py
  tests/mind/logic/engines/test_taxonomy_gate.py
Labels: feat, fix, test, governance

fix(governance): taxonomy_gate needs verify_context for context-level dispatch
  src/mind/logic/engines/taxonomy_gate.py
  tests/mind/logic/engines/test_taxonomy_gate.py
Labels: feat, fix, test

fix(governance): EngineRegistry.initialize must reset discovery state
  src/mind/logic/engines/registry.py
  tests/mind/logic/engines/test_registry__EngineRegistry.py
Labels: feat, fix, test

chore(governance): clear ADR-079 small wartss — dead is_metadata + applies_to
  .intent/enforcement/mappings/governance/taxonomy.yaml
  src/body/governance/intent_guard.py
Labels: feat, fix, governance

fix(governance): close bare-import bypass in no_direct_writes + forbidden_primitives (#488)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  src/mind/logic/engines/ast_gate/base.py
  src/mind/logic/engines/ast_gate/checks/intent_access_check.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  tests/engines/test_intent_access_check.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
Labels: feat, fix, test, governance

fix(governance): close abs-path traversal in normalize_file_filter (CodeQL #19)
  src/mind/governance/filtered_audit.py
  tests/mind/governance/test_filtered_audit__file_filter.py
Labels: feat, fix, test

docs(meta): land bootstrap meta-contract — confirmation gate + architect/loop notes
  .intent/ARCHITECT.md
  .intent/daily_loop.md
  CLAUDE.md
Labels: governance

fix(governance): audit wrapper iterated dict result as list, masking PASS as failed
  src/mind/enforcement/audit.py
Labels: feat, fix

fix(api): /v1/status/drift end-to-end honest — close #498/#499/#500
  src/body/introspection/drift_service.py
  src/cli/commands/guard.py
  src/cli/commands/status.py
  src/shared/infrastructure/clients/qdrant_client.py
  src/will/governance/inspect_runner.py
Labels: feat, fix

chore(specs): archive 2026-04 planning + state into planning/archive/
  .specs/planning/archive/BAND-B-consequence-chain-plan.md
  .specs/planning/archive/CORE-API-capability-map-2026-05-16.md
  .specs/planning/archive/CORE-band-E-planning-input-2026-05-16.md
  .specs/planning/archive/state/2026-04-20-daemon-reactivation-recon.md
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/counterfactual.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/modularity_diagnostic.py
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/needs_split_findings.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/per_file.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.md
  .specs/planning/archive/state/2026-04-25-consequence-chain-mapping.md
  .specs/planning/archive/state/2026-04-27-test-environment-recon.md
  .specs/planning/archive/state/CORE-state-2026-04-18.md
  .specs/planning/archive/state/Prior Art and the End-to-End Gap.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-19.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-20-evening.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-20.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-21.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-24.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-25.md
  .specs/planning/archive/state/handoffs/handoff_2026-04-23_evening.md
  .specs/planning/archive/state/handoffs/session_handoff_2026-04-21_evening.md
  .specs/planning/archive/state/handoffs/session_handoff_2026-04-22_evening.md
  .specs/planning/archive/state/nested_scope_audit_2026-04-19.md
  .specs/planning/archive/state/reconnaissance_2026-04-20.md
  .specs/planning/archive/state/tracing_mandatory_diagnostic_2026-04-20.md
Labels: none

docs(planning): land CCC backlog cleanup decision record — 2026-05-31
  .specs/planning/CCC-backlog-cleanup-2026-05-31.md
Labels: none

feat(coherence): land cleanup verbs repair-counts + supersede — close #496
  .specs/decisions/ADR-067-constitutional-coherence-checker.md
  src/body/services/coherence_service.py
  src/cli/resources/coherence/__init__.py
  src/cli/resources/coherence/repair_counts.py
  src/cli/resources/coherence/supersede.py
  tests/body/services/test_coherence_service_cleanup_verbs.py
Labels: feat, fix, test

docs(planning): close CCC backlog cleanup record — 3345→785 executed
  .specs/planning/CCC-backlog-cleanup-2026-05-31.md
Labels: none

docs(charter): correct papers path — .intent/papers → .specs/papers
  .specs/CORE-CHARTER.md
Labels: none

feat(governance): ADR-079 stage 2 — resolve operational_capabilities phantoms — close #495
  .intent/enforcement/config/action_risk.yaml
  .intent/taxonomies/operational_capabilities.yaml
  src/body/atomic/__init__.py
  src/body/atomic/fix_actions.py
  src/body/atomic/remediate_cognitive_role.py
  src/body/atomic/test_actions.py
  src/mind/enforcement/audit.py
Labels: feat, fix, governance

docs(specs): ADR-080 — fs op-class vocabulary split (Proposed)
  .specs/decisions/ADR-080-fs-op-class-vocabulary-split.md
Labels: none

docs(specs): promote ADR-080 to Accepted
  .specs/decisions/ADR-080-fs-op-class-vocabulary-split.md
Labels: none

governance(namespace): backfill ADR-076/077/078/079/080 classifications
  .intent/governance/namespace_manifest.yaml
Labels: governance

governance(meta): materialize ADR-080 D2 + D3 — fs_audit_op_class + fs_operation_class scope
  .intent/META/enums.json
Labels: governance

feat(governance): ADR-077 §6 steps 1+2 — filesystem-operation taxonomy + introspective completeness check
  .intent/enforcement/mappings/governance/fs_operations.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/governance/namespace_manifest.yaml
  .intent/rules/governance/fs_operations.json
  .intent/taxonomies/filesystem_operations.yaml
  src/mind/logic/engines/artifact_gate.py
  src/shared/infrastructure/intent/filesystem_operations.py
Labels: feat, fix, governance

fix(3de5f134-ccc8-43): Autonomous remediation: fix.format (1 violation(s) — rules: workflow.ruff_format_check)
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix

feat(governance): ADR-077 §6 step 3 — derive no_direct_writes from taxonomy — close #489
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/taxonomies/filesystem_operations.yaml
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/infrastructure/intent/filesystem_operations.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
  tests/shared/infrastructure/intent/test_filesystem_operations.py
Labels: feat, fix, test, governance

revert: ADR-077 §6 step 3 — verdict FAIL regression — phased re-plan
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/taxonomies/filesystem_operations.yaml
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/infrastructure/intent/filesystem_operations.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
  tests/shared/infrastructure/intent/test_filesystem_operations.py
Labels: feat, fix, test, governance

feat(governance): #489 Phase 1 — taxonomy-inert prep for ADR-077 §6 step 3
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/taxonomies/filesystem_operations.yaml
  src/shared/infrastructure/intent/filesystem_operations.py
  tests/shared/infrastructure/intent/test_filesystem_operations.py
Labels: feat, fix, test, governance

feat(governance): #489 Phase 2 prerequisite drain — 8 routings + 6 Tier-2 exclusions (#507)
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
  src/body/introspection/semantic_clusterer.py
  src/body/self_healing/duplicate_id_service.py
  src/body/services/cim/baselines.py
  src/body/services/cim/history.py
  src/cli/commands/guard.py
  src/cli/logic/governance/traceability_service.py
  src/cli/resources/coherence/seed.py
  src/will/governance/census_runner.py
  src/will/self_healing/remediation_evidence_writer.py
Labels: feat, fix, governance

fix(governance): #507 follow-up — census_runner uses FileService, not FileHandler (boundary)
  src/body/services/cim/baselines.py
  src/body/services/cim/history.py
  src/will/governance/census_runner.py
Labels: feat, fix

feat(governance): ADR-077 §6 step 3 — derive no_direct_writes from taxonomy — close #489
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/checks/test_purity_checks__PurityChecks.py
Labels: feat, fix, test, governance

docs(governance): backfill CHANGELOG.md with ADR-077..080 (4 entries)
  .intent/CHANGELOG.md
Labels: governance

docs(daily_loop): step 2 names runtime health + dashboard, flags two-daemon dependency
  .intent/daily_loop.md
Labels: governance

fix(workers): bump max_interval to 1200s on four long-running workers
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_cli.yaml
  .intent/workers/audit_sensor_purity.yaml
  .intent/workers/repo_crawler.yaml
Labels: governance

docs(adr-041): append 2026-05-31 Note — verification regression, unmigrated readers, value-drift gap (#516)
  .specs/decisions/ADR-041-per-worker-liveness-thresholds-and-orphan-skip.md
Labels: none

fix(workers): subtract cycle duration from sleep so max_interval is the period
  src/cli/commands/daemon.py
  src/will/workers/blackboard_shop_manager.py
  src/will/workers/governance_embedding/governance_embedder_worker.py
  src/will/workers/observer_worker.py
  src/will/workers/proposal_pipeline_shop_manager.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedding/repo_embedder_workers.py
  src/will/workers/test_coverage_sensor.py
  src/will/workers/test_runner_sensor.py
  src/will/workers/worker_shop_manager.py
Labels: feat, fix

refactor(ccc): close mind/body coupling cluster + honesty-rename engine checks (#490)
  .intent/CHANGELOG.md
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  .intent/enforcement/mappings/architecture/privileged_boundaries.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/architecture/intent_access.json
  .specs/decisions/ADR-049-doctrine-rule-parity.md
  .specs/decisions/ADR-063-bootstrap-will-tools-body-will-closure.md
  .specs/decisions/ADR-077-protected-namespace-access.md
  src/body/services/governance_claims_service.py
  src/cli/resources/coherence/check.py
  src/cli/resources/coherence/seed.py
  src/mind/coherence/checker.py
  src/mind/coherence/checks/r1_scoped.py
  src/mind/coherence/checks/row3_citation.py
  src/mind/coherence/checks/sameconcern.py
  src/mind/coherence/checks/specgap.py
  src/mind/governance/policy_rule.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/import_boundary.py
  src/mind/logic/engines/ast_gate/checks/import_checks.py
  src/mind/logic/engines/ast_gate/checks/protected_namespace_access_check.py
  src/mind/logic/engines/ast_gate/checks/runtime_import_boundary.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/governance/__init__.py
  src/shared/governance/coherence_harvester.py
  src/shared/infrastructure/intent/intent_repository.py
  src/will/governance/coverage_runner.py
  src/will/workers/governance_embedding/governance_embedder_worker.py
  tests/engines/test_intent_access_check.py
  tests/mind/governance/test_policy_rule__PolicyRule.py
  tests/mind/logic/engines/ast_gate/test_engine__ASTGateEngine.py
Labels: feat, fix, test, governance

fix(governance): /tmp/ prohibition — 4 sites pinned to var/tmp/ (#508)
  src/body/governance/runtime_validator.py
  src/body/services/validation/python_validator.py
  src/shared/infrastructure/validation/ruff_linter.py
  src/will/self_healing/alignment/sandbox.py
  src/will/test_generation/sandbox.py
Labels: feat, fix
