Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(boundary): eliminate settings_access violations in GRC cluster; route Worker._load_declaration through IntentRepository
  src/body/atomic/document/gap_analysis_action.py
  src/body/services/grc/internal_corpus.py
  src/cli/resources/grc/ingest.py
  src/shared/workers/base.py
  src/will/workers/document_corpus_sensor.py
  tests/body/atomic/document/__init__.py
  tests/body/atomic/test_document_gap_analysis_action.py
  tests/body/services/grc/test_internal_corpus.py
  tests/shared/workers/test_base__load_declaration.py
Labels: feat, fix, test

fix(7f49eb90-05ec-42): Autonomous remediation: fix.docstrings (6 violation(s) — rules: purity.docstrings.required)
  src/api/v1/auth_routes.py
Labels: feat, fix

fix(intent): update enforcement mapping excludes post-ADR-126 + close false-positive gateway findings
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/architecture/mutation_surface.yaml
Labels: governance

refactor(mind): eliminate is_context_level_for boilerplate via BaseEngine._context_check_types
  src/mind/logic/engines/base.py
  src/mind/logic/engines/cli_gate/engine.py
  src/mind/logic/engines/contracts_gate.py
  src/mind/logic/engines/runtime_gate.py
  tests/mind/logic/engines/test_base__BaseEngine.py
Labels: feat, fix, test

feat(blackboard): ADR-127 — indeterminate clean-pass drain via AuditViolationSensor
  .specs/decisions/ADR-127-indeterminate-clean-pass-drain.md
  src/body/services/blackboard_service/blackboard_service.py
  src/will/workers/audit_violation_sensor.py
  tests/body/services/blackboard_service/blackboard_service/test_adjudicate_indeterminate.py
Labels: feat, fix, test

refactor(mind): extend BaseEngine._always_context_level for always-context engines
  src/mind/logic/engines/attestation_gate.py
  src/mind/logic/engines/base.py
  src/mind/logic/engines/knowledge_gate.py
  src/mind/logic/engines/workflow_gate/engine.py
  tests/mind/logic/engines/test_base__BaseEngine.py
Labels: feat, fix, test

chore(var): remove completed D6 Stage C migration plan
  var/d6-stage-c-migration-plan.md
Labels: none

fix(security): close #707, #710, #711 — RBAC gaps and JWT guard bypass
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/fix_routes.py
  src/api/v1/proposals_routes.py
  src/api/v1/refactor_routes.py
  src/api/v1/sync_routes.py
  src/body/infrastructure/lifespan.py
  src/shared/config.py
  tests/api/test_lifespan.py
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_proposals_routes.py
Labels: feat, fix, test

fix(will): enforce state predicates on proposal transitions + stop-on-failure
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_state_manager.py
  tests/will/autonomy/test_proposal_executor_results_keying.py
  tests/will/autonomy/test_proposal_executor_stop_on_failure.py
  tests/will/autonomy/test_proposal_state_manager_sanitize.py
  tests/will/autonomy/test_proposal_state_transitions.py
Labels: feat, fix, test

fix(arch): Worker repo_root injection + exc_info on crash sites (#690, #693)
  src/body/atomic/fix_actions.py
  src/cli/commands/daemon.py
  src/mind/governance/audit_context.py
  src/shared/workers/base.py
  tests/shared/workers/test_base__load_declaration.py
Labels: feat, fix, test

fix(tests): complete illegal state transition coverage (#714)
  tests/will/autonomy/test_proposal_state_transitions.py
Labels: test

fix(tier1): close #694, #712, #715 — prompt headers + logrotate + ApproveRequest cleanup
  infra/logrotate/core-daemon
  src/api/v1/proposals_routes.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_role_enforcement.py
  var/prompts/simple_test_generator_prompt/system.txt
  var/prompts/test_gen_prompt/system.txt
Labels: feat, fix, test

fix(api): close #716, #697, #698, #706 — HTTP contract hardening + crate lifecycle
  src/api/v1/audit_routes.py
  src/api/v1/census_routes.py
  src/api/v1/coverage_routes.py
  src/api/v1/daemon_routes.py
  src/api/v1/fix_routes.py
  src/api/v1/integration_routes.py
  src/api/v1/lane_routes.py
  src/api/v1/proposals_routes.py
  src/api/v1/quality_routes.py
  src/api/v1/refactor_routes.py
  src/api/v1/schemas.py
  src/api/v1/sync_routes.py
  src/body/services/crate_processing_service.py
  tests/api/v1/test_audit_remediations.py
  tests/api/v1/test_audit_routes.py
  tests/api/v1/test_census_routes.py
  tests/api/v1/test_coverage_routes.py
  tests/api/v1/test_daemon_routes.py
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_quality_routes.py
  tests/api/v1/test_refactor_routes.py
  tests/api/v1/test_sync_routes.py
  tests/body/services/test_crate_processing_service__CrateProcessingService.py
Labels: feat, fix, test

refactor(shared): close #695 — generic _load_from_sec replaces 34 duplicate loader functions
  src/shared/infrastructure/intent/operational_config.py
  tests/shared/infrastructure/intent/test_operational_config.py
Labels: feat, fix, test

docs(arch): close #713 — document WRITE_DATA sandbox exclusion rationale in SandboxLifecycle
  src/body/atomic/sandbox_lifecycle.py
Labels: feat, fix

feat(cli): close #641 — ADR-098 D3 iceberg-tail rendering in detail + verbose views
  src/cli/commands/check/formatters.py
  src/cli/renderers/audit_detail.py
  tests/cli/renderers/test_audit_detail.py
Labels: feat, fix, test

refactor(deps): close #702 — replace networkx with stdlib union-find in duplicates_service.py
  pyproject.toml
  src/body/self_healing/duplicates_service.py
Labels: feat, fix, deps

fix(745d8ba3-c248-40): Autonomous remediation: fix.ids (2 violation(s) — rules: linkage.assign_ids, purity.stable_id_anchor)
  src/body/self_healing/duplicates_service.py
Labels: feat, fix

refactor: close #696 — assert isinstance → explicit guards, _find_repo_root, collapse dispatch tables in artifact_gate.py
  src/mind/logic/engines/artifact_gate.py
Labels: feat, fix

refactor(deps): close #701 — move ruamel-yaml to optional [migration] extras
  pyproject.toml
Labels: deps

tooling: close #692 — add check_symbol_ids pre-commit hook for UUID discipline
  .pre-commit-config.yaml
  hooks/check_symbol_ids.py
Labels: none

fix: close #717 — replace 9 duplicate symbol IDs with fresh UUIDs
  src/body/services/grc/gap_analysis_service.py
  src/shared/infrastructure/llm/providers/anthropic.py
  src/shared/models/grc_verdict.py
  src/will/governance/coverage_runner.py
  src/will/test_generation/introspection_facts.py
  src/will/test_generation/prompt_engine.py
Labels: feat, fix

fix: close #689 — SHA-256 candidate cache + --reset for Scout idempotency
  src/cli/logic/scout.py
  src/cli/resources/project/scout.py
  tests/cli/logic/test_scout.py
  var/prompts/scout_rule_inducer/system.txt
Labels: feat, fix, test

fix: widen Scout cache key to include prompt files (system.txt + model.yaml)
  src/cli/logic/scout.py
  tests/cli/logic/test_scout.py
Labels: feat, fix, test

tests: close #666 — author canonical test files for circuit_breaker and audit_violation_normalizer
  tests/will/workers/audit_violation_normalizer/test_generated.py
  tests/will/workers/circuit_breaker/test_generated.py
Labels: test

feat: close #703 — fix test-gen context contamination; widen scope to 25 files
  .intent/enforcement/config/test_coverage.yaml
  src/body/atomic/build_tests_action.py
  src/cli/admin_cli.py
  src/cli/commands/capabilities.py
  src/cli/commands/commands.py
  src/cli/commands/search.py
  src/cli/resources/dev/smell_test.py
  src/cli/resources/workers/blackboard.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/context/models.py
  src/shared/infrastructure/context/service.py
  src/shared/workers/base.py
  src/shared/workers/blackboard_publisher.py
  tests/shared/workers/blackboard_publisher/__init__.py
  tests/shared/workers/blackboard_publisher/test_blackboard_publisher.py
  var/prompts/test_gen_prompt/system.txt
Labels: feat, fix, test, governance

fix: close #656 — schema-only reset_test_db.sh + drift detection test
  infra/scripts/reset_test_db.sh
  tests/test_schema_drift.py
Labels: test

feat: close #643 — CoreContext DI typing posture (ADR-128)
  .specs/decisions/ADR-128-corecontext-di-typing-posture.md
  src/shared/context.py
Labels: feat, fix

feat: close #699 — keyset pagination on proposals, decisions, and audit-runs list endpoints
  src/api/v1/audit_routes.py
  src/api/v1/inspect_routes.py
  src/api/v1/proposals_routes.py
  src/body/infrastructure/repositories/decision_trace_repository.py
  src/shared/pagination.py
  src/will/autonomy/proposal_repository.py
  src/will/autonomy/proposal_service.py
  src/will/governance/inspect_runner.py
  tests/shared/test_pagination.py
Labels: feat, fix, test

feat: close #609 — ADR-129 commit authorship integrity (D1/D2/D4/D5/D6)
  .intent/enforcement/remediation/auto_remediation.yaml
  .intent/rules/governance/commit_authorship_integrity.json
  .intent/workers/commit_authorship_audit_worker.yaml
  .specs/decisions/ADR-129-commit-authorship-integrity.md
  infra/migrations/manifest.yaml
  infra/scripts/migrations/20260628_adr129_add_declared_production_to_proposal_consequences.sql
  infra/sql/db_schema_live.sql
  src/body/services/consequence_log_service.py
  src/shared/infrastructure/git_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  src/will/workers/commit_authorship_audit_worker.py
  tests/shared/infrastructure/test_git_service_commit_authorship.py
  tests/will/workers/test_commit_authorship_audit_worker.py
Labels: feat, fix, test, governance

refactor: centralise async git ops in GitService sanctuary
  src/shared/infrastructure/git_service.py
  src/will/workers/commit_authorship_audit_worker.py
  src/will/workers/commit_reachability_auditor.py
  tests/will/workers/test_commit_authorship_audit_worker.py
  tests/will/workers/test_commit_reachability_auditor__capture_meta.py
Labels: feat, fix, test

fix: ADR-129 D7 — commit before mark_completed; StagingContaminationError
  .specs/decisions/ADR-129-commit-authorship-integrity.md
  src/shared/infrastructure/git_service.py
  src/will/autonomy/proposal_execution_pipeline.py
  src/will/autonomy/proposal_executor.py
  tests/shared/infrastructure/test_git_service_commit_authorship.py
Labels: feat, fix, test

docs: ADR-129 — document pre-deployment row skip behaviour in worker
  src/will/workers/commit_authorship_audit_worker.py
Labels: feat, fix

fix: remove non-schema fields from commit_authorship_integrity rule
  .intent/rules/governance/commit_authorship_integrity.json
Labels: governance

fix: deduplicate test.runner.missing findings in TestRunnerSensor
  src/will/workers/test_runner_sensor.py
Labels: feat, fix

fix: correct _sanitize_payload import from blackboard_publisher
  src/will/autonomy/proposal_mapper.py
  src/will/autonomy/proposal_state_manager.py
  src/will/governance/audit_runner.py
  src/will/governance/census_runner.py
  src/will/governance/sync_runner.py
Labels: feat, fix

fix: add repo_root param to AuditViolationSensor constructor
  src/will/workers/audit_violation_sensor.py
Labels: feat, fix

fix(2efa1614-9bcb-41): Autonomous remediation: fix.format (1 violation(s) — rules: style.formatter_required)
  src/will/autonomy/proposal_execution_pipeline.py
Labels: feat, fix

fix: add missing import/assertion rules to test-gen prompts
  var/prompts/simple_test_generator_prompt/system.txt
  var/prompts/test_gen_prompt/system.txt
Labels: none

fix(59c28ea7-1d8d-41): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/will/workers/violation_remediator_body/models/test_generated.py
Labels: test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
