Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"

docs(prompts): advance external-review ADR window to ADR-133–142
  var/prompts/external-review.md
Labels: none

fix: cognitive-step risk and per-symbol circuit breaker (external review)
  src/will/autonomy/proposal.py
  src/will/workers/test_remediator/_operations.py
Labels: feat, fix

test(remediator): assert per-symbol SQL predicate in _query_recent_symbol_failures
  tests/will/workers/test_test_remediator_symbol_query.py
Labels: test

docs: production-readiness definition + README status table
  .specs/requirements/URS-production-readiness.md
  README.md
Labels: docs

feat(phase-2): extract UAC to core-platform, OSS trusted-localhost mode
  infra/sql/db_schema_live.sql
  src/api/dependencies.py
  src/api/main.py
  src/api/v1/auth_routes.py
  src/body/infrastructure/lifespan.py
  src/body/services/auth/__init__.py
  src/body/services/auth/deny_list.py
  src/body/services/auth/email.py
  src/body/services/auth/password.py
  src/body/services/auth/service.py
  src/body/services/auth/tokens.py
  src/cli/resources/admin/accessibility.py
  src/will/governance/auth_runner.py
Labels: feat, fix

feat(grc): Phase 3 — promote public-source catalogs to public/ tier
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  grc-catalogs/inventory.yaml
  grc-catalogs/public/cfr_part_11/catalog.yaml
  grc-catalogs/public/cfr_part_11/provenance.yaml
  grc-catalogs/public/eu_annex_11/catalog.yaml
  grc-catalogs/public/eu_annex_11/provenance.yaml
  grc-catalogs/public/gdpr/catalog.yaml
  grc-catalogs/public/gdpr/provenance.yaml
Labels: none

feat(api): add optional lifespan param to create_app() for open-core extension
  src/api/main.py
Labels: feat, fix

feat(demo): pharma GRC demo corpus (PROJ-26.001)
  examples/pharma-demo/README.md
  examples/pharma-demo/corpus/access-control-sop.md
  examples/pharma-demo/corpus/audit-trail-review-sop.md
  examples/pharma-demo/corpus/csv-policy.md
  examples/pharma-demo/corpus/data-backup-sop.md
  examples/pharma-demo/corpus/electronic-records-sop.md
  examples/pharma-demo/corpus/electronic-signature-policy.md
  examples/pharma-demo/corpus/training-qualification-sop.md
Labels: none

fix(grc): use grc_judge engine in cfr_part_11, eu_annex_11, gdpr catalogs
  grc-catalogs/public/cfr_part_11/catalog.yaml
  grc-catalogs/public/eu_annex_11/catalog.yaml
  grc-catalogs/public/gdpr/catalog.yaml
Labels: none

chore(oss): remove commercial residue from CORE
  src/api/cli/auth_client.py
  src/api/cli/client.py
  src/api/v1/proposals_routes.py
  src/cli/admin_cli.py
  src/cli/resources/auth.py
  src/shared/config.py
  src/shared/infrastructure/cli_session.py
Labels: feat, fix

chore(oss): strip commercial residue from specs, ADRs, and wording
  .specs/decisions/ADR-116-grc-catalog-residency-and-licensing-tiers.md
  .specs/decisions/ADR-124-user-access-control.md
  .specs/decisions/ADR-125-web-frontend-architecture.md
  grc-catalogs/inventory.yaml
  src/api/main.py
Labels: feat, fix

chore(oss): dissolve .specs/commercial — rehome OSS docs, migrate rest to core-platform
  .gitignore
  .intent/governance/namespace_manifest.yaml
  .specs/commercial/.gitkeep
  .specs/northstar/CORE-Company.md
  .specs/papers/CORE-Products.md
  .specs/papers/CORE-Repo-Split-Plan.md
  .specs/papers/commercial-project-isolation.md
Labels: governance

chore(specs): prune .specs/planning — delete stale archive, rehome surviving docs
  .specs/northstar/CORE-A3-plan.md
  .specs/northstar/CORE-band-E-planning-input-2026-05-16.md
  .specs/planning/CORE-Scout-v2-Workplan.md
  .specs/planning/archive/ADR-081-implementation-plan.md
  .specs/planning/archive/ADR-105-stage2b-completion-plan.md
  .specs/planning/archive/BAND-B-consequence-chain-plan.md
  .specs/planning/archive/CCC-backlog-cleanup-2026-05-31.md
  .specs/planning/archive/CORE-API-capability-map-2026-05-16.md
  .specs/planning/archive/CORE-GitHub-Project-Management.md
  .specs/planning/archive/CORE-OptimizerWorker-Scope-Reconciliation.md
  .specs/planning/archive/CORE-Scout-v2-Workplan.md
  .specs/planning/archive/state/2026-04-20-daemon-reactivation-recon.md
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/counterfactual.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/modularity_diagnostic.py
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/needs_split_findings.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.artifacts/per_file.json
  .specs/planning/archive/state/2026-04-20-modularity-needs-split-diagnostic.md
  .specs/planning/archive/state/2026-04-25-consequence-chain-mapping.md
  .specs/planning/archive/state/2026-04-27-test-environment-recon.md
  .specs/planning/archive/state/CORE-state-2026-04-18.md
  .specs/planning/archive/state/Prior Art and the End-to-End Gap.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-19.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-20-evening.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-20.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-21.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-24.md
  .specs/planning/archive/state/handoffs/handoff-2026-04-25.md
  .specs/planning/archive/state/handoffs/handoff_2026-04-23_evening.md
  .specs/planning/archive/state/handoffs/session_handoff_2026-04-21_evening.md
  .specs/planning/archive/state/handoffs/session_handoff_2026-04-22_evening.md
  .specs/planning/archive/state/nested_scope_audit_2026-04-19.md
  .specs/planning/archive/state/reconnaissance_2026-04-20.md
  .specs/planning/archive/state/tracing_mandatory_diagnostic_2026-04-20.md
  .specs/planning/archive/worktree-sandbox-implementation-plan.md
  .specs/requirements/data-contracts-inventory.md
  .specs/verification/CORE-Maturity-Audit-Actions.md
  .specs/verification/CORE-Scout-External-Validation-click.md
Labels: none

chore(specs): prune .specs/northstar — two canonical docs remain, rest rehomed
  .specs/decisions/CORE-A3-plan.md
  .specs/essays/core_northstar.md
  .specs/northstar/CORE-Company.md
  .specs/requirements/CORE-band-E-planning-input-2026-05-16.md
Labels: none

chore(specs): prune .specs/papers and sweep remaining dirs — clean slate
  .specs/contracts/oem_api_v1.openapi.json
  .specs/decisions/README.md
  .specs/essays/CORE-Disposition-Governance-Seed.md
  .specs/essays/CORE-Disposition-Governance.md
  .specs/papers/CORE-AutonomousProposalWorker.md
  .specs/papers/CORE-Competitive-Landscape.md
  .specs/papers/CORE-OptimizerWorker.md
  .specs/papers/CORE-Products.md
  .specs/papers/CORE-Rule-Storage-Minimalism.md
  .specs/papers/CORE-SelfHealingAgent.md
  .specs/planning/CORE-Maturity-Audit-Actions.md
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
  .specs/planning/data-contracts-inventory.md
Labels: none

chore(specs): redact commercial track refs from ADR-131/132, sync namespace manifest
  .intent/governance/namespace_manifest.yaml
  .specs/decisions/ADR-131-governance-application-data-model.md
  .specs/decisions/ADR-132-governor-authentication-boundary.md
Labels: governance

chore(oss): drop web/ — frontend belongs in core-platform (ADR-125)
  .gitignore
Labels: none

chore(prompts): remove hardcoded ADR range from external-review template
  var/prompts/external-review.md
Labels: none

feat(ccc): add PATH_REF and INTENT_BINDING check classes (#622, #623)
  .specs/planning/CORE-BYOR-Program-Backlog.md
  src/mind/coherence/checker.py
  src/mind/coherence/checks/intent_binding.py
  src/mind/coherence/checks/path_ref.py
  tests/mind/coherence/checks/test_intent_binding.py
  tests/mind/coherence/checks/test_path_ref.py
Labels: feat, fix, test

fix(cli): escape Rich markup in audit renderers; fix 5 type errors
  src/cli/commands/check/formatters.py
  src/cli/renderers/audit_detail.py
  src/cli/utils/decorators.py
  src/mind/coherence/checks/intent_binding.py
  src/mind/logic/engines/contracts_gate.py
  src/will/workers/llm_partition_archiver.py
  src/will/workers/llm_partition_maintainer.py
Labels: feat, fix

chore(intent): register 41 untracked .intent/ files in namespace_manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(intent+tests): clear 3 remaining audit FAIL sources
  .intent/META/vocabulary.json
  .intent/workers/llm_partition_archiver.yaml
  .intent/workers/proposal_consumer_worker.yaml
  tests/api/v1/test_fix_routes.py
  tests/api/v1/test_proposals_routes.py
  tests/api/v1/test_role_enforcement.py
  tests/body/services/auth/test_auth_password_and_tokens.py
  tests/will/governance/test_auth_runner.py
Labels: test, governance

chore(intent): register 4 more untracked spec/decision files in namespace_manifest
  .intent/governance/namespace_manifest.yaml
Labels: governance

fix(vocab): repair stale authoritative_paper paths in CORE-Vocabulary.md + vocabulary.json hash
  .intent/META/vocabulary.json
  .specs/papers/CORE-Vocabulary.md
Labels: governance

docs: sync root .md files with post-2.8.0 OSS extraction and governance state
  CHANGELOG.md
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  SECURITY.md
Labels: docs

fix(audit): clear 7 BLOCK findings in assisted_actions + auto_remediation
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/atomic/assisted_actions.py
Labels: feat, fix, governance

fix(types): pass Path not str to PathResolver in assisted_actions
  src/body/atomic/assisted_actions.py
Labels: feat, fix

fix(sensor): CommitReachabilityAuditor skips previously-resolved orphans
  src/body/services/blackboard_service/blackboard_query_service.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

feat(sensor): CommitReachabilityAuditor auto-skips completed-proposal orphans
  src/body/services/consequence_log_service.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

refactor(cli): rename constitution verify-adr-bind → verify
  src/cli/resources/constitution/verify_bind.py
Labels: feat, fix

fix(sensor): correct 5 code-review findings in CommitReachabilityAuditor
  src/body/atomic/assisted_actions.py
  src/body/services/blackboard_service/blackboard_query_service.py
  src/body/services/consequence_log_service.py
  src/will/workers/commit_reachability_auditor.py
Labels: feat, fix

fix(sensor): restrict resolved-finding dedup to governor resolutions only
  src/body/services/blackboard_service/blackboard_query_service.py
Labels: feat, fix

fix(worker): release stuck EXECUTING proposals on graceful shutdown
  src/will/workers/proposal_consumer_revival.py
  src/will/workers/proposal_consumer_worker.py
  tests/will/workers/test_proposal_consumer_release.py
Labels: feat, fix, test

docs(specs): mark ADR-038 accepted + move USER-REQUIREMENTS to essays
  .specs/decisions/ADR-038-circuit-breaker-on-repeated-proposal-failures.md
  .specs/essays/CORE-USER-REQUIREMENTS-founder-vision.md
  .specs/northstar/CORE-USER-REQUIREMENTS.md
Labels: none

fix(governance): add missing auto_remediation entry for route_module_must_declare_exposure
  .intent/enforcement/remediation/auto_remediation.yaml
Labels: governance

docs(planning): record first Track 10 remediation in band-E planning doc
  .specs/planning/CORE-band-E-planning-input-2026-05-16.md
Labels: none

test(blackboard): add integration fixtures for post_observation indeterminate dedup contract (#567)
  tests/shared/workers/test_base__post_observation.py
Labels: test

feat(mind): implement purity.no_semantic_duplication via Qdrant chunk similarity (#751)
  src/mind/logic/engines/_knowledge_gate_duplication.py
  tests/mind/logic/engines/test_knowledge_gate__semantic_duplication.py
Labels: feat, fix, test

feat(cli): add dev campaign stats — governor accept/reject divergence telemetry (#673)
  src/cli/resources/dev/campaign_review.py
  src/shared/infrastructure/repositories/task_repository.py
  tests/cli/resources/dev/test_campaign_stats.py
Labels: feat, fix, test

fix(prompt): escape literal braces in strategic-audit prompt template
  var/prompts/architect_threats_analysis_prompt/user.txt
Labels: none
