Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

fix(e31f92ca-5c92-41): Autonomous test remediation: flow.build_tests (1 finding(s) — rules: test.runner.missing, test.runner.failure)
  tests/mind/logic/engines/llm_gate/test_generated.py
Labels: test

fix(tests): post-pilot cleanup of autonomous test-gen output
  tests/mind/governance/micro_proposal_validator/test_generated.py
  tests/mind/governance/policy_coverage_service/test_generated.py
  tests/mind/logic/engines/llm_gate/test_generated.py
Labels: test

docs(CLAUDE.md): tests are part of the change — make signature drift impossible to ship silently
  CLAUDE.md
Labels: none

fix(evaluators): align BaseEvaluator contract to .execute() — make subclasses concrete (closes #573)
  src/body/evaluators/atomic_actions_evaluator.py
  src/body/evaluators/base_evaluator.py
  src/body/evaluators/clarity_evaluator.py
  src/body/evaluators/failure_evaluator.py
  src/body/evaluators/performance_evaluator.py
  src/body/evaluators/security_evaluator.py
  src/will/self_healing/complexity_service.py
Labels: feat, fix

feat(governance): ADR-091 D5 Phase 6 commit 1c — resolution_mechanism field (Revision B)
  .intent/META/enums.json
  .intent/enforcement/contracts/BlackboardEntry.json
  .intent/rules/architecture/blackboard.json
  .intent/rules/governance/taxonomy.json
  infra/sql/adr_091_d2_resolution_mechanism.sql
  infra/sql/db_schema_live.sql
  src/body/services/blackboard_service/blackboard_proposal_service.py
  src/shared/workers/base.py
  src/will/workers/blackboard_shop_manager.py
  src/will/workers/proposal_pipeline_shop_manager.py
  src/will/workers/worker_shop_manager.py
  tests/will/workers/test_resolution_mechanism_classification.py
Labels: feat, fix, test, governance

fix(governance): ADR-091 D2 hotfix — post_observation classification + 3VL CHECK
  infra/sql/adr_091_d2_resolution_mechanism_v2.sql
  infra/sql/db_schema_live.sql
  src/shared/workers/base.py
Labels: feat, fix

feat(governance): ADR-091 D2 engines — reaudit guard + resolver-ownership (closes #575)
  .intent/enforcement/mappings/architecture/blackboard.yaml
  .intent/enforcement/mappings/governance/taxonomy.yaml
  .intent/workers/audit_sensor_governance.yaml
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/awaiting_reaudit_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/mind/logic/engines/taxonomy_gate.py
  tests/mind/logic/engines/test_reaudit_requires_mechanism.py
  tests/mind/logic/engines/test_self_resolve_resolver_owned.py
Labels: feat, fix, test, governance

feat(governance): ADR-091 D2 — promote reaudit + self_resolve rules to blocking
  .intent/rules/architecture/blackboard.json
  .intent/rules/governance/taxonomy.json
Labels: governance

feat(governance): ADR-091 D5 Phase 7 — sensor_supported_by_declaration to blocking
  .intent/artifact_types/python.yaml
  .intent/rules/governance/sensor_taxonomy.json
Labels: governance

fix(governance): #576 — route 5 dangerous_execution sites through sanctuaries, add 1 architectural exclude
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  src/cli/commands/daemon.py
  src/mind/coherence/checks/row4_naming.py
  src/shared/infrastructure/git_service.py
  src/shared/utils/subprocess_utils.py
Labels: feat, fix, governance

docs(reviewer): proof-index + cold-reviewer surfaces + audit-gate pin to 2.6.0
  Dockerfile
  docs/cold-reviewer.md
  docs/how-it-works.md
  docs/proof-index.md
Labels: docs

fix(tests): #572 Cat B drain — PolicyCoverageService + MicroProposalValidator DI signature drift
  tests/mind/governance/test_micro_proposal_validator__MicroProposalValidator.py
  tests/mind/governance/test_policy_coverage_service__PolicyCoverageService.py
Labels: test

fix(tests): #572 Cat B clean-drain batch 2 — 11 more fails cleared
  tests/mind/governance/test_runtime_validator__RuntimeValidatorService.py
  tests/mind/logic/engines/test_llm_gate_stub__LLMGateStubEngine.py
  tests/shared/utils/test_common_knowledge__get_deterministic_id.py
Labels: test

ci: remove obsolete intent-validate.yml workflow
  .github/workflows/intent-validate.yml
Labels: ci

fix(audit): ADR-091 D2 reaudit-guard regex false-positive on drainer SQL
  src/mind/logic/engines/ast_gate/checks/awaiting_reaudit_checks.py
  tests/mind/logic/engines/test_reaudit_requires_mechanism.py
Labels: feat, fix, test

docs(claude.md): rebuild constitutional-rules section against live .intent/
  CLAUDE.md
Labels: none

docs(adr): ADR-092 amends F-43 exit criterion to contract-readiness
  .specs/decisions/ADR-092-f43-exit-criterion-contract-readiness.md
  .specs/planning/CORE-Operational-Completeness.md
Labels: none

feat(f-43): pluggable action model — registry-coupling refusal chokepoint
  .intent/taxonomies/operational_capabilities.yaml
  .specs/decisions/ADR-085-open-operational-completeness-as-engineering-sole-goal.md
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
  src/body/atomic/executor.py
  src/body/atomic/registry.py
  src/shared/infrastructure/intent/operational_capabilities.py
  tests/body/atomic/test_executor_artifact_type_refusal.py
Labels: feat, fix, test, governance

fix(dashboard): classify loop_hold.sample::* as Type A audit trail
  src/cli/resources/runtime/health.py
Labels: feat, fix

docs(specs): freeze CONCEPT, advance URS — Requirement Fulfillment Verification
  .specs/concepts/CORE-URS-Intake-Concept.md
  .specs/requirements/URS-requirement-fulfillment-verification.md
Labels: none

docs(specs): ADR-093 — F/E class split + URS-line discipline + implementation
  .specs/decisions/ADR-083-commercial-add-on-stamping-f44-f47.md
  .specs/decisions/ADR-084-commercial-surface-taxonomy-and-open-core-honesty.md
  .specs/decisions/ADR-093-feature-extension-class-split-and-urs-line-discipline.md
  .specs/papers/CORE-Features.md
  .specs/planning/CORE-Operational-Completeness.md
  .specs/requirements/URS-requirement-fulfillment-verification.md
Labels: none

docs(specs): paper — CORE URS Verifier (operationalizes URS v0.1)
  .specs/papers/CORE-URS-Verifier.md
Labels: none

docs(specs): ADR-094 — URS Verifier implementation + §12 sibling amendments
  .specs/decisions/ADR-094-urs-satisfaction-sensor-implementation.md
  .specs/papers/CORE-ConstitutionalCoherenceChecker.md
  .specs/requirements/URS-mechanism-coherence.md
Labels: none

feat(modularity): ADR-095 — modularity family as architectural-judgment
  .intent/enforcement/mappings/code/modularity.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  .specs/decisions/ADR-042-modularity-governance-recalibration.md
  .specs/decisions/ADR-095-modularity-as-architectural-judgment.md
  src/body/atomic/modularity_fix.py
  src/body/services/blackboard_service/blackboard_service.py
  src/body/services/coherence_service.py
  src/body/services/crawl_service/main_module.py
  src/mind/logic/engines/ast_gate/checks/modularity_checks.py
  src/shared/infrastructure/context/builder.py
  src/shared/infrastructure/intent/intent_repository.py
  src/shared/infrastructure/intent/operational_config.py
  src/shared/path_resolver.py
  src/shared/workers/base.py
  src/will/agents/strategic_auditor/context_gatherer.py
  src/will/self_healing/remediation_interpretation/file_role_detector.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/intent_inspector.py
Labels: feat, fix, governance

chore(audit,dashboard): inbox triage — vocabulary expansion, auditor excludes, Type A sync
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/enforcement/mappings/cli/interface_design.yaml
  src/cli/resources/runtime/health.py
Labels: feat, fix, governance

fix(governance): #574 — write-time import-resolution gate for generated test code
  .intent/enforcement/mappings/code/imports.yaml
  .intent/rules/code/imports.json
  src/body/governance/intent_pattern_validators.py
  tests/body/atomic/test_build_tests_action__intent_guard_validation.py
  tests/body/governance/test_intent_pattern_validators__test_file.py
Labels: feat, fix, test, governance

chore(governance): delete dead pattern validators (inspect/action/check/run)
  src/body/governance/intent_pattern_validators.py
  tests/body/atomic/test_build_tests_action__intent_guard_validation.py
Labels: feat, fix, test

feat(governance): #580 — coherence rule for ACTIVE auto_remediation routings
  .intent/enforcement/mappings/governance/remediation.yaml
  .intent/rules/governance/remediation.json
  src/mind/logic/engines/artifact_gate.py
  tests/mind/logic/engines/test_artifact_gate__active_routing_claimed_by_action.py
Labels: feat, fix, test, governance

fix(governance): #580 follow-up — resolve 4 ACTIVE routing drifts in fix_actions.py
  src/body/atomic/fix_actions.py
Labels: feat, fix

feat(governance): #580 — promote active_routing_claimed_by_action to blocking
  .intent/rules/governance/remediation.json
Labels: governance

fix(governance): #583 — stop short-circuiting test_file past the IntentGuard
  src/will/agents/code_generation/pattern_validator.py
  tests/will/agents/test_pattern_validator__test_file.py
Labels: feat, fix, test

fix(governance): #585 — route DeadCodeCheck's vulture call through subprocess sanctuary
  src/mind/logic/engines/workflow_gate/checks/dead_code.py
  src/shared/utils/subprocess_utils.py
  tests/mind/logic/engines/workflow_gate/test_dead_code__sanctuary_delegation.py
Labels: feat, fix, test

fix(governance): #582 — remove dead `risk:` surface from auto_remediation.yaml
  .intent/enforcement/remediation/auto_remediation.yaml
  src/body/autonomy/audit_analyzer.py
Labels: feat, fix, governance

feat(governance): #566 — ADR-090 gate 9 ast_gate check shipped
  .intent/enforcement/mappings/architecture/artifact_discovery.yaml
  .intent/rules/architecture/artifact_discovery.json
  src/mind/logic/engines/ast_gate/checks/artifact_discovery_check.py
  src/mind/logic/engines/ast_gate/engine.py
  tests/mind/logic/engines/ast_gate/test_artifact_discovery_check.py
Labels: feat, fix, test, governance

feat(governance): #586 — close ADR-090 gate 9 arc; promote rule to blocking
  .intent/enforcement/mappings/architecture/artifact_discovery.yaml
  .intent/rules/architecture/artifact_discovery.json
Labels: governance

fix(tests): #572 Cat B drain batch 3 — 9 fails across 2 evaluator test files
  tests/body/evaluators/test_failure_evaluator__FailureEvaluator.py
  tests/body/evaluators/test_performance_evaluator__PerformanceEvaluator.py
Labels: test

feat(governance): #516 — audit max_interval drift against observed cycle p95
  .intent/enforcement/mappings/runtime/worker_max_interval.yaml
  .intent/rules/runtime/worker_max_interval.json
  src/mind/logic/engines/runtime_gate.py
  tests/mind/logic/engines/test_runtime_gate__worker_max_interval.py
Labels: feat, fix, test, governance

feat(governance): #516 — resolve db_sync_worker drift; promote rule to blocking
  .intent/rules/runtime/worker_max_interval.json
  .intent/workers/db_sync_worker.yaml
Labels: governance

fix(governance): #548 — extract line numbers from engine violations to populate AuditFinding.line_number
  src/mind/governance/rule_executor.py
  src/mind/logic/engines/base.py
  tests/mind/logic/engines/test_base__extract_line_number.py
Labels: feat, fix, test

feat(blackboard): #568 — count-based retention for loop_hold.sample telemetry
  src/body/services/blackboard_service/blackboard_service.py
  src/shared/infrastructure/intent/operational_config.py
  src/will/workers/blackboard_shop_manager.py
  tests/body/services/blackboard_service/test_sweep_telemetry_keep_last_n.py
Labels: feat, fix, test

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
