Repository DariuszNewecki/CORE, changes with the labels that .github/labeler.yml gives for each.
All labels: feat, fix, docs, test, governance, drift, ci, deps

refactor: constitutional cleanup — llm_gate PromptModel + legacy client removal
  .intent/enforcement/mappings/ai/prompt_artifact_structure.yaml
  .intent/rules/ai/prompt_artifact_structure.json
  .intent/workers/call_site_rewriter.yaml
  .intent/workers/intent_inspector.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/services/crate_processing_service.py
  src/body/workers/call_site_rewriter.py
  src/cli/resources/workers/__init__.py
  src/cli/resources/workers/blackboard.py
  src/mind/logic/engines/artifact_gate.py
  src/mind/logic/engines/llm_gate.py
  src/shared/ai/response_parser.py
  src/shared/infrastructure/clients/llm_api_client.py
  src/shared/protocols/llm.py
  src/will/self_healing/enrichment_service.py
  src/will/workers/intent_inspector.py
Labels: feat, fix, governance

fix: migrate final 2 manual LLM calls to PromptModel — ai.prompt.model_required target: 0
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/project_lifecycle/definition_service.py
  src/cli/logic/agent.py
  src/mind/logic/engines/llm_gate.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/coder_agent.py
  src/will/agents/conversational/agent.py
  src/will/agents/intent_translator.py
  src/will/agents/micro_planner.py
  src/will/agents/planner_agent.py
  src/will/agents/self_correction_engine.py
  src/will/agents/strategic_auditor/agent.py
  src/will/cli_logic/reviewer.py
  src/will/maintenance/metadata_scribe_service.py
  src/will/orchestration/self_correction_engine.py
  src/will/self_healing/alignment/specialists.py
  src/will/self_healing/capability_reconciliation_service.py
  src/will/self_healing/clarity_service.py
  src/will/self_healing/complexity_service.py
  src/will/self_healing/linelength_service.py
  src/will/self_healing/simple_test_generator.py
  src/will/self_healing/test_generation/generation_workflow.py
  src/will/self_healing/vulture_healer.py
  src/will/test_generation/helpers/test_executor.py
Labels: feat, fix

fix: migrate final 2 manual LLM calls to PromptModel — ai.prompt.model_required target: 0
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/project_lifecycle/definition_service.py
  src/cli/logic/agent.py
  src/mind/logic/engines/llm_gate.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/coder_agent.py
  src/will/agents/conversational/agent.py
  src/will/agents/intent_translator.py
  src/will/agents/micro_planner.py
  src/will/agents/planner_agent.py
  src/will/agents/self_correction_engine.py
  src/will/agents/strategic_auditor/agent.py
  src/will/cli_logic/reviewer.py
  src/will/maintenance/metadata_scribe_service.py
  src/will/orchestration/self_correction_engine.py
  src/will/self_healing/alignment/specialists.py
  src/will/self_healing/capability_reconciliation_service.py
  src/will/self_healing/clarity_service.py
  src/will/self_healing/complexity_service.py
  src/will/self_healing/linelength_service.py
  src/will/self_healing/simple_test_generator.py
  src/will/self_healing/test_generation/generation_workflow.py
  src/will/self_healing/vulture_healer.py
  src/will/test_generation/helpers/test_executor.py
Labels: feat, fix

fix: migrate remaining manual LLM calls to PromptModel — targeting 0 blocking violations
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/governance/assumption_extractor.py
  src/will/agents/code_generation/correction_engine.py
  src/will/agents/context_auditor.py
  src/will/agents/researcher_agent.py
  src/will/self_healing/context_aware_test_generator.py
Labels: feat, fix

fix: migrate remaining manual LLM calls to PromptModel — targeting 0 blocking violations
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/governance/assumption_extractor.py
  src/will/agents/code_generation/correction_engine.py
  src/will/agents/context_auditor.py
  src/will/agents/researcher_agent.py
  src/will/self_healing/context_aware_test_generator.py
Labels: feat, fix

fix: last 3 PromptModel violations — ai.prompt.model_required should be 0
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/cli/logic/body_contracts_fixer.py
  src/will/self_healing/test_generation/llm_correction.py
  src/will/self_healing/test_generation/single_test_fixer.py
Labels: feat, fix

fix: last 3 PromptModel violations — ai.prompt.model_required should be 0
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/pytest-report.html
  src/cli/logic/body_contracts_fixer.py
  src/will/self_healing/test_generation/llm_correction.py
  src/will/self_healing/test_generation/single_test_fixer.py
Labels: feat, fix

fix: last 3 PromptModel violations — ai.prompt.model_required should be 0, fixes.
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/will/agents/strategic_auditor/agent.py
Labels: feat, fix

fix: last 3 PromptModel violations — ai.prompt.model_required should be 0, fixes.
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/will/agents/strategic_auditor/agent.py
Labels: feat, fix

feat: purity.no_orphan_files — import graph traversal, DI limitation documented
  .intent/enforcement/mappings/code/purity.yaml
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix, governance

feat: purity.no_orphan_files — import graph traversal, DI limitation documented
  .intent/enforcement/mappings/code/purity.yaml
  .intent/rules/code/purity.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/mind/logic/engines/knowledge_gate.py
Labels: feat, fix, governance

fix: stop docstring bleeding + daemon async_command compliance
  .intent/META/worker.schema.json
  .intent/workers/blackboard_auditor.yaml
  .intent/workers/observer_worker.yaml
  .intent/workers/worker_auditor.yaml
  docs/workbook/Working on/A3/CORE Autonomous Loop — Implementation Plan.md
  docs/workbook/Working on/A3/The Closed-Loop Architecture for A3 and Beyond.md
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/api/dependencies.py
  src/api/main.py
  src/api/v1/development_routes.py
  src/api/v1/knowledge_routes.py
  src/body/analyzers/base_analyzer.py
  src/body/analyzers/constitutional_path_analyzer.py
  src/body/analyzers/file_analyzer.py
  src/body/analyzers/knowledge_graph_analyzer.py
  src/cli/admin_cli.py
  src/cli/resources/admin/__init__.py
  src/cli/resources/admin/health.py
  src/mind/governance/auditor.py
  src/will/commands/daemon.py
  src/will/self_healing/docstring_service.py
  src/will/workers/blackboard_auditor.py
  src/will/workers/observer_worker.py
  src/will/workers/worker_auditor.py
Labels: feat, fix, docs, governance

fix: exclude will/workers from no_direct_database_access rule
  .intent/enforcement/mappings/architecture/layer_separation.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/resources/context/build.py
Labels: feat, fix, governance

fix: remove TODO/FIXME/TBD placeholders (purity.no_todo_placeholders resolved)
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/self_healing/duplicate_id_service.py
  src/cli/admin_cli.py
  src/cli/logic/legacy_scan_logic.py
  src/cli/resources/admin/legacy.py
  src/cli/resources/secrets/__init__.py
  src/cli/resources/secrets/hub.py
  src/cli/resources/secrets/manage.py
Labels: feat, fix

feat: A3 autonomous loop — ViolationRemediatorWorker + daemon control + constitutional envelope
  .intent/workers/audit_proposal_worker.yaml
  Makefile
  src/body/atomic/fix_actions.py
  src/body/atomic/registry.py
  src/body/autonomy/audit_analyzer.py
  src/will/workers/audit_proposal_worker.py
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

feat: A3 — autonomous remediation loop complete, zero blocking violations
  .intent/workers/audit_proposal_worker.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/autonomy/audit_analyzer.py
  src/body/self_healing/remediation_models.py
  src/shared/models/remediation.py
  src/will/self_healing/remediation_pattern_matcher.py
  src/will/workers/audit_proposal_worker.py
  src/will/workers/violation_remediator.py
Labels: feat, fix, governance

feat: A3 — autonomous remediation loop complete, zero blocking violations, cleanup
  CORE_audit_renderer_full_refactor.md
  CORE_audit_renderer_refactor_analysis.md
  CORE_grok_analysis_2026.md
  infra/scripts/normalize_runtime_settings.py
Labels: none

feat: wire crawler+embedder into daemon, smarter callee resolution, blast radius scope
  .intent/workers/repo_crawler.yaml
  .intent/workers/repo_embedder.yaml
  .pre-commit-config.yaml
  CORE_ANATOMY.md
  infra/sql/db_schema_live.sql
  src/will/autonomy/proposal_service.py
  src/will/commands/daemon.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedder.py
Labels: feat, fix, governance

Fix CORE governed agent anatomy document
  CORE_ANATOMY.md
Labels: none

Fix CORE governed agent anatomy document
  CORE_ANATOMY.md
Labels: none

Fix CORE governed agent anatomy document
  CORE_ANATOMY.md
Labels: none

Fix CORE governed agent anatomy document
  CORE_ANATOMY.md
Labels: none

fix: resolve settings_access violations in daemon/crawler/embedder; add mutation_surface rule
  .intent/rules/architecture/mutation_surface.json
  src/cli/admin_cli.py
  src/shared/infrastructure/llm/client.py
  src/shared/infrastructure/llm/providers/anthropic.py
  src/shared/infrastructure/llm/providers/base.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/shared/infrastructure/llm/providers/openai.py
  src/shared/models/prompt_model.py
  src/will/commands/daemon.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedder.py
Labels: feat, fix, governance

fix: atomic FOR UPDATE SKIP LOCKED claim in all acting workers
  src/body/workers/call_site_rewriter.py
  src/body/workers/prompt_artifact_writer.py
  src/body/workers/violation_remediator.py
  src/will/workers/prompt_extractor_worker.py
Labels: feat, fix

feat: ProposalConsumerWorker — A3 autonomous proposal execution
  .intent/workers/proposal_consumer_worker.yaml
  src/will/workers/proposal_consumer_worker.py
Labels: feat, fix, governance

feat(governance): add ai.cognitive_role.no_hardcoded_string rule and mapping
  .intent/META/worker.schema.json
  .intent/enforcement/mappings/ai/cognitive_role_governance.yaml
  .intent/enforcement/mappings/architecture/async_logic.yaml
  .intent/enforcement/mappings/architecture/channels.yaml
  .intent/enforcement/mappings/architecture/governance_basics.yaml
  .intent/rules/ai/cognitive_role_governance.json
  .intent/rules/architecture/channels.json
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_purity.yaml
  .intent/workers/audit_violation_sensor.yaml
  .intent/workers/repo_embedder.yaml
  infra/sql/db_schema_init.sql
  pyproject.toml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
  src/cli/cli_user.py
  src/cli/resources/runtime/__init__.py
  src/cli/resources/runtime/health.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/logging_checks.py
  src/mind/logic/engines/ast_gate/checks/purity_checks.py
  src/mind/logic/engines/ast_gate/engine.py
  src/shared/infrastructure/llm/providers/anthropic.py
  src/shared/workers/base.py
  src/will/autonomy/proposal_executor.py
  src/will/commands/daemon.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/repo_crawler.py
  src/will/workers/repo_embedder.py
Labels: feat, fix, governance, deps

Enforce constitutional boundary: detect unauthorized .intent access via ASTGate
  .intent/enforcement/mappings/architecture/intent_access.yaml
  .intent/rules/architecture/intent_access.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/atomic/remediate_cognitive_role.py
  src/cli/commands/status.py
  src/cli/simple_health.py
  src/mind/logic/engines/ast_gate/checks/__init__.py
  src/mind/logic/engines/ast_gate/checks/intent_access_check.py
  src/mind/logic/engines/ast_gate/engine.py
Labels: feat, fix, governance

fix: close remediation loop, restore governance workers, harden sensor dedup
  .intent/META/worker.schema.json
  .intent/enforcement/mappings/governance/intent_artifact_encoding.yaml
  .intent/rules/governance/intent_artifact_encoding.json
  .intent/workers/audit_sensor_architecture.yaml
  .intent/workers/audit_sensor_logic.yaml
  .intent/workers/audit_sensor_modularity.yaml
  .intent/workers/audit_violation_sensor.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/body/workers/violation_remediator.py
  src/cli/resources/workers/blackboard.py
  src/will/commands/daemon.py
  src/will/self_healing/remediation_interpretation/file_context_assembler.py
  src/will/self_healing/remediation_interpretation/file_role_detector.py
  src/will/self_healing/remediation_interpretation/finding_normalizer.py
  src/will/self_healing/remediation_interpretation/models.py
  src/will/self_healing/remediation_interpretation/reasoning_brief_builder.py
  src/will/self_healing/remediation_interpretation/responsibility_extractor.py
  src/will/self_healing/remediation_interpretation/service.py
  src/will/self_healing/remediation_interpretation/strategy_catalog.py
  src/will/self_healing/remediation_interpretation/strategy_selector.py
  src/will/workers/audit_violation_sensor.py
  src/will/workers/worker_auditor.py
  tests/body/workers/test_violation_remediator.py
Labels: feat, fix, test, governance

fix: comprehensive remediation loop and governance worker stabilisation
  .intent/workers/violation_remediator.yaml
  reports/pytest-report.html
  src/will/workers/intent_inspector.py
Labels: feat, fix, governance

chore: A2 stabilization session - phase pipeline wired, workflow orchestration fixed
  .intent/phases/audit.yaml
  .intent/phases/load.yaml
  .intent/phases/parse.yaml
  .intent/phases/runtime.yaml
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/api/v1/development_routes.py
  src/cli/resources/dev/refactor.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/planner_agent.py
  src/will/agents/strategic_auditor/agent.py
  src/will/orchestration/workflow_orchestrator.py
  src/will/phases/audit_phase.py
  src/will/phases/code_generation/artifact_saver.py
  src/will/phases/code_generation_phase.py
  src/will/phases/interpret_phase.py
  src/will/phases/load_phase.py
  src/will/phases/parse_phase.py
  src/will/phases/runtime_phase.py
  src/will/workers/proposal_worker.py
Labels: feat, fix, governance

chore: A2 session 2 — full pipeline wired, ContextPackage gap identified
  src/will/agents/execution_agent.py
  src/will/phases/code_generation_phase.py
  src/will/phases/planning_phase.py
Labels: feat, fix

fix: wire pipeline end-to-end (context, parse, load, runtime, audit, execution)
  src/shared/infrastructure/context/service.py
  src/will/phases/parse_phase.py
Labels: feat, fix

refactor: replace legacy vectorization_service with constitutional worker pipeline
  src/body/atomic/sync_actions.py
  src/body/introspection/vectorization/code_processor.py
  src/body/introspection/vectorization/db_queries.py
  src/body/introspection/vectorization/delta_analyzer.py
  src/body/introspection/vectorization/embedding_logic.py
  src/body/introspection/vectorization_service.py
  src/cli/resources/vectors/rebuild.py
  src/shared/config.py
  src/shared/infrastructure/llm/providers/ollama.py
  src/will/phases/planning_phase.py
Labels: feat, fix

fix: remove all dead references to deleted vectorization_service
  src/body/introspection/knowledge_helpers.py
  src/body/introspection/knowledge_vectorizer.py
  src/body/introspection/pattern_vectorizer.py
  src/cli/commands/run.py
  src/cli/logic/embeddings_cli.py
  src/shared/utils/embedding_utils.py
  src/will/self_healing/docstring_service.py
  src/will/workflows/phases/vectorization_phase.py
Labels: feat, fix

fix: sanitize blackboard payload to ASCII before DB insert
  reports/pytest-report.html
  src/shared/workers/base.py
Labels: feat, fix

feat: add CapabilityTaggerWorker to assign capability keys to orphaned symbols
  .intent/workers/capability_tagger.yaml
  reports/pytest-report.html
  src/will/workers/capability_tagger.py
Labels: feat, fix, governance

fix: blackboard dedup — remove worker_uuid filter from sensing workers
  .intent/enforcement/mappings/code/purity.yaml
  docs/workbook/Working on/A3/The Closed-Loop Architecture for A3 and Beyond.md
  reports/pytest-report.html
  src/body/validators/__init__.py
  src/body/validators/logic_conservation_validator.py
  src/cli/simple_health.py
  src/shared/ast_utility.py
  src/will/deciders/governance_decider.py
  src/will/self_healing/complexity_service.py
  src/will/workers/blackboard_auditor.py
  src/will/workers/intent_inspector.py
Labels: feat, fix, docs, governance

docs: add CLAUDE.md for Claude Code context
  .gitignore
  .intent/enforcement/config/crawl_scopes.yaml
  .intent/enforcement/config/governance_paths.yaml
  .intent/enforcement/mappings/remediation/auto_remediation.yaml
  reports/pytest-report.html
  src/body/autonomy/audit_analyzer.py
  src/shared/path_resolver.py
  src/will/autonomy/proposal_executor.py
  src/will/autonomy/proposal_state_manager.py
  src/will/self_healing/audit_remediation_service.py
  src/will/self_healing/vulture_healer.py
Labels: feat, fix, governance

fix: replace print/logger misuse with correct rendering patterns
  .claude/settings.local.json
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/commands/check/audit.py
  src/cli/commands/check/formatters.py
  src/cli/logic/audit_renderer.py
  src/cli/logic/decision_inspect_logic.py
  src/cli/renderers/audit_overview.py
  src/cli/resources/proposals/list.py
  src/cli/resources/proposals/manage.py
  src/cli/resources/runtime/health.py
  src/cli/resources/workers/blackboard.py
  src/will/phases/planning_phase.py
Labels: feat, fix

fix: resolve all 29 ai.cognitive_role.no_hardcoded_string violations
  reports/audit/latest_audit.json
  reports/audit_auto_ignored.json
  reports/audit_auto_ignored.md
  reports/audit_findings.json
  reports/pytest-report.html
  src/cli/logic/agent.py
  src/cli/logic/body_contracts_fixer.py
  src/cli/resources/runtime/health.py
  src/mind/governance/assumption_extractor.py
  src/will/agents/code_generation/code_generator.py
  src/will/agents/code_generation/correction_engine.py
  src/will/agents/context_auditor.py
  src/will/agents/conversational/agent.py
  src/will/agents/intent_translator.py
  src/will/agents/micro_planner.py
  src/will/agents/planner_agent.py
  src/will/agents/researcher_agent.py
  src/will/agents/self_correction_engine.py
  src/will/agents/strategic_auditor/agent.py
  src/will/maintenance/metadata_scribe_service.py
  src/will/orchestration/self_correction_engine.py
  src/will/self_healing/alignment/specialists.py
  src/will/self_healing/capability_reconciliation_service.py
  src/will/self_healing/complexity_service.py
  src/will/self_healing/context_aware_test_generator.py
  src/will/self_healing/docstring_service.py
  src/will/self_healing/linelength_service.py
  src/will/self_healing/simple_test_generator.py
  src/will/self_healing/test_generation/generation_workflow.py
  src/will/self_healing/test_generation/llm_correction.py
  src/will/self_healing/test_generation/single_test_fixer.py
  src/will/test_generation/helpers/test_executor.py
  src/will/workers/doc_worker.py
Labels: feat, fix

.github/labeler.yml:

# Auto-apply labels based on changed paths
feat:
  - "src/**"
fix:
  - "src/**"
docs:
  - "README.md"
  - "docs/**"
test:
  - "tests/**"
governance:
  - ".intent/**"
  - "src/system/**"
drift:
  - "reports/drift_report.json"
ci:
  - ".github/workflows/**"
deps:
  - "pyproject.toml"
  - "poetry.lock"
